<template>
  <div class="the-navbar__user-meta flex items-center" v-if="displayName">

    <div class="text-right leading-tight hidden sm:block">
      <p class="font-semibold">{{ displayName }}</p>
      <small>{{ displayRole }}</small>
    </div>

    <vs-dropdown vs-custom-content vs-trigger-click class="cursor-pointer">

      <div class="con-img ml-3">
        <img v-if="activeUserInfo.photoURL" key="onlineImg" :src="activeUserInfo.photoURL" alt="user-img" width="40" height="40" class="rounded-full shadow-md cursor-pointer block" />
      </div>

      <vs-dropdown-menu class="vx-navbar-dropdown">
        <ul style="min-width: 9rem">

          <li
            class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white"
            @click="$router.push('/pages/profile').catch(() => {})">
            <feather-icon icon="UserIcon" svgClasses="w-4 h-4" />
            <span class="ml-2">Profile</span>
          </li> 

          <vs-divider class="m-1" />

          <li
            class="flex py-2 px-4 cursor-pointer hover:bg-primary hover:text-white"
            @click="logout">
            <feather-icon icon="LogOutIcon" svgClasses="w-4 h-4" />
            <span class="ml-2">Logout</span>
          </li>
        </ul>
      </vs-dropdown-menu>
    </vs-dropdown>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import 'firebase/auth'

export default {
  data() {
    return {
        displayName:null,
        displayRole:null,        
    }
  },
  computed: {
    activeUserInfo() {
      return this.$store.state.AppActiveUser
    }
  },
  created(){
      this.displayName = this.$user != null ? this.$user.username : ""
      this.displayRole = this.$user != null ? this.$user.type : ""
    },
  methods: {
    logout() {

        this.$http.post(this.$baseURL + '/auth/logout',
                  {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                  if(localStorage.getItem("token")) {
                    localStorage.removeItem("token")
                  }
                  if(localStorage.getItem("user")) {
                    localStorage.removeItem("user")
                  }
                  this.$router.push('/').catch(() => {}) 
            }).catch(err => {
                console.log(err);
                this.promptAlert("danger","Log Out Error",err)   
            }); 

       



        // // if user is logged in via auth0
        // if (this.$auth.profile) this.$auth.logOut();

        // // if user is logged in via firebase
        // const firebaseCurrentUser = firebase.auth().currentUser

        // if (firebaseCurrentUser) {
        //     firebase.auth().signOut().then(() => {
        //         this.$router.push('/pages/login').catch(() => {})
        //     })
        // }
        // // If JWT login
        // if(localStorage.getItem("accessToken")) {
        //   localStorage.removeItem("accessToken")
        //   this.$router.push('/pages/login').catch(() => {})
        // }

        // // Change role on logout. Same value as initialRole of acj.js
        // this.$acl.change('admin')
        // localStorage.removeItem('userInfo')

        // // This is just for demo Purpose. If user clicks on logout -> redirect
    },
  }
}
</script>
