<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-aset">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="vendor">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>
                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <download-excel name="vendor-data.xls" :data="vendor">
                                            <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            Export Excel
                                        </download-excel>
                                    </vs-dropdown-item>
                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>
                            <!-- ADD NEW -->
                            <div v-if="createe == true" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="code">code</vs-th>
                        <vs-th sort-key="name">NamE</vs-th>
                        <vs-th sort-key="description">Description</vs-th>
                        <vs-th sort-key="phone">Date Buy</vs-th>
                        <vs-th>Status</vs-th>
                        <vs-th sort-key="action">Action</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>
                            <vs-td :data="data[indextr].code">
                                {{data[indextr].code}}
                            </vs-td>
                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name}}
                            </vs-td>
                            <vs-td :data="data[indextr].description">
                                {{data[indextr].description}}
                            </vs-td>
                            <vs-td :data="data[indextr].date_buy">
                                {{data[indextr].date_buy | moment('DD-MM-YYYY')}}
                            </vs-td>
                            <vs-td :data="data[indextr].status">
                               <vs-chip v-if="data[indextr].status == null" color="success">
                                Available
                            </vs-chip>
                            <vs-chip v-else color="danger">
                                Borrowed By {{data[indextr].borrowed_by}}
                            </vs-chip>
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- FORM -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent v-show="modalTitle == 'Add' || modalTitle=='Edit'">
                            <vs-input v-model="form.asetName" label="Aset Name" class="w-full" />
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Description:
                            </span>
                            <v-select v-model="form.description" :clearable="false" required
                                :getOptionLabel="option => option.desc" :options="desclist" class="w-full">
                                <template #option="{ description}">
                                    {{ description }}
                                </template>
                            </v-select>
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7);  margin-left:5px; ">Date Buy</span>
                            <datepicker required placeholder="Pilih Tanggal" label="Birthday"
                                v-model="form.dateBuy" :format="format" style="  width:100%;"
                                :minimumView="'day'" :maximumView="'month'">
                            </datepicker>
                            <vs-input v-model="form.brand" label="Brand" class="w-full" /> 
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>
                <!-- POPUP -->
                <vs-popup title="View Data" :active.sync="viewPopUp">
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Code :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.code }}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Name :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.asetName | capitalize}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Description :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.description}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Date Buy :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.dateBuy | moment("DD-MM-YYYY")}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Brand :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.brand}}</span>
                        </div>
                    </div> 
                </vs-popup>

            </vx-card>
        </div>
    </div>
</template>



<script>
import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    components: {
        Datepicker,
        vSelect,
        VuePerfectScrollbar,
    },
    data() {
        return {
            format: "d MMMM yyyy",
            addNewDataSidebar: false,
            activeConfirm: false,
            viewPopUp: false,
            modalPromptActive: false,
            modalTitle: null,
            createe:null,
            updatee:null,
            deletee:null,
            access:null,
            desclist: [{
                    description: "Aset Kantor",
                    desc: "Aset Kantor"
                },
                {
                    description: "Aset Operasional",
                    desc: "Aset Operasional"
                },
                {
                    description: "Aset Proyek",
                    desc: "Aset Proyek"
                },
            ],
            form: {
                aset_id: null,
                company_id: null,
                code: null,
                asetName: null,
                description: null,
                dateBuy: null,
                brand: null,
            },
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            vendor: []
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.form.company_id = this.$company != null ? this.$company.company_id : "";
        this.loadData()
    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"
            this.$http.get(this.$baseURL + '/master/asets?filter=company_id|'+com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.vendor = res.data.data;
            }).catch(err => {
                this.$options.filters.auth(err.response.data.message);
                console.log(err);

            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

            this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }
        },

        viewData(data) {
            this.form.code = data.code;
            this.form.asetName = data.name;
            this.form.description = data.description;
            this.form.dateBuy = data.date_buy;
            this.form.brand = data.brand;
            this.viewPopUp = true;
        },
        addNewData() {
            // this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true
        },
        editData(data) {
            this.modalTitle = "Edit";
            this.form.aset_id = data.aset_id;
            this.form.asetName = data.name;
            this.form.description = data.description;
             if (data.description != null) {
                this.form.description = this.desclist.filter(m => m.desc === data.description);
                this.form.description = this.form.description[0];
            }
            this.form.dateBuy = data.date_buy; 
            this.form.brand = data.brand; 
            this.modalPromptActive = true
        },

        deleteData(data) {
            this.form.aset_id = data.aset_id
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin hapus data ini',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$http.delete(this.$baseURL + '/master/asets/' + this.form.aset_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.promptAlert("success", "Success", "Data berhasil dihapus");
                this.loadData();
            }).catch(err => {
                this.$options.filters.auth(err.response.data.message);
                console.log(err);
            });
        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            const formData = new FormData();
            formData.append('company_id', this.form.company_id);
            formData.append('name', this.form.asetName);
            formData.append('description', this.form.description != null ? this.form.description.desc : "");
            formData.append('date_buy', this.form.dateBuy);
            formData.append('brand', this.form.brand);

            if (this.modalTitle == "Add") {
                // AXIOS POST
                this.$http.post(this.$baseURL + '/master/asets/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.resetPrompt();
                    this.promptAlert("success", "Success", "Data berhasil ditambahkan");
                    this.loadData();
                }).catch(err => {
                    this.$options.filters.auth(err.response.data.message);
                    console.log(err);
                })

            } else {
                formData.append('_method', 'PUT');
                var id = this.form.aset_id;

                // AXIOS PUT
                this.$http.post(this.$baseURL + '/master/asets/' + id + '/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.resetPrompt();
                    this.promptAlert("success", "Vendor Edited", "Data berhasil diubah");
                    this.loadData();
                }).catch(err => {
                    this.$options.filters.auth(err.response.data.message);
                    console.log(err);
                })
            }
        },

        resetPrompt() {
        this.form.aset_id= null;
        this.form.code= null;
        this.form.asetName= null;
        this.form.description= null;
        this.form.dateBuy= null;
        this.form.brand= null;
        }
    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 40%;
            max-height: 95vh;
            height:400px;

            .vs-dialog-text {
                padding: 0;
                 height:300px;

                .scroll-area {
                    max-height: 75vh;
                    height:350px;
                }
 
            }
        }
 
    } 
</style>

