<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-customer">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="companies">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>
                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <download-excel name="perusahaan-data.xls" :data="companies">
                                            <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            Export Excel
                                        </download-excel>
                                    </vs-dropdown-item>
                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>
                            <!-- ADD NEW -->
                            <div v-if="createe == true"
                                class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="name">Nama</vs-th>
                        <vs-th sort-key="address">Alamat</vs-th>
                        <vs-th sort-key="phone">Telepon</vs-th>
                        <vs-th sort-key="wage">Status</vs-th>
                        <vs-th sort-key="action">Action</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>
                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name | capitalize}}
                            </vs-td>
                            <vs-td :data="data[indextr].address">
                                {{data[indextr].address}}
                            </vs-td>
                            <vs-td :data="data[indextr].phone">
                                {{data[indextr].phone}}
                            </vs-td>
                            <vs-td :data="data[indextr].status">
                                <!-- {{data[indextr].status}} -->
                                <vs-chip v-if="data[indextr].status === 'active'" color="success">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                                <vs-chip v-else color="warning">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- FORM -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent v-show="modalTitle == 'Add' || modalTitle=='Edit'">
                            <!-- <vs-input v-model="form.parent_id" label="Parent ID" class="w-full" /> -->
                            <vs-input v-model="form.name" label="Nama Perusahaan" class="w-full" />
                            <vs-input v-model="form.codeCompany" label="Kode Perusahaan" class="w-full" />
                            <vs-input v-model="form.address" label="Alamat" class="w-full" />
                            <vs-input v-model="form.phone" label="Telepon" class="w-full" />
                            <vs-select v-model="form.currency_code" label="Mata Uang" class="w-full">
                                <vs-select-item key="IDR" value="IDR" text="IDR" />
                                <vs-select-item key="USD" value="USD" text="USD" />
                            </vs-select>
                            <vs-input v-model="form.npwp" label="NPWP" class="w-full" />
                            <vs-select v-model="form.taxable" label="Pajak" class="w-full">
                                <vs-select-item key="yes" value="yes" text="Yes" />
                                <vs-select-item key="no" value="no" text="No" />
                            </vs-select>
                            <vs-input v-show="form.taxable === 'yes'" v-model="form.taxable_rate"
                                label="Nilai Pajak (%)" class="w-full" />
                            <vs-select v-model="form.status" label="Status" class="w-full">
                                <vs-select-item key="active" value="active" text="Active" />
                                <vs-select-item key="inactive" value="inactive" text="Inactive" />
                            </vs-select>
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>
                <!-- POPUP -->
                <vs-popup title="View Data" :active.sync="viewPopUp">
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Nama :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.name | capitalize}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Alamat :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.address}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Telepon :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.phone}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>NPWP :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span v-if="form.npwp !== null">{{form.npwp}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Tax :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.taxable_rate}} %</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Status :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <vs-chip v-if="form.status === 'active'" color="success">
                                {{form.status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else color="warning">
                                {{form.status | capitalize}}
                            </vs-chip>
                        </div>
                    </div>
                </vs-popup>

            </vx-card>
        </div>
    </div>
</template>



<script>
import moment from 'vue-moment'
import Datepicker from 'vuejs-datepicker'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    components: {
        Datepicker,
        VuePerfectScrollbar,
    },
    data() {
        return {
            format: "d MMMM yyyy",
            addNewDataSidebar: false,
            activeConfirm: false,
            viewPopUp: false,
            modalPromptActive: false,
            modalTitle: null,
            createe: null,
            updatee: null,
            deletee: null,
            access: null,
            form: {
                id: null,
                parent_id: 1,
                name: null,
                codeCompany: null,
                address: null,
                phone: null,
                npwp: null,
                currency_code: 'IDR',
                taxable: 'no',
                taxable_rate: 10,
                status: 'active',
            },
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            companies: []
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData();
    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"
            this.$http.get(this.$baseURL + '/master/companies?filter=company_id|' + com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.companies = res.data.data;

            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.path == this.access[acc].url) {
                    this.createe = this.access[acc].createe;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }
        },
        viewData(data) {
            this.form.parent_id = data.parent_id;
            this.form.name = data.name;
            this.form.address = data.address;
            this.form.phone = data.phone;
            this.form.npwp = data.npwp;
            this.form.currency_code = data.currency_code;
            this.form.taxable = data.taxable;
            this.form.taxable_rate = data.taxable_rate;
            this.form.status = data.status;
            this.viewPopUp = true;
        },
        addNewData() {
            this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true
        },
        editData(data) {
            this.modalTitle = "Edit";
            this.form.id = data.company_id;
            this.form.parent_id = data.parent_id;
            this.form.name = data.name;
            this.form.address = data.address;
            this.form.phone = data.phone;
            this.form.npwp = data.npwp;
            this.form.currency_code = data.currency_code;
            this.form.taxable = data.taxable;
            this.form.taxable_rate = data.taxable_rate;
            this.form.status = data.status;
            this.modalPromptActive = true
        },

        deleteData(data) {
            this.form.id = data.company_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan menghapus data?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$http.delete(this.$baseURL + '/master/companies/' + this.form.id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.promptAlert("success", "Success", "Data berhasil dihapus");
                this.loadData();
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.errors
                });
            });

        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            if (this.form.taxable === 'no') {
                this.form.taxable_rate = 10;
            }

            const formData = new FormData();
            formData.append('parent_id', this.form.parent_id);
            formData.append('name', this.form.name);
            formData.append('address', this.form.address);
            formData.append('phone', this.form.phone);
            formData.append('currency_code', this.form.currency_code);
            formData.append('npwp', this.form.npwp);
            formData.append('taxable', this.form.taxable);
            formData.append('taxable_rate', this.form.taxable_rate);
            formData.append('status', this.form.status);

            if (this.modalTitle == "Add") {
                // AXIOS POST
                this.$http.post(this.$baseURL + '/master/companies/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    // console.log(res.data.data);
                    this.promptAlert("success", "Success", "Data berhasil ditambahkan");
                    this.loadData();
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.errors
                    });
                });
            } else {
                formData.append('_method', 'PUT');
                // AXIOS PUT
                this.$http.post(this.$baseURL + '/master/companies/' + this.form.id + '/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    // console.log(res.data.data);
                    this.promptAlert("success", "Success", "Data berhasil diedit");
                    this.loadData();
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.errors
                    });
                });
            }
        },

        resetPrompt() {
            this.form.name = null;
            this.form.address = null;
            this.form.phone = null;
            this.form.npwp = null;
            this.form.taxable_rate = null;
            this.form.status = null;
        }

    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;           
            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                } 
            }
        } 
    } 
</style>

