<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-customer">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="craftsman">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>
                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <download-excel name="tukang-data.xls" :data="craftsman">
                                            <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            Export Excel
                                        </download-excel>
                                    </vs-dropdown-item>
                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>
                            <!-- ADD NEW -->
                            <div v-if="createe == true"
                                class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="name">Nama</vs-th>
                        <vs-th sort-key="address">Alamat KTP</vs-th>
                        <vs-th sort-key="phone">Telepon</vs-th>
                        <vs-th sort-key="wage">Gaji (Rp)</vs-th>
                        <vs-th sort-key="status">Status</vs-th>
                        <vs-th sort-key="action">Action</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>
                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name}}
                            </vs-td>
                            <vs-td :data="data[indextr].address">
                                {{data[indextr].address}}
                            </vs-td>
                            <vs-td :data="data[indextr].phone">
                                {{data[indextr].phone}}
                            </vs-td>
                            <vs-td :data="data[indextr].upah">
                                {{data[indextr].upah | currency }}
                            </vs-td>
                            <vs-td :data="data[indextr].status">
                                <vs-chip v-if="data[indextr].status === 'active'" color="success">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                                <vs-chip v-else color="danger">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- FORM -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent v-show="modalTitle == 'Add' || modalTitle=='Edit'">
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.nik" label="NIK" class="w-full" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.craftsmenName" label="Nama" class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="3" class="my-auto px-2">
                                    <vs-input v-model="form.tempatLahir" label="Tempat Lahir" class="w-full" required />
                                </vs-col>
                                <vs-col vs-w="3" class="my-auto px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7);  margin-left:5px; ">Tanggal
                                        Lahir </span><span style="color:red;font-size:1.2rem;">*</span>
                                    <datepicker required placeholder="Pilih Tanggal" label="Birthday"
                                        v-model="form.birthday" :format="format" style="  width:100%;"
                                        :minimumView="'day'" :maximumView="'month'">
                                    </datepicker>
                                </vs-col>
                                <vs-col vs-w="6" class="my-auto px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7);  margin-left:5px; ">Tanggal
                                        Masuk</span><span style="color:red;font-size:1.2rem;">*</span>
                                    <datepicker placeholder="Pilih Tanggal" label="Tanggal Masuk" v-model="form.date"
                                        :format="format" style="width:100%;" :minimumView="'day'"
                                        :maximumView="'month'"></datepicker>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.address" label="Alamat KTP" class="w-full" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.addressNow" label="Alamat Saat Ini" class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.phone" label="Telepon" class="w-full" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.siblingPhone" label="No. Telepon Orang Terdekat"
                                        class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Penempatan
                                        <span style="color:red;font-size:1.2rem;">*</span>
                                    </span>
                                    <v-select v-model="form.penempatan" :clearable="false"
                                        :reduce="option_region => option_region.id"
                                        :getOptionLabel="option_region => option_region.location"
                                        :options="option_region" class="w-full">
                                        <template #option="{id, location}">
                                            <cite>{{ id }}</cite> - {{ location }}
                                        </template>
                                    </v-select>
                                </vs-col>

                                <vs-col vs-w="6" class="px-2">
                                    <currency-input v-model.lazy="form.wage" :currency="{prefix}" :precision="{min,max}"
                                        locale="de" placeholder="Rp. 100.000"
                                        class="vs-inputx vs-input--input normal hasValue" />
                                </vs-col>
                            </vs-row>
                             <vs-row class="mb-4">
                                <vs-col vs-w="4" class="px-2">
                                    <vs-input v-model="form.bankName" label="BANK" class="w-full" required />
                                </vs-col>
                                <vs-col vs-w="4" class="px-2">
                                    <vs-input v-model="form.bankBranch" label="Cabang" class="w-full" required />
                                </vs-col>
                                <vs-col vs-w="4" class="px-2">
                                    <vs-input v-model="form.bankAccount" label="No Rekening" class="w-full" required />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="12" class="px-2">
                                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Penempatan:
                                    </span>
                                    <v-select v-model="form.penempatan" :clearable="false" required
                                        :getOptionLabel="option => option.code" :options="listLoc" class="w-full">
                                        <template #option="{code, location}">
                                            <cite>{{ code }}</cite> - {{ location }}
                                        </template>
                                    </v-select>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">

                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.description" label="Deskripsi" class="w-full" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <vs-select v-model="form.craftsmenStatus" label="Status" class="w-full">
                                        <vs-select-item key="active" value="active" text="Active" />
                                        <vs-select-item key="inactive" value="inactive" text="Inactive" />
                                    </vs-select>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <span v-if="form.id != null"
                                    style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Scan KTP: </span>
                                <div v-for="(tr, indextr) in form.ktpfile" :key="indextr" style="padding-left:25px; ">
                                    <table style="width:100%;">
                                        <tr>
                                            <td>
                                                <a :href="'/storage/'+tr" target="_blank">
                                                    <img :src="'/storage/'+tr" alt="" width="300" height="300">
                                                </a>
                                            </td>
                                            <td style="width:20px;">
                                                <feather-icon v-tooltip="'Delete'" icon="TrashIcon"
                                                    svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                                    @click.stop="deletefile(tr)" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <vs-upload v-if="form.ktpfile == null && form.id != null" automatic
                                    text="Upload File *Max 7MB" :single-upload="true" fileName="ktptukang" :data="form"
                                    :action="urlupload" @on-success="successUpload" />
                            </vs-row>
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>
                <!-- POPUP -->
                <vs-popup title="View Data" :active.sync="viewPopUp">
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>NIK :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.nik}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Nama :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <div class="vx-row" style="padding-left:15px;">
                                <span style="padding-right:10px;">{{form.craftsmenName}}</span>
                                <vs-chip v-if="form.craftsmenStatus === 'active'" color="success">
                                    {{form.craftsmenStatus | capitalize}}
                                </vs-chip>
                                <vs-chip v-else color="danger">
                                    {{form.craftsmenStatus | capitalize}}
                                </vs-chip>
                            </div>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Alamat KTP:</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.address}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Tempat,Tanggal Lahir:</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.birthday}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Alamat Saat Ini:</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.addressNow}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Telepon :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.phone}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Telepon 2 :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.phone2}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Telepon Orang Terdekat :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.siblingPhone}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Upah : </span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span v-if="form.wage !== null">Rp. {{form.wage | currency}} / day</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Deskripsi :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.description}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Tanggal Bergabung :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.date | moment("DD MMMM YYYY")}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>KTP :</span>
                            <div v-for="(tr, indextr) in form.ktpfile" :key="indextr" style="padding-left:25px; ">
                                <table style="width:100%;">
                                    <tr>
                                        <td>
                                            <a :href="'/storage/'+tr" target="_blank">
                                                <img :src="'/storage/'+tr" alt="" width="300" height="300">
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </vs-popup>

            </vx-card>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
import moment from 'vue-moment'
import Datepicker from 'vuejs-datepicker'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Region from '@/mixins/region'

export default {
    components: {
        vSelect,
        Datepicker,
        VuePerfectScrollbar,
    },
    mixins: [Region],
    data() {
        return {
            max: 0,
            min: 0,
            prefix: 'Rp ',
            format: "d MMMM yyyy",
            format_ID: "DD-MM-YYYY",
            addNewDataSidebar: false,
            activeConfirm: false,
            viewPopUp: false,
            modalPromptActive: false,
            modalTitle: null,
            createe: null,
            updatee: null,
            deletee: null,
            access: null,
            form: {
                id: null,
                code: null,
                nik: null,
                craftsmenName: null,
                penempatan: null,
                birthday: null,
                tempatLahir: null,
                address: null,
                addressNow: null,
                penempatan:null,
                phone: null,
                phone2: null,
                siblingPhone: null,
                wage: null,
                description: null,
                bankName: null,
                bankBranch: null,
                bankAccount: null,
                ktpfile: null,
                date: null,
                craftsmenStatus: 'active',
            },
            listLoc: [{
                    location: "Aceh",
                    code: "AC"
                },
                {
                    location: "Bali",
                    code: "BA"
                },
                {
                    location: "Banten",
                    code: "BT"
                },
                {
                    location: "Bengkulu",
                    code: "BE"
                },
                {
                    location: "Gorontalo",
                    code: "GO"
                },
                {
                    location: "Jakarta",
                    code: "JK"
                },
                {
                    location: "Jambi",
                    code: "JA"
                },
                {
                    location: "Jawa Barat",
                    code: "JB"
                },
                {
                    location: "Jawa Tengah",
                    code: "JT"
                },
                {
                    location: "Jawa Timur",
                    code: "JI"
                },
                {
                    location: "Kalimantan Barat",
                    code: "KB"
                },
                {
                    location: "Kalimantan Selatan",
                    code: "KS"
                },
                {
                    location: "Kalimantan Tengah",
                    code: "KT"
                },
                {
                    location: "Kalimantan Timur",
                    code: "KI"
                },
                {
                    location: "Kalimantan Utara",
                    code: "KU"
                },
                {
                    location: "Kepulauan Bangka Belitung",
                    code: "BB"
                },
                {
                    location: "Kepulauan Riau",
                    code: "KR"
                },
                {
                    location: "Lampung",
                    code: "LA "
                },
                {
                    location: "Maluku",
                    code: "MA"
                },
                {
                    location: "Maluku Utara",
                    code: "MU"
                },
                {
                    location: "Nusa Tenggara Barat",
                    code: "NB"
                },
                {
                    location: "Nusa Tenggara Timur",
                    code: "NT"
                },
                {
                    location: "Papua",
                    code: "PA"
                },
                {
                    location: "Papua Barat",
                    code: "PB"
                },
                {
                    location: "Riau",
                    code: "RI "
                },
                {
                    location: "Sulawesi Barat",
                    code: "SR "
                },
                {
                    location: "Sulawesi Selatan",
                    code: "SS"
                },
                {
                    location: "Bendera Sulawesi Selatan",
                    code: "SN"
                },
                {
                    location: "Sulawesi Tengah",
                    code: "ST"
                },
                {
                    location: "Sulawesi Tenggara",
                    code: "SG"
                },
                {
                    location: "Sulawesi Utara",
                    code: "SA"
                },
                {
                    location: "Sumatera Barat",
                    code: "SB"
                },
                {
                    location: "Sumatera Selatan",
                    code: "SS "
                },
                {
                    location: "Sumatera Utara",
                    code: "SU"
                },
                {
                    location: "Daerah Istimewa Yogyakarta",
                    code: "YO"
                },
            ],
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            urlupload: this.$baseURL + "/master/tukang/uploadktp",
            craftsman: [],
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData()
    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"
            this.$http.get(this.$baseURL + '/master/tukang?filter=company_id|' + com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {

                this.craftsman = res.data.data;

            }).catch(err => {
                this.$options.filters.auth(err.response.data.message);
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.path == this.access[acc].url) {
                    this.createe = this.access[acc].createe;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }
        },
        async loadFile(id) {
            this.$http.get(this.$baseURL + '/master/tukang/' + id + '/getfile', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.form.ktpfile = res.data.fileKTP;
                if (this.form.ktpfile[0] == undefined) {
                    this.form.ktpfile = null;
                }
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err.data.message);
                this.$options.filters.auth(err.response.data.message);
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));
        },
        async loadFile(id) {
            this.$http.get(this.$baseURL + '/master/tukang/' + id + '/getfile', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.form.ktpfile = res.data.fileKTP;
                if (this.form.ktpfile[0] == undefined) {
                    this.form.ktpfile = null;
                }
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err.data.message);
                this.$options.filters.auth(err.response.data.message);
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));
        },

        viewData(data) {
            this.form.id = data.tukang_id;
            this.form.code = data.code;
            this.form.nik = data.nik;
            this.form.craftsmenName = data.name;
            this.form.birthday = data.born;
            this.form.tempatLahir = data.cradle;
            this.form.address = data.address;
            this.form.addressNow = data.address_now;
            this.form.phone = data.phone;
            this.form.phone2 = data.phone2;
            this.form.siblingPhone = data.sibling_phone;
            this.form.wage = data.upah;
            this.form.description = data.description;
             if (data.penempatan != null) {
                this.form.penempatan = this.listLoc.filter(m => m.code === data.penempatan);
                this.form.penempatan = this.form.penempatan[0];
            }
            this.form.bankName = data.bank_name;
            this.form.bankBranch = data.bank_branch;
            this.form.bankAccount = data.bank_account;
            this.form.craftsmenStatus = data.status;
            this.form.date = data.entry_at;
            this.viewPopUp = true;
            this.loadFile(this.form.id);

        },
        addNewData() {
            this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true
        },
        editData(data) {
            this.modalTitle = "Edit";
            this.form.id = data.tukang_id;
            this.form.code = data.code;
            this.form.nik = data.nik;
            this.form.craftsmenName = data.name;
            this.form.birthday = this.$moment.utc(data.born, "DD-MM-YYYY").toDate();
            this.form.tempatLahir = data.cradle;
            this.form.address = data.address;
            this.form.addressNow = data.address_now;
             if (data.penempatan != null) {
                this.form.penempatan = this.listLoc.filter(m => m.code === data.penempatan);
                this.form.penempatan = this.form.penempatan[0];
            }
            this.form.phone = data.phone;
            this.form.phone2 = data.phone2;
            this.form.siblingPhone = data.sibling_phone;
            this.form.wage = data.upah;
            this.form.description = data.description;
            this.form.bankName = data.bank_name;
            this.form.bankBranch = data.bank_branch;
            if (data.penempatan != null) {
                this.form.penempatan = this.option_region.filter(m => m.id === parseInt(data.penempatan));
                this.form.penempatan = this.form.penempatan[0];
            }
            this.form.bankAccount = data.bank_account;
            this.form.craftsmenStatus = data.status;
            this.form.date = this.$moment.utc(data.entry_at, "DD/MM/YYYY").toDate();
            this.modalPromptActive = true;
            this.loadFile(this.form.id);
        },

        deleteData(data) {
            this.form.id = data.tukang_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan menghapus data?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            // AXIOS Delete
            this.$http.delete(this.$baseURL + '/master/tukang/' + this.form.id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.promptAlert("success", "Success", "Data berhasil dihapus");
                this.loadData();
            }).catch(err => {
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            });
        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            if (this.form.birthday === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Tanggal Lahir tidak boleh kosong',
                })
            } else if (this.form.date === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Tanggal Bergabung tidak boleh kosong',
                })
            } else if (this.form.penempatan === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Penempatan tidak boleh kosong',
                })
            } else {
                this.runSubmit();
            }
        },

        runSubmit() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('code', this.form.code);
            formData.append('nik', this.form.nik);
            formData.append('name', this.form.craftsmenName);
            formData.append('cradle', this.form.tempatLahir);
            if (this.form.birthday === null) {
                formData.append('born', this.$moment().format(this.format_ID));
            } else {
                formData.append('born', this.$moment(this.form.birthday).format(this.format_ID));
            }
            formData.append('address', this.form.address);
            formData.append('penempatan', (this.form.penempatan ? this.form.penempatan : ''));
            formData.append('address_now', this.form.addressNow);
            formData.append('phone', this.form.phone);
            formData.append('phone2', this.form.phone2);
            formData.append('sibling_phone', this.form.siblingPhone);
            formData.append('upah', this.form.wage);
            formData.append('penempatan', this.form.penempatan != null ? this.form.penempatan.code : null);
            formData.append('description', this.form.description);
            formData.append('bank_name', this.form.bankName);
            formData.append('bank_branch', this.form.bankBranch);
            formData.append('bank_account', this.form.bankAccount);
            formData.append('entry_at', this.$moment(this.form.date).format('DD/MM/YYYY'));
            formData.append('status', this.form.craftsmenStatus);

            if (this.modalTitle == "Add") {
                // AXIOS POST
                this.$http.post(this.$baseURL + '/master/tukang/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    // console.log(res.data.data);
                    this.promptAlert("success", "Success", "Data berhasil ditambahkan");
                    this.loadData();
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                });

            } else {
                formData.append('_method', 'PUT');
                // AXIOS PUT
                this.$http.post(this.$baseURL + '/master/tukang/' + this.form.id + '/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.loadData();
                    this.promptAlert("success", "Success", "Data berhasil diubah");
                }).catch(err => {
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                });

            }
        },

        resetPrompt() {
            this.form.id = null;
            this.form.code = null;
            this.form.nik = null;
            this.form.craftsmenName = null;
            this.form.birthday = null;
            this.form.tempatLahir = null;
            this.form.address = null;
            this.form.addressNow = null;
            this.form.phone = null;
            this.form.phone2 = null;
            this.form.siblingPhone = null;
            this.form.wage = null;
            this.form.description = null;
            this.form.penempatan = null;
            this.form.bankName = null;
            this.form.bankBranch = null;
            this.form.bankAccount = null;
            this.form.penempatan = null;
            this.form.craftsmenStatus = null;
            this.form.date = null;
            this.form.ktpfile = null;
        },

        deletefile(tr) {
            var dt = {
                pat: tr,
            };
            this.$http.post(this.$baseURL + '/master/tukang/deletefile',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                this.promptAlert("success", "Success", "File dihapus");
                this.loadData();
                this.loadFile(this.form.id);
            }).catch(err => {
                this.$vs.loading.close()
                if (err.response.data.message == "Unauthenticated") {
                    this.$options.filters.auth(err.response.data.message)
                }
            });
        },
        successUpload() {
            this.loadFile(this.form.id);
            this.promptAlert('success', 'success upload');

        },

    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            // max-height: 95vh;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                }
 
            }
        }
 
    }
    .con-vs-popup .vs-popup{
        width: 1000px;
    } 
</style>

