<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <div id="table-customer">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="customers">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>
                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <download-excel name="pelanggan-data.xls" :data="customers">
                                            <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            Export Excel
                                        </download-excel>
                                    </vs-dropdown-item>
                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>
                            <!-- ADD NEW -->
                            <div v-if="createe == true"
                                class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="name">Nama</vs-th>
                        <vs-th sort-key="address">Alamat KTP</vs-th>
                        <vs-th sort-key="phone">Telepon</vs-th>
                        <vs-th sort-key="status">Status</vs-th>
                        <!-- <vs-th sort-key="npwp">NPWP</vs-th> -->
                        <vs-th sort-key="action">Action</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name}}
                            </vs-td>
                            <vs-td :data="data[indextr].address">
                                {{data[indextr].address}}
                            </vs-td>
                            <vs-td :data="data[indextr].phone">
                                {{data[indextr].phone}}
                            </vs-td>
                            <vs-td :data="data[indextr].status">
                                <vs-chip v-if="data[indextr].status === 'active'" color="success">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                                <vs-chip v-else color="danger">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>

                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- FORM -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2 scrollHeight" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent v-show="modalTitle == 'Add' || modalTitle=='Edit'">
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.code" label="Code (Optional)" class="w-full" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.customerName" label="Nama" class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.reference" label="Reference (Optional)" class="w-full" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.phone" label="Telepon" class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="12" class="px-2">
                                    <vs-textarea label="Alamat KTP" v-model="form.address" class="w-full p-3 my-5" />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.npwp" label="NPWP" class="w-full" />
                                </vs-col>
                                <!-- <vs-col vs-w="6" class="px-2"> 
                                    <label class="vs-input--label" for="">Batas Kredit (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input v-model.lazy="form.creditLimit" :currency="{prefix}"
                                            :precision="{min,max}" locale="de" placeholder="Rp. 100.000"
                                            class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </vs-col> -->
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.namaPKP" label="Nama PKP" class="w-full" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.alamatPKP" label="Alamat PKP" class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <vs-select v-model="form.type" label="Tipe Customer" class="w-full">
                                        <vs-select-item key="pribadi" value="pribadi" text="Pribadi" />
                                        <vs-select-item key="corporate" value="corporate" text="Corporate" />
                                    </vs-select>
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <vs-select v-show="modalTitle !== 'Add'" v-model="form.status"
                                        label="Status Customer" class="w-full">
                                        <vs-select-item key="active" value="active" text="Active" />
                                        <vs-select-item key="inactive" value="inactive" text="Inactive" />
                                    </vs-select>
                                </vs-col>
                            </vs-row>
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>
                <!-- POPUP -->
                <vs-popup title="View Data" :active.sync="viewPopUp">
                    <div class="vx-row" style="margin:3px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Nama: </span> <br>
                            <div class="vx-row" style="padding-left:25px; ">
                                <b style=" padding-right:15px;">{{form.customerName}} </b>
                                <vs-chip v-if="form.suplierStatus === 'active'" color="success">
                                    {{form.suplierStatus | capitalize}}
                                </vs-chip>
                                <vs-chip v-else color="danger">
                                    {{form.suplierStatus | capitalize}}
                                </vs-chip>
                            </div>
                        </div>
                    </div>
                    <vs-divider />
                    <div class="vx-row" style="margin:3px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Reference: </span>
                            <br>
                            <b style="padding-left:15px;">{{form.reference}} </b>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Telepon: </span>
                            <br>
                            <b style="padding-left:15px;">{{form.phone}} </b>
                        </div>
                    </div>
                    <vs-divider />
                    <div class="vx-row" style="margin:3px;">
                        <div class="vx-col  w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Alamat KTP: </span>
                            <br>
                            <b style="padding-left:15px;">{{form.address}} </b>
                        </div>
                    </div>
                    <vs-divider />
                    <div class="vx-row" style="margin:3px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> NPWP: </span> <br>
                            <b style="padding-left:15px;">{{form.npwp}} </b>
                        </div>
                    </div>
                    <vs-divider />
                    <div class="vx-row" style="margin:3px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Nama PKP: </span>
                            <br>
                            <b style="padding-left:15px;">{{form.namaPKP}} </b>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Alamat PKP: </span>
                            <br>
                            <b style="padding-left:15px;">{{form.alamatPKP}} </b>
                        </div>
                    </div>
                    <vs-divider />
                    <div class="vx-row" style="margin:3px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Tipe Customer:
                            </span> <br>
                            <b style="padding-left:15px;">{{form.type}} </b>
                        </div>
                    </div>

                </vs-popup>

            </vx-card>
        </div>
    </div>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    components: {
        VuePerfectScrollbar,
    },
    data() {
        return {
            max: 0,
            min: 0,
            prefix: 'Rp ',
            addNewDataSidebar: false,
            activeConfirm: false,
            viewPopUp: false,
            modalPromptActive: false,
            modalTitle: null,
            createe: null,
            updatee: null,
            deletee: null,
            access: null,
            form: {
                id: null,
                code: null,
                customerName: null,
                address: null,
                phone: null,
                npwp: null,
                reference: null,
                currency: "IDR",
                namaPKP: null,
                alamatPKP: null,
                creditLimit: 0,
                status: 'active',
                type: null,
            },
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            customers: []
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData()
    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"
            this.$http.get(this.$baseURL + '/master/customers?filter=company_id|' + com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.customers = res.data.data;
            }).catch(err => {
                console.log(err.data.message);
                this.$options.filters.auth(err.response.data.message);
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.path == this.access[acc].url) {
                    this.createe = this.access[acc].createe;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }
        },
        viewData(data) {
            this.form.customerName = data.name;
            this.form.address = data.address;
            this.form.phone = data.phone;
            this.form.reference = data.reference;
            this.form.npwp = data.npwp;
            this.form.namaPKP = data.pkp_name;
            this.form.alamatPKP = data.pkp_address;
            this.form.creditLimit = data.credit_limit;
            this.form.suplierStatus = data.status;
            this.form.type = data.type;
            this.viewPopUp = true;
        },
        addNewData() {
            this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true
        },
        editData(data) {
            this.modalTitle = "Edit";
            this.form.id = data.customer_id;
            this.form.code = data.code;
            this.form.customerName = data.name;
            this.form.address = data.address;
            this.form.reference = data.reference;
            this.form.phone = data.phone;
            this.form.currency = data.currency_code;
            this.form.npwp = data.npwp;
            this.form.namaPKP = data.pkp_name;
            this.form.alamatPKP = data.pkp_address;
            this.form.creditLimit = data.credit_limit;
            this.form.status = data.status;
            this.form.type = data.type;
            this.modalPromptActive = true
        },

        deleteData(data) {
            this.form.id = data.customer_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan menghapus data?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$vs.loading({
                type: 'radius'
            });
            this.$http.delete(this.$baseURL + '/master/customers/' + this.form.id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.promptAlert("success", "Success", "Data berhasil dihapus");
                this.loadData();
            }).catch(err => {
                this.$vs.loading.close()
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            });
        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            this.$vs.loading({
                type: 'radius'
            });
            const formData = new FormData();
            formData.append('code', this.form.code);
            formData.append('name', this.form.customerName);
            formData.append('address', this.form.address);
            formData.append('phone', this.form.phone);
            formData.append('reference', this.form.reference);
            formData.append('currency_code', this.form.currency);
            formData.append('npwp', this.form.npwp);
            formData.append('pkp_name', this.form.namaPKP);
            formData.append('pkp_address', this.form.alamatPKP);
            formData.append('credit_limit', this.form.creditLimit);
            formData.append('status', this.form.status);
            formData.append('type', this.form.type);

            if (this.modalTitle == "Add") {
                // AXIOS POST
                this.$http.post(this.$baseURL + '/master/customers/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    // console.log(res.data.data);
                    this.promptAlert("success", "Success", "Data berhasil ditambahkan");
                    this.loadData();
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })

            } else {
                formData.append('_method', 'PUT');
                // AXIOS PUT
                this.$http.post(this.$baseURL + '/master/customers/' + this.form.id + '/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    // console.log(res.data.data);
                    this.promptAlert("success", "Success", "Data berhasil diubah");
                    this.loadData()
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })

            }
        },

        resetPrompt() {
            this.form.customerName = null;
            this.form.address = null;
            this.form.phone = null;
            this.form.npwp = null;
            this.form.namaPKP = null;
            this.form.alamatPKP = null;
            this.form.creditLimit = 0;
            this.form.suplierStatus = null;
            this.form.code = null;
            this.form.type = null;
            this.form.reference = null;
        }

    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            // max-height: 95vh;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                    
                }               
            }
        } 
    } 
</style>

