<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <div id="table-customer">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="customers">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>
                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <download-excel name="pelanggan-data.xls" :data="customers">
                                            <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            Export Excel
                                        </download-excel>
                                    </vs-dropdown-item>
                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>
                            <!-- ADD NEW -->
                            <div v-if="createe == true"
                                class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="customer_id">No</vs-th>
                        <vs-th sort-key="type">Tipe</vs-th>
                        <vs-th sort-key="name">Nama</vs-th>
                        <vs-th>Alamat KTP</vs-th>
                        <vs-th>Telepon</vs-th>
                        <vs-th sort-key="status">Status</vs-th>
                        <vs-th>Action</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td :data="data[indextr].type">
                                {{data[indextr].type | capitalize}}
                            </vs-td>
                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name}}
                            </vs-td>
                            <vs-td :data="data[indextr].address">
                                {{data[indextr].address}}
                            </vs-td>
                            <vs-td :data="data[indextr].phone">
                                {{data[indextr].phone}}
                            </vs-td>
                            <vs-td :data="data[indextr].status">
                                <vs-chip v-if="data[indextr].status === 'active'" color="success">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                                <vs-chip v-else color="danger">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>

                            </vs-td>
                            <vs-td>
                                <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon"
                                    svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editData(tr)" />
                                <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon"
                                    svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                    @click.stop="deleteData(tr)" />
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- FORM -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2 scrollHeight" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent v-show="modalTitle == 'Add' || modalTitle=='Edit'">
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <vs-select v-model="form.type" label="Tipe Customer" class="w-full">
                                        <vs-select-item key="pribadi" value="pribadi" text="Pribadi" />
                                        <vs-select-item key="corporate" value="corporate" text="Corporate" />
                                    </vs-select>
                                </vs-col>
                            </vs-row>
                            <div v-if="form.type == 'pribadi'">
                                <vs-row class="mb-4">
                                    <vs-col vs-w="6" class="px-2">
                                        <vs-input v-model="form.nik" label="NIK" class="w-full" />
                                    </vs-col>
                                    <vs-col vs-w="6" class="px-2">
                                        <vs-input v-model="form.customerName" label="Nama" class="w-full" />
                                    </vs-col>
                                </vs-row>
                                <vs-row class="mb-4">
                                    <vs-col vs-w="12" class="px-2">
                                        <vs-textarea label="Alamat KTP" v-model="form.address"
                                            class="w-full p-3 my-5" />
                                    </vs-col>
                                </vs-row>
                                <vs-row class="mb-4">
                                    <vs-col vs-w="6" class="px-2">
                                        <vs-input v-model="form.birthdayPlace" label="Tempat, Tanggal Lahir"
                                            class="w-full" />
                                    </vs-col>
                                    <vs-col vs-w="6" class="px-2">
                                        <vs-input v-model="form.note" label="Keterangan" class="w-full" />
                                    </vs-col>
                                </vs-row>
                                <vs-row class="mb-4">
                                    <vs-col vs-w="6" class="px-3">
                                        <vs-input v-model="form.phone" label="Phone 1" class="w-full" />
                                    </vs-col>
                                    <vs-col vs-w="6" class="px-3">
                                        <vs-input v-model="form.phone2" label="Phone 2" class="w-full" />
                                    </vs-col>
                                </vs-row>
                                <vs-row class="mb-4">
                                    <vs-col vs-w="6" class="px-3">
                                        <span v-if="form.id != null"
                                            style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Scan KTP:
                                        </span>
                                        <div v-for="(tr, indextr) in ktpfile" :key="indextr"
                                            style="padding-left:25px; ">
                                            <table style="width:100%;">
                                                <tr>
                                                    <td>
                                                        <a :href="'/storage/'+tr" target="_blank">
                                                            <img :src="'/storage/'+tr" alt="" width="300" height="300">
                                                        </a>
                                                    </td>
                                                    <td style="width:20px;">
                                                        <feather-icon v-tooltip="'Delete'" icon="TrashIcon"
                                                            svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                                            class="ml-2" @click.stop="deletefile(tr)" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <vs-upload v-if="ktpfile == null && form.id != null" automatic
                                            text="Upload File *Max 7MB" :single-upload="true" fileName="ktpcust"
                                            :data="form" :action="urlupload" @on-success="successUpload" />
                                    </vs-col>
                                </vs-row>
                                <vs-row class="mb-4">
                                    <vs-col vs-w="6" class="px-2">
                                        <vs-select v-show="modalTitle !== 'Add'" v-model="form.status"
                                            label="Status Customer" class="w-full">
                                            <vs-select-item key="active" value="active" text="Active" />
                                            <vs-select-item key="inactive" value="inactive" text="Inactive" />
                                        </vs-select>
                                    </vs-col>
                                </vs-row>
                            </div>
                            <div v-if="form.type == 'corporate'">
                                <vs-row class="mb-4">
                                    <vs-col vs-w="6" class="px-2">
                                        <vs-input v-model="form.customerName" label="Nama" class="w-full" />
                                    </vs-col>
                                </vs-row>
                                <vs-row class="mb-4">
                                    <vs-col vs-w="12" class="px-2">
                                        <vs-textarea label="Alamat" v-model="form.address" class="w-full p-3 my-5" />
                                    </vs-col>
                                </vs-row>
                                <vs-row class="mb-4">
                                    <vs-col vs-w="6" class="px-2">
                                        <vs-input v-model="form.nib" label="Nomor NIB" class="w-full" />
                                    </vs-col>
                                    <vs-col vs-w="6" class="px-2">
                                        <vs-input v-model="form.spkp" label="Nomor SPKP" class="w-full" />
                                    </vs-col>
                                </vs-row>
                                <vs-row class="mb-4">
                                    <vs-col vs-w="6" class="px-2">
                                        <vs-input v-model="form.phone" label="Phone 1" class="w-full" />
                                    </vs-col>
                                    <vs-col vs-w="6" class="px-2">
                                        <vs-input v-model="form.phone2" label="Phone 2" class="w-full" />
                                    </vs-col>
                                </vs-row>

                                <vs-row class="mb-4">
                                    <vs-col vs-w="6" class="px-2">
                                        <vs-input v-model="form.npwp" label="NPWP" class="w-full" />
                                    </vs-col>
                                </vs-row>
                                <vs-row class="mb-4">
                                    <vs-col vs-w="6" class="px-2">
                                        <vs-input v-model="form.bankName" label="Nama Bank" class="w-full" />
                                    </vs-col>
                                    <vs-col vs-w="6" class="px-2">
                                        <vs-input v-model="form.bankAccount" label="Nomor Rekening" class="w-full" />
                                    </vs-col>
                                </vs-row>
                                <vs-row class="mb-4">
                                    <vs-col vs-w="6" class="px-3">
                                        <vs-input v-model="form.namaPKP" label="Nama PKP" class="w-full" />
                                    </vs-col>
                                    <vs-col vs-w="6" class="px-3">
                                        <vs-input v-model="form.alamatPKP" label="Alamat PKP" class="w-full" />
                                    </vs-col>
                                    <vs-col vs-w="6" class="px-3">
                                        <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Lokasi
                                            Vendor: </span>
                                        <v-select v-model="form.vendorLoc" :clearable="false"
                                            :getOptionLabel="option => option.code" :options="listLoc" class="w-full">
                                            <template #option="{code, location}">
                                                <cite>{{ code }}</cite> - {{ location }}
                                            </template>
                                        </v-select>
                                    </vs-col>
                                </vs-row>
                                <vs-row class="mb-4">
                                    <vs-col vs-w="12" class="px-2">
                                        <vs-textarea label="PIC Vendor" v-model="form.vendorPic"
                                            class="w-full p-3 my-4" />
                                    </vs-col>
                                </vs-row>
                                <vs-row class="mb-4">
                                    <vs-col vs-w="6" class="px-2">
                                        <vs-select v-show="modalTitle !== 'Add'" v-model="form.status"
                                            label="Status Customer" class="w-full">
                                            <vs-select-item key="active" value="active" text="Active" />
                                            <vs-select-item key="inactive" value="inactive" text="Inactive" />
                                        </vs-select>
                                    </vs-col>
                                </vs-row>
                            </div>
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>
                <!-- POPUP -->
                <vs-popup title="View Data" :active.sync="viewPopUp">
                    <VuePerfectScrollbar class="scroll-area p-2 scrollHeight" :settings="settings" :key="$vs.rtl">
                        <vs-row class="mb-4">
                            <vs-col vs-w="6" class="px-2">
                                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Tipe Customer:
                                </span> <br>
                                <b style="padding-left:15px; padding-right:15px;">{{form.type | capitalize}} </b>
                            </vs-col>
                        </vs-row>
                        <div v-if="form.type == 'pribadi'">
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> NIK:
                                    </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.nik}} </b>
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Nama:
                                    </span> <br>
                                    <vs-row class="mb-4">
                                        <b style="padding-left:15px; padding-right:15px;">{{form.customerName}} </b>
                                        <vs-chip v-if="form.status === 'active'" color="success">
                                            {{form.status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="danger">
                                            {{form.status | capitalize}}
                                        </vs-chip>
                                    </vs-row>

                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="12" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Alamat KTP:
                                    </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.address}} </b>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Tempat,
                                        Tanggal Lahir: </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.birthdayPlace}} </b>
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Keterangan:
                                    </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.note}} </b>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-3">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Phone 1:
                                    </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.phone}} </b>
                                </vs-col>
                                <vs-col vs-w="6" class="px-3">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Phone 2:
                                    </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.phone2}} </b>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-3">
                                    <span v-if="form.id != null"
                                        style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Scan KTP:
                                    </span>
                                    <div v-for="(tr, indextr) in ktpfile" :key="indextr" style="padding-left:25px; ">
                                        <table style="width:100%;">
                                            <tr>
                                                <td>
                                                    <a :href="'/storage/'+tr" target="_blank">
                                                        <img :src="'/storage/'+tr" alt="" width="300" height="300">
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </vs-col>
                            </vs-row>
                        </div>
                        <div v-if="form.type == 'corporate'">
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Nama:
                                    </span> <br>
                                    <vs-row class="mb-4">
                                        <b style="padding-left:15px; padding-right:15px;">{{form.customerName}} </b>
                                        <vs-chip v-if="form.status === 'active'" color="success">
                                            {{form.status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="danger">
                                            {{form.status | capitalize}}
                                        </vs-chip>
                                    </vs-row>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="12" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Alamat:
                                    </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.address}} </b>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Nomor NIB:
                                    </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.nib}} </b>
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Nomor SPKP:
                                    </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.spkp}} </b>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Phone 1:
                                    </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.phone}} </b>
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Phone 2:
                                    </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.phone2}} </b>
                                </vs-col>
                            </vs-row>

                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> NPWP:
                                    </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.npwp}} </b>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Nama Bank:
                                    </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.bankName}} </b>
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Nomor
                                        Rekening: </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.bankAccount}} </b>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-3">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Nama PKP:
                                    </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.namaPKP}} </b>
                                </vs-col>
                                <vs-col vs-w="6" class="px-3">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Alamat PKP:
                                    </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.alamatPKP}} </b>
                                </vs-col>
                                <vs-col vs-w="6" class="px-3">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Lokasi
                                        Vendor: </span> <br>
                                    <b style="padding-left:15px; padding-right:15px;">{{form.vendorLoc != null ? form.vendorLoc.code : ""}}-{{form.vendorLoc != null ? form.vendorLoc.location : ""}}
                                    </b>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="12" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> PIC Vendor:
                                    </span>
                                    <pre style="font-style:left;">
                                        <b>{{form.vendorPic}}</b>
                                    </pre>
                                </vs-col>
                            </vs-row>
                        </div>

                    </VuePerfectScrollbar>
                </vs-popup>

            </vx-card>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    components: {
        vSelect,
        VuePerfectScrollbar,
    },
    data() {
        return {
            max: 0,
            min: 0,
            prefix: 'Rp ',
            addNewDataSidebar: false,
            activeConfirm: false,
            viewPopUp: false,
            modalPromptActive: false,
            modalTitle: null,
            createe: null,
            updatee: null,
            deletee: null,
            access: null,
            form: {
                id: null,
                code: null,
                nik: null,
                nib: null,
                spkp: null,
                birthdayPlace: null,
                customerName: null,
                address: null,
                note: null,
                phone: null,
                phone2: null,
                npwp: null,
                reference: null,
                currency: "IDR",
                namaPKP: null,
                alamatPKP: null,
                bankName: null,
                bankAccount: null,
                creditLimit: 0,
                status: 'active',
                vendorLoc: null,
                vendorPic: null,
                type: 'pribadi',
            },
            ktpfile: null,
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            customers: [],
            listLoc: [{
                    location: "Aceh",
                    code: "AC"
                },
                {
                    location: "Bali",
                    code: "BA"
                },
                {
                    location: "Banten",
                    code: "BT"
                },
                {
                    location: "Bengkulu",
                    code: "BE"
                },
                {
                    location: "Gorontalo",
                    code: "GO"
                },
                {
                    location: "Jakarta",
                    code: "JK"
                },
                {
                    location: "Jambi",
                    code: "JA"
                },
                {
                    location: "Jawa Barat",
                    code: "JB"
                },
                {
                    location: "Jawa Tengah",
                    code: "JT"
                },
                {
                    location: "Jawa Timur",
                    code: "JI"
                },
                {
                    location: "Kalimantan Barat",
                    code: "KB"
                },
                {
                    location: "Kalimantan Selatan",
                    code: "KS"
                },
                {
                    location: "Kalimantan Tengah",
                    code: "KT"
                },
                {
                    location: "Kalimantan Timur",
                    code: "KI"
                },
                {
                    location: "Kalimantan Utara",
                    code: "KU"
                },
                {
                    location: "Kepulauan Bangka Belitung",
                    code: "BB"
                },
                {
                    location: "Kepulauan Riau",
                    code: "KR"
                },
                {
                    location: "Lampung",
                    code: "LA "
                },
                {
                    location: "Maluku",
                    code: "MA"
                },
                {
                    location: "Maluku Utara",
                    code: "MU"
                },
                {
                    location: "Nusa Tenggara Barat",
                    code: "NB"
                },
                {
                    location: "Nusa Tenggara Timur",
                    code: "NT"
                },
                {
                    location: "Papua",
                    code: "PA"
                },
                {
                    location: "Papua Barat",
                    code: "PB"
                },
                {
                    location: "Riau",
                    code: "RI "
                },
                {
                    location: "Sulawesi Barat",
                    code: "SR "
                },
                {
                    location: "Sulawesi Selatan",
                    code: "SS"
                },
                {
                    location: "Bendera Sulawesi Selatan",
                    code: "SN"
                },
                {
                    location: "Sulawesi Tengah",
                    code: "ST"
                },
                {
                    location: "Sulawesi Tenggara",
                    code: "SG"
                },
                {
                    location: "Sulawesi Utara",
                    code: "SA"
                },
                {
                    location: "Sumatera Barat",
                    code: "SB"
                },
                {
                    location: "Sumatera Selatan",
                    code: "SS "
                },
                {
                    location: "Sumatera Utara",
                    code: "SU"
                },
                {
                    location: "Daerah Istimewa Yogyakarta",
                    code: "YO"
                },
            ],

            urlupload: this.$baseURL + "/master/customers/uploadktp",

        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData()
    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"
            this.$http.get(this.$baseURL + '/master/customers?filter=company_id|' + com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.customers = res.data.data;
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err.data.message);
                this.$options.filters.auth(err.response.data.message);
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.path == this.access[acc].url) {
                    this.createe = this.access[acc].createe;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }
        },
        viewData(data) {
            this.$http.get(this.$baseURL + '/master/customers/' + data.customer_id + '/getfile', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.ktpfile = res.data.file;
                if (this.ktpfile[0] == undefined) {
                    this.ktpfile = null;
                }
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err.data.message);
                this.$options.filters.auth(err.response.data.message);
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

            this.form.id = data.customer_id;
            this.form.code = data.code;
            this.form.nik = data.nik;
            this.form.nib = data.nib;
            this.form.spkp = data.spkp;
            this.form.birthdayPlace = data.birthday_place;
            this.form.note = data.note;
            this.form.customerName = data.name;
            this.form.address = data.address;
            if (data.vendor_loc != null) {
                this.form.vendorLoc = this.listLoc.filter(m => m.code === data.vendor_loc);
                this.form.vendorLoc = this.form.vendorLoc[0];
            }
            this.form.vendorPic = data.vendor_pic;
            this.form.address = data.address;
            this.form.phone = data.phone;
            this.form.phone2 = data.phone2;
            this.form.reference = data.reference;
            this.form.npwp = data.npwp;
            this.form.namaPKP = data.pkp_name;
            this.form.alamatPKP = data.pkp_address;
            this.form.creditLimit = data.credit_limit;
            this.form.suplierStatus = data.status;
            this.form.bankName = data.bank_name;
            this.form.bankAccount = data.bank_account;
            this.form.type = data.type;
            this.viewPopUp = true;
        },
        addNewData() {
            this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true
        },
        editData(data) {
            this.$http.get(this.$baseURL + '/master/customers/' + data.customer_id + '/getfile', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.ktpfile = res.data.file;
                if (this.ktpfile[0] == undefined) {
                    this.ktpfile = null;
                }
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err.data.message);
                this.$options.filters.auth(err.response.data.message);
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

            this.modalTitle = "Edit";
            this.form.id = data.customer_id;
            this.form.code = data.code;
            this.form.nik = data.nik;
            this.form.nib = data.nib;
            this.form.spkp = data.spkp;
            this.form.birthdayPlace = data.birthday_place;
            this.form.note = data.note;
            this.form.customerName = data.name;
            this.form.address = data.address;
            if (data.vendor_loc != null) {
                this.form.vendorLoc = this.listLoc.filter(m => m.code === data.vendor_loc);
                // console.log(this.form.vendorLoc);

                this.form.vendorLoc = this.form.vendorLoc[0];
            }
            this.form.vendorPic = data.vendor_pic;
            this.form.address = data.address;
            this.form.phone = data.phone;
            this.form.phone2 = data.phone2;
            this.form.reference = data.reference;
            this.form.npwp = data.npwp;
            this.form.namaPKP = data.pkp_name;
            this.form.alamatPKP = data.pkp_address;
            this.form.creditLimit = data.credit_limit;
            this.form.suplierStatus = data.status;
            this.form.type = data.type;
            this.form.bankName = data.bank_name;
            this.form.bankAccount = data.bank_account;
            this.modalPromptActive = true
        },

        deleteData(data) {
            this.form.id = data.customer_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan menghapus data?',
                accept: this.acceptAlert
            })
        },
        deletefile(tr) {
            var dt = {
                pat: tr,
            };
            this.$http.post(this.$baseURL + '/master/customers/deletefile',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                this.ktpfile = null;
                this.promptAlert("success", "Success", "File KTP dihapus");
                this.loadData();
            }).catch(err => {
                this.$vs.loading.close()
                if (err.response.data.message == "Unauthenticated") {
                    this.$options.filters.auth(err.response.data.message)
                }
            });
        },
        acceptAlert() {
            this.$vs.loading({
                type: 'radius'
            });
            this.$http.delete(this.$baseURL + '/master/customers/' + this.form.id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.promptAlert("success", "Success", "Data berhasil dihapus");
                this.loadData();
            }).catch(err => {
                this.$vs.loading.close()
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            });
        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            this.$vs.loading({
                type: 'radius'
            });
            const formData = new FormData();
            formData.append('code', this.form.code);
            formData.append('name', this.form.customerName);
            formData.append('nik', this.form.nik);
            formData.append('nib', this.form.nib);
            formData.append('spkp', this.form.spkp);
            formData.append('birthday_place', this.form.birthdayPlace);
            formData.append('note', this.form.note);
            formData.append('vendor_loc', this.form.vendorLoc != null ? this.form.vendorLoc.code : "");
            formData.append('vendor_pic', this.form.vendorPic);
            formData.append('address', this.form.address);
            formData.append('bank_name', this.form.bankName);
            formData.append('bank_account', this.form.bankAccount);
            formData.append('phone', this.form.phone);
            formData.append('phone2', this.form.phone2);
            formData.append('reference', this.form.reference);
            formData.append('currency_code', this.form.currency);
            formData.append('npwp', this.form.npwp);
            formData.append('pkp_name', this.form.namaPKP);
            formData.append('pkp_address', this.form.alamatPKP);
            formData.append('credit_limit', this.form.creditLimit);
            formData.append('status', this.form.status);
            formData.append('type', this.form.type);

            if (this.modalTitle == "Add") {
                // AXIOS POST
                this.$http.post(this.$baseURL + '/master/customers/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    // console.log(res.data.data);
                    this.promptAlert("success", "Success", "Data berhasil ditambahkan");
                    this.loadData();
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })

            } else {
                formData.append('_method', 'PUT');
                // AXIOS PUT
                this.$http.post(this.$baseURL + '/master/customers/' + this.form.id + '/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    // console.log(res.data.data);
                    this.promptAlert("success", "Success", "Data berhasil diubah");
                    this.loadData()
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })

            }
        },
        successUpload() {
            this.modalPromptActive = false;
            this.promptAlert('success', 'success upload');

            this.loadData();
        },

        resetPrompt() {
            this.form.id = null;
            this.form.code = null;
            this.form.nik = null;
            this.form.nib = null;
            this.form.spkp = null;
            this.form.birthdayPlace = null;
            this.form.note = null;
            this.form.customerName = null;
            this.form.address = null;
            this.form.vendorLoc = null
            this.form.vendorPic = null;
            this.form.address = null;
            this.form.phone = null;
            this.form.phone2 = null;
            this.form.reference = null;
            this.form.npwp = null;
            this.form.namaPKP = null;
            this.form.alamatPKP = null;
            this.form.creditLimit = null;
            this.form.suplierStatus = null;
            this.form.type = null;
            this.form.bankName = null;
            this.form.bankAccount = null;
            this.ktpfile = null;
        }

    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            // max-height: 95vh;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                    
                }               
            }
        } 
    } 
    .con-vs-popup { 
        .vs-popup{
            width: 50%;
        }
    } 
</style>

