<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-karyawan">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="employees">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>

                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <download-excel name="karyawan-data.xls" :data="employees">
                                            <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            Export Excel
                                        </download-excel>
                                    </vs-dropdown-item>

                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>

                            <!--  ADD NEW -->
                            <div v-if="createe == true"
                                class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>

                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="position">Posisi</vs-th>
                        <vs-th sort-key="name">Nama</vs-th>
                        <vs-th sort-key="email">Telepon</vs-th>
                        <vs-th sort-key="address">Alamat KTP</vs-th>
                        <vs-th sort-key="gender">Jenis Kelamin</vs-th>
                        <vs-th sort-key="status">Status</vs-th>
                        <vs-th sort-key="action">Action</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td :data="data[indextr].position">
                                {{data[indextr].position | capitalize}}
                            </vs-td>
                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name | capitalize}}
                            </vs-td>
                            <vs-td :data="data[indextr].phone">
                                {{data[indextr].phone}}
                            </vs-td>
                            <vs-td :data="data[indextr].address">
                                {{data[indextr].address}}
                            </vs-td>
                            <vs-td :data="data[indextr].gender">
                                {{data[indextr].gender | capitalize}}
                            </vs-td>
                            <vs-td :data="data[indextr].status">
                                <vs-chip :color="data[indextr].status == 'active' ? 'primary':'danger'">
                                    {{data[indextr].status | capitalize}} </vs-chip>
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- MODAl ADD NEW KARYAWAN -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.name" label="Nama" class="w-full" required />
                                </vs-col>
                                <vs-col vs-w="3" v-if="modalTitle==='Edit'" class="px-2">
                                    <vs-input v-model="form.indukKaryawan" disabled label="No. Induk Karyawan"
                                        class="w-full" required />
                                </vs-col>
                                <vs-col vs-w="3" class="px-2">
                                    <vs-input v-model="form.nik" label="NIK" class="w-full" required />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="3" class="px-2">
                                    <vs-input v-model="form.tempatLahir" label="Tempat " class="w-full" required />
                                </vs-col>
                                <vs-col vs-w="3" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7);  margin-left:5px; ">Tanggal
                                        Lahir</span><span style="color:red;">*</span>
                                    <datepicker required placeholder="Pilih Tanggal" label="Birthday"
                                        v-model="form.birthday" :format="format" style="  width:100%;">
                                    </datepicker>
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7);  margin-left:5px; ">Jenis
                                        Kelamin</span><span style="color:red;">*</span>
                                    <v-select v-model="form.gender" :clearable="false" :options="genderOptions"
                                        style=" " name="gender" required />
                                </vs-col>
                            </vs-row>

                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.addressKTP" label="Alamat KTP" class="w-full" required />
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.addressNow" label="Alamat Saat Ini" class="w-full"
                                        required />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <span
                                        style="font-size:11.9px; color:rgba(0,0,0,0.7);  margin-left:5px; ">Agama</span>
                                    <v-select v-model="form.agama" :clearable="false" :options="agamaOptions" style=" "
                                        name="gender" required />
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.education" label="Pendidikan Terakhir" class="w-full"
                                        required />
                                </vs-col>
                            </vs-row>

                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7);  margin-left:5px; ">Tanggal
                                        Masuk Kerja </span><span style="color:red;">*</span>
                                    <datepicker required placeholder="Pilih Tanggal" label="Birthday"
                                        v-model="form.datejoin" :format="format" style="  width:100%;"
                                        :minimumView="'day'" :maximumView="'month'">
                                    </datepicker>
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Penempatan
                                        <span style="color:red;">*</span>
                                    </span>
                                    <v-select v-model="form.penempatan" :clearable="false" required
                                        :getOptionLabel="option => option.location" :options="option_region"
                                        class="w-full">
                                        <template #option="{id, location}">
                                            <cite>{{ id }}</cite> - {{ location }}
                                        </template>
                                    </v-select>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.npwp" label="NPWP" class="w-full" required />
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.bpjs" label="BPJS" class="w-full" required />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="4" class="px-2">
                                    <vs-input v-model="form.bank" label="BANK" class="w-full" required />
                                </vs-col>
                                <vs-col vs-w="4" class="px-2">
                                    <vs-input v-model="form.cabang" label="Cabang" class="w-full" required />
                                </vs-col>
                                <vs-col vs-w="4" class="px-2">
                                    <vs-input v-model="form.norek" label="No Rekening" class="w-full" required />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <span
                                        style="font-size:11.9px; color:rgba(0,0,0,0.7);  margin-left:5px; ">Posisi</span><span
                                        style="color:red;">*</span>
                                    <v-select class="col-12" v-model="form.position" :clearable="false" label="name"
                                        :options="positionOptions" name="position" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Status
                                        Karyawan: </span>
                                    <v-select v-model="form.statusKaryawan" :clearable="false" required
                                        :getOptionLabel="option => option.status" :options="listStatusKaryawan"
                                        class="w-full">
                                        <template #option="{code, status}">
                                            <cite>{{ code }}</cite> - {{ status }}
                                        </template>
                                    </v-select>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.emailPribadi" label="Email Pribadi" type="email"
                                        class="w-full" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.emailPerusahaan" label="Email Perusahaan" type="email"
                                        class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="4" class="px-2">
                                    <vs-input v-model="form.phone" label="Telepon*" class="w-full" required />
                                </vs-col>
                                <vs-col vs-w="4" class="px-2">
                                    <vs-input v-model="form.phone2" label="Telepon #2" class="w-full" />
                                </vs-col>
                            </vs-row>

                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <label class="vs-input--label" for="">Gaji (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input v-model.lazy="form.wage" :currency="{prefix}"
                                            :precision="{min,max}" locale="de" placeholder="Rp. 100.000"
                                            class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </vs-col>
                                <vs-col vs-w="3" class="px-2">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7);  margin-left:5px; ">Status
                                        Pekawinan</span><span style="color:red;">*</span>
                                    <v-select v-model="form.marriage" :clearable="false" :options="marriageOptions"
                                        style=" " name="marriage" required />
                                </vs-col>
                                <vs-col vs-w="3" class="px-2">
                                    <vs-select v-show="modalTitle !== 'Add'" v-model="form.status"
                                        label="Customer Status" class="w-full">
                                        <vs-select-item key="active" value="active" text="Active" />
                                        <vs-select-item key="inactive" value="inactive" text="Inactive" />
                                    </vs-select>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4 px-3">
                                <vs-col vs-w="4">
                                    <span v-if="form.id != null"
                                        style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Scan KTP:
                                    </span>
                                    <div v-for="(tr, indextr) in form.ktpfile" :key="indextr"
                                        style="padding-left:25px; ">
                                        <table style="width:100%;">
                                            <tr>
                                                <td>
                                                    <a :href="'/storage/'+tr" target="_blank">
                                                        <img :src="'/storage/'+tr" alt=""  style="height:auto; width:100%;">
                                                    </a>
                                                </td>
                                                <td style="width:20px;">
                                                    <feather-icon v-tooltip="'Delete'" icon="TrashIcon"
                                                        svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                                        class="ml-2" @click.stop="deletefile(tr)" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <vs-upload v-if="form.ktpfile == null && form.id != null" automatic
                                        text="Upload File Image *Max 7MB" :single-upload="true" fileName="ktpempl"
                                        :data="form" :action="urlupload" @on-success="successUpload" />
                                </vs-col>
                                <vs-col vs-w="4">
                                    <span v-if="form.id != null"
                                        style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Scan NPWP:
                                    </span>
                                    <div v-for="(tr, indextr) in form.npwpfile" :key="indextr"
                                        style="padding-left:25px; ">
                                        <table style="width:100%;">
                                            <tr>
                                                <td>
                                                    <a :href="'/storage/'+tr" target="_blank">
                                                        <img :src="'/storage/'+tr" alt="" style="height:auto; width:100%;">
                                                    </a>
                                                </td>
                                                <td style="width:20px;">
                                                    <feather-icon v-tooltip="'Delete'" icon="TrashIcon"
                                                        svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                                        class="ml-2" @click.stop="deletefile(tr)" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <vs-upload v-if="form.npwpfile == null && form.id != null" automatic
                                        text="Upload File Image *Max 7MB" :single-upload="true" fileName="npwpempl"
                                        :data="form" :action="urluploadnpwp" @on-success="successUpload" />
                                </vs-col>
                                <vs-col vs-w="4">
                                    <span v-if="form.id != null"
                                        style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Scan Ijazah:
                                    </span>
                                    <div v-for="(tr, indextr) in form.ijazahfile" :key="indextr"
                                        style="padding-left:25px; ">
                                        <table style="width:100%;">
                                            <tr>
                                                <td>
                                                    <a :href="'/storage/'+tr" target="_blank">
                                                        <img :src="'/storage/'+tr" alt="" style="height:auto; width:100%;">
                                                    </a>
                                                </td>
                                                <td style="width:20px;">
                                                    <feather-icon v-tooltip="'Delete'" icon="TrashIcon"
                                                        svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                                        class="ml-2" @click.stop="deletefile(tr)" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <vs-upload v-if="form.ijazahfile == null && form.id != null" automatic
                                        text="Upload File Image *Max 7MB" :single-upload="true" fileName="ijazahempl"
                                        :data="form" :action="urluploadijazah" @on-success="successUpload" />
                                </vs-col>
                            </vs-row>

                            <vs-row class="mb-4">
                                <vs-col vs-w="4">
                                    <span v-if="form.id != null"
                                        style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Foto: </span>
                                    <div v-for="(tr, indextr) in form.fotofile" :key="indextr"
                                        style="padding-left:25px; ">
                                        <table style="width:100%;">
                                            <tr>
                                                <td>
                                                    <a :href="'/storage/'+tr" target="_blank">
                                                        <img :src="'/storage/'+tr" alt="" style="height:auto; width:100%;">
                                                    </a>
                                                </td>
                                                <td style="width:20px;">
                                                    <feather-icon v-tooltip="'Delete'" icon="TrashIcon"
                                                        svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                                        class="ml-2" @click.stop="deletefile(tr)" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <vs-upload v-if="form.fotofile == null && form.id != null" automatic
                                        text="Upload File Image *Max 7MB" :single-upload="true" fileName="fotoempl"
                                        :data="form" :action="urluploadfoto" @on-success="successUpload" />
                                </vs-col>
                                
                            </vs-row>
                            <vs-row class="mb-4 px-3">
                                    <span v-if="form.id != null"
                                        style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> File Lain:
                                    </span>
                                    <div style="padding-left:25px; ">
                                        <table style="width:100%;">
                                            <tr v-for="(tr, indextr) in form.miscfile" :key="indextr">
                                                <td>
                                                    <a :href="'/storage/'+tr" target="_blank">
                                                        {{tr}}
                                                    </a>
                                                </td>
                                                <td style="width:20px;">
                                                    <feather-icon v-tooltip="'Delete'" icon="TrashIcon"
                                                        svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                                        class="ml-2" @click.stop="deletefile(tr)" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <vs-upload v-if="form.id != null" automatic text="Upload File *Max 7MB"
                                        :single-upload="true" fileName="miscempl" :data="form" :action="urluploadmisc"
                                        @on-success="successUpload" />
                                
                            </vs-row>
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>
                <!-- !END MODAl ADD NEW KARYAWAN -->

                <!-- MODAL VIEW KARYAWAN -->
                <vs-popup title="View Data" :active.sync="viewPopUp">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <vx-card title="Account" class="mb-base">
                            <!-- Avatar -->
                            <div class="vx-row">
                                <!-- Avatar Col -->
                                <div class="vx-col" id="avatar-col">
                                    <div v-for="(tr, indextr) in form.fotofile" :key="indextr"
                                        class="img-container mb-4">
                                        <a :href="'/storage/'+tr" target="_blank">
                                            <img :src="'/storage/'+tr" alt="" width="250" height="200">
                                        </a>
                                    </div>
                                </div>

                                <!-- Information - Col 1 -->
                                <div class="vx-col flex-1" id="account-info-col-1">
                                    <table>
                                        <tr>
                                            <td class="font-semibold" width="100">NIK</td>
                                            <td> {{ form.nik }}</td>
                                        </tr>
                                        <!-- <vs-divider class="my-1" /> -->
                                        <tr>
                                            <td class="font-semibold" width="100">Nama</td>
                                            <td> {{ form.name }}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-semibold">Tanggal Lahir</td>
                                            <td>{{form.tempatLahir}}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-semibold">Telepon</td>
                                            <td>{{ form.phone  }} / {{form.phone2}}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-semibold" width="100">Agama</td>
                                            <td> {{ form.agama != null ? form.agama.value : "" | capitalize }}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-semibold" width="100">Pendidikan</td>
                                            <td> {{ form.education }}</td>
                                        </tr>
                                    </table>
                                </div>

                                <!-- Information - Col 2 -->
                                <div class="vx-col flex-1" id="account-info-col-2">
                                    <table>
                                        <tr>
                                            <td width="100" class="font-semibold">Penempatan</td>
                                            <td>{{form.penempatan != null ? form.penempatan.code : "" | capitalize}}-{{form.penempatan != null ? form.penempatan.location : "" | capitalize}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="100" class="font-semibold">Posisi</td>
                                            <td>{{form.position | capitalize}}</td>
                                        </tr>
                                        <tr>
                                            <td width="100" class="font-semibold">Status Karyawan</td>
                                            <td>{{form.statusKaryawan != null ? form.statusKaryawan.code : "" | capitalize}}-
                                                {{form.statusKaryawan != null ? form.statusKaryawan.status : "" | capitalize}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-semibold">Status Perkawinan</td>
                                            <td>{{form.marriage != null ? form.marriage.value: "" | capitalize}} Kawin
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-semibold">Date Join</td>
                                            <td>{{ form.datejoin | moment("DD-MM-YYYY")}}</td>
                                            <!-- <td>{{ form.datejoin}}</td> -->
                                        </tr>
                                        <tr>
                                            <td class="font-semibold">Status</td>
                                            <td>
                                                <vs-chip :color="form.status == 'active' ? 'primary':'danger'">
                                                    {{form.status | capitalize}} </vs-chip>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </vx-card>

                        <div class="vx-col w-full">
                            <vx-card title="Information" class="mb-base">
                                <table class="w-full">
                                    <tr class="border-bottom">
                                        <td class="font-semibold">Email Pribadi</td>
                                        <td>{{ form.emailPribadi }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-semibold">Email Perusahaan</td>
                                        <td>{{ form.emailPerusahaan }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-semibold">Alamat KTP</td>
                                        <td>{{ form.addressKTP  }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-semibold">Alamat Saat Ini</td>
                                        <td>{{ form.addressNow  }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-semibold">NPWP</td>
                                        <td>{{  form.npwp  }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-semibold">BPJS</td>
                                        <td>{{  form.bpjs  }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-semibold">Bank</td>
                                        <td>{{ form.bank }}, {{form.cabang}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-semibold">No Rekening</td>
                                        <td>{{ form.norek }}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-semibold">Gaji</td>
                                        <td>Rp.{{ form.wage | currency }}</td>
                                    </tr>
                                </table>
                            </vx-card>
                        </div>
                        <div class="vx-col w-full">
                            <vx-card v-if="form.npwpfile != null" title="NPWP" class="mb-base">
                                <div v-for="(tr, indextr) in form.npwpfile" :key="indextr" style="padding-left:25px; ">
                                    <table style="width:100%;">
                                        <tr>
                                            <td>
                                                <a :href="'/storage/'+tr" target="_blank">
                                                    <img :src="'/storage/'+tr" alt="" width="300" height="300">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </vx-card>
                        </div>
                        <div class="vx-col w-full">
                            <vx-card v-if="form.ijazahfile != null" title="Ijazah" class="mb-base">
                                <div v-for="(tr, indextr) in form.ijazahfile" :key="indextr"
                                    style="padding-left:25px; ">
                                    <table style="width:100%;">
                                        <tr>
                                            <td>
                                                <a :href="'/storage/'+tr" target="_blank">
                                                    <img :src="'/storage/'+tr" alt="" width="300" height="300">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </vx-card>
                        </div>
                        <div class="vx-col w-full">
                            <vx-card v-if="form.fotofile != null" title="Foto" class="mb-base">
                                <div v-for="(tr, indextr) in form.fotofile" :key="indextr" style="padding-left:25px; ">
                                    <table style="width:100%;">
                                        <tr>
                                            <td>
                                                <a :href="'/storage/'+tr" target="_blank">
                                                    <img :src="'/storage/'+tr" alt="" width="300" height="300">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </vx-card>
                        </div>
                        <div class="vx-col w-full">
                            <vx-card v-if="form.miscfile != null" title="Lain-lain" class="mb-base">
                                <div v-for="(tr, indextr) in form.miscfile" :key="indextr" style="padding-left:25px; ">
                                    <table style="width:100%;">
                                        <tr>
                                            <td>
                                                <a :href="'/storage/'+tr" target="_blank">
                                                    {{tr}}
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </vx-card>
                        </div>
                    </VuePerfectScrollbar>
                </vs-popup>
                <!-- END MODAL VIEW KARYAWAN -->

            </vx-card>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Region from '@/mixins/region'

export default {
    components: {
        vSelect,
        Datepicker,
        VuePerfectScrollbar,

    },
    mixins: [Region],
    data() {
        return {
            max: 0,
            min: 0,
            prefix: 'Rp ',
            loadnya: null,
            format: "d MMMM yyyy",
            format_ID: "DD-MM-YYYY",
            viewPopUp: false,
            activeConfirm: false,
            modalPromptActive: false,
            modalTitle: null,
            createe: null,
            updatee: null,
            deletee: null,
            access: null,
            momentVar: null,
            form: {
                id: null,
                nik: null,
                indukKaryawan: null,
                name: null,
                tempatLahir: null,
                birthday: null,
                gender: null,
                addressKTP: null,
                addressNow: null,
                agama: null,
                education: null,
                datejoin: new Date(),
                penempatan: null,
                npwp: null,
                bpjs: null,
                bank: null,
                cabang: null,
                norek: null,
                position: null,
                statusKaryawan: null,
                emailPribadi: null,
                emailPerusahaan: null,
                phone: null,
                phone2: null,
                wage: 0,
                marriage: null,
                ktpfile: null,
                npwpfile: null,
                ijazahfile: null,
                fotofile: null,
                miscfile: null,
                status: 'Active',
            },
            genderOptions: ["laki-laki", "perempuan"],
            agamaOptions: [{
                    label: "Islam",
                    value: "islam"
                },
                {
                    label: "Kristen",
                    value: "kristen"
                },
                {
                    label: "Katolik",
                    value: "katolik"
                },
                {
                    label: "Hindu",
                    value: "hindu"
                },
                {
                    label: "Buddha",
                    value: "buddha"
                },
                {
                    label: "Kong Hu Cu",
                    value: "kong hu cu"
                },
            ],
            marriageOptions: [{
                    label: "Sudah",
                    value: "sudah"
                },
                {
                    label: "Belum",
                    value: "belum"
                },
            ],
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            positionOptions: ["Sales", "Staff"],
            employees: [],
            listStatusKaryawan: [{
                    status: "Karyawan Tetap",
                    code: "1"
                },
                {
                    status: "Karyawan Kontrak",
                    code: "2"
                },
                {
                    status: "Karyawan Magang",
                    code: "3"
                }
            ],
            urlupload: this.$baseURL + "/master/karyawan/uploadktp",
            urluploadnpwp: this.$baseURL + "/master/karyawan/uploadnpwp",
            urluploadijazah: this.$baseURL + "/master/karyawan/uploadijazah",
            urluploadfoto: this.$baseURL + "/master/karyawan/uploadfoto",
            urluploadmisc: this.$baseURL + "/master/karyawan/uploadmisc",

        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.momentVar = this.$moment;
        this.loadData();

    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
        gender: {
            get() {
                return {
                    label: this.form.gender,
                    value: this.form.gender
                }
            },
            set(obj) {
                this.form.gender = obj.value;
            }
        }
    },
    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"
            this.$http.get(this.$baseURL + '/master/karyawan?filter=company_id|' + com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.employees = res.data.data;
            }).catch(err => {
                // console.log(err.data.message);
                this.$options.filters.auth(err.response.data.message);
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.path == this.access[acc].url) {
                    this.createe = this.access[acc].createe;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }
        },
        async loadFile(id) {
            this.$http.get(this.$baseURL + '/master/karyawan/' + id + '/getfile', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.form.ktpfile = res.data.fileKTP;
                if (this.form.ktpfile[0] == undefined) {
                    this.form.ktpfile = null;
                }
                this.form.npwpfile = res.data.fileNPWP;
                if (this.form.npwpfile[0] == undefined) {
                    this.form.npwpfile = null;
                }
                this.form.ijazahfile = res.data.fileijazah;
                if (this.form.ijazahfile[0] == undefined) {
                    this.form.ijazahfile = null;
                }
                this.form.fotofile = res.data.filefoto;
                if (this.form.fotofile[0] == undefined) {
                    this.form.fotofile = null;
                }
                this.form.miscfile = res.data.filemisc;
                if (this.form.miscfile[0] == undefined) {
                    this.form.miscfile = null;
                }
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err.data.message);
                this.$options.filters.auth(err.response.data.message);
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));
        },

        viewData(data) {
            this.loadFile(data.karyawan_id);
            this.form.id = data.karyawan_id;
            this.form.position = data.position;
            this.form.nik = data.nik;
            this.form.name = data.name;
            this.form.tempatLahir = data.ttl;
            this.form.birthday = data.born;
            this.form.emailPribadi = data.email;
            this.form.emailPerusahaan = data.emailperusahaan;
            this.form.addressKTP = data.address;
            this.form.addressNow = data.address_now;
            if (data.religion != null) {
                this.form.agama = this.agamaOptions.filter(m => m.value === data.religion);
                this.form.agama = this.form.agama[0];
            }
            this.form.education = data.education;
            this.form.gender = data.gender;
            this.form.phone = data.phone;
            this.form.phone2 = data.phone2;
            // if (data.marriage != null) {
            //     this.form.marriage = this.marriageOptions.filter(m => m.value === data.marriage);
            //     this.form.marriage = this.form.marriage[0];
            // }
            // this.form.datejoin = this.$moment(data.datejoin, this.format_ID).toDate();
            // if (data.penempatan != null) {
            //     this.form.penempatan = this.listLoc.filter(m => m.id === data.penempatan);
            //     this.form.penempatan = this.form.penempatan[0];
            // }
            this.form.npwp = data.npwp;
            this.form.bpjs = data.bpjs;
            this.form.wage = data.salary;
            this.form.bank = data.bank_name;
            this.form.cabang = data.bank_branch;
            this.form.norek = data.bank_account;
            // if (data.status_karyawan != null) {
            //     this.form.statusKaryawan = this.listStatusKaryawan.filter(m => m.code === data.status_karyawan);
            //     this.form.statusKaryawan = this.form.statusKaryawan[0];
            // }
            this.form.status = data.status;
            this.viewPopUp = true;

        },
        addNewData() {
            this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true;
        },

        editData(data) {
            // console.log(this.option_region);
            this.loadFile(data.karyawan_id);
            this.modalTitle = "Edit";
            this.form.id = data.karyawan_id;
            this.form.position = data.position;
            this.form.nik = data.nik;
            this.form.indukKaryawan = data.induk_karyawan;
            this.form.name = data.name;
            this.form.tempatLahir = data.cradle;
            this.form.birthday = this.$moment(data.born, "DD-MM-YYYY").toDate();
            this.form.emailPribadi = data.email;
            this.form.emailPerusahaan = data.emailperusahaan;
            this.form.addressKTP = data.address;
            this.form.addressNow = data.address_now;
            if (data.religion != null) {
                this.form.agama = this.agamaOptions.filter(m => m.value === data.religion);
                this.form.agama = this.form.agama[0];
            }
            this.form.education = data.education;
            this.form.gender = data.gender;
            this.form.phone = data.phone;
            this.form.phone2 = data.phone2;
            this.form.datejoin = this.$moment(data.datejoin, "DD-MM-YYYY").toDate();

            if (data.marriage != null) {
                this.form.marriage = this.marriageOptions.filter(m => m.value === data.marriage);
                this.form.marriage = this.form.marriage[0];
            }
            if (data.penempatan != null) {
                this.form.penempatan = this.option_region.filter(m => m.id === parseInt(data.penempatan));
                this.form.penempatan = this.form.penempatan[0];
            }
            this.form.npwp = data.npwp;
            this.form.bpjs = data.bpjs;
            this.form.wage = data.salary;
            this.form.bank = data.bank_name;
            this.form.cabang = data.bank_branch;
            this.form.norek = data.bank_account;
            if (data.status_karyawan != null) {
                this.form.statusKaryawan = this.listStatusKaryawan.filter(m => m.code === data.status_karyawan);
                this.form.statusKaryawan = this.form.statusKaryawan[0];
            }
            this.form.status = data.status;
            this.modalPromptActive = true;
        },

        deleteData(data) {
            this.form.id = data.karyawan_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan menghapus data?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$vs.loading({
                type: 'radius'
            });

            this.$http.delete(this.$baseURL + '/master/karyawan/' + this.form.id + '/delete', {

            }).then(res => {
                this.promptAlert("success", "Success", "Data berhasil dihapus");
                this.loadData();
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err.data.message);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            });

        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            if (this.form.birthday === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Tanggal Lahir tidak boleh kosong',
                })
            } else if (this.form.datejoin === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Tanggal Bergabung tidak boleh kosong',
                })
            } else if (this.form.gender === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Jenis Kelamin belum dipilih',
                })
            } else if (this.form.position === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Posisi tidak boleh kosong',
                })
            } else if (this.form.statusKaryawan === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Status Karyawan tidak boleh kosong',
                })
            } else if (this.form.marriage === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Status Perkawinan tidak boleh kosong',
                })
            } else if (this.form.penempatan === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Penempatan tidak boleh kosong',
                })
            } else {
                this.runSubmit();
            }
        },

        runSubmit() {
            this.$vs.loading({
                type: 'radius'
            });
            const formData = new FormData();
            formData.append('position', (this.form.position ? this.form.position.toLowerCase() : ''));
            formData.append('name', this.form.name);
            formData.append('nik', this.form.nik);
            formData.append('cradle', this.form.tempatLahir);
            formData.append('born', this.$moment(this.form.birthday).format(this.format_ID));
            formData.append('address', this.form.addressKTP);
            formData.append('address_now', this.form.addressNow);
            formData.append('religion', this.form.agama != null ? this.form.agama.value : null);
            formData.append('education', this.form.education);
            // formData.append('datejoin', this.form.datejoin);
            if (this.form.datejoin === null) {
                formData.append('datejoin', this.$moment().format(this.format_ID));
            } else {
                formData.append('datejoin', this.$moment(this.form.datejoin).format(this.format_ID));
            }
            formData.append('penempatan', this.form.penempatan != null ? this.form.penempatan.id : null);
            formData.append('phone', this.form.phone);
            formData.append('phone2', this.form.phone2);
            formData.append('email', this.form.emailPribadi);
            formData.append('email_perusahaan', this.form.emailPerusahaan);
            formData.append('gender', this.form.gender !== null ? this.form.gender : null);
            formData.append('marriage', this.form.marriage !== null ? this.form.marriage.value : null);
            formData.append('npwp', this.form.npwp);
            formData.append('bpjs', this.form.bpjs);
            formData.append('salary', this.form.wage);
            formData.append('bank_name', this.form.bank);
            formData.append('bank_branch', this.form.cabang);
            formData.append('bank_account', this.form.norek);
            formData.append('status_karyawan', this.form.statusKaryawan != null ? this.form.statusKaryawan.code : null);
            formData.append('status', this.form.status.toLowerCase());

            if (this.modalTitle == "Add") {
                this.$http.post(this.$baseURL + '/master/karyawan/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.$vs.notify({
                        color: 'success',
                        title: 'Success',
                        text: 'Data berhasil ditambahkan'
                    })
                    this.resetPrompt();
                    this.loadData();
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err.data.message);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                });
            } else {
                formData.append('_method', 'PUT');

                this.$http.post(this.$baseURL + '/master/karyawan/' + this.form.id + '/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.$vs.notify({
                        color: 'success',
                        title: 'Success',
                        text: 'Data berhasil diubah'
                    })
                    this.resetPrompt();
                    this.loadData();
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err.data.message);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                });
            }
        },

        resetPrompt() {
            this.form.id = null;
            this.form.position = null;
            this.form.nik = null;
            this.form.name = null;
            this.form.tempatLahir = null;
            this.form.birthday = null;
            this.form.emailPribadi = null;
            this.form.emailPerusahaan = null;
            this.form.addressKTP = null;
            this.form.addressNow = null;
            this.form.agama = null;
            this.form.education = null;
            this.form.gender = null;
            this.form.phone = null;
            this.form.phone2 = null;
            this.form.marriage = null;
            this.form.datejoin = null;
            this.form.penempatan = null;
            this.form.npwp = null;
            this.form.bpjs = null;
            this.form.wage = 0;
            this.form.bank = null;
            this.form.cabang = null;
            this.form.norek = null;
            this.form.statusKaryawan = null;
            this.form.status = 'Active';
        },
        deletefile(tr) {
            var dt = {
                pat: tr,
            };
            this.$http.post(this.$baseURL + '/master/karyawan/deletefile',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                this.promptAlert("success", "Success", "File dihapus");
                this.loadData();
                this.loadFile(this.form.id);
            }).catch(err => {
                this.$vs.loading.close()
                if (err.response.data.message == "Unauthenticated") {
                    this.$options.filters.auth(err.response.data.message)
                }
            });
        },
        successUpload() {
            this.loadFile(this.form.id);
            this.promptAlert('success', 'success upload');

        },


    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            
            max-width: 70%;
            width:80%;
            max-height: auto;
            // max-height: 95vh;
            .vs-dialog-text {
                padding: 0;
                  .scroll-area {
                    max-height: 75vh;
                }
            }
        }
    }

    .con-vs-popup .vs-popup {
        width: 70%;
    }
</style>

