<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
<div>
   <vx-card  ref="headerGL" title="" class="user-list-filters mb-8">
          <div class="vx-row">
              <div   style="padding-left:15px;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <h4 v-show="next==false" >Menu Name</h4>
                  <vs-input v-show="next==false" v-model="menuName" class="mt-5 w-full" name="item-menuName" /><br>

                  <h4 v-show="next==true"  style="font-size:16px; color:rgba(0,0,0,0.7); margin-left:5px; margin-top:-10px;">Menu Name</h4> 
                  <br><h5 v-show="next==true"  style="margin-left:15px; margin-top:-10px;" >{{menuName}}</h5>

              </div> 
          </div>
          <div style="float:right">
                <vs-button v-show="next==false" color="success"  type="relief" @click.stop="nextStep()">Next</vs-button>
          </div> 
          <br>    
          <br> 
      </vx-card>

      <vx-card  v-show="next==true"  ref="bodyGL" title="Recipe" class="user-list-filters mb-8">
          <div class="vx-row">
             
          </div>
          
          <br> 
          <div>
            <vs-table  :data="menuRecipes">

                <template slot="thead">
                    <vs-th>No</vs-th>
                    <vs-th>Product</vs-th>
                    <vs-th>Qty</vs-th>
                </template> 
                

                <template slot-scope="{data}">
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr+1">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].product">
                            {{data[indextr].product != null ? data[indextr].product.name : ""}}
                        </vs-td>

                        <vs-td :data="data[indextr].qty">
                             {{data[indextr].qty}}  {{data[indextr].product != null ? data[indextr].product.unit_sm : "" }} 
                        </vs-td>
 
                    </vs-tr>   
                    
                </template> 
            </vs-table>
              <vs-divider/> 
              <div style="text-align:right;">
                <vs-button   style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
              </div>
          </div>

         
      </vx-card>



   </div>   
</template>

<script>
import moment from 'vue-moment'

export default { 
  watch: {
    
  },
  data() {
    return { 
      menuId: null,
      menuName: null,
      
      format: "d MMMM yyyy",
      next:false,
      model: null,
      mode: 'input',
      loading: false,
      stat: null,
      selected: null,
      remark:null,
      amount:null,
      activePrompt2:false,
      formDetail:{
        product:null,
        qty:null,
        unitproduct:null,
      }, 

      editValue:{
        id:null,
        qty:null,
      },
      journalData: {}, 

      dataCOA:null,
      ListProduct:[],

      ListStatus: [
        {text:'Debit',value:'debit'},
        {text:'Kredit',value:'kredit'}, 
      ], 
      menuRecipes:[], 
 
    }
  },
  computed: {  
     validName(){
      // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
    }
  }, 
  created(){
    this.$vs.loading({
          type: 'radius'
      });        
        this.menuId = this.$route.params.idmenujual; 
        this.next= true;
      this.loadrecipedata();  
  },  
  components: {
  },
  methods: {
    

    async loadrecipedata(){
      if(this.menuId != null){
        await this.$http.get(this.$baseURL + '/master/menujuals?filter=id_menu_jual|'+this.menuId, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
              this.menuName = res.data.data[0].menu;
              this.menuRecipes = res.data.data[0].recipes;
              
            }).catch(err => {
                 this.$vs.loading.close()
                console.log(err.data.message);
            });

       await this.$http.get(this.$baseURL + '/accounting/journal/show?filter=journal_id|'+this.journalId, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.journalPosts = res.data.data;
                 this.next=true;
                 this.$vs.loading.close()
            }).catch(err => {
                 this.$vs.loading.close()
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
      }else{
         this.next=false;
        return null
      }
    },
    getunitproduct(){
      this.formDetail.unitproduct = this.formDetail.product.unit_sm;
    },

    

    back(){
       this.$router.push('/pages/menujual').catch(() => {})
    },

      
    
  

  },
  
}
</script>

<style lang="scss" scoped>
@import "@sass/vuexy/extraComponents/autocomplete.scss";
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
