<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-customer">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="produksis">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>
                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <download-excel name="produksi-data.xls" :data="produksis">
                                            <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            Export Excel
                                        </download-excel>
                                    </vs-dropdown-item>
                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>
                            <!-- ADD NEW -->
                            <div v-if="createe == true" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th >No</vs-th>
                        <vs-th >Date</vs-th>
                        <vs-th >Status</vs-th>
                        <vs-th >Input By</vs-th>
                        <vs-th >Action</vs-th>                        
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>
                            <vs-td :data="data[indextr].date">
                                {{data[indextr].date | moment('DD-MM-YYYY')}}
                            </vs-td> 
                             <vs-td :data="data[indextr].status">
                                <vs-chip :color="getchipcolor(data[indextr].status)">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                            </vs-td>
                            <vs-td :data="data[indextr].users">
                                {{data[indextr].users != null ? data[indextr].users.username : ""}}
                            </vs-td>
                            
                            <vs-td>
                                <feather-icon v-if="updatee == true && data[indextr].status != 'complete'" v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                @click.stop="editData(tr)" />
                                <feather-icon v-if="deletee == true && data[indextr].status != 'complete'" v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" />      
                            </vs-td> 
                                          
                        </vs-tr>
                    </template>
                </vs-table>

             

            </vx-card>
        </div>
    </div>
</template>



<script>
import moment from 'vue-moment'
import Datepicker from 'vuejs-datepicker'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    components: {
        Datepicker,
        VuePerfectScrollbar,
    },
    data() {
        return {
            format: "d MMMM yyyy",
            addNewDataSidebar: false,
            activeConfirm: false,
            viewPopUp: false,
            modalPromptActive: false,
            modalTitle: null,
            produksiId:null,
            createe:null,
            updatee:null,
            deletee:null,
            access:null,
            form: {
                salesName: null,
                address: null,
                phone: null,
                wage: null,
                description: null,
                date: null,
                craftsmenStatus: null,
            },
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            produksis: []
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });        
        this.loadData()

    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    methods: {
        getchipcolor(data){
            if(data == 'open') return 'warning'
            else return 'success'
        },
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"

            this.$http.get(this.$baseURL + '/master/menusisa', {
                params: {
                    filter: 'company_id|'+com_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.$vs.loading.close();
                this.produksis = res.data.data;
            }).catch(err => {
                this.$vs.loading.close();
                this.$options.filters.auth(err.response.data.message);
                
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

            this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }
        },
        viewData(data) {
            this.$router.push('/pages/viewmenusisajual/'+data.id_menu_sisa_jual).catch(() => {})
           
        },
        addNewData() {
             this.$router.push('/pages/formmenusisajual').catch(() => {})
        },
        editData(data) {
            this.$router.push('/pages/editmenusisajual/'+data.id_menu_sisa_jual).catch(() => {})
             
        },
               
        deleteData(val) {
            this.produksiId = val.id_menu_sisa_jual;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this Data ?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$http.delete(this.$baseURL + '/master/menusisa/'+ this.produksiId+'/delete',
              {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {  
                 this.loadData();
                 this.$vs.loading.close();
                  this.promptAlert("success","Data Deleted","The selected Data was Successfully Deleted") 
            }).catch(err => {
                 this.$vs.loading.close()
                this.promptAlert("danger","Journal Detail Delete Error",err)   
            }); 

        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            if (this.modalTitle == "Add") {
                console.log("data add");

                this.promptAlert("success", "Sales Added", "The Sales was successfully Added")
            } else {
                console.log("data edited");

                this.promptAlert("success", "Sales Edited", "The Sales was successfully Edited")
            }
        },

        resetPrompt() {
            this.form.salesName = null;
            this.form.address = null;
            this.form.phone = null;
            this.form.description = null;
        }

    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            // max-height: 95vh;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                }
 
            }
        }
 
    } 
</style>

