<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-satuan">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="products">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>
                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <download-excel name="products-data.xls" :data="products"
                                            :fields="productsField">
                                            <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            Export Excel

                                        </download-excel>
                                    </vs-dropdown-item>
                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>
                            <!-- ADD NEW -->
                            <div v-if="createe == true"
                                class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="code">Kode</vs-th>
                        <vs-th sort-key="productName">Produk</vs-th>
                        <!-- <vs-th sort-key="price">Price</vs-th>  -->
                        <vs-th sort-key="qty">Unit Qty</vs-th>
                        <vs-th sort-key="action">Action</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>
                            <vs-td :data="data[indextr].code">
                                {{data[indextr].code}}
                            </vs-td>
                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name}}
                            </vs-td>
                            <vs-td :data="data[indextr].unit_qty">
                                {{data[indextr].unit_qty}}
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- FORM -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2 scrollHeight" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent v-show="modalTitle == 'Add' || modalTitle=='Edit'">
                            <vs-input v-model="form.code" label="Kode" class="w-full" />
                            <vs-input v-model="form.name" label="Nama" class="w-full" />
                            <vs-input v-model="form.description" label="Deskripsi" class="w-full" />
                            <vs-row>
                                <vs-col vs-w="12" class="">
                                    <label class="vs-input--label" for="">Kategori</label>
                                    <span>
                                        <v-select v-model="form.category" :clearable="false" label="name"
                                            :reduce="categoryOptions => categoryOptions.product_c_id"
                                            :options="categoryOptions" name="category" />
                                    </span>
                                </vs-col>
                            </vs-row>
                            <vs-row>
                                <vs-col vs-w="12" class="">
                                    <label class="vs-input--label" for="">Warehouse</label>
                                    <span>
                                        <v-select v-model="form.wh_id" :clearable="false" label="name"
                                            :reduce="warehouseOptions => warehouseOptions.wh_id"
                                            :options="warehouseOptions" name="warehouse" />
                                    </span>
                                </vs-col>
                            </vs-row>
                            <vs-row>
                                <vs-col vs-w="12" class="">
                                    <label class="vs-input--label" for="">Unit LG</label>
                                    <span>
                                        <v-select v-model="form.unitLG" :clearable="false" label="name"
                                            :reduce="satuanOptions => satuanOptions.code" :options="satuanOptions"
                                            name="unitLG" />
                                    </span>
                                </vs-col>
                            </vs-row>

                            <vs-row>
                                <vs-input v-model="form.valueUnitSM" type="number" class="w-1/3"
                                    label="Value Unit SM" />
                                <vs-col vs-w="8" class="pl-3">
                                    <label class="vs-input--label" for="">Unit SM</label>
                                    <span>
                                        <v-select v-model="form.unitSM" :clearable="false" label="name"
                                            :reduce="satuanOptions => satuanOptions.code" :options="satuanOptions"
                                            name="unitSM" />
                                    </span>
                                </vs-col>
                            </vs-row>

                            <vs-row>
                                <vs-input v-model="form.valuePack" type="number" class="w-1/3" label="Value Pack" />
                                <vs-col vs-w="8" class="pl-3">
                                    <label class="vs-input--label" for="">Unit Pack</label>
                                    <span>
                                        <v-select v-model="form.pack" :clearable="false" label="name"
                                            :options="packOptions" name="unitSM" />
                                    </span>
                                </vs-col>
                            </vs-row>

                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>
                <!-- POPUP -->
                <vs-popup v-if="form.category!== null" class="px-3" title="View Data" :active.sync="viewPopUp">
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Kode :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.code}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Nama :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.name}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Deskripsi :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.description}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Satuan besar :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.valueUnitLG}} / {{form.unitLG}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Satuan Kecil :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.valueUnitSM}} / {{form.unitSM}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Kategori :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.category.name}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Pack :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.valuePack}} / {{form.pack}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Gudang :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.wh_id}}</span></strong>
                        </vs-col>
                    </vs-row>
                </vs-popup>

            </vx-card>
        </div>
    </div>
</template>



<script>
import vSelect from 'vue-select'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    components: {
        vSelect,
        VuePerfectScrollbar,
    },
    data() {
        return {
            addNewDataSidebar: false,
            activeConfirm: false,
            viewPopUp: false,
            modalPromptActive: false,
            modalTitle: null,
            createe: null,
            updatee: null,
            deletee: null,
            access: null,
            form: {
                id: null,
                category: null,
                supplier: null,
                code: null,
                name: null,
                description: null,
                valueUnitLG: null,
                unitLG: null,
                valueUnitSM: null,
                unitSM: null,
                pack: null,
                valuePack: null,
                price_lg: 0,
                price_sm: 0,
                wh_id: null,
            },
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            satuanOptions: [],
            packOptions: [
                "ml",
                "kg",
                "g",
                "lt",
            ],
            warehouseOptions: [],
            categoryOptions: [],
            productsField: {},
            products: []
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData();
    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    methods: {
        async loadData() {

            var wh_id = this.$company != null ? this.$company.warehouse[0].wh_id : "1"
            var com_id = this.$company != null ? this.$company.company_id : "1"

            await this.$http.get(this.$baseURL + '/master/products?filter=wh_id|' + wh_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.products = res.data.data;
            }).catch(err => {
                this.$options.filters.auth(err.response.data.message);
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

            await this.$http.get(this.$baseURL + '/master/products/units', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.satuanOptions = res.data.data;
            }).catch(err => {
                // // console.log(err.response.data.message);
                this.$options.filters.auth(err.response.data.message);
            });

            var resWh = await this.$http.get(this.$baseURL + '/master/warehouses', {
                params: {
                    filter: "company_id|" + com_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resCategory = await this.$http.get(this.$baseURL + '/master/products/categories', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                // console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.categoryOptions = resCategory.data.data;
            this.warehouseOptions = resWh.data.data;
            this.form.wh_id = this.$company.warehouse[0].wh_id;
            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.path == this.access[acc].url) {
                    this.createe = this.access[acc].createe;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }
            this.$vs.loading.close();
        },

        viewData(data) {
            this.form.code = data.code;
            this.form.name = data.name;
            this.form.description = data.description;
            this.form.valueUnitLG = 1;
            this.form.unitLG = data.unit_lg;
            this.form.valueUnitSM = data.unit_qty;
            this.form.unitSM = data.unit_sm;
            this.form.wh_id = data.warehouse.name;
            this.form.category = data.product_category;
            this.form.pack = data.pack;
            this.form.valuePack = data.pack_qty;
            this.form.supplier = data.supplier;
            this.viewPopUp = true;
        },
        addNewData() {
            this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true
        },
        editData(data) {
            this.modalTitle = "Edit";
            this.form.id = data.product_id;
            this.form.code = data.code;
            this.form.category = data.product_c_id;
            this.form.supplier = data.supplier_id;
            this.form.name = data.name;
            this.form.description = data.description;
            this.form.wh_id = data.warehouse.wh_id;
            this.form.valueUnitSM = data.unit_qty;
            this.form.unitSM = data.unit_sm;
            this.form.valueUnitLG = 1;
            this.form.unitLG = data.unit_lg;
            this.form.pack = data.pack;
            this.form.valuePack = data.pack_qty;

            this.modalPromptActive = true;
        },

        deleteData(data) {
            this.form.id = data.product_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan menghapus data ini?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {

            this.$http.delete(this.$baseURL + '/master/products/' + this.form.id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.promptAlert("success", "Success", "Data berhasil dihapus");
                this.loadData();
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })
        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            this.$vs.loading({
                type: 'radius'
            });
            const formData = new FormData();
            formData.append('product_c_id', this.form.category);
            formData.append('code', this.form.code);
            formData.append('name', this.form.name);
            formData.append('description', this.form.description);
            formData.append('unit[lg][code]', this.form.unitLG);
            formData.append('unit[sm][code]', this.form.unitSM);
            formData.append('unit[sm][value]', this.form.valueUnitSM);
            formData.append('unit[pack][code]', this.form.pack);
            formData.append('unit[pack][value]', this.form.valuePack);
            formData.append('price_lg', this.form.price_lg);
            formData.append('price_sm', this.form.price_sm);
            formData.append('wh_id', this.form.wh_id);

            if (this.modalTitle == "Add") {

                this.$http.post(this.$baseURL + '/master/products/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.promptAlert("success", "Success", "Data berhasil ditambahkan")
                    this.loadData();
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                });
            } else {
                formData.append('_method', 'PUT');

                this.$http.post(this.$baseURL + '/master/products/' + this.form.id + '/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.promptAlert("success", "Success", "Data berhasil diubah");
                    this.loadData();
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                });
            }
        },

        resetPrompt() {
            this.form.code = null;
            this.form.name = null;
            this.form.description = null;
            this.form.valueUnitLG = 1;
            this.form.unitSM = null;
            this.form.valueUnitSM = 1;
            this.form.unitSM = null;
            this.form.category = null;
            this.form.supplier = null;
            this.form.pack = null;
            this.form.valuePack = 0;
            this.modalPromptActive = false;
        }

    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            // max-width: 70%;
            max-height: 95vh;

            // .vs-dialog-text {
            //     padding: 0;

            //     .scroll-area {
            //         max-height: 80vh;
            //     } 
            // }
        } 
    } 

    .con-vs-popup { 
        .vs-popup{
            width: 40%;
        }
    } 
</style>

