<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-product-category">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="productCategory">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>
                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <download-excel name="products-category-data.xls" :data="productCategory"
                                                :fields="json_fields">
                                                <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                                Export Excel
                                            </download-excel>
                                        </span>
                                    </vs-dropdown-item>
                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>
                            <!-- ADD NEW -->
                            <div v-if="createe == true"
                                class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="name">Kategori</vs-th>
                        <vs-th sort-key="description">Deskripsi</vs-th>
                        <vs-th sort-key="action">Action</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>
                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name}}
                            </vs-td>
                            <vs-td :data="data[indextr].description">
                                {{data[indextr].description}}
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- FORM -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent v-show="modalTitle == 'Add' || modalTitle=='Edit'">
                            <vs-input v-model="form.name" label="Category Name" class="w-full" />
                            <vs-input v-model="form.description" label="Description" class="w-full" />
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>
                <!-- POPUP -->
                <vs-popup v-if="categoryValue" class="px-3" title="View Data" :active.sync="viewPopUp">
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Kategori :</span>
                        </vs-col>
                        <vs-col vs-w="4">
                            <strong><span>{{categoryValue.name}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Deskripsi :</span>
                        </vs-col>
                        <vs-col vs-w="4">
                            <strong><span>{{categoryValue.description}}</span></strong>
                        </vs-col>
                    </vs-row>
                </vs-popup>

            </vx-card>
        </div>
    </div>
</template>



<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    components: {
        VuePerfectScrollbar,
    },
    data() {
        return {
            addNewDataSidebar: false,
            activeConfirm: false,
            viewPopUp: false,
            modalPromptActive: false,
            modalTitle: null,
            createe: null,
            updatee: null,
            deletee: null,
            access: null,
            form: {
                id: null,
                name: null,
                description: null,
                productCategory: null,
            },
            categoryValue: null,
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            json_fields: {
                'Name': 'name',
                'Description': 'description',
            },
            json_meta: [
                [{
                    'key': 'charset',
                    'value': 'utf-8'
                }]
            ],
            productCategory: []
        }
    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData();

    },
    methods: {
        async loadData() {

            await this.$http.get(this.$baseURL + '/master/products/categories', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.productCategory = res.data.data;
            }).catch(err => {
                this.$options.filters.auth(err.response.data.message);
            });
            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.path == this.access[acc].url) {
                    this.createe = this.access[acc].createe;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }
            this.$vs.loading.close();
        },

        viewData(data) {
            this.categoryValue = data;
            this.viewPopUp = true;
        },
        addNewData() {
            this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true
        },
        editData(data) {
            this.modalTitle = "Edit";
            this.form.id = data.product_c_id;
            this.form.name = data.name;
            this.form.description = data.description;
            this.modalPromptActive = true
        },
        deleteData(data) {
            // this.editData(data);
            this.form.id = data.product_c_id;
            this.form.name = data.name;
            this.form.description = data.description;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this Product Category Data ?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {

            this.$http.delete(this.$baseURL + '/master/products/categories/' + this.form.id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.promptAlert("success", "Product Category Deleted", "The Product Category was successfully Deleted");
                this.loadData();
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })
        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            const formData = new FormData();
            formData.append('name', this.form.name);
            formData.append('description', this.form.description);

            if (this.modalTitle == "Add") {
                this.$http.post(this.$baseURL + '/master/products/categories/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.promptAlert("success", "Product Category Added", "The Product Category was successfully Added")
                    this.loadData();
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                });
            } else {
                formData.append('_method', 'PUT');

                this.$http.post(this.$baseURL + '/master/products/categories/' + this.form.id + '/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {

                    this.promptAlert("success", "User Edited", "The User was successfully Edited")
                    this.loadData();
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                });
            }
        },

        resetPrompt() {
            this.form.satuanName = null;
        }

    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            // max-height: 95vh;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                } 
            }
        } 
    } 
</style>

