<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-customer">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search  :data="produksis">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>
                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <download-excel name="produksi-data.xls" :data="produksis">
                                            <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            Export Excel
                                        </download-excel>
                                    </vs-dropdown-item>
                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>
                            <!-- ADD NEW -->
                            <div v-if="createe == true" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th >No</vs-th>
                        <vs-th >Produksi</vs-th>
                        <vs-th >Menu</vs-th>
                        <vs-th >Qty Gagal</vs-th>
                        <vs-th >Input By</vs-th>
                        <vs-th >Action</vs-th>                        
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>
                            <vs-td :data="data[indextr].produksi_detail">
                                {{data[indextr].produksi_detail != null ?  data[indextr].produksi_detail.produksi.date : "" | moment('DD-MM-YYYY')}}
                                {{data[indextr].produksi_detail != null ?  data[indextr].produksi_detail.produksi.description : "" }}
                            </vs-td>
                            <vs-td :data="data[indextr].produksi_detail">
                                {{data[indextr].produksi_detail != null ?  data[indextr].produksi_detail.menu_juals.menu : "" }}
                            </vs-td>
                             <vs-td :data="data[indextr].qty">
                                  {{data[indextr].qty }}
                            </vs-td>
                            <vs-td :data="data[indextr].users">
                                {{data[indextr].users != null ? data[indextr].users.username : ""}}
                            </vs-td>
                            
                            <vs-td>
                                <feather-icon v-if="updatee == true " v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                @click.stop="editData(tr)" />
                                <feather-icon v-if="deletee == true  " v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" />      
                            </vs-td> 
                                          
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- FORM -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent v-show="modalTitle == 'Add' || modalTitle=='Edit'">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;">Produksi: </span>
                            <v-select :disabled="disedit" v-model="form.produksi" :clearable="false"  label="description"
                                :options="listProduksi" @input="selectProduksi">
                                <template #option="{created_at, description}">
                                    <cite>{{ created_at }}</cite> - {{ description }}
                                </template>
                            </v-select>

                            <span v-if="form.produksi != null" style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;">Menu: </span>
                            <v-select :disabled="disedit" v-if="form.produksi != null" v-model="form.menu" :clearable="false"  label="id_menu_jual"
                                :options="listMenuJual" >
                                <template #option="{id_menu_jual, menu_juals}">
                                    <cite>{{ id_menu_jual }}</cite> - {{menu_juals.menu}}
                                </template>
                            </v-select>
                            <vs-input v-model="form.qty" label="Qty Gagal" class="w-full" />
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>
             

            </vx-card>
        </div>
    </div>
</template>



<script>
import vSelect from 'vue-select'
import moment from 'vue-moment'
import Datepicker from 'vuejs-datepicker'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    components: {
        Datepicker,
        vSelect,
        VuePerfectScrollbar,
    },
    data() {
        return {
            format: "d MMMM yyyy",
            addNewDataSidebar: false,
            activeConfirm: false,
            viewPopUp: false,
            disedit:false,
            modalPromptActive: false,
            modalTitle: null,
            produksiId:null,
            createe:null,
            updatee:null,
            deletee:null,
            access:null,
            form: {
                id:null,
                produksi: null,
                menu: null,
                qty: null,
            },

            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            listProduksi:[],
            listMenuJual:[],
            produksis: []
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });        
        this.loadData()

    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    methods: {
        getchipcolor(data){
            if(data == 'open') return 'warning'
            else return 'success'
        },
        async loadData() {

            this.$http.get(this.$baseURL + '/produksigagal', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.$vs.loading.close();
                this.produksis = res.data.data;
            }).catch(err => {
                this.$options.filters.auth(err.response.data.message);
                
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));


             this.$http.get(this.$baseURL + '/produksi', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.$vs.loading.close();
                this.listProduksi = res.data.data;
            }).catch(err => {
                this.$options.filters.auth(err.response.data.message);
                
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

            this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }
        },
        async selectProduksi(){
            await this.$http.get(this.$baseURL + '/produksi?filter=id_produksi|'+this.form.produksi.id_produksi, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                 this.$vs.loading.close();
                 this.listMenuJual = res.data.data[0].produksi_details;
             
              
            }).catch(err => {
                 this.$vs.loading.close()
                   if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Add Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
            });

        },
        viewData(data) {
            this.$router.push('/pages/viewproduksi/'+data.id_produksi).catch(() => {})
           
        },
        addNewData() {
            this.modalTitle = "Add";
            this.disedit = false;
            this.modalPromptActive= true;
        },
        async editData(data) {
            this.modalPromptActive = true;
            this.disedit = true;
            this.form.id = data.id_produksi_gagal;
            this.modalTitle = "Edit";


            if (data.produksi_detail != null) {
                this.form.produksi = this.listProduksi.filter(m => m.id_produksi === data.produksi_detail.id_produksi);
                this.form.produksi = this.form.produksi[0];

                await this.selectProduksi();
                 
                 if (data.produksi_detail != null) {
                    this.form.menu = this.listMenuJual.filter(m => m.id_menu_jual === data.produksi_detail.id_menu_jual);
                    this.form.menu = this.form.menu[0];
                }
            }
            this.form.qty = data.qty;

            

             
        },
               
        deleteData(val) {
            this.form.id = val.id_produksi_gagal;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this Data ?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$http.delete(this.$baseURL + '/produksigagal/'+ this.form.id+'/delete',
              {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {  
                 this.loadData();
                 this.$vs.loading.close();
                  this.promptAlert("success","Data Deleted","The selected Data was Successfully Deleted") 
            }).catch(err => {
                 this.$vs.loading.close()
                this.promptAlert("danger","Journal Detail Delete Error",err)   
            }); 

        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            if (this.modalTitle == "Add") {
                this.$http.post(this.$baseURL + '/produksigagal/create',
                this.$qs.stringify({ 
                    idproduksidetail: this.form.menu.id_produksi_details, 
                    qty: this.form.qty, 
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                  this.loadData();
                  this.modalPromptActive = false; 
                   this.promptAlert("success", "Data Added", "Data was successfully Added")
                  this.$vs.loading.close()
            }).catch(err => {
                 this.$vs.loading.close()
                if(err.response.data.message =="Unauthenticated"){
                this.$options.filters.auth(err.response.data.message) 
                }else if(err.response.data.message =="Post Error"){
                    this.promptAlert("danger","Add Failed",err.response.data.errors) 
                }else{
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                }
            }); 

            } else {
                this.$http.put(this.$baseURL + '/produksigagal/'+this.form.id+'/update',
                this.$qs.stringify({ 
                        qty: this.form.qty, 
                    }), {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        }
                    }).then(res => {
                    this.loadData();
                    this.modalPromptActive = false; 
                    this.promptAlert("success", "Data Edited", "Data was successfully Edited")
                    this.$vs.loading.close()
                }).catch(err => {
                    this.$vs.loading.close()
                    if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Add Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                    
                }); 
            }
        },

        resetPrompt() {
            this.form.salesName = null;
            this.form.address = null;
            this.form.phone = null;
            this.form.description = null;
        }

    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            // max-height: 95vh;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                }
 
            }
        }
 
    } 
</style>

