<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-supplier">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="supliers">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">

                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>

                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <download-excel name="suppliers-data.xls" :data="supliers">
                                            <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            Export Excel
                                        </download-excel>
                                    </vs-dropdown-item>

                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>

                            <!-- ADD NEW -->
                            <div v-if="createe == true"
                                class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>


                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">no</vs-th>
                        <vs-th sort-key="name">Nama</vs-th>
                        <vs-th sort-key="address">Alamat</vs-th>
                        <vs-th sort-key="phone">Telepon</vs-th>
                        <vs-th sort-key="status">Status</vs-th>
                        <vs-th sort-key="action">Action</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>

                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name}}
                            </vs-td>

                            <vs-td :data="data[indextr].address">
                                {{data[indextr].address}}
                            </vs-td>
                            <vs-td :data="data[indextr].phone">
                                {{data[indextr].phone}}
                            </vs-td>
                            <vs-td :data="data[indextr].status">
                                <vs-chip v-if="data[indextr].status === 'active'" color="success">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                                <vs-chip v-else color="danger">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>

                            </vs-td>


                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-3">
                                    <vs-input :disabled="modalTitle === 'Edit'" v-model="form.code" label="Kode"
                                        class="w-full" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-3">
                                    <vs-input v-model="form.suplierName" label="Nama" class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-3">
                                    <vs-input v-model="form.reference" label="Keterangan" class="w-full" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-3">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7);" class="w-full"> Wilayah
                                    </span><span style="color:red;">*</span>
                                    <v-select v-model="form.region" :clearable="false" label="location"
                                        :reduce="option_region => option_region.id" :options="option_region"
                                        class="w-full">
                                        <template #option="{id, location}">
                                            <cite>{{ id }}</cite> - {{ location }}
                                        </template>
                                    </v-select>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="p-3">
                                    <vs-textarea label="Alamat" v-model="form.suplierAddress" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-3">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7);" class="w-full"> Code Type
                                    </span><span style="color:red;">*</span>
                                    <v-select v-model="form.codeType" :clearable="false" :options="codeTypeOptions"
                                        class="w-full">
                                    </v-select>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-input v-model="form.bankName" label="Nama Bank" class="w-1/3 px-4" />
                                <vs-input v-model="form.bankBranch" label="Cabang Bank" class="w-1/3 px-4" />
                                <vs-input v-model="form.bankAccount" label="Nomor Rekening" class="w-1/3 px-4" />
                            </vs-row>

                            <vs-row class="mb-4">
                                <vs-input v-model="form.pic" label="PIC" class="w-1/3 px-4" />
                                <vs-input v-model="form.phone" label="Telepon Supplier" class="w-1/3 px-4" />
                                <vs-input v-model="form.email" label="Email" class="w-1/3 px-4" />
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-input v-model="form.npwp" label="NPWP" class="w-1/3 px-4" />
                                <vs-input v-model="form.pkpName" label="Nama PKP" class="w-1/3 px-4" />
                                <vs-input v-model="form.pkpAddress" label="Alamat PKP" class="w-1/3 px-4" />
                            </vs-row>

                            <vs-row class="mb-4">
                                <vs-col vs-w="4" class="px-3">
                                    <vs-select v-model="form.taxable" label="Pajak" class="w-full">
                                        <vs-select-item key="yes" value="yes" text="Yes" />
                                        <vs-select-item key="no" value="no" text="No" />
                                    </vs-select>
                                </vs-col>
                                <vs-col vs-w="4" class="px-3">
                                    <vs-input type="number" v-show="form.taxable === 'yes'" v-model="form.taxableRate"
                                        label="Rate Pajak" class="w-full" />
                                </vs-col>
                                <vs-col vs-w="4" class="px-3">
                                    <vs-select v-model="form.suplierStatus" label="Status" class="w-full">
                                        <vs-select-item key="active" value="active" text="Active" />
                                        <vs-select-item key="inactive" value="inactive" text="Inactive" />
                                    </vs-select>
                                </vs-col>
                            </vs-row>
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>

                <vs-popup title="View Data" :active.sync="viewPopUp">
                    <div class="vx-row" style="margin:3px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Code: </span> <br>
                            <b style="padding-left:15px;">{{form.code}} </b>
                        </div>
                    </div>
                    <vs-divider />
                    <div class="vx-row" style="margin:3px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Nama: </span> <br>
                            <div class="vx-row">
                                <b style="padding-left:25px; padding-right:15px;">{{form.suplierName}} </b>
                                <vs-chip v-if="form.suplierStatus === 'active'" color="success">
                                    {{form.suplierStatus | capitalize}}
                                </vs-chip>
                                <vs-chip v-else color="danger">
                                    {{form.suplierStatus | capitalize}}
                                </vs-chip>
                            </div>

                        </div>
                    </div>
                    <vs-divider />
                    <div class="vx-row" style="margin:3px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Nama PKP: </span>
                            <br>
                            <b style="padding-left:15px;">{{form.pkpName}} </b>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Alamat PKP: </span>
                            <br>
                            <b style="padding-left:15px;">{{form.pkpAddress}} </b>
                        </div>
                    </div>
                    <vs-divider />
                    <div class="vx-row" style="margin:3px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Keterangan: </span>
                            <br>
                            <b style="padding-left:15px;">{{form.reference}} </b>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Alamat: </span>
                            <br>
                            <b style="padding-left:15px;">{{form.suplierAddress}} </b>
                        </div>
                    </div>
                    <vs-divider />
                    <div class="vx-row" style="margin:3px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Nama Bank: </span>
                            <br>
                            <b style="padding-left:15px;">{{form.bankName}} , {{form.bankBranch}} </b>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Nomor Rekening:
                            </span> <br>
                            <b style="padding-left:15px;">{{form.bankAccount}} </b>
                        </div>
                    </div>
                    <vs-divider />
                    <div class="vx-row" style="margin:3px;">
                        <div class="vx-col md:w-1/3 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> PIC: </span> <br>
                            <b style="padding-left:15px;">{{form.pic}} </b>
                        </div>
                        <div class="vx-col md:w-1/3 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Telepon: </span>
                            <br>
                            <b style="padding-left:15px;">{{form.phone}} </b>
                        </div>
                        <div class="vx-col md:w-1/3 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> NPWP: </span> <br>
                            <b style="padding-left:15px;">{{form.npwp}} </b>
                        </div>
                    </div>
                    <vs-divider />
                    <div class="vx-row" style="margin:3px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Pajak: </span> <br>
                            <b style="padding-left:15px;">{{form.taxable}} </b>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Rate Pajak: </span>
                            <br>
                            <b style="padding-left:15px;">{{form.taxableRate}} </b>
                        </div>
                    </div>
                </vs-popup>
            </vx-card>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Region from '@/mixins/region'

export default {
    components: {
        vSelect,
        VuePerfectScrollbar,
    },
    mixins: [Region],
    data() {

        return {
            // Data Sidebar
            max: 0,
            min: 0,
            prefix: 'Rp ',
            addNewDataSidebar: false,
            sidebarData: {},
            viewPopUp: false,
            activeConfirm: false,
            modalPromptActive: false,
            modalTitle: null,
            createe: null,
            updatee: null,
            deletee: null,
            access: null,
            form: {
                id: null,
                code: null,
                suplierName: null,
                phone: null,
                reference: null,
                region: null,
                codeType: null,
                npwp: null,
                currencyCode: 'IDR',
                suplierAddress: null,
                pic: null,
                phone: null,
                npwp: '',
                email: '',
                taxable: null,
                bankName: null,
                bankBranch: null,
                bankAccount: null,
                pkpName: null,
                pkpAddress: null,
                taxableRate: 0,
                creditLimit: 0,
                suplierStatus: 'Active',
            },
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            codeTypeOptions: ["SPL", "INT", "ME", "PL"],
            supliers: []
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData()

    },
    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"
            this.$http.get(this.$baseURL + '/master/suppliers?filter=company_id|' + com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.supliers = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
                this.$options.filters.auth(err.response.data.message);
            })

            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.path == this.access[acc].url) {
                    this.createe = this.access[acc].createe;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }


        },

        viewData(data) {
            this.form.code = data.code;
            this.form.suplierName = data.name;
            this.form.reference = data.reference;
            this.form.suplierAddress = data.address;
            this.form.pic = data.pic;
            this.form.phone = data.phone;
            // this.form.region =  data.region;
            if (data.region != null) {
                this.form.region = this.option_region.filter(m => m.id === data.region);
            }
            this.form.email = data.email;
            this.form.npwp = data.npwp;
            this.form.bankName = data.bank_name;
            this.form.bankBranch = data.bank_branch;
            this.form.bankAccount = data.bank_account;
            this.form.pkpName = data.pkp_name;
            this.form.pkpAddress = data.pkp_address;
            this.form.suplierStatus = data.status;
            this.form.taxable = data.taxable;
            this.form.taxableRate = data.taxable_rate;
            this.viewPopUp = true
        },
        addNewData() {
            this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true
        },

        editData(data) {
            this.modalTitle = "Edit";
            this.form.id = data.supplier_id;
            this.form.code = data.code;
            this.form.suplierName = data.name;
            this.form.reference = data.reference;
            this.form.suplierAddress = data.address;
            this.form.pic = data.pic;
            // this.form.region =  data.region;
            if (data.region != null) {
                this.form.region = this.option_region.filter(m => m.id === parseInt(data.region));
                this.form.region = this.form.region[0];
            }
            this.form.codeType = data.code_type;
            this.form.phone = data.phone;
            this.form.email = data.email;
            this.form.npwp = data.npwp;
            this.form.bankName = data.bank_name;
            this.form.bankBranch = data.bank_branch;
            this.form.bankAccount = data.bank_account;
            this.form.pkpName = data.pkp_name;
            this.form.pkpAddress = data.pkp_address;
            this.form.suplierStatus = data.status;
            this.form.taxable = data.taxable;
            this.form.taxableRate = data.taxable_rate;
            this.modalPromptActive = true
        },


        deleteData(data) {
            this.form.id = data.supplier_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan menghapus data?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            // AXIOS Delete
            this.$http.delete(this.$baseURL + '/master/suppliers/' + this.form.id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {

                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Data berhasil dihapus'
                })

                this.loadData();
            }).catch(err => {
                console.log(err);
                this.$vs.loading.close();
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            });

        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },

        submitPrompt() {
            if (this.form.region === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Wilayah belum dipilih',
                })
            } else if (this.form.codeType === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Tipe Kode belum dipilih',
                })
            } else {

                this.$vs.loading({
                    type: 'radius'
                });

                const formData = new FormData();
                formData.append('code', this.form.code);
                formData.append('name', this.form.suplierName);
                formData.append('address', this.form.suplierAddress);
                formData.append('region', this.form.region);
                formData.append('code_type', this.form.codeType);
                formData.append('phone', this.form.phone);
                formData.append('pic', this.form.pic);
                formData.append('email', this.form.email);
                formData.append('reference', this.form.reference);
                formData.append('currency_code', this.form.currencyCode);
                formData.append('taxable', this.form.taxable);
                formData.append('taxable_rate', this.form.taxable == "yes" ? this.form.taxableRate : 0);
                formData.append('npwp', this.form.npwp);
                formData.append('status', this.form.suplierStatus);
                formData.append('bank_name', this.form.bankName);
                formData.append('bank_branch', this.form.bankBranch);
                formData.append('bank_account', this.form.bankAccount);
                formData.append('pkp_name', this.form.pkpName);
                formData.append('pkp_address', this.form.pkpAddress);

                if (this.modalTitle == "Add") {

                    // AXIOS POST
                    this.$http.post(this.$baseURL + '/master/suppliers/create', formData, {
                        headers: {
                            Authorization: 'Bearer ' + this.$token,
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }).then(res => {
                        this.$vs.notify({
                            color: 'success',
                            title: 'Success',
                            text: 'Data berhasil ditambahkan'
                        });
                        this.loadData();
                    }).catch(err => {
                        this.$vs.loading.close();
                        console.log(err);
                        this.$options.filters.auth(err.response.data.message);
                        this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        });
                    })
                } else {
                    formData.append('_method', 'PUT');
                    this.$http.post(this.$baseURL + '/master/suppliers/' + this.form.id + '/update', formData, {
                        headers: {
                            Authorization: 'Bearer ' + this.$token,
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }).then(res => {
                        this.$vs.notify({
                            color: 'success',
                            title: 'Success',
                            text: 'Data berhasil diubah'
                        });
                        this.loadData();
                    }).catch(err => {
                        this.$vs.loading.close();
                        console.log(err);
                        this.$options.filters.auth(err.response.data.message);
                        this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        });
                    });
                }
            }
        },

        resetPrompt() {
            this.form.id = null;
            this.form.code = null;
            this.form.suplierName = null;
            this.form.reference = null;
            this.form.suplierAddress = null;
            this.form.pic = null;
            this.form.region = null;
            this.form.phone = null;
            this.form.email = null;
            this.form.npwp = '';
            this.form.bankName = null;
            this.form.bankBranch = null;
            this.form.bankAccount = null;
            this.form.pkpName = null;
            this.form.pkpAddress = null;
            this.form.suplierStatus = null;
            this.form.taxable = null;
            this.form.taxableRate = 0;
        }


    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            // max-height: 95vh;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                } 
            }
        } 
    } 
    .con-vs-popup .vs-popup{
        width: 1000px;
    }
</style>

