<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-user">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="users">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>

                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <download-excel name="users-data.xls" :data="users" :fields="json_fields">
                                            <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            Export Excel
                                        </download-excel>
                                    </vs-dropdown-item>

                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>

                            <!-- ADD NEW -->
                            <div v-if="createe==true"
                                class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>

                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">no</vs-th>
                        <vs-th sort-key="username">Username</vs-th>
                        <vs-th sort-key="email">Email</vs-th>
                        <vs-th sort-key="type">Type</vs-th>
                        <vs-th sort-key="status">Status</vs-th>
                        <vs-th sort-key="action">Action</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td :data="data[indextr].username">
                                {{data[indextr].username}}
                            </vs-td>
                            <vs-td :data="data[indextr].email">
                                {{data[indextr].email}}
                            </vs-td>
                            <vs-td :data="data[indextr].type">
                                {{data[indextr].type | capitalize}}
                            </vs-td>
                            <vs-td :data="data[indextr].status">
                                <vs-chip v-if="data[indextr].status === 'active'" color="success">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                                <vs-chip v-else color="success">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="updatee==true" v-tooltip="'Edit'" icon="EditIcon"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="deletee==true" v-tooltip="'Delete'" icon="TrashIcon"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- POP-UP EDIT AND ADD -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent>
                            <vs-row class="mb-3">
                                <vs-col class="px-2" vs-w="6">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7);" class="w-full"> Pilih
                                        Karyawan
                                    </span>
                                    <v-select class="col-12" v-model="form.karyawan" :clearable="false" label="name"
                                        :options="karyawan" :reduce="karyawan => karyawan.karyawan_id"
                                        name="karyawanList" />
                                </vs-col>
                                <vs-col class="px-2" vs-w="6">
                                    <vs-input :disabled="modalTitle === 'Edit'" v-model="form.username"
                                        v-on:keyup="cekData('username')" name="username" label="Username"
                                        class="w-full" />

                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-3">
                                <vs-col class="px-2" vs-w="6">
                                    <vs-input type="password" v-on:keyup="cekData('username')" v-model="form.password"
                                        label="Password" class="w-full" />
                                </vs-col>
                                <vs-col class="px-2" vs-w="6">
                                    <vs-input type="password" v-on:keyup="cekPassword" v-model="form.cPassword"
                                        :danger="danger" danger-text="Password berbeda, cek kembali"
                                        label="Confirm Password" class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-3">
                                <vs-col class="px-2" vs-w="12">
                                    <vs-input v-model="form.email" type="email" label="Email" class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-3">
                                <vs-col class="px-2" vs-w="6">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7);" class="w-full"> Pilih Role
                                    </span>
                                    <v-select class="col-12" v-model="form.type" :clearable="false" label="name"
                                        :options="roles" :reduce="roles => roles.code" name="roleList" />
                                </vs-col>
                                <vs-col class="px-2" vs-w="6">
                                    <vs-select v-model="form.status" label="User Status" class="w-full">
                                        <vs-select-item key="active" value="active" text="Active" selected />
                                        <vs-select-item key="inactive" value="inactive" text="Inactive" />
                                    </vs-select>
                                </vs-col>
                            </vs-row>

                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>

                <!-- POP-UP VIEW DATA -->
                <vs-popup v-if="userValue" class="px-3" title="View Data" :active.sync="viewPopUp">
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Username :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{userValue.username}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Email :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{userValue.email}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Type :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{userValue.type | capitalize}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>User Status :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <!-- <span>{{form.status}}</span> -->
                            <vs-chip v-if="userValue.status === 'active'" color="success">
                                {{userValue.status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else color="danger">
                                {{userValue.status | capitalize}}
                            </vs-chip>
                        </vs-col>
                    </vs-row>
                </vs-popup>

            </vx-card>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    components: {
        vSelect,
        VuePerfectScrollbar,
    },
    data() {
        return {
            edit: null,
            delete: null,
            danger: false,
            viewPopUp: false,
            activeConfirm: false,
            modalPromptActive: false,
            modalTitle: null,
            createe: null,
            updatee: null,
            deletee: null,
            access: null,
            userData: {},
            userValue: null,
            form: {
                id: null,
                username: null,
                type: null,
                email: null,
                password: null,
                cPassword: null,
                status: 'Active',
                karyawan: null,
                company: null,
            },
            json_fields: {
                'Username': 'username',
                'Type': 'type',
                'Email': 'email',
                'Created At': 'created_at',
            },
            json_meta: [
                [{
                    'key': 'charset',
                    'value': 'utf-8'
                }]
            ],
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            // selectKaryawan: null,
            karyawan: [],
            roles: [],
            users: []
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData()

    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    methods: {
        async loadData() {

            await this.$http.get(this.$baseURL + '/auth/users', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.users = res.data.data;
                // this.$vs.loading.close()            

            }).catch(err => {
                // // console.log(err.response.data.message);
                this.$options.filters.auth(err.response.data.message);
            });

            await this.$http.get(this.$baseURL + '/master/karyawan', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.karyawan = res.data.data;
                this.form.karyawan = this.karyawan[0]
            }).catch(err => {
                // console.log(err);
                this.$options.filters.auth(err.response.data.message);
            });

            await this.$http.get(this.$baseURL + '/auth/roles', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.roles = res.data.data;
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            });
            this.form.company = this.$user != null ? this.$user.company.company_id : "0";
            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.path == this.access[acc].url) {
                    this.createe = this.access[acc].createe;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }
            this.$vs.loading.close();
        },
        viewData(data) {
            this.userValue = data;
            this.viewPopUp = true;
        },

        cekPassword() {
            var pass = this.form.password;
            var cPass = this.form.cPassword;

            if (cPass !== pass) {
                this.danger = true;
            } else {
                this.danger = false;
            }

        },

        cekData(value) {

        },

        addNewData() {
            this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true
        },

        editData(data) {
            this.edit = data;
            this.modalTitle = "Edit";
            this.form.id = data.user_id;
            this.form.username = data.username;
            this.form.type = data.type;
            this.form.email = data.email;
            this.form.status = data.status;
            this.form.karyawan = data.karyawan_id;
            this.form.company = data.company.company_id;

            this.modalPromptActive = true
        },
        deleteData(data) {
            this.delete = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this User Data ?',
                accept: this.acceptDelete
            })
        },
        acceptDelete() {
            this.$vs.loading({
                type: 'radius'
            });
            this.$http.delete(this.$baseURL + '/auth/users/' + this.delete.user_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.promptAlert("success", "Success", "The User was successfully Deleted");
                this.loadData();
            }).catch(err => {
                this.$vs.loading.close()
                // console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.errors
                });
            });
        },

        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            this.$vs.loading({
                type: 'radius'
            });
            const formData = new FormData();
            formData.append('username', this.form.username);
            formData.append('email', this.form.email);
            formData.append('password', this.form.password);
            formData.append('password_confirmation', this.form.cPassword);
            formData.append('type', this.form.type);
            formData.append('status', this.form.status);
            formData.append('karyawan_id', this.form.karyawan);
            formData.append('company_id', this.form.company);

            if (this.modalTitle === "Add") {
                this.$http.post(this.$baseURL + '/auth/users/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.promptAlert("success", "Success", "The User was successfully Added")
                    this.loadData();
                }).catch(err => {
                    this.$vs.loading.close()
                    // console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.errors
                    });
                });


            } else {
                formData.append('_method', 'PUT');
                this.$http.post(this.$baseURL + '/auth/users/' + this.form.id + '/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {

                    this.promptAlert("success", "Success", "The User was successfully Edited")
                    this.loadData();
                }).catch(err => {
                    this.$vs.loading.close()
                    // console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.errors
                    });
                });
            }
        },

        resetPrompt() {
            this.form.username = null;
            this.form.type = null;
            this.form.email = null;
            this.form.status = null;
            this.form.password = null;
            this.form.cPassword = null;
        }


    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            max-height: auto;
            .vs-dialog-text {
                padding: 0;
                .scroll-area {
                    max-height: 75vh;
                }
            }
        }
    }

    .con-vs-popup { 
        .vs-popup{
            width: 40%;
        }
    } 
</style>

