<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="roles">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>

                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <download-excel name="roleusers-data.xls" :data="roles">
                                            <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            Export Excel
                                        </download-excel>
                                    </vs-dropdown-item>

                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>

                            <!-- ADD NEW -->
                            <div v-if="createe == true" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="code">Code</vs-th>
                        <vs-th sort-key="name">Name</vs-th>
                        <vs-th sort-key="desc">Description</vs-th>
                        <vs-th sort-key="status">Status</vs-th>
                        <vs-th sort-key="action">Action</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td :data="data[indextr].code">
                                {{data[indextr].code}}
                            </vs-td>
                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name}}
                            </vs-td>
                            <vs-td :data="data[indextr].description">
                                {{data[indextr].description | limit}}
                            </vs-td>
                            <vs-td :data="data[indextr].status">
                                <vs-chip v-if="data[indextr].status === 'active'" color="success">
                                    {{data[indextr].status}}
                                </vs-chip>
                                <vs-chip v-else color="danger">
                                    {{data[indextr].status}}
                                </vs-chip>
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="4" class="px-2">
                                    <feather-icon  v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w="4" class="px-2">
                                    <feather-icon  v-if="updatee == true" v-tooltip="'Set Access'" icon="KeyIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="editCredentialData(tr)" />
                                </vs-col>
                                <vs-col vs-w="4" class="px-2"> 
                                    <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent>
                            <vs-input v-model="form.code" label="Code" class="w-full" />
                            <vs-input v-model="form.name" label="Name" class="w-full" />
                            <vs-input v-model="form.desc" label="Description" class="w-full" />
                            <vs-select v-model="form.status" label="Status" class="w-full">
                                <vs-select-item key="active" value="active" text="Active" selected="true" />
                                <vs-select-item key="inactive" value="inactive" text="Inactive" />
                            </vs-select>
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>

                <vs-popup title="View Data" class="px-3" :active.sync="viewPopUp">
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Code :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.code}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Name :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.name}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Description :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.desc}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Status :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <vs-chip v-if="form.status === 'active'" color="success">
                                {{form.status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else color="success">
                                {{form.status | capitalize}}
                            </vs-chip>
                        </vs-col>
                    </vs-row>
                </vs-popup>

            </vx-card>
        </div>
    </div>
    <!-- FORM --> 
</template>



<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    components: {
        VuePerfectScrollbar,

    },
    data() {

        return {
            viewPopUp: false,
            activeConfirm: false,
            modalPromptActive: false,
            modalTitle: null,
            createe:null,
            updatee:null,
            deletee:null,
            access:null,
            form: {
                roleId: null,
                code: null,
                name: null,
                desc: null,
                status: null,
            },
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            roles: []
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData()

    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    methods: {
        async loadData() {

            await this.$http.get(this.$baseURL + '/auth/roles', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.roles = res.data.data;
                this.$vs.loading.close()               
            }).catch(err => { 
                this.$options.filters.auth(err.response.data.message);
            });

            this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }


        },
        viewData(data) {
            this.form.code = data.code,
                this.form.name = data.name,
                this.form.desc = data.description,
                this.form.status = data.status,
                this.viewPopUp = true
        },
        addNewData() {
            this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true
        },

        editData(data) {
            this.modalTitle = "Edit";
                this.form.roleId = data.role_id,
                this.form.code = data.code,
                this.form.name = data.name,
                this.form.desc = data.description,
                this.form.status = data.status,
                this.modalPromptActive = true
        },
        editCredentialData(data) {
            this.$router.push('/pages/usercredential/' + data.role_id).catch(() => {})
        },

        
        deleteData(coa) {
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this User Data ?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.promptAlert("danger", "User Deleted", "The selected User was successfully deleted")
        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            if (this.modalTitle == "Add") {
                console.log("data add");

                this.promptAlert("success", "User Added", "The User was successfully Added")
            } else {
                console.log("data edited");
                var dt = {  
                    code : this.form.code,
                    name : this.form.name,
                    description : this.form.desc,
                    status : this.form.status, 
                };
                this.$http.put(this.$baseURL+ '/auth/roles/'+this.form.roleId+'/update',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.loadData();
                    this.promptAlert("success","Success Update Role","")
                this.$vs.loading.close();
                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again") 
                    }
                });
            }
        },

        resetPrompt() {
            this.form.code = null;
            this.form.name = null;
            this.form.desc = null;
            this.form.status = null;
        }


    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            // max-height: 95vh;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                }
 
            }
        }
 
    } 
</style>

