<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-vendor">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="vendor">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>
                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <download-excel name="vendor-data.xls" :data="vendor">
                                            <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            Export Excel
                                        </download-excel>
                                    </vs-dropdown-item>
                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>
                            <!-- ADD NEW -->
                            <div v-if="createe == true"
                                class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="code">Kode</vs-th>
                        <vs-th sort-key="name">Nama</vs-th>
                        <vs-th sort-key="address">Alamat</vs-th>
                        <vs-th sort-key="phone">Telepon</vs-th>
                        <vs-th sort-key="action">Action</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>
                            <vs-td :data="data[indextr].code">
                                {{data[indextr].code}}
                            </vs-td>
                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name}}
                            </vs-td>
                            <vs-td :data="data[indextr].address">
                                {{data[indextr].address}}
                            </vs-td>
                            <vs-td :data="data[indextr].phone">
                                {{data[indextr].phone}}
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- FORM -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent v-show="modalTitle == 'Add' || modalTitle=='Edit'">
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-3">
                                    <vs-input :disabled="modalTitle === 'Edit'" v-model="form.code" label="Code"
                                        class="w-full" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-3">
                                    <span
                                        style="font-size:11.9px; color:rgba(0,0,0,0.7);  margin-left:5px; ">Date</span>
                                    <datepicker required placeholder="Pilih Tanggal" v-model="form.entry_date"
                                        style="  width:100%;" :minimumView="'day'" :maximumView="'month'">
                                    </datepicker>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-3">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Code Vendor
                                    </span><span style="color:red;">*</span>
                                    <v-select v-model="form.codevendor" :clearable="false" required
                                        :getOptionLabel="option => option.description" :options="listcode"
                                        class="w-full">
                                        <template #option="{code, description}">
                                            <cite>{{ code }}</cite> - {{ description }}
                                        </template>
                                    </v-select>
                                </vs-col>
                                <vs-col vs-w="6" class="px-3">
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Penempatan
                                    </span><span style="color:red;">*</span>
                                    <v-select v-model="form.penempatan" :clearable="false" required
                                        :getOptionLabel="option => option.location" :options="option_region"
                                        class="w-full">
                                        <template #option="{id, location}">
                                            <cite>{{ id }}</cite> - {{ location }}
                                        </template>
                                    </v-select>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-3">
                                    <vs-input v-model="form.vendorName" label="Vendor Name" class="w-full" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-3">
                                    <vs-input v-model="form.address" label="Address" class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-3">
                                    <vs-input v-model="form.phone" label="Phone" class="w-full" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-3">
                                    <vs-input v-model="form.reference" label="Reference" class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-4">
                                <vs-col vs-w="4" class="px-3">
                                    <vs-select v-model="form.taxable" label="Taxable" class="w-full">
                                        <vs-select-item key="yes" value="yes" text="Yes" />
                                        <vs-select-item key="no" value="no" text="No" />
                                    </vs-select>
                                </vs-col>
                                <vs-col vs-w="4" v-if="form.taxable === 'yes'" class="px-3">
                                    <vs-input v-model="form.taxable_rate" label="Taxable Rate" class="w-full" />
                                </vs-col>
                                <vs-col vs-w="4" class="px-3">
                                    <vs-select v-model="form.vendorStatus" label="Vendor Status" class="w-full">
                                        <vs-select-item key="active" value="active" text="Active" />
                                        <vs-select-item key="inactive" value="inactive" text="Inactive" />
                                    </vs-select>
                                </vs-col>
                            </vs-row>

                            <!-- <vs-input v-model="form.currency_code" label="Currency Code"  class="w-full" /> -->
                            <!-- <vs-select v-model="form.currency_code" label="Currency Code" class="w-full">
                                <vs-select-item key="IDR" value="IDR" text="IDR" />
                                <vs-select-item key="USD" value="USD" text="USD" />
                            </vs-select> -->
                            <!-- <vs-input v-model="form.npwp" label="NPWP"  class="w-full" />   -->
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>
                <!-- POPUP -->
                <vs-popup title="View Data" :active.sync="viewPopUp">
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Nama :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.vendorName | capitalize}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Alamat :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.address}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Telepon :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.phone}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Reference :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.reference}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Tax :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>{{form.taxable_rate}}</span>
                        </div>
                    </div>
                    <div class="vx-row" style="padding-bottom:5px;">
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <span>Status :</span>
                        </div>
                        <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                            <!-- <span>{{form.vendorStatus}}</span> -->
                            <vs-chip v-if="form.vendorStatus === 'active'" color="success">
                                {{form.vendorStatus | capitalize}}
                            </vs-chip>
                            <vs-chip v-else color="warning">
                                {{form.vendorStatus | capitalize}}
                            </vs-chip>
                        </div>
                    </div>
                </vs-popup>

            </vx-card>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
import moment from 'vue-moment'
import Datepicker from 'vuejs-datepicker'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Region from '@/mixins/region'

export default {
    components: {
        vSelect,
        Datepicker,
        VuePerfectScrollbar,
    },
    mixins: [Region],
    data() {
        return {
            format: "d MMMM yyyy",
            addNewDataSidebar: false,
            activeConfirm: false,
            viewPopUp: false,
            modalPromptActive: false,
            modalTitle: null,
            createe: null,
            updatee: null,
            deletee: null,
            access: null,
            form: {
                vendor_id: null,
                code: null,
                codevendor: null,
                penempatan: null,
                vendorName: null,
                npwp: null,
                region: null,
                codeVendor: null,
                address: null,
                phone: null,
                entry_date: new Date(),
                currency_code: 'IDR',
                creditLimit: null,
                reference: null,
                taxable: null,
                taxable_rate: 0,
                date: null,
                entryAt: null,
                vendorStatus: 'active',
            },
            listcode: [{
                    description: "Vendor Sipil",
                    code: "01"
                },
                {
                    description: "Vendor Interior",
                    code: "02"
                },
                {
                    description: "Vendor MEP",
                    code: "03"
                },
                {
                    description: "Vendor Lain-Lain",
                    code: "04"
                },
            ],
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            codeVendorOptions: [{
                    id: "01",
                    name: "Vendor Sipil"
                },
                {
                    id: "02",
                    name: "Vendor Interior"
                },
                {
                    id: "03",
                    name: "Vendor MEP"
                },
                {
                    id: "04",
                    name: "Vendor Lain-lain"
                },
            ],
            vendor: []
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.form.entry_date = new Date();
        this.loadData()
    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"
            this.$http.get(this.$baseURL + '/master/vendors?filter=company_id|' + com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.vendor = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
                this.$options.filters.auth(err.response.data.message);
                console.log(err);

            })

            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.path == this.access[acc].url) {
                    this.createe = this.access[acc].createe;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }
        },

        viewData(data) {
            this.form.vendorName = data.name;
            this.form.address = data.address;
            this.form.phone = data.phone;
            this.form.reference = data.reference;
            this.form.vendorStatus = data.status;
            this.form.penempatan = data.penempatan;
            this.form.date = data.created_at;
            this.form.taxable = data.taxable;
            this.viewPopUp = true;
        },
        addNewData() {
            this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true
        },
        editData(data) {
            this.modalTitle = "Edit";
            this.form.vendor_id = data.vendor_id;
            this.form.code = data.code;
            this.form.vendorName = data.name;
            this.form.address = data.address;
            this.form.phone = data.phone;
            this.form.entry_date = this.$moment(data.entry_at, "YYYY-MM-DD").toDate();

            if (data.code_professi != null) {
                this.form.codevendor = this.listcode.filter(m => m.code === data.code_professi);
                this.form.codevendor = this.form.codevendor[0];
            }
            if (data.penempatan != null) {
                this.form.penempatan = this.option_region.filter(m => m.id === parseInt(data.penempatan));
                this.form.penempatan = this.form.penempatan[0];
            }
            this.form.reference = data.reference;
            this.form.currency_code = data.currency_code;
            this.form.taxable = data.taxable;
            this.form.taxable_rate = data.taxable_rate;
            this.form.vendorStatus = data.status;
            this.modalPromptActive = true
        },

        deleteData(data) {
            this.form.vendor_id = data.vendor_id
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan menghapus data?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$vs.loading({
                type: 'radius'
            });
            this.$http.delete(this.$baseURL + '/master/vendors/' + this.form.vendor_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Data berhasil dihapus'
                })
                this.loadData();
            }).catch(err => {
                this.$vs.loading.close()
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
                this.$options.filters.auth(err.response.data.message);
                console.log(err);
            });
        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },

        submitPrompt() {
            if (this.form.codevendor === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Kode profesi tidak boleh kosong',
                })
            } else if (this.form.penempatan === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Penempatan tidak boleh kosong',
                })
            } else {

                this.$vs.loading({
                    type: 'radius'
                });

                const formData = new FormData();
                formData.append('code', this.form.code);
                formData.append('code_professi', this.form.codevendor != null ? this.form.codevendor.code : null);
                formData.append('penempatan', this.form.penempatan != null ? this.form.penempatan.id : null);
                formData.append('name', this.form.vendorName);
                formData.append('address', this.form.address);
                formData.append('phone', this.form.phone);
                formData.append('reference', this.form.reference);
                formData.append('npwp', this.form.npwp);
                formData.append('taxable', this.form.taxable);
                formData.append('taxable_rate', this.form.taxable_rate);
                formData.append('entry_at', this.$moment(this.form.entry_date).format("DD/MM/YYYY"));
                formData.append('status', this.form.vendorStatus);

                if (this.modalTitle == "Add") {
                    // AXIOS POST
                    this.$http.post(this.$baseURL + '/master/vendors/create', formData, {
                        headers: {
                            Authorization: 'Bearer ' + this.$token,
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }).then(res => {
                        this.$vs.notify({
                            color: 'success',
                            title: 'Success',
                            text: 'Data berhasil ditambahkan'
                        });
                        this.loadData();
                    }).catch(err => {
                        this.$vs.loading.close()
                        this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        });
                        this.$options.filters.auth(err.response.data.message);
                        console.log(err);
                    })

                } else {
                    formData.append('_method', 'PUT');
                    var id = this.form.vendor_id;

                    // AXIOS PUT
                    this.$http.post(this.$baseURL + '/master/vendors/' + id + '/update', formData, {
                        headers: {
                            Authorization: 'Bearer ' + this.$token,
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }).then(res => {
                        this.$vs.notify({
                            color: 'success',
                            title: 'Success',
                            text: 'Data berhasil diubah'
                        });
                        this.loadData();
                    }).catch(err => {
                        this.$vs.loading.close()
                        this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        });
                        this.$options.filters.auth(err.response.data.message);
                        console.log(err);
                    })
                }
            }
        },

        resetPrompt() {
            this.form.code = null;
            this.form.codevendor = null;
            this.form.vendorName = null;
            this.form.address = null;
            this.form.phone = null;
            this.form.npwp = null;
            this.form.reference = null;
            this.form.entry_date = new Date();
            this.form.penempatan = null;
            this.form.taxable = null;
            this.form.vendorStatus = null;
        }

    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            .vs-dialog-text {
                padding: 0;
                .scroll-area {
                    max-height: 75vh;
                }
            }
        }
    } 
</style>

