<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-customer">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="warehouse">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <!-- ACTION - DROPDOWN -->
                            <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                <div
                                    class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                    <span class="mr-2">Actions</span>
                                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                </div>
                                <vs-dropdown-menu>
                                    <vs-dropdown-item>
                                        <download-excel name="perusahaan-data.xls" :data="warehouse">
                                            <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            Export Excel
                                        </download-excel>
                                    </vs-dropdown-item>
                                    <vs-dropdown-item>
                                        <span class="flex items-center">
                                            <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                                            <span>Print</span>
                                        </span>
                                    </vs-dropdown-item>
                                </vs-dropdown-menu>
                            </vs-dropdown>
                            <!-- ADD NEW -->
                            <div v-if="createe == true " class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="name">Nama</vs-th>
                        <vs-th sort-key="address">Alamat</vs-th>
                        <vs-th sort-key="phone">Telepon</vs-th>                        
                        <vs-th sort-key="wage">Pajak (%)</vs-th>
                        <vs-th sort-key="wage">Status</vs-th>
                        <vs-th sort-key="action">Action</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>
                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name | capitalize}}
                            </vs-td>
                            <vs-td :data="data[indextr].address">
                                {{data[indextr].address}}
                            </vs-td>
                            <vs-td :data="data[indextr].phone">
                                {{data[indextr].phone}}
                            </vs-td>                            
                            <vs-td :data="data[indextr].taxable_rate">
                                {{data[indextr].taxable_rate}}
                            </vs-td>
                            <vs-td :data="data[indextr].status">                               
                                <vs-chip v-if="data[indextr].status === 'active'" color="success">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                                <vs-chip v-else color="warning">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="updatee == true " v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="deletee == true " v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- FORM -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent v-show="modalTitle == 'Add' || modalTitle=='Edit'">
                            <vs-row class="mb-4">
                                <vs-col vs-w="12" class="px-2">
                                    <vs-input v-model="form.name" label="Nama Gudang" class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row>
                                <vs-col vs-w="12" class="px-2">
                                    <vs-textarea label="Alamat" v-model="form.address" class="w-full p-3 my-5" />
                                </vs-col>
                            </vs-row>

                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.phone" label="Telepon" class="w-full" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-2">
                                    <vs-input v-model="form.npwp" label="NPWP" class="w-full" />
                                </vs-col>
                            </vs-row>

                            <vs-row class="mb-4">
                                <vs-col vs-w="4" class="px-2">
                                    <vs-select v-model="form.taxable" label="Pajak" class="w-full">
                                        <vs-select-item key="yes" value="yes" text="Yes" />
                                        <vs-select-item key="no" value="no" text="No" />
                                    </vs-select>
                                </vs-col>
                                <vs-col vs-w="4" class="px-2" v-if="form.taxable === 'yes'">
                                    <vs-input type="number" v-model="form.taxableRate"
                                        label="Rate Pajak" class="w-full" />
                                </vs-col>
                                <vs-col vs-w="4" class="px-2">
                                    <vs-select v-if="form.status" v-model="form.status" label="Status" class="w-full">
                                        <vs-select-item key="active" value="active" text="Active" />
                                        <vs-select-item key="inactive" value="inactive" text="Inactive" />
                                    </vs-select>
                                </vs-col>
                            </vs-row>
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>

                <!-- POPUP -->
                <vs-popup title="View Data" class="px-3" :active.sync="viewPopUp">
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Nama :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.name | capitalize}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Alamat :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.address}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Telepon :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.phone}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>NPWP :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span v-if="form.npwp !== null">{{form.npwp}}</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Tax :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <strong><span>{{form.taxableRate}} %</span></strong>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="px-5">
                        <vs-col vs-w="4">
                            <span>Status :</span>
                        </vs-col>
                        <vs-col vs-w="8">
                            <!-- <span>{{form.status}}</span> -->
                            <vs-chip v-if="form.status === 'active'" color="success">
                                {{form.status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else color="warning">
                                {{form.status | capitalize}}
                            </vs-chip>
                        </vs-col>
                    </vs-row>
                </vs-popup>

            </vx-card>
        </div>
    </div>
</template>



<script>
 
import moment from 'vue-moment'
import Datepicker from 'vuejs-datepicker'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default{
    components: { 
        Datepicker, 
        VuePerfectScrollbar, 
    },
    data() { 
        return {
            company_id:null,
            format: "d MMMM yyyy",
            addNewDataSidebar: false,
            activeConfirm: false,
            viewPopUp:false,
            modalPromptActive:false,
            modalTitle:null,
            createe:null,
            updatee:null,
            deletee:null,
            access:null,
            form:{
                id:null,
                name:null,
                address:null,
                phone:null,
                currencyCode:'IDR',
                npwp:null,
                taxable:null,
                taxableRate:null,
                status:'active',
                company:null,
            }, 
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            warehouse: [ ]
        }
    },
    mounted(){     
        this.$vs.loading({
            type: 'radius'
        });   
        this.loadData();        
    },
    computed:{
        validName(){
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }, 
    },
    methods:{ 
        async loadData() {
            this.company_id = this.$company != null ? this.$company.company_id : "2"
            this.$http.get(this.$baseURL + '/master/warehouses?filter=company_id|'+this.company_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.warehouse = res.data.data;                
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));

            this.access = this.$user.role.role_menus.access;

            for(var acc in this.access){
                if(this.$route.path == this.access[acc].url){
                    this.createe = this.access[acc].createe;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }
        },
        viewData(data) {
            this.form.id = data.wh_id;
            this.form.name = data.name;
            this.form.address = data.address;
            this.form.phone = data.phone;
            this.form.npwp = data.npwp;
            this.form.currencyCode = data.currency_code;
            this.form.taxable = data.taxable;
            this.form.taxableRate = data.taxable_rate;
            this.form.status = data.status;
            this.viewPopUp = true;
        },    
        addNewData() {
            this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true
        }, 
        editData(data)  {
            this.modalTitle = "Edit";
            this.form.id = data.wh_id;           
            this.form.name = data.name;
            this.form.address = data.address;
            this.form.phone = data.phone;
            this.form.npwp = data.npwp;
            this.form.currencyCode = data.currency_code;
            this.form.taxable = data.taxable;
            this.form.taxableRate = data.taxable_rate;
            this.form.status = data.status;
            this.modalPromptActive = true
        },

        deleteData(data) {
            this.form.id = data.wh_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this Warehouse Data ?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$vs.loading({
                type: 'radius'
            });
            this.$http.delete(this.$baseURL + '/master/warehouses/' + this.form.id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.promptAlert("success", "Warehouse Deleted", "The Warehouse was successfully Deleted");
                this.loadData();
            }).catch(err => {
                this.$vs.loading.close()
                console.log(err);
                this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                this.$options.filters.auth(err.response.data.message);
            });
            
        },
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            this.$vs.loading({
                type: 'radius'
            });
                if (this.form.taxable === 'no') {
                    this.form.taxableRate = 0;
                }

                const formData = new FormData();
                formData.append('company_id', this.company_id);
                formData.append('name', this.form.name);
                formData.append('address', this.form.address);
                formData.append('phone', this.form.phone);
                formData.append('currency_code', this.form.currencyCode);
                formData.append('npwp', this.form.npwp);
                formData.append('taxable', this.form.taxable);
                formData.append('taxable_rate', this.form.taxableRate);
                formData.append('status', this.form.status);

            if(this.modalTitle == "Add"){

                // console.log(data);
                // AXIOS POST
                this.$http.post(this.$baseURL + '/master/warehouses/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    // console.log(res.data.data);
                    this.promptAlert("success", "Warehouse Added", "The Warehouse was successfully Added");
                    this.loadData();
                    
                }).catch(err => {
                    this.$vs.loading.close()
                    console.log(err);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                    this.$options.filters.auth(err.response.data.message);
                });
            }else{
                
                formData.append('_method', 'PUT');
                // AXIOS PUT
                this.$http.post(this.$baseURL + '/master/warehouses/'+ this.form.id +'/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    // console.log(res.data.data);
                    this.promptAlert("success", "Warehouse Edited", "The Warehouse was Successfully Edited");
                    this.loadData();
                }).catch(err => {
                    this.$vs.loading.close()
                    console.log(err);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                    this.$options.filters.auth(err.response.data.message);
                });
            } 
        },
 
        resetPrompt() {
            this.form.name = null; 
            this.form.address = null; 
            this.form.phone = null; 
            this.form.npwp = null; 
            this.form.taxable_rate = null;  
            this.form.status = 'active'; 
        } 

    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            // max-height: 95vh;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                }
 
            }
        }
 
    } 

    .con-vs-popup { 
        .vs-popup{
            width: 60%;
        }
    } 
</style>

