<template>
    <div>
        <center>
            <img src="@assets/images/pages/LogoLogin.png" alt="graphic-404">
            <h1 class="sm:mx-0 mx-4 mb-12 text-5xl d-theme-heading-color">Welcome to Ligo Bakery POS System!</h1>
        </center>
    </div>
</template>
<script>
export default {
     data() {

        return {  
          displayname:null,
          warningdata: [],

        }
    },

	mounted() {
       this.displayName = this.$user != null ? this.$user.username : ""

			 this.$http.get(this.$baseURL + '/master/products/warningqty', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.warningdata= res.data.data;
            }).catch(err => {                
                this.$options.filters.auth(err.response.data.message)    
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));    
	    },
	    
	}
</script>