<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa"> 
        <div id="data-list-list-view" class="data-list-container">

            <vx-card >    
            <vs-table pagination :max-items="10" search :data="hppItem">

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div v-if="createe == true" class="flex flex-wrap-reverse items-center data-list-btn-container">
                     <div class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
                        <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                        <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                    </div> 
                </div> 
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="product">Product</vs-th>
                    <vs-th sort-key="saldo_awal">Saldo Awal</vs-th>
                    <vs-th sort-key="action">Action</vs-th>
                   
                </template> 

                <template slot-scope="{data}" >  
                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td> 
                        <vs-td :data="data[indextr].product">
                            {{data[indextr].product != null ? data[indextr].product.name: "" }}
                        </vs-td> 
                        <vs-td :data="data[indextr].saldo_awal">
                            Rp.{{data[indextr].saldo_awal | currency}}
                        </vs-td>   
                        <vs-td> 
                            <feather-icon v-if="updatee == true"   v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2" @click.stop="editData(tr)" />
                            <feather-icon v-if="deletee == true"   v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(tr)" /> 
                        </vs-td> 
                        
                    </vs-tr> 
                </template> 
            </vs-table> 
            <!-- FORM -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent v-show="modalTitle == 'Add' || modalTitle=='Edit'">
                            <span> Product</span>  
                            <v-select :clearable="false" v-model="form.product" :getOptionLabel="option => option.name" :options="productOptions"  name="COA Discount" >
                            <template #option="{code, name}">
                                            <cite>{{ code }}</cite> - {{ name }} 
                            </template>
                            </v-select>
                            <vs-input v-model="form.saldo_awal" type="number" label="HPP Awal" class="w-full" />
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt> 

        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import vSelect from 'vue-select'
  
export default{ 
    components: {
         vSelect,
    VuePerfectScrollbar,
  },
    data() { 
        return { 
            modalPromptActive: false,
            modalTitle: null,
            adjustId:null,  
            createe:null,
            confirmm:null,
            updatee:null,
            deletee:null,
            access:null,
            form:{
                id: null,
                product: null,
                saldo_awal: null,
            },
            productOptions:[],
            hppItem: [],
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
          
        }
    }, 
    
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    created(){ 
    this.$vs.loading({ type: 'radius' });        
      this.loadData()
      
     }, 
    methods:{
         async loadData(){  
            this.penyesuaianStock = [];
            var com_id = this.$company != null ? this.$company.company_id : "1";
            var wh_id = this.$company != null ? this.$company.warehouse[0].wh_id : "1";
           await this.$http.get(this.$baseURL + '/master/itemhpp', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.hppItem = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 

            this.$http.get(this.$baseURL + '/master/products?filter=wh_id|'+wh_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.productOptions = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
             this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }  
        },  
        addNewData() {
            this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true
        },
        editData(data) {
            this.modalTitle = "Edit";
            this.form.id = data.id;
            this.form.product = data.product;
            this.form.saldo_awal = data.saldo_awal;
            this.modalPromptActive = true
        },
        deleteData(tr) {
            this.form.id = tr.id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to Cancel this Data ?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$vs.loading({ type: 'radius' });   

           this.$http.delete(this.$baseURL+ '/master/itemhpp/' + this.form.id + '/delete',{
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.loadData();
                    this.$vs.loading.close(); 
                    this.promptAlert("success","Item HPP Deleted","The Item HPP Data was successfully Deleted");
                }).catch(err => {
                    this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed","Please Try Again") 
                    }
                });  
        },
         
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        }, 

        submitPrompt() {
           this.$vs.loading({ type: 'radius' });   
            const formData = new FormData();
            formData.append('product_id', this.form.product != null ? this.form.product.product_id : "");
            formData.append('saldo', this.form.saldo_awal);

            if (this.modalTitle == "Add") {
                // AXIOS POST
                this.$http.post(this.$baseURL + '/master/itemhpp/create', formData, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.promptAlert("success", "Item HPP Added", "The Item HPP was successfully Added")
                    this.loadData();
                    this.$vs.loading.close(); 
                }).catch(err => {
                    this.$vs.loading.close(); 
                    this.$options.filters.auth(err.response.data.message)
                    this.promptAlert("danger", "Error", err.response.data.errors);; 
                    
                })

            } else {
                formData.append('_method', 'PUT');

                // AXIOS PUT
                this.$http.post(this.$baseURL + '/master/itemhpp/' + this.form.id + '/update', formData, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {

                    this.promptAlert("success", "Unit Edited", "The Unit was successfully Edited");;
                    this.loadData();
                    this.$vs.loading.close(); 
                }).catch(err => {
                    this.$vs.loading.close(); 
                    this.$options.filters.auth(err.response.data.message);
                    this.promptAlert("danger", "Error", err.response.data.errors);; 
                })
            }
        },

        resetPrompt() {
            this.form.id = null;
            this.form.product = null;
            this.form.saldo_awal = null;
        }
        

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>