<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
<div>
      <vx-card  ref="headerGL" title="Work Order" class="user-list-filters mb-8">
          <div id="user-edit-tab-info">
          <div class="vx-row">
            <div class="vx-col w-full md:w-1/2">

              <!-- Col Header -->
              <div class="flex items-end">
                <feather-icon icon="UserIcon" class="mr-2" svgClasses="w-5 h-5" />
                <span class="leading-none font-medium">Program Information</span>
              </div>

              <!-- Col Content -->
              <div>

                <!-- DOB -->
                <br><br>
                  <span style="margin-top:-20px;"> ID : </span>   <br>
                  <span class="leading-none font-medium"><h3>POS-0001-20</h3></span> 
                <br><br>
                <span style="margin-top:-20px;"> Nama : </span>   <br>
                <span class="leading-none font-medium"><h3>{{name}}</h3></span> 
                <br><br>
                <span style="margin-top:-20px;"> Alamat  :</span>   <br>
                <span class="leading-none font-medium"><h3>{{address}}</h3></span> 
                <br><br>
                <span style="margin-top:-20px;"> NPWP : </span>   <br>
                <span class="leading-none font-medium"><h3>{{npwp}}</h3></span> 


 
 
              </div>
            </div>

            <!-- Address Col -->
            <div class="vx-col w-full md:w-1/2">

                <!-- Col Header -->
                <div class="flex items-end md:mt-0 mt-base">
                  <feather-icon icon="MapPinIcon" class="mr-2" svgClasses="w-5 h-5" />
                  <span class="leading-none font-medium">Accounting</span>
                </div>

                <!-- Col Content -->
                <div>
                  <br>
                  <span style="margin-top:-20px;"> COA Penjualan  </span>  
                  <v-select :clearable="false" v-model="coaPenjualan"  :options="coaOptions" :getOptionLabel="option => option.name" name="COA Penjualan"> 
                  <template #option="{code, name}">
                                <cite>{{ code }}</cite> - {{ name }} 
                  </template>
                  </v-select>
                  <br>
                  <span> COA Pembelian  </span>  
                  <v-select :clearable="false" v-model="coaPembelian" :getOptionLabel="option => option.name" :options="coaOptions"  name="COA Pembelian">
                  <template #option="{code, name}">
                                <cite>{{ code }}</cite> - {{ name }} 
                  </template>
                  </v-select>

                  <br>
                  <span> COA Hutang  </span>  
                  <v-select :clearable="false" v-model="coaHutang" :getOptionLabel="option => option.name"  :options="coaOptions"  name="COA Hutang">
                  <template #option="{code, name}">
                                <cite>{{ code }}</cite> - {{ name }} 
                  </template>
                  </v-select>
                  <br>
                  <span> COA Piutang  </span>  
                  <v-select :clearable="false" v-model="coaPiutang" :getOptionLabel="option => option.name" :options="coaOptions"  name="COA Piutang" >
                  <template #option="{code, name}">
                                <cite>{{ code }}</cite> - {{ name }} 
                  </template>
                  </v-select>
                  <br>
                  <span> COA Pajak Masukan</span>  
                  <v-select :clearable="false" v-model="coaPajak" :getOptionLabel="option => option.name" :options="coaOptions"  name="COA Pajak" >
                  <template #option="{code, name}">
                                <cite>{{ code }}</cite> - {{ name }} 
                  </template>
                  </v-select>
                  <br>
                  <span> COA Pajak Keluaran</span>  
                  <v-select :clearable="false" v-model="coaPajakOut" :getOptionLabel="option => option.name" :options="coaOptions"  name="COA Pajak" >
                  <template #option="{code, name}">
                                <cite>{{ code }}</cite> - {{ name }} 
                  </template>
                  </v-select>
                  <br>
                  <span> COA Discount Penjualan</span>  
                  <v-select :clearable="false" v-model="coaDisc" :getOptionLabel="option => option.name" :options="coaOptions"  name="COA Discount" >
                  <template #option="{code, name}">
                                <cite>{{ code }}</cite> - {{ name }} 
                  </template>
                  </v-select>
                  <br>
                  <span> COA Discount Pembelian  </span>  
                  <v-select :clearable="false" v-model="coaDiscBuy" :getOptionLabel="option => option.name" :options="coaOptions"  name="COA Discount" >
                  <template #option="{code, name}">
                                <cite>{{ code }}</cite> - {{ name }} 
                  </template>
                  </v-select>
                  <br>
                  <span> COA Ikhtisar Laba Rugi  </span>  
                  <v-select :clearable="false" v-model="coaIkhtisar" :getOptionLabel="option => option.name" :options="coaOptions"  name="COA Discount" >
                  <template #option="{code, name}">
                                <cite>{{ code }}</cite> - {{ name }} 
                  </template>
                  </v-select>
                  <br>
                  <span> COA Laba Rugi Di tahan  </span>  
                  <v-select :clearable="false" v-model="coalabarugi" :getOptionLabel="option => option.name" :options="coaOptions"  name="COA Discount" >
                  <template #option="{code, name}">
                                <cite>{{ code }}</cite> - {{ name }} 
                  </template>
                  </v-select>
 
                </div>
            </div>
          </div>

          <!-- Save & Reset Button -->
          <div class="vx-row">
            <div class="vx-col w-full">
              <div class="mt-8 flex flex-wrap items-center justify-end">
                <vs-button class="ml-auto mt-2" @click="submitData()"  >Save Changes</vs-button>
              </div>
            </div>
          </div>
        </div>
      </vx-card>  
   </div>   
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
 import vSelect from 'vue-select'
import axios from 'axios'

export default { 
  watch: {
    
  },
  data() {
    return {  
      companyId:null,
      name:null,
      address:null,
      npwp:null,
      coaPenjualan:null,
      coaPembelian:null,
      coaHutang:null,
      coaPiutang:null,
      coaPajak:null,
      coaPajakOut:null,
      coaDisc:null,
      coaDiscBuy:null,
      coaIkhtisar:null,
      coalabarugi:null,
      coaOptions: [], 
 
      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
    }
  },
  computed: {  
     validName(){
      // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
    }
  },
  created(){
    this.loadCompany();
    this.companyId = this.$company.company_id;
    this.name = this.$company.name;
    this.address = this.$company.address;
    this.npwp = this.$company.npwp;
     
  },
  methods: {
  async loadCOA(){ 
            this.$http.get(this.$baseURL + '/accounting/coa?filter=level|3;company_id|'+this.companyId, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.coaOptions = res.data.data;
                
                this.coaPenjualan =  this.coaOptions.filter(m => m.code === this.coaPenjualan);
                this.coaPenjualan =  this.coaPenjualan[0];
                this.coaPembelian =  this.coaOptions.filter(m => m.code === this.coaPembelian);
                this.coaPembelian =  this.coaPembelian[0];
                this.coaPiutang =  this.coaOptions.filter(m => m.code === this.coaPiutang);
                this.coaPiutang =  this.coaPiutang[0];
                this.coaHutang =  this.coaOptions.filter(m => m.code === this.coaHutang);
                this.coaHutang =  this.coaHutang[0];
                this.coaPajak =  this.coaOptions.filter(m => m.code === this.coaPajak);
                this.coaPajak =  this.coaPajak[0];
                this.coaPajakOut =  this.coaOptions.filter(m => m.code === this.coaPajakOut);
                this.coaPajakOut =  this.coaPajakOut[0];
                this.coaDisc =  this.coaOptions.filter(m => m.code === this.coaDisc);
                this.coaDisc =  this.coaDisc[0];
                this.coaDiscBuy =  this.coaOptions.filter(m => m.code === this.coaDiscBuy);
                this.coaDiscBuy =  this.coaDiscBuy[0];
                this.coaIkhtisar =  this.coaOptions.filter(m => m.code === this.coaIkhtisar);
                this.coaIkhtisar =  this.coaIkhtisar[0];
                this.coalabarugi =  this.coaOptions.filter(m => m.code === this.coalabarugi);
                this.coalabarugi =  this.coalabarugi[0];

            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
   }, 
   async loadCompany(){ 
            await this.$http.get(this.$baseURL + '/master/companies/'+this.$company.company_id+'/read', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                
                this.coaPenjualan = res.data.data.coa_penjualan;
                this.coaPembelian =  res.data.data.coa_pembelian;
                this.coaPiutang = res.data.data.coa_piutang;
                this.coaHutang =  res.data.data.coa_hutang;
                this.coaPajak = res.data.data.coa_pajak;
                this.coaPajakOut = res.data.data.coa_pajak_out;
                this.coaDisc = res.data.data.coa_discount;
                this.coaDiscBuy = res.data.data.coa_discount_buy;
                this.coaIkhtisar = res.data.data.coa_ikhtisar_labarugi;
                this.coalabarugi = res.data.data.coa_labarugi_ditahan;
                this.loadCOA();


            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
   }, 
   viewCOA(data){
        this.$http.get(this.$baseURL + '/accounting/coa?filter=code|'+data, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
               console.log(res.data.data);
                this.dataCOAHead = res.data.data;
                console.log(this.dataCOAHead);
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
    },

    submitData() { 
        this.$http.put(this.$baseURL + '/master/companies/'+this.companyId+'/updatelicence',
                this.$qs.stringify({ 
                    coa_penjualan: this.coaPenjualan.code,   
                    coa_pembelian: this.coaPembelian.code,  
                    coa_hutang: this.coaHutang.code,  
                    coa_piutang: this.coaPiutang.code,  
                    coa_pajak: this.coaPajak.code,  
                    coa_pajak_out: this.coaPajakOut.code,  
                    coa_discount: this.coaDisc.code,   
                    coa_discount_buy: this.coaDiscBuy.code,   
                    coa_ikhtisar_labarugi: this.coaIkhtisar.code,   
                    coa_labarugi_ditahan: this.coalabarugi.code,   
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                   window.location.href = '/pages/license';
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err);
                this.promptAlert("danger","Penyusutan Aset Submit Error",err)   
            }); 
    }, 
  

  },
  
  components: {
         vSelect,
    VuePerfectScrollbar,
  }
}
</script>

<style lang="scss" scoped>
@import "@sass/vuexy/extraComponents/autocomplete.scss";
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
