<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        <vx-card ref="filterCard" title="Headers" class="user-list-filters mb-8">
            <div class="vx-row mb-4">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <vs-input v-model="form.name" ref="name" label="Nama / Reference" :disabled="hide" class="w-full" />
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <vs-input :disabled="tipe === 'revisi'" v-model="form.invoice" label="Supplier Invoice"
                        class="w-full" />
                </div>
            </div>
            <div class="vx-row mb-4">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <label class="vs-input--label" for="">Supplier</label>
                    <span>
                        <v-select v-model="form.supplier" :disabled="tipe === 'revisi'" :clearable="false" label="name"
                            :options="supplierOptions" name="supplier" /> </span>
                </div>
                <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                    <label class="vs-input--label" for="">Warehouse / Gudang</label>
                    <span>
                        <v-select v-model="form.warehouse" :clearable="false" label="name"
                            :reduce="whOptions => whOptions.wh_id" :disabled="hide" :options="whOptions"
                            name="warehouse" @input="loadProduct" />
                    </span>
                </div>
                <div v-if="form.paymentType === 'Cash'" class="vx-col md:w-1/4 sm:w-1/4 w-full">
                    <label class="vs-input--label" for="">Pembayaran Ke:</label>
                    <span>
                        <v-select :disabled="tipe === 'revisi'" v-model="form.ke" label="name" :clearable="false"
                            :reduce="keOptions => keOptions.code" :options="keOptions" name="ke">
                            <template #option="{code, name}">
                                <cite>{{ code }}</cite> - {{ name }}
                            </template>
                        </v-select>
                    </span>
                </div>
            </div>
            <div class="vx-row mb-4">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <label class="vs-input--label" for="">Tipe Pembayaran</label>
                    <span>
                        <v-select :disabled="tipe === 'revisi'" v-model="form.paymentType" :clearable="false"
                            :options="paymentOptions" name="paymentType" />
                    </span>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <label v-show="form.paymentType == 'Credit'" class="vs-input--label" for="">Tanggal
                        Kadaluarsa:</label>
                    <datepicker :disabled="tipe === 'revisi'" :disabledDates="disabledDates"
                        v-show="form.paymentType == 'Credit'" placeholder="Select Date Expired"
                        v-model="form.dateexpired"></datepicker>
                </div>
            </div>
            <div class="vx-row mb-4">
                <div class="vs-input w-1/2 px-4">
                    <label class="vs-input--label" for="">Ongkir (Rp)</label>
                    <div class="vs-con-input">
                        <currency-input v-model.lazy="form.ongkir" @change="countTotal" :currency="{prefix}"
                            :precision="{min,max}" :disabled="tipe === 'revisi'" locale="de"
                            class="vs-inputx vs-input--input normal hasValue" />
                    </div>
                </div>

                <div class="vs-input w-1/2 px-4">
                    <vs-input v-model="form.ketOngkir" :disabled="tipe === 'revisi'" label="Ket. Ongkir"
                        class="w-full" />
                </div>
            </div>
            <div class="vx-row mb-4">
                <div class="vs-input w-1/2 px-4">
                    <label class="vs-input--label" for="">Biaya Lain (Rp)</label>
                    <div class="vs-con-input">
                        <currency-input :disabled="tipe === 'revisi'" v-model.lazy="form.biayaLain" :currency="{prefix}"
                            :precision="{min,max}" locale="de" @change="countTotal"
                            class="vs-inputx vs-input--input normal hasValue" />
                    </div>
                </div>
                <div class="vs-input w-1/2 px-4">
                    <vs-input :disabled="tipe === 'revisi'" v-model="form.ketBiayaLain" label="Ket. Biaya Lain"
                        class="w-full" />
                </div>

            </div>
        </vx-card>


        <div>
            <vx-card ref="bodyGL" class="user-list-filters mb-8">
                <vs-row>
                    <vs-col vs-w="3">
                        <span>Cari Produk: </span>
                        <v-select class="col-12" v-model="productValue" :clearable="false" label="name"
                            :options="productList" name="productList" @input="selectProduct" />
                    </vs-col>
                    <vs-col vs-w="9">
                        <vs-row>
                            <vs-col vs-w="2" class="px-3">
                                <vs-input class="w-full" v-model="product.qty_sm" label="Qty Pack" min="0"
                                    type="number" />
                            </vs-col>
                            <vs-col vs-w="1" class="my-auto pt-5">
                                <span class="">/ {{unitPack}} </span>
                            </vs-col>
                            <vs-col vs-w="3" class="px-3">
                                <label class="vs-input--label" for="">Harga (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="product.price_sm" :currency="{prefix}"
                                        :precision="{min,max}" locale="de"
                                        class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </vs-col>

                            <vs-col vs-w="1" class="pr-3">
                                <div class="my-auto pt-5">
                                    <vs-button v-if="form.supplier != null" radius color="warning" type="border"
                                        v-tooltip="'History Price'" v-on:click="historyPrice" icon="history">
                                    </vs-button>
                                </div>
                            </vs-col>

                            <vs-col vs-w="3" class="px-3">
                                <label class="vs-input--label" for="">Discount (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="product.disc" :currency="{prefix}" :precision="{min,max}"
                                        locale="de" class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </vs-col>
                            <vs-col vs-w="2" class="px-3">
                                <vs-button color="primary" style="width:100px; margin-top:20px;"
                                    :disabled="product.id === null || tipe === 'revisi'" v-on:click="addProduct"
                                    type="relief">Add
                                </vs-button>
                            </vs-col>
                        </vs-row>
                    </vs-col>

                </vs-row>

                <!-- TABLE APPROVE -->
                <vs-table v-if="tipe==='approve'" multiple v-model="selected" :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <vs-th sort-key="stok">Pack</vs-th>
                        <vs-th sort-key="price">Vol (Box)</vs-th>
                        <vs-th sort-key="stok">Vol. Order</vs-th>
                        <vs-th sort-key="price">Volume (Box)</vs-th>
                        <vs-th sort-key="tax">Price (IDR)</vs-th>
                        <vs-th sort-key="total">Total Amount (IDR)</vs-th>
                        <vs-th sort-key=""></vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>

                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>
                            <vs-td :data="data[indextr].product.pack">
                                <strong>{{data[indextr].product.pack_qty}}</strong> / {{data[indextr].product.pack}}
                            </vs-td>
                            <vs-td :data="data[indextr].product.unit_qty">
                                <!-- <strong>{{data[indextr].product.unit_qty}}</strong> / {{data[indextr].product.unit_sm}} -->
                                <div
                                    v-if="data[indextr].product.unit_qty * data[indextr].product.pack_qty >= 1000 && data[indextr].product.pack === 'ml' || data[indextr].product.pack === 'g'">
                                    <strong>{{(data[indextr].product.unit_qty * data[indextr].product.pack_qty) / 1000}}</strong>
                                    / <span v-if="data[indextr].product.pack === 'ml'">lt</span> <span
                                        v-if="data[indextr].product.pack === 'g'">kg</span>
                                </div>

                                <div v-else>
                                    <strong>{{data[indextr].product.unit_qty * data[indextr].product.pack_qty}}</strong>
                                    /
                                    {{data[indextr].product.pack}}
                                </div>
                            </vs-td>
                            <vs-td :data="data[indextr].total_sm_qty">
                                <div
                                    v-if="data[indextr].volume.order.qty >= 1000 && data[indextr].volume.order.unit === 'ml' || data[indextr].volume.order.unit === 'g'">
                                    <strong>{{data[indextr].volume.order.qty / 1000}}</strong> / <span
                                        v-if="data[indextr].volume.order.unit === 'ml'">lt</span> <span
                                        v-if="data[indextr].volume.order.unit === 'g'">Kg</span>
                                </div>

                                <div v-else><strong>{{data[indextr].volume.order.qty}}</strong> /
                                    {{data[indextr].volume.order.unit}}</div>
                            </vs-td>
                            <vs-td :data="data[indextr].qty_lg">
                                <div v-if="parseInt(data[indextr].volume.detail.qty_lg) > 0">
                                    <strong>{{data[indextr].volume.detail.qty_lg}}</strong> /
                                    {{data[indextr].volume.detail.unit_lg}}</div>
                                <div v-if="parseInt(data[indextr].volume.detail.qty_sm) > 0">
                                    <strong>{{data[indextr].volume.detail.qty_sm}}</strong> /
                                    {{data[indextr].volume.detail.unit_sm}}</div>
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                <strong>{{data[indextr].price_sm | currency}}</strong>
                            </vs-td>
                            <vs-td :data="data[indextr].dpp">
                                <strong>{{data[indextr].dpp | currency}}</strong>
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-tooltip="'Edit'" icon="EditIcon"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editPostData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon v-tooltip="'Delete'" icon="TrashIcon"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>

                        </vs-tr>

                    </template>
                </vs-table>

                <!-- TABLE SHOW WHEN TIPE AS NEW AND EDIT -->
                <vs-table v-else stripe :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <vs-th sort-key="stok">Pack</vs-th>
                        <vs-th sort-key="price">Vol (Box)</vs-th>
                        <vs-th sort-key="stok">Vol. Order</vs-th>
                        <vs-th sort-key="price">Volume (Box)</vs-th>
                        <vs-th sort-key="tax">Price (IDR)</vs-th>
                        <vs-th sort-key="total">Total Amount (IDR)</vs-th>
                        <vs-th sort-key=""></vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>

                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>
                            <vs-td :data="data[indextr].product.pack">
                                <strong>{{data[indextr].product.pack_qty}}</strong> / {{data[indextr].product.pack}}
                            </vs-td>
                            <vs-td :data="data[indextr].product.unit_qty">
                                <!-- <strong>{{data[indextr].product.unit_qty}}</strong> / {{data[indextr].product.unit_sm}} -->
                                <div
                                    v-if="data[indextr].product.unit_qty * data[indextr].product.pack_qty >= 1000 && data[indextr].product.pack === 'ml' || data[indextr].product.pack === 'g'">
                                    <strong>{{(data[indextr].product.unit_qty * data[indextr].product.pack_qty) / 1000}}</strong>
                                    / <span v-if="data[indextr].product.pack === 'ml'">lt</span> <span
                                        v-if="data[indextr].product.pack === 'g'">kg</span>
                                </div>

                                <div v-else>
                                    <strong>{{data[indextr].product.unit_qty * data[indextr].product.pack_qty}}</strong>
                                    /
                                    {{data[indextr].product.pack}}
                                </div>
                            </vs-td>
                            <vs-td :data="data[indextr].total_sm_qty">
                                <!-- <div><strong>{{data[indextr].volume.order.qty}}</strong> /
                                    {{data[indextr].volume.order.unit}}</div> -->

                                <div
                                    v-if="data[indextr].volume.order.qty >= 1000 && data[indextr].volume.order.unit === 'ml' || data[indextr].volume.order.unit === 'g'">
                                    <strong>{{data[indextr].volume.order.qty / 1000}}</strong> / <span
                                        v-if="data[indextr].volume.order.unit === 'ml'">lt</span> <span
                                        v-if="data[indextr].volume.order.unit === 'g'">Kg</span>
                                </div>

                                <div v-else><strong>{{data[indextr].volume.order.qty}}</strong> /
                                    {{data[indextr].volume.order.unit}}</div>

                            </vs-td>
                            <vs-td :data="data[indextr].qty_lg">
                                <div v-if="parseInt(data[indextr].volume.detail.qty_lg) > 0">
                                    <strong>{{data[indextr].volume.detail.qty_lg}}</strong> /
                                    {{data[indextr].volume.detail.unit_lg}}</div>
                                <div v-if="parseInt(data[indextr].volume.detail.qty_sm) > 0">
                                    <strong>{{data[indextr].volume.detail.qty_sm}}</strong> /
                                    {{data[indextr].volume.detail.unit_sm}}</div>
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                <strong>{{data[indextr].price_sm | currency}}</strong>
                            </vs-td>
                            <vs-td :data="data[indextr].dpp">
                                <strong>{{data[indextr].dpp | currency}}</strong>
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-tooltip="'Edit'" icon="EditIcon"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editPostData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon v-tooltip="'Delete'" icon="TrashIcon"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>

                        </vs-tr>

                    </template>
                </vs-table>
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3" vs-w="12">
                        <h4>Subtotal: <b>Rp. {{ form.total | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Diskon: <b>Rp. {{ form.totalDiscount | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Tax: <b>Rp. {{ form.totalTax | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Ongkir: <b>Rp. {{ form.ongkir | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Biaya Lain: <b>Rp. {{ form.biayaLain | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ form.grandtotalTemp | currency}}</b></h4>
                    </vs-col>
                </vs-row>

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button style="width:100px; background-color:mediumslateblue;" type="relief"
                            @click.stop="back()">
                            Back</vs-button>
                        <vs-button v-if="tipe !== 'approve' && tipe !== 'revisi'" color="success" style="width:100px;"
                            type="relief" @click.stop="openTOC()">
                            Submit</vs-button>
                        <!-- SHOW REVISI ONLY -->
                        <vs-button v-if="tipe === 'revisi'" color="warning" style="width:100px;" type="relief"
                            @click.stop="revisi()">
                            Revisi</vs-button>

                        <!-- SHOW APPROVE ONLY -->
                        <vs-button v-if="tipe === 'approve'" color="warning" style="width:100px;" type="relief"
                            @click.stop="rejectPO()">
                            Reject</vs-button>
                        <vs-button v-if="tipe === 'approve'" color="primary" style="width:100px;" type="relief"
                            @click.stop="approve()">
                            Approve</vs-button>
                    </vs-col>
                </vs-row>

                <div v-if="productValue">
                    <vs-prompt v-if="activePrompt2" @cancel="close" @accept="acceptAlert" @close="close"
                        accept-text="Edit" :active.sync="activePrompt2" title="Edit">
                        <div class="con-exemple-prompt">

                            <vs-input label="Product" disabled="true" v-model="productValue.name" class="w-full" />
                            <vs-row>
                                <vs-input min="0" type="number" label="Qty Pack" v-model="productValue.qty_sm"
                                    class="w-1/2" />
                                <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> /
                                    {{productValue.unit_sm}}</span>
                            </vs-row>

                            <div class="vs-input w-full px-1">
                                <label class="vs-input--label" for="">Harga (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input :disabled="tipe === 'revisi'" v-model="productValue.price_sm"
                                        :currency="{prefix}" :precision="{min,max}" locale="de"
                                        class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </div>
                            <vs-row>

                                <div class="vs-input w-1/2 px-1">
                                    <label class="vs-input--label" for="">Discount (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input :disabled="tipe === 'revisi'" v-model="productValue.discount"
                                            :currency="{prefix}" :precision="{min,max}" locale="de"
                                            class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </div>
                            </vs-row>
                        </div>
                    </vs-prompt>
                </div>

                <div>
                    <vs-prompt v-if="activePromptSubmit" @cancel="close" @accept="submit" @close="close"
                        accept-text="Submit" :active.sync="activePromptSubmit" title="Submit">
                        <div class="con-exemple-prompt">
                            <vs-row>
                                <vs-col vs-w="12">
                                    <vs-input label="Request" v-model="form.requests" class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row>
                                <vs-col vs-w="12">
                                    <vs-input label="Folow Up" v-model="form.tocFollow_up" class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row>
                                <vs-col vs-w="12">
                                    <vs-input label="Perjanjian Pembayaran" v-model="form.tocPayment_terms"
                                        class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row>
                                <vs-col vs-w="12">
                                    <!-- <vs-input label="Serah Terima Barang (STB)" v-model="form.tocStb" class="w-full" /> -->
                                    <label class="vs-input--label" for="">Serah Terima Barang (STB)</label>
                                    <span>
                                        <v-select v-model="form.tocStb" :clearable="false" label="name"
                                            :options="stbOptions" name="stb" />
                                    </span>
                                </vs-col>
                            </vs-row>
                            <vs-row>
                                <vs-col vs-w="12">
                                    <vs-input label="Keterangan STB" v-model="form.tocStb_desc" class="w-full" />
                                </vs-col>
                            </vs-row>
                            <vs-row>
                                <vs-col vs-w="12">
                                    <vs-input label="Jadwal RETV" v-model="form.tocRetv_schedule" class="w-full" />
                                </vs-col>
                            </vs-row>

                        </div>
                    </vs-prompt>
                </div>

                <!-- POP-UP REJECT -->
                <vs-prompt v-if="activeReject" @cancel="close" @accept="acceptReject" @close="close"
                    accept-text="Submit" :active.sync="activeReject" :title="modalTitle">
                    <div class="con-exemple-prompt">
                        <vs-row>
                            <vs-input label="Notes" v-model="notes" class="w-full" />
                        </vs-row>
                    </div>
                </vs-prompt>

                <!-- POP-UP HISTORY PRICE -->
                <vs-popup v-if="activeHistory" class="px-3" title="Harga Terakhir" :active.sync="activeHistory">
                    <vs-row>
                        <vs-col vs-w="12">
                            <vs-table stripe :data="prices">
                                <template slot="thead">
                                    <vs-th sort-key="code">Invoice</vs-th>
                                    <vs-th sort-key="date">Tanggal</vs-th>
                                    <vs-th sort-key="price_sm">Harga</vs-th>
                                </template>

                                <template slot-scope="{data}">
                                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                                        <vs-td :data="data[indextr].code">
                                            {{data[indextr].code}}
                                        </vs-td>
                                        <vs-td :data="data[indextr].date">
                                            {{data[indextr].date}}
                                        </vs-td>
                                        <vs-td :data="data[indextr].price">
                                            {{data[indextr].price | currency}}
                                        </vs-td>
                                    </vs-tr>
                                </template>
                            </vs-table>
                        </vs-col>
                    </vs-row>
                </vs-popup>

            </vx-card>
        </div>

    </div>
</template>



<script>
import vSelect from 'vue-select'
import VueSimpleSuggest from 'vue-simple-suggest';
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        VueSimpleSuggest,
        vSelect,
        Datepicker
    },
    data() {

        return {
            format_ID: "DD/MM/YYYY",
            disabledDates: {
                customPredictor: function (date) {
                    if (date < new Date()) {
                        return true
                    }
                }
            },
            activeReject: false,
            activeHistory: false,
            modalTitle: 'Reject',
            notes: null,
            po: true,
            max: 0,
            min: 0,
            prefix: 'Rp ',
            id: null,
            tipe: null,
            hide: false,
            delete: null,
            edit: [],
            activePrompt2: false,
            activePromptSubmit: false,
            mode: 'input',
            selected: [],
            qtyKecil: null,
            qtyBesar: null,
            unitPack: null,
            form: {
                wh_id: null,
                dateexpired: new Date(),
                user: null,
                name: null,
                invoice: null,
                supplier: null,
                customer: null,
                warehouse: null,
                paymentType: 'Cash',
                ke: '',
                total: 0,
                totalDiscount: 0,
                totalTax: 0,
                ongkir: 0,
                ketOngkir: '',
                biayaLain: 0,
                ketBiayaLain: '',
                serial: '',
                requests: null,
                tocFollow_up: null,
                tocPayment_terms: null,
                tocStb: 'fot',
                tocStb_desc: null,
                tocRetv_schedule: null,
                ongkirTemp: 0,
                grandtotal: 0,
                grandtotalTemp: 0,

            },
            productValue: {
                name: null,
                product_id: null,
                po_pb_d_id: null,
                pb_d_id: null,
                code: null,
                qty_sm: 1,
                unit_sm: null,
                price_sm: 0,
                pack_qty: 0,
                discount: 0,
            },
            wh_id: null,
            product: {
                id: null,
                qty_lg: 0,
                qty_sm: 1,
                price_lg: 0,
                price_sm: 0,
                unit: null,
                tax: 10,
                disc: 0,
                pack_qty: 0,
                // sale:0
            },
            productList: [],
            editValue: {
                product: null,
                qty: 1,
                price: 0,
                // saleprice:0,
                tax: 10,
                disc: 0,
                satuan: null
            },
            unitOptions: [],
            userOptions: [
                "Admin", "Accounting", "Supervisor"
            ],
            whOptions: [],
            supplierOptions: [],
            keOptions: [],
            paymentOptions: [
                "Cash", "Credit"
            ],
            salesOptions: [
                "Kevin", "Andi", "Ricky"
            ],
            stbOptions: [
                "loco", "franco", "fob", "fot", "c&f", "cif"
            ],
            penjualans: [],
            pembelian_not: [],
            prices: [],

        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData();
    },
    computed: {},
    methods: {
        //LOAD AWAL
        async loadData() {
            this.id = this.$route.params.idPembelian;
            this.tipe = this.$route.params.tipe;
            // this.disabledDates = this.$moment().toDate();

            // jika tipe revisi semua yang disabled
            if (this.tipe === 'revisi') {
                this.hide = true;
            }

            if (this.id > 0) {
                this.loadEdit();
            }

            var resSupplier = await this.$http.get(this.$baseURL + '/master/suppliers', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {

                this.$options.filters.auth(err.response.data.message)
            })

            var resKe = await this.$http.get(this.$baseURL + '/accounting/coa', {
                params: {
                    filter: 'fromcode|11;company_id|' + this.$company.company_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {

                this.$options.filters.auth(err.response.data.message)
            })

            var resWarehouse = await this.$http.get(this.$baseURL + '/master/warehouses', {
                params: {
                    filter: 'company_id|' + this.$company.company_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {

                this.$options.filters.auth(err.response.data.message)
            })

            this.whOptions = resWarehouse.data.data;
            this.supplierOptions = resSupplier.data.data;
            this.keOptions = resKe.data.data;
            // this.form.ke = resKe.data.data[0].code;
            this.$vs.loading.close();
        },

        //LOAD PRODUCT BERDASAR WAREHOUSE
        async loadProduct(data) {
            var wh_id = data;
            var resProduct = await this.$http.get(this.$baseURL + '/master/products', {
                params: {
                    filter: 'wh_id|' + wh_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })

            this.productList = resProduct.data.data;
        },

        //LOAD DATA KETIKA FORM UNTUK EDIT
        async loadEdit() {
            this.po = false;

            if (this.tipe === 'revisi') {
                var resReadPO = await this.$http.get(this.$baseURL + '/pembelian/pembelian/' + this.id + '/read', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })
                this.penjualans = resReadPO.data.data.pembelian_details;
            } else {
                var resReadPO = await this.$http.get(this.$baseURL + '/pembelian/po/' + this.id + '/read', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })
                this.penjualans = resReadPO.data.data.po_pembelian_details;
            }


            var result = resReadPO.data.data;

            if (result.payment === 'paid') {
                this.form.paymentType = 'Cash';
            } else {
                this.form.paymentType = 'Credit';
            }

            // var total = 0;
            // for (let index = 0; index < result.po_pembelian_details.length; index++) {
            //     total = total + result.po_pembelian_details[index].amount;
            // }
            this.loadProduct(result.wh_id);

            this.form.total = (result.total + result.discount) - result.ongkir - result.biaya_lain - result.tax;
            this.form.warehouse = result.wh_id;
            this.form.name = result.name;
            this.form.invoice = result.code;
            this.form.supplier = result.supplier;
            this.form.ongkir = result.ongkir;
            this.form.ketOngkir = result.ongkir_desc;
            this.form.biayaLain = result.biaya_lain;
            this.form.ketBiayaLain = result.biaya_lain_desc;
            this.form.ongkirTemp = result.ongkir;
            this.form.totalDiscount = result.discount;
            this.form.totalTax = result.tax;
            this.form.serial = result.serial;

            this.form.ke = result.coa_code;
            this.form.user = result.user.user_id;
            this.form.grandtotal = parseInt(result.total);
            this.form.grandtotalTemp = parseInt(result.total);

            this.hide = true;

            this.$vs.loading.close();
        },

        countTotal() {
            this.form.grandtotalTemp = (parseInt(this.form.total) + parseInt(this.form.totalTax) + parseInt(this.form.ongkir) + parseInt(this.form.biayaLain)) - parseInt(this.form.totalDiscount);
        },

        // FUNCTION KETIKA PRODUK DIPILIH
        selectProduct(value) {
            this.unitOptions = null;
            this.product.id = value.product_id;
            var price = value['product_details'][0];
            if (price !== undefined) {
                this.product.price_lg = value.product_details[0].price_lg;
                this.product.price_sm = value.product_details[0].price_sm;

            } else {
                this.product.price_lg = 0;
                this.product.price_sm = 0;
            }

            this.product.pack_qty = value.pack_qty;
            this.unitPack = value.pack;
            this.qtyBesar = value.unit_lg;
            this.qtyKecil = value.unit_sm;
        },

        //SHOW POPUP HISTORY PRICE
        async historyPrice() {
            if (this.form.supplier != null) {

                this.$vs.loading({
                    type: 'radius'
                });

                this.activeHistory = true;
                var resHistory = await this.$http.get(this.$baseURL + '/master/products/history/purchases', {
                    params: {
                        supplier_id: this.form.supplier.supplier_id,
                        product_id: this.product.id,
                    }
                }, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })


                this.prices = resHistory.data.data.history_price_sm;

                this.$vs.loading.close();
            }

        },

        acceptHistory() {
            this.activeHistory = false;
        },

        // ADD PRODUCT
        addProduct() {

            if (this.form.name === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Nama Tidak Boleh Kosong',
                })
            } else if (this.form.name.length < 6) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Nama minimal 6 karakter',
                })
            } else if ((this.product.qty_sm % this.product.pack_qty) > 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Quantity tidak sesuai Pack',
                });
            } else if (this.penjualans.length > 0) {
                var cek = this.penjualans.find(el => el.product_id === this.product.id);
                if (cek === undefined) {
                    if (this.form.paymentType === 'Cash') {
                        if (this.form.ke === '') {
                            this.$vs.dialog({
                                color: 'danger',
                                title: 'Error',
                                text: 'Tujuan Pembayaran belum dipilih',
                            })
                        } else {
                            this.runAddProduct();
                        }
                    } else {
                        this.runAddProduct();
                    }
                } else {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Produk sudah ada',
                        // accept: this.accept
                    })
                }
            } else {
                if (this.form.paymentType === 'Cash') {
                    if (this.form.ke === '') {
                        this.$vs.dialog({
                            color: 'danger',
                            title: 'Error',
                            text: 'Tujuan Pembayaran belum dipilih',
                        })
                    } else {
                        this.runAddProduct();
                    }
                } else {
                    this.runAddProduct();
                }
            }
        },

        runAddProduct() {
            this.$vs.loading({
                type: 'radius'
            });

            this.hide = true;
            var product = this.productValue;

            const formData = new FormData();
            formData.append('name', this.form.name);
            formData.append('wh_id', this.form.warehouse);
            formData.append('supplier_id', this.form.supplier.supplier_id);
            formData.append('supplier_inv', this.form.invoice);
            formData.append('payment', this.form.paymentType.toLowerCase());
            // formData.append('due_date', this.form.dateexpired);

            if (this.form.dateexpired === null) {
                formData.append('due_date', this.$moment().format(this.format_ID));
            } else {
                formData.append('due_date', this.$moment(this.form.dateexpired).format(this.format_ID));
            }

            formData.append('coa_code', this.form.ke);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);
            formData.append('details[product_id]', this.product.id);
            formData.append('details[qty]', this.product.qty_sm);
            formData.append('details[price]', this.product.price_sm);
            formData.append('details[tax]', this.product.tax);
            formData.append('details[discount]', this.product.disc);

            if (this.form.serial !== '') {
                formData.append('serial', this.form.serial);
            }

            this.$http.post(this.$baseURL + '/pembelian/agro/po/details/create', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {

                this.loadPO(res.data.data.po_pb_id);
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Data berhasil ditambahkan'
                });
                this.clearData();

            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })
        },

        //LOAD DATA PEMBELIAN SETELAH CRUD PRODUCT
        async loadPO(value) {
            var resPO = await this.$http.get(this.$baseURL + '/pembelian/po/' + value + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })

            var total = 0;
            for (let index = 0; index < resPO.data.data.po_pembelian_details.length; index++) {
                total = total + resPO.data.data.po_pembelian_details[index].amount;
            }

            // hitung amount = (total + discount) - ongkir - tax
            this.penjualans = resPO.data.data.po_pembelian_details;
            this.form.total = (resPO.data.data.total + resPO.data.data.discount) - resPO.data.data.ongkir - resPO.data.data.biaya_lain - resPO.data.data.tax;
            this.form.totalDiscount = resPO.data.data.discount;
            this.form.totalTax = resPO.data.data.tax;
            this.form.serial = resPO.data.data.serial;
            // this.form.grandtotal = parseInt(resPO.data.data.total)  + parseInt(this.form.ongkir);
            this.form.grandtotal = parseInt(resPO.data.data.total);
            this.form.grandtotalTemp = parseInt(resPO.data.data.total);
            this.form.ongkir = parseInt(resPO.data.data.ongkir);
            this.form.ongkirTemp = parseInt(resPO.data.data.ongkir);
            this.$vs.loading.close();
        },

        addNewData() {
            this.sidebarData = {}
            this.toggleDataSidebar(true)
        },

        resetColFilters() {
            this.form.dateStart = null
            this.form.dateFinish = null
            this.form.user = null
            this.form.customer = null
            this.$refs.filterCard.removeRefreshAnimation()
        },
        onSuggestSelect(suggest) {
            this.selected = suggest
        },

        editPostData(data) {
            console.log(data);

            this.productValue.name = data.product.name;
            this.productValue.product_id = data.product.product_id;
            this.productValue.po_pb_d_id = data.po_pb_d_id;
            this.productValue.pb_d_id = data.pembelian_d_id;
            this.productValue.qty_sm_temp = data.volume.order.qty;
            this.productValue.qty_sm = data.volume.order.qty;
            this.productValue.unit_sm = data.volume.order.unit;
            this.productValue.price_sm = data.price_sm;
            this.productValue.pack_qty = data.product.pack_qty;
            this.productValue.discount = data.discount;
            this.productValue.tax = data.tax;
            this.totalQtySM = data.product.total_sm_qty;
            this.activePrompt2 = true;
        },
        acceptAlert() {
            if ((this.productValue.qty_sm % this.productValue.pack_qty) > 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Quantity tidak sesuai Pack',
                });
            } else if (this.productValue.qty_sm < 1) {
                this.deleteData(this.edit);
            } else if (this.tipe === 'revisi' && this.productValue.qty_sm > this.productValue.qty_sm_temp) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Quantity lebih dari pesanan awal',
                });
            } else if (this.form.paymentType === 'Cash') {
                if (this.form.ke === '') {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tujuan Pembayaran belum dipilih',
                    })
                } else {
                    this.runEdit();
                }
            } else {
                this.runEdit();
            }
        },

        runEdit() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('name', this.form.name);
            formData.append('wh_id', this.form.warehouse);
            formData.append('supplier_id', this.form.supplier.supplier_id);
            formData.append('supplier_inv', this.form.invoice);
            formData.append('payment', this.form.paymentType.toLowerCase());

            if (this.form.dateexpired === null) {
                formData.append('due_date', this.$moment().format(this.format_ID));
            } else {
                formData.append('due_date', this.$moment(this.form.dateexpired).format(this.format_ID));
            }

            formData.append('coa_code', this.form.ke);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);
            formData.append('details[product_id]', this.productValue.product_id);
            formData.append('details[qty]', this.productValue.qty_sm);
            formData.append('details[price]', this.productValue.price_sm);
            formData.append('details[tax]', this.productValue.tax);
            formData.append('details[discount]', this.productValue.discount);
            formData.append('_method', 'PUT');

            this.$vs.loading({
                type: 'radius'
            });

            if (this.tipe === 'revisi') {
                const formData_rev = new FormData();
                formData_rev.append('execute', 'agro');
                formData_rev.append('qty_pack', this.productValue.qty_sm);

                this.$http.post(this.$baseURL + '/pembelian/pembelian/revisi/detail/' + this.productValue.pb_d_id + '/update', formData_rev, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.loadEdit();

                    this.$vs.notify({
                        color: 'success',
                        title: 'Success',
                        text: 'Data berhasil diubah'
                    });
                    this.activePrompt2 = false;
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                });
            } else {
                this.$http.post(this.$baseURL + '/pembelian/agro/po/details/' + this.productValue.po_pb_d_id + '/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.loadPO(res.data.data.po_pb_id);

                    this.$vs.notify({
                        color: 'success',
                        title: 'Success',
                        text: 'Data berhasil diubah'
                    });
                    this.activePrompt2 = false;
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                });
            }

        },

        close() {
            this.activePrompt2 = false;
            // this.productValue = null;
        },
        deleteData(data) {
            this.delete = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan menghapus data?',
                accept: this.acceptAlert1
            })
        },
        acceptAlert1() {
            this.$vs.loading({
                type: 'radius'
            });

            if (this.tipe === 'revisi') {
                this.$http.post(this.$baseURL + '/pembelian/pembelian/revisi/detail/' + this.delete.pembelian_d_id + '/delete', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    if (this.po) {
                        this.loadPO(this.delete.po_pb_id);
                    } else {
                        this.loadEdit();
                    }
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })
            } else {
                this.$http.delete(this.$baseURL + '/pembelian/po/details/' + this.delete.po_pb_d_id + '/delete', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    if (this.po) {
                        this.loadPO(this.delete.po_pb_id);
                    } else {
                        this.loadEdit();
                    }
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })
            }
        },

        submit() {
            if (this.penjualans.length <= 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Produk kosong',
                    // accept: this.accept
                })
            } else if (this.form.paymentType === 'Cash') {

                if (this.form.ke === '') {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tujuan Pembayaran belum dipilih',
                    })
                } else {
                    this.$vs.dialog({
                        type: 'confirm',
                        color: 'warning',
                        title: `Confirm`,
                        text: 'Anda yakin sudah sesuai?',
                        accept: this.acceptSubmit
                    })
                }
            } else {
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: `Confirm`,
                    text: 'Anda yakin sudah sesuai?',
                    accept: this.acceptSubmit
                })
            }

        },

        openTOC() {

            if (this.form.paymentType === 'Cash') {

                if (this.form.ke === '') {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tujuan Pembayaran belum dipilih',
                    })
                } else {
                    this.activePromptSubmit = true;
                }
            } else {
                this.activePromptSubmit = true;
            }
        },
        acceptSubmit() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('name', this.form.name);
            formData.append('wh_id', this.form.warehouse);
            formData.append('supplier_id', this.form.supplier.supplier_id);
            formData.append('supplier_inv', this.form.invoice);
            formData.append('payment', this.form.paymentType.toLowerCase());
            // formData.append('due_date', this.form.dateexpired);

            if (this.form.dateexpired === null) {
                formData.append('due_date', this.$moment().format(this.format_ID));
            } else {
                formData.append('due_date', this.$moment(this.form.dateexpired).format(this.format_ID));
            }

            formData.append('coa_code', this.form.ke);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);
            formData.append('requests', this.form.requests);
            formData.append('toc[follow_up]', this.form.tocFollow_up);
            formData.append('toc[payment_terms]', this.form.tocPayment_terms);
            formData.append('toc[stb]', this.form.tocStb);
            formData.append('toc[stb_desc]', this.form.tocStb_desc);
            formData.append('toc[retv_schedule]', this.form.tocRetv_schedule);

            if (this.id > 0) {
                formData.append('_method', 'PUT');
                this.$http.post(this.$baseURL + '/pembelian/agro/po/' + this.id + '/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/viewpembeliandetail/' + res.data.data.po_pb_id + '/po');
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })
            } else {
                this.$http.post(this.$baseURL + '/pembelian/agro/po/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/viewpembeliandetail/' + res.data.data.po_pb_id + '/po');
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })
            }
        },

        approve() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Anda yakin akan menyetujui PO ini?',
                accept: this.acceptApprove
            })
        },
        acceptApprove() {

            if (this.selected.length <= 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Produk belum dipilih',

                })

            } else if (this.form.invoice === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Supplier Invoice kosong',

                })
            } else if (this.form.paymentType === 'Cash') {

                if (this.form.ke === '') {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tujuan Pembayaran belum dipilih',
                    })
                } else {
                    this.runApprove();
                }
            } else {
                this.runApprove();
            }
        },

        runApprove() {
            this.$vs.loading({
                type: 'radius'
            });
            const formData = new FormData();
            for (let index = 0; index < this.selected.length; index++) {
                formData.append('details[' + index + '][id]', this.selected[index].po_pb_d_id);
            }
            formData.append('execute', 'approved');
            formData.append('approved[payment]', this.form.paymentType.toLowerCase());
            if (this.form.dateExpired === null) {
                formData.append('approved[due_date]', this.$moment().format(this.format_ID));
            } else {
                formData.append('approved[due_date]', this.$moment(this.form.dateExpired).format(this.format_ID));
            }

            formData.append('approved[coa_code]', this.form.ke);
            formData.append('approved[ongkir]', this.form.ongkir);
            formData.append('approved[ongkir_desc]', this.form.ketOngkir);
            formData.append('approved[biaya_lain]', this.form.biayaLain);
            formData.append('approved[biaya_lain_desc]', this.form.ketBiayaLain);
            formData.append('approved[supplier_inv]', this.form.invoice);

            this.$http.post(this.$baseURL + '/pembelian/po/' + this.id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/pembelian/');
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })
        },

        rejectPO() {
            this.activeReject = true;
            this.modalTitle = 'Reject';
        },
        acceptReject() {

            if (this.modalTitle === 'Reject') {
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: `Confirm`,
                    text: 'Anda yakin akan menolak PO ini?',
                    accept: this.acceptRejectPO
                })
            } else {
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: `Confirm`,
                    text: 'Anda yakin akan menghapus PO ini?',
                    accept: this.acceptDeletePO
                })
            }


        },
        acceptRejectPO() {
            this.$vs.loading({
                type: 'radius'
            });
            const formData = new FormData();

            formData.append('execute', 'rejected');
            formData.append('rejected', 1);
            formData.append('notes', this.notes);


            this.$http.post(this.$baseURL + '/pembelian/po/' + this.id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/po');
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })
        },

        deletePO() {
            this.activeReject = true;
            this.modalTitle = 'Delete'

        },
        acceptDeletePO() {
            this.$vs.loading({
                type: 'radius'
            });
            const formData = new FormData();

            formData.append('execute', 'void');
            formData.append('notes', this.notes);


            this.$http.post(this.$baseURL + '/pembelian/po/' + this.id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/po');
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })

        },

        revisi() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('execute', 'agro');
            // formData.append('_method', 'PUT');

            this.$http.post(this.$baseURL + '/pembelian/pembelian/revisi/' + this.id + '/submit', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/pembelian/revisifaktur/');
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })
        },


        clearData() {
            // this.productValue = null,
            this.product.id = null;
            this.product.qty_lg = 0;
            this.product.qty_sm = 1;
            this.product.price_lg = 0;
            this.product.price_sm = 0;
            this.product.disc = 0;
        },
        clearValMultiple() {
            // this.editValue.product = null;
            // this.editValue.qty = null;
            // this.editValue.price = null;
            // this.editValue.satuan = null;
            // this.editValue.tax = null;
            // this.editValue.disc = null;
        },
        back() {
            this.$router.go(-1);
        },
        savePO() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Are you sure want to Submit this Edited PO ?',
                accept: this.acceptSubmit
            })

        },

    }

}
</script>

<style scoped lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>