<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-customer">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-tabs alignment="fixed">
                    <vs-tab label="Hutang">
                        <vs-table pagination :max-items="10" search :data="hutangs">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="faktur">Faktur</vs-th>
                                <vs-th sort-key="date">Date</vs-th>
                                <vs-th sort-key="expire">Expired</vs-th>
                                <vs-th sort-key="suplier">Total (Rp)</vs-th>
                                <vs-th sort-key="amount">Paid (Rp)</vs-th>
                                <vs-th sort-key="balance">Balance (Rp)</vs-th>
                                <vs-th sort-key="action">Action</vs-th>
                            </template>
                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">
                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].pembelian_id">
                                        {{data[indextr].pembelian_id}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        {{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].paid_off">
                                        {{data[indextr].paid_off | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].balance">
                                        {{data[indextr].balance | currency}}
                                    </vs-td>
                                    <vs-td>
                                        <feather-icon v-show="data[indextr].paid_off !== '0'" icon="PocketIcon"
                                            svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                            @click.stop="editData(tr)" />
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>

                    <vs-tab label="Hutang Completed">
                        <vs-table pagination :max-items="10" search :data="hutangComplete">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                </div>
                            </div>
                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="faktur">Faktur</vs-th>
                                <vs-th sort-key="date">Date</vs-th>
                                <vs-th sort-key="expire">Expired</vs-th>
                                <vs-th sort-key="suplier">Total (Rp)</vs-th>
                                <vs-th sort-key="amount">Paid (Rp)</vs-th>
                                <vs-th sort-key="balance">Balance (Rp)</vs-th>
                            </template>
                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">
                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].pembelian_id">
                                        {{data[indextr].pembelian_id}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        {{data[indextr].total}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].paid_off">
                                        {{data[indextr].paid_off | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].balance">
                                        {{data[indextr].balance | currency}}
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                </vs-tabs>

                <!-- FORM -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent>
                            <div style="text-align:center; margin-bottom:40px; margin-top:20px;">
                                <span>
                                    <h2>Sisa Hutang : Rp.{{form.hutang | currency}}</h2>
                                </span>
                            </div>
                            <div class="vx-row">
                                <div class="vx-col w-full">
                                    <span
                                        style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">Date</span>
                                    <datepicker placeholder="Select Date" v-model="form.date" class="w-full">
                                    </datepicker>
                                </div>
                            </div>
                            <div class="vx-row">
                                <div class="vx-col  w-full">
                                    <span
                                        style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">From</span>
                                    <v-select v-model="form.coa" :clearable="false" label="name" :options="coaOptions"
                                        :reduce="coaOptions => coaOptions.code" name="coa">
                                        <template #option="{code, name}">
                                            <cite>{{ code }}</cite> - {{ name }}
                                            <!-- <cite>{{ code }}</cite> -->
                                        </template>
                                    </v-select>
                                </div>
                            </div>
                            <div class="vx-row">
                                <div class="vx-col w-full">
                                    <div class="vs-input w-full px-1">
                                        <label class="vs-input--label" for="">Amount (Rp)</label>
                                        <div class="vs-con-input">
                                            <currency-input v-model="form.amount" :currency="{prefix}" locale="de"
                                                class="vs-inputx vs-input--input normal hasValue" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>

            </vx-card>
        </div>
    </div>
</template>



<script>
import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker';
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    components: {
        vSelect,
        Datepicker,
        VuePerfectScrollbar,
    },
    data() {
        return {
            hide: false,
            prefix: 'Rp ',
            tes: null,
            addNewDataSidebar: false,
            activeConfirm: false,
            modalPromptActive: false,
            modalTitle: null,
            form: {
                hutang: null,
                date: null,
                faktur: null,
                amount: 0,
                coa: null,
                execute: 'pay',

            },
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            hutangValue: null,
            coaOptions: [],

            hutangs: [],
            hutangComplete: [

            ]
        }
    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData()
    },
    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "";

            var resHutang = await this.$http.get(this.$baseURL + '/pembelian/hutang?filter=company_id|' + com_id, {
                params: {
                    filter: 'balance|0|>'
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            // LOAD HUTANG COMPLETE
            var resHutangComplete = await this.$http.get(this.$baseURL + '/pembelian/hutang?filter=company_id|' + com_id, {
                params: {
                    filter: 'balance|0|='
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resKe = await this.$http.get(this.$baseURL + '/accounting/coa?filter=fromcode|11;company_id|' + com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.hutangs = resHutang.data.data;
            this.hutangComplete = resHutangComplete.data.data;
            this.coaOptions = resKe.data.data;
            this.$vs.loading.close();
        },
        addNewData() {
            this.resetPrompt();
            this.modalTitle = "Add";
            this.modalPromptActive = true
        },
        editData(data) {
            this.hutangValue = data;
            this.modalTitle = "Pay";
            this.hide = true;
            this.form.hutang = data.balance;
            this.form.coa = data.hutang_details[0].coa_code;
            this.modalPromptActive = true
        },

        deleteData(data) {
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to Delete this Cash Data ?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.promptAlert("danger", "Cash Deleted", "The selected Cash was successfully deleted")
        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            if (this.form.coa === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Data Empty',
                    text: 'Payment not Selected!',
                    // accept: this.accept
                })
            } else if (this.form.date === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Data Empty',
                    text: 'Date not Selected!',
                    accept: this.editData
                })
            } else if (this.form.amount <= 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Data Empty',
                    text: 'Amount Zero Value not Allowed!',
                    // accept: this.accept
                })
            } else if (this.form.amount > this.form.hutang) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Data Empty',
                    text: 'Amount Exceed Hutang!',
                    // accept: this.accept
                })
            } else {

                this.hide = true;
                var product = this.productValue;

                const formData = new FormData();
                formData.append('date', this.$moment(this.form.date).format("DD/MM/YYYY"));
                formData.append('coa_code', this.form.coa);
                formData.append('amount', this.form.amount);
                formData.append('execute', 'pay');

                this.$http.post(this.$baseURL + '/pembelian/hutang/' + this.hutangValue.hutang_id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    // console.log(res.data.data);
                    this.loadData();
                    this.$vs.notify({
                        color: 'success',
                        title: 'Hutang Paid Off',
                        text: 'Successfully Paid Off'
                    })

                }).catch(err => {
                    console.log(err);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Hutang Paid Failed',
                        text: err.response.data.message
                    })
                    this.$options.filters.auth(err.response.data.message);
                })
            }
        },

        resetPrompt() {
            this.form.date = null;
            this.form.cashstatus = null;
            this.form.description = null;
            this.form.fromcoa = null;
            this.form.tocoa = null;
            this.form.amount = null;
        }

    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 40%;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 85vh;
                    height: 300px;
   
                }
 
            }
        }
 
    } 
</style>

