<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <div id="data-list-list-view" class="data-list-container">
            <!-- CARD FILTER -->
            <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" collapseAction refreshContentAction
                @refresh="resetColFilters">
                <vs-row>
                    <vs-col vs-w="6">
                        <vs-row class="mb-3">
                            <vs-col vs-w="2">
                                <span class="w-full mx-3 my-auto"> Date: </span>
                            </vs-col>
                            <vs-col class="pl-5" vs-w="5">
                                <datepicker class="w-full" placeholder="Select Date Start" v-model="form.dateStart">
                                </datepicker>
                            </vs-col>
                            <vs-col class="pl-5" vs-w="5">
                                <datepicker class="w-full" placeholder="Select Date Finish" v-model="form.dateFinish">
                                </datepicker>
                            </vs-col>
                        </vs-row>
                        <!-- <vs-row class="mb-3">
                            <vs-col vs-w="2">
                                <span class="mx-3 my-auto"> User: </span> 
                            </vs-col>
                            <vs-col class="pl-5" vs-w="5">
                                <v-select class="w-full" style="width:100%" v-model="form.user" :clearable="true" label='username' :options="userOptions" placeHolder="User" name="User"/>
                            </vs-col>
                        </vs-row>   -->
                        <vs-row class="mb-3">
                            <vs-col vs-w="2">
                                <span class="mx-3 my-auto"> Supplier: </span>
                            </vs-col>
                            <vs-col class="pl-5" vs-w="5">
                                <v-select class="w-full" v-model="form.supplier" :clearable="true" label='name'
                                    :options="supplierOptions" name="Category" />
                            </vs-col>
                        </vs-row>
                        <vs-row class="mb-3">
                            <!-- <span style="margin-left:15px; margin-top:20px;"> Product: </span> 
                            <span><v-select v-model="form.product" :clearable="true" label='name' :options="productOptions" style=" width:450px; margin:15px 20px 0px 23px;" name="Category"/>  </span> -->
                            <div class="text-right">
                                <vs-button color="success" type="relief" style="margin-top:10px; height:45px;"
                                    @click="searchData">Search</vs-button>
                            </div>

                        </vs-row>
                    </vs-col>
                </vs-row>
            </vx-card>

            <!-- CARD PEMBELIAN -->
            <vx-card>
                <vs-tabs alignment="fixed">
                    <vs-tab label="Pembelian">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="pembelian">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                    <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                        <div
                                            class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                            <span class="mr-2">Actions</span>
                                            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                        </div>

                                        <vs-dropdown-menu>
                                            <vs-dropdown-item>
                                                <span @click="revisiFaktur" class="flex items-center">
                                                    <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4"
                                                        class="mr-2" />
                                                    <span>Revisi Faktur</span>
                                                </span>
                                            </vs-dropdown-item>
                                        </vs-dropdown-menu>
                                    </vs-dropdown>
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="tanggal">Tanggal</vs-th>
                                <vs-th sort-key="nama">Invoice</vs-th>
                                <vs-th sort-key="suplier">Supplier</vs-th>
                                <vs-th sort-key="total">Total (Rp)</vs-th>
                                <vs-th sort-key="total">Pembayaran (Rp)</vs-th>
                                <vs-th sort-key="status">Status</vs-th>
                                <vs-th></vs-th>
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                                    <vs-td :data="indextr+1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code">
                                        {{data[indextr].code}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].supplier.name">
                                        {{data[indextr].supplier.name}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        <span class="my-auto ">{{data[indextr].total | currency}}</span>
                                    </vs-td>
                                    <vs-td :data="data[indextr].payment">
                                        <vs-chip v-if="data[indextr].payment === 'paid'" color="success">
                                            {{data[indextr].payment | capitalize}}

                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].payment | capitalize}}

                                        </vs-chip>
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">

                                        <vs-chip v-if="data[indextr].status === 'approve'" color="success">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td>
                                        <vs-col vs-w="4" class="px-2">
                                            <feather-icon v-tooltip="'Print'" icon="PrinterIcon"
                                                svgClasses="w-5 h-5 hover:text-success stroke-current"
                                                @click.stop="printPembelian(tr)" />
                                        </vs-col>
                                        <vs-col vs-w="4" class="px-2">
                                            <feather-icon v-tooltip="'Delete'" icon="TrashIcon"
                                                svgClasses="w-5 h-5 hover:text-success stroke-current"
                                                @click.stop="deleteData(tr)" />
                                        </vs-col>
                                    </vs-td>

                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                    <vs-tab label="Pembelian (Void)">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="pembelianVoid">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="tanggal">Tanggal</vs-th>
                                <vs-th sort-key="nama">Invoice</vs-th>
                                <vs-th sort-key="suplier">Supplier</vs-th>
                                <vs-th sort-key="total">Total (Rp)</vs-th>
                                <vs-th sort-key="total">Pembayaran (Rp)</vs-th>
                                <vs-th sort-key="status">Status</vs-th>
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                                    <vs-td :data="indextr+1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code">
                                        {{data[indextr].code}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].supplier.name">
                                        {{data[indextr].supplier.name}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        <span class="my-auto ">{{data[indextr].total | currency}}</span>
                                    </vs-td>
                                    <vs-td :data="data[indextr].payment">
                                        <vs-chip v-if="data[indextr].payment === 'paid'" color="success">
                                            {{data[indextr].payment | capitalize}}

                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].payment | capitalize}}

                                        </vs-chip>
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">

                                        <vs-chip v-if="data[indextr].status === 'approve'" color="success">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                </vs-tabs>
            </vx-card>
        </div>

        <!-- POP UP REVISI FAKTUR -->
        <div>
            <vs-prompt v-if="activeRevisi" @cancel="close" @accept="acceptRevisi" @close="close" accept-text="Submit"
                :active.sync="activeRevisi" title="Revisi Faktur">
                <div class="con-exemple-prompt">
                    <vs-row class="mb-5">
                        <label class="vs-input--label" for="">Nomor</label>
                        <!-- <vs-input label="Id Penjualan" v-model="revisi.id" class="w-full" /> -->
                        <v-select v-model="revisi.id" class="w-full" :clearable="false" :options="pembelianOptions"
                            :reduce="pembelianOptions => pembelianOptions.code" label="code" placeHolder="Penjualan"
                            name="penjualan" />
                    </vs-row>
                    <vs-row>
                        <vs-textarea label="Alasan" v-model="revisi.alasan" />
                    </vs-row>
                </div>
            </vs-prompt>
        </div>

    </div>
</template>



<script>
import vSelect from 'vue-select';
import Datepicker from 'vuejs-datepicker';
   
export default {
    components: {
        vSelect,
        Datepicker
    },
    data() {
        return {
            activeRevisi: false,
            access: null,
            createe: null,
            confirmm: null,
            updatee: null,
            deletee: null,
            delete: null,
            pembelianValue: null,
            form: {
                dateStart: null,
                dateFinish: null,
                user: null,
            },
            revisi: {
                id: null,
                alasan: null,
            },
            pembelian: [],
            pembelianVoid: [],
            pembelianOptions: [],
            supplierOptions: [],
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData()
    },


    methods: {
        async loadData() {
            var resPembelian = await this.$http.get(this.$baseURL + '/pembelian/pembelian?dateFrom=' + this.$moment().subtract(2, "days").format(this.format_ID) + '&dateTo=' + this.$moment().format(this.format_ID), {
                params: {
                    filter: 'status|approve'
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message)
            })

            var resPembelianVoid = await this.$http.get(this.$baseURL + '/pembelian/pembelian?dateFrom=' + this.$moment().subtract(2, "days").format(this.format_ID) + '&dateTo=' + this.$moment().format(this.format_ID), {
                params: {
                    filter: 'status|void'
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message)
            })

            var resPBOptions = await this.$http.get(this.$baseURL + '/pembelian/pembelian', {
                params: {
                    filter: 'status|approve'
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.$http.get(this.$baseURL + '/master/suppliers', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.supplierOptions = res.data.data;

            }).catch(err => {
                if (err.response.data.message == "Unauthenticated") {
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            })

            this.pembelian = resPembelian.data.data;
            this.pembelianVoid = resPembelianVoid.data.data;
            this.pembelianOptions = resPBOptions.data.data;
            // this.revisi.id = resPBOptions.data.data[0];
            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.path == this.access[acc].url) {
                    this.createe = this.access[acc].createe;
                    this.confirmm = this.access[acc].confirmm;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }
            this.$vs.loading.close();
        },

        viewData(tr) {
            // console.log(tr);
            this.$router.push('/pages/viewpembeliandetail/' + tr.pembelian_id + '/pembelian').catch(() => {})
        },
        addNewData() {
            this.sidebarData = {}
            this.toggleDataSidebar(true)
        },
        deleteData(data) {
            this.delete = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan menghapus Transaksi ini?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$vs.loading({
                type: 'radius'
            });
            const formData = new FormData();
            formData.append('_method', 'DELETE');
            formData.append('notes', 'void pembelian');

            this.$http.post(this.$baseURL + '/pembelian/pembelian/' + this.delete.pembelian_id + '/delete', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Data berhasil dihapus'
                });
                this.loadData();
            }).catch(err => {
                this.$vs.loading.close();
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            });
        },

        printPembelian(data) {
            // console.log(data);
            this.$router.push('/pages/pembelian/faktur/print/' + data.pembelian_id);
        },

        revisiFaktur() {
            this.activeRevisi = true;
        },

        acceptRevisi() {

            if (this.revisi.id === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Nomor Transaksi kosong',
                    // accept: this.accept
                })
            } else if (this.revisi.alasan === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Note belum diisi',
                    // accept: this.accept
                })

            } else {

                const formData = new FormData();
                formData.append('no_faktur', this.revisi.id);
                formData.append('action', 'revisi');
                formData.append('notes', this.revisi.alasan);

                this.$http.post(this.$baseURL + '/pembelian/pembelian/revisi/status', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.$router.push('/pages/pembelian/revisifaktur');
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })
            }

        },
        
        close() {
            this.activeRevisi = false;
        },

        searchData() {
            this.$vs.loading({
                type: 'radius'
            });
            if (this.form.dateStart == null && this.form.dateFinish == null) {
                this.date = ''
            } else {
                this.dateFrom = this.$moment(this.form.dateStart).format("DD/MM/YYYY");
                this.dateTo = this.$moment(this.form.dateFinish).format("DD/MM/YYYY");
                this.date = 'date_from=' + this.dateFrom + '&date_to=' + this.dateTo
            }

            if (this.form.supplier == null) {
                this.sup = ''
            } else {
                if (this.date == '' && this.form.dateFinish == null) {
                    this.sup = 'supplier_id|' + this.form.supplier.supplier_id
                } else {
                    this.sup = '&supplier_id=' + this.form.supplier.supplier_id
                }
            }

            if (this.form.dateStart == null && this.form.dateFinish == null && this.form.supplier == null) {
                this.loadData()
            } else {
                this.$http.get(this.$baseURL + '/pembelian/pembelian?filter=status|approve;' + this.sup + this.date, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.pembelian = res.data.data;

                }).catch(err => {
                    if (err.response.data.message == "Unauthenticated") {
                        this.$options.filters.auth(err.response.data.message)
                    }
                    console.log(err.data.message);
                }).finally(() => setTimeout(this.$vs.loading.close(), 2000));


                this.$http.get(this.$baseURL + '/pembelian/pembelian?filter=status|void;' + this.sup + this.date, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.pembelianVoid = res.data.data;

                }).catch(err => {
                    if (err.response.data.message == "Unauthenticated") {
                        this.$options.filters.auth(err.response.data.message)
                    }
                    console.log(err.data.message);
                }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

            }
        },

        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        resetColFilters() {
            this.$vs.loading({
                type: 'radius'
            });
            this.form.dateStart = null;
            this.form.dateFinish = null;
            this.form.supplier = null;
            this.$refs.filterCard.removeRefreshAnimation();
            this.loadData();
        },

    }
}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>