<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <div id="table-coa">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" collapseAction refreshContentAction
                @refresh="resetColFilters">
                <vs-row>
                    <vs-col vs-w="6">
                        <vs-row class="mb-3">
                            <vs-col vs-w="2">
                                <span class="w-full mx-3 my-auto"> Date: </span>
                            </vs-col>
                            <vs-col class="pl-5" vs-w="5">
                                <datepicker class="w-full" placeholder="Select Date Start" v-model="form.dateStart">
                                </datepicker>
                            </vs-col>
                            <vs-col class="pl-5" vs-w="5">
                                <datepicker class="w-full" placeholder="Select Date Finish" v-model="form.dateFinish">
                                </datepicker>
                            </vs-col>
                        </vs-row>
                        <vs-row class="mb-3">
                            <vs-col vs-w="2">
                                <span class="mx-3 my-auto"> User: </span>
                            </vs-col>
                            <vs-col class="pl-5" vs-w="5">
                                <v-select class="w-full" style="width:100%" v-model="form.user" :clearable="true"
                                    label='username' :options="userOptions" placeHolder="User" name="User" />
                            </vs-col>
                        </vs-row>
                        <vs-row class="mb-3">
                            <vs-col vs-w="2">
                                <span class="mx-3 my-auto"> Supplier: </span>
                            </vs-col>
                            <vs-col class="pl-5" vs-w="5">
                                <v-select class="w-full" v-model="form.supplier" :clearable="true" label='name'
                                    :options="supplierOptions" name="Category" />
                            </vs-col>
                        </vs-row>
                        <vs-row class="mb-3">
                            <!-- <span style="margin-left:15px; margin-top:20px;"> Product: </span> 
                            <span><v-select v-model="form.product" :clearable="true" label='name' :options="productOptions" style=" width:450px; margin:15px 20px 0px 23px;" name="Category"/>  </span> -->
                            <div class="text-right">
                                <vs-button color="success" type="relief" style="margin-top:10px; height:45px;"
                                    @click="searchData">Search</vs-button>
                            </div>

                        </vs-row>
                    </vs-col>
                </vs-row>
            </vx-card>
            <vx-card>
                <!-- <vs-tabs alignment="fixed">
                    <vs-tab label="List PO"> -->
                <vs-table pagination :max-items="10" search @selected="viewData" :data="pembelian">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <div v-if="createe==true"
                                class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="indextr">No</vs-th>
                        <vs-th sort-key="created_at">Tanggal</vs-th>
                        <vs-th sort-key="name">Nama</vs-th>
                        <vs-th sort-key="code">Invoice</vs-th>
                        <vs-th sort-key="supplier">Supplier</vs-th>
                        <vs-th sort-key="total">Total (Rp)</vs-th>
                        <vs-th sort-key="status">Status</vs-th>
                        <vs-th sort-key="action">Action</vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                            <vs-td :data="indextr + 1">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td :data="data[indextr].created_at">
                                {{data[indextr].created_at}}
                            </vs-td>


                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name}}
                            </vs-td>

                            <vs-td :data="data[indextr].code">
                                {{data[indextr].code}}
                            </vs-td>
                            <vs-td :data="data[indextr].supplier.name">
                                {{data[indextr].supplier.name}}
                            </vs-td>
                            <vs-td :data="data[indextr].total">
                                {{data[indextr].total | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].status">
                                <vs-chip v-if="data[indextr].status === 'open'" color="success">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                                <vs-chip v-else-if="data[indextr].status === 'pending'" color="warning">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                                <vs-chip v-else color="danger">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                            </vs-td>
                            <vs-td>
                                <vs-col v-if="data[indextr].status === 'pending'" vs-w="4" class="px-1">
                                    <vs-tooltip left>
                                        <feather-icon icon="CheckCircleIcon" v-tooltip="'Approve'"
                                            v-if="confirmm == true"
                                            svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2"
                                            @click.stop="approvePO(tr)" />
                                    </vs-tooltip>
                                </vs-col>
                                <vs-col vs-w="4" class="px-1" v-if="updatee == true">
                                    <vs-tooltip text="Edit">
                                        <feather-icon icon="EditIcon"
                                            v-if="data[indextr].status === 'open' || data[indextr].status === 'complete'"
                                            v-tooltip="'Edit'" svgClasses="w-5 h-5 hover:text-warning stroke-current"
                                            class="ml-2" @click.stop="editPO(tr)" />
                                    </vs-tooltip>
                                </vs-col>
                                <vs-col class="px-1" v-if="data[indextr].status === 'pending'" vs-w="4">
                                    <vs-tooltip left>
                                        <feather-icon icon="PrinterIcon" v-tooltip="'Print PO'"
                                            svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2"
                                            @click.stop="printPO(tr)" />
                                    </vs-tooltip>
                                </vs-col>
                                <vs-col class="px-1"
                                    v-if="data[indextr].status === 'open' || data[indextr].status === 'reject'"
                                    vs-w="4">
                                    <vs-tooltip text="Delete">
                                        <feather-icon icon="TrashIcon" v-tooltip="'Delete'" v-if="deletee === true"
                                            svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                            @click.stop="deletePO(tr)" />
                                    </vs-tooltip>
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>
                <!-- </vs-tab> -->
                <!-- </vs-tabs> -->
            </vx-card>
        </div>
    </div>
</template>

<script>
    import vSelect from 'vue-select';
    import Datepicker from 'vuejs-datepicker';
    export default {
        components: {
            vSelect,
            Datepicker
        },
        data() {
            return {
                collapse: true,
                com_id: null,
                wh_id: null,
                createe: null,
                confirmm: null,
                updatee: null,
                deletee: null,
                confirmm: null,
                access: null,
                form: {
                    dateStart: null,
                    dateFinish: null,
                    user: null,
                    supplier: null,
                    product: null,
                },
                delete: [],
                pembelian: [],
                pembelianNot: [],
                statusOptions: [
                    "close", "open", "pending",
                ],
                userOptions: [],
                supplierOptions: [],
                productOptions: [],
                date: '',
                user: '',
                sup: null,
                product: null,
                dateFrom: null,
                dateTo: null,
            }
        },
        mounted() {
            this.$vs.loading({
                type: 'radius'
            });
            this.loadData();
            this.com_id = this.$company != null ? this.$company.company_id : "1"
            this.wh_id = this.$company.warehouse[0].wh_id;
        },


        methods: {
            async loadData() {
                var resPO = await this.$http.get(this.$baseURL + '/pembelian/po?dateFrom=' + this.$moment().subtract(2, "days").format(this.format_ID) + '&dateTo=' + this.$moment().format(this.format_ID), {
                    params: {
                        filter: 'status|open'
                    },
                }, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })

                var resPOPush = await this.$http.get(this.$baseURL + '/pembelian/po?dateFrom=' + this.$moment().subtract(2, "days").format(this.format_ID) + '&dateTo=' + this.$moment().format(this.format_ID), {
                    params: {
                        filter: 'status|open|!='
                    },
                }, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })

                this.$http.get(this.$baseURL + '/master/suppliers', {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.supplierOptions = res.data.data;

                }).catch(err => {
                    if (err.response.data.message == "Unauthenticated") {
                        this.$options.filters.auth(err.response.data.message)
                    }
                    console.log(err.data.message);
                })

                this.$http.get(this.$baseURL + '/master/products', {
                    params: {
                        filter: 'wh_id|' + this.wh_id
                    }
                }, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.productOptions = res.data.data;

                }).catch(err => {
                    if (err.response.data.message == "Unauthenticated") {
                        this.$options.filters.auth(err.response.data.message)
                    }
                    console.log(err.data.message);
                })

                this.$http.get(this.$baseURL + '/auth/users', {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.userOptions = res.data.data;

                }).catch(err => {
                    if (err.response.data.message == "Unauthenticated") {
                        this.$options.filters.auth(err.response.data.message)
                    }
                    console.log(err.data.message);
                });


                var resPONot = await this.$http.get(this.$baseURL + '/pembelian/po', {
                    params: {
                        filter: 'status|reject:void'
                    },
                }, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })
                var result = resPO.data.data;
                // this.pembelian = result.push(resPOPush.data.data);
                // this.pembelian = resPO.data.data;

                for (let i = 0; i < resPOPush.data.data.length; i++) {
                    result.push(resPOPush.data.data[i]);
                }

                this.pembelian = result;

                this.pembelianNot = resPONot.data.data;
                this.access = this.$user.role.role_menus.access;

                for (var acc in this.access) {
                    if (this.$route.path == this.access[acc].url) {
                        this.createe = this.access[acc].createe;
                        this.confirmm = this.access[acc].confirmm;
                        this.updatee = this.access[acc].updatee;
                        this.deletee = this.access[acc].deletee;
                    }
                }
                this.$vs.loading.close();
            },
            searchData() {
                this.$vs.loading({
                    type: 'radius'
                });
                if (this.form.dateStart == null && this.form.dateFinish == null) {
                    this.date = ''
                } else {
                    this.dateFrom = this.$moment(this.form.dateStart).format("DD/MM/YYYY");
                    this.dateTo = this.$moment(this.form.dateFinish).format("DD/MM/YYYY");
                    this.date = 'date_from=' + this.dateFrom + '&date_to=' + this.dateTo
                }

                if (this.form.user == null) {
                    this.user = ''
                } else {
                    if (this.date == '') {
                        this.user = 'user_id|' + this.form.user.user_id
                    } else {
                        this.user = '&user_id=' + this.form.user.user_id
                    }
                }

                if (this.form.supplier == null) {
                    this.sup = ''
                } else {
                    if (this.form.user == null && this.form.dateFinish == null) {
                        this.sup = 'supplier_id|' + this.form.supplier.supplier_id
                    } else {
                        this.sup = '&supplier_id=' + this.form.supplier.supplier_id
                    }
                }

                // if (this.form.product == null) {
                //     this.product = ''
                // } else {
                //     if (this.form.user == null && this.form.dateFinish == null && this.form.customer == null) {
                //         this.product = 'product=' + this.form.product.product_id
                //     } else {
                //         this.product = '&product=' + this.form.product.product_id
                //     }
                // }
                if (this.form.dateStart == null && this.form.dateFinish == null && this.form.supplier == null && this.form.user == null) {
                    this.loadData()
                } else {
                    this.$http.get(this.$baseURL + '/pembelian/po?filter=' + this.sup + this.user + this.date, {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        }
                    }).then(res => {
                        this.pembelian = res.data.data;

                    }).catch(err => {
                        if (err.response.data.message == "Unauthenticated") {
                            this.$options.filters.auth(err.response.data.message)
                        }
                        console.log(err.data.message);
                    }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

                }
            },

            viewData(tr) {
                this.$router.push('/pages/viewpembeliandetail/' + tr.po_pb_id + '/po').catch(() => {})
            },
            addNewData() {
                this.$router.push('/pages/formpo/0/new').catch(() => {})
            },
            approvePO(value) {

                // this.$router.push('/pages/formreviewpo/' + value.po_pb_id);
                this.$router.push('/pages/formpo/' + value.po_pb_id + '/approve');
            },
            deletePO(value) {
                this.delete = value;
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Yakin akan menghapus data ini?',
                    accept: this.acceptAlert
                })
            },
            acceptAlert() {
                this.$vs.loading({
                    type: 'radius'
                });
                // const formData = new FormData();

                // formData.append('execute', 'void');               
                // formData.append('notes', 'Delete');

                this.$http.delete(this.$baseURL + '/pembelian/po/' + this.delete.po_pb_id + '/delete', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).then(res => {
                    this.loadData();
                    this.$vs.notify({
                        color: 'success',
                        title: 'Success',
                        text: 'Data berhasil dihapus'
                    });
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })
            },
            editPO(value) {
                this.$router.push('/pages/formpo/' + value.po_pb_id + '/edit');
            },
            promptAlert(type, title, text) {
                this.$vs.notify({
                    color: type,
                    title: title,
                    text: text
                })
            },
            unrejectPO(value) {
                this.delete = value;

                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Anda yakin akan mengembalikan PO ini?',
                    accept: this.acceptUnreject
                })
            },
            acceptUnreject() {
                this.$vs.loading({
                    type: 'radius'
                });

                const formData = new FormData();

                formData.append('execute', 'rejected');
                formData.append('rejected', 0);
                formData.append('notes', this.notes);

                this.$http.post(this.$baseURL + '/pembelian/po/' + this.delete.po_pb_id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$vs.notify({
                        color: 'success',
                        title: 'Success',
                        text: 'Data berhasil dikembalikan'
                    });
                    this.loadData();
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })
            },
            printPO(data) {
                // console.log(data);
                this.$router.push('/pages/pembelian/order/print/' + data.po_pb_id);
            },
            resetColFilters() {
                this.$vs.loading({
                    type: 'radius'
                });
                this.form.dateStart = null;
                this.form.dateFinish = null;
                this.form.user = null;
                this.form.customer = null;
                this.form.supplier = null;
                this.$refs.filterCard.removeRefreshAnimation();
                this.loadData();
            },
        }

    }
</script>

<style scoped lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>