<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <vx-card ref="filterCard" title="Detail Pembelian" class="user-list-filters mb-8">
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Nama / Reference: </span><br>
                    <h4>{{ name }}</h4>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Date: </span><br>
                    <h4>{{ date }}</h4>
                </div>
            </div>
            <div class="vx-row mt-5">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Supplier: </span>
                    <h4>{{ (supplier ? supplier.name : '')}}</h4>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">

                    <span>Status: </span> <br>
                    <vs-chip v-if="status === 'approve'" color="success">
                        <h4>{{ status | capitalize }}</h4>
                    </vs-chip>
                    <vs-chip v-else color="warning">
                        <h4>{{ status | capitalize }}</h4>
                    </vs-chip>
                </div>
            </div>
        </vx-card>

        <!-- NOTES -->
        <vs-card v-if="status !== 'open' && status !== 'pending' && status !== 'close'" class="p-0 mb-8">
            <vs-collapse>
                <vs-collapse-item>
                    <div slot="header">
                        <span>Notes</span>
                    </div>
                    <small>{{notes}}</small>
                </vs-collapse-item>
            </vs-collapse>
        </vs-card>
        <!-- END NOTES -->


        <div>
            <vx-card>
                <vs-table stripe :data="pembelians">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <vs-th sort-key="stok">Pack</vs-th>
                        <vs-th sort-key="price">Vol (Box)</vs-th>
                        <vs-th sort-key="stok">Vol. Order</vs-th>
                        <vs-th sort-key="price">Volume (Box)</vs-th>
                        <vs-th sort-key="tax">Price (IDR)</vs-th>
                        <vs-th sort-key="total">Total Amount (IDR)</vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>

                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>
                            <vs-td :data="data[indextr].product.pack">
                                <strong>{{data[indextr].product.pack_qty}}</strong> / {{data[indextr].product.pack}}
                            </vs-td>
                            <vs-td :data="data[indextr].product.unit_qty">
                                <div
                                    v-if="data[indextr].product.unit_qty * data[indextr].product.pack_qty >= 1000 && data[indextr].product.pack === 'ml' || data[indextr].product.pack === 'g'">
                                    <strong>{{(data[indextr].product.unit_qty * data[indextr].product.pack_qty) / 1000}}</strong>
                                    / <span v-if="data[indextr].product.pack === 'ml'">lt</span> <span
                                        v-if="data[indextr].product.pack === 'g'">kg</span>
                                </div>

                                <div v-else>
                                    <strong>{{data[indextr].product.unit_qty * data[indextr].product.pack_qty}}</strong>
                                    /
                                    {{data[indextr].product.pack}}
                                </div>
                            </vs-td>
                            <vs-td :data="data[indextr].total_sm_qty">
                                <div
                                    v-if="data[indextr].volume.order.qty >= 1000 && data[indextr].volume.order.unit === 'ml' || data[indextr].volume.order.unit === 'g'">
                                    <strong>{{data[indextr].volume.order.qty / 1000}}</strong> / <span
                                        v-if="data[indextr].volume.order.unit === 'ml'">lt</span> <span
                                        v-if="data[indextr].volume.order.unit === 'g'">Kg</span>
                                </div>

                                <div v-else><strong>{{data[indextr].volume.order.qty}}</strong> /
                                    {{data[indextr].volume.order.unit}}</div>
                            </vs-td>
                            <vs-td :data="data[indextr].qty_lg">
                                <div v-if="parseInt(data[indextr].volume.detail.qty_lg) > 0">
                                    <strong>{{data[indextr].volume.detail.qty_lg}}</strong> /
                                    {{data[indextr].volume.detail.unit_lg}}</div>
                                <div v-if="parseInt(data[indextr].volume.detail.qty_sm) > 0">
                                    <strong>{{data[indextr].volume.detail.qty_sm}}</strong> /
                                    {{data[indextr].volume.detail.unit_sm}}</div>
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                <strong>{{data[indextr].price_sm | currency}}</strong>
                            </vs-td>
                            <vs-td :data="data[indextr].dpp">
                                <strong>{{data[indextr].dpp | currency}}</strong>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3" vs-w="12">
                        <h4>Subtotal: <b>Rp. {{ total | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Discount: <b>Rp. {{ total_disc | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Tax: <b>Rp. {{ total_tax | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Ongkir: <b>Rp. {{ ongkir | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Biaya Lain: <b>Rp. {{ biayaLain | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ grandtotal | currency}}</b></h4>
                    </vs-col>
                </vs-row>

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button style="width:100px; background-color:mediumslateblue;" type="relief"
                            @click.stop="back()">
                            Back</vs-button>
                    </vs-col>
                </vs-row>
            </vx-card>
        </div>

    </div>
</template>

<script>
export default {
    data() {
        return {
            mode: 'input',
            name: null,
            date: null,
            supplier: null,
            pembayaran: null,
            status: null,
            notes: null,
            total: 0,
            total_tax: 0,
            total_disc: 0,
            ongkir: 0,
            biayaLain: 0,
            grandtotal: 0,
            pembelians: [],

        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData()
    },

    methods: {
        async loadData() {
            var tipe = this.$route.params.tipe;
            var id = this.$route.params.idpembelian;

            if (tipe === 'po') {

                var resPO = await this.$http.get(this.$baseURL + '/pembelian/po/' + id + '/read', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message)
                })

                var total = 0;
                for (let index = 0; index < resPO.data.data.po_pembelian_details.length; index++) {
                    total = total + resPO.data.data.po_pembelian_details[index].amount;
                }

                this.total = (resPO.data.data.total + resPO.data.data.discount) - resPO.data.data.ongkir - resPO.data.data.biaya_lain - resPO.data.data.tax;
                this.ongkir = resPO.data.data.ongkir;
                this.biayaLain = resPO.data.data.biaya_lain;
                this.total_tax = resPO.data.data.tax;
                this.total_disc = resPO.data.data.discount;
                this.grandtotal = parseInt(resPO.data.data.total);
                this.name = resPO.data.data.name;
                this.pembayaran = resPO.data.data.payment;
                this.status = resPO.data.data.status;
                this.notes = resPO.data.data.notes;
                this.pembelians = resPO.data.data.po_pembelian_details;


            } else {

                var resPO = await this.$http.get(this.$baseURL + '/pembelian/pembelian/' + id + '/read', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message)
                })

                var total = 0;
                for (let index = 0; index < resPO.data.data.pembelian_details.length; index++) {
                    total = total + resPO.data.data.pembelian_details[index].amount;
                }


                this.total = (resPO.data.data.total + resPO.data.data.discount) - resPO.data.data.ongkir - resPO.data.data.biaya_lain - resPO.data.data.tax;
                this.ongkir = resPO.data.data.ongkir;
                this.biayaLain = resPO.data.data.biaya_lain;
                this.total_tax = resPO.data.data.tax;
                this.pembayaran = resPO.data.data.payment;
                this.total_disc = resPO.data.data.discount;
                this.grandtotal = parseInt(resPO.data.data.total);
                this.name = resPO.data.data.name;
                this.pembelians = resPO.data.data.pembelian_details;
            }

            this.status = resPO.data.data.status;
            this.date = resPO.data.data.created_at;
            this.supplier = resPO.data.data.supplier;
            this.$vs.loading.close();
        },
        back() {
            if (this.$route.params.tipe === 'po') {
                this.$router.push('/pages/po')
            } else {
                this.$router.push('/pages/pembelian')
            }

        },

    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>