<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <vx-card ref="filterCard" title="Headers" class="user-list-filters mb-8">
            <div class="vx-row mb-4">
                <div class="vx-col md:w-1/3 sm:w-1/3 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Tipe Transaksi: </span>
                    <span>
                        <v-select :disabled="true" v-model="form.transType" :clearable="false"
                            :options="transTypeOptions" label="name" placeHolder="Sales" name="sales" /> </span>
                </div>
                <div class="vx-col md:w-1/3 sm:w-1/3 w-full">
                    <vs-input :disabled="hide" v-model="form.ref" label="Reference" class="w-full" />
                </div>
                <div class="vx-col md:w-1/3 sm:w-1/3 w-full">
                    <label class="vs-input--label" for="">Tanggal Reference:</label>
                    <datepicker :disabled="hide" v-model="form.refDate"></datepicker>
                </div>
            </div>
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <vs-input :disabled="hide" v-model="form.faktur" label="Nomor" class="w-full" />
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Sales: </span>
                    <span>
                        <v-select :disabled="hide" v-model="form.sales" :clearable="false" :options="salesOptions"
                            :reduce="salesOptions => salesOptions.karyawan_id" label="name" placeHolder="Sales"
                            name="sales" /> </span>
                </div>
            </div>
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:7px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Customer: </span>
                    <span>
                        <v-select :disabled="hide" v-model="form.customer" :clearable="false" :options="customerOptions"
                            :reduce="customerOptions => customerOptions.customer_id" label="name" placeHolder="Customer"
                            name="customer" /> </span>
                </div>
                <div v-if="form.pembayaran === 'Cash'" class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:7px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;">Pembayaran Ke: </span>
                    <v-select v-model="form.ke" :clearable="false" :reduce="keOptions => keOptions.code" label="name"
                        :options="keOptions" name="ke">
                        <template #option="{code, name}">
                            <cite>{{ code }}</cite> - {{ name }}
                            <!-- <cite>{{ code }}</cite> -->
                        </template>
                    </v-select>
                </div>
            </div>
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:7px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;">Tipe Pembayaran: </span>
                    <span>
                        <v-select v-model="form.pembayaran" :disabled="tipe === 'revisi'" :clearable="false"
                            :options="paymentOptions" placeHolder="User" name="User" /> </span>
                </div>
                <div v-if="form.pembayaran === 'Credit'" class="vx-col md:w-1/4 sm:w-1/4 w-full"
                    style="padding-top:7px;">
                    <label class="vs-input--label" for="">Tanggal Kadaluarsa:</label>
                    <datepicker :disabled="tipe === 'revisi'" :disabledDates="disabledDates" v-model="form.dateExpired">
                    </datepicker>
                </div>

                <div class="vx-col md:w-1/4 sm:w-1/4 w-full" style="padding-top:7px;">
                    <label class="vs-input--label" for="">Warehouse / Gudang</label>
                    <span>
                        <v-select :disabled="hide" v-model="form.warehouse" :clearable="false" label="name"
                            :reduce="whOptions => whOptions.wh_id" :options="whOptions" name="warehouse"
                            @input="loadProduct" />
                    </span>
                </div>

            </div>
            <div class="vx-row">
                <div class="vs-input w-1/2 px-4" style="padding-top:7px;">
                    <label class="vs-input--label" for="">Biaya Ongkir (Rp)</label>
                    <div class="vs-con-input">
                        <currency-input :disabled="tipe === 'revisi'" v-model.lazy="form.ongkir" :currency="{prefix}"
                            :precision="{min,max}" locale="de" @change="countTotal()"
                            class="vs-inputx vs-input--input normal hasValue" />
                    </div>
                </div>
                <div class="vs-input w-1/2 px-4" style="padding-top:7px;">
                    <vs-input v-model="form.ketOngkir" :disabled="tipe === 'revisi'" label="Ket. Ongkir"
                        class="w-full" />
                </div>

            </div>
            <div class="vx-row mb-4">
                <div class="vs-input w-1/2 px-4" style="padding-top:7px;">
                    <label class="vs-input--label" for="">Biaya Lain (Rp)</label>
                    <div class="vs-con-input">
                        <currency-input v-model.lazy="form.biayaLain" :currency="{prefix}" :precision="{min,max}"
                            locale="de" :disabled="tipe === 'revisi'" @change="countTotal()"
                            class="vs-inputx vs-input--input normal hasValue" />
                    </div>
                </div>
                <div class="vs-input w-1/2 px-4" style="padding-top:7px;">
                    <vs-input v-model="form.ketBiayaLain" :disabled="tipe === 'revisi'" label="Ket. Biaya Lain"
                        class="w-full" />
                </div>

            </div>
        </vx-card>


        <div>

            <vx-card class="user-list-filters mb-8">
                <div class="vx-row mb-10">
                    <vs-col vs-w="3" class="px-3">
                        <span>Cari Produk: </span>
                        <v-select class="col-12" v-model="productValue" :clearable="false" label="name"
                            :options="productList" name="productList" @input="selectProduct">
                            <template #option="{name, pack_qty, pack}">
                                {{ name }} <cite>@ {{ pack_qty }}{{ pack }}</cite>
                                <!-- <cite>{{ pack_qty }}</cite> -->
                            </template>
                        </v-select>
                    </vs-col>
                    <vs-col vs-w="9">
                        <vs-row>
                            <vs-col vs-w="2" class="px-3">
                                <vs-input v-model="product.qty_sm" label="Qty Pack" min="0" type="number"
                                    class="w-full" />
                            </vs-col>
                            <vs-col vs-w="1" class="px-3 my-auto pt-5">
                                <span class="w-full" style="padding-top:7px"><strong>/ {{unitPack}} </strong></span>
                            </vs-col>
                            <vs-col vs-w="3" class="px-3">
                                <label class="vs-input--label" for="">Harga (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="product.price_sm" :currency="{prefix}"
                                        :precision="{min,max}" locale="de"
                                        class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </vs-col>
                            <vs-col vs-w="1" class="pr-3">
                                <div class="my-auto pt-5">
                                    <vs-button :disabled="this.product.id === null" radius color="warning" type="border"
                                        v-tooltip="'History Price'" v-on:click="historyPrice" icon="history">
                                    </vs-button>
                                </div>
                            </vs-col>
                            <vs-col vs-w="3" class="px-3">
                                <label class="vs-input--label" for="">Discount (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="product.disc" :currency="{prefix}" :precision="{min,max}"
                                        locale="de" class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </vs-col>

                            <vs-col vs-w="2" class="px-3">
                                <vs-button v-if="createe == true" :disabled="tipe === 'revisi'" color="primary"
                                    style="width:100px; margin-top:20px;" class="w-full" v-on:click="addProduct"
                                    type="relief">Add
                                </vs-button>
                            </vs-col>
                        </vs-row>
                    </vs-col>
                </div>

                <vs-table stripe :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:10px;">

                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <vs-th sort-key="stok">Pack</vs-th>
                        <vs-th sort-key="price">Vol (Box)</vs-th>
                        <vs-th sort-key="stok">Vol. Order</vs-th>
                        <vs-th sort-key="price">Volume (Box)</vs-th>
                        <vs-th sort-key="tax">Price (IDR)</vs-th>
                        <vs-th sort-key="total">Total Amount (IDR)</vs-th>
                        <vs-th sort-key=""></vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                            <vs-td :data="indextr + 1 ">
                                {{indextr + 1}}
                            </vs-td>

                            <vs-td :data="data[indextr].product.name">
                                <strong>{{data[indextr].product.name}}</strong>
                            </vs-td>
                            <vs-td :data="data[indextr].product.pack">
                                <strong>{{data[indextr].product.pack_qty}}</strong> / {{data[indextr].product.pack}}
                            </vs-td>
                            <vs-td :data="data[indextr].product.unit_qty">
                                <!-- <strong>{{data[indextr].product.unit_qty}}</strong> / {{data[indextr].product.unit_sm}} -->
                                <div
                                    v-if="data[indextr].product.unit_qty * data[indextr].product.pack_qty >= 1000 && data[indextr].product.pack === 'ml' || data[indextr].product.pack === 'g'">
                                    <strong>{{(data[indextr].product.unit_qty * data[indextr].product.pack_qty) / 1000}}</strong>
                                    / <span v-if="data[indextr].product.pack === 'ml'">lt</span> <span
                                        v-if="data[indextr].product.pack === 'g'">kg</span>
                                </div>

                                <div v-else>
                                    <strong>{{data[indextr].product.unit_qty * data[indextr].product.pack_qty}}</strong>
                                    /
                                    {{data[indextr].product.pack}}
                                </div>
                            </vs-td>
                            <vs-td :data="data[indextr].total_sm_qty">
                                <div
                                    v-if="data[indextr].volume.order.qty >= 1000 && data[indextr].volume.order.unit === 'ml' || data[indextr].volume.order.unit === 'g'">
                                    <strong>{{data[indextr].volume.order.qty / 1000}}</strong> / <span
                                        v-if="data[indextr].volume.order.unit === 'ml'">lt</span> <span
                                        v-if="data[indextr].volume.order.unit === 'g'">kg</span>
                                </div>

                                <div v-else><strong>{{data[indextr].volume.order.qty}}</strong> /
                                    {{data[indextr].volume.order.unit}}</div>
                            </vs-td>
                            <vs-td :data="data[indextr].qty_lg">
                                <div v-if="parseInt(data[indextr].volume.detail.qty_lg) > 0">
                                    <strong>{{data[indextr].volume.detail.qty_lg}}</strong> /
                                    {{data[indextr].volume.detail.unit_lg}}</div>
                                <div v-if="parseInt(data[indextr].volume.detail.qty_sm) > 0">
                                    <strong>{{data[indextr].volume.detail.qty_sm}}</strong> /
                                    {{data[indextr].volume.detail.unit_sm}}</div>
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                <strong>{{data[indextr].price_sm | currency}}</strong>
                            </vs-td>
                            <vs-td :data="data[indextr].dpp">
                                <strong>{{data[indextr].dpp | currency}}</strong>
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>


                <vs-row class="mt-5">
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Subtotal: <b>Rp. {{ form.total | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Diskon: <b>Rp. {{ form.totalDiscount | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Tax: <b>Rp. {{ form.totalTax | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Ongkir: <b>Rp. {{ form.ongkir | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Biaya Lain: <b>Rp. {{ form.biayaLain | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ form.grandtotalTemp | currency}}</b></h4>
                    </vs-col>
                </vs-row>


                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button style="width:100px; background-color:mediumslateblue;" type="relief"
                            @click.stop="back()">
                            Back</vs-button>
                        <vs-button v-if="tipe !== 'approve' && tipe !== 'revisi' && createe == true" color="success"
                            style="width:100px;" type="relief" @click.stop="submit()">
                            Submit</vs-button>

                        <!-- SHOW REVISI ONLY -->
                        <vs-button v-if="tipe === 'revisi'" color="warning" style="width:100px;" type="relief"
                            @click.stop="revisi()">
                            Revisi</vs-button>

                        <!-- SHOW APPROVE ONLY -->
                        <vs-button v-if="tipe === 'approve' && confirmm == true" color="warning" style="width:100px;"
                            type="relief" @click.stop="reject()">
                            Reject</vs-button>
                        <vs-button v-if="tipe === 'approve' && confirmm == true" color="primary" style="width:100px;"
                            type="relief" @click.stop="approve()">
                            Approve</vs-button>
                    </vs-col>

                </vs-row>

                <!-- POP-UP EDIT PRODUCT -->
                <div>
                    <vs-prompt v-if="edit.product" @cancel="clearValMultiple" @accept="acceptEdit" @close="close"
                        accept-text="Edit" :active.sync="activePrompt2" title="Edit">
                        <div class="con-exemple-prompt">

                            <vs-input label="Product" disabled="true" v-model="edit.product.name" class="w-full" />

                            <vs-row>
                                <vs-input label="Qty Pack" min="0" type="number" v-model="edit.qty_sm" class="w-1/2" />
                                <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> /
                                    {{edit.unit_sm}}</span>
                            </vs-row>
                            <div class="vs-input w-full px-1">
                                <label class="vs-input--label" for="">Harga (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input :disabled="tipe === 'revisi'" v-model="edit.price_sm"
                                        :currency="{prefix}" locale="de" :precision="{min,max}"
                                        class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </div>
                            <vs-row>
                                <div class="vs-input w-full px-1">
                                    <label class="vs-input--label" for="">Discount (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input :disabled="tipe === 'revisi'" v-model="edit.discount"
                                            :currency="{prefix}" locale="de" :precision="{min,max}"
                                            class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </div>

                            </vs-row>
                        </div>
                    </vs-prompt>
                </div>


                <!-- POP-UP REJECT -->
                <vs-prompt v-if="activeReject" @cancel="close" @accept="acceptReject" @close="close"
                    accept-text="Submit" :active.sync="activeReject" :title="modalTitle">
                    <div class="con-exemple-prompt">
                        <vs-row>
                            <vs-input label="Notes" v-model="notes" class="w-full" />
                        </vs-row>
                    </div>
                </vs-prompt>

                <!-- POP-UP HISTORY PRICE -->
                <vs-popup v-if="activeHistory" class="px-3" title="Harga Terakhir" :active.sync="activeHistory">
                    <vs-row>
                        <vs-col vs-w="12">
                            <vs-table stripe :data="prices_history">
                                <template slot="thead">
                                    <vs-th sort-key="code">Invoice</vs-th>
                                    <vs-th sort-key="date">Tanggal</vs-th>
                                    <vs-th sort-key="price_sm">Harga</vs-th>
                                </template>

                                <template slot-scope="{data}">
                                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                                        <vs-td :data="data[indextr].code">
                                            {{data[indextr].code}}
                                        </vs-td>
                                        <vs-td :data="data[indextr].date">
                                            {{data[indextr].date}}
                                        </vs-td>
                                        <vs-td :data="data[indextr].price">
                                            {{data[indextr].price | currency}}
                                        </vs-td>
                                    </vs-tr>
                                </template>
                            </vs-table>
                        </vs-col>
                    </vs-row>
                </vs-popup>

            </vx-card>
        </div>

    </div>
</template>



<script>
import vSelect from 'vue-select'
import VueSimpleSuggest from 'vue-simple-suggest';
import Datepicker from 'vuejs-datepicker';
export default {
    components: {
        VueSimpleSuggest,
        vSelect,
        Datepicker
    },
    data() {
        return {
            id: null,
            tipe: null,
            tipeTransaksi: null,
            po: true,
            createe: null,
            confirmm: null,
            updatee: null,
            deletee: null,
            access: null,
            disabledDates: {
                customPredictor: function (date) {
                    if (date < new Date()) {
                        return true
                    }
                }
            },
            modalTitle: 'Reject',
            activeReject: false,
            activeHistory: false,
            prices_history: null,
            hide: false,
            max: 0,
            min: 0,
            prefix: 'Rp ',
            notes: null,
            edit: {
                product: null,
                qty_sm: 1,
                unit_sm: null,
                price_sm: 0,
                pack_qty: 0,
                discount: 0,
            },
            delete: [],
            format_ID: "DD/MM/YYYY",
            mode: 'input',
            activePrompt2: false,
            form: {
                faktur: null,
                transType: null,
                ref: null,
                refDate: new Date(),
                dateStart: null,
                dateExpired: new Date(),
                customer: null,
                ke: '',
                sales: null,
                pembayaran: 'Cash',
                warehouse: null,
                total: 0,
                serial: null,
                ongkir: 0,
                ketOngkir: '',
                biayaLain: 0,
                biayaLainTemp: 0,
                ketBiayaLain: '',
                ongkirTemp: 0,
                grandtotal: 0,
                grandtotalTemp: 0,
                totalDiscount: 0,
                totalTax: 0,
                totalBiayaLain: 0,
            },
            qtyKecil: null,
            qtyBesar: null,
            totalQtyLG: 0,
            totalQtySM: 0,
            unitPack: null,
            product: {
                id: null,
                pack_qty: 0,
                qty_lg: 0,
                qty_sm: 1,
                price_lg: 0,
                price_sm: 0,
                unit: null,
                tax: 10,
                disc: 0,
                // sale:0
            },
            productList: [],
            productValue: null,
            dialogValue: {
                product: null,
                qty: null,
                price: null,
                tax: null,
                disc: null,
                satuan: null
            },
            editValue: {
                product: null,
                qty: null,
                price: null,
                satuan: null
            },
            userOptions: [
                "Admin", "Accounting", "Supervisor"
            ],
            transTypeOptions: [
                "Company", "Free market"
            ],
            customerOptions: [],
            keOptions: [
                "101 Bank Mandiri", "102 Kas Induk", "Bank SMaybank"
            ],
            paymentOptions: [
                "Cash", "Credit"
            ],
            salesOptions: [],
            whOptions: [],
            selected: [],
            penjualans: [],

        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.tipeTransaksi = this.$route.params.tipeTransaksi;
        if (this.tipeTransaksi === 'freemarket') {
            this.form.transType = 'Free market';
        } else if (this.tipeTransaksi === 'company') {
            this.form.transType = 'Company';
        } else {
            this.$router.push('/pages/penjualan/company');
        }

        this.id = this.$route.params.idpenjualan;
        this.tipe = this.$route.params.tipe;

        this.loadData();
    },
    methods: {

        // Function Load Awal
        async loadData() {
            this.id = this.$route.params.idpenjualan;
            this.tipe = this.$route.params.tipe;
            var com_id = this.$company != null ? this.$company.company_id : "1"

            if (this.id > 0) {
                this.loadEdit();
            }

            var resKe = await this.$http.get(this.$baseURL + '/accounting/coa', {
                params: {
                    filter: 'fromcode|11;company_id|' + com_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resCustomer = await this.$http.get(this.$baseURL + '/master/customers?filter=company_id|' + com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resSales = await this.$http.get(this.$baseURL + '/master/karyawan', {
                params: {
                    filter: "position|sales"
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resWh = await this.$http.get(this.$baseURL + '/master/warehouses', {
                params: {
                    filter: "company_id|" + com_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.customerOptions = resCustomer.data.data
            this.salesOptions = resSales.data.data;
            this.keOptions = resKe.data.data;
            this.whOptions = resWh.data.data;
            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.name == this.access[acc].slug) {
                    this.createe = this.access[acc].createe;
                    this.confirmm = this.access[acc].confirmm;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }

            this.$vs.loading.close();
        },

        // Function Load Ketika Parameter Edit
        async loadEdit() {
            this.po = false;

            var resReadPenjualan = await this.$http.get(this.$baseURL + '/penjualan/penjualan/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })

            var result = resReadPenjualan.data.data;

            if (result.status === 'paid') {
                this.form.pembayaran = 'Cash';
            } else {
                this.form.pembayaran = 'Credit';
            }

            this.form.total = (result.total + result.discount) - result.ongkir - result.biaya_lain - result.tax;
            this.form.sales = result.sales_id;
            this.form.warehouse = result.wh_id;
            this.form.faktur = result.code;
            this.form.ref = result.ref;
            this.form.refDate = this.$moment(result.ref_date, "DD/MM/YYYY").toDate();
            this.form.transType = result.trans_type;
            this.form.dateExpired = this.$moment(result.due_date, "DD/MM/YYYY").toDate();
            this.form.customer = result.customer_id;
            this.form.totalDiscount = result.discount;
            this.form.totalTax = result.tax;
            this.form.grandtotal = result.total;
            this.form.grandtotalTemp = result.total;
            this.form.ongkir = result.ongkir;
            this.form.ketOngkir = result.ongkir_desc;
            this.form.ongkirTemp = result.ongkir;
            this.form.biayaLain = result.biaya_lain;
            this.form.ketBiayaLain = result.biaya_lain_desc;
            this.form.biayaLainTemp = result.biaya_lain;
            this.form.serial = result.serial;
            this.form.ke = result.coa_code;
            this.penjualans = result.penjualan_details;
            this.hide = true;
            this.loadProduct();
        },

        // Fungsi untuk Hitung Grandtotal
        countTotal() {
            this.form.grandtotalTemp = (parseInt(this.form.total) + parseInt(this.form.totalTax) + parseInt(this.form.ongkir) + parseInt(this.form.biayaLain)) - parseInt(this.form.totalDiscount);
        },

        // Fungsi Untuk Load Produk ketika pilih Warehouse
        async loadProduct() {
            var resProduct = await this.$http.get(this.$baseURL + '/master/products', {
                params: {
                    filter: 'wh_id|' + this.form.warehouse
                },
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })

            this.productList = resProduct.data.data;
        },

        // Fungsi untuk load data produk ketika dipilih
        async selectProduct(value) {
            this.unitOptions = null;
            this.product.id = value.product_id;
            var price = value['product_details'][0];
            // if (price !== undefined) {
            //     this.product.price_lg = value.product_details[0].price_lg;
            //     this.product.price_sm = value.product_details[0].price_sm;

            // } else {
            //     this.product.price_lg = 0;
            //     this.product.price_sm = 0;
            // }
            this.product.pack_qty = value.pack_qty;
            this.price_sm = price;
            this.qtyBesar = value.unit_lg;
            this.qtyKecil = value.unit_sm;
            this.unitPack = value.pack;
            this.totalQtyLG = value.total_lg_qty;
            this.totalQtySM = ((value.total_lg_qty * value.unit_qty) + value.total_sm_qty) * value.pack_qty;
        },

        //SHOW POPUP HISTORY PRICE
        async historyPrice() {
            this.$vs.loading({
                type: 'radius'
            });

            this.activeHistory = true;
            var resHistory = await this.$http.get(this.$baseURL + '/master/products/history/sales', {
                params: {
                    wh_id: this.form.warehouse,
                    customer_id: this.form.customer,
                    product_id: this.product.id,
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })

            this.prices_history = resHistory.data.data.history_price_sm;
            this.$vs.loading.close();
        },

        acceptHistory() {
            this.activeHistory = false;
        },

        // Fungsi untuk tombol add produk
        addProduct() {
            if (this.form.faktur === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Nomor Tidak Boleh Kosong',
                })

            } else if (this.form.customer === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Pelanggan belum dipilih',
                })

            } else if (this.form.sales === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Sales belum dipilih',
                })
            } else if (this.product.id === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Produk belum dipilih',
                })
            } else if (this.product.price_sm < 1) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Harga Produk tidak boleh kosong',
                })

            } else if ((this.product.qty_sm % this.product.pack_qty) > 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Quantity yang dipesan tidak sesuai Pack',
                });
            } else if (this.product.qty_sm > this.totalQtySM) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Quantity yang dipesan lebih dari stok',
                });
            } else if (this.penjualans.length > 0) {
                var cek = this.penjualans.find(el => el.product_id === this.product.id);
                if (cek === undefined) {
                    if (this.form.pembayaran === 'Cash') {
                        if (this.form.ke === '') {
                            this.$vs.dialog({
                                color: 'danger',
                                title: 'Error',
                                text: 'Tujuan Pembayaran belum dipilih',
                            })
                        } else {
                            this.runAddProduct();
                        }
                    } else {
                        this.runAddProduct();
                    }
                } else {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Produk sudah ada',
                    })
                }
            } else {
                if (this.form.pembayaran === 'Cash') {
                    if (this.form.ke === '') {
                        this.$vs.dialog({
                            color: 'danger',
                            title: 'Error',
                            text: 'Tujuan Pembayaran belum dipilih',
                        })
                    } else {
                        this.runAddProduct();
                    }
                } else {
                    this.runAddProduct();
                }
            }
        },

        // Fungsi untung Eksekusi Api tambah produk
        runAddProduct() {
            this.$vs.loading({
                type: 'radius'
            });

            this.hide = true;
            var product = this.productValue;

            const formData = new FormData();
            formData.append('no_faktur', this.form.faktur);
            formData.append('trans_type', this.form.transType);
            formData.append('ref', this.form.ref);
            formData.append('ref_date', this.$moment(this.form.refDate).format(this.format_ID));

            if (this.form.dateExpired === null) {
                formData.append('entry_at', this.$moment().format(this.format_ID));
            } else {
                formData.append('entry_at', this.$moment(this.form.dateExpired).format(this.format_ID));
            }

            if (this.form.transType === 'Company') {
                formData.append('details[tax]', this.product.tax);
            } else {
                formData.append('details[tax]', 0);
            }

            formData.append('customer_id', this.form.customer);
            formData.append('sales_id', this.form.sales);
            formData.append('payment', this.form.pembayaran.toLowerCase());
            formData.append('coa_code', this.form.ke);
            formData.append('wh_id', this.form.warehouse);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);
            formData.append('details[product_id]', this.product.id);
            formData.append('details[qty]', this.product.qty_sm);
            formData.append('details[price]', this.product.price_sm);
            formData.append('details[discount]', this.product.disc);
            if (this.form.serial !== null) {
                formData.append('serial', this.form.serial);
            }

            this.$http.post(this.$baseURL + '/penjualan/agro/penjualan/details/create', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.loadPO(res.data.data.penjualan_id);
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            });
        },

        // FUNGSI UNTUK LOAD DATA TABLE 
        async loadPO(value) {
            var resPenjualan = await this.$http.get(this.$baseURL + '/penjualan/penjualan/' + value + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })

            this.form.total = (resPenjualan.data.data.total + resPenjualan.data.data.discount) - resPenjualan.data.data.ongkir - resPenjualan.data.data.biaya_lain - resPenjualan.data.data.tax;
            this.form.serial = resPenjualan.data.data.serial;
            this.penjualans = resPenjualan.data.data.penjualan_details;
            this.form.totalDiscount = resPenjualan.data.data.discount;
            this.form.totalTax = resPenjualan.data.data.tax;
            this.form.ongkir = resPenjualan.data.data.ongkir;
            this.form.biayaLain = resPenjualan.data.data.biaya_lain;
            this.form.grandtotal = resPenjualan.data.data.total;
            this.form.grandtotalTemp = resPenjualan.data.data.total;

            this.clearValMultiple();

            this.$vs.loading.close();
        },

        // FUNGSI TOMBOL DELETE PRODUK
        deleteData(data) {
            this.delete = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Anda yakin akan menghapus?',
                accept: this.acceptAlert1
            })
        },

        // FUNGSI EKSEKUSI API DELETE
        acceptAlert1() {
            this.$vs.loading({
                type: 'radius'
            });
            this.$http.delete(this.$baseURL + '/penjualan/penjualan/details/' + this.delete.penjualan_d_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Data berhasil dihapus'
                });
                this.loadPO(this.delete.penjualan_id);
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            });
        },

        // FUNGSI LOAD MODEL/POPUP EDIT
        editData(data) {
            this.edit.product = data.product;
            this.edit.product_id = data.product.product_id;
            this.edit.penjualan_d_id = data.penjualan_d_id;
            this.edit.qty_sm = data.volume.order.qty;
            this.edit.unit_sm = data.volume.order.unit;
            this.edit.price_sm = data.price_sm;
            this.edit.pack_qty = data.product.pack_qty;
            this.edit.tax = data.tax;
            this.edit.discount = data.discount;
            // this.totalQtySM = data.product.total_sm_qty;
            this.totalQtySM = ((data.product.total_lg_qty * data.product.unit_qty) + data.product.total_sm_qty) * data.product.pack_qty;

            this.activePrompt2 = true;
        },

        // FUNGSI VALIDASI SUBMIT EDIT
        acceptEdit() {

            if (this.edit.qty_sm < 1) {
                this.deleteData(this.edit);
            } else if (this.edit.qty_sm > this.totalQtySM) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Quantity yang dijual lebih dari stok yang ada',
                });
            } else if ((this.edit.qty_sm % this.edit.pack_qty) > 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Quantity tidak sesuai Pack',
                });
            } else if (this.form.pembayaran === 'Cash') {
                if (this.form.ke === '') {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tujuan Pembayaran belum dipilih',
                    })
                } else {
                    this.runEdit();
                }
            } else {
                this.runEdit();
            }
        },

        // FUNGSI EKSEKUSI API EDIT PRODUK
        runEdit() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();

            formData.append('no_faktur', this.form.faktur);
            formData.append('trans_type', this.form.transType);
            formData.append('ref', this.form.ref);
            formData.append('ref_date', this.$moment(this.form.refDate).format(this.format_ID));

            if (this.form.dateExpired === null) {
                formData.append('entry_at', this.$moment().format(this.format_ID));
            } else {
                formData.append('entry_at', this.$moment(this.form.dateExpired).format(this.format_ID));
            }

            formData.append('customer_id', this.form.customer);
            formData.append('sales_id', this.form.sales);
            formData.append('payment', this.form.pembayaran.toLowerCase());
            formData.append('coa_code', this.form.ke);
            formData.append('wh_id', this.form.warehouse);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);
            formData.append('details[product_id]', this.edit.product_id);
            formData.append('details[qty]', this.edit.qty_sm);
            formData.append('details[price]', this.edit.price_sm);
            formData.append('details[tax]', this.edit.tax);
            formData.append('details[discount]', this.edit.discount);
            formData.append('serial', this.form.serial);
            formData.append('_method', 'PUT');

            this.$http.post(this.$baseURL + '/penjualan/agro/penjualan/details/' + this.edit.penjualan_d_id + '/update', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {

                this.loadPO(res.data.data.penjualan_id);
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Data berhasil diubah'
                });
                this.activePrompt2 = false
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            });
        },

        // FUNGSI TOMBOL SUBMIT
        submit() {
            if (!this.po) {
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: `Confirm`,
                    text: 'Anda yakin sudah sesuai?',
                    accept: this.acceptSave
                })
            } else {
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: `Confirm`,
                    text: 'Anda yakin sudah sesuai?',
                    accept: this.acceptSubmit
                })
            }
        },

        // FUNGSI VALIDASI SUBMIT
        acceptSubmit() {
            if (this.form.pembayaran === 'Cash') {
                if (this.form.ke === '') {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tujuan Pembayaran belum dipilih',
                    })
                } else {
                    this.runSubmit();
                }
            } else {
                this.runSubmit();
            }
        },

        // FUNGSI EKSEKUSI API SUBMIT PENJUALAN
        runSubmit() {
            const formData = new FormData();
            this.$vs.loading({
                type: 'radius'
            });

            formData.append('no_faktur', this.form.faktur);
            formData.append('trans_type', this.form.transType);
            formData.append('ref', this.form.ref);
            formData.append('ref_date', this.$moment(this.form.refDate).format(this.format_ID));

            if (this.form.dateExpired === null) {
                formData.append('entry_at', this.$moment().format(this.format_ID));
            } else {
                formData.append('entry_at', this.$moment(this.form.dateExpired).format(this.format_ID));
            }

            formData.append('customer_id', this.form.customer);
            formData.append('sales_id', this.form.sales);
            formData.append('payment', this.form.pembayaran.toLowerCase());
            formData.append('coa_code', this.form.ke);
            formData.append('wh_id', this.form.warehouse);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);

            this.$http.post(this.$baseURL + '/penjualan/agro/penjualan/create', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/viewpenjualandetail/' + res.data.data.penjualan_id + '/order');
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })
        },

        // FUNGSI SUBMIT UPDATE EDIT PENJUALAN
        acceptSave() {
            if (this.form.pembayaran === 'Cash') {
                if (this.form.ke === '') {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tujuan Pembayaran belum dipilih',
                    })
                } else {
                    this.runSave();
                }
            } else {
                this.runSave();
            }
        },

        // FUNGSI EKSEKUSI API SUBMIT UPDATE PENJUALAN
        runSave() {
            this.$vs.loading({
                type: 'radius'
            });
            const formData = new FormData();

            formData.append('no_faktur', this.form.faktur);
            formData.append('trans_type', this.form.transType);
            formData.append('ref', this.form.ref);
            formData.append('ref_date', this.$moment(this.form.refDate).format(this.format_ID));

            if (this.form.dateExpired === null) {
                formData.append('entry_at', this.$moment().format(this.format_ID));
            } else {
                formData.append('entry_at', this.$moment(this.form.dateExpired).format(this.format_ID));
            }

            formData.append('customer_id', this.form.customer);
            formData.append('sales_id', this.form.sales);
            formData.append('payment', this.form.pembayaran.toLowerCase());
            formData.append('coa_code', this.form.ke);
            formData.append('wh_id', this.form.warehouse);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);
            formData.append('_method', 'PUT');

            this.$http.post(this.$baseURL + '/penjualan/agro/penjualan/' + this.id + '/update', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/viewpenjualandetail/' + res.data.data.penjualan_id + '/order');
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })
        },

        // FUNGSI TOMBOL APPROVE
        approve() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Anda yakin akan menyetujui penjualan ini?',
                accept: this.acceptApprove
            })
        },

        // FUNGSI VALIDASI APPROVE
        acceptApprove() {
            if (this.form.pembayaran === 'Cash') {
                if (this.form.ke === '') {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tujuan Pembayaran belum dipilih',
                    })
                } else {
                    this.runApprove();
                }
            } else if (this.penjualans.length < 1) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Produk tidak boleh kosong',
                })
            } else {
                this.runApprove();
            }
        },

        // FUNGSI EKSEKUSI API APPROVE
        runApprove() {
            this.$vs.loading({
                type: 'radius'
            });
            const formData = new FormData();

            formData.append('execute', 'approved');
            formData.append('approved[payment]', this.form.pembayaran.toLowerCase());

            if (this.form.dateExpired === null) {
                formData.append('approved[due_date]', this.$moment().format(this.format_ID));
            } else {
                formData.append('approved[due_date]', this.$moment(this.form.dateExpired).format(this.format_ID));
            }

            formData.append('approved[coa_code]', this.form.ke);
            formData.append('approved[ongkir]', this.form.ongkir);
            formData.append('approved[ongkir_desc]', this.form.ketOngkir);
            formData.append('approved[biaya_lain]', this.form.biayaLain);
            formData.append('approved[biaya_lain_desc]', this.form.ketBiayaLain);

            this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/penjualan/' + this.tipeTransaksi.replace(' ', '').toLowerCase());
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })
        },

        // FUNGSI TOMBOL REJECT
        reject() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Anda yakin akan menolak penjualan ini?',
                accept: this.rejectActive
            })
        },

        // FUNGSI LOAD MODAL/POPUP REJECT
        rejectActive() {
            this.activeReject = true;
        },

        // FUNGSI EKSEKUSI API REJECT
        acceptReject() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('execute', 'rejected');
            formData.append('rejected', 1);
            formData.append('notes', this.notes);

            this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/penjualan/' + this.tipeTransaksi.replace(' ', '').toLowerCase());
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })
        },


        revisi() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('execute', 'faktur');
            formData.append('_method', 'PUT');

            this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.id + '/update', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/revisifaktur/' + this.tipeTransaksi);
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })
        },

        addNewData() {
            this.sidebarData = {}
            this.toggleDataSidebar(true)
        },

        close() {
            this.activePrompt2 = false;
        },
        clearValMultiple() {
            this.product.id = null;
            this.product.qty_lg = 0;
            this.product.qty_sm = 1;
            this.product.price_lg = 0;
            this.product.price_sm = 0;
            this.product.disc = 0;
        },
        back() {
            this.$router.go(-1);
        }

    }

}
</script>

<style scoped lang="scss">
    .con-vs-dialog.email-compose  {
        .vs-dialog{
            max-width: fit-content;
        }
    }

</style>