<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        <vx-card ref="filterCard" class="user-list-filters mb-8">
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin:5px; "> Invoice: </span> <br>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{penjualanAll.code}}</h4>
                    </span>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin:5px; ">Date</span> <br>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{penjualanAll.created_at}}</h4>
                    </span>
                </div>
            </div>
            <div class="vx-row mt-5">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> Customer: </span>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{penjualanAll.customer.name}}</h4>
                    </span>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> status: </span>
                    <br>
                    <span>
                        <vs-chip v-if="penjualanAll.faktur === 'paid'" color="success">
                            <h4>{{penjualanAll.faktur | capitalize}}</h4>
                        </vs-chip>
                        <vs-chip v-else color="warning">
                            <h4>{{penjualanAll.faktur | capitalize}}</h4>
                        </vs-chip>
                    </span>
                </div>
            </div>
        </vx-card>

        <!-- NOTES -->
        <vs-card
            v-if="penjualanAll.faktur !== 'unactived' && penjualanAll.faktur !== 'approved' && penjualanAll.faktur !== 'pending' && penjualanAll.faktur !== 'unverified'"
            class="p-0 mb-8">
            <vs-collapse>
                <vs-collapse-item>
                    <div slot="header">
                        <span>Notes</span>
                    </div>
                    <h5>{{penjualanAll.notes}}</h5>
                </vs-collapse-item>
            </vs-collapse>
        </vs-card>
        <!-- END NOTES -->

        <div>
            <vx-card ref="bodyGL" class="user-list-filters mb-8">
                <div>

                </div>
                <vs-table ref="table" :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">

                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">

                        </div>
                    </div>
                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <vs-th sort-key="stok">Pack</vs-th>
                        <vs-th sort-key="price">Vol (Box)</vs-th>
                        <vs-th sort-key="stok">Vol. Order</vs-th>
                        <vs-th sort-key="price">Volume (Box)</vs-th>
                        <vs-th sort-key="tax">Price (IDR)</vs-th>
                        <vs-th sort-key="total">Total Amount (IDR)</vs-th>
                        <!-- <vs-th sort-key=""></vs-th> -->

                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>

                            <vs-td :data="data[indextr].product.name">
                                <strong>{{data[indextr].product.name}}</strong>
                            </vs-td>
                            <vs-td :data="data[indextr].product.pack">
                                <strong>{{data[indextr].product.pack_qty}}</strong> / {{data[indextr].product.pack}}
                            </vs-td>
                            <vs-td :data="data[indextr].product.unit_qty">
                                <strong>{{data[indextr].product.unit_qty}}</strong> / {{data[indextr].product.unit_sm}}
                            </vs-td>
                            <vs-td :data="data[indextr].total_sm_qty">
                                <div
                                    v-if="data[indextr].volume.order.qty >= 1000 && data[indextr].volume.order.unit === 'ml' || data[indextr].volume.order.unit === 'g'">
                                    <strong>{{data[indextr].volume.order.qty / 1000}}</strong> / <span
                                        v-if="data[indextr].volume.order.unit === 'ml'">lt</span> <span
                                        v-if="data[indextr].volume.order.unit === 'g'">Kg</span>
                                </div>

                                <div v-else><strong>{{data[indextr].volume.order.qty}}</strong> /
                                    {{data[indextr].volume.order.unit}}</div>
                            </vs-td>
                            <vs-td :data="data[indextr].qty_lg">
                                <div v-if="parseInt(data[indextr].volume.detail.qty_lg) > 0">
                                    <strong>{{data[indextr].volume.detail.qty_lg}}</strong> /
                                    {{data[indextr].volume.detail.unit_lg}}</div>
                                <div v-if="parseInt(data[indextr].volume.detail.qty_sm) > 0">
                                    <strong>{{data[indextr].volume.detail.qty_sm}}</strong> /
                                    {{data[indextr].volume.detail.unit_sm}}</div>
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                <strong>{{data[indextr].price_sm | currency}}</strong>
                            </vs-td>
                            <vs-td :data="data[indextr].dpp">
                                <strong>{{data[indextr].dpp | currency}}</strong>
                            </vs-td>
                            <!-- <vs-td>
                            </vs-td> -->
                        </vs-tr>

                    </template>
                </vs-table>
                <vs-row class="mt-5">
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Subtotal: <b>Rp. {{ total | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Diskon: <b>Rp. {{ totalDiscount | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Tax: <b>Rp. {{ totalTax | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Ongkir: <b>Rp. {{ ongkir | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Biaya Lain: <b>Rp. {{ biaya_lain | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ grandtotal | currency}}</b></h4>
                    </vs-col>
                </vs-row>

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button color="lightblue" style="width:100px;" type="relief" @click.stop="back()">Back
                        </vs-button>
                        <vs-button color="warning" style="width:100px;" type="relief" @click.stop="reject()">
                            Reject
                        </vs-button>
                        <vs-button color="success" style="width:100px;" type="relief" @click.stop="submit()">
                            Approve
                        </vs-button>
                    </vs-col>
                </vs-row>

                <div v-if="productValue!==null">
                    <vs-prompt v-if="activePrompt2" @cancel="close" @accept="acceptEdit" @close="close"
                        accept-text="Edit" :active.sync="activePrompt2" title="Edit">
                        <div class="con-exemple-prompt">

                            <vs-input label="Product" disabled="true" v-model="productValue.product.name"
                                class="w-full px-1  " />
                            <vs-row class="px-1 mb-2">
                                <vs-input label="Qty SM" min="0" type="number" v-model="productValue.qty_sm"
                                    class="w-1/2" />
                                <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> /
                                    {{productValue.unit_sm}}</span>
                            </vs-row>
                            <div class="vs-input w-full px-1 mb-2">
                                <label class="vs-input--label" for="">Harga (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="productValue.price_sm" :currency="{prefix}" locale="de"
                                        :precision="{min,max}" class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </div>


                            <vs-row>
                                <div class="vs-input w-full px-1 mb-2">
                                    <label class="vs-input--label" for="">Diskon (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input v-model="productValue.discount" :currency="{prefix}" locale="de"
                                            :precision="{min,max}" class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </div>
                            </vs-row>
                        </div>
                    </vs-prompt>
                </div>


            </vx-card>
        </div>

        <!-- POP-UP Reject -->
        <vs-prompt v-if="activeReject" @cancel="close" @accept="acceptReject" @close="close" accept-text="Submit"
            :active.sync="activeReject" :title="modalTitle">
            <div class="con-exemple-prompt">
                <vs-row>
                    <vs-input label="Notes" v-model="notes" class="w-full" />
                </vs-row>
            </div>
        </vs-prompt>

    </div>
</template>

<script>
import vSelect from 'vue-select'
import VueSimpleSuggest from 'vue-simple-suggest';
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        VueSimpleSuggest,
        vSelect,
        Datepicker
    },
    data() {
        return {
            tipe: null,
            format_ID: "DD/MM/YYYY",
            activeReject: false,
            modalTitle: 'Reject',
            max: 0,
            min: 0,
            prefix: 'Rp ',
            activePrompt2: false,
            mode: 'input',
            format_ID: "DD/MM/YYYY",
            selected: [],
            id: null,
            payment: null,
            notes: 'notes',
            ongkir: 0,
            biaya_lain: 0,
            total: 0,
            totalDiscount: 0,
            totalTax: 0,
            grandtotal: 0,
            productValue: null,
            penjualanAll: null,
            penjualans: [],
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });

        this.loadData()
    },
    methods: {

        async loadData() {

            this.id = this.$route.params.idpenjualan;
            this.tipe = this.$route.params.tipeTransaksi;

            var resPenjualan = await this.$http.get(this.$baseURL + '/penjualan/penjualan/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })


            this.total = (resPenjualan.data.data.total + resPenjualan.data.data.discount) - resPenjualan.data.data.ongkir - resPenjualan.data.data.biaya_lain - resPenjualan.data.data.tax;
            this.ongkir = resPenjualan.data.data.ongkir;
            this.biaya_lain = resPenjualan.data.data.biaya_lain;
            this.totalDiscount = resPenjualan.data.data.discount;
            this.totalTax = resPenjualan.data.data.tax;
            this.grandtotal = resPenjualan.data.data.total;
            this.penjualanAll = resPenjualan.data.data;
            this.penjualans = resPenjualan.data.data.penjualan_details;

            this.$vs.loading.close();
        },

        async loadPO(value) {
            var resPO = await this.$http.get(this.$baseURL + '/penjualan/penjualan/' + value + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })


            this.penjualans = resPO.data.data.po_penjualan_details;
            this.total = (resPO.data.data.total + resPO.data.data.discount) - resPO.data.data.ongkir - resPO.data.data.biaya_lain - resPO.data.data.tax;
            this.ongkir = resPO.data.data.ongkir;
            this.biaya_lain = resPO.data.data.biaya_lain;
            this.totalDiscount = resPO.data.data.discount;
            this.totalTax = resPO.data.data.tax;
            this.grandtotal = resPenjualan.data.data.total;

            this.$vs.loading.close();
        },

        close() {
            this.$router.go(-1);
        },

        submit() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Yakin akan menyetujui Revisi ini?',
                accept: this.acceptSubmit
            })
        },
        acceptSubmit() {
            if (this.penjualans.length <= 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Produk belum dipilih',
                })
            } else {
                this.$vs.loading({
                    type: 'radius'
                });
                const formData = new FormData();
                formData.append('execute', 'approved');

                if (this.penjualanAll.status === 'paid') {
                    formData.append('approved[payment]', 'cash');
                } else {
                    formData.append('approved[payment]', 'credit');
                }

                var due_date = this.$moment(this.penjualanAll.due_date, this.format_ID).toDate();

                if (this.penjualanAll.due_date === null) {
                    formData.append('approved[due_date]', this.$moment().format(this.format_ID));
                } else {
                    formData.append('approved[due_date]', this.$moment(due_date).format(this.format_ID));
                }

                formData.append('approved[coa_code]', '1101');
                formData.append('approved[ongkir]', this.penjualanAll.ongkir);
                formData.append('approved[ongkir_desc]', this.penjualanAll.ongkir_desc);
                formData.append('approved[biaya_lain]', this.penjualanAll.biaya_lain);
                formData.append('approved[biaya_lain_desc]', this.penjualanAll.biaya_lain_desc);

                this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/penjualan/' + this.tipe);
                }).catch(err => {
                    this.$vs.loading.close();
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })
            }
        },

        reject() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Yakin akan menolak Revisi ini?',
                accept: this.acceptReject
            })
        },

        acceptReject() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('execute', 'rejected');
            formData.append('rejected', 1);
            formData.append('notes', this.notes);

            this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/revisifaktur/' + this.tipe);
            }).catch(err => {
                console.log(err);
                this.$vs.loading.close();
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
                this.$options.filters.auth(err.response.data.message);
            })

        },

        back() {
            this.$router.go(-1);
        },
    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>