<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <!-- CARD FILTER -->
        <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" collapseAction refreshContentAction
            @refresh="resetColFilters">
            <vs-row>
                <vs-col vs-w="6">
                    <vs-row class="mb-3">
                        <vs-col vs-w="2">
                            <span class="w-full mx-3 my-auto"> Date: </span>
                        </vs-col>
                        <vs-col class="pl-5" vs-w="5">
                            <datepicker class="w-full" placeholder="Select Date Start" v-model="form.dateStart">
                            </datepicker>
                        </vs-col>
                        <vs-col class="pl-5" vs-w="5">
                            <datepicker class="w-full" placeholder="Select Date Finish" v-model="form.dateFinish">
                            </datepicker>
                        </vs-col>
                    </vs-row>
                    <vs-row class="mb-3">
                        <vs-col vs-w="2">
                            <span class="mx-3 my-auto"> Customer: </span>
                        </vs-col>
                        <vs-col class="pl-5" vs-w="5">
                            <v-select class="w-full" v-model="form.customer" :clearable="true" label='name'
                                :options="customersOptions" name="customer" />
                        </vs-col>
                    </vs-row>
                    <vs-row class="mb-3">
                        <!-- <span style="margin-left:15px; margin-top:20px;"> Product: </span> 
                            <span><v-select v-model="form.product" :clearable="true" label='name' :options="productOptions" style=" width:450px; margin:15px 20px 0px 23px;" name="Category"/>  </span> -->
                        <div class="text-right">
                            <vs-button color="success" type="relief" style="margin-top:10px; height:45px;"
                                @click="searchData">Search</vs-button>
                        </div>

                    </vs-row>
                </vs-col>
            </vs-row>
        </vx-card>

        <!-- CARD PENJUALAN -->
        <div id="data-list-list-view" class="data-list-container">

            <vx-card>
                <vs-tabs alignment="fixed">
                    <vs-tab label="Penjualan">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="penjualans">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                    <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                        <div
                                            class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                            <span class="mr-2">Actions</span>
                                            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                        </div>

                                        <vs-dropdown-menu>
                                            <vs-dropdown-item>
                                                <span @click="revisiFaktur" class="flex items-center">
                                                    <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4"
                                                        class="mr-2" />
                                                    <span>Revisi Faktur</span>
                                                </span>
                                            </vs-dropdown-item>
                                        </vs-dropdown-menu>
                                    </vs-dropdown>
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="nofaktur">Nomor</vs-th>
                                <vs-th sort-key="date">Tanggal</vs-th>
                                <vs-th sort-key="customer">Pelanggan</vs-th>
                                <vs-th sort-key="sales">Total (Rp)</vs-th>
                                <vs-th sort-key="status">Status Pembayaran</vs-th>
                                <vs-th sort-key="status">Status</vs-th>
                                <vs-th sort-key="action">Action</vs-th>

                            </template>

                            <template slot-scope="{data}" style="font-size:12px;">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].code">
                                        #{{data[indextr].code}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].customer.name">
                                        {{data[indextr].customer.name}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        {{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">
                                        <vs-chip
                                            v-if="data[indextr].status === 'paid' && data[indextr].faktur === 'approved'"
                                            color="success">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip
                                            v-else-if="data[indextr].status === 'paid' && data[indextr].faktur !== 'approved'"
                                            color="danger">
                                            Unpaid
                                        </vs-chip>
                                        <vs-chip v-else color="danger">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td :data="data[indextr].faktur">
                                        <vs-chip v-if="data[indextr].faktur === 'approved'" color="success">
                                            {{data[indextr].faktur | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else-if="data[indextr].faktur === 'pending'" color="warning">
                                            {{data[indextr].faktur | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else v-tooltip="'Belum submit Penjualan'" color="danger">
                                            {{data[indextr].faktur | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td>
                                        <vs-col v-if="data[indextr].faktur == 'pending' && confirmm == true"
                                            class="px-3" vs-w="3">
                                            <feather-icon icon="CheckCircleIcon" v-tooltip="'Confirm'"
                                                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                                @click.stop="approveData(tr)" />
                                        </vs-col>
                                        <vs-col
                                            v-if="data[indextr].faktur !== 'approved' && data[indextr].faktur !== 'actived'"
                                            class="px-3" vs-w="3">
                                            <feather-icon icon="EditIcon"
                                                v-if="updatee === true && data[indextr].faktur === 'open' || data[indextr].faktur === 'unverified'"
                                                v-tooltip="'Edit'"
                                                svgClasses="w-5 h-5 hover:text-warning stroke-current"
                                                @click.stop="editData(tr)" />
                                        </vs-col>
                                        <vs-col v-if="data[indextr].faktur === 'actived'" vs-w="12">
                                            <vs-chip color="warning">
                                                <span style="color:black;">
                                                    <feather-icon icon="SettingsIcon"
                                                        svgClasses="w-4 h-4 stroke-current" /> Revisi </span>
                                            </vs-chip>
                                        </vs-col>
                                        <vs-col vs-w="3" class="px-3"
                                            v-if="data[indextr].faktur === 'approved' && data[indextr].do_status === 'uncomplete'">
                                            <feather-icon v-tooltip="'Surat Jalan'" icon="BriefcaseIcon"
                                                svgClasses="w-5 h-5 hover:text-warning stroke-current"
                                                @click.stop="reviewSuratJalan(tr)" />
                                        </vs-col>
                                        <!-- <vs-col vs-w="4" class="px-2" v-if="data[indextr].faktur === 'approved'">
                                            <feather-icon icon="PrinterIcon"
                                                v-tooltip="'Print Penjualan'"
                                                svgClasses="w-5 h-5 hover:text-success stroke-current"
                                                @click.stop="printPenjualan(tr)" />
                                        </vs-col> -->
                                        <vs-col vs-w="3" class="px-3"
                                            v-if="data[indextr].faktur === 'approved' && data[indextr].penagihan.length < 1 && data[indextr].status !== 'paid'">
                                            <feather-icon v-tooltip="'Penagihan'" icon="BookIcon"
                                                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                                @click.stop="penagihanData(tr)" />
                                        </vs-col>

                                        <vs-col vs-w="3" class="px-3"
                                            v-if="data[indextr].faktur === 'approved' && data[indextr].penagihan.length > 0">
                                            <feather-icon v-tooltip="'Denda'" icon="AirplayIcon"
                                                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                                @click.stop="dendaData(tr)" />
                                        </vs-col>
                                        <vs-col v-if="deletee === true" class="px-3" vs-w="3">
                                            <feather-icon icon="TrashIcon" v-tooltip="'Void'"
                                                svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                                @click.stop="deleteData(tr)" />
                                        </vs-col>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>

                    <!-- PENJUALAN REJECT -->
                    <vs-tab label="Penjualan (Reject & Void)">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="penjualansReject">

                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">


                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="nofaktur">No Faktur</vs-th>
                                <vs-th sort-key="date">Date</vs-th>
                                <vs-th sort-key="customer">Customer</vs-th>
                                <vs-th sort-key="sales">Total (Rp)</vs-th>
                                <vs-th sort-key="status">Status</vs-th>
                                <vs-th sort-key="action">Action</vs-th>

                            </template>

                            <template slot-scope="{data}" style="font-size:12px;">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].penjualan_id">
                                        #{{data[indextr].penjualan_id}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].customer.name">
                                        {{data[indextr].customer.name}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        {{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].faktur">
                                        <vs-chip v-if="data[indextr].faktur === 'paid'" color="success">
                                            {{data[indextr].faktur | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else-if="data[indextr].faktur === 'unpaid'" color="warning">
                                            {{data[indextr].faktur | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="danger">
                                            {{data[indextr].faktur | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td>

                                        <vs-col v-if="data[indextr].faktur === 'reject'" vs-w="4">
                                            <feather-icon icon="CornerUpLeftIcon" v-tooltip="'Open'"
                                                svgClasses="w-5 h-5 hover:text-warning stroke-current"
                                                @click.stop="unReject(tr)" />
                                        </vs-col>

                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>


                    </vs-tab>

                    <!-- SURAT JALAN UNCOMPLETE -->
                    <vs-tab label="Surat Jalan">
                        <vs-table pagination :max-items="10" @selected="viewDataDO" search :data="suratJalans">

                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="created_at">Date</vs-th>
                                <vs-th sort-key="do_id">No. Surat Jalan</vs-th>
                                <vs-th sort-key="penjualan_id">No. Faktur</vs-th>
                                <vs-th></vs-th>

                            </template>

                            <template slot-scope="{data}" style="font-size:12px;">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].do_id">
                                        DO-{{data[indextr].do_id}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code">
                                        #{{data[indextr].code}}
                                    </vs-td>
                                    <vs-td>
                                        <vs-col vs-w="4" class="px-2">
                                            <feather-icon icon="PrinterIcon" v-tooltip="'Print Surat Jalan'"
                                                svgClasses="w-5 h-5 hover:text-success stroke-current"
                                                @click.stop="printSuratJalan(tr)" />
                                        </vs-col>
                                        <vs-col vs-w="4" class="px-2">
                                            <feather-icon icon="FileTextIcon" v-tooltip="'Print Tanda Terima'"
                                                svgClasses="w-5 h-5 hover:text-success stroke-current"
                                                @click.stop="printTandaTerima(tr)" />
                                        </vs-col>
                                    </vs-td>

                                </vs-tr>
                            </template>
                        </vs-table>

                    </vs-tab>

                </vs-tabs>

            </vx-card>
        </div>

        <!-- POP UP REVISI FAKTUR -->
        <div>
            <vs-prompt v-if="activeRevisi" @cancel="close" @accept="acceptRevisi" @close="close" accept-text="Submit"
                :active.sync="activeRevisi" title="Revisi Faktur">
                <div class="con-exemple-prompt">
                    <vs-row class="mb-5">
                        <label class="vs-input--label" for="">Nomor</label>
                        <!-- <vs-input label="Id Penjualan" v-model="revisi.id" class="w-full" /> -->
                        <v-select v-model="revisi.id" class="w-full" :clearable="false" :options="penjualanOptions"
                            :reduce="penjualanOptions => penjualanOptions.code" label="code" placeHolder="Penjualan"
                            name="penjualan" />
                    </vs-row>
                    <vs-row>
                        <vs-textarea label="Alasan" v-model="revisi.alasan" />
                    </vs-row>
                </div>
            </vs-prompt>
        </div>

        <!-- POP UP PENAGIHAN -->
        <div>
            <vs-prompt v-if="activePenagihan" @cancel="close" @accept="submitPenagihan" @close="close"
                accept-text="Submit" :active.sync="activePenagihan" title="Penagihan Faktur">
                <div class="con-exemple-prompt">
                    <vs-row class="mb-3">
                        <vs-col>
                            <vs-input label="Up Penerima" placeholder="U Penerima" class="w-full"
                                v-model="penagihan.nama" />
                        </vs-col>
                    </vs-row>
                    <vs-row>
                        <vs-col>
                            <vs-textarea label="Alamat" placeholder="cth. Jalan Mawar No. 83"
                                v-model="penagihan.alamat" />
                        </vs-col>
                    </vs-row>
                    <vs-row class="mb-3">
                        <vs-col vs-w="6" class="px-1">
                            <vs-input label="Expedisi" class="w-full" placeholder="cth. JNE"
                                v-model="penagihan.expedisi" />
                        </vs-col>

                        <vs-col vs-w="6" class="px-1">
                            <label class="vs-input--label" for="">Tanggal Jatuh Tempo:</label>
                            <datepicker class="w-full" v-model="penagihan.tglTempo"></datepicker>
                        </vs-col>
                    </vs-row>
                </div>
            </vs-prompt>
        </div>

        <!-- POP UP DENDA -->
        <div>
            <vs-prompt v-if="activeDenda" @cancel="close" @accept="submitDenda" @close="close" accept-text="Submit"
                :active.sync="activeDenda" title="Denda">
                <div class="con-exemple-prompt">
                    <vs-row class="mb-5">
                        <vs-col vs-w="6">
                            <p>Kode Faktur</p>
                            <h5>#{{denda.code}}</h5>
                        </vs-col>
                        <vs-col vs-w="6">
                            <p>Tanggal Tagihan</p>
                            <h5>{{denda.date}}</h5>
                        </vs-col>
                    </vs-row>
                    <!-- <vs-row class="mb-3">
                        <vs-col>
                            <vs-input label="Bulan Denda" placeholder="1 Bulan" class="w-full" v-model="denda.bulan"/>
                        </vs-col>
                    </vs-row> -->
                    <vs-row class="mb-3">
                        <vs-col vs-w="6" class="px-1">
                            <vs-input label="Persen ( % )" v-on:keyup="countDenda" type="number" class="w-full"
                                placeholder="cth. 10%" v-model="denda.persen" />
                        </vs-col>
                        <vs-col vs-w="6" class="px-1">
                            <label class="vs-input--label" for="">Nominal (Rp)</label>
                            <div class="vs-con-input">
                                <currency-input v-model.lazy="denda.nominal" :currency="{prefix}" :precision="{min,max}"
                                    locale="de" disabled
                                    class="vs-inputx vs-input--input normal hasValue" />
                            </div>
                        </vs-col>
                    </vs-row>
                    <vs-divider />
                    <vs-row class="mb-3">
                        <vs-col vs-w="4">
                            <label for="">Total Denda</label>
                        </vs-col>
                        <vs-col class="text-right" vs-w="8">
                            <h4>Rp. {{denda.totalDenda | currency}}</h4>
                        </vs-col>
                    </vs-row>

                </div>
            </vs-prompt>
        </div>

        <!-- POP UP TANDA TERIMA -->
        <div>
            <vs-prompt v-if="activeTerima" @cancel="close" @accept="acceptTerima" @close="close" accept-text="Submit"
                :active.sync="activeTerima" title="Tanda Terima">
                <div class="con-exemple-prompt">
                    <vs-row class="mb-4">
                        <vs-input disabled="true" label="Nama Pelanggan" class="w-full" v-model="terima.nama" />
                    </vs-row>
                    <vs-row>
                        <vs-textarea rows="6" label="Dokumen Berupa" v-model="terima.dokumen" />
                    </vs-row>
                    <vs-row>
                        <vs-textarea label="Catatan Penting" v-model="terima.catatan" />
                    </vs-row>
                </div>
            </vs-prompt>
        </div>
    </div>
</template>



<script>
    import vSelect from 'vue-select'
    import Datepicker from 'vuejs-datepicker';

    export default {
        components: {
            vSelect,
            Datepicker
        },
        data() {
            return {
                tipe: null,
                format_ID: "DD/MM/YYYY",
                max: 0,
                min: 0,
                prefix: 'Rp ',
                activeRevisi: false,
                activePenagihan: false,
                activeDenda: false,
                activeTerima: false,
                delete: null,
                createe: null,
                confirmm: null,
                updatee: null,
                deletee: null,
                access: null,
                form: {
                    dateStart: null,
                    dateFinish: null,
                    user: null,
                    customer: null,
                },
                revisi: {
                    id: null,
                    alasan: null,
                },
                terima: {
                    nama: null,
                    dokumen: null,
                    catatan: null,
                },
                penagihan: {
                    id: null,
                    nama: null,
                    alamat: null,
                    expedisi: null,
                    nominal: 0,
                    serial: 'sadasdasq' + Math.random(),
                    tglTempo: new Date(),
                },
                denda: {
                    date: null,
                    code: null,
                    bulan: null,
                    persen: null,
                    nominal: null,
                    totalDenda: 0,
                },
                tes: null,
                unreject: null,
                penjualanOptions: [],
                customersOptions: [],
                penjualans: [],
                penjualansReject: [],
                suratJalans: [],
                suratJalansCom: [],
                penagihans: [],
            }
        },
        computed: {
            // cekDenda: function(value){
            //     // var day = this.$moment
            //     return value;

            //     // return this.$moment('2020-06-20').isAfter('2021-06-30')
            // }
        },
        mounted() {
            this.$vs.loading({
                type: 'radius'
            });

            if (this.$route.params.tipe === 'freemarket') {
                this.tipe = 'Free market';
            } else {
                this.tipe = 'Company';
            }
            this.tes = this.$moment;
            this.loadData();
        },
        methods: {
            async loadData() {
                var com_id = this.$company != null ? this.$company.company_id : "1";
                var resPenjualan = await this.$http.get(this.$baseURL + '/penjualan/penjualan?dateFrom=' + this.$moment().subtract(2, "days").format(this.format_ID) + '&dateTo=' + this.$moment().format(this.format_ID), {
                    params: {
                        filter: 'faktur|reject|!=;faktur|void|!=;faktur|actived|!=;faktur|unactived|!=;trans_type|' + this.tipe
                    }
                }, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);

                })

                var resPenjualanReject = await this.$http.get(this.$baseURL + '/penjualan/penjualan?dateFrom=' + this.$moment().subtract(2, "days").format(this.format_ID) + '&dateTo=' + this.$moment().format(this.format_ID), {
                    params: {
                        filter: 'faktur|reject:void;trans_type|' + this.tipe
                    }
                }, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })

                var resPJOptions = await this.$http.get(this.$baseURL + '/penjualan/penjualan', {
                    params: {
                        filter: 'faktur|approved;trans_type|' + this.tipe
                    }
                }, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })

                var resSurat = await this.$http.get(this.$baseURL + '/penjualan/do', {
                    params: {
                        filter: 'company_id|' + com_id + ';trans_type|' + this.tipe
                    }
                }, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })

                this.$http.get(this.$baseURL + '/master/customers', {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.customersOptions = res.data.data;

                }).catch(err => {
                    this.$vs.loading.close();
                    if (err.response.data.message == "Unauthenticated") {
                        this.$options.filters.auth(err.response.data.message)
                    }
                    console.log(err.data.message);
                })

                this.penjualans = resPenjualan.data.data;
                this.penjualanOptions = resPJOptions.data.data;
                // this.revisi.id = resPJOptions.data.data[0];
                this.penjualansReject = resPenjualanReject.data.data;
                this.suratJalans = resSurat.data.data;

                this.access = this.$user.role.role_menus.access;

                for (var acc in this.access) {
                    if (this.$route.path == this.access[acc].url) {
                        this.createe = this.access[acc].createe;
                        this.confirmm = this.access[acc].confirmm;
                        this.updatee = this.access[acc].updatee;
                        this.deletee = this.access[acc].deletee;
                    }
                }
                setTimeout(this.$vs.loading.close(), 2000);
            },
            cekDenda(date) {
                var now = this.$moment().format(this.format_ID);
                var due_date = this.$moment(date, "DD/MM/YYYY").toDate();
                console.log(this.$moment(now).isAfter(due_date));
            },

            reviewSuratJalan(tr) {
                this.$router.push('/pages/reviewsuratjalan/' + tr.penjualan_id).catch(() => {})
            },

            viewData(tr) {
                this.$router.push('/pages/viewpenjualandetail/' + tr.penjualan_id + '/order').catch(() => {})
            },

            viewDataDO(tr) {
                this.$router.push('/pages/viewsuratjalandetail/' + tr.do_id);
            },

            addNewData() {
                this.sidebarData = {}
                this.toggleDataSidebar(true)
            },

            cekDenda(date) {
                return date;
            },

            resetColFilters() {
                this.form.dateStart = null
                this.form.dateFinish = null
                this.form.user = null
                this.form.customer = null
                this.$refs.filterCard.removeRefreshAnimation()
            },

            deleteData(data) {
                this.delete = data;
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Yakin akan menghapus Transaksi ini?',
                    accept: this.acceptDelete
                })
            },

            acceptDelete() {
                this.$vs.loading({
                    type: 'radius'
                });
                const formData = new FormData();
                formData.append('execute', 'void');
                formData.append('notes', 'void penjualan');

                this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.delete.penjualan_id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.$vs.notify({
                        color: 'success',
                        title: 'Success',
                        text: 'Data berhasil dihapus'
                    });
                    this.loadData();
                }).catch(err => {
                    this.$vs.loading.close();
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                });
            },

            editData(data) {
                this.$router.push('/pages/formpenjualan/' + data.penjualan_id + '/edit/' + data.trans_type.replace(" ", "").toLowerCase());
            },

            revisiFaktur() {
                this.activeRevisi = true;
            },

            acceptRevisi() {

                if (this.revisi.id === null) {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Nomor Transaksi kosong',
                        // accept: this.accept
                    })
                } else if (this.revisi.alasan === null) {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Note belum diisi',
                        // accept: this.accept
                    })

                } else {

                    const formData = new FormData();
                    formData.append('no_faktur', this.revisi.id);
                    formData.append('notes', this.revisi.alasan);

                    this.$http.post(this.$baseURL + '/penjualan/revisifaktur/revisi', formData, {
                        headers: {
                            Authorization: 'Bearer ' + this.$token,
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }).then(res => {
                        this.$router.push('/pages/revisifaktur/' + this.$route.params.tipe);
                    }).catch(err => {
                        console.log(err);
                        this.$options.filters.auth(err.response.data.message);
                        this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        });
                    })
                }

            },

            close() {
                this.activeRevisi = false;
            },

            approveData(data) {
                // this.$router.push('/pages/formreviewpenjualan/' + data.penjualan_id);
                this.$router.push('/pages/formpenjualan/' + data.penjualan_id + '/approve/' + this.$route.params.tipe);
            },

            unReject(data) {
                this.unreject = data;

                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Yakin akan melakukan UnReject transaksi ini?',
                    accept: this.acceptUnreject
                })
            },

            acceptUnreject() {
                const formData = new FormData();
                formData.append('execute', 'rejected');
                formData.append('rejected', 0);
                formData.append('notes', 'unreject');

                this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.unreject.penjualan_id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.$vs.loading({
                        type: 'radius'
                    });
                    // this.$router.push('/pages/penjualan');
                    this.loadData();

                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })
            },

            printSuratJalan(data) {
                this.$router.push('/pages/suratjalan/print/' + data.do_id);
            },

            async printTandaTerima(data) {
                this.$vs.loading({
                    type: 'radius'
                });
                // console.log(data.penjualan.customer_id);
                var resCustomer = await this.$http.get(this.$baseURL + '/master/customers/' + data.penjualan.customer_id + '/read', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })
                // console.log(resCustomer);

                this.terima.nama = resCustomer.data.data.name;
                this.activeTerima = true;

                this.$vs.loading.close();
            },

            acceptTerima() {
                this.$tanda = this.terima;
                localStorage.tanda = JSON.stringify(this.terima);
                this.$router.push('/pages/tandaterima/print');
            },

            penagihanData(data) {
                this.penagihan.id = data.penjualan_id;

                this.activePenagihan = true;
            },

            submitPenagihan() {
                if (this.penagihan.nama === null) {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Nama Penerima tidak boleh kosong',
                    })

                } else if (this.penagihan.alamat === null) {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Alamat Penerima tidak boleh kosong',
                    })

                } else if (this.penagihan.expedisi === null) {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Expedisi tidak boleh kosong',
                    })

                } else {
                    const formData = new FormData();
                    formData.append('penjualan_id', this.penagihan.id);
                    if (this.penagihan.tglTempo === null) {
                        formData.append('due_date', this.$moment().format(this.format_ID));
                    } else {
                        formData.append('due_date', this.$moment(this.penagihan.tglTempo).format(this.format_ID));
                    }
                    formData.append('address', this.penagihan.alamat);
                    formData.append('receiver', this.penagihan.nama);
                    formData.append('expedition', this.penagihan.expedisi);
                    formData.append('nominal', this.penagihan.nominal);
                    formData.append('serial', this.penagihan.serial);

                    this.$http.post(this.$baseURL + '/penjualan/agro/penjualan/penagihan/create', formData, {
                        headers: {
                            Authorization: 'Bearer ' + this.$token,
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }).then(res => {
                        this.$vs.loading({
                            type: 'radius'
                        });
                        this.loadData();

                    }).catch(err => {
                        console.log(err);
                        this.$options.filters.auth(err.response.data.message);
                        this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        });
                    })
                }
                this.activePenagihan = false;
            },

            dendaData(data) {
                this.denda.code = data.code;
                this.denda.date = data.due_date;
                this.denda.nominal = parseInt(data.total) - parseInt(data.ongkir) - parseInt(data.biaya_lain);

                this.activeDenda = true;
            },

            countDenda() {
                this.denda.totalDenda = (parseInt(this.denda.persen) / 100) * parseInt(this.denda.nominal);
            },

            submitDenda() {
                if (this.denda.persen === null) {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Persentase tidak boleh kosong',
                    })

                } else {
                    const formData = new FormData();
                    formData.append('code_jual', this.denda.code);
                    formData.append('persentase', this.denda.persen);

                    this.$http.post(this.$baseURL + '/penjualan/agro/penjualan/denda/create', formData, {
                        headers: {
                            Authorization: 'Bearer ' + this.$token,
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }).then(res => {
                        this.$vs.loading({
                            type: 'radius'
                        });
                        this.loadData();

                    }).catch(err => {
                        console.log(err);
                        this.$options.filters.auth(err.response.data.message);
                        this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        });
                    })
                }
                this.activeDenda = false;
            },

            searchData() {
                this.$vs.loading({
                    type: 'radius'
                });
                if (this.form.dateStart == null && this.form.dateFinish == null) {
                    this.date = ''
                } else {
                    this.dateFrom = this.$moment(this.form.dateStart).format("DD/MM/YYYY");
                    this.dateTo = this.$moment(this.form.dateFinish).format("DD/MM/YYYY");
                    this.date = 'date_from=' + this.dateFrom + '&date_to=' + this.dateTo
                }

                if (this.form.customer == null) {
                    this.cus = ''
                } else {
                    if (this.date == '' && this.form.dateFinish == null) {
                        this.cus = 'customer_id|' + this.form.customer.customer_id
                    } else {
                        this.cus = '&customer_id=' + this.form.customer.customer_id
                    }
                }

                if (this.form.dateStart == null && this.form.dateFinish == null && this.form.customer == null) {
                    this.loadData()
                } else {
                    this.$http.get(this.$baseURL + '/penjualan/penjualan?filter=trans_type|' + this.tipe + ';faktur|actived|!=;' + this.cus + this.date, {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        }
                    }).then(res => {
                        this.penjualans = res.data.data;

                    }).catch(err => {
                        if (err.response.data.message == "Unauthenticated") {
                            this.$options.filters.auth(err.response.data.message)
                        }
                        console.log(err.data.message);
                    }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

                    // PENJUALAN REJECT/VOID
                    this.$http.get(this.$baseURL + '/penjualan/penjualan?filter=trans_type|' + this.tipe + ';faktur|void:rejected;' + this.cus + this.date, {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        }
                    }).then(res => {
                        this.penjualansReject = res.data.data;

                    }).catch(err => {
                        if (err.response.data.message == "Unauthenticated") {
                            this.$options.filters.auth(err.response.data.message)
                        }
                        console.log(err.data.message);
                    }).finally(() => setTimeout(this.$vs.loading.close(), 2000));

                }
            },

            promptAlert(type, title, text) {
                this.$vs.notify({
                    color: type,
                    title: title,
                    text: text
                })
            },
            resetColFilters() {
                this.$vs.loading({
                    type: 'radius'
                });

                this.form.dateStart = null;
                this.form.dateFinish = null;
                this.form.customer = null;
                this.$refs.filterCard.removeRefreshAnimation();
                this.loadData();
            },
        }

    }
</script>

<style lang="scss">
    #page-user-list {
        .user-list-filters {
            .vs__actions {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-58%);
            }
        }
    }
</style>