<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <div id="data-list-list-view" class="data-list-container">

            <vx-card>
                <vs-tabs alignment="fixed">
                    <vs-tab label="List PO">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="penjualan">

                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                    <div class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                        @click="addNewData">
                                        <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                        <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                                    </div>
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="nama">Work Order</vs-th>
                                <vs-th sort-key="tanggal">Tanggal</vs-th>
                                <vs-th sort-key="description">Order ID</vs-th>
                                <vs-th sort-key="gudang">Customer</vs-th>
                                <vs-th sort-key="total">Total</vs-th>
                                <vs-th sort-key="user">User</vs-th>
                                <vs-th sort-key="action">Action</vs-th>

                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">
                                    <vs-td :data="indextr+1">
                                        {{indextr+1}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].work_order">
                                        {{data[indextr].work_order}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].order_id">
                                        {{data[indextr].order_id}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].customer_id">
                                        {{data[indextr].customer_id}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        Rp.{{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].user.username">
                                        {{data[indextr].user.username}}
                                    </vs-td>
                                    <vs-td>
                                        <feather-icon icon="CheckCircleIcon"
                                            svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2"
                                            @click.stop="reviewData(tr)" />
                                        <feather-icon icon="TrashIcon"
                                            svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                            @click.stop="deleteData(tr)" />
                                    </vs-td>

                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                    <vs-tab label="List PO Gudang">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="penjualan">
                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="nama">Work Order</vs-th>
                                <vs-th sort-key="tanggal">Tanggal</vs-th>
                                <vs-th sort-key="description">Order ID</vs-th>
                                <vs-th sort-key="gudang">Customer</vs-th>
                                <vs-th sort-key="total">Total</vs-th>
                                <vs-th sort-key="user">User</vs-th>
                                <vs-th sort-key="action">Action</vs-th>

                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                                    <vs-td :data="indextr+1">
                                        {{indextr+1}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].work_order">
                                        {{data[indextr].work_order}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].order_id">
                                        {{data[indextr].order_id}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].customer_id">
                                        {{data[indextr].customer_id}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        Rp.{{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].inputby">
                                        {{data[indextr].inputby}}
                                    </vs-td>
                                    <vs-td>
                                        <feather-icon icon="CheckCircleIcon"
                                            svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2"
                                            @click.stop="reviewData(tr)" />
                                        <feather-icon icon="TrashIcon"
                                            svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                            @click.stop="deleteData(tr)" />
                                    </vs-td>

                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                </vs-tabs>


            </vx-card>
        </div>

    </div>
</template>

<script>  
export default {
    data() {
        return {
            penjualan: [],
        }
    },
    mounted() {
        this.loadData()
    },

    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"

            var resPO = await this.$http.get(this.$baseURL + '/penjualan/po?filter=company_id|' + com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                // console.log(err);
                // this.$options.filters.auth(false)
            })


            this.penjualan = resPO.data.data;
            // console.log(this.penjualan);

            // this.keOptions= resKe.data.data;
            // this.productList= resProduct.data.data;
        },
        viewData(tr) {
            this.$router.push('/pages/viewpenjualandetail/' + tr.po_pj_id + '/po').catch(() => {})
        },
        reviewData(tr) {
            this.$router.push('/pages/formreviewpopenjualan/' + tr.po_pj_id).catch(() => {})
        },
        addNewData() {
            this.$router.push('/pages/formpopenjualan/0').catch(() => {})
        },

        deleteData(data) {
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to Cancel this Data ?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.promptAlert("danger", "Cancel", "The selected data was cancelled")
        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        resetColFilters() {
            this.form.dateStart = null
            this.form.dateFinish = null
            this.form.user = null
            this.form.customer = null
            this.$refs.filterCard.removeRefreshAnimation()
        },


    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>