<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <vx-card ref="filterCard" :title="name" class="user-list-filters mb-8">
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> No Faktur: </span><br>
                    <h4>{{noOrder}}</h4>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Date: </span><br>
                    <h4>{{date}}</h4>
                </div>
            </div>
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Customer: </span>
                    <h4>{{customer}}</h4>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Sales: </span>
                    <h4>{{sales}}</h4>
                </div>
            </div>
        </vx-card>


        <div>
            <vx-card>
                <vs-table multiple v-model="selected" :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                        <h3>Detail Produk</h3>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <vs-th class="text-center" sort-key="stok">Qty SM</vs-th>
                        <vs-th class="text-center" sort-key="stok">Unit SM</vs-th>
                    </template>

                    <template slot-scope="{data}">

                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>

                            <vs-td v-if="data[indextr].product" :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>
                            <vs-td :data="data[indextr].qty_sm">
                                <vs-input-number v-model="data[indextr].volume.order.qty" :max="listQtySM[indextr]"
                                    min="0" />
                            </vs-td>
                            <vs-td v-if="data[indextr].product" :data="data[indextr].product.unit_sm">
                                {{data[indextr].volume.order.unit}}
                            </vs-td>
                        </vs-tr>

                    </template>
                </vs-table>

                <vs-row class="mt-5">
                    <vs-col class="text-right" vs-w="12">
                        <vs-button color="lightblue" style="width:100px; background-color:mediumslateblue;"
                            type="relief" @click.stop="back()">
                            Back</vs-button>
                        <vs-button color="primary" style="width:100px;" type="relief" @click.stop="submit()">
                            Submit</vs-button>
                    </vs-col>
                </vs-row>
            </vx-card>
        </div>

    </div>
</template>



<script>
export default {
    components: {

    },
    data() {

        return {
            mode: 'input',
            selected: [],
            name: null,
            noOrder: null,
            total: 0,
            date: null,
            code: null,
            note: null,
            status: null,
            customer: null,
            sales: null,
            transType: null,
            listQtySM: [],
            listQtyLG: [],
            penjualans: [],

        }
    },
    computed: {
        complete: function () {
            // return this.penjualans.find(this.penjualans.status === 'uncomplete')
            return this.penjualans.filter(function (i) {
                return i.status === 'uncomplete'
            })
        }
    },

    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData();
    },
    methods: {
        async loadData() {

            var id = this.$route.params.idpenjualan;

            var resPenjualan = await this.$http.get(this.$baseURL + '/penjualan/penjualan/' + id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.code = resPenjualan.data.data.code;
            this.total = resPenjualan.data.data.total;
            this.name = resPenjualan.data.data.code;
            this.noOrder = resPenjualan.data.data.penjualan_id;
            this.date = resPenjualan.data.data.due_date;
            this.sales = resPenjualan.data.data.karyawan.name;
            this.status = resPenjualan.data.data.status;
            this.customer = resPenjualan.data.data.customer.name;
            this.penjualans = resPenjualan.data.data.os_do;

            if (resPenjualan.data.data.trans_type === 'Free market') {
                this.transType = 'freemarket';
            } else {
                this.transType = 'company';
            }

            var filters = this.penjualans.filter(status => this.penjualans.status === 'uncomplete');

            for (let index = 0; index < this.penjualans.length; index++) {
                this.listQtySM[index] = resPenjualan.data.data.os_do[index].volume.order.qty;
                this.listQtyLG[index] = resPenjualan.data.data.os_do[index].volume.order.qty;
            }

            this.$vs.loading.close();

        },
        back() {
            this.$router.go(-1)
        },
        addNewData() {
            this.sidebarData = {}
            this.toggleDataSidebar(true)
        },

        submit() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Anda yakin sudah sesuai?',
                accept: this.acceptSubmit
            })

        },
        acceptSubmit() {
            if (this.selected.length <= 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Produk Belum Dipilih',
                })
            } else {

                var id = this.$route.params.idpenjualan;
                const formData = new FormData();
                formData.append('penjualan_id', id);
                for (let index = 0; index < this.selected.length; index++) {
                    formData.append('products[' + index + '][id]', this.selected[index].product_id);
                    formData.append('products[' + index + '][qty]', this.selected[index].volume.order.qty);

                }
                formData.append('confirmed', 'no');
                this.$http.post(this.$baseURL + '/penjualan/agro/penjualan/do/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {

                    this.$router.push('/pages/penjualan/' + this.transType);
                }).catch(err => {
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })
            }

        },



    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-58%);
        }
    }
}
</style>