<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <vx-card ref="filterCard" :title="'No. Faktur : '+noOrder" class="user-list-filters mb-8">

            <div class="vx-row mb-3">
                <div class="vx-col md:w-1/3 sm:w-1/3 w-full">
                    <span> Kode Faktur: </span><br>

                    <h4>{{name}}</h4>
                </div>
                <div class="vx-col md:w-1/3 sm:w-1/3 w-full">
                    <span> Tanggal Transaksi: </span><br>
                    <h4>{{date}}</h4>
                </div>
                <div class="vx-col md:w-1/3 sm:w-1/3 w-full">
                    <span>Tipe Pembayaran: </span><br>
                    <h4>{{(tipePembayaran === 'paid' ? "Cash" : "Credit")}}</h4>
                </div>
            </div>
            <vs-divider />
            <div class="vx-row mb-3">
                <div class="vx-col md:w-1/3 sm:w-1/3 w-full">
                    <span> Pelanggan: </span>
                    <h4>{{customer}}</h4>
                </div>
                <div class="vx-col md:w-1/3 sm:w-1/3 w-full">
                    <span> Tipe Transaksi: </span>
                    <h4>{{tipeTransaksi}}</h4>
                </div>
                <div v-if="penagihan" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                    <span>Tanggal Penagihan: </span>
                    <h4>{{(penagihan ? penagihan.due_date : '')}}</h4>
                </div>
            </div>
        </vx-card>

        <vx-card v-if="tipe === 'revisi'" title="Note" class="user-list-filters mb-8">
            <vs-row>
                <vs-col vs-w="6">
                    <h5>{{note}}</h5>
                </vs-col>
            </vs-row>
        </vx-card>

        <vx-card v-if="penagihan" collapseAction title="Penagihan" class="user-list-filters mb-8">
            <vs-row>                
                <vs-col vs-w="3">
                    Kepada                    
                </vs-col>
                 <vs-col vs-w="9">                   
                    <strong>{{(penagihan ? penagihan.receiver : '')}}</strong>          
                </vs-col>
            </vs-row>
            <vs-divider />
            <vs-row>
                <vs-col vs-w="3">              
                    Jalan
                </vs-col>
                 <vs-col vs-w="9">
                    <strong>{{(penagihan ? penagihan.address : '')}}</strong>
                </vs-col>
            </vs-row>
            <vs-divider />
            <vs-row>
                <vs-col vs-w="3">
                    Ekspedisi
                </vs-col>
                 <vs-col vs-w="9">                   
                    <strong>{{(penagihan ? penagihan.expedition : '')}}</strong>                  
                </vs-col>
            </vs-row>
        </vx-card>

        <div>
            <vx-card>
                <vs-table stripe :data="penjualans">

                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                        <h4>Detail Order</h4>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <vs-th sort-key="stok">Pack</vs-th>
                        <vs-th sort-key="price">Vol (Box)</vs-th>
                        <vs-th sort-key="stok">Vol. Order</vs-th>
                        <vs-th sort-key="price">Volume (Box)</vs-th>
                        <vs-th sort-key="tax">Price (IDR)</vs-th>
                        <vs-th sort-key="total">Total Amount (IDR)</vs-th>
                        <!-- <vs-th sort-key=""></vs-th> -->

                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>

                            <vs-td :data="data[indextr].product.name">
                                <strong>{{data[indextr].product.name}}</strong>
                            </vs-td>
                            <vs-td :data="data[indextr].product.pack">
                                <strong>{{data[indextr].product.pack_qty}}</strong> / {{data[indextr].product.pack}}
                            </vs-td>
                            <vs-td :data="data[indextr].product.unit_qty">
                                <!-- <strong>{{data[indextr].product.unit_qty}}</strong> / {{data[indextr].product.unit_sm}} -->
                                <div
                                    v-if="data[indextr].product.unit_qty * data[indextr].product.pack_qty >= 1000 && data[indextr].product.pack === 'ml' || data[indextr].product.pack === 'g'">
                                    <strong>{{(data[indextr].product.unit_qty * data[indextr].product.pack_qty) / 1000}}</strong>
                                    / <span v-if="data[indextr].product.pack === 'ml'">lt</span> <span
                                        v-if="data[indextr].product.pack === 'g'">kg</span>
                                </div>

                                <div v-else>
                                    <strong>{{data[indextr].product.unit_qty * data[indextr].product.pack_qty}}</strong>
                                    /
                                    {{data[indextr].product.pack}}
                                </div>
                            </vs-td>
                            <vs-td :data="data[indextr].total_sm_qty">
                                <div
                                    v-if="data[indextr].volume.order.qty >= 1000 && data[indextr].volume.order.unit === 'ml' || data[indextr].volume.order.unit === 'g'">
                                    <strong>{{data[indextr].volume.order.qty / 1000}}</strong> / <span
                                        v-if="data[indextr].volume.order.unit === 'ml'">lt</span> <span
                                        v-if="data[indextr].volume.order.unit === 'g'">Kg</span>
                                </div>

                                <div v-else><strong>{{data[indextr].volume.order.qty}}</strong> /
                                    {{data[indextr].volume.order.unit}}</div>
                            </vs-td>
                            <vs-td :data="data[indextr].qty_lg">
                                <div v-if="parseInt(data[indextr].volume.detail.qty_lg) > 0">
                                    <strong>{{data[indextr].volume.detail.qty_lg}}</strong> /
                                    {{data[indextr].volume.detail.unit_lg}}</div>
                                <div v-if="parseInt(data[indextr].volume.detail.qty_sm) > 0">
                                    <strong>{{data[indextr].volume.detail.qty_sm}}</strong> /
                                    {{data[indextr].volume.detail.unit_sm}}</div>
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                <strong>{{data[indextr].price_sm | currency}}</strong>
                            </vs-td>
                            <vs-td :data="data[indextr].dpp">
                                <strong>{{data[indextr].dpp | currency}}</strong>
                            </vs-td>

                        </vs-tr>

                    </template>
                </vs-table>

                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3" vs-w="12">
                        <h4>Subtotal: <b>Rp. {{ total | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right  mb-3" vs-w="12">
                        <h4>Discount: <b>Rp. {{ totalDiscount | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Tax: <b>Rp. {{ totalTax | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right  mb-3" vs-w="12">
                        <h4>Ongkos Kirim: <b>Rp. {{ ongkir | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right  mb-3" vs-w="12">
                        <h4>Biaya Lain: <b>Rp. {{ biayaLain | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ grandtotal | currency}}</b></h4>
                    </vs-col>
                </vs-row>

                <vs-divider />
                <vs-row>
                    <vs-col class="text-right" vs-w="12">
                        <vs-button class="mr-3" color="lightblue" style="width:100px; background-color:mediumslateblue;"
                            type="relief" @click.stop="back()">
                            Back</vs-button>
                        <vs-button v-if="faktur === 'approved'" class="float-right" color="primary" style="width:100px;"
                            type="border" v-on:click="printPenjualan">Faktur</vs-button>
                    </vs-col>
                </vs-row>
            </vx-card>
        </div>

    </div>
</template>



<script>
export default {
    data() {
        return {
            id: null,
            faktur: null,
            tipe: null,
            tipeTransaksi: null,
            tipePembayaran: null,
            dueDate: null,
            name: null,
            noOrder: null,
            date: null,
            customer: null,
            note: null,
            total: 0,
            totalDiscount: 0,
            totalTax: 0,
            ongkir: 0,
            biayaLain: 0,
            grandtotal: 0,
            mode: 'input',
            penjualans: [],
            penagihan: null,

        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData()
    },

    methods: {
        async loadData() {
            this.tipe = this.$route.params.tipe;
            var id = this.$route.params.idpenjualan;

            if (this.tipe === 'po') {

                var resPO = await this.$http.get(this.$baseURL + '/penjualan/po/' + id + '/read', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })

                this.total = (resPO.data.data.total + resPO.data.data.discount) - resPO.data.data.ongkir - resPO.data.data.biaya_lain - resPO.data.data.tax;
                this.totalDiscount = resPO.data.data.discount;
                this.totalTax = resPO.data.data.tax;
                this.ongkir = resPO.data.data.ongkir;
                this.biayaLain = resPO.data.data.biaya_lain;
                this.grandtotal = resPO.data.data.total;
                this.name = resPO.data.data.work_order;
                this.noOrder = resPO.data.data.order_id;
                this.date = resPO.data.data.created_at;
                this.customer = resPO.data.data.customer_id;
                this.note = resPO.data.data.notes;
                this.tipePembayaran = resPO.data.data.status;
                this.dueDate = resPO.data.data.due_date;

                this.penjualans = resPO.data.data.po_penjualan_details;


            } else {

                var resPenjualan = await this.$http.get(this.$baseURL + '/penjualan/penjualan/' + id + '/read', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })
                this.id = resPenjualan.data.data.penjualan_id;
                this.name = resPenjualan.data.data.code;
                this.total = (resPenjualan.data.data.total + resPenjualan.data.data.discount) - resPenjualan.data.data.ongkir - resPenjualan.data.data.biaya_lain - resPenjualan.data.data.tax;
                this.totalDiscount = resPenjualan.data.data.discount;
                this.totalTax = resPenjualan.data.data.tax;
                this.ongkir = resPenjualan.data.data.ongkir;
                this.biayaLain = resPenjualan.data.data.biaya_lain;
                this.grandtotal = resPenjualan.data.data.total;
                this.noOrder = resPenjualan.data.data.penjualan_id;
                this.date = resPenjualan.data.data.due_date;
                this.customer = resPenjualan.data.data.customer.name;
                this.note = resPenjualan.data.data.notes;
                this.penjualans = resPenjualan.data.data.penjualan_details;
                this.tipeTransaksi = resPenjualan.data.data.trans_type;
                this.tipePembayaran = resPenjualan.data.data.status;
                this.dueDate = resPenjualan.data.data.due_date;
                this.faktur = resPenjualan.data.data.faktur;
                this.penagihan = resPenjualan.data.data.penagihan[0];
            }
            this.$vs.loading.close();
        },
        printPenjualan() {
            var tipe = this.tipeTransaksi.replace(' ', '');

            this.$router.push('/pages/penjualan/faktur/print/' + this.id + '/' + tipe.toLowerCase());
        },
        back() {
            if (this.tipe === 'po') {
                this.$router.push('/pages/popenjualan').catch(() => {});
            } else {
                this.$router.push('/pages/penjualan/' + this.tipeTransaksi.replace(" ", "").toLowerCase()).catch(() => {});
            }
        },
    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>