<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa"> 

        <div id="data-list-list-view" class="data-list-container">

            <vx-card>
    
            <vs-table pagination :max-items="10" search @selected="viewData" :data="tukangs"  > 
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
 

                <!-- ADD NEW -->
                <div v-if="createe == true" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
                    <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                    <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                </div>
                </div>

            
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">no</vs-th>
                    <vs-th sort-key="periode">Periode</vs-th>
                    <vs-th sort-key="workorder">Work Order</vs-th>
                    <vs-th sort-key="description">Description</vs-th>
                    <vs-th sort-key="status">Status</vs-th>
                    <vs-th sort-key="approve">Approved</vs-th>
                    <vs-th sort-key="action">Action</vs-th>
                </template> 
                <template slot-scope="{data}" > 
                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data"> 
                        <vs-td :data="indextr + 1">
                            {{indextr + 1}}
                        </vs-td> 
                        <vs-td :data="data[indextr].periode">
                            {{data[indextr].periode}}
                        </vs-td>
                        <vs-td :data="data[indextr].work_order">
                            {{data[indextr].work_order}}
                        </vs-td> 
                        <vs-td :data="data[indextr].description">
                            {{data[indextr].description}}
                        </vs-td>
                        <vs-td :data="data[indextr].status">
                            <vs-chip v-if="data[indextr].status === 'paid'" color="success">
                                {{data[indextr].status | capitalize}}
                                
                            </vs-chip>
                            <vs-chip v-else color="warning">
                                {{data[indextr].status | capitalize}}
                                
                            </vs-chip>
                            <!-- {{data[indextr].status}} -->
                        </vs-td> 
                        <vs-td :data="data[indextr].approved">
                            <vs-chip v-if="data[indextr].approved !== null" color="success">
                                <!-- {{data[indextr].approved | capitalize}} -->
                                Approved by {{data[indextr].approved != null ? data[indextr].approved.username : ""}}
                            </vs-chip>
                            <vs-chip v-else color="danger">
                                <!-- {{data[indextr].approve | capitalize}} -->
                                Not-Approved
                                
                            </vs-chip>
                            <!-- {{data[indextr].approve}} -->
                        </vs-td> 
                        <vs-td >                            
                            <vs-col vs-w="4" v-if="updatee == true">
                                <feather-icon  v-if="data[indextr].approved == null" v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="editData(tr)" />
                            </vs-col>
                            <vs-col vs-w="4" v-if="confirmm == true">
                                <feather-icon v-if="data[indextr].approved == null" v-tooltip="'Review'" icon="CheckCircleIcon" svgClasses="w-5 h-5 hover:text-success stroke-current"
                                    class="ml-2" @click.stop="approveData(tr)" />
                            </vs-col>
                            <vs-col vs-w="4" v-if="deletee == true">
                                <feather-icon v-if="data[indextr].approved == null" v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" />
                            </vs-col>
                        </vs-td>
                    </vs-tr> 
                </template> 
            </vs-table>   

        <vs-popup title="View Data" :active.sync="viewPopUp">
            <div class="vx-row" style="padding-bottom:5px;">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                   <span>Username :</span>  
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                   <span> Username </span>
                </div>
            </div>
             
        </vs-popup>

        </vx-card>
        </div> 
    </div> 
    <!-- FORM --> 
</template>



<script>
 

export default{
    components: { 

    },
    data() {
        
        return {
            viewPopUp:false,
            createe:null,
            confirmm:null,
            updatee:null,
            deletee:null,
            access:null,
            form:{
                username:null,
                type:null,
                email:null,
                status:null,
            },
            delete:null,
            tukangs: [],
        }
    },
    computed:{
        validName(){
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
            }, 
    },
    mounted() {
        this.$vs.loading({
                type: 'radius'
            }); 
        this.loadData()
    },
    methods:{
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"
            var resTukangs = await this.$http.get(this.$baseURL + '/project/absentukang?filter=company_id|'+com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message)  
            })

            this.tukangs = resTukangs.data.data;    
            this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.confirmm = this.access[acc].confirmm;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }

            this.$vs.loading.close(); 
        },
        viewData(data) { 
            // this.viewPopUp = true;
            this.$router.push('/pages/viewabsentukang/'+data.upah_tkg_id).catch(() => {}) 
        },  
        addNewData() {
            this.$router.push('/pages/formabsentukang/0/new').catch(() => {}) 
        },
        
        editData(data)  {
            this.$router.push('/pages/formabsentukang/'+data.upah_tkg_id+'/edit').catch(() => {}) 
        },

        approveData(data)  {
            this.$router.push('/pages/formabsentukang/'+data.upah_tkg_id+'/approve').catch(() => {}) 
        },

        getSuplierData(id){
            //take API suplier data

        },  
        deleteData(data) {
            this.delete = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Anda yakin akan menghapus data ini?',
                accept: this.acceptDelete
            })
        },
        acceptDelete() {
            this.$vs.loading({ type: 'radius' });  
            this.$http.delete(this.$baseURL + '/project/absentukang/' + this.delete.upah_tkg_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.promptAlert("success","Sukses Dihapus",""); 
                this.loadData();
            }).catch(err => {
                this.$vs.loading.close();
                this.promptAlert("danger",err.response.data.message,"");
                console.log(err);
            });
        },
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            if(this.modalTitle == "Add"){
                console.log("data add");

                this.promptAlert("success","User Added","The User was successfully Added")
            }else{
                console.log("data edited");

                this.promptAlert("success","User Edited","The User was successfully Edited") 
            } 
        },
 
        resetPrompt() { 

        }


    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            // max-height: 95vh;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                }
 
            }
        }
 
    } 
</style>

