<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa"> 

        <div id="data-list-list-view" class="data-list-container">

            <vx-card>
    
            <vs-table pagination :max-items="10" search @selected="viewData" :data="borongan"  > 
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
 

                <!-- ADD NEW -->
                <div v-if="createe == true" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
                    <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                    <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                </div>
                </div>

            
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">no</vs-th>
                    <vs-th sort-key="spk">SPK</vs-th>
                    <vs-th sort-key="cost_project">Limit Cost Project</vs-th>
                    <vs-th sort-key="vendor">Vendor</vs-th>
                    <vs-th sort-key="description">Description</vs-th>
                    <vs-th sort-key="nominal">Total</vs-th>
                    <vs-th sort-key="status">Status</vs-th>
                    <vs-th sort-key="action">Action</vs-th>
                </template> 
                <template slot-scope="{data}" > 
                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data"> 
                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td> 
                        <vs-td :data="data[indextr].order">
                            {{data[indextr].order != null ? data[indextr].order.code_spk : ""}}
                        </vs-td>
                        <vs-td :data="data[indextr].order">
                            Rp.{{data[indextr].order != null ? data[indextr].order.limit_cost : "" | currency}}
                        </vs-td>
                        <vs-td :data="data[indextr].vendor.name">
                            {{data[indextr].vendor != null ? data[indextr].vendor.name : ""}}
                        </vs-td> 
                        <vs-td :data="data[indextr].description">
                            {{data[indextr].description}}
                        </vs-td>
                        <vs-td :data="data[indextr].nominal">
                            Rp.{{data[indextr].nominal | currency}}
                        </vs-td>
                        <vs-td :data="data[indextr].status">
                            <vs-chip v-if="data[indextr].status == 'complete'" color="success">
                                {{data[indextr].status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else-if="data[indextr].status == 'open'" color="warning">
                                {{data[indextr].status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else-if="data[indextr].status == 'progress'" color="#00a8cc">
                                {{data[indextr].status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else-if="data[indextr].status == 'pending'" color="#f64b3c">
                                {{data[indextr].status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else color="danger">
                                {{data[indextr].status | capitalize}}
                            </vs-chip>
                        </vs-td>  
                        <vs-td >
                            <span v-if="updatee == true">
                                <feather-icon  v-if="data[indextr].status == 'open' || data[indextr].status == 'rejected'" v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editData(tr)" />
                            </span>
                            <feather-icon v-if="data[indextr].status == 'pending' && confirmm ==true" v-tooltip="'Confirm'" icon="CheckIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2" @click.stop="confirmData(tr)" /> 
                            <feather-icon v-if="data[indextr].status == 'pending' && confirmm ==true" v-tooltip="'Reject'" icon="XIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="rejectData(tr)" /> 
                            <span v-if="deletee == true">
                            <feather-icon v-if="data[indextr].status == 'open' || data[indextr].status == 'rejected'" v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(tr)" /> 
                            </span>
                        </vs-td>
                    </vs-tr> 
                </template> 
            </vs-table>   

      

        </vx-card>
        </div> 
    </div> 
    <!-- FORM --> 
</template>



<script>
 

export default{
    components: { 

    },
    data() {
        
        return {
            createe:null,
            confirmm:null,
            updatee:null,
            deletee:null,
            access:null,
            form:{
                borongan_id:null, 
            }, 
            borongan: []
        }
    },
    computed:{
         validName(){
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
            }, 
    },
    created(){
        this.$vs.loading({ type: 'radius' });      
        this.loadData();
    },
    methods:{
        async loadData(){
            var com_id = this.$company != null ? this.$company.company_id : "1"
            await this.$http.get(this.$baseURL + '/project/borongan?filter=company_id|'+com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.borongan = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
            });

             this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.confirmm = this.access[acc].confirmm;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }
        },
        viewData(data) { 
            this.$router.push('/pages/viewborongan/'+data.borongan_id).catch(() => {}) 
        },  
        addNewData() {
           this.$router.push('/pages/formborongan').catch(() => {}) 
        },
        
        editData(data)  {
            this.$router.push('/pages/formborongan/'+data.borongan_id).catch(() => {}) 
        },

        confirmData(tr){
            this.$vs.loading({ type: 'radius' });       
            this.$http.put(this.$baseURL+ '/project/borongan/'+tr.borongan_id+'/confirm',
                {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.loadData();
                    this.$vs.loading.close(); 
                    this.promptAlert("success","Data Confirmed ","")

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Confirm Failed"){
                    this.promptAlert("danger","Confirm Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again")

                    }
                });
        },  
        rejectData(tr){
            this.$vs.loading({ type: 'radius' });       
            this.$http.put(this.$baseURL+ '/project/borongan/'+tr.borongan_id+'/reject',
                {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.loadData();
                    this.$vs.loading.close(); 
                    this.promptAlert("success","Data Rejected ","")

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Reject Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again")

                    }
                });
        },
        deleteData(dt) {
            this.form.borongan_id = dt.borongan_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this User Data ?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$vs.loading({ type: 'radius' });       
            this.$http.delete(this.$baseURL+ '/project/borongan/'+this.form.borongan_id+'/delete',
                {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.loadData();
                    this.$vs.loading.close(); 
                    this.promptAlert("success","Success Delete Borongan","")

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again")

                    }
                });
        },
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        }, 

    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            // max-height: 95vh;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                }
 
            }
        }
 
    } 
</style>

