<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa"> 
        <div id="data-list-list-view" class="data-list-container">

            <vx-card > 
                <vs-tabs alignment="fixed">
                    <vs-tab label="List Estimasi">
                            <vs-table pagination :max-items="10" search  :data="spks"> 
                                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"> 
                                    <div class="flex flex-wrap-reverse items-center data-list-btn-container">   
                                    </div> 
                                </div>

                               <template slot="thead">
                                    <vs-th sort-key="no">No</vs-th>
                                    <vs-th sort-key="code_spk">SPK Code</vs-th>
                                    <vs-th sort-key="entry_at">Tanggal</vs-th>
                                    <vs-th sort-key="work_order">Work Order</vs-th>
                                    <vs-th sort-key="limit_cost">Limit Cost</vs-th>
                                    <vs-th sort-key="amount_estimasi">Estimasi</vs-th> 
                                    <vs-th sort-key="action">Action</vs-th> 
                                </template> 

                                <template slot-scope="{data}" >  
                                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;"> 
                                        <vs-td :data="indextr">
                                            {{indextr + 1}}
                                        </vs-td> 

                                        <vs-td :data="data[indextr].code_spk">
                                            {{data[indextr].code_spk}}
                                        </vs-td> 

                                        <vs-td :data="data[indextr].entry_at">
                                            {{data[indextr].entry_at | moment('DD-MM-YYYY')}}
                                        </vs-td> 
                                    
                                        <vs-td :data="data[indextr].work_order">
                                            {{data[indextr].work_order}}
                                        </vs-td>
                                        <vs-td :data="data[indextr].limit_cost">
                                            Rp.{{data[indextr].limit_cost | currency}}
                                        </vs-td>
                                        <vs-td :data="data[indextr].amount_estimasi">
                                            Rp.{{data[indextr].amount_estimasi | currency}}
                                        </vs-td>  
                                        <vs-td  > 
                                            <feather-icon v-if="createe == true"  v-tooltip="'Create Estimasi'" icon="FilePlusIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="addEstimasiData(tr)" /> 
                                            <feather-icon v-if="data[indextr].amount_estimasi != 0" v-tooltip="'View Total Estimasi'" icon="EyeIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2" @click.stop="viewDetail(tr)" /> 
                                        </vs-td> 
                                        
                                    </vs-tr> 
                                </template> 
                            </vs-table> 
                    </vs-tab>

                    <vs-tab v-if="confirmm == true" label="Estimasi Not Confirmed">
                        <div>
                            <vs-table pagination :max-items="10" search :data="spks2"> 
                                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"> 
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                    
                                </div> 
                                </div>

                                <template slot="thead">
                                    <vs-th sort-key="no">No</vs-th>
                                    <vs-th sort-key="code_spk">SPK Code</vs-th>
                                    <vs-th sort-key="entry_at">Tanggal</vs-th>
                                    <vs-th sort-key="work_order">Work Order</vs-th>
                                    <vs-th sort-key="limit_cost">Limit Cost</vs-th>
                                    <vs-th sort-key="amount_estimasi">Estimasi</vs-th> 
                                    <vs-th sort-key="action">Action</vs-th> 
                                </template> 

                                <template slot-scope="{data}" >  
                                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;"> 
                                        <vs-td :data="indextr">
                                            {{indextr + 1}}
                                        </vs-td> 

                                        <vs-td :data="data[indextr].order.code_spk">
                                            {{data[indextr].order.code_spk}}
                                        </vs-td> 

                                        <vs-td :data="data[indextr].entry_at">
                                            {{data[indextr].entry_at | moment('DD-MM-YYYY')}}
                                        </vs-td> 
                                    
                                        <vs-td :data="data[indextr].order.work_order">
                                            {{data[indextr].order.work_order}}
                                        </vs-td>
                                        <vs-td :data="data[indextr].order.limit_cost">
                                            Rp.{{data[indextr].order.limit_cost | currency}}
                                        </vs-td>
                                        <vs-td :data="data[indextr].total">
                                            Rp.{{data[indextr].total | currency}}
                                        </vs-td>  
                                        <vs-td  > 
                                            <feather-icon v-tooltip="'Confirm'" icon="CheckIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="confirmData(tr)" /> 
                                            <feather-icon v-tooltip="'Reject'" icon="XIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" @click.stop="rejectData(tr)" /> 
                                        </vs-td> 
                                        
                                    </vs-tr> 
                                </template> 
                            </vs-table>
                        </div>
                    </vs-tab> 
                </vs-tabs>
            </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
  
export default{
    components: {  

    },
    data() { 
        return { 
            user:true,  
            readd:null,
            createe:null,
            confirmm:null,
            updatee:null,
            deletee:null,
            access:null,
            spks: [],
            spks2: [],
          
        }
    },
   
     created(){ 
    this.$vs.loading({ type: 'radius' });         
    this.loadData();
      
     },
    methods:{
        async loadData(){   
            var com_id = this.$company != null ? this.$company.company_id : "1"
           await this.$http.get(this.$baseURL + '/project/orders?filter=company_id|'+com_id+',status|progress', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.spks = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            });

             await this.$http.get(this.$baseURL + '/project/estimasi?filter=company_id|'+this.$company.company_id+',approved|pending', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.spks2 = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            });

             this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.readd = this.access[acc].readd;
                         this.createe = this.access[acc].createe;
                         this.confirmm = this.access[acc].confirmm;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }
            
         }, 
        viewDetail(tr){
            this.$router.push('/pages/viewtotalestimasi/'+tr.order_id).catch(() => {})  
        },
        addNewData() {
            this.$router.push('/pages/formpo').catch(() => {})  
        },
        addEstimasiData(tr) {
            this.$router.push('/pages/formestimasi/'+tr.order_id).catch(() => {})  
        },
        confirmData(tr){
              this.$http.put(this.$baseURL + '/project/estimasi/'+tr.estimasi_id+'/confirm', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.loadData();
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            });
        },
        rejectData(tr){
              this.$http.put(this.$baseURL + '/project/estimasi/'+tr.estimasi_id+'/reject', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.loadData();
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            });
        },
        deleteData(coa) {
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to Cancel this Data ?',
                accept: this.acceptAlert
            })
        },
        viewData(tr){
             this.$router.push('/pages/viewestimasi/'+tr.order_id).catch(() => {})  
        },
        acceptAlert() {
            this.promptAlert("danger","Cancel","The selected data was cancelled")
        },
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        resetColFilters(){
            this.form.dateStart =  null
            this.form.dateFinish= null
            this.form.user= null
            this.form.customer= null
            // this.$refs.filterCard.removeRefreshAnimation()
        },
        

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>