<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">

        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-tabs alignment="fixed">
                    <vs-tab label="List Kasbon">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="kasbons">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                    <div v-if="createe == true" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                        @click="addNewData">
                                        <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                        <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                                    </div>
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="nofaktur">Kode SPK</vs-th>
                                <vs-th sort-key="date">Tanggal</vs-th>
                                <vs-th sort-key="date">Nominal</vs-th>
                                <!-- <vs-th sort-key="sales">Total (Rp)</vs-th> -->
                                <vs-th sort-key="date">Status</vs-th>
                                <vs-th sort-key="action">Action</vs-th>

                            </template>

                            <template slot-scope="{data}" style="font-size:12px;">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code_spk">
                                        {{data[indextr].code_spk}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].entry_at">
                                        {{data[indextr].entry_at}}
                                        <!-- {{$moment(data[indextr].entry_at,'DD/MM/YYYY').add(16, "days").format('DD/MM/YYYY')}} -->
                                    </vs-td>
                                    <vs-td :data="data[indextr].nominal">
                                        {{data[indextr].nominal | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">
                                        <vs-chip
                                            v-if="data[indextr].status === 'close' && data[indextr].approved !== undefined"
                                            color="success">
                                            <!-- {{data[indextr].status | capitalize}} -->
                                            Approved
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td>
                                        <vs-col
                                            v-if="data[indextr].status !== 'close' && data[indextr].approved !== undefined"
                                            class="px-2" vs-w="4">
                                            <feather-icon icon="EditIcon"
                                                v-if="updatee == true"
                                                svgClasses="w-5 h-5 hover:text-warning stroke-current"
                                                @click.stop="editData(tr)" />
                                        </vs-col>

                                        <vs-col v-if="confirmm == true && data[indextr].status === 'pending'" class="px-2" vs-w="4">
                                            <feather-icon icon="CheckCircleIcon"
                                                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                                @click.stop="approveData(tr)" />
                                        </vs-col>
                                        <vs-col v-if="data[indextr].status !== 'close' && data[indextr].approved !== undefined" class="px-2" vs-w="4">
                                            <feather-icon icon="TrashIcon"
                                                v-if="deletee == true"
                                                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                                @click.stop="deleteData(tr)" />
                                        </vs-col>                                     
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>


                    </vs-tab>
                    <vs-tab label="List Kasbon Reject">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="kasbonsReject">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                    <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                        <div
                                            class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                            <span class="mr-2">Actions</span>
                                            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                        </div>

                                        <vs-dropdown-menu>
                                            <vs-dropdown-item>
                                                <span class="flex items-center">
                                                    <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4"
                                                        class="mr-2" />
                                                    <span>Export Excel</span>
                                                </span>
                                            </vs-dropdown-item>
                                            <vs-dropdown-item>
                                                <span class="flex items-center">
                                                    <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4"
                                                        class="mr-2" />
                                                    <span>Export E-Faktur</span>
                                                </span>
                                            </vs-dropdown-item>
                                        </vs-dropdown-menu>
                                    </vs-dropdown>
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="nofaktur">Kode SPK</vs-th>
                                <vs-th sort-key="date">Tanggal</vs-th>
                                <vs-th sort-key="date">Nominal</vs-th>
                                <vs-th sort-key="date">Status</vs-th>
                                <vs-th sort-key="action">Action</vs-th>

                            </template>

                            <template slot-scope="{data}" style="font-size:12px;">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code_spk">
                                        {{data[indextr].code_spk}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].entry_at">
                                        {{data[indextr].entry_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].nominal">
                                        {{data[indextr].nominal | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">
                                        <vs-chip
                                            v-if="data[indextr].status === 'close' && data[indextr].approved !== undefined"
                                            color="success">
                                            <!-- {{data[indextr].status | capitalize}} -->
                                            Approved
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td>
                                        <vs-col
                                            v-if="data[indextr].status !== 'close' && data[indextr].approved !== undefined"
                                            class="px-2" vs-w="4">
                                            <feather-icon icon="EditIcon"
                                                svgClasses="w-5 h-5 hover:text-warning stroke-current"
                                                @click.stop="editData(tr)" />
                                        </vs-col>

                                        <vs-col v-if="data[indextr].status === 'pending'" class="px-2" vs-w="4">
                                            <feather-icon icon="CheckCircleIcon"
                                                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                                @click.stop="approveData(tr)" />
                                        </vs-col>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                    <vs-tab label="List Kasbon Realisasi">
                        <vs-table pagination :max-items="10" search @selected="viewDataReal" :data="kasbonsRealisasi">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                    <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                        <div
                                            class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                            <span class="mr-2">Actions</span>
                                            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                        </div>

                                        <vs-dropdown-menu>
                                            <vs-dropdown-item>
                                                <span class="flex items-center">
                                                    <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4"
                                                        class="mr-2" />
                                                    <span>Export Excel</span>
                                                </span>
                                            </vs-dropdown-item>
                                            <vs-dropdown-item>
                                                <span class="flex items-center">
                                                    <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4"
                                                        class="mr-2" />
                                                    <span>Export E-Faktur</span>
                                                </span>
                                            </vs-dropdown-item>
                                        </vs-dropdown-menu>
                                    </vs-dropdown>
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="nofaktur">Kode SPK</vs-th>
                                <vs-th sort-key="date">Tanggal</vs-th>
                                <vs-th sort-key="date">Nominal</vs-th>
                                <vs-th sort-key="date">Status</vs-th>
                                <vs-th sort-key="action">Action</vs-th>

                            </template>

                            <template slot-scope="{data}" style="font-size:12px;">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code_spk">
                                        {{data[indextr].code_spk}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].entry_at">
                                        {{data[indextr].entry_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].nominal">
                                        {{data[indextr].nominal | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">
                                        <vs-chip
                                            v-if="data[indextr].status === 'close' && data[indextr].approved !== undefined"
                                            color="success">
                                            <!-- {{data[indextr].status | capitalize}} -->
                                            Approved
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td>
                                        <vs-col
                                            v-if="data[indextr].paided === 'yes'"
                                            class="px-2" vs-w="4">
                                            <feather-icon icon="ShareIcon"
                                                svgClasses="w-5 h-5 hover:text-warning stroke-current"
                                                @click.stop="realisasiData(tr)" />
                                        </vs-col>   
                                        <vs-col
                                            v-if="data[indextr].approved !== undefined && data[indextr].paided === 'no'"
                                            class="px-2" vs-w="4">
                                            <feather-icon icon="ShoppingBagIcon"
                                                svgClasses="w-5 h-5 hover:text-warning stroke-current"
                                                @click.stop="payKasbon(tr)" />
                                        </vs-col>                                       
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                </vs-tabs>
            </vx-card>
        </div>
        

        <!-- POP-UP Pay -->
                <vs-prompt v-if="activePay" @cancel="close" @accept="acceptPay" @close="close"
                    accept-text="Submit" :active.sync="activePay" title="Pay">
                    <div class="con-exemple-prompt">
                        <vs-row>
                            <vs-col vs-w="12" class="px-3 py-2">
                                <label class="vs-input--label" for="">Tanggal</label>
                                <datepicker placeholder="Select Date" v-model="pay.date"></datepicker>
                            </vs-col>
                            <vs-col vs-w="12" class="px-3 py-2">
                                <label class="vs-input--label" for="">Pembayaran Ke</label>
                                <v-select v-model="pay.coa" :clearable="false" :reduce="coaOptions => coaOptions.code" label="name"
                                    :options="coaOptions" name="ke">
                                    <template #option="{code, name}">
                                        <cite>{{ code }}</cite> - {{ name }}
                                    </template>
                                </v-select>
                            </vs-col>
                            <vs-col vs-w="6" class="px-3 py-2">
                                <div class="vs-input w-full">
                                    <label class="vs-input--label" for="">Nominal (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input disabled v-model="pay.nominal" :currency="{prefix}"
                                            :precision="{min,max}" locale="de"
                                            class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </div>
                            </vs-col>
                            <vs-col vs-w="6" class="px-3 py-2">
                                <div class="vs-input w-full">
                                    <label class="vs-input--label" for="">Harga (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input v-model="pay.amount" :currency="{prefix}"
                                            :precision="{min,max}" locale="de"
                                            class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </div>
                            </vs-col>
                        </vs-row>
                    </div>
                </vs-prompt>
    </div>
</template>



<script>
    import vSelect from 'vue-select'
    import Datepicker from 'vuejs-datepicker';


    export default {
        components: {
            vSelect,
            Datepicker
        },
        data() {

            return {
                activePay:false,
                createe:null,
                confirmm:null,
                updatee:null,
                deletee:null,
                access:null,
                format_ID: "DD/MM/YYYY",
                max: 0,
                min: 0,
                prefix: "Rp ",
                pay:{
                    kasbon_id:null,
                    nominal:0,
                    date: new Date(),
                    coa : null,
                    amount:0,
                },
                delete: null,                            
                unreject: null,
                coaOptions:[],
                kasbons: [],
                kasbonsReject: [],                
                kasbonsRealisasi:[],
            }
        },
        mounted() {
            this.$vs.loading({
                type: 'radius'
            });  
            this.loadData();
        },
        methods: {
            async loadData() {
                var com_id = this.$company != null ? this.$company.company_id : "1"
                var resKasbon = await this.$http.get(this.$baseURL + '/project/kasbon?filter=status|reject|!=;status|void|!=;status|close|!=;company_id|'+com_id,
                {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    
                })


                var resKasbonReject = await this.$http.get(this.$baseURL + '/project/kasbon', 
                    {
                    params: {
                        filter: 'status|reject,status|void'
                    }
                
                }, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    
                })

                var resKasbonRealisasi = await this.$http.get(this.$baseURL + '/project/kasbon', 
                    {
                    params: {
                        filter: 'status|close'
                    }
                
                }, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    
                })

                var resKe = await this.$http.get(this.$baseURL + '/accounting/coa?filter=level|3;fromcode|1.03|<;company_id|'+com_id, {
                     
                }, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message)
                })

                this.coaOptions = resKe.data.data; 
                this.kasbons = resKasbon.data.data;
                this.kasbonsReject = resKasbonReject.data.data;
                this.kasbonsRealisasi = resKasbonRealisasi.data.data;
                this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.confirmm = this.access[acc].confirmm;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }

                setTimeout( this.$vs.loading.close(), 2000);
            },           
            viewData(tr) {
                this.$router.push('/pages/viewkasbon/' + tr.kasbon_id).catch(() => {})
            }, 
            viewDataReal(tr) {
                this.$router.push('/pages/viewrealisasikasbon/' + tr.kasbon_id).catch(() => {})
            },           
            addNewData() {
                this.$router.push('/pages/formkasbon/0/new');
            },
            resetColFilters() {
                this.form.dateStart = null
                this.form.dateFinish = null
                this.form.user = null
                this.form.customer = null
                this.$refs.filterCard.removeRefreshAnimation()
            },
            deleteData(data) {
                this.delete = data;
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Yakin akan menghapus Kasbon ?',
                    accept: this.acceptDelete
                })
            },
            acceptDelete() {

                this.$vs.loading({
                    type: 'radius'
                });
                const formData = new FormData();
                formData.append('execute', 'void');
                formData.append('notes', 'Delete');

                this.$http.delete(this.$baseURL + '/project/kasbon/' + this.delete.kasbon_id + '/delete', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.$vs.notify({
                        color: 'success',
                        title: 'Post Deleted',
                        text: 'Kasbon berhasil dihapus'
                    })
                    this.loadData();
                    // this.promptAlert("danger", "Vendor Deleted", "The Vendor was successfully Deleted")
                }).catch(err => {
                    this.$vs.loading.close();
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                }).finally(                    
                    this.loadData()
                );
            },

            editData(data) {
                this.$router.push('/pages/formkasbon/' + data.kasbon_id + '/edit');
            },
            
            approveData(data) {
                // this.$router.push('/pages/formreviewpenjualan/' + data.penjualan_id);
                this.$router.push('/pages/formkasbon/' + data.kasbon_id + '/approve');
            },

            unReject(data) {
                this.unreject = data;

                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Yakin menolak data ini?',
                    accept: this.acceptUnreject
                })

            },
            acceptUnreject() {
                this.$vs.loading({
                    type: 'radius'
                });

                const formData = new FormData();
                formData.append('execute', 'rejected');
                formData.append('rejected', 0);
                formData.append('notes', 'unreject');

                this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.unreject.penjualan_id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.$router.push('/pages/penjualan');
                }).catch(err => {
                    this.$vs.loading.close();
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })
            },

            realisasiData(data){
                this.$router.push('/pages/formrealisasikasbon/' + data.kasbon_id + '/new');
            },

            payKasbon(data){
                // this.pay = data;
                this.pay.kasbon_id = data.kasbon_id;
                this.pay.nominal = data.nominal;
                this.activePay = true;
            },

            acceptPay() {
                if (this.pay.date === null) {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tanggal belum dipilih',
                    })
                } else if (this.pay.coa === null) {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tujuan Pembayaran belum dipilih',
                    })

                } else if (this.pay.amount < 1) {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Jumlah Pembayaran masih kosong',
                    })
                } else {

                    this.$vs.loading({
                        type: 'radius'
                    });

                    const formData = new FormData();
                    formData.append('kasbon_id', this.pay.kasbon_id);
                    if (this.pay.date === null) {
                        formData.append('date', this.$moment().format(this.format_ID));
                    } else {
                        formData.append('date', this.$moment(this.pay.date).format(this.format_ID));
                    }
                    formData.append('coa_code', this.pay.coa);
                    formData.append('amount', this.pay.amount);

                    this.$http.post(this.$baseURL + '/project/kasbon/payment', formData, {
                        headers: {
                            Authorization: 'Bearer ' + this.$token,
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }).then(res => {
                        this.$vs.notify({
                            color: 'success',
                            title: 'Kasbon Pay',
                            text: 'Kasbon berhasil dibayarkan'
                        });
                        this.loadData();
                    }).catch(err => {
                        this.$vs.loading.close();
                        this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        });
                        console.log(err);
                        this.$options.filters.auth(err.response.data.message)
                    })
                }
            },

            close(){
                this.activePay = false;
            },

        }

    }
</script>

<style lang="scss">
    #page-user-list {
        .user-list-filters {
            .vs__actions {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-58%);
            }
        }
    }
</style>