<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa"> 

        <div id="data-list-list-view" class="data-list-container">

            <vx-card>
    
            <vs-table pagination :max-items="10" search :data="tukangs"  > 
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
 

                <!-- ADD NEW -->
                <div v-if="createe == true" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
                    <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                    <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                </div>
                </div>

            
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">no</vs-th>
                    <vs-th sort-key="date_borrow">Date</vs-th>
                    <vs-th sort-key="name">Name</vs-th>
                    <vs-th sort-key="description">Description</vs-th>
                    <vs-th sort-key="aset_id">Aset Code</vs-th>
                    <vs-th>Status</vs-th>
                    <vs-th >Action</vs-th>
                </template> 
                <template slot-scope="{data}" > 
                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data"> 
                        <vs-td :data="indextr + 1">
                            {{indextr + 1}}
                        </vs-td> 
                        <vs-td :data="data[indextr].date_borrow">
                            {{data[indextr].date_borrow | moment('DD-MM-YYYY')}}
                        </vs-td>
                        <vs-td :data="data[indextr].name">
                            {{data[indextr].name}}
                        </vs-td>
                        <vs-td :data="data[indextr].description">
                            {{data[indextr].description}}
                        </vs-td> 
                        <vs-td :data="data[indextr].aset_id">
                            {{data[indextr].aset != null ? data[indextr].aset.code : ""}}- {{data[indextr].aset != null ? data[indextr].aset.name : ""}}
                        </vs-td>
                        <vs-td :data="data[indextr].date_return">
                            <vs-chip v-if="data[indextr].date_return == null" color="danger">
                                Not Return 
                            </vs-chip>
                            <vs-chip v-else color="success">
                                Returned
                            </vs-chip>
                        </vs-td>  
                        <vs-td >                            
                            <vs-col vs-w="4" v-if="updatee == true">
                                <feather-icon  v-if="data[indextr].date_return == null" v-tooltip="'Return'" icon="CornerUpLeftIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="returnItem(tr)" />
                            </vs-col>  
                        </vs-td>
                    </vs-tr> 
                </template> 
            </vs-table>   
        <!-- FORM -->
        <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
            accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
            <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                <form @submit.prevent v-show="'Add'" >
                    <vs-row class="mb-4">
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7);  margin-left:5px; ">Tanggal Pinjam</span>
                            <datepicker required placeholder="Pilih Tanggal" label="Birthday"
                                v-model="form.date" :format="format" style="  width:100%;"
                                :minimumView="'day'" :maximumView="'month'">
                            </datepicker>
                    </vs-row>
                    <vs-row class="mb-4"> 
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">Alat</span><br>
                            <v-select class="w-full" :clearable="true" v-model="form.alat" :getOptionLabel="option => option.name" :options="listAset"  name="To COA">
                                <template #option="{code, name}">
                                                <cite>{{ code }}</cite> - {{ name }} 
                                </template>
                            </v-select>
                    </vs-row>
                    <vs-row class="mb-4">
                            <vs-input v-model="form.nama" label="Nama" class="w-full" />
                    </vs-row> 
                    <vs-row class="mb-4"> 
                            <vs-input v-model="form.posisi" label="Posisi" class="w-full" /> 
                    </vs-row> 
                    <vs-row class="mb-4"> 
                            <vs-input v-model="form.keterangan" label="Keterangan" class="w-full" /> 
                    </vs-row>
                </form>
            </VuePerfectScrollbar>
        </vs-prompt>

        <vs-popup title="View Data" :active.sync="viewPopUp">
            <div class="vx-row" style="padding-bottom:5px;">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                   <span>Username :</span>  
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                   <span> Username </span>
                </div>
            </div> 
        </vs-popup>

        </vx-card>
        </div> 
    </div> 
    <!-- FORM --> 
</template>



<script>
import Datepicker from 'vuejs-datepicker'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import vSelect from 'vue-select'
 

export default{
    components: { 
        VuePerfectScrollbar,
        vSelect,
        Datepicker

    },
    data() {
        
        return {
            format: "d MMMM yyyy",
            viewPopUp:false,
            modalPromptActive: false,
            modalTitle: null,
            createe:null,
            confirmm:null,
            updatee:null,
            deletee:null,
            access:null,
            form:{
                id:null,
                alat:null,
                date:null,
                nama:null,
                posisi:null,
                keterangan:null,
            },
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            delete:null,
            tukangs: [],
            listAset:[],
        }
    },
    computed:{
        validName(){
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
            }, 
    },
    mounted() {
        this.$vs.loading({
                type: 'radius'
            }); 
        this.form.date = new Date();
        this.loadData()
    },
    methods:{
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"
            var resTukangs = await this.$http.get(this.$baseURL + '/project/manageasets?filter=company_id|'+com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message)  
            })

            var list = await this.$http.get(this.$baseURL + '/project/manageasets/listavailable', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message)  
            })

            this.listAset = list.data.data;
            this.tukangs = resTukangs.data.data;    
            this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }

            this.$vs.loading.close(); 
        },
        viewData(data) { 
            // this.viewPopUp = true;
            this.$router.push('/pages/viewabsentukang/'+data.upah_tkg_id).catch(() => {}) 
        },  
        addNewData() {
            this.modalTitle="Add";
            this.modalPromptActive = true;
        },
        
        editData(data)  {
            this.$router.push('/pages/formabsentukang/'+data.upah_tkg_id+'/edit').catch(() => {}) 
        },

        approveData(data)  {
            this.$router.push('/pages/formabsentukang/'+data.upah_tkg_id+'/approve').catch(() => {}) 
        },

        getSuplierData(id){
            //take API suplier data

        },  
        deleteData(data) {
            this.delete = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Anda yakin akan menghapus data ini?',
                accept: this.acceptDelete
            })
        },
        returnItem(data) { 

            this.$vs.loading({ type: 'radius' });  
            this.$http.put(this.$baseURL + '/project/manageasets/' + data.manage_aset_id + '/returnitem', 
            this.$qs.stringify({ 
                    date_return: this.form.date, 
                }), {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.promptAlert("success","Sukses Dikembalikan",""); 
                this.loadData();
            }).catch(err => {
                this.$vs.loading.close();
                this.promptAlert("danger",err.response.data.message,"");
                console.log(err);
            });
        },
        acceptDelete() {
            this.$vs.loading({ type: 'radius' });  
            this.$http.delete(this.$baseURL + '/project/absentukang/' + this.delete.upah_tkg_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.promptAlert("success","Sukses Dihapus",""); 
                this.loadData();
            }).catch(err => {
                this.$vs.loading.close();
                this.promptAlert("danger",err.response.data.message,"");
                console.log(err);
            });
        },
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            const formData = new FormData();
            formData.append('aset_id', this.form.alat != null ? this.form.alat.aset_id :"");
            formData.append('name', this.form.nama);
            formData.append('position', this.form.posisi);
            formData.append('date_borrow', this.form.date);
            formData.append('description', this.form.keterangan);

            if (this.modalTitle == "Add") {
                // AXIOS POST
                this.$http.post(this.$baseURL + '/project/manageasets/create', formData, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    // console.log(res.data.data);
                    this.promptAlert("success", "Aset Added", "The Aset was Successfully Borrow");
                    this.loadData();
                }).catch(err => {
                    this.$options.filters.auth(err.response.data.message);
                    console.log(err);
                })

            } else {
                formData.append('_method', 'PUT');
                var id = this.form.vendor_id;

                // AXIOS PUT
                this.$http.put(this.$baseURL + '/project/manageasets/' + id + '/update', formData, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.promptAlert("success", "Vendor Edited", "The Vendor was Successfully Edited");
                    this.loadData();
                }).catch(err => {
                    this.$options.filters.auth(err.response.data.message);
                    console.log(err);
                })
            }
        },

        resetPrompt() {
            this.form.vendorName = null;
            this.form.address = null;
            this.form.phone = null;
            this.form.npwp = null;
            this.form.reference = null;
            this.form.taxable = null;
            this.form.vendorStatus = null;
        }


    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            height:470px;
            width:400px;

            .vs-dialog-text {
                padding: 0;
                height: 370px;

                .scroll-area {
                    max-height: 75vh;
                }
 
            }
        }
 
    } 
</style>

