<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <div id="table-coa">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-tabs alignment="fixed">
                    <vs-tab label="List Penawaran">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="penawaran">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                    <div v-if="createe == true" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                        @click="addNewData">
                                        <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                        <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                                    </div>
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="indextr">No</vs-th>
                                <vs-th sort-key="created_at">Tanggal</vs-th>
                                <vs-th sort-key="nomor">Nomor</vs-th>
                                <vs-th sort-key="name">Description</vs-th>
                                <vs-th sort-key="customer">Customer</vs-th>
                                <vs-th sort-key="total">Total (Rp)</vs-th>
                                <vs-th sort-key="status">Status</vs-th>
                                <vs-th sort-key="action">Action</vs-th>
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                                    <vs-td :data="indextr + 1">
                                        {{indextr+1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].entry_at">
                                        {{data[indextr].entry_at | moment('DD-MM-YYYY')}}
                                    </vs-td> 

                                    <vs-td :data="data[indextr].nomor">
                                        {{data[indextr].nomor}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].name">
                                        {{data[indextr].name}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].customer">
                                        {{data[indextr].customer != null ? data[indextr].customer.name : ""}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].amount">
                                        Rp.{{data[indextr].amount | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">                                       
                                        <vs-chip v-if="data[indextr].status == 'open' || data[indextr].status == 'complete'" color="success">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else-if="data[indextr].status == 'pending'" color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="danger">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td> 
                                        <vs-col v-if="updatee == true" vs-w=5>
                                                <feather-icon icon="EditIcon"
                                                    v-if="data[indextr].status == 'open' || data[indextr].status == 'rejected' "
                                                    v-tooltip="'Edit'"
                                                    svgClasses="w-5 h-5 hover:text-warning stroke-current" class="ml-2"
                                                    @click.stop="edit(tr)" />
                                        </vs-col>
                                        <vs-col v-if="data[indextr].status == 'open' || data[indextr].status == 'rejected'" vs-w=5>
                                                <feather-icon icon="TrashIcon"
                                                    v-if="deletee == true"
                                                    v-tooltip="'Delete'"
                                                    svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                                    @click.stop="delet(tr)" />
                                        </vs-col>
                                        <vs-col v-if="data[indextr].status == 'complete'" vs-w=4>
                                                <feather-icon icon="PrinterIcon"
                                                    v-tooltip="'Print'"
                                                    svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                                    @click.stop="printoffer(tr)" />
                                        </vs-col>
                                        <vs-col v-if="updatee == true" vs-w=5>
                                                <feather-icon icon="Edit2Icon"
                                                    v-if="data[indextr].status == 'complete'"
                                                    v-tooltip="'Revisi'"
                                                    svgClasses="w-5 h-5 hover:text-warning stroke-current" class="ml-2"
                                                    @click.stop="revisi(tr)" />
                                        </vs-col>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>

                    <vs-tab v-if="confirmm == true" label="List Penawaran Pending">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="penawaranpending">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="indextr">No</vs-th>
                                <vs-th sort-key="created_at">Tanggal</vs-th>
                                <vs-th sort-key="nomor">Nomor</vs-th>
                                <vs-th sort-key="name">Description</vs-th>
                                <vs-th sort-key="customer">Customer</vs-th>
                                <vs-th sort-key="total">Total (Rp)</vs-th>
                                <vs-th sort-key="status">Status</vs-th>
                                <vs-th sort-key="action">Action</vs-th>
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                                    <vs-td :data="indextr + 1">
                                        {{indextr+1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].entry_at">
                                        {{data[indextr].entry_at | moment('DD-MM-YYYY')}}
                                    </vs-td> 

                                    <vs-td :data="data[indextr].nomor">
                                        {{data[indextr].nomor}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].name">
                                        {{data[indextr].name}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].customer">
                                        {{data[indextr].customer != null ? data[indextr].customer.name : ""}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].amount">
                                        Rp.{{data[indextr].amount | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">                                       
                                        <vs-chip v-if="data[indextr].status == 'open' || data[indextr].status == 'complete'" color="success">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else-if="data[indextr].status == 'pending'" color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="danger">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>                                  
                                    <vs-td>
                                        <vs-col v-if="data[indextr].status == 'pending'" vs-w=6>
                                                <feather-icon icon="CheckIcon"
                                                    v-tooltip="'Confirm'"
                                                    svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2"
                                                    @click.stop="approve(tr)" />
                                        </vs-col>
                                        <vs-col v-if="data[indextr].status == 'pending'" vs-w=6>
                                            <vs-tooltip left>
                                                <feather-icon icon="XIcon"
                                                    v-tooltip="'Reject'"
                                                    svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2"
                                                    @click.stop="reject(tr)" />
                                            </vs-tooltip>
                                        </vs-col>
                                    </vs-td>

                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                </vs-tabs>
            </vx-card>
        </div>
    </div>
</template>

<script>
    export default {
        components: {

        },
        data() {
            return {
                delete: [],
                offer_id:null,
                createe:null,
                confirmm:null,
                updatee:null,
                deletee:null,
                access:null,
                penawaran: [],
                penawaranpending: []
            }
        },
        mounted() {
            this.$vs.loading({  type: 'radius' }); 
            this.loadData()
        },


        methods: {
            async loadData() {
                this.$http.get(this.$baseURL + '/project/offer', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.penawaran = res.data.data;            
                    this.$vs.loading.close();
                }).catch(err => {
                    this.$vs.loading.close();
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Failed"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                });  

                 this.$http.get(this.$baseURL + '/project/offer/pending', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.penawaranpending = res.data.data;            
                    this.$vs.loading.close();
                }).catch(err => {
                    this.$vs.loading.close();
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Failed"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                });  
               
               this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.confirmm = this.access[acc].confirmm;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }
            },
            viewData(tr) {
                this.$router.push('/pages/viewpenawaran/' + tr.offer_id)
            },           
            addNewData() {
                this.$router.push('/pages/formpenawaran').catch(() => {})
            },
            approve(value) {
                this.$http.put(this.$baseURL + '/project/offer/'+value.offer_id+'/confirm', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.loadData();
                    this.$vs.loading.close();
                }).catch(err => {
                    this.$vs.loading.close();
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Failed"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                }); 
            },
            delet(value) {
                this.offer_id = value.offer_id;

                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Are you sure want to Delete this Data ?',
                    accept: this.acceptAlert
                })
            },
            acceptAlert() {
                 this.$http.delete(this.$baseURL + '/project/offer/'+this.offer_id+'/delete', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.loadData();
                    this.$vs.loading.close();
                }).catch(err => {
                    this.$vs.loading.close();
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Failed"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                });   
            },
            edit(value) {
                this.$router.push('/pages/editpenawaran/' + value.offer_id);
            },
            revisi(value){
                this.offer_id = value.offer_id;
                 this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Apakah Anda Yakin Akan Melakukan Revisi Data ini ?',
                    accept: this.acceptrevisi
                })

            },
            acceptrevisi() {        
                  var datetoday = new Date();
                  var dt = { 
                    offer_id: this.offer_id,
                    date: datetoday
                     }; 

                 this.$http.post(this.$baseURL + '/project/offer/revisi',
                    this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                     this.$router.push('/pages/formrevisipenawaran/' + res.data.data.offer_id);
                }).catch(err => {
                    this.$vs.loading.close();
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Failed"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                }); 

            },
            printoffer(val){
                if(val.model == 1){
                this.$router.push('/pages/penawaran/print/' + val.offer_id); 
                }else{
                this.$router.push('/pages/penawaran2/print/' + val.offer_id); 
                }
            },
            promptAlert(type, title, text) {
                this.$vs.notify({
                    color: type,
                    title: title,
                    text: text
                })
            },
            reject(value) {
                this.offer_id = value.offer_id;

                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Are you sure want to reject This Data ?',
                    accept: this.acceptUnreject
                })
            },
            acceptUnreject() {               
                 this.$http.put(this.$baseURL + '/project/offer/'+this.offer_id+'/reject', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.loadData();
                    this.$vs.loading.close();
                }).catch(err => {
                    this.$vs.loading.close();
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Failed"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                }); 

            },
        }

    }
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>