<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <vx-card ref="filterCard" title="Detail Absen Tukang" class="user-list-filters mb-8">
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Work Order: </span><br>
                    <h4>{{ workOrder }}</h4>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Periode: </span><br>
                    <h4>{{ periode }}</h4>
                </div>
            </div>
            <div class="vx-row mt-5">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Location: </span>
                    <h4>{{ location}}</h4>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span>Description: </span> <br>
                    <h4>{{description}}</h4>
                </div>
            </div>
        </vx-card>

        
        <div>
            <vx-card>
                <vs-table stripe :data="tukangs">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th >No</vs-th>
                        <vs-th >Nama</vs-th>
                        <vs-th >Upah Harian (Rp)</vs-th>
                        <vs-th >Jam Kerja</vs-th>
                        <vs-th >Total Upah (Rp)</vs-th>
                        <vs-th ></vs-th>
                        <vs-th >Action</vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td :data="data[indextr].tukang.name">
                                {{data[indextr].tukang.name}}
                            </vs-td>                            
                            <vs-td :data="data[indextr].upah">
                                {{data[indextr].upah | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].total_kerja">
                                {{data[indextr].total_kerja != null ? data[indextr].total_kerja.regular : "" }} Jam
                                {{data[indextr].total_kerja != null ? data[indextr].total_kerja.shift_1 : "" }} Jam
                                {{data[indextr].total_kerja != null ? data[indextr].total_kerja.shift_2 : "" }} Jam
                            </vs-td>

                            <vs-td :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                                 
                            </vs-td>
                            <vs-td>
                                <vs-chip v-if="data[indextr].date_pay != null" color="success">
                                    <feather-icon  icon="CheckIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" />
                                    Paid
                                </vs-chip>
                            </vs-td>
                            <vs-td>
                                <feather-icon v-if="data[indextr].date_pay == null" v-tooltip="'Pay'" icon="PocketIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"   @click.stop="payment(tr)" />
                   
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table> 

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button color="lightblue" style="width:100px; background-color: mediumslateblue;" type="relief" @click.stop="back()">
                            Back</vs-button>
                    </vs-col>
                </vs-row>

                   <!-- FORM -->   
            <vs-prompt class="email-compose"
                @cancel="resetPrompt"
                @accept="submitPrompt"
                @close="resetPrompt"
                accept-text = "Submit"    :active.sync="paid" title="Paid">
                    <form @submit.prevent >
                      <div style="padding:25px;">
                      <div style="text-align:center; margin-bottom:40px; margin-top:20px;">
                            <span><h2>Total : Rp. {{this.form.total | currency }}</h2></span>
                        </div> 
                        <div class="vx-row">
                            <div class="vx-col  w-full"> 
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">To</span>
                            <v-select v-model="form.coa" :clearable="false" label="name" :options="coaOptions" name="To COA"/>
                            </div> 
                        </div> 
                      </div>  
                        
                    </form> 
            </vs-prompt> 
            </vx-card>
        </div>

    </div>
</template>



<script>
import vSelect from 'vue-select'


export default {
    components: {
        vSelect,
    },
    data() {

        return {
            id:null,
            workOrder:null,
            periode:null,
            description:null,
            location:null,
            paid:false,
             form:{
                upah_tkg_id:null,
                upah_tkg_d_id:null,
                total:null,
                coa:null,
                date:null,
            },
            tukangs: [],
            coaOptions:null,

        }
    },
    mounted() {
        this.$vs.loading({ type: 'radius' }); 
        this.loadData();
        this.loadCOA();
    this.form.date = new Date();
    },

    methods: {
        async loadData() {
            // var tipe = this.$route.params.tipe;
            this.form.upah_tkg_id = this.$route.params.idabsen;
            
            var resReadAbsen = await this.$http.get(this.$baseURL + '/project/absentukang/'+this.form.upah_tkg_id+'/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })
        

            this.workOrder = resReadAbsen.data.data.work_order;
            this.periode = resReadAbsen.data.data.periode; 
            this.description = resReadAbsen.data.data.description;
            this.location = resReadAbsen.data.data.location;
            this.tukangs = resReadAbsen.data.data.upah_tukang_details;
            this.$vs.loading.close();
        },
        async loadCOA(){ 
            this.$http.get(this.$baseURL + '/accounting/coa?filter=level|3;fromcode|1.03|<', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.coaOptions = res.data.data;
                
            }).catch(err => {
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
        },
        payment(data){
            this.paid = true;
            this.form.upah_tkg_d_id = data.upah_tkg_d_id;
            this.form.total = data.amount; 
        },
        submitPrompt(){
        this.$vs.loading({ type: 'radius' }); 
             var dt = { 
                    upah_tkg_d_id:this.form.upah_tkg_d_id,
                    coa_code:this.form.coa.code,
                    date:this.form.date, 
                }; 
                this.$http.post(this.$baseURL+ '/project/absentukang/details/payfee',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                    this.tukangs = res.data.data.upah_tukang_details;
                    this.promptAlert("success","Success Pay Fee","") 

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors)

                    }
                });   
        },
        back() {
            this.$router.go(-1);
        },
        resetPrompt(){

        },

    }

}
</script>

<style lang="scss">
.con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 30%;
            
            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 195vh;

                }
 
            }
        }
 
    }  
</style>