<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa"> 

        <div id="data-list-list-view" class="data-list-container">

            <vx-card>
    
            <vs-table pagination :max-items="10" search @selected="viewData" :data="spk"  > 
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"> 
                    <div class="flex flex-wrap-reverse items-center data-list-btn-container">
  
                    </div>  
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">no</vs-th>
                    <vs-th sort-key="code_spk">SPK</vs-th>
                    <vs-th sort-key="work_order">Work Order</vs-th>
                    <vs-th sort-key="customer_id">Customer</vs-th>
                    <vs-th sort-key="entry_at">Date</vs-th>
                    <vs-th sort-key="limit_cost">Limit</vs-th>
                    <vs-th sort-key="total_project">Nilai Project</vs-th>
                    <vs-th sort-key="status">Status</vs-th>
                    <vs-th sort-key="action">Action</vs-th>
                </template> 
                <template slot-scope="{data}" > 
                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data"> 
                        <vs-td :data="indextr">
                            {{ indextr + 1 }}
                        </vs-td> 
                        <vs-td :data="data[indextr].code_spk">
                            {{data[indextr].code_spk}}
                        </vs-td>
                        <vs-td :data="data[indextr].work_order">
                            {{data[indextr].work_order}}
                        </vs-td> 
                        <vs-td :data="data[indextr].customer.name">
                            {{data[indextr].customer.name}}
                        </vs-td> 
                        <vs-td :data="data[indextr].entry_at">
                            {{data[indextr].entry_at | moment("DD-MM-YYYY")}}
                        </vs-td> 
                        <vs-td :data="data[indextr].limit_cost">
                            Rp.{{data[indextr].limit_cost | currency}} 
                        </vs-td>
                        <vs-td :data="data[indextr].total_project">
                            Rp.{{data[indextr].total_project | currency}}
                        </vs-td> 
                        <vs-td :data="data[indextr].status">
                            <vs-chip v-if="data[indextr].status === 'complete'" color="success">
                                {{data[indextr].status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else-if="data[indextr].status === 'open'" color="warning">
                                {{data[indextr].status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else-if="data[indextr].status === 'progress'" color="#00a8cc">
                                {{data[indextr].status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else-if="data[indextr].status === 'pending'" color="#f64b3c">
                                {{data[indextr].status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else color="danger">
                                {{data[indextr].status | capitalize}}
                            </vs-chip>
                        </vs-td> 
                        <vs-td>
                            <feather-icon v-if="data[indextr].status == 'progress' && updatee == true" v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editData(tr)" />
                            <feather-icon v-if="data[indextr].status == 'pending'  && confirmm == true" v-tooltip="'Confirm'" icon="CheckIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="confirmData(tr)" />
                            <feather-icon v-if="data[indextr].status == 'pending' && confirmm == true" v-tooltip="'Reject'" icon="XIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" @click.stop="rejectData(tr)" />
                            <feather-icon v-if="data[indextr].status == 'open' && deletee == true" v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(tr)" /> 
                            <feather-icon v-if="data[indextr].adendum == 'true' && createe == true" v-tooltip="'Adendum'" icon="ArchiveIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="inputAdendum(tr)" /> 
                        </vs-td>
                    </vs-tr> 
                </template> 
            </vs-table>   

        <vs-popup title="View Data" :active.sync="viewPopUp">
            <!-- <div class="vx-row" style="padding-bottom:5px;">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                   <span>Username :</span>  
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                   <span> Username </span>
                </div>
            </div> -->
             
        </vs-popup>

        </vx-card>
        </div> 
    </div>  
</template> 

<script>
 

export default{
    components: { 

    },
    data() {
        
        return {
            hide:false,
            viewPopUp:false,
            orderId : null,
            createe:null,
            confirmm:null,
            updatee:null,
            deletee:null,
            access:null,
            form:{
                username:null,
                type:null,
                email:null,
                status:null,
            }, 
            spk: []
        }
    },
    computed:{
        validName(){
          //return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }, 
    },
    created(){ 
    this.$vs.loading({ type: 'radius' });         
    this.loadData();
      
     },
    methods:{
        async loadData(){   
            var com_id = this.$company != null ? this.$company.company_id : "1"
           await this.$http.get(this.$baseURL + '/project/orders?filter=company_id|'+com_id+',status|pending,status|progress', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.spk = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            });

            this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.confirmm = this.access[acc].confirmm;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }
         },
        confirmData(tr){
             this.$vs.loading({ type: 'radius' });  
 
                this.$http.post(this.$baseURL+ '/project/orders/'+tr.order_id+'/confirm',
                 {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                    this.promptAlert("success","SPK Cnfirmed","") 
                    this.loadData();
                    this.$vs.loading.close();

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Error"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors)

                    }
                });
        },
        rejectData(tr){
            this.$vs.loading({ type: 'radius' });  
 
                this.$http.post(this.$baseURL+ '/project/orders/'+tr.order_id+'/reject',
                 {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                    this.promptAlert("success","SPK Cnfirmed","") 
                    this.loadData();
                    this.$vs.loading.close();

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Error"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors)

                    }
                });
        },
        viewData(data) { 
            this.$router.push('/pages/viewspk/'+data.order_id).catch(() => {}) 
        },  
        addNewData() {
           this.$router.push('/pages/formspk').catch(() => {}) 
        },
        inputAdendum(tr){
            this.$router.push('/pages/formadendum/'+tr.order_id).catch(() => {})  
        },
        
        editData(data)  {
            this.$router.push('/pages/editspk/'+data.order_id).catch(() => {}) 
        },

        getSuplierData(id){
            //take API suplier data 
        },  
        deleteData(tr) {
            this.order_id = tr.order_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this User Data ?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$http.delete(this.$baseURL+ '/project/orders/'+this.order_id+'/delete',
                 {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                    this.promptAlert("success","Order Deleted","")
                    this.loadCustomer();
                    this.$vs.loading.close();

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Error"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                });
        },
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            if(this.modalTitle == "Add"){
                console.log("data add");

                this.promptAlert("success","User Added","The User was successfully Added")
            }else{
                console.log("data edited");

                this.promptAlert("success","User Edited","The User was successfully Edited") 
            } 
        },
 
        resetPrompt() { 

        }


    }

}
</script>
<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            // max-height: 95vh;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                }
 
            }
        }
 
    } 
</style>

