<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard"   class="user-list-filters mb-8"   > 
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">  
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> SPK Code : </span> 
                  <b>{{form.spkCode}}  </b>  
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Work Order : </span> 
                  <b>{{form.workorder}}</b> 
                </div> 
            </div>  
             <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Date : </span> 
                 <b> {{form.date | moment("DD-MM-YYYY")}}</b>
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Adresss : </span> 
                 <b> {{form.address}}</b>
                </div>  
            </div> 
             <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Durasi : </span> 
                 <b>{{form.durasi}} Hari</b> 
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px;">
                  
                </div>  
            </div> 
            
        </vx-card> 

        <vx-card ref="filterCard"  title="Customer Data " class="user-list-filters mb-8"   > 
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">     
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">Name</span>
                     <div class="vx-row" style="margin-left:15px;">
                    <b>{{form.customer.name}}</b> 
                    </div> 
                    
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <span  style="font-size:11.9px; color:rgba(0,0,0,0.7);  margin-left:5px;">Contact</span> <br>
                     <div class="vx-row" style="margin-left:15px;">
                     <b>{{form.customer.phone}}</b> 
                    </div>
                </div> 
            </div>  
             <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;">Address</span> <br>
                     <div class="vx-row" style="margin-left:15px;">
                     <b>{{form.customer.address}}</b> 
                    </div>
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px;">

                </div>  
            </div> 
            <div class="vx-row">
                <div>
                </div>
            </div>
        </vx-card> 

         
        <vx-card ref="filterCard"  title="Workshop" class="user-list-filters mb-8"   > 
            <div class="vx-row" style="margin-left:20px;"> 
                <div>
                    WorkShop Order ?  
                </div>
                <div style="padding-left:20px;">
                     {{form.workshop == true ? " YA":" TIDAK"}}
                </div>
            </div>
        </vx-card> 

        <vx-card ref="filterCard"  title="Nilai Project " class="user-list-filters mb-8"   > 
            <div class="vx-row">
                <div class="vx-col w-full">
                    <div  style="padding-left:20px;"> 
                    <b>Rp.{{form.totalProject  | currency}}</b> 
                     </div>
                </div>
            </div>
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 " style="margin-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;">Profit</span> <br>
                    <div  style="padding-left:20px;"> 
                    <b> {{form.persenProfit}}%</b>
                     </div>
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px; padding-top:20px;">
                   <b>Rp.{{form.amountProfit | currency}}</b>  
                </div>  
            </div>
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;">Cost</span> <br>
                    <div  style="padding-left:20px;"> 
                    <b>{{form.persenCost}}%</b> 
                     </div>
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px; padding-top:20px;">
                   <b>Rp.{{form.amountCost  | currency}}</b>  
                </div>  
            </div>
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;">Discount</span> <br>
                     <div  style="padding-left:20px;"> 
                     <b>{{form.disc}}%</b>
                     </div>
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;">Pajak</span> <br>
                     <div  style="padding-left:20px;">
                     <b>{{form.tax}}% </b> 
                     </div> 
                </div>  
            </div>

            <div class="vx-row" style="margin-top:10px;">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">

                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="text-align:right;">
                </div>
            </div>
        </vx-card> 
        <vx-card ref="filterCard"  title="Upload RAB " class="user-list-filters mb-8"   > 
            <div class="vx-row"> 
                <div>
                    <div class="vx-row" v-for="(tr, indextr) in listfile" :key="indextr" style="padding-left:25px; "> 
                        <table style="width:50%;">
                            <tr>
                                <td style="width:20px; text-align:center;">
                                    {{indextr + 1}}.
                                </td>
                                <td> 
                                    <a :href="'/storage/'+tr" target="_blank">{{tr}}</a>
                                </td>
                                <td style="width:20px;"> 
                                    <feather-icon v-tooltip="'Delete'" icon="TrashIcon"  svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deletedata(tr)" /> 
                                
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </vx-card> 

        <div>

            <vx-card  ref="bodyGL" title="Termin" class="user-list-filters mb-8">  
                <div class="vx-row">
                    
                </div>
                 <div>
                        
                    </div>
            <vs-table  :data="termins">        
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between" style="margin-bottom:50px;">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container"> 
                    
                </div> 
                </div>
            

                <template slot="thead" >
                    <vs-th sort-key="no" >No</vs-th>
                    <vs-th sort-key="amount">Termin</vs-th>
                    <vs-th sort-key="progress">Amount</vs-th> 
                    <vs-th ></vs-th> 
                </template> 

                <template slot-scope="{data}" >  
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].name">
                        {{data[indextr].name}}
                        </vs-td> 
                        <vs-td :data="data[indextr].amount">
                            Rp.{{data[indextr].amount | currency}}
                        </vs-td>  
                         <vs-td :data="data[indextr].total">  </vs-td>  
                    </vs-tr> 
                    <vs-tr> 
                        <vs-td></vs-td>
                        <vs-td style="text-align:right;">Total:</vs-td> 
                        <vs-td>Rp.{{form.totalTermin | currency}}</vs-td> 
                        <vs-td  style="text-align:right;"> 
                          <vs-button   style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                        </vs-td>
                    </vs-tr>    
                </template> 
            </vs-table>  

             <div>
                  
             </div>
             
        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 


export default{
    components: { 
    },
    data() {
        
        return { 
            activePrompt2:false, 
            termin:false,
            terminButton:false,
            form:{
                spkId:null,
                spkCode:null,
                customer:null,
                workshop:false,
                workorder:null,
                date:null,
                address:null,
                durasi:null,
                totalProject:null,
                persenProfit:null,
                amountProfit:null,
                persenCost:null,
                amountCost:null,
                disc:null,
                tax:null,

                termin:null,
                amountTermin:null,  
                totalTermin:0,

                edit:false,
            },    
            userOptions: [
                "Admin" , "Accounting" ,"Supervisor"
            ], 
            customerOptions: [],  

            termins: [],
            listfile:[],
          
        }
    },
   
    computed: {  
        validName(){
        // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }
    },
    created(){ 
         this.$vs.loading({ type: 'radius' });       
    if(this.$route.name =="pages-viewspk"){
        this.form.spkId = this.$route.params.idspk; 
        this.loadData();
        this.termin= true;
        this.terminButton= false;
      } 
     
      
     },
    methods:{
        async loadData(){   
           await this.$http.get(this.$baseURL + '/project/orders/'+this.form.spkId+'/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.form.spkCode = res.data.data.code_spk;
                this.form.customer = res.data.data.customer;
                this.form.workshop= res.data.data.to_workshop== 'false'?false:true;
                this.form.workorder = res.data.data.work_order;
                this.form.date = res.data.data.entry_at;
                this.form.address = res.data.data.address;
                this.form.durasi = res.data.data.time_work;
                this.form.totalProject = res.data.data.total_project;
                this.form.persenProfit = parseFloat(res.data.data.profit);
                this.form.amountProfit = res.data.data.amount_profit;
                this.form.persenCost = parseFloat(res.data.data.cost);
                this.form.amountCost = res.data.data.cost_project;
                this.form.disc = res.data.data.discount;
                this.form.tax = res.data.data.tax;
                this.termins = res.data.data.order_termins;
                this.listfile = res.data.rab;
                this.form.totalTermin= res.data.total_termin;
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
            });
         },      
 
        back(){
            this.$router.go(-1);
        }, 

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
//dialog widht 
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 30%;
            // height: 70%;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 100%;
                } 
            }
        } 
    } 
</style>