<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" title="Headers" class="user-list-filters mb-8"   >
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> SPK Code: </span>  
                   <b>{{form.spk_code}}</b> 
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <!-- <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Date: </span>  
                    {{form.date | moment('DD-MM-YYYY')}} -->
                </div> 
            </div> 
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Work Order: </span>  
                    <b>{{form.description}}</b> 
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Total Estimasi: </span>
                    <b>Rp.{{form.grand_total | currency}}</b> 
                </div> 
            </div>   
        </vx-card> 
 

        <div>

            <vx-card  ref="bodyGL" title="Details" class="user-list-filters mb-8">  
                <div class="vx-row"> 
                </div>
                 <div  >
                        
                    </div>
            <vs-table  :data="estimasi">        
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between" style="margin-bottom:50px;">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                   
 
                </div> 
                </div>
            

                <template slot="thead" >
                    <vs-th sort-key="no" >No</vs-th>
                    <vs-th sort-key="product">Product</vs-th>
                    <vs-th sort-key="qty">Qty </vs-th> 
                    <vs-th sort-key="price_sm">Price Small</vs-th>  
                </template> 

                <template slot-scope="{data}" >  
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].product">
                            {{data[indextr].product == null ? "" : data[indextr].product.name}}
                        </vs-td> 
                        <vs-td :data="data[indextr].qty_sm">
                            {{data[indextr].qty_sm}}  {{data[indextr].product != null ? data[indextr].product.unit_sm : ""}}
                        </vs-td>  
                         <vs-td :data="data[indextr].price_sm">
                            Rp.{{data[indextr].price_sm | currency}} 
                            &nbsp;
                        </vs-td> 
                        
                    </vs-tr>  
                    <vs-tr>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td> 
                        <vs-td></vs-td>
                        <!-- <vs-td  style="text-align:right; padding-right:50px;">Grand Total: <b>Rp.{{form.grand_total | currency}}</b></vs-td> -->
                    </vs-tr> 
                    <vs-tr>
                        <vs-td></vs-td>
                        <vs-td></vs-td> 
                        <vs-td colspan = "2" style="text-align:right;"> 
                          <vs-button  color="lightblue"  style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                        </vs-td>
                    </vs-tr>    
                </template> 
                 
            </vs-table> 
             

             <div> 
             </div>
             

        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 


export default{ 
    data() {
        
        return {  
            form:{
                edit:false,
                estimasi_id:null,
                order_id:null, 
                grand_total:0, 
            },    
            estimasi: [  ],
          
        }
    },
   
    computed: {   
    },
    created(){
    this.$vs.loading({ type: 'radius' });         
        this.form.order_id = this.$route.params.idorder;
        this.loadData();
    },
    methods:{
        async loadData(){
            await this.$http.get(this.$baseURL + '/project/estimasi/'+this.form.order_id+'/readtotal', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                  this.form.spk_code = res.data.data[0].order.code_spk;
                  this.form.description = res.data.data[0].order.work_order; 
                  this.form.grand_total = res.data.data[0].order.amount_estimasi; 
                  this.estimasi = res.data.data; 
                  this.$vs.loading.close();
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false);
                }
                console.log(err.data.message);
            });
        }, 
        back(){
            this.$router.go(-1);
        },  
          
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        }, 
        

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>