<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" title="Headers" class="user-list-filters mb-8"   >
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> SPK Code: </span>  
                    {{form.spk_code}}
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Date: </span>  
                    {{form.date | moment('DD-MM-YYYY')}}
                </div> 
            </div> 
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Work Order: </span>  
                     {{form.description}}
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Warehouse: </span>
                     {{form.gudang != null ? form.gudang.name : ""}}
                </div> 
            </div>   
        </vx-card> 
 

        <div>

            <vx-card  ref="bodyGL" title="Details" class="user-list-filters mb-8">  
                <div class="vx-row"> 
                </div>
                 <div  >
                        
                    </div>
            <vs-table  :data="estimasi">        
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between" style="margin-bottom:50px;">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                   
 
                </div> 
                </div>
            

                <template slot="thead" >
                    <vs-th sort-key="no" >No</vs-th>
                    <vs-th sort-key="product">Product</vs-th>
                    <vs-th sort-key="qty">Qty Besar</vs-th> 
                    <vs-th sort-key="qty">Qty Kecil</vs-th> 
                    <vs-th sort-key="price">Price</vs-th> 
                    <vs-th sort-key="total">Total</vs-th>  
                </template> 

                <template slot-scope="{data}" >  
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].product">
                            {{data[indextr].product == null ? "" : data[indextr].product.name}}
                        </vs-td> 
                        <vs-td :data="data[indextr].qty_lg">
                            {{data[indextr].qty_lg}}
                        </vs-td> 
                        <vs-td :data="data[indextr].qty_sm">
                            {{data[indextr].qty_sm}}
                        </vs-td> 
                        <vs-td :data="data[indextr].price_lg">
                            Rp.{{data[indextr].price_lg | currency}}
                        </vs-td> 
                         <vs-td :data="data[indextr].amount">
                            Rp.{{data[indextr].amount | currency}} 
                            &nbsp;
                        </vs-td> 
                        
                    </vs-tr>  
                    <vs-tr>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td> 
                        <vs-td></vs-td> 
                        <vs-td></vs-td>
                        <vs-td  style="text-align:right; padding-right:50px;">Grand Total: <b>Rp.{{form.grand_total | currency}}</b></vs-td>
                    </vs-tr> 
                    <vs-tr>
                        <vs-td></vs-td>
                        <vs-td></vs-td> 
                        <vs-td></vs-td> 
                        <vs-td></vs-td> 
                        <vs-td colspan = "2" style="text-align:right;"> 
                          <vs-button  color="lightblue"  style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                          <vs-button  color="primary"  style="width:100px; " type="relief"  @click.stop="confirmData()">Confirm</vs-button>
                          <vs-button  color="danger"  style="width:100px;  " type="relief"  @click.stop="rejectData()">Reject</vs-button>
                        </vs-td>
                    </vs-tr>    
                </template> 
                 
            </vs-table> 
             

             <div> 
             </div>
             

        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 


export default{
    components: { 
    },
    data() {
        
        return { 
            details:false,
            datedetails:false,
            whdetails:false,
            activePrompt2:false,
            mode: 'input',
            selected: null,
            addproduct:true,
            form:{
                edit:false,
                estimasi_id:null,
                order_id:null,
                spk_code:null,
                date:null,
                description:null,
                gudang:null,
                product: null,
                qty_lg: null,
                qty_sm:null,   
                grand_total:0,

            },  
            editValue:{
                estimasi_d_id:null,
                qty_lg: null,
                qty_sm:null, 
            }, 
            gudangList: [ ], 
            productList: [],

            estimasi: [  ],
          
        }
    },
   
    computed: {  
        validName(){
        // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }
    },
    created(){
    this.$vs.loading({ type: 'radius' });         
        this.form.order_id = this.$route.params.idorder;
        this.loadData();
    },
    methods:{
        async loadData(){
            await this.$http.get(this.$baseURL + '/project/estimasi/'+this.form.order_id+'/readpending', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                if(res.data.estimasi == true){
                  this.details = true;
                  this.datedetails = true;
                  this.whdetails = true;
                  this.addproduct = false;
                  this.form.date = res.data.data.entry_at;
                  this.form.estimasi_id = res.data.data.estimasi_id;
                  this.form.spk_code = res.data.data.order.code_spk;
                  this.form.description = res.data.data.order.work_order; 
                  this.form.gudang = res.data.data.warehouse;
                  this.estimasi = res.data.data.estimasi_details; 
                  this.form.grand_total = res.data.data.total;
                    this.$vs.loading.close();
                }else{
                    this.form.spk_code = res.data.data.code_spk;
                    this.form.description = res.data.data.work_order;
                    this.$vs.loading.close();
                } 
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            });
        }, 
        back(){
            this.$router.go(-1);
        },  
         confirmData(){
          this.$vs.loading({ type: 'radius' });         
              this.$http.put(this.$baseURL + '/project/estimasi/'+this.form.estimasi_id+'/confirm', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.back();
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            });
        },
        rejectData(){
          this.$vs.loading({ type: 'radius' });         
              this.$http.put(this.$baseURL + '/project/estimasi/'+form.estimasi_id+'/reject', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.back();
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            });
        },  
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        }, 
        

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>