<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== --> 
<template>
    <div>
        <vx-card ref="filterCard" title="Headers" class="user-list-filters mb-8">
            <vs-row class="mb-5">
                <vs-col class="px-2" vs-w="4">
                    <label class="vs-input--label" for="">Nomor:</label>
                    <b>{{form.nomor}}</b> 
                </vs-col>
                <vs-col class="px-2" vs-w="4">
                    <label class="vs-input--label" for="">Tanggal Penawaran:</label>
                    <b>{{form.tgl | moment("DD-MM-YYYY")}}</b> 
                </vs-col>
                <vs-col class="px-2" vs-w="4">
                    <label class="vs-input--label" for="">Pelanggan</label>
                    <span>
                   <b>{{form.pelanggan != null ? form.pelanggan.name : ""}} </b> 
                    </span>
                </vs-col>

            </vs-row>
            <vs-row class="mb-5">
                <vs-col class="px-2" vs-w="6">
                    <label class="vs-input--label" for="">Nama Pengerjaan:</label>
                    <b>{{form.nama}}</b>
                </vs-col>
                <vs-col class="px-2" vs-w="6">
                    <label class="vs-input--label" for="">Berdasar Hasil:</label>
                    <b>{{form.hasil}}</b>
                </vs-col>
            </vs-row>
            <vs-row class="mb-5">
                <vs-col class="px-2" vs-w="6">
                    <label class="vs-input--label" for="">Total Nilai Pengerjaan:</label>
                    <b>Rp. {{form.amount | currency}}</b>
                </vs-col>
                <vs-col class="px-2" vs-w="6">
                    
                </vs-col>
            </vs-row>
            <vs-row class="mb-5">
                <vs-col class="px-2" vs-w="6"> 
                </vs-col> 
            </vs-row>
            
        </vx-card>
        <vx-card v-if="form.model == 1" ref="filterCard" title="Detail Pekerjaan" class="user-list-filters mb-5">
            <vs-row>
                    <vs-col vs-w="3" class="px-3">
                    </vs-col>
                    <vs-col vs-w="9">
                        <vs-row>
                            <vs-col vs-w="2" class="px-3">                            
                            </vs-col> 
                            <vs-col vs-w="2" class="px-3">                            
                            </vs-col>                           
                            <vs-col vs-w="3" class="px-3">
                            
                            </vs-col>                          

                            <vs-col vs-w="2" class="px-3">                            
                             
                            </vs-col>
                        </vs-row>
                    </vs-col>
            </vs-row>
            
            <vs-divider />

            <vs-table stripe :data="penawaran">     
                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="item">Item Pekerjaan</vs-th>
                    <vs-th sort-key="unit">Unit</vs-th>
                    <vs-th sort-key="vol">Vol</vs-th>
                    <vs-th sort-key="harga">Harga Satuan</vs-th> 
                    <vs-th sort-key="total">Total</vs-th> 
                    <vs-th></vs-th>
                </template>

                <template slot-scope="{data}">
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                        <vs-td :data="indextr+1">
                            {{indextr+1}}
                        </vs-td>

                        <vs-td :data="data[indextr].item">
                            {{data[indextr].item}}
                        </vs-td>
                        <vs-td :data="data[indextr].unit">
                            {{data[indextr].unit}}
                        </vs-td>
                        <vs-td :data="data[indextr].vol">
                            {{data[indextr].vol}}
                        </vs-td>
                        <vs-td :data="data[indextr].price">
                            Rp.{{data[indextr].price  | currency}}
                        </vs-td> 
                        <vs-td :data="data[indextr].total">
                            Rp.{{data[indextr].total  | currency}}
                        </vs-td> 
                        <vs-td>
                            <vs-col vs-w=6> 
                            </vs-col>
                            <vs-col vs-w=6> 
                            </vs-col>
                        </vs-td>
                    </vs-tr> 
                    <vs-tr>
                        <vs-td class="text-right" colspan="5">Grand Total</vs-td>
                        <vs-td><b>Rp {{form.grandtotal | currency}}</b></vs-td>
                        <vs-td></vs-td>
                    </vs-tr>
                </template>
            </vs-table>
        </vx-card>

        <vx-card ref="filterCard" v-if="form.model != null && form.model == 2"  title="Upload Attachment " class="user-list-filters mb-8"   > 
            <div class="vx-row" v-for="(tr, indextr) in attachment" :key="indextr" style="padding-left:25px; "> 
                 <table style="width:50%;">
                     <tr>
                         <td style="width:20px; text-align:center;">
                             {{indextr + 1}}.
                         </td>
                         <td> 
                             <a :href="'/storage/'+tr" target="_blank">{{tr}}</a>
                         </td>
                         <td style="width:20px;"> 
                            <feather-icon v-tooltip="'Delete'" icon="TrashIcon"  svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deletefile(tr)" /> 
                        
                         </td>
                     </tr>
                 </table>
             </div>
            <div class="vx-row"> 
                <div>
                </div>
            </div>
        </vx-card> 

        <vx-card ref="filterCard" title="Note" class="user-list-filters mb-8">
            <vs-row>
                <vs-col vs-w="12">
                    <label class="vs-input--label" for="">Note:</label>
                   <b>{{form.note}}</b> 
                </vs-col>
            </vs-row>

            <vs-divider />
            <vs-row class="mt-5">
                <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                    <vs-button  style="width:100px; background-color: mediumslateblue;" type="relief" @click.stop="back()">
                        Back</vs-button> 
                </vs-col>

            </vs-row>

            <div>
                    
                </div>
        </vx-card>
    </div>
</template>



<script>
import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        vSelect,
        Datepicker
    },
    data() {

        return {   
            max:0,
            min:0,
            activePrompt:false,
            prefix: 'Rp ',
            edit:false,
            editbut:false,
            form: {
                offer_id:null,
                offer_d_id:null,
                nomor:null,
                tgl:null,
                model:null,
                pelanggan:null,
                nama:null,
                hasil:null,
                note:null,
                item:null,
                unit:null,
                vol:null,
                price:null,
                subtotal:0,
                totalPajak:0,
                grandtotal:0
            },           
            editValue: {
                offer_d_id: null,
                item: null,
                unit: null,
                vol: 0,
                price: 0,
            }, 
            attachment:[],
            pelangganOptions: [ ],           
            penawaran: [  ],            

        }
    }, 
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }
    },
    created(){
        this.$vs.loading({ type: 'radius' });
        this.form.offer_id = this.$route.params.idpenawaran; 
        this.edit = true;
        this.loadDetail(); 
        this.form.tgl = new Date();
        this.loadData()
    },
    methods: { 
        async getfile(id){
             this.$http.get(this.$baseURL + '/project/offer/' + id + '/getfile', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.attachment = res.data.fileatt;
                if (this.attachment[0] == undefined) {
                    this.attachment = null;
                }
               
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err.data.message);
                this.$options.filters.auth(err.response.data.message);
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));
        },

        async loadData() {  
              this.$http.get(this.$baseURL + '/master/customers?filter=company_id|'+this.$company.company_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.pelangganOptions = res.data.data;            
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                   this.$options.filters.auth(err.response.data.message) 
                }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                }else{
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                }
            });  
        },  
        async loadDetail() {  
              this.$http.get(this.$baseURL + '/project/offer/'+this.form.offer_id+'/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.penawaran = res.data.data.offer_details;
                this.form.grandtotal = res.data.data.amount;
                this.form.amount = res.data.data.amount;
                this.form.nomor = res.data.data.nomor;   
                this.form.tgl = res.data.data.entry_at;   
                this.form.model = res.data.data.model;
                this.form.pelanggan = res.data.data.customer;   
                this.form.nama = res.data.data.name;   
                this.form.hasil = res.data.data.hasil;   
                this.form.note = res.data.data.note;   
                 this.getfile(this.form.offer_id);
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                   this.$options.filters.auth(err.response.data.message) 
                }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                }else{
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                }
            });  
        },  
     
        back() {
            this.$router.go(-1)
        },       

    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>