<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <vx-card ref="filterCard" title="Detail Absen Tukang" class="user-list-filters mb-8">
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Work Order: </span><br>
                    <h4>{{ workOrder }}</h4>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Periode: </span><br>
                    <h4>{{ periode }}</h4>
                </div>
            </div>
            <div class="vx-row mt-5">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Location: </span>
                    <h4>{{ location}}</h4>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span>Description: </span> <br>
                    <h4>{{description}}</h4>
                </div>
            </div>
        </vx-card>

        
        <div>
            <vx-card>
                <vs-table stripe :data="tukangs">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="name">Nama</vs-th>
                        <vs-th sort-key="upah">Upah Harian (Rp)</vs-th>
                        <vs-th sort-key="totalkerja">Jam Kerja</vs-th>
                        <vs-th sort-key="totalupah">Total Upah (Rp)</vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td :data="data[indextr].tukang.name">
                                {{data[indextr].tukang.name}}
                            </vs-td>                            
                            <vs-td :data="data[indextr].upah">
                                {{data[indextr].upah | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].total_kerja">
                                {{data[indextr].total_kerja.regular}} Jam
                                {{data[indextr].total_kerja.shift_1}} Jam
                                {{data[indextr].total_kerja.shift_2}} Jam
                            </vs-td>

                            <vs-td :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>
                <!-- <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3" vs-w="12">
                        <h4>Subtotal: <b>Rp. {{ total | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Discount: <b>Rp. {{ total_disc | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Tax: <b>Rp. {{ total_tax | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Ongkir: <b>Rp. {{ ongkir | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ grandtotal | currency}}</b></h4>
                    </vs-col>
                </vs-row> -->

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button color="lightblue" style="width:100px; background-color: mediumslateblue;" type="relief" @click.stop="back()">
                            Back</vs-button>
                    </vs-col>
                </vs-row>
            </vx-card>
        </div>

    </div>
</template>



<script>
import vSelect from 'vue-select'
import VueSimpleSuggest from 'vue-simple-suggest';
import Datepicker from 'vuejs-datepicker';


export default {
    components: {
        VueSimpleSuggest,
        vSelect,
        Datepicker
    },
    data() {

        return {
            id:null,
            workOrder:null,
            periode:null,
            description:null,
            location:null,
            tukangs: [],

        }
    },
    mounted() {
        this.$vs.loading({
                type: 'radius'
            }); 
        this.loadData()
    },

    methods: {
        async loadData() {
            // var tipe = this.$route.params.tipe;
            this.id = this.$route.params.idabsen;
            
            var resReadAbsen = await this.$http.get(this.$baseURL + '/project/absentukang/'+this.id+'/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })
        

            this.workOrder = resReadAbsen.data.data.work_order;
            this.periode = resReadAbsen.data.data.periode;
            // var periode = resReadAbsen.data.data.periode.split(" - ");
            // console.log(periode[0]);
            // this.form.dateFrom = this.$moment(periode[0],"DD/MM/YYYY").toDate();
            // this.form.dateTo = this.$moment(periode[1],"DD/MM/YYYY").toDate();
            this.description = resReadAbsen.data.data.description;
            this.location = resReadAbsen.data.data.location;
            this.tukangs = resReadAbsen.data.data.upah_tukang_details;
            this.$vs.loading.close();
        },
        back() {
            this.$router.go(-1);
        },

    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>