<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa"> 
        <div> 
            <vx-card title="Form Workshop" class="user-list-filters mb-8">
                <div class="vx-row mb-5">
                    <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Nomor Workshop: </span>
                        
                       <b>{{form.workshop_code}}</b> 
                    </div>
                    <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Code Spk: </span>
                        <span>
                          <b>{{form.order != null ? form.order.code_spk : ""}}</b>  
                         </span>
                    </div>
                </div>
                <div class="vx-row mb-5">
                    <div class="vx-col md:w-1/2 sm:w-full w-full">
                         
                    </div>
                    <div class="vx-col md:w-1/2 sm:w-full w-full">
                        <vs-row>
                         
                        </vs-row>
                    </div>
                </div>
                <vs-divider class="mb-5" />
                <vs-table class="mt-5" :data="details">
                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>                        
                        <vs-th sort-key="stok">Qty LG</vs-th>
                        <vs-th sort-key="price">Price / LG (Rp)</vs-th>
                        <vs-th sort-key="stok">Qty SM</vs-th>
                        <vs-th sort-key="price">Price / SM (Rp)</vs-th> 
                        <vs-th sort-key="total">Total (Rp)</vs-th>
                        <vs-th sort-key=""></vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                            <vs-td :data="indextr + 1 ">
                                {{indextr + 1}}
                            </vs-td>

                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>                           
                            <vs-td :data="data[indextr].qty_lg">
                                {{data[indextr].qty_lg}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_lg">
                                Rp.{{data[indextr].price_lg | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].qty_sm">
                                {{data[indextr].qty_sm}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                Rp.{{data[indextr].price_sm | currency}}
                            </vs-td> 
                            <vs-td :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>
                            <vs-td>                               
                                 
                            </vs-td>

                        </vs-tr>
                    </template>
                </vs-table>

                <vs-row class="mt-5">
                   
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ form.total | currency}}</b></h4>
                    </vs-col>
                </vs-row>
                
                

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button style="width:100px; background-color:mediumslateblue;" type="relief" @click.stop="back()">
                            Back</vs-button>                
                    </vs-col> 
                </vs-row>


                <div>
                  
                </div>

            </vx-card>
        </div>

    </div>
</template>



<script>
import vSelect from 'vue-select'


export default {
    components: {
        vSelect,
    },
    data() {

        return {  
            hide:true,
            dis:false,
            activePrompt: false,
            form: {
                workshop_id: null,
                workshop_code: null,
                order: null,
                product:null,
                qty_lg: 0, 
                qty_sm: 0, 
                total:0,
            }, 
            productList: [],  
            editValue: {
                workshop_d_id: null, 
                qty_lg: 0,
                qty_sm: 0,  
            },   
            codeSpkOptions: [],

            details: [],

        }
    },
    mounted() {
        this.$vs.loading({ type: 'radius' }); 
        this.form.workshop_id = this.$route.params.idworkshop; 
        this.loadData();
    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }
    },
    methods: {
        async loadDataCreate() { 
             await this.$http.get(this.$baseURL + '/project/workshop/create', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).then(res => {
                this.codeSpkOptions = res.data.list;     
                this.form.workshop_code = res.data.code;     
                this.productList = res.data.products;     
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close(); 
                console.log(err);
                this.$options.filters.auth(err.response.data.message)  
            })
        },
        async loadData() { 
             await this.$http.get(this.$baseURL + '/project/workshop/'+this.form.workshop_id+'/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).then(res => {
                this.codeSpkOptions = res.data.list;     
                this.form.workshop_code = res.data.data.workshop_code; 
                this.form.order = res.data.data.order;
                this.form.total = res.data.data.total;
                this.details = res.data.data.workshop_details;    
                this.productList = res.data.products;     
                this.hide = true;
                this.dis =true;
                this.$vs.loading.close();

            }).catch(err => {
                this.$vs.loading.close(); 
                console.log(err);
                this.$options.filters.auth(err.response.data.message)  
            })
        },

        async loadEdit() {
             
        },
 
        addProduct(){
            this.$vs.loading({  type: 'radius' }); 
        if(this.form.workshop_id == null){
            var dt = { 
                    order: this.form.order.order_id,
                    product:this.form.product.product_id,
                    qty_lg: this.form.qty_lg, 
                    qty_sm: this.form.qty_sm, 
                };
                this.$http.post(this.$baseURL+ '/project/workshop/store',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.form.workshop_id = res.data.data.workshop_id;
                    this.details = res.data.data.workshop_details;
                    this.form.total = res.data.data.total;
                    this.form.product = null;
                    this.form.qty_lg = 0;
                    this.form.qty_sm = 0
                    this.dis = true;
                    this.promptAlert("success","Success Create Workshop","")
                    this.$vs.loading.close();
                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again") 
                    }
                }); 
        }else{
              var dt = { 
                    workshop_id:this.form.workshop_id,
                    product:this.form.product.product_id,
                    qty_lg: this.form.qty_lg, 
                    qty_sm: this.form.qty_sm, 
                };
                this.$http.post(this.$baseURL+ '/project/workshop/details/store',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.details = res.data.data.workshop_details;
                    this.form.total = res.data.data.total;
                    this.form.product = null;
                    this.form.qty_lg = 0;
                    this.form.qty_sm = 0
                    this.promptAlert("success","Success Add Data","")
                    this.$vs.loading.close();
                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again") 
                    }
                });   
        }    
              
        },

        async loadPO(value) {
            
            
        },

        deleteData(tr) {
            this.editValue.workshop_d_id = tr.workshop_d_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this Post ?',
                accept: this.acceptAlert1
            })
        },
        acceptAlert1() {
           this.$vs.loading({  type: 'radius' }); 
            this.$http.delete(this.$baseURL + '/project/workshop/details/' + this.editValue.workshop_d_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => { 
                this.details = res.data.data.workshop_details;
                this.form.total = res.data.data.total;
                this.promptAlert("success", "Data Deleted", "The Workshop Detail was successfully Deleted");
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
            });
        },

        editData(tr) {
            this.editValue.workshop_d_id = tr.workshop_d_id;
            this.editValue.qty_lg = tr.qty_lg;
            this.editValue.qty_sm = tr.qty_sm; 

            this.activePrompt = true

        },

        submitEdit() {
           this.$vs.loading({  type: 'radius' }); 
             var dt = {  
                    qty_lg: this.editValue.qty_lg, 
                    qty_sm: this.editValue.qty_sm, 
                };
                this.$http.put(this.$baseURL+ '/project/workshop/details/'+this.editValue.workshop_d_id+'/update',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.details = res.data.data.workshop_details;
                    this.form.total = res.data.data.total;
                    this.promptAlert("success","Success Update Data","")
                    this.$vs.loading.close();
                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again") 
                    }
                }); 
        },

        submit(dt) {
           this.$vs.loading({  type: 'radius' }); 
            this.$http.put(this.$baseURL+ '/project/workshop/'+this.form.workshop_id+'/submit',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                    this.$vs.loading.close();
                    this.promptAlert("success","Success Submit Data","")
                     this.$router.go(-1) 
                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again") 
                    }
                }); 
        },

 
        close() {
            this.activePrompt = false;
            this.editValue.qty_lg = 0;
            this.editValue.qty_sm = 0; 
        },
        clearValMultiple() {
            // this.edit = null;
            this.product.id = null;
            this.product.qty_lg = 0;
            this.product.qty_sm = 1;
            this.product.price_lg = 0;
            this.product.price_sm = 0;
            this.product.disc = 0;
        },
        back(){
            this.$router.go(-1) 
        },
        promptAlert(type, title, text) {
                this.$vs.notify({
                    color: type,
                    title: title,
                    text: text
                })
            },



    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}


.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>