<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <vx-card ref="filterCard" title="Detail Pembelian" class="user-list-filters mb-8">
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Kode SPK : </span><br>
                    <h4>{{ spk }}</h4>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Tanggal : </span><br>
                    <h4>{{ date }}</h4>
                </div>
            </div>
            <div class="vx-row mt-5">
            
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span>Status: </span> <br>
                    <vs-chip v-if="status === 'close' && approved !== undefined" color="success">
                        <h4>Approved</h4>
                    </vs-chip>
                    <vs-chip v-else color="warning">
                        <h4>{{ status | capitalize }}</h4>
                    </vs-chip>
                </div>
            </div>
        </vx-card>

        <!-- NOTES -->
        <vs-card v-if="status !== 'open' && status !== 'pending' && status !== 'close'" class="p-0 mb-8">
            <vs-collapse>
                <vs-collapse-item>
                    <div slot="header">
                        <span>Notes</span>
                    </div>
                    <small>{{notes}}</small>
                </vs-collapse-item>
            </vs-collapse>
        </vs-card>
        <!-- END NOTES -->


        <div>
            <vx-card>
                <vs-table stripe :data="kasbons">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="id">No</vs-th>
                       <vs-th sort-key="name">Nama</vs-th>
                        <vs-th sort-key="name">Ref</vs-th>
                        <vs-th sort-key="name">Qty</vs-th>
                        <vs-th sort-key="nominal">Harga (Rp)</vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>
                           <vs-td :data="data[indextr].name">
                                {{data[indextr].name }}
                            </vs-td>
                            <vs-td :data="data[indextr].ref">
                                {{data[indextr].ref}}
                            </vs-td>
                            <vs-td :data="data[indextr].qty">
                                {{data[indextr].qty}}
                            </vs-td>
                            <vs-td class="text-right" :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>               
                        </vs-tr>
                    </template>
                </vs-table>
                <!-- <vs-row class="mt-5">
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ grandtotal | currency}}</b></h4>
                    </vs-col>
                </vs-row> -->

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button color="lightblue" style="width:100px;" type="relief" @click.stop="back()">
                            Back</vs-button>
                    </vs-col>
                </vs-row>
            </vx-card>
        </div>

    </div>
</template>



<script>
import vSelect from 'vue-select'
import VueSimpleSuggest from 'vue-simple-suggest';
import Datepicker from 'vuejs-datepicker';


export default {
    components: {
        VueSimpleSuggest,
        vSelect,
        Datepicker
    },
    data() {

        return {
            id:null,
            spk:null,
            date:null, 
            notes:null,
            status:null,
            approved:null,          
            grandtotal: 0,
            kasbons: [],
        }
    },
    mounted() {
        this.$vs.loading({
                type: 'radius'
            }); 
        this.loadData()
    },

    methods: {
        async loadData() {
            this.id = this.$route.params.idKasbon;

            var resReadKasbon = await this.$http.get(this.$baseURL + '/project/kasbon/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message)
            })

            var result = resReadKasbon.data.data;
            this.kasbons = result.kasbon_realisasi;
            this.spk = result.code_spk;
            this.date = result.entry_at;
            this.status = result.status;
            this.approved = result.approved;
            this.grandtotal = result.nominal;

            this.$vs.loading.close(); 
        },
        back() {
            
                this.$router.go(-1);
            

        },

    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>