<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard"   class="user-list-filters mb-8"   > 
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">     
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> SPK: </span> 
                   <b> {{form.order != null ? form.order.code_spk : ""}}</b>
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Vendor : </span>
                  <b> {{form.vendor != null ? form.vendor.name : ""}}</b> 
                </div> 
            </div>  
             <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Date : </span> 
                  <b>{{form.date | moment('DD-MM-YYYY')}}</b>  
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Description : </span> 
                   <b> {{form.description }}</b>
                </div>  
            </div>  
             <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Total Nilai Borongan : </span> 
                  <b>Rp.{{form.totalnilai | currency}}</b>  
                </div> 
                
            </div>  
        </vx-card> 
 

        <div>

            <vx-card  ref="bodyGL" class="user-list-filters mb-8">  
                <div class="vx-row">
                     
                </div>
                 <div>
                        
                    </div>
            <vs-table  :data="borongan">        
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between" style="margin-bottom:50px;">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container"> 
                    
                </div> 
                </div>
            

                <template slot="thead" >
                    <vs-th sort-key="no" >No</vs-th>
                    <vs-th sort-key="amount">Amount</vs-th>
                    <vs-th sort-key="progress">Progress</vs-th>
                    <vs-th sort-key="description">Description</vs-th> 
                   
                </template> 

                <template slot-scope="{data}" >  
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].amount">
                        Rp.{{data[indextr].amount | currency}}
                        </vs-td> 
                        <vs-td :data="data[indextr].progress">
                            {{data[indextr].progress}}%
                        </vs-td> 
                        <vs-td :data="data[indextr].description">
                            {{data[indextr].description}}
                        </vs-td>   
                    </vs-tr> 
                    <vs-tr> 
                        <vs-td></vs-td>
                        <vs-td></vs-td> 
                        <vs-td></vs-td> 
                        <vs-td colspan = "2" style="text-align:right;"> 
                          <vs-button  style="width:100px;  background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                        </vs-td>
                    </vs-tr>    
                </template> 
            </vs-table>  

             <div>
                
             </div>
             

        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 


export default{
    components: { 
    },
    data() {
        
        return { 
            activePrompt2:false,
            mode: 'input',
            selected: null,
            head:true,
            button:false,
            absen:{
                sn:false,
                sl:false,
                rb:false,
                km:false,
                jm:false,
                sb:false,
                mg:false,
            },
            form:{
                edit:false,
                borongan_id: null, 
                borongan_d_id: null, 
                order: null, 
                totalnilai: null, 
                vendor: null, 
                date: null, 
                description:null,
                amount:null,
                progress:null,
                description2:null,
            },  
            editValue:{
                amount:null,
                progres:null,
                description:null, 
            },
            orderOptions: [], 
            vendorOptions: [],  

            borongan: [],
          
        }
    },
   
    computed: {  
        validName(){
        // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }
    },
    created(){
        this.$vs.loading({ type: 'radius' });      
        this.form.borongan_id = this.$route.params.idborongan; 
        this.loadDataEdit();

    },
    methods:{
         
        loadDataEdit(){
            this.$http.get(this.$baseURL + '/project/borongan/'+this.form.borongan_id+'/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.form.order= res.data.data.order;
                this.form.vendor= res.data.data.vendor;
                this.borongan= res.data.data.borongan_details;
                this.form.date= res.data.data.entry_at;
                this.form.totalnilai= res.data.data.nominal;
                this.form.description= res.data.data.description;
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
            });
        },
        
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        }, 
        back(){
            this.$router.go(-1);
        },

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>