<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <div id="table-coa">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-tabs alignment="fixed">
                    <vs-tab label="List Workshop">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="workshop">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div v-if="this.createe == true" class="flex flex-wrap-reverse items-center data-list-btn-container">
                                    <div class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                        @click="addNewData">
                                        <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                        <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                                    </div>
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="indextr">No</vs-th>
                                <vs-th sort-key="created_at">Tanggal</vs-th>
                                <vs-th sort-key="workshop_code">Workshop Code</vs-th>
                                <vs-th sort-key="code">Code SPK</vs-th>
                                <vs-th sort-key="total">Total (Rp)</vs-th>
                                <vs-th sort-key="status">Status</vs-th>
                                <vs-th sort-key="action">Action</vs-th>
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                                    <vs-td :data="indextr + 1">
                                        {{indextr+1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td> 

                                    <vs-td :data="data[indextr].order">
                                        {{data[indextr].order != null ? data[indextr].order.code_spk :""}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].workshop_code">
                                        {{data[indextr].workshop_code}}
                                    </vs-td> 
                                    <vs-td :data="data[indextr].total">
                                        Rp.{{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">                                       
                                        <vs-chip v-if="data[indextr].status == 'open' || data[indextr].status == 'complete'" color="success">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else-if="data[indextr].status == 'pending'" color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="danger">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td> 
                                        <vs-col v-if="updatee == true" vs-w=6>
                                          
                                                <feather-icon icon="EditIcon" 
                                                v-if="data[indextr].status == 'open' || data[indextr].status == 'rejected' "
                                                v-tooltip="'Edit'"
                                                svgClasses="w-5 h-5 hover:text-warning stroke-current" class="ml-2" 
                                                @click.stop="edit(tr)" />
                                     
                                                
                                        </vs-col>
                                        <vs-col v-if="deletee == true" vs-w=4>
                                          
                                                <feather-icon icon="TrashIcon"
                                                     v-if="data[indextr].status == 'open' || data[indextr].status == 'rejected'"
                                                    v-tooltip="'Delete'"
                                                    svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                                    @click.stop="delet(tr)" />
                                         
                                                
                                        </vs-col>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>

                    <vs-tab label="List Workshop Pending">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="workshoppending">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="indextr">No</vs-th>
                                <vs-th sort-key="created_at">Tanggal</vs-th>
                                <vs-th sort-key="workshop_code">Workshop Code</vs-th>
                                <vs-th sort-key="code">Code SPK</vs-th>
                                <vs-th sort-key="total">Total (Rp)</vs-th>
                                <vs-th sort-key="status">Status</vs-th>
                                <vs-th sort-key="action">Action</vs-th>
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                                    <vs-td :data="indextr + 1">
                                        {{indextr+1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td> 

                                    <vs-td :data="data[indextr].order">
                                        {{data[indextr].order != null ? data[indextr].order.code_spk :""}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].workshop_code">
                                        {{data[indextr].workshop_code}}
                                    </vs-td> 
                                    <vs-td :data="data[indextr].total">
                                        Rp.{{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">                                       
                                        <vs-chip v-if="data[indextr].status == 'open' || data[indextr].status == 'complete'" color="success">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else-if="data[indextr].status == 'pending'" color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="danger">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>                                
                                    <vs-td>
                                        <vs-col v-if="updatee == true" vs-w=6>
                                                <feather-icon icon="CheckIcon"
                                                    v-tooltip="'Approve'" 
                                                    svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2"
                                                    @click.stop="approve(tr)" />
                                        </vs-col>
                                        <vs-col v-if="updatee == true" vs-w=6>
                                                <feather-icon icon="XIcon"
                                                    v-tooltip="'Reject'"  
                                                    svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2"
                                                    @click.stop="reject(tr)" />
                                        </vs-col>
                                    </vs-td>

                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                </vs-tabs>
            </vx-card>
        </div>
    </div>
</template>

<script>
    export default {
        components: {

        },
        data() {
            return {
                delete: [],
                workshop:[],
                workshop_id:null,
                workshoppending: null,
                createe:null,
                updatee:null,
                deletee:null,
                access:null,
                pembelianNot: []
            }
        },
        mounted() {
            this.$vs.loading({ type: 'radius' }); 
            this.loadData();
            console.log(this.$route);

        },


        methods: {
            async loadData() { 
                await this.$http.get(this.$baseURL + '/project/workshop', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).then(res => {
                    this.workshop = res.data.data;       
                    this.$vs.loading.close();
                }).catch(err => {
                    this.$vs.loading.close(); 
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message)  
                })

                 await this.$http.get(this.$baseURL + '/project/workshop/pending', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).then(res => {
                    this.workshoppending = res.data.data;       
                    this.$vs.loading.close();
                }).catch(err => {
                    this.$vs.loading.close(); 
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message)  
                })

                this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }

            },
            viewData(tr) {
                this.$router.push('/pages/viewworkshop/' + tr.workshop_id).catch(() => {})
            },           
            addNewData() {
                this.$router.push('/pages/formworkshop').catch(() => {})
            },
            approve(value) {
             this.workshop_id = value.workshop_id;   
            this.$vs.loading({ type: 'radius' }); 
                 this.$http.put(this.$baseURL + '/project/workshop/' + this.workshop_id + '/confirm', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$vs.loading.close();
                    this.promptAlert("success","Success Confirm Data","")
                    this.loadData();
                }).catch(err => {
                    this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again") 
                    }

                })
            },
            delet(value) {
                this.workshop_id = value.workshop_id;

                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Are you sure want to Delete this Data ?',
                    accept: this.acceptAlert
                })
            },
            acceptAlert() {
            this.$vs.loading({ type: 'radius' }); 
 
                this.$http.delete(this.$baseURL + '/project/workshop/' + this.workshop_id + '/delete',  {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).then(res => {
                    this.$vs.loading.close();
                    this.promptAlert("success","Success Delete Data","")
                    this.loadData();

                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                }) 

            },
            edit(value) {
                this.$router.push('/pages/editworkshop/' + value.workshop_id);
            },
            promptAlert(type, title, text) {
                this.$vs.notify({
                    color: type,
                    title: title,
                    text: text
                })
            },
            reject(value) {
                this.workshop_id    = value.workshop_id;

                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Are you sure want to reject This Workshop ?',
                    accept: this.acceptUnreject
                })
            },
            acceptUnreject() {             
                this.$http.put(this.$baseURL + '/project/workshop/' + this.workshop_id + '/reject', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.promptAlert("success","Success Reject Data","")
                    this.loadData();
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })
            },
        }

    }
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>