<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa"> 
        <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" actionButtons @refresh="resetColFilters" >
            <div class="vx-row">
                <span style="margin-left:15px; margin-top:10px;"> Date: </span>
                <datepicker placeholder="Select Date Start" v-model="form.dateStart" style="padding-left:45px;"></datepicker>
                <datepicker placeholder="Select Date Finish" v-model="form.dateFinish" style="padding-left:20px; padding-right:20px;"></datepicker>
            </div><br> 
            <div class="vx-row"> 
                <span style="margin-left:15px; margin-top:10px;"> Customer: </span> 
                <span><v-select v-model="form.customer" label='name' :clearable="true" :options="customerOptions" style=" width:435px; margin:5px 20px 0px 10px;" name="Category"/>  </span>
                <vs-button color="success" type="relief" @click="searchData">Search</vs-button>
            </div> 
        </vx-card> 
 

        <div id="data-list-list-view" class="data-list-container">

            <vx-card >
            <div style="float:right;">
                <table>
                    <tr>
                        <td>
                            <download-excel :data="piutangs" :fields="json_fields"  name="Report Piutang Terbayar"> 
                                <feather-icon icon="ShareIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"   />  
                            </download-excel> 
                        </td>
                        <td>
                            <feather-icon icon="PrinterIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"  @click="print()" />       
                        </td>
                    </tr>
                </table>  
            </div>      
            <vs-table  :data="piutangs">

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                    <span> </span>
                 
                </div> 
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="faktur">No Faktur</vs-th>
                    <vs-th sort-key="date">Date</vs-th>
                    <vs-th sort-key="customer">Customer</vs-th>
                    <vs-th sort-key="jumlahpiutang">Jumlah Piutang</vs-th>
                    <vs-th sort-key="jumlahterbayar">Jumlah Terbayar</vs-th>
                    <vs-th sort-key="sisa">Sisa Piutang</vs-th>
                </template> 

                <template slot-scope="{data}"> 
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].faktur" style="width:100px;">
                            {{data[indextr].faktur}}
                        </vs-td> 
                       
                        <vs-td :data="data[indextr].date" style="width:150px;">
                            {{data[indextr].date}}
                        </vs-td>
                        <vs-td :data="data[indextr].customer.id">
                            {{data[indextr].customer.name}}
                        </vs-td>
                         <vs-td :data="data[indextr].total">
                            Rp.{{data[indextr].total | currency}}
                        </vs-td>
                        <vs-td :data="data[indextr].paid_off">
                            Rp.{{data[indextr].paid_off | currency}}
                        </vs-td>
                        <vs-td :data="data[indextr].balance">
                            Rp.{{data[indextr].balance | currency}}
                        </vs-td>   
                    </vs-tr>
                    <vs-tr v-if="piutangs.length > 0 ">
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td><b> Total Piutang : Rp.{{totalPiutang | currency}} </b></vs-td>
                        <vs-td><b> Total Terbayar : Rp.{{totalTerbayar | currency}} </b></vs-td>
                        <vs-td><b> Sisa Piutang : Rp.{{sisaPiutang | currency}} </b></vs-td>
                    </vs-tr>
                </template> 
            </vs-table>  

            <div id="report" v-show="hide==false" >
                <h2>Report Piutang Terbayar</h2> 
                <span v-if="form.dateStart != null && form.dateFinish != null"> <b>Date:</b> {{form.dateStart | moment("DD-MM-YYYY")}} - {{form.dateFinish | moment("DD-MM-YYYY")}} <br></span>
                <span v-if="form.customer != null "> <b>Customer:</b> {{form.customer != null ? form.customer.name : ""}}</span>
                <table border="1" style="width:100%">
                    <tr style="text-align:center;">
                        <th >No</th>
                        <th >No Faktur</th>
                        <th >Date</th>
                        <th >Customer</th>
                        <th >Jumlah Piutang</th>
                        <th >Jumlah Terbayar</th>
                        <th >Sisa Piutang</th>
                    </tr>
                    <tr  v-for="(tr, indextr) in piutangs" :key="indextr" >
                        <td style="text-align:center;"> {{indextr + 1}}</td>
                        <td style="text-align:center;"> {{tr.faktur}}</td>
                        <td style="text-align:center;"> {{tr.date}}</td>
                        <td style="text-align:center;"> {{tr.customer != null ? tr.customer.name : ""}}</td>
                        <td style="text-align:center;"> Rp. {{tr.total | currency}}</td>
                        <td style="text-align:center;"> Rp. {{tr.paid_off | currency}}</td>
                        <td style="text-align:right;"> Rp. {{tr.balance | currency}}</td>
                    </tr>
                    <tr v-if="piutangs.length > 0 ">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b> Total Piutang : Rp.{{totalPiutang | currency}} </b></td>
                        <td><b> Total Terbayar : Rp.{{totalTerbayar | currency}} </b></td>
                        <td><b> Sisa Piutang : Rp.{{sisaPiutang | currency}} </b></td>
                    </tr>
                </table>
            </div> 

        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 
import vSelect from 'vue-select'
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         vSelect,
         Datepicker
    },
    data() {
        
        return { 
            show:false,
            hide:true,
            form:{
                dateStart: null,
                dateFinish: null,  
                status:null,  
                customer:null,  
            },  
            customerOptions: [
                "PT.AMS" , "RM. Achiang" ,"Hotel Aston Pontianak"
            ], 
            json_fields: {
                'No Faktur': 'faktur',
                'Date': 'date',
                'Customer': 'customer.name',
                'Jumlah Piutang': 'total',
                'Jumlah Terbayar': 'paid_off',
                'Sisa Piutang': 'balance'
            },
            json_meta: [
                [
                    {
                        'key': 'charset',
                        'value': 'utf-8'
                    }
                ]
            ],
            piutangs: [],

            totalPiutang:0,
            totalTerbayar:0,
            sisaPiutang:0,

            date:null,
            cust:null,
            dateFrom:null,
            dateTo:null,


        }
    },
   
    created(){ 
    this.$vs.loading({
          type: 'radius'
      });        
      this.loadData()
      
    }, 
    methods:{
        async loadData(){ 
            var com_id = this.$company != null ? this.$company.company_id : "";
            this.$http.get(this.$baseURL + '/reports/piutangterbayar?filter=company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.piutangs = res.data.data;
                this.totalTerbayar = res.data.message.total.piutang_terbayar;
                this.totalPiutang = res.data.message.total.piutang;
                this.sisaPiutang = res.data.message.total.sisa_piutang;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

            
            this.$http.get(this.$baseURL + '/master/customers?filter=company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.customerOptions = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
 
        }, 
        searchData(){
            var com_id = this.$company != null ? this.$company.company_id : "";
             this.$vs.loading({
                type: 'radius'
            });    
            if(this.form.dateStart == null && this.form.dateFinish == null){
               this.date = ''
            }else{
                this.dateFrom = this.$moment(this.form.dateStart).format("DD/MM/YYYY");
                this.dateTo = this.$moment(this.form.dateFinish).format("DD/MM/YYYY");
                this.date = '&date_from='+this.dateFrom+'&date_to='+this.dateTo
            }

            if(this.form.customer == null ){
               this.cust = ''
            }else{ 
                if( this.date==''){
                    this.cust = '&customer='+this.form.customer.customer_id 
                }else{
                    this.cust = '&customer='+this.form.customer.customer_id 
                }
            }
 
            
         if(this.form.dateStart == null && this.form.dateFinish == null && this.form.customer == null ){
             this.loadData()
         }else{
             this.$http.get(this.$baseURL + '/reports/piutangterbayar?filter=company_id|'+com_id+this.date+this.cust, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.piutangs = res.data.data;
                this.totalTerbayar = res.data.message.total.piutang_terbayar;
                this.totalPiutang = res.data.message.total.piutang;
                this.sisaPiutang = res.data.message.total.sisa_piutang;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

         }
            
        },
        addNewData() {
        this.sidebarData = {}
        this.toggleDataSidebar(true)
        },
        resetColFilters(){
            this.form.dateStart =  null
            this.form.dateFinish= null
            this.form.customer= null
            this.form.status= null
            this.$refs.filterCard.removeRefreshAnimation()
        },
        print() {
            // Pass the element id here
            this.$htmlToPaper('report');
        }

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>