<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" actionButtons @refresh="resetColFilters" >
            <div class="vx-row">
                <span style="margin-left:15px; margin-top:10px;"> Date: </span>
                <datepicker placeholder="Select Date Start" v-model="form.dateStart" style="padding-left:45px;"></datepicker>
                <datepicker placeholder="Select Date Finish" v-model="form.dateFinish" style="padding-left:20px; padding-right:20px;"></datepicker>
            </div><br> 
            <div class="vx-row"> 
                <span style="margin-left:15px; margin-top:10px;"> Customer: </span> 
                <span><v-select v-model="form.customer" :clearable="true" label="name" :options="customerOptions" style=" width:450px; margin:5px 20px 0px 10px;" name="Category"/>  </span>
                <vs-button color="success" type="relief" @click="searchData">Search</vs-button> 
            </div>
        </vx-card> 
 

        <div id="data-list-list-view" class="data-list-container">

            <vx-card >
            <div style="float:right;">
                <table>
                    <tr>
                        <td>
                            <download-excel :data="penjualans" :fields="json_fields"  name="Report Project"> 
                                <feather-icon icon="ShareIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"   />  
                            </download-excel> 
                        </td>
                        <td>
                            <feather-icon icon="PrinterIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"  @click="print()" />       
                        </td>
                    </tr>
                </table>  
            </div>   
                <vs-table  :data="penjualans">

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                    <span> </span>
                 
                </div> 
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="code_spk">Code SPK</vs-th>
                    <vs-th sort-key="work_order">Work Order</vs-th>
                    <vs-th sort-key="customer">Customer</vs-th>
                    <vs-th sort-key="entry_at">Date</vs-th>
                    <vs-th sort-key="total_project">Nilai Project</vs-th>
                    <vs-th sort-key="realisasi_project">Realisasi Project</vs-th>
                    <vs-th sort-key="realisasi_profit">Realisasi Profit</vs-th>
                    <vs-th sort-key="realisasi_cost">Realisasi Cost</vs-th>
                    <vs-th sort-key="status">Status</vs-th> 
                </template> 

                <template slot-scope="{data}"> 
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].code_spk">
                            {{data[indextr].code_spk}}
                        </vs-td> 
                       
                        <vs-td :data="data[indextr].work_order">
                            {{data[indextr].work_order}}
                        </vs-td>
                        <vs-td :data="data[indextr].customer">
                            {{data[indextr].customer != null ? data[indextr].customer.name : ""}}
                        </vs-td>
                        <vs-td :data="data[indextr].entry_at">
                            {{data[indextr].entry_at | moment("DD-MM-YYYY")}}
                        </vs-td>
                         <vs-td :data="data[indextr].total_project">
                            Rp.{{data[indextr].total_project | currency}}
                        </vs-td>
                        <vs-td :data="data[indextr].realisasi_total">
                            Rp.{{data[indextr].realisasi_total | currency}}
                        </vs-td> 
                        <vs-td :data="data[indextr].realisasi_profit">
                            Rp.{{data[indextr].realisasi_profit | currency}}
                        </vs-td> 
                        <vs-td :data="data[indextr].realisasi_cost">
                            Rp.{{data[indextr].realisasi_cost | currency}}
                        </vs-td> 
                        <vs-td :data="data[indextr].status">
                            {{data[indextr].status}}
                        </vs-td>
                    </vs-tr> 
                </template> 
            </vs-table>  
            <div id="report" v-show="hide==false" >
                <h2>Report Project</h2>
                <span v-if="form.dateStart != null && form.dateFinish != null"> <b>Date:</b> {{form.dateStart | moment("DD-MM-YYYY")}} - {{form.dateFinish | moment("DD-MM-YYYY")}} <br></span>
                <span v-if="form.customer != null "> <b>Customer:</b> {{form.customer != null ? form.customer.name : ""}}<br></span>
                <table border="1" style="width:100%">
                    <tr style="text-align:center;">
                        <th>No</th>
                        <th>Code SPK</th>
                        <th>Work Order</th>
                        <th>Customer</th>
                        <th>Date</th>
                        <th>Nilai Project</th>
                        <th>Realisasi Project</th>
                        <th>Realisasi Profit</th>
                        <th>Realisasi Cost</th> 
                        <th>Status</th> 
                    </tr>
                    <tr v-for="(tr, indextr) in penjualans" :key="indextr" >
                        <td style="text-align:center;"> {{indextr + 1}}</td>
                        <td style="text-align:center;"> {{tr.code_spk}}</td>
                        <td style="text-align:center;"> {{tr.work_order}}</td>
                        <td style="text-align:center;"> {{tr.customer != null ? tr.customer.name : ""}}</td>
                        <td style="text-align:center;"> {{tr.entry_at | moment("DD-MM-YYYY")}}</td>
                        <td style="text-align:center;"> Rp.{{tr.total_project | currency}}</td>
                        <td style="text-align:center;"> Rp.{{tr.realisasi_total | currency}}</td>
                        <td style="text-align:center;"> Rp.{{tr.realisasi_profit | currency}}</td>
                        <td style="text-align:right;">  Rp.{{tr.realisasi_cost | currency}}</td>
                        <td style="text-align:center;"> {{tr.status}}</td>
                    </tr> 
                </table>
            </div>    
        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 
 import vSelect from 'vue-select'
 import Datepicker from 'vuejs-datepicker';
export default{
    components: { 
         vSelect,
         Datepicker
    },
    data() {
        
        return { 
            show:false,
            hide:true,
            form:{
                dateStart: null,
                dateFinish: null,
                user:null,  
                customer:null,  
            }, 
            userOptions: [ ], 
            customerOptions: [ ],

            json_fields: {
                'Code SPK': 'code_spk',
                'work_order': 'work_order',
                'Customer': 'customer.name',
                'Date': { 
                    callback: (value) => {
                        return ` ${this.$moment(value.entry_at).format('DD-MM-YYYY')}`;
                    }
                },
                'Total Project': 'total_project',
                'Profit': 'realisasi_profit',
                'Cost': 'realisasi_cost',
                'Status': 'status'
            },
            json_meta: [
                [
                    {
                        'key': 'charset',
                        'value': 'utf-8'
                    }
                ]
            ],
            penjualans:null,
            totalPenjualan:0,
             

            date:null,
            user:null,
            cust:null,
            dateFrom:null,
            dateTo:null,
          
        }
    },
   
    created(){ 
    this.$vs.loading({
          type: 'radius'
      });        
      this.loadData()
      
     }, 
    methods:{
         async loadData(){ 
            var com_id = this.$company != null ? this.$company.company_id : "";
            this.$http.get(this.$baseURL + '/project/orders?filter=company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.penjualans = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

    

            this.$http.get(this.$baseURL + '/master/customers?filter=company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.customerOptions = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
               
        }, 
        searchData(){
            var com_id = this.$company != null ? this.$company.company_id : "";
             this.$vs.loading({ type: 'radius' });    
            if(this.form.dateStart == null && this.form.dateFinish == null){
               this.date = ''
            }else{
                this.dateFrom = this.$moment(this.form.dateStart).format("DD/MM/YYYY");
                this.dateTo = this.$moment(this.form.dateFinish).format("DD/MM/YYYY");
                this.date = '&date_from='+this.dateFrom+'&date_to='+this.dateTo
            }

            if(this.form.customer == null ){
                this.cust = ''
            }else{ 
                if(this.form.user == null &&  this.form.dateFinish == null){
                    this.cust = ';customer_id|'+this.form.customer.customer_id 
                }else{
                    this.cust = ';customer_id|'+this.form.customer.customer_id  
                }
            }
         if(this.form.dateStart == null && this.form.dateFinish == null && this.form.customer == null ){
             this.loadData()
         }else{
             this.$http.get(this.$baseURL + '/project/orders?filter=company_id|'+com_id+this.cust+this.date, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.penjualans = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

         }
            
        },
 
        addNewData() {
        this.sidebarData = {}
        this.toggleDataSidebar(true)
        },
        resetColFilters(){
            this.form.dateStart =  null
            this.form.dateFinish= null
            this.form.user= null
            this.form.customer= null
            this.$refs.filterCard.removeRefreshAnimation()
        },
        print() {
            // Pass the element id here
            this.$htmlToPaper('report');
        }
        

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>