<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" actionButtons @refresh="resetColFilters" >
            <div class="vx-row">
                <span style="margin-left:15px; margin-top:10px;"> Date: </span>
                <datepicker placeholder="Select Date Start" v-model="form.dateStart" style="padding-left:45px;"></datepicker>
                <datepicker placeholder="Select Date Finish" v-model="form.dateFinish" style="padding-left:20px; padding-right:20px;"></datepicker>
            </div><br>
            <div class="vx-row"> 
                <span style="margin-left:15px; margin-top:10px;"> User: </span> 
                <span><v-select v-model="form.user" :clearable="true" label="username" :options="userOptions" placeHolder="User" style=" width:450px; margin:5px 0px 15px 45px;" name="User"/>  </span>
            </div>  
            <div class="vx-row"> 
                <span style="margin-left:15px; margin-top:10px;"> Customer: </span> 
                <span><v-select v-model="form.customer" :clearable="true" label="name" :options="customerOptions" style=" width:450px; margin:5px 20px 0px 10px;" name="Category"/>  </span>
                <vs-button color="success" type="relief" @click="searchData">Search</vs-button> 
            </div>
        </vx-card> 
 

        <div id="data-list-list-view" class="data-list-container">

            <vx-card >
            <div style="float:right;">
                <table>
                    <tr>
                        <td>
                            <feather-icon v-tooltip="'Export E-Faktur'" icon="ExternalLinkIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2"  @click="formefaktur()"  />  
                        </td>
                        <td>
                            <download-excel :data="penjualans" :fields="json_fields"  name="Report Penjualan"> 
                                <feather-icon v-tooltip="'Export Excel'" icon="ShareIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"   />  
                            </download-excel> 
                        </td>
                        <td>
                            <feather-icon  v-tooltip="'Print'" icon="PrinterIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"  @click="print()" />       
                        </td>
                    </tr>
                </table>  
            </div>   
                <vs-table  :data="penjualans">

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                    <span> </span>
                 
                </div> 
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="nofaktur">No Faktur</vs-th>
                    <vs-th sort-key="date">Date</vs-th>
                    <vs-th sort-key="customer">Customer</vs-th>
                    <vs-th sort-key="payment">Payment</vs-th>
                    <vs-th sort-key="inputby">Input By</vs-th>
                    <vs-th sort-key="jumlah">Jumlah</vs-th> 
                </template> 

                <template slot-scope="{data}"> 
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].faktur">
                            {{data[indextr].faktur}}
                        </vs-td> 
                       
                        <vs-td :data="data[indextr].date">
                            {{data[indextr].date}}
                        </vs-td>
                        <vs-td :data="data[indextr].customer.name">
                            {{data[indextr].customer.name}}
                        </vs-td>
                         <vs-td :data="data[indextr].payment">
                            {{data[indextr].payment}}
                        </vs-td>
                        <vs-td :data="data[indextr].user.name">
                            {{data[indextr].user.name}}
                        </vs-td> 
                        <vs-td :data="data[indextr].total">
                            Rp.{{data[indextr].total | currency}}
                        </vs-td> 
                    </vs-tr>
                    <vs-tr  v-if="penjualans != null ">
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td colspan="2"> <b> Total : Rp.{{totalPenjualan | currency}}</b></vs-td>
                    </vs-tr>
                </template> 
            </vs-table>  
            <div id="report" v-show="hide==false" >
                <h2>Report Penjualan</h2>
                <span v-if="form.dateStart != null && form.dateFinish != null"> <b>Date:</b> {{form.dateStart | moment("DD-MM-YYYY")}} - {{form.dateFinish | moment("DD-MM-YYYY")}} <br></span>
                <span v-if="form.user != null "> <b>User:</b> {{form.user != null ? form.user.username : ""}} <br></span>
                <span v-if="form.customer != null "> <b>Customer:</b> {{form.customer != null ? form.customer.name : ""}}<br></span>
                <table border="1" style="width:100%">
                    <tr style="text-align:center;">
                        <th>No</th>
                        <th >No Faktur</th>
                        <th >Date</th>
                        <th >Customer</th>
                        <th >Payment</th>
                        <th >Input By</th>
                        <th >Jumlah</th> 
                    </tr>
                    <tr  v-for="(tr, indextr) in penjualans" :key="indextr" >
                        <td style="text-align:center;"> {{indextr + 1}}</td>
                        <td style="text-align:center;"> {{tr.faktur}}</td>
                        <td style="text-align:center;"> {{tr.date}}</td>
                        <td style="text-align:center;"> {{tr.customer.name}}</td>
                        <td style="text-align:center;"> {{tr.payment}}</td>
                        <td style="text-align:center;"> {{tr.user.name}}</td>
                        <td style="text-align:right;"> Rp. {{tr.total | currency}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="2"> <b> Total : Rp.{{totalPenjualan | currency}}</b></td>
                    </tr>
                </table>
            </div>    
            
              <!-- FORM -->   
            <vs-prompt class="email-compose"
                @cancel="resetPrompt"
                @accept="submitPrompt"
                @close="resetPrompt"
                accept-text = "Submit"  :is-valid="validName" :active.sync="modalPromptActive"  :title="'No Faktur Pajak'">
                    <form @submit.prevent >  
                        <table style="padding-left:20px; padding-right:20px;  width:80%;">
                            <tr>
                                <td style="width:10%;">
                                    <vs-input v-model="form.faktur1" min="0" type='number' label=" "   class="w-full"/> 
                                </td>
                                <td style="width:10%;">
                                    <vs-input v-model="form.faktur2" min="0" type='number' label=" "   class="w-full"/> 
                                </td>
                                <td style="width:30%;">
                                    <vs-input v-model="form.faktur3" min="0" type='number' label=" "   class="w-full"/> 
                                </td>
                            </tr>
                        </table>
                    </form> 
            </vs-prompt>     
        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 
 import vSelect from 'vue-select'
 import Datepicker from 'vuejs-datepicker';

export default{
    components: { 
         vSelect,
         Datepicker
    },
    data() {
        
        return { 
            show:false,
            hide:true,
            modalPromptActive:false,
            form:{
                dateStart: null,
                dateFinish: null,
                user:null,  
                customer:null,  
                faktur1:null,
                faktur2:null,
                faktur3:null,
            }, 
            userOptions: [ ], 
            customerOptions: [ ],

            json_fields: {
                'No Faktur': 'faktur',
                'Date': 'date',
                'Customer': 'customer.name',
                'Payment': 'payment',
                'Input By': 'user.name',
                'Jumlah': 'total'
            },
            json_meta: [
                [
                    {
                        'key': 'charset',
                        'value': 'utf-8'
                    }
                ]
            ],
            penjualans:null,
            totalPenjualan:0,
             

            date:null,
            user:null,
            cust:null,
            dateFrom:null,
            dateTo:null,
          
        }
    },
   
    created(){ 
    this.$vs.loading({
          type: 'radius'
      });        
      this.loadData()
      
     }, 
     computed:{
         validName(){
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
            }, 
    },
    methods:{
         async loadData(){ 
             var com_id= this.$company != null ? this.$company.company_id :"";
            this.$http.get(this.$baseURL + '/reports/penjualan?filter=company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.penjualans = res.data.data;
                this.totalPenjualan = res.data.message.total.penjualan;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

            this.$http.get(this.$baseURL + '/auth/users?filter=company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.userOptions = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

            this.$http.get(this.$baseURL + '/master/customers?filter=company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.customerOptions = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
               
        }, 
        searchData(){
             var com_id= this.$company != null ? this.$company.company_id :"";
             this.$vs.loading({
                type: 'radius'
            });    
            if(this.form.dateStart == null && this.form.dateFinish == null){
               this.date = ''
            }else{
                this.dateFrom = this.$moment(this.form.dateStart).format("DD/MM/YYYY");
                this.dateTo = this.$moment(this.form.dateFinish).format("DD/MM/YYYY");
                this.date = '&date_from='+this.dateFrom+'&date_to='+this.dateTo
            }

            if(this.form.user == null ){
               this.user = ''
            }else{ 
                if( this.date==''){
                    this.user = '&user='+this.form.user.user_id 
                }else{
                    this.user = '&user='+this.form.user.user_id 
                }
            }

            if(this.form.customer == null ){
                this.cust = ''
            }else{ 
                if(this.form.user == null &&  this.form.dateFinish == null){
                    this.cust = '&customer='+this.form.customer.customer_id 
                }else{
                    this.cust = '&customer='+this.form.customer.customer_id  
                }
            }
         if(this.form.dateStart == null && this.form.dateFinish == null && this.form.customer == null && this.form.user == null){
             this.loadData()
         }else{
             this.$http.get(this.$baseURL + '/reports/penjualan?company_id|'+com_id+this.date+this.user+this.cust, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.penjualans = res.data.data;
                this.totalPenjualan = res.data.message.total.penjualan;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

         }
            
        },
 
        addNewData() {
        this.sidebarData = {}
        this.toggleDataSidebar(true)
        },
        resetColFilters(){
            this.form.dateStart =  null
            this.form.dateFinish= null
            this.form.user= null
            this.form.customer= null
            this.$refs.filterCard.removeRefreshAnimation()
        },
        print() {
            // Pass the element id here
            this.$htmlToPaper('report');
        },
        formefaktur(){
            this.modalPromptActive= true;
        },

        submitPrompt() {
            var com_id = this.$company != null ? this.$company.company_id : "";
            if(this.form.dateStart == null && this.form.dateFinish == null){
                this.date = ''
            }else{
                this.dateFrom = this.$moment(this.form.dateStart).format("DD/MM/YYYY");
                this.dateTo = this.$moment(this.form.dateFinish).format("DD/MM/YYYY");
                this.date = '&date_from='+this.dateFrom+'&date_to='+this.dateTo
            }

            if(this.form.user == null ){
               this.user = ''
            }else{ 
                if( this.date==''){
                    this.user = '&user='+this.form.user.user_id 
                }else{
                    this.user = '&user='+this.form.user.user_id 
                }
            }

            if(this.form.customer == null ){
                this.cust = ''
            }else{ 
                if(this.form.user == null &&  this.form.dateFinish == null){
                    this.cust = '&customer='+this.form.customer.customer_id 
                }else{
                    this.cust = '&customer='+this.form.customer.customer_id  
                }
            } 
                this.$http.get(this.$baseURL + '/reports/downloadExcelEFaktur?filter=company_id|'+com_id+'&faktur1='+this.form.faktur1+'&faktur2='+this.form.faktur2+'&faktur3='+this.form.faktur3+this.date+this.user+this.cust, {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(response => { 
                    const url = URL.createObjectURL(new Blob([response.data], {
                        type: 'application/vnd.ms-excel'
                    }))
                    const link = document.createElement('a')
                    link.href = url
                    link.setAttribute('download', "document_efaktur.csv")
                    document.body.appendChild(link)
                    link.click()
                    
                }).catch(err => {
                if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }
                    console.log(err.data.message);
                }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
 
        },
 
        resetPrompt() {
          this.form.faktur1 = null;
          this.form.faktur2 = null;
          this.form.faktur3 = null; 
        } 
        

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
} 
//dialog widht 
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 28%;
            // height: 70%;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 100%;
                } 
            }
        } 
    }  
</style>