<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">   

        <div id="data-list-list-view" class="data-list-container">
            <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" actionButtons @refresh="resetColFilters" >
                <div class="vx-row">
                    <span style="margin-left:15px; margin-top:10px;"> Date: </span>
                    <datepicker placeholder="Select Date Start" v-model="form.dateStart" style="padding-left:45px;"></datepicker>
                    <datepicker placeholder="Select Date Finish" v-model="form.dateFinish" style="padding-left:20px; padding-right:20px;"></datepicker>
                    <vs-button color="success" type="relief" @click="searchData">Search</vs-button> 

                </div><br> 
            </vx-card> 

            <vx-card >
            <div style="float:right;">
                <table>
                    <tr>
                        <td>
                            <download-excel :data="mutasiStok" :fields="json_fields"  name="Report Mutasi Stock"> 
                                <feather-icon icon="ShareIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"   />  
                            </download-excel> 
                        </td>
                        <td>
                            <feather-icon icon="PrinterIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"  @click="print()" />       
                        </td>
                    </tr>
                </table>
            </div>      
            <vs-table   :data="mutasiStok" >

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                    <span> </span>
                 
                </div> 
                </div>

                <template slot="thead" >
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="code">Code Product</vs-th>
                    <vs-th sort-key="productname">Product Name</vs-th>
                    <vs-th sort-key="stockmasuk">Stok Masuk</vs-th> 
                    <vs-th sort-key="stockkeluar">Stok Keluar</vs-th>
                </template> 

                <template slot-scope="{data}" > 
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;"> 
                        <vs-td :data="indextr" >
                            {{indextr + 1}}
                        </vs-td> 
                        <vs-td :data="data[indextr].product">
                            {{data[indextr].product != null ? data[indextr].product.code : ""}}
                        </vs-td>  
                        <vs-td :data="data[indextr].product">
                            {{data[indextr].product != null ? data[indextr].product.name : ""}}
                        </vs-td>
                        <vs-td :data="data[indextr].qty_in" >
                            {{data[indextr].qty_in.sm}} ({{data[indextr].product != null ? data[indextr].product.unit_sm : ""}})
                        </vs-td> 
                        <vs-td :data="data[indextr].stock_out" >
                            {{data[indextr].qty_out.sm}} ({{data[indextr].product != null ? data[indextr].product.unit_sm : ""}})
                        </vs-td> 
                    </vs-tr> 
                </template> 
            </vs-table> 

            <div id="report" v-show="hide==false" >
                <h2>Report Mutasi Stock</h2> 
                <span v-if="form.dateStart != null && form.dateFinish != null"> <b>Date:</b> {{form.dateStart | moment("DD-MM-YYYY")}} - {{form.dateFinish | moment("DD-MM-YYYY")}} <br></span>
                <table border="1" style="width:100%">
                    <tr style="text-align:center;">
                        <th >No</th>
                        <th >Code Product</th>
                        <th >Product Name</th>
                        <th >Stok Masuk</th>
                        <th >Stok Keluar</th>
                    </tr>
                    <tr  v-for="(tr, indextr) in mutasiStok" :key="indextr" >
                        <td style="text-align:center;"> {{indextr + 1}}</td>
                        <td style="text-align:center;"> {{tr.product != null ? tr.product.code : ""}}</td>
                        <td style="text-align:center;"> {{tr.product != null ? tr.product.name : ""}}</td>
                        <td style="text-align:center;"> {{tr.qty_in.sm}} ({{tr.product != null ? tr.product.unit_sm : ""}})</td>
                        <td style="text-align:center;"> {{tr.qty_out.sm}} ({{tr.product != null ? tr.product.unit_sm : ""}})</td> 
                    </tr> 
                </table>
            </div> 

        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM --> 
</template> 

<script>
 
 import vSelect from 'vue-select'
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         vSelect,
         Datepicker
    },
    data() {
        
        return { 
            hide:true,
            form:{
                dateStart: null,
                dateFinish: null,  
            },  
            customerOptions: [],
            json_fields: {
                'Code Product': 'product.code',
                'Product Name': 'product.name', 
                'Stok Masuk': { 
                    callback: (value) => {
                        return ` ${value.qty_in.lg} (${value.product.unit_lg}),${value.qty_in.sm} (${value.product.unit_sm})`;
                    }
                },
                'Stok Keluar': { 
                    callback: (value) => {
                        return ` ${value.qty_out.lg} (${value.product.unit_lg}),${value.qty_out.sm} (${value.product.unit_sm})`;
                    }
                },
            },
            json_meta: [
                [
                    {
                        'key': 'charset',
                        'value': 'utf-8'
                    }
                ]
            ],

            mutasiStok: [],

            date:null,
            dateFrom:null,
            dateTo:null,
        }
    },
   
    created(){ 
    this.$vs.loading({
          type: 'radius'
      });        
      this.loadData()
      
    },
    methods:{
        async loadData(){ 
            var com_id = this.$company != null ? this.$company.company_id : "";
            this.$http.get(this.$baseURL + '/reports/mutasistock?company_id=1', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.mutasiStok = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

             
 
        },
        searchData(){
            var com_id = this.$company != null ? this.$company.company_id : "";
             this.$vs.loading({
                type: 'radius'
            });    
            if(this.form.dateStart == null && this.form.dateFinish == null){
               this.date = ''
            }else{
                this.dateFrom = this.$moment(this.form.dateStart).format("DD/MM/YYYY");
                this.dateTo = this.$moment(this.form.dateFinish).format("DD/MM/YYYY");
                this.date = '&date_from='+this.dateFrom+'&date_to='+this.dateTo
            }
 
            
         if(this.form.dateStart == null && this.form.dateFinish == null ){
             this.loadData()
         }else{
             this.$http.get(this.$baseURL + '/reports/mutasistock?filter=company_id|'+com_id+this.date, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.mutasiStok = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

         }
            
        },
        addNewData() {
        this.sidebarData = {}
        this.toggleDataSidebar(true)
        },
        resetColFilters(){
            this.form.dateStart =  null
            this.form.dateFinish= null 
            this.$refs.filterCard.removeRefreshAnimation()
        },
        print(){
            this.$htmlToPaper('report');
        },
        

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>