<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">   

        <div id="data-list-list-view" class="data-list-container">

            <vx-card >
            <div style="float:left;">
                <table>
                    <tr>
                        <td>
                            <download-excel :data="jumlahStok" :fields="json_fields"  name="Report Jumlah Stock"> 
                                <feather-icon icon="ShareIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"   />  
                            </download-excel> 
                        </td>
                        <td>
                            <feather-icon icon="PrinterIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"  @click="print()" />       
                        </td>
                    </tr>
                </table>
            </div>      
            <vs-table search :data="jumlahStok" >

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                    <span> </span>
                 
                </div> 
                </div>

                <template slot="thead" >
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="code">Code Product</vs-th>
                    <vs-th sort-key="productname">Product Name</vs-th>
                    <vs-th sort-key="category">Category</vs-th>
                    <vs-th sort-key="qty">Qty</vs-th> 
                </template> 

                <template slot-scope="{data}" > 
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                        <vs-td :data="indextr" >
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].code"  >
                            {{data[indextr].code}}
                        </vs-td> 
                       
                        <vs-td :data="data[indextr].name"  >
                            {{data[indextr].name}}
                        </vs-td>
                        <vs-td :data="data[indextr].category"  >
                            {{data[indextr].category}}
                        </vs-td>
                        <vs-td :data="data[indextr].stock.qty.lg">
                            {{data[indextr].stock.qty.lg}} ({{data[indextr].stock.unit.lg}}),{{data[indextr].stock.qty.sm}} ({{data[indextr].stock.unit.sm}}) 
                        </vs-td> 
                    </vs-tr> 
                </template> 
            </vs-table>  

            <div id="report" v-show="hide==false" >
                <h2>Report Jumlah Stock</h2> 
                <table border="1" style="width:100%">
                    <tr style="text-align:center;">
                        <th >No</th>
                        <th >Code Product</th>
                        <th >Product Name</th>
                        <th >Category</th>
                        <th >Qty</th>
                    </tr>
                    <tr  v-for="(tr, indextr) in jumlahStok" :key="indextr" >
                        <td style="text-align:center;"> {{indextr + 1}}</td>
                        <td style="text-align:center;"> {{tr.code}}</td>
                        <td style="text-align:center;"> {{tr.name}}</td>
                        <td style="text-align:center;"> {{tr.category  }}</td>
                        <td style="text-align:center;">  {{tr.stock.qty.lg}} ({{tr.stock.unit.lg}}),{{tr.stock.qty.sm}} ({{tr.stock.unit.sm}}) </td> 
                    </tr> 
                </table>
            </div>
        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 
import vSelect from 'vue-select'
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         vSelect,
         Datepicker
    },
    data() {
        
        return {    
            hide:true,
            jumlahStok: [],
            json_fields: {
                'Code Product': 'code',
                'Product Name': 'name',
                'Category': 'category',
                'Qty': {
                    field:'stock',
                    callback: (value) => {
                        return ` ${value.qty.lg} (${value.unit.lg}),${value.qty.sm} (${value.unit.sm})`;
                    }
                },
            },
            json_meta: [
                [
                    {
                        'key': 'charset',
                        'value': 'utf-8'
                    }
                ]
            ],

        }
    },
   
    created(){ 
    this.$vs.loading({
          type: 'radius'
      });        
      this.loadData()
      
    }, 
    methods:{
        async loadData(){ 
            var wh_id = this.$company != null ? this.$company.warehouse[0].wh_id : "";
            this.$http.get(this.$baseURL + '/reports/jumlahstock?company=1', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.jumlahStok = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

             
 
        },
        addNewData() {
        this.sidebarData = {}
        this.toggleDataSidebar(true)
        },
        resetColFilters(){
            this.form.dateStart =  null
            this.form.dateFinish= null
            this.form.customer= null
            this.form.status= null
            this.$refs.filterCard.removeRefreshAnimation()
        },
        print(){
            this.$htmlToPaper('report');
        },

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>