<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">   

        <div id="data-list-list-view" class="data-list-container">
            <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" actionButtons @refresh="resetColFilters" >
                <div class="vx-row">
                    <span style="margin-left:15px; margin-top:10px;"> Date: </span>
                    <datepicker placeholder="Select Date Start" v-model="form.dateStart" style="padding-left:45px;"></datepicker>
                    <datepicker placeholder="Select Date Finish" v-model="form.dateFinish" style="padding-left:20px; padding-right:20px;"></datepicker>

                </div><br> 
                <div class="vx-row"> 
                    <span style="margin:10px 20px 0 15px; "> Kas: </span> 
                    <v-select :clearable="true" v-model="form.kas" :getOptionLabel="option => option.name" :options="kasOptions" style="  width:460px; margin:5px 20px 10px 35px;" name="COA Pembelian">
                    <template #option="{code, name}">
                                    <cite>{{ code }}</cite> - {{ name }} 
                    </template>
                    </v-select>
                </div>
                <div class="vx-row"> 
                    <span style="margin:10px 0 0 15px;"> Status: </span> 
                    <span><v-select v-model="form.status" :clearable="true" :options="statusOptions" style="  width:460px; margin:5px 20px 0px 35px;" name="Category"/>  </span>
                    <vs-button color="success" type="relief" @click="searchData">Search</vs-button> 

                </div>
            </vx-card> 

            <vx-card >
            <div style="float:right;">
                <table>
                    <tr>
                        <td>
                            <download-excel :data="cashs" :fields="json_fields"  name="Report Cash"> 
                                <feather-icon icon="ShareIcon" svgCl
                                asses="w-5 h-5 hover:text-primary stroke-current"   />  
                            </download-excel> 
                        </td>
                        <td>
                            <feather-icon icon="PrinterIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"  @click="print()" />       
                        </td>
                    </tr>
                </table>
            </div>      
            <vs-table  :data="cashs" >

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                    <span> </span>
                 
                </div> 
                </div>

                <template slot="thead" >
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="ref">Ref</vs-th>
                    <vs-th sort-key="date">Date</vs-th>
                    <vs-th sort-key="coa">From COA</vs-th>
                    <vs-th sort-key="coa">To COA</vs-th>
                    <vs-th sort-key="desc">Description</vs-th>
                    <vs-th sort-key="status">Status</vs-th>
                    <vs-th sort-key="amount">Amount</vs-th>
                </template> 

                <template slot-scope="{data}"> 
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;"> 
                        <vs-td :data="indextr" >
                            {{indextr + 1}}
                        </vs-td> 
                        <vs-td :data="data[indextr].reference">
                            {{data[indextr].reference}}
                        </vs-td>  
                        <vs-td :data="data[indextr].entry_at">
                            {{data[indextr].entry_at | moment("DD-MM-YYYY")}}
                        </vs-td>
                        <vs-td :data="data[indextr].from_coa.code" >
                            {{data[indextr].from_coa != null ? data[indextr].from_coa.code : ""}} | {{data[indextr].from_coa != null ? data[indextr].from_coa.name : ""}}
                        </vs-td> 
                        <vs-td :data="data[indextr].to_coa.code" >
                            {{data[indextr].to_coa != null ? data[indextr].to_coa.code : ""}} | {{data[indextr].to_coa != null ? data[indextr].to_coa.name : ""}}
                        </vs-td> 
                        <vs-td :data="data[indextr].description" >
                            {{data[indextr].description}}
                        </vs-td> 
                        <vs-td :data="data[indextr].type" >
                            {{data[indextr].type}}
                        </vs-td> 
                        <vs-td :data="data[indextr].nominal" >
                            Rp. {{data[indextr].nominal | currency}}
                        </vs-td> 
                    </vs-tr> 
                </template> 
            </vs-table>  
            <div id="report" v-show="hide==false" >
                <h2>Report Mutasi Stock</h2> 
                <span v-if="form.dateStart != null && form.dateFinish != null"> <b>Date:</b> {{form.dateStart | moment("DD-MM-YYYY")}} - {{form.dateFinish | moment("DD-MM-YYYY")}} <br></span>
                <span v-if="form.status != null "> <b>Status:</b> {{form.status}} <br></span>
                <span v-if="form.kas != null "> <b>Kas:</b> {{form.kas != null ? form.kas.code : ""}} | {{form.kas != null ? form.kas.name : ""}}</span>
                <table border="1" style="width:100%">
                    <tr style="text-align:center;">
                        <th >No</th>
                        <th >Ref</th>
                        <th >Date</th>
                        <th >From COA</th>
                        <th >To COA</th>
                        <th >Description</th>
                        <th >Status</th>
                        <th >Amount</th>
                    </tr>
                    <tr  v-for="(tr, indextr) in cashs" :key="indextr" >
                        <td style="text-align:center;"> {{indextr + 1}}</td>
                        <td style="text-align:center;"> {{tr.reference }}</td>
                        <td style="text-align:center;"> {{tr.entry_at | moment("DD-MM-YYYY") }}</td>
                        <td style="text-align:center;"> {{tr.from_coa != null ? tr.from_coa.code : ""}} | {{tr.from_coa != null ? tr.from_coa.name : ""}} </td>
                        <td style="text-align:center;"> {{tr.to_coa != null ? tr.to_coa.code : ""}} | {{tr.to_coa != null ? tr.to_coa.name : ""}}</td> 
                        <td style="text-align:center;"> {{tr.description }}</td>
                        <td style="text-align:center;"> {{tr.type }}</td>
                        <td style="text-align:center;"> Rp. {{tr.nominal | currency }}</td>
                    </tr> 
                </table>
            </div>

        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM --> 
</template> 

<script>
 
 import vSelect from 'vue-select'
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         vSelect,
         Datepicker
    },
    data() {
        
        return { 
            hide:true,
            form:{
                dateStart: null,
                dateFinish: null,  
                status:null,  
                kas:null,  
            },   
            
            statusOptions: [
                "Cash In" , "Cash Out" 
            ],
            kasOptions: [
                "1112 Kas Besar" , "1113 Kas Kecil" 
            ],
            json_fields: {
                'Ref': 'reference',
                'Date': 'entry_at',
                'Date': { 
                    callback: (value) => {
                        return ` ${this.$moment(value.entry_at).format('DD-MM-YYYY')}`;
                    }
                }, 
                'From COA': { 
                    callback: (value) => {
                        return ` ${value.from_coa.code} | ${value.from_coa.name}`;
                    }
                },
                'To COA': { 
                    callback: (value) => {
                        return ` ${value.to_coa.code} | ${value.to_coa.name}`;
                    }
                },
                'Description': 'description', 
                'Status': 'type', 
                'Amount': 'nominal', 
            },
            json_meta: [
                [
                    {
                        'key': 'charset',
                        'value': 'utf-8'
                    }
                ]
            ],
            cashs: [],
            date:null,
            kas:null,
            status:null,
            dateFrom:null,
            dateTo:null,
        }
    },
   
    created(){ 
    this.$vs.loading({
          type: 'radius'
      });        
      this.loadData()
      
    },
    methods:{
        async loadData(){ 
            var com_id = this.$company != null ? this.$company.company_id : "";
            this.$http.get(this.$baseURL + '/finance/kas?filter=company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.cashs = res.data.data;
                this.$vs.loading.close()
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));   

            this.$http.get(this.$baseURL + '/accounting/coa?filter=fromcode|11;company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.kasOptions = res.data.data;
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));   

        },
        searchData(){
            var com_id = this.$company != null ? this.$company.company_id : "";
            this.cashs = null,
             this.$vs.loading({
                type: 'radius'
            });    
            if(this.form.dateStart == null && this.form.dateFinish == null){
               this.date = ''
            }else{
                this.dateFrom = this.$moment(this.form.dateStart).format("DD/MM/YYYY");
                this.dateTo = this.$moment(this.form.dateFinish).format("DD/MM/YYYY");
                this.date = '&date_from='+this.dateFrom+'&date_to='+this.dateTo
            }

            
            if(this.form.kas == null ){
               this.kas = ''
            }else{ 
                if( this.date==''){
                    this.kas = ';from_coa|'+this.form.kas.code 
                }else{
                    this.kas = ';from_coa|'+this.form.kas.code 
                }
            }

            if(this.form.status == null ){
                this.status = ''
            }else{ 
                if(this.form.kas == null &&  this.form.dateFinish == null){
                    this.status = ';status|'+this.form.status 
                }else{
                    this.status = ';status|'+this.form.status  
                }
            }
            
         if(this.form.dateStart == null && this.form.dateFinish == null && this.form.kas == null && this.form.status == null){
             this.loadData()
         }else{
             this.$http.get(this.$baseURL + '/finance/kas?filter=company_id|'+com_id+this.status+this.kas+this.date, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.cashs = res.data.data;
                this.$vs.loading.close()    
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

         }
            
        },
        addNewData() {
        this.sidebarData = {}
        this.toggleDataSidebar(true)
        },
        resetColFilters(){
            this.form.dateStart =  null
            this.form.dateFinish= null
            this.form.kas= null
            this.form.status= null
            this.$refs.filterCard.removeRefreshAnimation()
        },
        print(){
            this.$htmlToPaper('report');
        },

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>