<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" actionButtons @refresh="resetColFilters" >
            <div class="vx-row">
                <span style="margin-left:15px; margin-top:10px;"> Date: </span>
                <datepicker placeholder="Select Date Start" v-model="form.dateStart" style="padding-left:45px;"></datepicker>
                <datepicker placeholder="Select Date Finish" v-model="form.dateFinish" style="padding-left:20px; padding-right:20px;"></datepicker>
            </div><br>
            <div class="vx-row"> 
                <span style="margin-left:15px; margin-top:10px;"> User: </span> 
                <span><v-select v-model="form.user" :clearable="true" label='username' :options="userOptions" placeHolder="User" style=" width:450px; margin:5px 0px 15px 48px;" name="User"/>  </span>
            </div>  
            <div class="vx-row"> 
                <span style="margin-left:15px; margin-top:10px;"> Supplier: </span> 
                <span><v-select v-model="form.supplier" :clearable="true" label='name' :options="supplierOptions" style=" width:448px; margin:5px 20px 0px 20px;" name="Category"/>  </span>
            </div>
            <div class="vx-row"> 
                <span style="margin-left:15px; margin-top:20px;"> Product: </span> 
                <span><v-select v-model="form.product" :clearable="true" label='name' :options="productOptions" style=" width:450px; margin:15px 20px 0px 23px;" name="Category"/>  </span>
                <vs-button color="success" type="relief" style="margin-top:10px; height:45px;" @click="searchData">Search</vs-button> 
            </div>
        </vx-card> 
 

        <div id="data-list-list-view" class="data-list-container">

            <vx-card >
            <div style="float:right;">
                <feather-icon icon="ShareIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"  @click="exportExcel()" />
                <feather-icon icon="PrinterIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"  @click="print()"/>       
            </div>      
            <vs-table :data="pembelians" >

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                    <span> </span>
                 
                </div> 
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="data">Data</vs-th>
                </template> 

                <template> 
                    <vs-tr :key="tr.id" v-for="(tr, indextr) in pembelians">

                        <vs-td :data="tr.id" style="vertical-align: top; text-align:center;">
                             {{indextr + 1}}
                        </vs-td> 
                        <vs-td >
                            <div class="vx-row" >
                                <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                                    <span ><b>Tanggal :</b></span>  
                                    <span>{{tr.date}}</span>
                                </div> 
                                <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                                    <span><b>No Faktur :</b></span>  
                                    <span>{{tr.faktur}}</span>
                                </div>
                                <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                                    <span><b>Suplier :</b></span>  
                                    <span>{{tr.supplier != null ? tr.supplier.name : ""}}</span>
                                </div>
                                <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                                    <span><b>Pembayaran :</b></span>  
                                    <span>{{tr.payment}}</span>
                                </div> 
                            </div>  
                            <div class="vx-row" style="border-top:1px solid; border-bottom:1px solid; padding:8px 0 8px 0;" >
                                <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                                    <span><b>Keterangan</b></span>  
                                </div> 
                                <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                                    <span><b>Jumlah</b></span>  
                                </div>
                                <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                                    <span><b>Harga Satuan</b></span>   
                                </div>
                                <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                                    <span><b>Sub Total</b></span>   
                                </div> 
                            </div>
                            
                            <div class="vx-row"   v-for="trp in tr.product" :key="trp.idproduct" >
                                <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                                    <span>{{trp.description}}</span>
                                </div> 
                                <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                                    <span>{{trp.qty != null ? trp.qty.lg : ""}} {{trp != null ? trp.unit.lg : ""}}, {{trp != null ? trp.qty.sm : ""}} {{trp != null ? trp.unit.sm : ""}}</span>
                                </div>
                                <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                                    <span>Rp.{{trp.price != null ? trp.price.lg : "" | currency}},Rp.{{trp.price != null ? trp.price.sm : "" | currency}}</span>
                                </div>
                                <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                                    <span>Rp.{{trp.amount | currency}}</span>
                                </div> 
                            </div>
                            
                            <div class="vx-row" style="border-top:1px solid; padding:8px 0 8px 0;" >
                                <div class="vx-col md:w-1/3 sm:w-1/3 w-full">
                                    <span><b>Status : </b></span>  
                                    <span><b>Complete </b></span>  
                                </div> 
                                <div class="vx-col md:w-1/3 sm:w-1/3 w-full">
                                    <span><b>Tax: </b></span>  
                                    <span>Rp.{{tr.tax}}</span>   

                                </div>
                                <div class="vx-col md:w-1/3 sm:w-1/3 w-full">
                                    <span><b>Total: </b></span>
                                    <span>Rp.{{tr.total | currency}}</span>   
                                </div> 
                            </div>
                            <div class="vx-row" style="border-bottom:1px solid; padding:8px 0 8px 0;" >
                                <div class="vx-col md:w-1/3 sm:w-1/3 w-full">
                                    <span><b>Input By :</b></span>  
                                    <span>{{tr.user != null ? tr.user.name : ""}}</span>   

                                </div> 
                                <div class="vx-col md:w-1/3 sm:w-1/3 w-full">
                                    <span><b>Discount :</b></span> 
                                    <span>{{tr.discount}} </span>   
                                    
                                </div>
                                <div class="vx-col md:w-1/3 sm:w-1/3 w-full">
                                    <span><b>Pembayaran</b></span> 
                                    <span>Rp.{{tr.pay_off | currency}}</span>   

                                </div> 
                            </div>

                        </vs-td> 
                        
                    </vs-tr>
                </template> 
            </vs-table>   

            <div id="report" v-show="hide==false"  >
                <h2>Report Pembelian Detail</h2>
                <span v-if="form.dateStart != null && form.dateFinish != null"> <b>Date:</b> {{form.dateStart | moment("DD-MM-YYYY")}} - {{form.dateFinish | moment("DD-MM-YYYY")}} <br></span>
                <span v-if="form.user != null "> <b>User:</b> {{form.user != null ? form.user.username : ""}} <br></span>
                <span v-if="form.customer != null "> <b>Customer:</b> {{form.customer != null ? form.customer.name : ""}}<br></span>
                <span v-if="form.product != null "> <b>Status:</b> {{form.product != null ? form.product.name : ""}}</span>
                <table border="0" style="width:100%">
                    <tr style="text-align:center; border-bottom:1px solid; border-top:1px solid;">
                        <th>No</th>
                        <th style="text-align:left; ">Data</th> 
                    </tr>
                    <tr  v-for="(tr, indextr) in pembelians" :key="indextr" style="border-bottom:1px solid;" >
                        <td style="text-align:center;"> {{indextr + 1}}</td>
                        <td >
                            <table style="width:100%">
                                <tr style="border-bottom:1px solid;">
                                    <td>
                                        <b>Tanggal :</b>  
                                        {{tr.date}}
                                    </td>
                                    <td>
                                        <b>No Faktur :</b>   
                                        {{tr.faktur}}
                                    </td>
                                    <td>  
                                        <b>Supplier :</b>  
                                        {{tr.supplier != null ? tr.supplier.name: ""}}
                                    </td>
                                    <td>  
                                        <b>Pembayaran :</b>  
                                        {{tr.payment}}
                                    </td>
                                </tr>
                                <tr style="text-align:left; border-bottom:1px solid;">
                                    <td>
                                        <b>Keterangan</b>  
                                    </td>
                                    <td>
                                       <b>Jumlah</b> 
                                    </td>
                                    <td>  
                                       <b>Harga Satuan</b> 
                                    </td>
                                    <td>  
                                       <b>Sub Total</b> 
                                    </td>
                                </tr>
                                <tr  v-for="trp in tr.product" :key="trp.idproduct" style="border-bottom:1px solid;">
                                    <td>  
                                        {{trp.description}}
                                    </td>
                                    <td> 
                                        {{trp.qty != null ? trp.qty.lg :""}} {{trp.unit != null ? trp.unit.lg :""}}, {{trp.qty != null ? trp.qty.sm:""}} {{trp.unit != null ? trp.unit.sm:""}} 
                                    </td>
                                    <td> 
                                        Rp.{{trp != null ? trp.price.sm : "" | currency}},Rp.{{trp.price != null ? trp.price.sm : "" | currency}}
                                    </td>
                                    <td> 
                                        Rp.{{trp.amount | currency}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Sales: </b></td>
                                    <td colspan="2" style="text-align:center;">
                                        <b>Tax: </b>
                                        Rp.{{tr.tax}}
                                    </td>
                                    <td>
                                        <b>Total: </b>
                                        Rp.{{tr.total | currency}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Input By :</b>
                                        {{tr.user != null ? tr.user.name : ""}}
                                    </td>
                                    <td colspan="2" style="text-align:center;">
                                        <b>Discount :</b>
                                        {{tr.discount}}
                                    </td>
                                    <td>
                                        <b>Pembayaran</b>
                                        Rp.{{tr.pay_off | currency}}
                                    </td>
                                </tr>

                            </table>  

                               
                        </td> 
                    </tr> 
                </table>
            </div>
        </vx-card>
        </div> 
    </div>
    
    <!-- FORM --> 
</template>



<script>
 
import vSelect from 'vue-select'
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         vSelect,
         Datepicker
    },
    data() {
        
        return { 
            hide:true,
            form:{
                dateStart: null,
                dateFinish: null,
                user:null,  
                supplier:null,  
                product:null,  
            }, 
            userOptions: [
                "Admin" , "Accounting" ,"Supervisor"
            ], 
            supplierOptions: [],
            productOptions: [
                "Papan" , "RM. Achiang" ,"Hotel Aston Pontianak"
            ],

            pembelians: [], 

            date:'',
            user:'',
            sup:null,
            product:null,
            dateFrom:null,
            dateTo:null,


        }
    },
   
    created(){ 
    this.$vs.loading({
          type: 'radius'
      });        
      this.loadData()
      
    }, 
    methods:{
         async loadData(){ 
            var com_id = this.$company != null ? this.$company.company_id : "";
            var wh_id = this.$company != null ? this.$company.warehouse[0].wh_id : "";
            this.$http.get(this.$baseURL + '/reports/pembeliandetail?filter=company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.pembelians = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

            this.$http.get(this.$baseURL + '/auth/users?filter=company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.userOptions = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

            this.$http.get(this.$baseURL + '/master/suppliers?filter=company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.supplierOptions = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 

            this.$http.get(this.$baseURL + '/master/products?filter=wh_id|'+wh_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.productOptions = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
               
        }, 

        searchData(){
            var com_id = this.$company != null ? this.$company.company_id : "";
             this.$vs.loading({
                type: 'radius'
            });   
             
            if(this.form.dateStart == null && this.form.dateFinish == null){
               this.date = ''
            }else{
                this.dateFrom = this.$moment(this.form.dateStart).format("DD/MM/YYYY");
                this.dateTo = this.$moment(this.form.dateFinish).format("DD/MM/YYYY");
                this.date = 'date_from='+this.dateFrom+'&date_to='+this.dateTo
            }

            if(this.form.user == null ){
               this.user = ''
            }else{ 
                if( this.date==''){
                    this.user = '&user='+this.form.user.user_id 
                }else{
                    this.user = '&user='+this.form.user.user_id 
                }
            }

            if(this.form.supplier == null ){
                this.sup = ''
            }else{ 
                if(this.form.user == null &&  this.form.dateFinish == null){
                    this.sup = '&supplier='+this.form.supplier.supplier_id 
                }else{
                    this.sup = '&supplier='+this.form.supplier.supplier_id  
                }
            }

             if(this.form.product == null ){
                this.product = ''
            }else{ 
                if(this.form.user == null &&  this.form.dateFinish == null && this.form.customer == null){
                    this.product = '&product='+this.form.product.product_id 
                }else{
                    this.product = '&product='+this.form.product.product_id  
                }
            }
         if(this.form.dateStart == null && this.form.dateFinish == null && this.form.supplier == null && this.form.user == null && this.form.product == null){
             this.loadData()
         }else{
             this.$http.get(this.$baseURL + '/reports/pembeliandetail?filter=company_id|'+com_id+this.date+this.user+this.sup+this.product, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.pembelians = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

         }
            
        },

        exportExcel(){ 
            var com_id = this.$company != null ? this.$company.company_id : "";
          if(this.form.dateStart == null && this.form.dateFinish == null){
               this.date = ''
            }else{
                this.dateFrom = this.$moment(this.form.dateStart).format("DD/MM/YYYY");
                this.dateTo = this.$moment(this.form.dateFinish).format("DD/MM/YYYY");
                this.date = '&date_from='+this.dateFrom+'&date_to='+this.dateTo
            }

            if(this.form.user == null ){
               this.user = ''
            }else{ 
                if( this.date==''){
                    this.user = '&user='+this.form.user.user_id 
                }else{
                    this.user = '&user='+this.form.user.user_id 
                }
            }

            if(this.form.supplier == null ){
                this.sup = ''
            }else{ 
                if(this.form.user == null &&  this.form.dateFinish == null){
                    this.sup = '&supplier='+this.form.supplier.supplier_id 
                }else{
                    this.sup = '&supplier='+this.form.supplier.supplier_id  
                }
            }

             if(this.form.product == null ){
                this.product = ''
            }else{ 
                if(this.form.user == null &&  this.form.dateFinish == null && this.form.customer == null){
                    this.product = '&product='+this.form.product.product_id 
                }else{
                    this.product = '&product='+this.form.product.product_id  
                }
            }   
            this.$http({ 
                    url: this.$baseURL + '/reports/downloadExcelReportPembelianDetail?filter=company_id|'+com_id+this.date+this.user+this.sup+this.product, 
                    method: 'GET',
                    responseType: 'blob', 
                }).then((response) => {
                    const url = URL.createObjectURL(new Blob([response.data], {
                        type: 'application/vnd.ms-excel'
                    }))
                    const link = document.createElement('a')
                    link.href = url
                    link.setAttribute('download', "ReportPembelianDetail.xlsx")
                    document.body.appendChild(link)
                    link.click()
                }); 
        },
        addNewData() {
        this.sidebarData = {}
        this.toggleDataSidebar(true)
        },
        resetColFilters(){
            this.form.dateStart =  null
            this.form.dateFinish= null
            this.form.user= null
            this.form.customer= null
            this.$refs.filterCard.removeRefreshAnimation()
        },
        print(){
            this.$htmlToPaper('report');
        },

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>