<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa"> 
        <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" actionButtons @refresh="resetColFilters" >
            <div class="vx-row">
                <span style="margin-left:15px; margin-top:10px;"> Date: </span>
                <datepicker placeholder="Select Date Start" v-model="form.dateStart" style="padding-left:45px;"></datepicker>
                <datepicker placeholder="Select Date Finish" v-model="form.dateFinish" style="padding-left:20px; padding-right:20px;"></datepicker>
            </div><br> 
            <div class="vx-row"> 
                <span style="margin-left:15px; margin-top:10px;"> Supplier: </span> 
                <span><v-select v-model="form.supplier" :clearable="true" label='name' :options="supplierOptions" style=" width:450px; margin:5px 20px 0px 18px;" name="Category"/>  </span>
            </div>
            <div class="vx-row"> 
                <span style="margin-left:15px; margin-top:20px;"> Status: </span> 
                <span><v-select v-model="form.status" :clearable="true"  :options="statusOptions" style=" width:450px; margin:15px 20px 0px 35px;" name="Status"/>  </span>
                <vs-button color="success" type="relief" style="height:45px; margin-top:10px;" @click='searchData'>Search</vs-button> 
            </div>
        </vx-card> 
 

        <div id="data-list-list-view" class="data-list-container">

            <vx-card >
            <div style="float:right;">
              <table>
                    <tr>
                        <td>
                            <download-excel :data="hutangs" :fields="json_fields"  name="Report Hutang"> 
                                <feather-icon icon="ShareIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"   />  
                            </download-excel> 
                        </td>
                        <td>
                            <feather-icon icon="PrinterIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"  @click="print()" />       
                        </td>
                    </tr>
                </table> 
              </div>      
            <vs-table  :data="hutangs" >

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                    <span> </span>
                 
                </div> 
                </div>

                <template slot="thead" >
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="faktur">Faktur</vs-th>
                    <vs-th sort-key="date">Date</vs-th>
                    <vs-th sort-key="dateexpired">Expired</vs-th>
                    <vs-th sort-key="suplier">Suplier</vs-th>
                    <vs-th sort-key="jumlahpiutang">Jumlah Hutang</vs-th>
                    <vs-th sort-key="jumlahterbayar">Terbayar</vs-th>
                    <vs-th sort-key="sisa">Sisa</vs-th>
                </template> 

                <template slot-scope="{data}" > 
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                        <vs-td :data="indextr" >
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].faktur" style="width:100px;">
                            {{data[indextr].faktur}}
                        </vs-td> 
                       
                        <vs-td :data="data[indextr].date" style="width:150px;">
                            {{data[indextr].date}}
                        </vs-td>
                        <vs-td :data="data[indextr].expired" style="width:150px;">
                            {{data[indextr].expired}}
                        </vs-td>
                        <vs-td :data="data[indextr].supplier.name">
                            {{data[indextr].supplier.name}}
                        </vs-td>
                         <vs-td :data="data[indextr].total">
                            Rp.{{data[indextr].total | currency}}
                        </vs-td>
                        <vs-td :data="data[indextr].paid_off">
                            Rp.{{data[indextr].paid_off | currency}}
                        </vs-td>
                        <vs-td :data="data[indextr].balance">
                            Rp.{{data[indextr].balance | currency}}
                        </vs-td>  
                    </vs-tr>
                    <vs-tr v-if="hutangs.length > 0">
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td><b> Total Hutang : Rp.{{totalHutang | currency}} </b></vs-td>
                        <vs-td><b> Total Terbayar : Rp.{{totalTerbayar | currency}} </b></vs-td>
                        <vs-td><b> Sisa Hutang : Rp.{{sisaHutang | currency}} </b></vs-td>
                    </vs-tr>
                </template> 
            </vs-table>  
            <div id="report" v-show="hide==false" >
                <h2>Report Hutang</h2> 
                <span v-if="form.dateStart != null && form.dateFinish != null"> <b>Date:</b> {{form.dateStart | moment("DD-MM-YYYY")}} - {{form.dateFinish | moment("DD-MM-YYYY")}} <br></span>
                <span v-if="form.status != null "> <b>Status:</b> {{form.status}} <br></span>
                <span v-if="form.supplier != null "> <b>Supplier:</b> {{form.supplier != null ? form.supplier.name : ""}}</span>
                <table border="1" style="width:100%">
                    <tr style="text-align:center;">
                        <th >No</th>
                        <th >Faktur</th>
                        <th >Date</th>
                        <th >Expired</th>
                        <th >Supplier</th>
                        <th >Jumlah Hutang</th>
                        <th >Terbayar</th>
                        <th >Sisa</th>
                    </tr>
                    <tr  v-for="(tr, indextr) in hutangs" :key="indextr" >
                        <td style="text-align:center;"> {{indextr + 1}}</td>
                        <td style="text-align:center;"> {{tr.faktur}}</td>
                        <td style="text-align:center;"> {{tr.date}}</td>
                        <td style="text-align:center;"> {{tr.expired  }}</td>
                        <td style="text-align:center;"> {{tr.supplier != null ? tr.supplier.name : ""}}</td>
                        <td style="text-align:center;"> Rp. {{tr.total | currency}}</td>
                        <td style="text-align:center;"> Rp. {{tr.paid_off | currency}}</td>
                        <td style="text-align:right;"> Rp. {{tr.balance | currency}}</td>
                    </tr>
                    <tr v-if="hutangs.length > 0 ">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b> Total Hutang : Rp.{{totalHutang | currency}} </b></td>
                        <td><b> Total Terbayar : Rp.{{totalTerbayar | currency}} </b></td>
                        <td><b> Sisa Hutang : Rp.{{sisaHutang | currency}} </b></td>
                    </tr>
                </table>
            </div>
        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 
import vSelect from 'vue-select'
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         vSelect,
         Datepicker
    },
    data() {
        
        return { 
            show:false,
            hide:true,
            form:{
                dateStart: null,
                dateFinish: null,  
                status:null,  
                supplier:null,  
            },  
            supplierOptions: [
            ],
            statusOptions: [
                "paid" , "unpaid" 
            ],
            json_fields: {
                'Faktur': 'faktur',
                'Date': 'date',
                'Expired': 'expired',
                'Supplier': 'supplier.name',
                'Jumlah Hutang': 'total',
                'Terbayar': 'paid_off',
                'Sisa': 'balance'
            },
            json_meta: [
                [
                    {
                        'key': 'charset',
                        'value': 'utf-8'
                    }
                ]
            ],
            hutangs: [],

            totalHutang:0,
            totalTerbayar:0,
            sisaHutang:0,

            date:null,
            supplier:null,
            status:null,
            dateFrom:null,
            dateTo:null,
        }
    },
   
    created(){ 
    this.$vs.loading({
          type: 'radius'
      });        
      this.loadData()
      
    }, 
    methods:{
        async loadData(){ 
            var com_id = this.$company != null ? this.$company.company_id : "";
            this.$http.get(this.$baseURL + '/reports/hutang?filter=company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.hutangs = res.data.data;
                this.totalTerbayar = res.data.message.total.hutang_terbayar;
                this.sisaHutang = res.data.message.total.sisa_hutang;
                this.totalHutang = res.data.message.total.hutang;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

            
            this.$http.get(this.$baseURL + '/master/suppliers?filter=company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.supplierOptions = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
 
        }, 
        searchData(){
            var com_id = this.$company != null ? this.$company.company_id : "";
             this.$vs.loading({
                type: 'radius'
            });    
            if(this.form.dateStart == null && this.form.dateFinish == null){
               this.date = ''
            }else{
                this.dateFrom = this.$moment(this.form.dateStart).format("DD/MM/YYYY");
                this.dateTo = this.$moment(this.form.dateFinish).format("DD/MM/YYYY");
                this.date = '&date_from='+this.dateFrom+'&date_to='+this.dateTo
            }

            if(this.form.supplier == null ){
               this.supplier = ''
            }else{ 
                    this.supplier = '&supplier='+this.form.supplier.supplier_id 
            }

            if(this.form.status == null ){
                this.status = ''
            }else{ 
                    this.status = '&status='+this.form.status  
            }
            
         if(this.form.dateStart == null && this.form.dateFinish == null && this.form.supplier == null && this.form.status == null){
             this.loadData()
         }else{
             this.$http.get(this.$baseURL + '/reports/hutang?filter=company_id|'+com_id+this.date+this.supplier+this.status, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                 this.hutangs = res.data.data;
                this.totalTerbayar = res.data.message.total.hutang_terbayar;
                this.sisaHutang = res.data.message.total.sisa_hutang;
                this.totalHutang = res.data.message.total.hutang
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

         }
            
        },
        addNewData() {
        this.sidebarData = {}
        this.toggleDataSidebar(true)
        },
        resetColFilters(){
            this.form.dateStart =  null
            this.form.dateFinish= null
            this.form.customer= null
            this.form.status= null
            this.$refs.filterCard.removeRefreshAnimation()
        },
        print(){
            this.$htmlToPaper('report');
        },

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>