<!-- =========================================================================================
    File Name: Login.vue
    Description: Login Page
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <!-- <div> -->
    <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center" id="page-login">
        <div class="vx-col sm:w-1/2 md:w-1/2 lg:w-3/4 xl:w-3/5 sm:m-0 m-4">
            <vx-card>
                <div slot="no-body" class="full-page-bg-color">

                    <div class="vx-row no-gutter justify-center items-center">

                        <div class="vx-col hidden lg:block lg:w-1/2">
                            <img src="@assets/images/pages/LogoLogin.png" alt="login" class="mx-auto">
                        </div>

                        <div class="vx-col sm:w-full md:w-full lg:w-1/2 d-theme-dark-bg">
                            <div class="p-8 login-tabs-container">

                                <div class="vx-card__title mb-4">
                                    <h4 class="mb-4">Login</h4>
                                    <p>Welcome back, please login to your account.</p>
                                </div>

                                <div>
                                    <vs-input name="email" icon-no-border icon="icon icon-user" icon-pack="feather"
                                        label-placeholder="Email" v-model="email" class="w-full" />

                                    <vs-input type="password" name="password" icon-no-border icon="icon icon-lock"
                                        icon-pack="feather" label-placeholder="Password" v-model="password"
                                        v-on:keyup.enter="login" class="w-full mt-6" />
                                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">Company</span><br>
                                    <v-select class="w-full" :clearable="true" v-model="comId" :getOptionLabel="option => option.name" :options="listCompany" >
                                        <template #option="{ name}">
                                                        {{ name }} 
                                        </template>
                                    </v-select>
                                    <div class="flex flex-wrap justify-between my-5">
                                        <router-link to="">&nbsp;</router-link>
                                    </div>
                                    <vs-button v-on:click="login" class="float-right">Login</vs-button>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </vx-card>
        </div>
    </div>
    <!-- </div> -->
</template>

<script>
import vSelect from 'vue-select'
export default {
    components: { 
        vSelect,

    },
    data() {
        return {
            cek: null,
            email: "owner@email.com",
            password: "owner123",
            comId:null,
            checkbox_remember_me: false,
            listCompany:[],
        }
    },
    mounted() { 
        this.loadData()
    },
    methods: {
        async loadData() {
            this.$http.get(this.$baseURL + '/auth/listcompany', {
                
            }).then(res => {
                this.listCompany = res.data.data;
             
            }).catch(err => {
                this.$vs.loading.close(); 
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
            

            var resKe = await this.$http.get(this.$baseURL + '/accounting/coa?filter=fromcode|11', { 
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                // this.$options.filters.auth(err.response.data.message);
                this.cek = err.response.data.message;
            })

            // console.log(resKe.data.data);

            if (this.cek === null) {
                window.location.href = '/home';
            }
        },
        async login() {
         if(this.comId != null){
             this.$vs.loading({
                type: 'radius'
            });
            this.$http.post(this.$baseURL + '/auth/login',
                this.$qs.stringify({
                    company_id: this.comId.company_id,
                    identity: this.email,
                    password: this.password
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                localStorage.token = res.data.data.token;
                localStorage.user = JSON.stringify(res.data.data.user);
                // console.log(localStorage.token);

                window.location.href = '/home';
            }).catch(err => {
                console.log(err);
                this.$vs.loading.close();
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));
        }
         }       
    }
}
</script>

<style lang="scss">
#page-login {
  .social-login-buttons {
    .bg-facebook { background-color: #1551b1 }
    .bg-twitter { background-color: #00aaff }
    .bg-google { background-color: #4285F4 }
    .bg-github { background-color: #333 }
  }
}
</style>
