<!-- =========================================================================================
    File Name: Login.vue
    Description: Login Page
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
     <div id="printMe">               
                <div class="container">
                   <div>
                       <div class="vx-row">  
                            <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style=""> 
                               <table border="0">
                                   <tr>
                                    <td rowspan="3"> <img src="@assets/images/pages/LogoLogin.png" alt="login" style=" width:100px; height:100px;"> 
                                    </td>
                                    <td>
                                        <h1 >{{this.$company.name}}</h1> 
                                    </td>
                                </tr>
                                <tr>  
                                    <td>
                                       <h6>{{this.$company.address}}</h6> 
                                    </td>
                                    </tr>
                                <tr> 
                                    <td>
                                        <h6>Telp. {{this.$company.phone}}</h6>  
                                    </td>
                                </tr>
                               </table>
                                
                            </div>
                            
                        </div>
                        <div style="float:right;">
                           <feather-icon  icon="PrinterIcon"   svgClasses="w-5 h-5 stroke-current" class="ml-2" @click.stop="print()" />
                        </div>  
                        <vs-divider/>
                        <vs-row>
                            <vs-col class="text-center" vs-w="12">
                                <h4>INVOICE</h4>
                            </vs-col> 
                        </vs-row>
                        <div class="vs-col">
                            <div class="vs-row ">
                                <tr>
                                    <td style="text-align:right; padding-left:44px;">
                                    <b>Invoice #</b> 
                                    </td>
                                    <td style="padding-left:20px;">
                                        {{this.code_inv}}
                                    </td>
                                </tr>
                            </div> 
                            <div class="vs-row ">
                                <tr>
                                    <td style="text-align:right; padding-left:10px;">
                                    <b>Work Order #</b> 
                                    </td>
                                    <td style="padding-left:20px;">
                                        {{this.work_order}}
                                    </td>
                                </tr>
                            </div> 
                        </div>
                        <div class="vs-col" style="padding-left:40px;">
                            <div class="vs-row">
                                <tr>
                                    <td>
                                        <b>[{{this.desctermin}}]</b>
                                    </td>
                                </tr>
                            </div>
                        </div>
                        <div style="float:right; padding-right:100px;">
                            <b>DATE {{this.invoice_date | moment('DD-MM-YYYY')}}</b>
                        </div>
                   </div> 
                    
                     
                    <vs-row class="mb-5" style="padding-top:30px;">
                        <vs-col vs-w="7" > 
                        </vs-col>
                        <vs-col vs-w="5" >
                             <div class="vs-col md:w-1/4 sm:w-1/4 w-half" style="text-align:right; padding-right:10px;">
                               <b>BILL To</b> 
                            </div>
                            <div class="vs-col md:w-1/2 sm:w-1/2 w-full" style="padding-left:10px;">
                                <div class="vs-row">
                                   <b> {{this.customer != null ? this.customer.name : ""}}</b>
                                </div>
                                <div class="vs-row">
                                    {{this.customer != null ? this.customer.address : ""}}
                                </div>
                                <div class="vs-row">
                                  {{this.customer != null ? this.customer.phone : ""}} 
                                </div>
                            </div> 


                        </vs-col>
                    </vs-row> 

                    <!-- TABLE Service -->
                    <vs-row style="margin-bottom:30px;">
                        <vs-col vs-w="12">
                            <vs-table stripe class="table" style="width:100%;"  :data="termin" >
                                <template slot="thead" >
                                    <vs-th >No</vs-th>
                                    <vs-th  style="width:40%">Services</vs-th> 
                                    <vs-th > </vs-th>
                                    <vs-th > </vs-th>
                                    <vs-th > </vs-th>
                                    <vs-th  style="padding-left:40px;">Amount</vs-th>
                                </template>

                                <template slot-scope="{data}" >
                                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                                        <vs-td :data="data" >
                                            {{ indextr + 1}}
                                        </vs-td> 
                                        <vs-td  :data="data[indextr].name">
                                            {{data[indextr].name}} 
                                        </vs-td> 
                                        <vs-td  >
                                                
                                        </vs-td>
                                        <vs-td  >
                                               
                                        </vs-td> 
                                        <vs-td >
                                              
                                        </vs-td>
                                        <vs-td :data="data[indextr].amount" class="text-right">
                                            Rp.{{data[indextr].amount | currency}} 
                                        </vs-td>
                                    </vs-tr>
                                    <vs-tr>
                                        <vs-td colspan="5" class="text-right"><strong>Sub Total</strong></vs-td>
                                        <vs-td class="text-right"> <b>Rp.{{ subtotal | currency}}</b> </vs-td>
                                    </vs-tr>
                                    <vs-tr v-if="other.length == 0">
                                        <vs-td colspan="5" class="text-right"><b>Tax</b></vs-td>
                                        <vs-td class="text-right"><b>{{tax}}%</b></vs-td>
                                    </vs-tr>
                                     <vs-tr v-if="other.length == 0">
                                        <vs-td colspan="5" class="text-right"><b>Total Tax</b></vs-td>
                                        <vs-td class="text-right"><b>Rp.{{totaltax | currency}}</b></vs-td>
                                    </vs-tr> 
                                     <vs-tr v-if="other.length == 0">
                                        <vs-td colspan="5" class="text-right"><b>Discount</b></vs-td>
                                        <vs-td class="text-right"><b>Rp.{{totaldisc| currency}}</b></vs-td>
                                    </vs-tr> 
                                     <vs-tr v-if="other.length == 0">
                                        <vs-td colspan="5" class="text-right"><b>Grand Total</b></vs-td>
                                        <vs-td class="text-right"><b>Rp.{{grandtotal | currency}}</b></vs-td>
                                    </vs-tr> 
                                </template>
                            </vs-table>
                        </vs-col>
                    </vs-row>

                    <!-- TABLE Other Service -->
                    <vs-row  style="margin-bottom:30px;">

                        <vs-col v-if="other.length != 0 "  vs-w="12">
                            
                            <vs-table  stripe class="table" style="width:100%;" :data="other" >
                                <template slot="thead">
                                    <vs-th sort-key="no">No</vs-th>
                                    <vs-th sort-key="product" style="width:40%">Other Services & Charge</vs-th> 
                                    <vs-th sort-key="stok">Quantity</vs-th>
                                    <vs-th sort-key="tax">Price</vs-th>
                                    <vs-th sort-key="total">Total Amount</vs-th>
                                </template>

                                <template slot-scope="{data}" >
                                    <vs-tr  :key="indextr" v-for="(tr, indextr) in data">
                                        <vs-td :data="indextr"  >
                                            {{ indextr + 1}}
                                        </vs-td> 
                                        <vs-td :data="data[indextr].description" >
                                            {{data[indextr].description}} 
                                        </vs-td>  
                                        <vs-td :data="data[indextr].qty" >
                                            {{data[indextr].qty}}  
                                        </vs-td> 
                                        <vs-td :data="data[indextr].price">
                                            Rp.{{data[indextr].price | currency}} 
                                        </vs-td>
                                        <vs-td :data="data[indextr].total" class="text-right">
                                            Rp.{{data[indextr].total | currency}}
                                        </vs-td>
                                    </vs-tr>
                                    <vs-tr>
                                        <vs-td colspan="4" class="text-right"> <b> Sub Total</b></vs-td>
                                        <vs-td class="text-right"> <b>Rp.{{amountdetail | currency}}</b>  </vs-td>
                                    </vs-tr> 
                                     <vs-tr>
                                        <vs-td colspan="4" class="text-right"><b>Total Tax</b></vs-td>
                                        <vs-td class="text-right"><b>Rp.{{totaltax | currency}}</b></vs-td>
                                    </vs-tr> 
                                     <vs-tr>
                                        <vs-td colspan="4" class="text-right"><b>Discount</b></vs-td>
                                        <vs-td class="text-right"><b>Rp.{{totaldisc| currency}}</b></vs-td>
                                    </vs-tr> 
                                     <vs-tr>
                                        <vs-td colspan="4" class="text-right"><b>Total</b></vs-td>
                                        <vs-td class="text-right"><b>Rp.{{grandtotal | currency}}</b></vs-td>
                                    </vs-tr>  
                                </template>
                            </vs-table>
                        </vs-col>

                       
                    </vs-row>

                    <!-- TABLE Peyment History  -->
                    <div>
                        <table border="0">
                            <tr>
                                <td style="width:400px; font-size:12px;">
                                    <table border="0" >
                                        <tr>
                                            <th  style="border-bottom:1px solid;">Payment History</th>
                                            <th  style="border-bottom:1px solid;"></th>
                                        </tr>
                                        <tr v-for="(item) in history" :key="item.order_t_id">
                                            <td style="padding:6px; border-bottom:1px solid; border-right:1px solid;">{{item.name}}</td>
                                            <td style="padding:6px; border-bottom:1px solid;" ><strong>{{item.date_paid != null? item.date_paid : "-" | moment("DD-MM-YYYY")}} </strong></td>
                                        </tr>
                                        <tr>
                                            <td  style="border-bottom:1px solid;">
                                              Total Payment  
                                            </td>
                                            <td  style="border-bottom:1px solid;">
                                               <b>Rp.{{totalpayment | currency}}</b> 
                                            </td>
                                        </tr>
                                    </table>
                                     
                                </td>
                                <td style="width:500px; text-align:center;">
                                     <p class="pb-0 mb-0">Pontianak : <b>{{invoice_date | moment("DD-MM-YYYY")}}</b> ,</p>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <p> <b>{{this.$user.username}}</b> </p> 
                                </td>
                                <td style="width:500px; text-align:center;">
                                     <p class="pb-0 mb-0">Make all checks payable to,</p>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <p> <b>BCA/Dyah Listyo Purwaningsih/258 218 4454</b> </p>    
                                </td>
                            </tr>
                        </table> 
                    </div>

                    
 
                </div>                
            </div>
</template>

<script>
export default {
    data() {
        return {
            order_id: null,
            order_t_id: null,
            code_inv:null,
            code_spk:null,
            work_order:null,
            invoice_date:null,
            desctermin:null,
            amountdetail:null,
            grandtotal:null,
            tax:null,
            totaltax:null,
            totaldisc:null,
            disc:null,
            totalpayment :null,
            customer:null,
            subtotal:0,
            termin:null,
            other:null,
            history:null,
            cekprint : false,
        }
    },
    created(){
        this.order_t_id = this.$route.params.idorder;
        this.invoice_date = new Date();
         this.loadData();
       
    },
    methods: {
        async loadData() {
            this.$vs.loading({ type: 'radius' });  
            this.$http.get(this.$baseURL + '/project/orders/termins?filter=order_t_id|'+this.order_t_id,
                 {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.termin = res.data.data;
                    this.amountdetail= res.data.data[0].amount_detail;
                    this.desctermin = res.data.data[0].name;
                    this.order_id = res.data.data[0].order_id;
                    this.other = res.data.data[0].order_termin_details;
                    this.subtotal = res.data.data[0].amount; 
                    this.grandtotal= res.data.data[0].termin_total;
                    this.totaltax = ((res.data.data[0].order.tax * this.subtotal) /100);
                    this.totaldisc = ((res.data.data[0].order.discount * this.grandtotal) / 100);
                    this.grandtotal = (this.grandtotal + this.totaltax)-this.totaldisc;
                    this.code_inv = res.data.data[0].inv_code;

                    

                    this.$vs.loading.close();  
                    this.loadDataInduk();
                 
            }).catch(err => {
                console.log(err);

            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));
        },

        async loadDataInduk() {
            this.$vs.loading({ type: 'radius' });  
            await this.$http.get(this.$baseURL + '/project/orders/'+this.order_id+'/read',
                 {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.totalpayment= res.data.data.total_project ;
                    this.code_spk = res.data.data.code_spk;
                    this.work_order = res.data.data.work_order;
                    this.customer = res.data.data.customer; 
                    this.history = res.data.data.order_termins;
                    this.tax = res.data.data.tax;
                    this.disc = res.data.data.discount;

                    if(this.code_inv == null){
                        this.loadcodeinv();
                    }
                    this.$vs.loading.close();
                   

            }).catch(err => {
                console.log(err);

            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));

            
        }, 
        loadcodeinv(){
            this.$http.get(this.$baseURL + '/project/orders/termins/getinvoicecode?code_wo='+this.work_order+'&term_name='+this.desctermin,
                 {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.code_inv= res.data;
                    this.$vs.loading.close();
                   

            }).catch(err => {
                console.log(err);

            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));
        },
        print(){
             window.print();
            setTimeout(window.close(), 500);
        }
        

    }
}
</script>
 