<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa"> 
        <div id="data-list-list-view" class="data-list-container">

            <vx-card >    
            <vs-table pagination :max-items="10" search @selected="viewDetail" :data="penyesuaianStock">

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div v-if="createe == true" class="flex flex-wrap-reverse items-center data-list-btn-container">
                     <div class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
                        <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                        <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                    </div> 
                </div> 
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="nama">Nama</vs-th>
                    <vs-th sort-key="tanggal">Tanggal</vs-th>
                    <vs-th sort-key="desc">Description</vs-th> 
                     <vs-th sort-key="status">Status</vs-th> 
                     <vs-th sort-key="user">User</vs-th> 
                    <vs-th sort-key="action">Action</vs-th>
                   
                </template> 

                <template slot-scope="{data}" >  
                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].reference">
                            {{data[indextr].reference}}
                        </vs-td> 
                        <vs-td :data="data[indextr].date_entry">
                            {{data[indextr].date_entry | moment("DD-MM-YYYY")}}
                        </vs-td>  
                        <vs-td :data="data[indextr].description">
                            {{data[indextr].description}}
                        </vs-td>  
                        <vs-td :data="data[indextr].status">
                            <vs-chip v-if="data[indextr].status === 'complete'" color="success">
                                {{data[indextr].status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else-if="data[indextr].status === 'pending'" color="#f64b3c">
                                {{data[indextr].status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else-if="data[indextr].status === 'open'" color="warning">
                                {{data[indextr].status | capitalize}}
                            </vs-chip>
                            <vs-chip v-else color="gray">
                                {{data[indextr].status | capitalize}}
                            </vs-chip>
                        </vs-td>
                        <vs-td :data="data[indextr].user.username">
                            {{data[indextr].user.username}} 
                        </vs-td> 
                        <vs-td> 
                            <feather-icon v-if="updatee == true" v-show="data[indextr].status=='open'"  v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2" @click.stop="editData(tr)" />
                            <feather-icon v-if="confirmm == true" v-show="data[indextr].status=='pending'"  v-tooltip="'Confirm'" icon="CheckIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2" @click.stop="confirmData(tr)" />
                            <feather-icon v-if="deletee == true" v-show="data[indextr].status!='complete'" v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(tr)" /> 
                        </vs-td> 
                        
                    </vs-tr> 
                </template> 
            </vs-table>  

        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
  
export default{ 
    data() { 
        return { 
            adjustId:null,  
            createe:null,
            confirmm:null,
            updatee:null,
            deletee:null,
            access:null,
            penyesuaianStock: [],
          
        }
    }, 
    created(){ 
    this.$vs.loading({ type: 'radius' });        
      this.loadData()
      
     }, 
    methods:{
         async loadData(){  
            this.penyesuaianStock = [];
            var com_id = this.$company != null ? this.$company.company_id : "1"
           await this.$http.get(this.$baseURL + '/accounting/adjustment?company='+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.penyesuaianStock = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
             this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.confirmm = this.access[acc].confirmm;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }  
        }, 
        viewDetail(tr){
            this.$router.push('/pages/viewpenyesuaianstock/'+tr.adjust_id).catch(() => {})  
        },
        editData(tr) { 
            this.$router.push('/pages/formpenyesuaianstock/'+tr.adjust_id).catch(() => {}) 
        },
        addNewData() {
            this.$router.push('/pages/formpenyesuaianstock').catch(() => {})  
        },
        deleteData(tr) {
            this.adjustId = tr.adjust_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to Cancel this Data ?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$vs.loading({ type: 'radius' });   

           this.$http.delete(this.$baseURL+ '/accounting/adjustment/'+this.adjustId+'/delete',{
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.loadData();
                    this.$vs.loading.close(); 
                    this.promptAlert("success","Adjustment Data Deleted","The Adjustment Data was successfully Deleted");
                }).catch(err => {
                    this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed","Please Try Again") 
                    }
                    console.log(err.response.data); 
                });  
        },
        confirmData(tr){
            this.adjustId = tr.adjust_id;
           this.$vs.loading({ type: 'radius' });   

           this.$http.put(this.$baseURL+ '/accounting/adjustment/'+this.adjustId+'/confirm',{
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.loadData();
                    this.$vs.loading.close(); 
                    this.promptAlert("success","Adjustment Data Confirmed","The Adjustment Data was successfully Confirmed");
                }).catch(err => {
                    this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed","Please Try Again") 
                    }
                    console.log(err.response.data); 
                });  
        },
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        }, 
        

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>