<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" title="Headers" class="user-list-filters mb-8"   >
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Date: </span> 
                   <h4 style="margin-left:10px;">{{form.currentDate  | moment("DD-MM-YYYY")}} </h4> 

                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Description: </span>
                   <h4 style="margin-left:10px;"> {{form.description}} </h4>
                </div> 
            </div> 
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Gudang: </span>
                   <h4 style="margin-left:10px;">{{form.whData.name}} </h4> 
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                </div> 
            </div>  
              
        </vx-card> 
 

        <div>

            <vx-card  ref="bodyGL" class="user-list-filters mb-8">  
                <div class="vx-row">
                     
                    
                </div> 
            <vs-table  :data="penyesuaianStocks">        
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between" style="margin-bottom:50px;">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                   
 
                </div> 
                </div>
            

                <template slot="thead" >
                    <vs-th sort-key="no" >No</vs-th>
                    <vs-th sort-key="product">Product</vs-th>
                    <vs-th sort-key="stok">Qty Besar</vs-th>
                    <vs-th sort-key="qty">Qty Kecil</vs-th> 
                   
                </template> 

                <template slot-scope="{data}" >  
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].product.name">
                            {{data[indextr].product.name}}
                        </vs-td> 
                        <vs-td :data="data[indextr].qty_lg">
                            {{data[indextr].qty_lg}} {{data[indextr].product.unit_lg}}
                        </vs-td> 
                        <vs-td :data="data[indextr].qty_sm">
                            {{data[indextr].qty_sm}} {{data[indextr].product.unit_sm}}
                        </vs-td>   
                    </vs-tr>
                    
                    <vs-tr> 
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td> 
                        <vs-td colspan = "2" style="text-align:right;"> 
                          <vs-button   style="width:100px; background-color:mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                        </vs-td>
                    </vs-tr>    
                </template> 
            </vs-table> 
             

             <div> 
             </div>
             

        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
  

export default{
    components: {  
    },
    data() {
        
        return { 
            disabl:false,
            activePrompt2:false,
            mode: 'input',
            format: "d MMMM yyyy",
            selected: null,
            
            form:{
                adjustId: null,
                whData: {
                    "name": ""
                },
                currentDate: null,
                description:null,  
                product:null,  
                qtylg:null,
                qtysm:null,
                unitlg:"Lusing",
                unitsm:"Pcs", 
            },   

            penyesuaianStocks: [],
          
        }
    },
   
    computed: {  
        validName(){
        // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }
    },
    created(){  
    this.form.adjustId = this.$route.params.idadjustment; 
    this.$vs.loading({ type: 'radius' });        
      this.loadData()
      
     }, 
    methods:{
         async loadData(){   
                this.$http.get(this.$baseURL + '/accounting/adjustment?filter=adjust_id|'+this.form.adjustId, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.form.currentDate = res.data.data[0].date_entry;
                    this.form.whData = res.data.data[0].warehouse;
                    this.form.description = res.data.data[0].description;
                    this.penyesuaianStocks = res.data.data[0].adjustment_details;
                    this.$vs.loading.close();
                }).catch(err => {
                if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }
                    console.log(err.data.message);
                }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
          
               
        },  
        back(){
            this.$router.push('/pages/penyesuaianstock').catch(() => {})  

        }, 
        

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>