<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
<div>
   <vx-card  ref="headerGL" title="" class="user-list-filters mb-8">
          <div class="vx-row">
              <div   style="padding-left:15px;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <h4 v-show="next==false" >Menu Name</h4>
                  <vs-input v-show="next==false" v-model="menuName" class="mt-5 w-full" name="item-menuName" /><br>
                  <!-- <vs-input v-show="next==true && edit == true" v-model="menuName" class="mt-5 w-full" name="item-menuName" /><br> -->

                  <h4 v-show="next==true"  style="font-size:16px; color:rgba(0,0,0,0.7); margin-left:5px; margin-top:-10px;">Menu Name</h4> 
                  <br><h5 v-show="next==true"  style="margin-left:15px; margin-top:-10px;" >{{menuName}}</h5>

              </div> 
              <div   style="padding-left:15px;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <h4 v-show="next==false" >Price</h4>
                  <vs-input v-show="next==false" v-model="menuPrice" type="number" class="mt-5 w-full" name="item-menuName" /><br>
                  <!-- <h4 v-show="next==true && edit == true" >Price</h4>
                  <vs-input v-show="next==true && edit == true" v-model="menuPrice" class="mt-5 w-full" name="item-menuName" /><br> -->

                  <h4 v-show="next==true"  style="font-size:16px; color:rgba(0,0,0,0.7); margin-left:5px; margin-top:-10px;">Price</h4> 
                  <br><h5 v-show="next==true"  style="margin-left:15px; margin-top:-10px;" >Rp.{{menuPrice | currency}}</h5>

              </div> 
          </div>
          <div style="float:right">
                <vs-button v-show="next==false && menuId == null" color="success"  type="relief" @click.stop="nextStep()">Next</vs-button>
                <vs-button v-show="next==true && edit == false" color="success"  type="relief" @click.stop="editHeader()">Edit</vs-button>
                <vs-button v-show="next==false && edit == true" color="blue"  type="relief" @click.stop="cancelHeader()">Cancel</vs-button>
                <vs-button v-show="next==false && edit == true" color="success"  type="relief" @click.stop="saveHeader()">Save</vs-button>
          </div> 
          <br>    
          <br> 
      </vx-card>

      <vx-card  v-show="next==true"  ref="bodyGL" title="Recipe" class="user-list-filters mb-8">
          <div class="vx-row">
              <div style="padding-left:15px; " class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5 style="margin-bottom:5px; font-size:14px;" >Search Product</h5>
                <v-select  v-model="formDetail.product" :clearable="false" label="name" :options="ListProduct" @input="getunitproduct()" class="w-full"/> 
              </div>

               <div style="padding-left:5px; margin-top:-16px;" class="vx-col md:w-1/6 sm:w-1/6 w-full">
                  <table>
                    <tr>
                      <td>
                        <vs-input label="Qty" v-model="formDetail.qty" type="number" class="mt-5 w-full"   /> 
                      </td>
                      <td style="vertical-align:bottom; margin-left:10px;">
                        {{formDetail.unitproduct}}
                      </td>
                    </tr>
                  </table>
               </div>

               <div style="padding-left:5px; " class="vx-col md:w-1/6 sm:w-1/6 w-full">
                  <br>
                  <vs-button v-show="next==true" color="success"  type="relief" @click.stop="addrecipe()">Add</vs-button>
                </div>
          </div>
          
          <br> 
          <div>
            <vs-table  :data="menuRecipes">

                <template slot="thead">
                    <vs-th>No</vs-th>
                    <vs-th>Product</vs-th>
                    <vs-th>Qty</vs-th>
                    <vs-th>Action</vs-th>
                </template> 
                

                <template slot-scope="{data}">
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr+1">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].product">
                            {{data[indextr].product != null ? data[indextr].product.name : ""}}
                        </vs-td>

                        <vs-td :data="data[indextr].qty">
                             {{data[indextr].qty}}  {{data[indextr].product != null ? data[indextr].product.unit_sm : "" }} 
                        </vs-td>
 
                        <vs-td >
                            <feather-icon v-tooltip="'Edit'" icon="EditIcon"  svgClasses="w-5 h-5 hover:text-primary stroke-current"  class="ml-2" @click="editPostData(tr)"  />
                            <feather-icon v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deletePostData(tr)" /> 
                        </vs-td>
                    </vs-tr>   
                    
                </template> 
            </vs-table>
              <vs-divider/> 
              <div style="text-align:right;">
                <vs-button   style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                <vs-button  color="success" style="width:100px;" type="relief" @click.stop="saveData()">Save</vs-button>
              </div>
          </div>

          <vs-prompt
            @cancel="clearValMultiple"
            @accept="confirmEdit"
            @close="close"
            accept-text = "Edit"
            :is-valid="validName"
            :active.sync="activePrompt2" 
            title="Edit">
            <div class="con-exemple-prompt">  
              <vs-input label="qty" placeholder="qty"  v-model="editValue.qty" type="number" class="w-full"/> 
            </div>
          </vs-prompt>
      </vx-card>



   </div>   
</template>

<script>
import vSelect from 'vue-select'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Datepicker from 'vuejs-datepicker'
import moment from 'vue-moment'

export default { 
  watch: {
    
  },
  data() {
    return { 
      menuId: null,
      menuName: null,
      menuPrice: null,
      
      format: "d MMMM yyyy",
      next:false,
      edit:false,
      model: null,
      mode: 'input',
      loading: false,
      stat: null,
      selected: null,
      remark:null,
      amount:null,
      activePrompt2:false,
      formDetail:{
        product:null,
        qty:null,
        unitproduct:null,
      }, 

      editValue:{
        id:null,
        qty:null,
      },
      journalData: {}, 

      dataCOA:null,
      ListProduct:[],

      ListStatus: [
        {text:'Debit',value:'debit'},
        {text:'Kredit',value:'kredit'}, 
      ], 
      menuRecipes:[], 
 
    }
  },
  computed: {  
     validName(){
      // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
    }
  }, 
  created(){
    this.$vs.loading({
          type: 'radius'
      });        
      this.loadProduct()
      if(this.$route.name =="pages-editmenujual"){
        this.menuId = this.$route.params.idmenujual; 
        this.next= true;
      } 
      this.loadrecipedata();  
  },  
  components: {
    vSelect,
    VuePerfectScrollbar,
  },
  methods: {
    async loadProduct(){ 
          var wh_id = this.$user != null ? this.$user.company.warehouse[0].wh_id : 0;
            this.$http.get(this.$baseURL + '/master/products' , {
                params: {
                    filter: 'wh_id|' + wh_id
                },
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.ListProduct = res.data.data;
                
            }).catch(err => {
                 this.$vs.loading.close()
                console.log(err.data.message); 
                  if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Add Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }

            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
        }, 

    async loadrecipedata(){
      if(this.menuId != null){
        await this.$http.get(this.$baseURL + '/master/menujuals?filter=id_menu_jual|'+this.menuId, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
              this.menuName = res.data.data[0].menu;
              this.menuPrice = res.data.data[0].price;
              this.menuRecipes = res.data.data[0].recipes;
              
            }).catch(err => {
                 this.$vs.loading.close()
                console.log(err.data.message);
                  if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Add Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
            });

       await this.$http.get(this.$baseURL + '/accounting/journal/show?filter=journal_id|'+this.journalId, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.journalPosts = res.data.data;
                 this.next=true;
                 this.$vs.loading.close()
            }).catch(err => {
                 this.$vs.loading.close()
                console.log(err.data.message);
                  if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Add Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
      }else{
         this.next=false;
        return null
      }
    },
    getunitproduct(){
      this.formDetail.unitproduct = this.formDetail.product.unit_sm;
    },

    saveData() { 
       this.$router.push('/pages/menujual').catch(() => {})
      
       
    },
    editHeader(){
      this.edit = true;
      this.next=false;
    },
    cancelHeader(){
      this.edit = false;
      this.loadrecipedata();
    },
    saveHeader(){
       this.$http.put(this.$baseURL + '/master/menujuals/'+ this.menuId+'/update',
              this.$qs.stringify({ 
                    menuname: this.menuName, 
                    menuprice: this.menuPrice, 
                }),{
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {  
                  this.edit = false;
                  this.next= true;
                  this.loadrecipedata();
                  this.promptAlert("success","Post Edited","Your Data Successfully Edited") 
            }).catch(err => {
                 this.$vs.loading.close();
                   if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Add Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
            }); 
      
    },

    back(){
       this.$router.push('/pages/menujual').catch(() => {})
    },

    nextStep(){
      if(this.menuName != null && this.menuPrice != null){
        this.$vs.loading({ type: 'radius' }) 

        this.$http.post(this.$baseURL + '/master/menujuals/create',
                this.$qs.stringify({ 
                    menuname: this.menuName, 
                    menuprice: this.menuPrice, 
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                  this.menuId = res.data.data;
                  this.next = true; 
                  this.$vs.loading.close()
            }).catch(err => {
                 this.$vs.loading.close()
                console.log(err);
                this.promptAlert("danger","Journal Submit Error",err)   
            }); 
      }else{ 
         this.promptAlert("danger","Validated","Menu Name Can not be empty!")  
      } 
    },  
    addrecipe(){
        this.$vs.loading({ type: 'radius' })
        this.journalDate = this.$moment(this.journalDate).format("YYYY-MM-DD");

        this.$http.post(this.$baseURL + '/master/menujuals/recipes/create',
                this.$qs.stringify({ 
                    idproduct: this.formDetail.product.product_id, 
                    idmenu:this.menuId,
                    qty:this.formDetail.qty,
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                  this.clearValMultiple();
                  this.loadrecipedata();
            }).catch(err => {
                 this.$vs.loading.close()
                console.log(err);
                this.promptAlert("danger","Journal Detail Add Error",err)   
            }); 
    },

    editPostData(tr){  
      this.editValue.id = tr.id_recipe_details;
      this.editValue.qty = tr.qty; 
      this.activePrompt2 = true;

    }, 
    deletePostData(tr) { 
       this.editValue.id = tr.id_recipe_details
        this.$vs.dialog({
            type: 'confirm',
            color: 'danger',
            title: `Confirm`,
            text: 'Are you sure want to delete this Post ?',
            accept: this.acceptDelete
        })
    },
    acceptDelete() {
       this.$http.delete(this.$baseURL + '/master/menujuals/recipes/'+ this.editValue.id+'/deletedetail',
              {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {  
                   console.log("respon del"+res);  
                  this.promptAlert("success","Post Deleted","The selected Data was Successfully Deleted") 
                  this.loadrecipedata();
            }).catch(err => {
                 this.$vs.loading.close()
                this.promptAlert("danger","Journal Detail Delete Error",err)   
            }); 

      
    },
    confirmEdit(){
      this.$http.put(this.$baseURL + '/master/menujuals/recipes/'+ this.editValue.id+'/updatedetails',
              this.$qs.stringify({ 
                    qty: this.editValue.qty, 
                }),{
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {  
                  this.promptAlert("success","Post Edited","Your Data Successfully Edited") 
                  this.loadrecipedata();
            }).catch(err => {
                 this.$vs.loading.close()
                this.promptAlert("danger","Journal Detail Delete Error",err)   
            }); 
     
    }, 
    promptAlert(status,ttle,txt){
      this.$vs.notify({
        color:status,
        title:ttle,
        text:txt
      })
    }, 

    clearValMultiple(){
      this.formDetail.product = null;
      this.formDetail.qty = null;
      this.formDetail.unitproduct = null;

    },
    close(){
      this.editValue.id = null;
      this.editValue.qty = null;
    }
    
  

  },
  
}
</script>

<style lang="scss" scoped>
@import "@sass/vuexy/extraComponents/autocomplete.scss";
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
