<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard"   class="user-list-filters mb-8"   > 
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <label class="vs-input--label" for="">Jenis Pekerjaan:</label>
                <v-select  v-model="form.pekerjaan" :clearable="false" 
                            :options="pekerjaanOptions" name="pelanggan" />     
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <label class="vs-input--label" for="">Nominal:</label>
                <currency-input v-model="form.nominal" :currency="{prefix}"
                                        :precision="{min,max}" locale="de"
                                        class="vs-inputx vs-input--input normal hasValue" />
                </div> 
            </div>  
             <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">

                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px;">

                </div>  
            </div>   
            
        </vx-card> 
 

         <vx-card ref="filterCard"  title="Upload Data " class="user-list-filters mb-8"   > 
             <div class="vx-row" v-for="(tr, indextr) in listfile" :key="indextr" style="padding-left:25px; "> 
                 <table style="width:50%;">
                     <tr>
                         <td style="width:20px; text-align:center;">
                             {{indextr + 1}}.
                         </td>
                         <td> 
                             <a :href="'/storage/'+tr" target="_blank">{{tr}}</a>
                         </td>
                         <td style="width:20px;"> 
                            <feather-icon v-tooltip="'Delete'" icon="TrashIcon"  svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deletedata(tr)" /> 
                        
                         </td>
                     </tr>
                 </table>
             </div>
            <div class="vx-row"> 
                <div>
                     <vs-upload multiple text="Upload File *Max 7MB" :single-upload="true" fileName="filerab" :data="form" :action="urlupload" @on-success="successUpload" />
                </div>
            </div>
            <vs-divider/>

            <div class="vx-row"> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">

                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px; text-align:right;">
                    <vs-button  style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                    <vs-button  color="success" style="width:100px;" type="relief" @click.stop="submitOrder()">Submit</vs-button>
                
                </div> 
            </div>

        </vx-card>  
 
 
 
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 
 import vSelect from 'vue-select'


export default{
    components: { 
         vSelect,
    },
    data() {
        
        return { 
            max:0,
            min:0,
            prefix: 'Rp ',
            activePrompt2:false, 
            termin:false,
            termprofit:false,
            terminButton:false,
            form:{
                order_id:null,
                pekerjaan:null,
                nominal:null,
            },  
            editValue:{
                id_termin:null,
                termin:null,
                amount:null, 
            },
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            userOptions: [
                "Admin" , "Accounting" ,"Supervisor"
            ], 
            pekerjaanOptions: [
                "Pekerjaan Lebih" , "Pekerjaan Kurang" 
            ],  
            listfile:[],

            termins: [],
            urlupload: this.$baseURL+"/project/orders/uploadrab",
          
        }
    },
   
    computed: {  
        validName(){
        // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }
    },
    created(){ 
     
    this.$vs.loading({ type: 'radius' });     
        this.form.order_id = this.$route.params.idorder;
        this.loadData();
     },
    methods:{
        async loadData(){   
           await this.$http.get(this.$baseURL + '/project/orders/'+this.form.order_id+'/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.form.pekerjaan = res.data.data.jenis_pekerjaan;
                this.form.nominal = res.data.data.nominal; 
                this.listfile= res.data.file;
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
            });
         },    
         submitOrder(){
             this.$vs.loading({ type: 'radius' });    
             var dt = {
                    pekerjaan:this.form.pekerjaan,
                    nominal:this.form.nominal,
                };  
             this.$http.put(this.$baseURL + '/project/orders/'+this.form.order_id+'/adendum',
              this.$qs.stringify(dt),{
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => { 
                this.$vs.loading.close();
                this.$router.pust('/pages/confirmspk');
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
            });
         },
         submitUpload(){
             var dt = {
                    filerab:this.form.pekerjaan,
                    order_id:this.form.order_id,
                };  
             this.$http.post(this.$baseURL + '/project/orders/uploadrab',
              this.$qs.stringify(dt),{
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {  

            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
            });
         },
         successUpload(){
             this.promptAlert('success','success upload');
             this.loadData();
         },
    
        back(){
            this.$router.go(-1);
        },
        deletedata(tr){ 
             var dt = {
                    pat:tr, 
                };  
             this.$http.post(this.$baseURL + '/project/orders/deletefilerab',
                this.$qs.stringify(dt),{
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {  
                 this.loadData();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
            });
        },
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        }, 

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
//dialog widht 
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 30%;
            // height: 70%;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 100%;
                } 
            }
        } 
    } 
</style>