<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        <vx-card ref="filterCard" class="user-list-filters mb-8">
            <vs-row class="mb-3">
                <vs-col vs-w="4" class="px-3">
                    <label class="vs-input--label" for="">SPK</label>
                    <span>
                        <v-select :disabled="hide" v-model="form.spk" :clearable="false" label="code_spk" :options="spkOptions" placeHolder="User"
                            :reduce="spkOptions => spkOptions.code_spk" name="User" /> </span>
                </vs-col>
                <vs-col vs-w="4" class="px-3">
                    <label class="vs-input--label" for="">Date</label>
                    <datepicker :disabled="hide" placeholder="Select Date" v-model="form.dateStart"></datepicker>
                </vs-col>
                <vs-col vs-w="4" class="px-3">
                    <label class="vs-input--label" for="">Nominal</label>
                     <currency-input disabled v-model="form.nominal" :currency="{prefix}" :precision="{min,max}"
                         locale="de" class="vs-inputx vs-input--input normal hasValue" />
                </vs-col>
            </vs-row>
        </vx-card>

        <div>
            <vx-card ref="bodyGL" class="user-list-filters mb-8">
                <vs-row class="mb-10">
                    <vs-col vs-w="3" class="px-3">
                        <vs-input placeholder="Nama Barang" v-model="product.name" label="Nama Barang" class="w-full" />
                    </vs-col>
                    <vs-col vs-w="3" class="px-3">
                        <vs-input placeholder="Referensi Barang" v-model="product.ref" label="Referensi Barang" class="w-full" />
                    </vs-col>    
                    <vs-col vs-w="2" class="px-3">
                        <vs-input type="number" placeholder="Qty" v-model="product.qty" label="Qty" class="w-full" />
                    </vs-col>                   
                    <vs-col vs-w="2" class="px-3">
                        <div class="vs-input w-full">
                            <label class="vs-input--label" for="">Harga (Rp)</label>
                            <div class="vs-con-input">
                                <currency-input v-model="product.price" :currency="{prefix}" :precision="{min,max}"
                                    locale="de" class="vs-inputx vs-input--input normal hasValue" />
                            </div>
                        </div>
                    </vs-col>                   
                    <vs-col vs-w="2" class="px-3">
                        <vs-button color="primary" style="width:100px; margin-top:20px;" v-on:click="addDetail"
                            type="relief">Add</vs-button>
                    </vs-col>
                </vs-row>              

                <!-- TABLE NORMAL -->
                <vs-table stripe class="mb-10" :data="kasbon">

                    <template slot="thead">
                        <vs-th sort-key="id">No</vs-th>
                        <vs-th sort-key="name">Nama</vs-th>
                        <vs-th sort-key="name">Ref</vs-th>
                        <vs-th sort-key="name">Qty</vs-th>
                        <vs-th sort-key="nominal">Harga (Rp)</vs-th>
                        <vs-th sort-key=""></vs-th>

                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>

                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name }}
                            </vs-td>
                            <vs-td :data="data[indextr].ref">
                                {{data[indextr].ref}}
                            </vs-td>
                            <vs-td :data="data[indextr].qty">
                                {{data[indextr].qty}}
                            </vs-td>
                            <vs-td class="text-right" :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>                            
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="editPostData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" />
                                </vs-col>
                                
                                
                            </vs-td>
                        </vs-tr>
                        <!-- <vs-tr>
                            <vs-td colspan="3" style="text-align:right;">
                                Grand Total
                            </vs-td>
                            <vs-td class="text-right">
                                {{form.grandtotal | currency}}
                            </vs-td>
                            <vs-td></vs-td>
                        </vs-tr> -->
                    </template>
                </vs-table>

                <!-- <vs-row>                  
                    <vs-col class="text-right mb-3" vs-w="10">
                        <h4>Grandtotal: <b>Rp. {{ form.grandtotal | currency}}</b></h4>
                    </vs-col>
                </vs-row>    -->

                <!-- LINE DIVIDER -->
                <vs-divider />

                <vs-row>
                    <vs-col class="text-right">
                        <vs-button color="lightblue" style="width:100px;" type="relief" @click.stop="back()">Back
                        </vs-button>
                        <vs-button v-if="tipe !== 'approve'" color="success" style="width:100px;" type="relief"
                            @click.stop="submit()">
                            Submit</vs-button>

                        <!-- SHOW APPROVE ONLY -->
                        <vs-button v-if="tipe === 'approve'" color="warning" style="width:100px;" type="relief"
                            @click.stop="reject()">
                            Reject</vs-button>
                        <vs-button v-if="tipe === 'approve'" color="primary" style="width:100px;" type="relief"
                            @click.stop="approve()">
                            Approve</vs-button>
                    </vs-col>
                </vs-row>

                <!-- PROMPT EDIT -->
                <div v-if="valueProduct!==null">
                    <vs-prompt @cancel="clearValMultiple" @accept="acceptEdit" @close="close" accept-text="Edit"
                        :active.sync="activePrompt2" title="Edit">
                        <div class="con-exemple-prompt">

                            <vs-col vs-w="12" class="px-1">
                                <vs-input placeholder="Nama Barang" v-model="valueProduct.name" label="Nama Barang"
                                    class="w-full" />
                            </vs-col>
                            <vs-col vs-w="12" class="px-1">
                                <vs-input placeholder="Referensi Barang" v-model="valueProduct.ref" label="Referensi Barang"
                                    class="w-full" />
                            </vs-col>
                            <vs-col vs-w="12" class="px-1">
                                <vs-input type="number" placeholder="Qty" v-model="valueProduct.qty" label="Qty"
                                    class="w-full" />
                            </vs-col>
                            <vs-col vs-w="12" class="px-1">
                                <div class="vs-input w-full">
                                    <label class="vs-input--label" for="">Harga (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input v-model="valueProduct.amount" :currency="{prefix}"
                                            :precision="{min,max}" locale="de"
                                            class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </div>
                            </vs-col>

                        </div>
                    </vs-prompt>
                </div>

                <!-- POP-UP REJECT -->
                <vs-prompt v-if="activeReject" @cancel="close" @accept="acceptReject" @close="close"
                    accept-text="Submit" :active.sync="activeReject" :title="modalTitle">
                    <div class="con-exemple-prompt">
                        <vs-row>
                            <vs-input label="Notes" v-model="form.notes" class="w-full" />
                        </vs-row>
                    </div>
                </vs-prompt>

            </vx-card>
        </div>

    </div>
</template>



<script>
import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        vSelect,
        Datepicker
    },
    data() {
        return {
            id:null,
            tipe:null,
            hide:false,
            activePrompt2: false,
            activeReject:false,
            format_ID: "DD/MM/YYYY",
            max: 0,
            min: 0,
            prefix: "Rp ",
            selected:[],
            form: {
                spk: null,
                dateStart: new Date(),
                description: null,
                nominal:0,
                grandtotal:0,
                notes:null,
            },
            person: {
                name: null,
                nominal: 0,
                dateAt: new Date(),
            },
            product: {
                name: null,
                qty: 1,
                price: 0,
                ref: null,
            },
            valueProduct: null,
            spkOptions: [],
            kasbon: [],
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });  
        this.loadData();
    },
    methods: {
        async loadData() {            
            this.id = this.$route.params.idKasbon;
            this.tipe = this.$route.params.tipe;
            this.hide = true;

            if (this.id > 0) {
                this.loadEdit();
            }

            var resSPK = await this.$http.get(this.$baseURL + '/project/orders', {
                params: {
                    filter: 'status|progress'
                },
            },{
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);

            })

            this.spkOptions = resSPK.data.data;

            setTimeout(this.$vs.loading.close(), 2000);
        },

        async loadEdit() {
            this.po = false;
            var resReadKasbon = await this.$http.get(this.$baseURL + '/project/kasbon/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message)
            })

            var result = resReadKasbon.data.data;
            
            this.form.dateStart = this.$moment(result.entry_at, "DD/MM/YYYY").toDate();
            this.form.spk = result.code_spk;
            this.form.nominal = result.nominal;
            this.kasbon = result.kasbon_realisasi;
        },

        addDetail() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('kasbon_id', this.id);            
            formData.append('name', this.product.name);
            formData.append('qty', this.product.qty);
            formData.append('amount', this.product.price);
            formData.append('ref', this.product.ref);
            
            this.$http.post(this.$baseURL + '/project/kasbon/realisasi/create', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.loadDetail(res.data.data.kasbon_id);
            }).catch(err => {
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                this.$options.filters.auth(err.response.data.message)
            });
        },

        async loadDetail(value) {
            var resKasbon = await this.$http.get(this.$baseURL + '/project/kasbon/' + value + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$options.filters.auth(err.response.data.message)
            })

            this.kasbon = resKasbon.data.data.kasbon_realisasi;            
            this.form.grandtotal = resKasbon.data.data.nominal;

            this.$vs.loading.close();
        },
       
        deleteData(data) {
            this.valueProduct = data;

            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin hapus data ini?',
                accept: this.acceptDelete
            })
        },

        acceptDelete() {
            this.$http.delete(this.$baseURL + '/project/kasbon/realisasi/' + this.valueProduct.kasbon_r_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.loadDetail(this.valueProduct.kasbon_id)
                this.$vs.notify({
                    color: 'success',
                    title: 'Post Deleted',
                    text: 'Kasbon was Successfully Deleted'
                })
            }).catch(err => {
                console.log(err);
            });
        },

        editPostData(tr) {
            this.valueProduct = tr;
            this.valueProduct.entry_at = this.$moment(tr.entry_at, "DD/MM/YYYY").toDate();
            this.activePrompt2 = true;
        },


        acceptEdit() {
        
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('kasbon_id', this.id);            
            formData.append('name', this.valueProduct.name);
            formData.append('qty', this.valueProduct.qty);
            formData.append('amount', this.valueProduct.amount);
            formData.append('ref', this.valueProduct.ref);
            formData.append('_method', 'PUT');

            this.$http.post(this.$baseURL + '/project/kasbon/realisasi/'+this.valueProduct.kasbon_r_id+'/update', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$vs.notify({
                    color: 'success',
                    title: 'Post Edited',
                    text: 'Kasbon Successfully Edited'
                })
                this.loadDetail(res.data.data.kasbon_id);
            }).catch(err => {
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                this.$options.filters.auth(err.response.data.message);
            });
        },

        submit() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Are you sure want to Submit this PO ?',
                accept: this.acceptSubmit
            })
        },

        acceptSubmit() {
            const formData = new FormData();
            formData.append('kasbon_id', this.id);
            this.$http.post(this.$baseURL + '/project/kasbon/realisasi/submit', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/kasbon/');
            }).catch(err => {
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                this.$options.filters.auth(err.response.data.message);
            })
        },

        approve() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Anda yakin akan menyetujui Kasbon ini?',
                accept: this.acceptApprove
            })
        },

        acceptApprove() {
            if (this.selected.length < 1) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Data Empty',
                    text: 'Kasbon tidak boleh kosong',
                })

            } else {
                const formData = new FormData();

                formData.append('execute', 'approved');
                for (let index = 0; index < this.selected.length; index++) {
                    formData.append('details[' + index + '][id]', this.selected[index].kasbon_d_id);
                }

                this.$http.post(this.$baseURL + '/project/kasbon/' + this.id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/kasbon');
                }).catch(err => {
                    console.log(err);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    })
                    this.$options.filters.auth(err.response.data.message)
                })
            }
        },

        reject() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Anda yakin akan menolak Kasbon ini?',
                accept: this.rejectActive
            })
        },

        rejectActive() {
            this.activeReject = true;
        },
        
        acceptReject() {
            const formData = new FormData();
            formData.append('execute', 'rejected');
            formData.append('rejected', 1);
            formData.append('notes', this.form.notes);

            this.$http.post(this.$baseURL + '/project/kasbon/' + this.id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/kasbon');
            }).catch(err => {
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                this.$options.filters.auth(err.response.data.message);
            })
        },


        clearValMultiple() {
            
        },

        close() {
            this.activePrompt2 = false;
            this.activeReject = false;
        },

        back() {
            this.$router.go(-1);
        },
    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>