<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" title="Headers" class="user-list-filters mb-8"   >
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <vs-input v-model="form.spk_code" label="SPK Code"  class="w-full" :disabled="details" /> 
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Date: </span>  
                  <datepicker  placeholder="Select Date" v-model="form.date" style=" margin-top:-2px;" class="w-full" :minimumView="'day'" :maximumView="'month'" :disabled="datedetails"></datepicker>
                </div> 
            </div> 
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span><vs-input v-model="form.description" label="Work Order"  class="w-full" :disabled="details"/>    </span>
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Warehouse: </span>
                    <v-select v-model="form.gudang" :clearable="true" label="name" :options="gudangList" @input="loadProduct" name="Gudang" :disabled="whdetails"/> 
                </div> 
            </div>  
             <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;"> 
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="text-align:right; padding-top:5px;">
                    <vs-button v-if="form.estimasi_id != null" color="lightblue"  style="width:100px;" type="relief"  @click.stop="editHeader()">Edit</vs-button>
                    <vs-button v-if="form.estimasi_id != null && form.edit == true" color="success" style="width:100px;" type="relief" @click.stop="saveEdit()">Save</vs-button>
                </div>
            </div> 
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;"> 
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                   
                </div> 
            </div>
        </vx-card> 
 

        <div>

            <vx-card  ref="bodyGL" title="Details" class="user-list-filters mb-8">  
                <div class="vx-row">
                    <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Product: </span>

                         <v-select class="col-12" v-model="form.product" :clearable="false" label="name"
                                        :options="productList" name="productList"   />
                    </div>
                    <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <table style="width:550px;">
                            <tr> 
                                <td>
                                 <div class="vx-row"> 
                                        <vs-input placeholder="Qty "  type="number" min="0" label="Qty " v-model="form.qty_sm" style="width:100px;  "/>  
                                        <h5 style="margin-top:35px; font-size:12px;"> {{form.product == null? "": form.product.unit_sm}}</h5>  
                                 </div>   
                                </td> 
                                <td>
                                    <vs-button  color="primary" :disabled="addproduct"  style="width:100px; margin-top:20px;" type="relief" @click="addEstimasi()"  >Add</vs-button>  
                                </td>
                            </tr>
                        </table>

                    </div>
                    
                </div>
                 <div  >
                        
                    </div>
            <vs-table  :data="estimasi">        
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between" style="margin-bottom:50px;">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                   
 
                </div> 
                </div>
            

                <template slot="thead" >
                    <vs-th sort-key="no" >No</vs-th>
                    <vs-th sort-key="product">Product</vs-th>
                    <vs-th sort-key="qty">Qty </vs-th> 
                    <vs-th sort-key="price">Price</vs-th> 
                    <vs-th sort-key="total">Total</vs-th>  
                </template> 

                <template slot-scope="{data}" >  
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].product">
                            {{data[indextr].product == null ? "" : data[indextr].product.name}}
                        </vs-td>  
                        <vs-td :data="data[indextr].qty_sm">
                            {{data[indextr].qty_sm}}
                        </vs-td> 
                        <vs-td :data="data[indextr].price_sm">
                            Rp.{{data[indextr].price_sm | currency}}
                        </vs-td> 
                         <vs-td :data="data[indextr].amount">
                            Rp.{{data[indextr].amount | currency}} 
                            &nbsp;
                            <feather-icon v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editPostData(tr)" />
                            <feather-icon v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(tr)" /> 
                        </vs-td> 
                        
                    </vs-tr>  
                    <vs-tr>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td> 
                        <vs-td></vs-td>
                        <vs-td  style="text-align:right; padding-right:50px;">Grand Total: <b>Rp.{{form.grand_total | currency}}</b></vs-td>
                    </vs-tr> 
                    <vs-tr>
                        <vs-td></vs-td>
                        <vs-td></vs-td> 
                        <vs-td></vs-td> 
                        <vs-td colspan = "2" style="text-align:right;"> 
                          <vs-button  color="lightblue"  style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                          <vs-button :disabled="addproduct" color="success" style="width:100px;" type="relief" @click.stop="submitEstimasi()">Submit</vs-button>
                        </vs-td>
                    </vs-tr>    
                </template> 
                 
            </vs-table> 
             

             <div>
                 <vs-prompt
                    @cancel="close"
                    @accept="submitEdit"
                    @close="close"
                    accept-text = "Edit"
                    :is-valid="validName"
                    :active.sync="activePrompt2" 
                    title="Edit">
                    <div class="con-exemple-prompt">  

                    <vs-input  label="Qty Large" type="number" v-model="editValue.qty_lg" class="w-full" /> 
                    <vs-input  label="Qty Small" type="number" v-model="editValue.qty_sm" class="w-full" /> 
                    
                    </div>
                </vs-prompt>
             </div>
             

        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 
 import vSelect from 'vue-select'
import VueSimpleSuggest from 'vue-simple-suggest';
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         VueSimpleSuggest,
         vSelect,
         Datepicker
    },
    data() {
        
        return { 
            details:false,
            datedetails:false,
            whdetails:false,
            activePrompt2:false,
            mode: 'input',
            selected: null,
            addproduct:true,
            form:{
                edit:false,
                estimasi_id:null,
                order_id:null,
                spk_code:null,
                date:null,
                description:null,
                gudang:null,
                product: null,
                qty_lg: null,
                qty_sm:null,   
                grand_total:0,

            },  
            editValue:{
                estimasi_d_id:null,
                qty_lg: null,
                qty_sm:null, 
            }, 
            gudangList: [ ], 
            productList: [],

            estimasi: [  ],
          
        }
    },
   
    computed: {  
        validName(){
        // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }
    },
    created(){
    this.$vs.loading({ type: 'radius' });         
        this.form.order_id = this.$route.params.idorder;
        this.form.date = new Date();  
        this.loadData();
        this.loadGudang();
    },
    methods:{
        async loadData(){
            await this.$http.get(this.$baseURL + '/project/estimasi/'+this.form.order_id+'/read', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                if(res.data.estimasi == true){
                  this.details = true;
                  this.datedetails = true;
                  this.whdetails = true;
                  this.addproduct = false;
                  this.form.estimasi_id = res.data.data.estimasi_id;
                  this.form.spk_code = res.data.data.order.code_spk;
                  this.form.description = res.data.data.order.work_order; 
                  this.form.gudang = res.data.data.warehouse;
                  this.estimasi = res.data.data.estimasi_details; 
                  this.form.grand_total = res.data.data.total;
                  this.loadProduct();
                }else{
                    this.form.spk_code = res.data.data.code_spk;
                    this.form.description = res.data.data.work_order;
                    this.$vs.loading.close();
                } 
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            });
        },
        async loadGudang(){
            await this.$http.get(this.$baseURL + '/master/warehouses', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.gudangList = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            });
        },
        async loadProduct(){
          this.$vs.loading({ type: 'radius' });   
             await this.$http.get(this.$baseURL + '/master/products?filter=wh_id|'+this.form.gudang.wh_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.productList = res.data.data;
                this.addproduct = false;
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            });
        },
        addEstimasi(){
             this.$vs.loading({ type: 'radius' });         
        
            if(this.form.estimasi_id == null){
                var dt = { 
                        order_id:this.form.order_id,
                        wh_id:this.form.gudang.wh_id,
                        date:this.form.date,
                        product_id:this.form.product.product_id, 
                        qty_lg:this.form.qty_lg, 
                        qty_sm:this.form.qty_sm, 
                    }; 
                    this.$http.post(this.$baseURL+ '/project/estimasi/create',
                    this.$qs.stringify(dt), {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        }
                    }).then(res => { 
                        this.promptAlert("success","Success Create Estimasi","") ;
                        this.details = true;
                        this.datedetails = true;
                        this.whdetails = true;
                        this.form.estimasi_id = res.data.data.estimasi_id;
                        this.form.grand_total = res.data.data.total;
                        this.estimasi = res.data.data.estimasi_details;
                        this.form.product = null;
                        this.form.qty_sm = null;
                        this.form.qty_lg = null;
                        this.$vs.loading.close(); 
                    }).catch(err => {
                        this.$vs.loading.close();
                        if(err.response.data.message =="Unauthenticated"){
                            this.$options.filters.auth(false)
                        }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                        }else{
                        this.promptAlert("danger","Failed",err.response.data.errors)

                        }
                    });
            }else{
              this.estimasi=[];

                var dt = { 
                        estimasi_id:this.form.estimasi_id, 
                        product_id:this.form.product.product_id, 
                        qty_lg:this.form.qty_lg, 
                        qty_sm:this.form.qty_sm, 
                    }; 
                    this.$http.post(this.$baseURL+ '/project/estimasi/details/create',
                    this.$qs.stringify(dt), {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        }
                    }).then(res => { 
                        this.promptAlert("success","Success Create Estimasi",""); 
                        this.estimasi = res.data.data;
                        this.form.grand_total = res.data.total;
                        this.form.product = null;
                        this.form.qty_sm = null;
                        this.form.qty_lg = null;
                        this.$vs.loading.close(); 
                    }).catch(err => {
                        this.$vs.loading.close();
                        if(err.response.data.message =="Unauthenticated"){
                            this.$options.filters.auth(false)
                        }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                        }else{
                        this.promptAlert("danger","Failed",err.response.data.errors)

                        }
                    });
            }
            
        },
        back(){
            this.$router.go(-1);
        },   
        editPostData(tr){  
            this.editValue.estimasi_d_id = tr.estimasi_d_id;
            this.editValue.qty_lg = tr.qty_lg;
            this.editValue.qty_sm = tr.qty_sm; 

            this.activePrompt2 = true;
        }, 
        submitEdit(){
             this.$vs.loading({ type: 'radius' });         

              var dt = { 
                        qty_lg:this.editValue.qty_lg, 
                        qty_sm:this.editValue.qty_sm, 
                    }; 
            this.$http.put(this.$baseURL+ '/project/estimasi/details/'+this.editValue.estimasi_d_id+'/update',
            this.$qs.stringify(dt), {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => { 
                this.promptAlert("success","Success Edited","Your Post Successfully Edited"); 
                this.estimasi = res.data.data;
                this.form.grand_total = res.data.total;
                this.$vs.loading.close(); 
            }).catch(err => {
                this.$vs.loading.close();
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }else if(err.response.data.message =="Post Error"){
                this.promptAlert("danger","Post Failed",err.response.data.errors) 
                }else{
                this.promptAlert("danger","Failed",err.response.data.errors) 
                }
            }); 
        },
        editHeader(){
            this.form.edit=true;
            this.addproduct = true;
            this.datedetails=false;
            this.whdetails=false;
        },
        saveEdit(){
          this.$vs.loading({ type: 'radius' });       
            var dt = {  
                    date:this.form.date, 
                    wh_id:this.form.gudang.wh_id, 
                }; 
            this.$http.put(this.$baseURL+ '/project/estimasi/'+this.form.estimasi_id+'/update',
            this.$qs.stringify(dt), {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => { 
                this.promptAlert("success","Success Edited","Your Post Successfully Edited"); 
                this.form.edit=false;
                this.addproduct = false;
                this.datedetails=true;
                this.whdetails=true;

                this.estimasi = res.data.data.estimasi_details;

                this.$vs.loading.close(); 
            }).catch(err => {
                this.$vs.loading.close();
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }else if(err.response.data.message =="Post Error"){
                this.promptAlert("danger","Post Failed",err.response.data.errors) 
                }else{
                this.promptAlert("danger","Failed",err.response.data.errors) 
                }
            });  
        },
        submitEstimasi(){
            this.$vs.loading({ type: 'radius' });       
         
            this.$http.put(this.$baseURL+ '/project/estimasi/'+this.form.estimasi_id+'/submit',
             {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => { 
                this.promptAlert("success","Success Submit","");  
                this.$vs.loading.close(); 
                this.back();
            }).catch(err => {
                this.$vs.loading.close();
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }else if(err.response.data.message =="Post Error"){
                this.promptAlert("danger","Post Failed",err.response.data.errors) 
                }else{
                this.promptAlert("danger","Failed",err.response.data.errors) 
                }
            });  
        },
        close(){
            this.editValue.estimasi_d_id = null;
            this.editValue.qty_lg = null;
            this.editValue.qty_sm = null; 
        },
        deleteData(tr) {
        this.editValue.estimasi_d_id = tr.estimasi_d_id;    
        this.$vs.dialog({
            type: 'confirm',
            color: 'danger',
            title: `Confirm`,
            text: 'Are you sure want to delete this Post ?',
            accept: this.acceptAlert1
            })
        },
        acceptAlert1() {
            this.$vs.loading({ type: 'radius' });         
 
            this.$http.delete(this.$baseURL+ '/project/estimasi/details/'+this.editValue.estimasi_d_id+'/delete',
                {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => { 
                this.promptAlert("danger","Post Deleted","The selected Post was Successfully Deleted"); 
                this.estimasi = res.data.data;
                this.form.grand_total = res.data.total;
                this.$vs.loading.close(); 
            }).catch(err => {
                this.$vs.loading.close();
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }else if(err.response.data.message =="Post Error"){
                this.promptAlert("danger","Post Failed",err.response.data.errors) 
                }else{
                this.promptAlert("danger","Failed",err.response.data.errors) 
                }
            });  
        },  
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        }, 
        

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>