<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
  <vs-sidebar click-not-close position-right parent="body" default-index="1" color="primary" class="add-new-data-sidebar items-no-padding" spacer v-model="isSidebarActiveLocal">
    <div class="mt-6 flex items-center justify-between px-6">
       <h4>{{ Object.entries(this.data).length === 0 ? "ADD NEW" : "UPDATE" }} ITEM</h4>
        <feather-icon icon="XIcon" @click.stop="isSidebarActiveLocal = false" class="cursor-pointer"></feather-icon>
    </div>
    <vs-divider class="mb-0"></vs-divider>
    
    <VuePerfectScrollbar class="scroll-area--data-list-add-new" :settings="settings" :key="$vs.rtl">

    <div class="p-6">  

    <!-- Desc -->
    <vs-input label="Name" v-model="dataName" class="mt-5 w-full" name="item-name" />
    <span class="text-danger text-sm"  > </span>

    <!-- Normal Balance -->
    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; ">Normal Balance</span>
    <v-select  v-model="dataNB" :clearable="false" label="text" :options="normalBalance" class="w-full"/>   
    <span class="text-danger text-sm"></span>

    <!-- Level -->
    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; ">Level</span>
    <v-select v-show="dataEdit==false" v-model="dataLevel" :clearable="false" :options="level" class="w-full"/>    
    <span class="text-danger text-sm"></span>

    <!-- FROM COA -->
    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; " v-show="dataLevel != 1 && dataLevel != null && dataEdit==false ">Head COA</span>
    <v-select v-show="dataLevel == 2 && dataEdit==false " v-model="dataCOAHead" :clearable="false" label="name" :options="ListCOA1" class="w-full"/>
    <v-select v-show="dataLevel == 3 && dataEdit==false " v-model="dataCOAHead" :clearable="false" label="name" :options="ListCOA2" class="w-full"/> 

    </div> 
       
    </VuePerfectScrollbar>

    <div class="flex flex-wrap items-center p-6" slot="footer">
      <vs-button class="mr-6" @click="submitData" :disabled="!isFormValid">Submit</vs-button>
      <vs-button type="border" color="danger" @click="isSidebarActiveLocal = false">Cancel</vs-button>
    </div>

  </vs-sidebar>
</template>

<script>
import vSelect from 'vue-select'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
export default {
  props: {
    isSidebarActive: {
      type: Boolean,
      required: true
    },
    data: {
      type: Object,
      default: () => {},
    }
  },
  watch: {
    isSidebarActive(val)  {
    
       this.loadData1() 
       this.loadData2() 
      if(!val) return
      if(Object.entries(this.data).length === 0) {
        
        this.dataEdit = false
        this.dataId = null
        this.dataLevel = null
        this.dataName = null
        this.dataCoa = null   
        this.dataNB = null   
      }else {
       
        let { coa_id, level, name, code, fromcode , normal_balance} = JSON.parse(JSON.stringify(this.data))
        this.dataEdit=true
        this.dataId = coa_id
        this.dataLevel = level
        this.dataName = name
        this.dataCoa = code
        this.dataNB = normal_balance   
        this.viewCOA(fromcode) 
         
      }
       
      // Object.entries(this.data).length === 0 ? this.initValues() : { this.dataId, this.dataName, this.dataCategory, this.dataOrder_status, this.dataPrice } = JSON.parse(JSON.stringify(this.data))
    }
  },
  data() {
    return {
      dataEdit:false,
      dataId: null,
      dataCoa: null,
      dataLevel: null,
      dataName: null, 
      dataCOAHead:null,
      dataNB:"D",
      company_id:null,
      normalBalance:[
        {text:'D',value:'D'},
        {text:'K',value:'K'},
      ],
      level: [
       '1','2','3'
      ],
 
      ListCOA1: [],
      ListCOA2: [], 
      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
    }
  },
  computed: {
    isSidebarActiveLocal: {
      get() {
        return this.isSidebarActive
      },
      set(val) {
        if(!val) {
          this.$emit('closeSidebar')
          // this.$validator.reset()
          // this.initValues()
        }
      }
    },
    isFormValid() {
      return   this.dataName != null
    }
  },
  methods: { 
    viewCOA(data){
        this.$http.get(this.$baseURL + '/accounting/coa?filter=code|'+data, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.dataCOAHead = res.data.data;
            }).catch(err => {
                 if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
    },
    
    async loadData1(){
            // var employee_temp = null;
            this.$http.get(this.$baseURL + '/accounting/coa?order=parent&sort=ASC&filter=level|1', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.ListCOA1 = res.data.data;
                
            }).catch(err => {
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
            
        },
     async loadData2(){
            // var employee_temp = null;
            this.$http.get(this.$baseURL + '/accounting/coa?order=parent&sort=ASC&filter=level|2', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.ListCOA2 = res.data.data;
                
            }).catch(err => {
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
            
        },   
    
    submitData() {
      if(this.dataEdit == false){ 
        this.$http.post(this.$baseURL + '/accounting/coa/create',
                this.$qs.stringify({
                    company_id: this.$user.company.company_id,
                    name: this.dataName,
                    normal_balance: this.dataNB.value,
                    level: this.dataLevel,
                    fromcode: this.dataCOAHead.code,
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                  this.$emit('closeSidebar')
                 window.location.href = '/pages/coa'; 
            }).catch(err => {
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.response.data.errors);
            });
      }else{
        this.$http.put(this.$baseURL + '/accounting/coa/'+this.dataId+'/update',
                this.$qs.stringify({
                    name: this.dataName,
                    normal_balance:this.dataNB.value,
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;'
                    }
                }).then(res => {
                window.location.href = '/pages/coa';
            }).catch(err => {
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.response.data.errors);
            });
      }
      
    }, 
  },
  components: {
    vSelect, 
    VuePerfectScrollbar,
  }
}
</script>

<style lang="scss" scoped>
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }
  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;
    .img-upload {
      margin-top: 2rem;
      .con-img-upload {
        padding: 0;
      }
      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}
.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>