<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
<div>
   <vx-card  ref="headerGL" title="" class="user-list-filters mb-8">
          <div class="vx-row">
              <div   style="padding-left:15px;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <h4 v-show="menusisaId==null" >Date</h4>
                  <datepicker v-show="menusisaId==null" :disabled="true" placeholder="Select Date" v-model="menusisaDate" :format="format" style=" margin-top:20px;" :minimumView="'day'" :maximumView="'month'"></datepicker>

                  <h4 v-show="menusisaId!=null"  style="font-size:16px; color:rgba(0,0,0,0.7); margin-left:5px; margin-top:-10px;">Date </h4> 
                  <br><h5 v-show="menusisaId!=null"  style="margin-left:15px; margin-top:-10px;" >{{menusisaDate | moment('DD-MM-YYYY')}}</h5>

              </div> 
              <div   style="padding-left:5px;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                 
              </div> 
          </div>
          <div style="float:right"> 
            
          </div> 
          <br>    
          <br> 
      </vx-card>

      <vx-card     ref="bodyGL" title="" class="user-list-filters mb-8">
          <div class="vx-row">
              <div style="padding-left:15px; " class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5 style="margin-bottom:5px; font-size:14px;" >Search Menu</h5>
                <v-select  v-model="formDetail.menuJual" :clearable="false" label="menu" :options="ListMenuJual"  class="w-full"/> 
              </div>

               <div style="padding-left:5px; margin-top:-16px;" class="vx-col md:w-1/6 sm:w-1/6 w-full">
                  <table>
                    <tr>
                      <td>
                        <vs-input label="Qty" v-model="formDetail.qty" type="number" class="mt-5 w-full"   /> 
                      </td>
                    </tr>
                  </table>
               </div>

               <div style="padding-left:5px; " class="vx-col md:w-1/6 sm:w-1/6 w-full">
                  <br>
                  <vs-button  color="success"  type="relief" @click.stop="addmenusisa()">Add</vs-button>
                </div>
          </div>
          
          <br> 
          <div>
            <vs-table  :data="produksiDetails">

                <template slot="thead">
                    <vs-th>No</vs-th>
                    <vs-th>Menu</vs-th>
                    <vs-th>Qty</vs-th>
                    <vs-th>Action</vs-th>
                </template> 
                

                <template slot-scope="{data}">
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr+1">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].menu_jual">
                            {{data[indextr].menu_jual != null ? data[indextr].menu_jual.menu : ""}}
                        </vs-td>

                        <vs-td :data="data[indextr].qty">
                             {{data[indextr].qty}}  
                        </vs-td>
 
                        <vs-td >
                            <feather-icon v-tooltip="'Edit'" icon="EditIcon"  svgClasses="w-5 h-5 hover:text-primary stroke-current"  class="ml-2" @click="editPostData(tr)"  />
                            <feather-icon v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deletePostData(tr)" /> 
                        </vs-td>
                    </vs-tr>   
                    
                </template> 
            </vs-table>
              <vs-divider/> 
              <div style="text-align:right;">
                <vs-button   style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                <vs-button  color="success" style="width:100px;" type="relief" @click.stop="submitData()">Submit</vs-button>
              </div>
          </div>

          <vs-prompt
            @cancel="clearValMultiple"
            @accept="confirmEdit"
            @close="close"
            accept-text = "Edit"
            :is-valid="validName"
            :active.sync="activePrompt2" 
            title="Edit">
            <div class="con-exemple-prompt">  
              <vs-input label="qty" placeholder="qty"  v-model="editValue.qty" type="number" class="w-full"/> 
            </div>
          </vs-prompt>
      </vx-card>



   </div>   
</template>

<script>
import vSelect from 'vue-select'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Datepicker from 'vuejs-datepicker'
import moment from 'vue-moment'

export default { 
  watch: {
    
  },
  data() {
    return { 
      menusisaId: null,
      menusisaDate:null,
      
      format: "d MMMM yyyy",
      next:false,
      edit:false,
      model: null,
      mode: 'input',
      loading: false,
      stat: null,
      selected: null,
      remark:null,
      amount:null,
      activePrompt2:false,
      formDetail:{
        menuJual:null,
        qty:null,
      }, 

      editValue:{
        id:null,
        qty:null,
      },
      journalData: {}, 

      dataCOA:null,
      ListMenuJual:[],

      ListStatus: [
        {text:'Debit',value:'debit'},
        {text:'Kredit',value:'kredit'}, 
      ], 
      produksiDetails:[], 
 
    }
  },
  computed: {  
     validName(){
      // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
    }
  }, 
  created(){
    this.$vs.loading({
          type: 'radius'
      });   
      this.menusisaDate = new Date();     
      this.loadmenujual()
      if(this.$route.name =="pages-editmenusisajual"){
        this.menusisaId = this.$route.params.idmenusisajual; 
        this.next= true;
      } 
      this.loadproduksidata();  
  },  
  components: {
    vSelect,
    Datepicker,
    VuePerfectScrollbar,
  },
  methods: {
    async loadmenujual(){ 
          var com_id = this.$user != null ? this.$user.company.company_id : 0;
            this.$http.get(this.$baseURL + '/master/menujuals' , {
                params: {
                    filter: 'company_id|' + com_id
                },
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                 this.$vs.loading.close()
                this.ListMenuJual = res.data.data;
                
            }).catch(err => {
                 this.$vs.loading.close()
                console.log(err.data.message);
                 if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Add Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
        }, 

    async loadproduksidata(){
      if(this.menusisaId != null){
        await this.$http.get(this.$baseURL + '/master/menusisa?filter=id_menu_sisa_jual|'+this.menusisaId, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                 this.$vs.loading.close()
              this.menusisaDate = res.data.data[0].date;
              this.produksiDetails = res.data.data[0].menu_sisa_details;
              
            }).catch(err => {
                 this.$vs.loading.close()
                console.log(err.data.message);
                 if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Add Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
            });

      
      }else{
         this.next=false;
        return null
      }
    },
    getunitproduct(){
      this.formDetail.unitproduct = this.formDetail.product.unit_sm;
    },

    saveData() { 
       this.$router.push('/pages/menusisajual').catch(() => {})
      
       
    },

    back(){
       this.$router.push('/pages/menusisajual').catch(() => {})
    },
 

    addmenusisa(){
        this.$vs.loading({ type: 'radius' })
      if(this.menusisaId == null){
          this.$http.post(this.$baseURL + '/master/menusisa/create',
                this.$qs.stringify({ 
                    date:this.menusisaDate,
                    id_menu_jual:this.formDetail.menuJual != null ? this.formDetail.menuJual.id_menu_jual : "",
                    qty:this.formDetail.qty,
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                  this.menusisaId = res.data.data.id_menu_sisa_jual;
                 this.$vs.loading.close()
                 this.resetform();
                  this.loadproduksidata();
            }).catch(err => {
                 this.$vs.loading.close()
                console.log(err);
                this.promptAlert("danger","Journal Detail Add Error",err)   
            }); 
      }else{
         this.$http.post(this.$baseURL + '/master/menusisa/details/create',
                this.$qs.stringify({ 
                    id_menu_sisa_jual:this.menusisaId,
                    id_menu_jual:this.formDetail.menuJual != null ? this.formDetail.menuJual.id_menu_jual : "",
                    qty:this.formDetail.qty,
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                 this.$vs.loading.close();
                 this.resetform();
                  this.loadproduksidata();
            }).catch(err => {
                 this.$vs.loading.close()
                console.log(err);
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Add Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
            });  
      }
    },

    editPostData(tr){  
      this.editValue.id = tr.id_menu_sisa_jual_detail;
      this.editValue.qty = tr.qty; 
      this.activePrompt2 = true;

    }, 
    deletePostData(tr) { 
       this.editValue.id = tr.id_menu_sisa_jual_detail;
        this.$vs.dialog({
            type: 'confirm',
            color: 'danger',
            title: `Confirm`,
            text: 'Are you sure want to delete this Data ?',
            accept: this.acceptDelete
        })
    },
    acceptDelete() {
       this.$http.delete(this.$baseURL + '/master/menusisa/details/'+ this.editValue.id+'/delete',
              {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {  
                 this.$vs.loading.close()
                  this.promptAlert("danger","Data Deleted","The selected Data was Successfully Deleted") 
                  this.loadproduksidata();
            }).catch(err => {
                 this.$vs.loading.close()
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Add Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
            }); 

      
    },
    confirmEdit(){
        this.$vs.loading({ type: 'radius' })
      this.$http.put(this.$baseURL + '/master/menusisa/details/'+ this.editValue.id+'/update',
              this.$qs.stringify({ 
                    qty: this.editValue.qty, 
                }),{
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {  
                 this.$vs.loading.close()
                  this.promptAlert("success","Data Edited","Your Data Successfully Edited") 
                  this.loadproduksidata();
            }).catch(err => {
                 this.$vs.loading.close()
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Add Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
            }); 
     
    }, 
    submitData(){
        this.$vs.loading({ type: 'radius' })
       this.$http.put(this.$baseURL + '/master/menusisa/'+ this.menusisaId+'/submit',
                {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {  
                 this.$vs.loading.close();
                  this.promptAlert("success","Data Submitted","Your Data Submit Successfully ") 
                  this.back();
            }).catch(err => {
                 this.$vs.loading.close()
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Add Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    } 
            }); 
    },
     
    promptAlert(status,ttle,txt){
      this.$vs.notify({
        color:status,
        title:ttle,
        text:txt
      })
    }, 

    resetform(){
      this.formDetail.menuJual = null;
      this.formDetail.qty = null;
    },

    clearValMultiple(){

    },
    close(){
      this.editValue.id = null;
      this.editValue.qty = null;
    }
    
  

  },
  
}
</script>

<style lang="scss" scoped>
@import "@sass/vuexy/extraComponents/autocomplete.scss";
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
