<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        <vx-card ref="filterCard" class="user-list-filters mb-8">
            <vs-row class="">
                <vs-col vs-w="6" class="px-3">
                    <label class="vs-input--label" for="">SPK</label>
                    <v-select v-model="form.spk" :clearable="false" label="code_spk" :options="spkOptions" placeHolder="User"
                            :reduce="spkOptions => spkOptions.code_spk" name="User" />
                </vs-col>
                <vs-col vs-w="6" class="px-3">
                    <label class="vs-input--label" for="">Tanggal</label>
                    <datepicker placeholder="Select Date" v-model="form.dateStart"></datepicker>
                </vs-col>
            </vs-row>
        </vx-card>

            <vx-card ref="bodyGL" class="user-list-filters mb-8">
                <vs-row class="mb-10">
                    <vs-col vs-w="3" class="px-3">
                        <label class="vs-input--label" for="">Nama Karyawan</label>
                        <v-select v-model="person.name" :clearable="false" label="name" :options="karyawanOptions"
                                :reduce="karyawanOptions => karyawanOptions.name" name="name" />
                    </vs-col>
                    <vs-col vs-w="3" class="px-3">
                        <vs-input placeholder="exp. Beli Pulsa" v-model="person.deskripsi" label="Deskripsi" class="w-full" />
                    </vs-col>
                    <vs-col vs-w="3" class="px-3">
                        <label class="vs-input--label" for="">Nominal (Rp)</label>
                        <div class="vs-con-input">
                            <currency-input v-model="person.nominal" :currency="{prefix}" :precision="{min,max}"
                                locale="de" class="vs-inputx vs-input--input normal hasValue" />
                        </div>
                    </vs-col>
                    <vs-col vs-w="3" class="px-3">
                        <vs-button color="primary" style="width:100px; margin-top:20px;" v-on:click="addDetail"
                            type="relief">Add</vs-button>
                    </vs-col>
                </vs-row>

                <!-- TABLE APPROVE -->
                <vs-table v-if="tipe === 'approve'" multiple v-model="selected" stripe class="mb-10" :data="kasbon">

                    <template slot="thead">
                        <vs-th sort-key="id">No</vs-th>
                        <vs-th sort-key="name">Tanggal</vs-th>
                        <vs-th sort-key="name">Nama</vs-th>
                        <vs-th sort-key="nominal">Nominal (Rp)</vs-th>
                        <vs-th sort-key=""></vs-th>

                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>
                            <vs-td :data="data[indextr].entry_at">
                                {{data[indextr].entry_at }}
                            </vs-td>
                            <vs-td :data="data[indextr].description">
                                {{data[indextr].description}}
                            </vs-td>
                            <vs-td class="" :data="data[indextr].nominal">
                                {{data[indextr].nominal | currency}}
                            </vs-td>                            
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="editPostData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                        <vs-tr>
                            <vs-td colspan="2">
                            </vs-td>
                            <vs-td>Grand Total</vs-td>
                            <vs-td><strong>{{ form.grandtotal | currency}}</strong></vs-td>
                            <vs-td></vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- TABLE NORMAL -->
                <vs-table v-else stripe class="mb-10" :data="kasbon">

                    <template slot="thead">
                        <vs-th sort-key="id">No</vs-th>
                        <vs-th sort-key="name">Nama</vs-th>
                        <vs-th sort-key="name">Deskripsi</vs-th>
                        <vs-th sort-key="nominal">Nominal (Rp)</vs-th>
                        <vs-th sort-key=""></vs-th> 
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>
                            <vs-td :data="data[indextr].name">
                                {{data[indextr].name}}
                            </vs-td>
                            <vs-td :data="data[indextr].description">
                                {{data[indextr].description}}
                            </vs-td>
                            <vs-td :data="data[indextr].nominal">
                                {{data[indextr].nominal | currency}}
                            </vs-td>                            
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="editPostData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                        <vs-tr>
                            <vs-td colspan="2">
                            </vs-td>
                            <vs-td>Grand Total</vs-td>
                            <vs-td><strong>{{ form.grandtotal | currency}}</strong></vs-td>
                            <vs-td></vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- <vs-row>                  
                    <vs-col class="text-right mb-3" vs-w="10">
                        <h4>Grandtotal: <b>Rp. {{ form.grandtotal | currency}}</b></h4>
                    </vs-col>
                </vs-row>    -->

                <!-- LINE DIVIDER -->
                <vs-divider />

                <vs-row>
                    <vs-col class="text-right">
                        <vs-button style="width:100px; background-color:mediumslateblue;" type="relief" @click.stop="back()">Back
                        </vs-button>
                        <vs-button v-if="tipe !== 'approve'" color="success" style="width:100px;" type="relief"
                            @click.stop="submit()">
                            Submit</vs-button>

                        <!-- SHOW APPROVE ONLY -->
                        <vs-button v-if="tipe === 'approve'" color="warning" style="width:100px;" type="relief"
                            @click.stop="reject()">
                            Reject</vs-button>
                        <vs-button v-if="tipe === 'approve'" color="primary" style="width:100px;" type="relief"
                            @click.stop="approve()">
                            Approve</vs-button>
                    </vs-col>
                </vs-row>

                <!-- PROMPT EDIT -->
                <div v-if="valueProduct">
                    <vs-prompt @cancel="clearValMultiple" @accept="acceptEdit" @close="close" accept-text="Edit"
                        :active.sync="activePrompt2" title="Edit">
                        <div class="con-exemple-prompt">
                            <vs-input label="Nama" disabled="true" v-model="valueProduct.name" class="w-full" />
                            <vs-input label="Deskripsi" disabled="true" v-model="valueProduct.description" class="w-full" />
                            <vs-row>
                                <div class="vs-input w-full px-1">
                                    <label class="vs-input--label" for="">Nominal (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input v-model="valueProduct.nominal" :currency="{prefix}" :precision="{min,max}"
                                            locale="de" class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </div>
                            </vs-row>
                            
                        </div>
                    </vs-prompt>
                </div>

                <!-- POP-UP REJECT -->
                <vs-prompt v-if="activeReject" @cancel="close" @accept="acceptReject" @close="close"
                    accept-text="Submit" :active.sync="activeReject" :title="modalTitle">
                    <div class="con-exemple-prompt">
                        <vs-row>
                            <vs-input label="Notes" v-model="form.notes" class="w-full" />
                        </vs-row>
                    </div>
                </vs-prompt>

            </vx-card>

    </div>
</template>



<script>
import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        vSelect,
        Datepicker
    },
    data() {
        return {
            id:null,
            tipe:null,
            tanggal: this.$moment,
            activePrompt2: false,
            activeReject:false,
            format_ID: "DD/MM/YYYY",
            max: 0,
            min: 0,
            prefix: "Rp ",
            selected:[],
            form: {
                code:'',
                spk: null,
                dateStart: new Date(),
                description: null,
                grandtotal:0,
                notes:null,
            },
            person: {
                deskripsi:null,
                name: null,
                nominal: 0,
                dateAt: new Date(),
            },
            product: {
                name: null,
                qty: 1,
                price: 0,
            },
            valueProduct: {
                kasbon_d_id:null,
                name:null,
                description:null,
                nominal:0,
                entry_at:null,
            },
            spkOptions: [],
            karyawanOptions: [],
            kasbon: [],
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });  
        this.loadData();
    },
    methods: {
        async loadData() {            
            this.id = this.$route.params.idKasbon;
            this.tipe = this.$route.params.tipe;

            if (this.id > 0) {
                this.loadEdit();
            }

            var resSPK = await this.$http.get(this.$baseURL + '/project/orders', {
                params: {
                    filter: 'status|progress;company_id|'+this.$company.company_id
                },
            },{
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            });

            var resKaryawan = await this.$http.get(this.$baseURL + '/master/karyawan',{
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            });

            this.spkOptions = resSPK.data.data;
            this.karyawanOptions = resKaryawan.data.data;

            this.$vs.loading.close();
        },

        async loadEdit() {
            this.po = false;
            var resReadKasbon = await this.$http.get(this.$baseURL + '/project/kasbon/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message)
            })

            var result = resReadKasbon.data.data;
            
            this.form.dateStart = this.$moment(result.entry_at, "DD/MM/YYYY").toDate();
            this.form.code = result.code;
            this.form.spk = result.code_spk;
            this.form.grandtotal = result.nominal;
            this.kasbon = result.kasbon_details;
        },

        addDetail() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('code_spk', this.form.spk);
            formData.append('code', this.form.code);
            if (this.form.dateStart === null) {
                formData.append('entry_at', this.$moment().format(this.format_ID));
            } else {
                formData.append('entry_at', this.$moment(this.form.dateStart).format(this.format_ID));
            }
            formData.append('detail[person]', this.person.name);
            formData.append('detail[description]', this.person.deskripsi);

            formData.append('detail[nominal]', this.person.nominal);

            this.$http.post(this.$baseURL + '/project/kasbon/details/create', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                // console.log(res.data.data);
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Data berhasil ditambahkan'
                })
                this.loadDetail(res.data.data.kasbon_id)
            }).catch(err => {
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                this.$options.filters.auth(err.response.data.message)
            });
        },

        async loadDetail(value) {
            var resKasbon = await this.$http.get(this.$baseURL + '/project/kasbon/' + value + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$options.filters.auth(err.response.data.message)
            })

            this.kasbon = resKasbon.data.data.kasbon_details;            
            this.form.grandtotal = resKasbon.data.data.nominal;

            this.$vs.loading.close();
        },
       
        deleteData(data) {
            this.valueProduct = data;

            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin data akan dihapus?',
                accept: this.acceptDelete
            })
        },

        acceptDelete() {
            this.$http.delete(this.$baseURL + '/project/kasbon/details/' + this.valueProduct.kasbon_d_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                // console.log(res.data.data);
                this.loadDetail(this.valueProduct.kasbon_id)
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Data berhasil dihapus'
                })
            }).catch(err => {
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                console.log(err);
            });
        },

        editPostData(tr) {
            this.valueProduct.kasbon_d_id = tr.kasbon_d_id;
            this.valueProduct.name = tr.name;
            this.valueProduct.nominal = tr.nominal;
            this.valueProduct.description = tr.description;
            this.valueProduct.entry_at = this.$moment(tr.entry_at, "DD/MM/YYYY").toDate();
            this.activePrompt2 = true;
        },

        acceptEdit() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('code', this.form.code);

            formData.append('code_spk', this.form.spk);
            if (this.form.dateStart === null) {
                formData.append('entry_at', this.$moment().format(this.format_ID));
            } else {
                formData.append('entry_at', this.$moment(this.form.dateStart).format(this.format_ID));
            }
            formData.append('detail[person]', this.valueProduct.name);
            formData.append('detail[description]', this.valueProduct.description);
            formData.append('detail[nominal]', this.valueProduct.nominal);
            formData.append('_method', 'PUT');

            this.$http.post(this.$baseURL + '/project/kasbon/details/'+this.valueProduct.kasbon_d_id+'/update', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Kasbon berhasil diubah'
                })
                this.loadDetail(res.data.data.kasbon_id);
            }).catch(err => {
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                this.$options.filters.auth(err.response.data.message)
            });
        },

        submit() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Yakin Kasbon sudah sesuai?',
                accept: this.acceptSubmit
            })
        },

        acceptSubmit() {
            const formData = new FormData();
            formData.append('code', this.form.code);

            formData.append('code_spk', this.form.spk);
            if (this.form.dateStart === null) {
                formData.append('entry_at', this.$moment().format(this.format_ID));

            } else {
                formData.append('entry_at', this.$moment(this.form.dateStart).format(this.format_ID));
            }

            if (this.tipe !== 'edit') {
            
                this.$http.post(this.$baseURL + '/project/kasbon/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/kasbon/');
                }).catch(err => {
                    console.log(err);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    })
                    this.$options.filters.auth(err.response.data.message)
                })
            }else{               
                formData.append('_method', 'PUT');
                
                this.$http.post(this.$baseURL + '/project/kasbon/'+this.id+'/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/kasbon/');
                }).catch(err => {
                    console.log(err);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    })
                    this.$options.filters.auth(err.response.data.message)
                })
            }
        },

        approve() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'yakin akan menyetujui Kasbon ini?',
                accept: this.acceptApprove
            })
        },
        
        acceptApprove() {
            if (this.selected.length < 1) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Kasbon tidak boleh kosong',
                })

            } else {
                const formData = new FormData();

                formData.append('execute', 'approved');
                for (let index = 0; index < this.selected.length; index++) {
                    formData.append('details[' + index + '][id]', this.selected[index].kasbon_d_id);
                }

                this.$http.post(this.$baseURL + '/project/kasbon/' + this.id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/kasbon');
                }).catch(err => {
                    console.log(err);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    })
                    this.$options.filters.auth(err.response.data.message)
                })
            }
        },

        reject() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Anda yakin akan menolak Kasbon ini?',
                accept: this.rejectActive
            })
        },

        rejectActive() {
            this.activeReject = true;
        },
        acceptReject() {
            const formData = new FormData();
            formData.append('execute', 'rejected');
            formData.append('rejected', 1);
            formData.append('notes', this.form.notes);

            this.$http.post(this.$baseURL + '/project/kasbon/' + this.id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/kasbon');
            }).catch(err => {
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                this.$options.filters.auth(err.response.data.message);
            })
        },

        clearValMultiple() {
            
        },

        close() {
            this.activePrompt2 = false;
            this.activeReject = false;
        },

        back() {
            this.$router.go(-1);
        },
    }
}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>