<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
  <div>
    <vx-card ref="headerGL" title="Journal Detail" class="user-list-filters mb-8">
      <div class="vx-row">
        <div style="padding-left:15px;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
          <h4>Role Name:</h4>
          <br />
          <h4>{{this.roleName}}</h4>
        </div>
        <div style="padding-left:25px;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
          <h4>Role Description:</h4>
          <br />
          <h4>{{this.roleDesc}}</h4>
        </div>
      </div>
      <br />
      <br />
    </vx-card>

    <vx-card class="mt-base" no-shadow card-border>
      <div class="vx-row">
        <div class="vx-col w-full">
          <div class="flex items-end px-3">
            <feather-icon svgClasses="w-6 h-6" icon="LockIcon" class="mr-2" />
            <span class="font-medium text-lg leading-none">Permissions</span>
          </div>
          <vs-divider />
        </div>
      </div>

      <div class="block overflow-x-auto">
        <table class="w-full">
          <tr> 
            <th
              class="font-semibold text-base text-left px-3 py-2"
              v-for="heading in ['Module','ALL', 'Read', 'Create','Confirm/Reject', 'Update', 'Delete']"
              :key="heading"
            >{{ heading }}</th>
          </tr>

          <tr v-for="(tr, indextr) in listmenu" :key="indextr">
            <td class="px-3 py-2">
              {{ tr.parent.name == "Reports" ? "Report" : "" }} {{ tr.name }} 
              </td>
            <td>
              <vs-checkbox
                :value="isChecked(tr)"
                @click.stop="selectAll(tr)"
              />
            </td>
            <td>
              <vs-checkbox v-model="tr.readd"  />
            </td>
            <td>
              <vs-checkbox v-if="tr.parent.name != 'Reports'" v-model="tr.createe"  />
            </td>
            <td>
              <vs-checkbox v-if="tr.slug == 'confirmspk' || tr.slug == 'createestimasi' || tr.slug == 'pages-penawaran' || tr.slug == 'pages-kasbon' || tr.slug ==  'pages-borongan' || tr.slug == 'pages-formpenjualan' || tr.slug == 'pages-penjualan' || tr.slug == 'pages-revisifaktur' || tr.slug =='pages-popenjualan' || tr.slug =='pages-po' || tr.slug =='pages-penyesuaianstock' || tr.slug == 'pages-formpenjualanfree' || tr.slug == 'pages-penjualanfree' || tr.slug == 'pages-revisifakturfree'" v-model="tr.confirmm"  />
            </td>
            <td>
              <vs-checkbox v-if="tr.parent.name != 'Reports'" v-model="tr.updatee"  />
            </td>
            <td>
              <vs-checkbox v-if="tr.parent.name != 'Reports'" v-model="tr.deletee"  />
            </td> 
          </tr>  
        </table>
        <vs-divider/>
        <div style="float:right;">
          <vs-button  style="width:100px; background-color: mediumslateblue;" type="relief" @click.stop="back()"  >Back</vs-button>
          <vs-button  color="success" style="width:100px;" type="relief" @click.stop="submitData()" >Submit</vs-button>
        </div>
      </div>
    </vx-card>
  </div>
</template>

<script>
import axios from "axios";

export default {
  watch: {},
  data() {
    return {
      roleId: null,
      roleName: "Administrator",
      roleDesc: "Administrator", 
      next: false,
      model: null,
      loading: false,  
      ListStatus: [
        { text: "Debit", value: "debit" },
        { text: "Kredit", value: "kredit" }
      ], 
      access:null,
      role_m_id:null,
      listmenu:[],
      settings: { 
        maxScrollbarLength: 60,
        wheelSpeed: 0.6
      }
    };
  }, 
   created(){  
    this.$vs.loading({ type: 'radius' });    
     this.roleId = this.$route.params.idrole;      
     this.loadData(); 

     },
  methods: { 
     async loadData(){   
         await this.$http.get(this.$baseURL + '/auth/roles?filter=role_id|'+this.roleId, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.access = res.data.data[0].role_menus != null ? res.data.data[0].role_menus.access : null;
                this.role_m_id = res.data.data[0].role_menus != null ? res.data.data[0].role_menus.role_m_id : null;
                this.roleName = res.data.data[0].name; 
                this.roleDesc = res.data.data[0].description; 
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
            }); 

           await this.$http.get(this.$baseURL + '/auth/roles/indexmenu', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.listmenu = res.data.data; 
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
            });
      
        for(var list in this.listmenu){  
            for(var list2 in this.access){  
                if(this.listmenu[list].menu_d_id == this.access[list2].menu_d_id){  
                    this.listmenu[list].readd = this.access[list2].readd; 
                    this.listmenu[list].createe = this.access[list2].createe;
                    this.listmenu[list].confirmm = this.access[list2].confirmm;
                    this.listmenu[list].updatee = this.access[list2].updatee;
                    this.listmenu[list].deletee = this.access[list2].deletee;
                }
            }
 
      } 
          
     this.$vs.loading.close(); 

    },    
    sendData(tr) { 
      console.log("send data : " + tr);
    },
    loadJournalData() {
      // if(this.journalId != null){
      //   axios.get("api/journaldata/"+this.journalId).then(({ data }) => (this.journalData = data))
      // }else{
      //   return null
      // }
    },
    submitData() {
    this.$vs.loading({ type: 'radius' });
      if(this.role_m_id == null){
          var dt = { 
                role_id:this.roleId,
                list_menu:JSON.stringify(this.listmenu), 
            }; 
            this.$http.post(this.$baseURL+ '/auth/roles/create',
            this.$qs.stringify(dt), {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                  
                this.promptAlert("success","Success Update Access","") 
                this.back();
                this.$vs.loading.close();

            }).catch(err => {
                  this.$vs.loading.close();
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }else if(err.response.data.message =="Post Error"){
                this.promptAlert("danger","Post Failed",err.response.data.errors) 
                }else{
                this.promptAlert("danger","Failed",err.response.data.errors)

                }
            });
      }else{
          var dt = { 
                list_menu:JSON.stringify(this.listmenu), 
            }; 
            this.$http.put(this.$baseURL+ '/auth/roles/'+this.role_m_id+'/update',
            this.$qs.stringify(dt), {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => { 
                this.promptAlert("success","Success Update Access","")  
                this.back();
                this.$vs.loading.close(); 
            }).catch(err => {
                  this.$vs.loading.close();
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }else if(err.response.data.message =="Post Error"){
                this.promptAlert("danger","Post Failed",err.response.data.errors) 
                }else{
                this.promptAlert("danger","Failed",err.response.data.errors) 
                }
            });
      }
               

    },
    back() {
      this.$router.push("/pages/userrole").catch(() => {});
    },
    editPostData(tr) {},

    acceptAlert() {
      this.$vs.notify({
        color: "success",
        title: "Post Edited",
        text: "Your Post Successfully Edited"
      });
    },

    isChecked(tr) {
     if(tr.readd == true && tr.createe == true && tr.updatee == true && tr.deletee == true){
       return true;
     }else if (tr.parent.name == 'Reports' && tr.readd == true){
       return true;
     }else{ 
      return false;
      }
    },

    selectAll(tr) {
      let action = !this.isChecked(tr);
      tr.readd = action;
      tr.createe = action;
      tr.confirmm = action;
      tr.updatee = action;
      tr.deletee = action;  
    },

    promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        }, 
  },  
};
</script>
 