<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>

        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" class="user-list-filters mb-8">
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin:5px; "> Order ID: </span> <br>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{order_id}}</h4>
                    </span>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin:5px; ">Date</span> <br>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{date}}</h4>
                    </span>
                </div>
            </div>
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> Work Order: </span>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{work_order}}</h4>
                    </span>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Customer: </span>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{customer}}</h4>
                    </span>
                </div>
            </div>
        </vx-card>


        <div>

            <vx-card ref="bodyGL" class="user-list-filters mb-8">
                <div>

                </div>
                <vs-table ref="table" multiple v-model="selected" :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">

                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">

                        </div>
                    </div>
                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <vs-th sort-key="stok">Qty SM</vs-th>
                        <vs-th sort-key="price">Price / SM (Rp)</vs-th>
                        <!-- <vs-th sort-key="stok">Qty LG</vs-th>
                        <vs-th sort-key="price">Price / LG (Rp)</vs-th> -->
                        <vs-th sort-key="tax">Tax (%)</vs-th>
                        <vs-th sort-key="discound">Discount (Rp)</vs-th>
                        <vs-th sort-key="total">Total (Rp)</vs-th>
                        <vs-th sort-key=""></vs-th>

                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>

                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>
                            <vs-td :data="data[indextr].qty_sm">
                                {{data[indextr].qty_sm}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                {{data[indextr].price_sm | currency}}
                            </vs-td>
                            <!-- <vs-td :data="data[indextr].qty_lg">
                                {{data[indextr].qty_lg}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_lg">
                                {{data[indextr].price_lg | currency}}
                            </vs-td> -->

                            <vs-td :data="data[indextr].tax">
                                {{data[indextr].tax}}
                            </vs-td>
                            <vs-td :data="data[indextr].discount">
                                {{data[indextr].discount | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w=6>
                                    <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w=6>
                                    <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                        class="ml-2" @click.stop="deleteData(tr)" />
                                </vs-col>
                                <!-- <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" /> -->
                            </vs-td>
                        </vs-tr>

                    </template>
                </vs-table>
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ total | currency}}</b></h4>
                    </vs-col>
                </vs-row>

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button color="lightblue" style="width:100px;" type="relief" @click.stop="back()">Back
                        </vs-button>
                        <vs-button color="success" style="width:100px;" type="relief" @click.stop="submit()">
                            Approve
                        </vs-button>
                    </vs-col>

                </vs-row>

                <!-- <div>
                    <vs-prompt @cancel="clearValMultiple" @accept="acceptAlert" @close="close" accept-text="Edit"
                        :is-valid="validName" :active.sync="activePrompt2" title="Edit">
                        <div class="con-exemple-prompt">

                            <span style="font-size:13px;">Search COA</span>
                            <vue-simple-suggest pattern="\w+" v-model="editValue.product" :list="getList"
                                :max-suggestions="10" :min-length="3" :debounce="200" :filter-by-query="false"
                                :prevent-submit="true" :controls="{
                            selectionUp: [38, 33],
                            selectionDown: [40, 34],
                            select: [13, 36],
                            hideList: [27, 35]
                            }" :mode="mode" :nullable-select="true" ref="suggestComponent"
                                placeholder="Search information..." value-attribute="id" display-attribute="text">

                                <div class="g">
                                    <input v-model="editValue.product" type="text" class="w-full"
                                        style="  height:40px;">
                                </div>

                                <template slot="misc-item-above" slot-scope="{ suggestions }">
                                    <div class="misc-item">

                                    </div>

                                    <template v-if="suggestions.length > 0">
                                        <div class="misc-item">

                                        </div>
                                        <hr>
                                    </template>

                                    <div class="misc-item" v-else-if="!loading">
                                        <span>No results</span>
                                    </div>
                                </template>

                                <div slot="suggestion-item" slot-scope="scope" :title="scope.suggestion.description">
                                    <div class="text">
                                        <span v-html="boldenSuggestion(scope)"></span>
                                    </div>
                                </div>
                            </vue-simple-suggest>

                            <vs-input placeholder="Qty Besar" label="Qty Besar" v-model="editValue.qty"
                                class="w-full" />
                            <vs-input label="Qty Kecil" placeholder="Qty Kecil" v-model="editValue.price"
                                class="w-full" />
                        </div>
                    </vs-prompt>
                </div> -->

                <div v-if="productValue!==null">
                    <vs-prompt v-if="activePrompt2" @cancel="close" @accept="acceptEdit" @close="close"
                        accept-text="Edit" :active.sync="activePrompt2" title="Edit">
                        <div class="con-exemple-prompt">

                            <vs-input label="Product" disabled="true" v-model="productValue.product.name"
                                class="w-full" />
                            <vs-row>
                                <vs-input label="Qty SM" v-model="productValue.qty_sm" class="w-1/2" />
                                <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> /
                                    {{productValue.unit_sm}}</span>
                            </vs-row>
                            <vs-input label="Price SM" v-model="productValue.price_sm" class="w-full" />
                            <!-- <vs-row>
                                <vs-input label="Qty LG" v-model="productValue.qty_lg" class="w-1/2" />
                                <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> /
                                    {{productValue.unit_lg}}</span>
                            </vs-row>
                            <vs-input label="Price LG" v-model="productValue.price_lg" class="w-full" /> -->
                            <vs-row>
                                <!-- <vs-input label="Tax (%)" v-model="productValue.tax" class="w-1/2" /> -->
                                <vs-input label="Discount" v-model="productValue.discount" class="w-1/2" />
                            </vs-row>
                        </div>
                    </vs-prompt>
                </div>


            </vx-card>
        </div>

    </div>
</template>



<script>
import vSelect from 'vue-select'
import VueSimpleSuggest from 'vue-simple-suggest';
import Datepicker from 'vuejs-datepicker';


export default {
    components: {
        VueSimpleSuggest,
        vSelect,
        Datepicker
    },
    data() {

        return {
            activePrompt2: false,
            mode: 'input',
            selected: [],
            id:null,
            work_order:null,
            customer:null,
            date:null,
            order_id:null,
            total:0,
            productValue:null,
            penjualans: [
                // {
                //     "id": 1,
                //     "product": "Papan  ",
                //     "qty": "10",
                //     "totalorder": "5",
                //     "price": "50000",
                //     "saleprice": "50000",
                //     "tax": "10",
                //     "discount":"0",
                //     "total":"500000", 
                // },
            ],

        }
    },

    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }
    },
    mounted() {
        this.loadData()
    },
    methods: {

        async loadData() {

            this.id = this.$route.params.idpopenjualan;

            var resPO = await this.$http.get(this.$baseURL + '/penjualan/po/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);            })

            var total = 0;
            for (let index = 0; index < resPO.data.data.po_penjualan_details.length; index++) {

                total = total + resPO.data.data.po_penjualan_details[index].amount;
            }

            this.total = total;
            this.work_order = resPO.data.data.work_order;
            this.order_id = resPO.data.data.order_id;
            this.date = resPO.data.data.created_at;
            this.customer = resPO.data.data.customer_id;
            this.penjualans = resPO.data.data.po_penjualan_details;



        },
        resetColFilters() {

        },
        back(){
           this.$router.push('/pages/popenjualan') 
        },

        async loadPO(value) {
                var resPO = await this.$http.get(this.$baseURL + '/penjualan/po/' + value + '/read', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    // console.log(err);
                    // this.$options.filters.auth(false)
                })

                // console.log(resPO.data.data);
                var total = 0;
                for (let index = 0; index < resPO.data.data.po_penjualan_details.length; index++) {

                    total = total + resPO.data.data.po_penjualan_details[index].amount;
                    // console.log('tes : ' + total);

                }

                // console.log(total);

                this.penjualans = resPO.data.data.po_penjualan_details;
                this.total = total;
                // this.form.grandtotal = parseInt(total) + parseInt(this.form.ongkir);
            },


        editData(data) {
            this.productValue = data;            
            this.activePrompt2 = true

        },
        acceptEdit() {
            const formData = new FormData();
            formData.append('name', 'cumannn');
            formData.append('supplier_inv', 'inv-453');
            formData.append('work_order', this.work_order);
            formData.append('details[product_id]', this.productValue.product_id);
            formData.append('details[qty_lg]', this.productValue.qty_lg);
            formData.append('details[qty_sm]', this.productValue.qty_sm);            
            formData.append('details[price_lg]', this.productValue.price_lg);
            formData.append('details[price_sm]', this.productValue.price_sm);
            formData.append('details[tax]', this.productValue.tax);
            formData.append('details[discount]', this.productValue.discount);
            formData.append('_method', 'PUT');

            // console.log(this.editValue);


            this.$http.post(this.$baseURL + '/penjualan/po/details/' + this.productValue.po_pj_d_id + '/update', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                // console.log(res.data.data);
                this.loadPO(res.data.data.po_pj_id)

                this.$vs.notify({
                    color: 'success',
                    title: 'Product Edited',
                    text: 'Product Successfully Edited'
                })
            }).catch(err => {
                console.log(err);
            }).finally(
                // this.loadData,
                this.activePrompt2 = false
            );
        },
        close() {

        },
        deleteData(data) {
            this.productValue = data; 
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this Product ?',
                accept: this.acceptDelete
            })
        },
        acceptDelete() {
            this.$http.delete(this.$baseURL + '/penjualan/po/details/' + this.productValue.po_pj_d_id + '/delete', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.$vs.notify({
                        color: 'success',
                        title: 'Product Deleted',
                        text: 'Selected Product Successfully Deleted'
                    })
                }).catch(err => {
                    console.log(err);
                }).finally(
                    this.loadPO(this.productValue.po_pj_id)
                );
        },
        submit(){
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Are you sure want to Approve this PO ?',
                accept: this.acceptSubmit
            })
        },
        acceptSubmit() {
            if (this.selected.length <= 0 ) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Data Empty',
                    text: 'Product Not Selected',
                    // accept: this.accept
                })
            } else{
                const formData = new FormData();
                for (let index = 0; index < this.selected.length; index++) {
                        formData.append('details['+index+'][id]', this.selected[index].po_pj_d_id);
                    }
                formData.append('execute', 'approved');


                this.$http.post(this.$baseURL + '/penjualan/po/'+this.id+'/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/penjualan/')
                }).catch(err => {
                    console.log(err);
                })
            }
        },
        clearValMultiple() {

        }


    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>