<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        <vx-card title="Detail Absen Tukang" ref="filterCard" class="user-list-filters mb-8">
            <vs-row class="mb-4">
                <vs-col vs-w="6" class="px-3">
                    <label class="vs-input--label" for="">Work Order</label>
                    <span>
                        <v-select :disabled="hide" v-model="form.workOrder" :clearable="false" label="work_order"
                            :reduce="woOptions => woOptions.work_order" :options="woOptions" name="workOrder" /> </span>
                </vs-col>
                <vs-col vs-w="6" class="px-3">
                    <label class="vs-input--label" for="">Periode</label>
                    <vs-row>
                        <vs-col vs-w="6" class="pr-2">
                            <datepicker :disabled-dates="disabledDatesStart" placeholder="Select Date Start"
                                v-model="form.dateFrom">
                            </datepicker>
                        </vs-col>
                        <vs-col vs-w="6" class="pl-2">
                            <datepicker :disabled-dates="disabledDatesFinish" placeholder="Select Date Finish"
                                v-model="form.dateTo"></datepicker>
                        </vs-col>
                    </vs-row>
                </vs-col>
            </vs-row>
            <vs-row class="mb-4">
                <vs-col vs-w="6" class="px-3">
                    <span>
                        <vs-input v-model="form.description" placeholder="Description" label="Description"
                            class="w-full" /> </span>
                </vs-col>
                <vs-col vs-w="6" class="px-3">
                    <span>
                        <vs-input v-model="form.location" placeholder="Location" label="Location" class="w-full" />
                    </span>
                </vs-col>
            </vs-row>
        </vx-card>

        <div>
            <vx-card title="Detail Jam Kerja" ref="bodyGL" class="user-list-filters mb-8">
                <vs-row class="mb-4">
                    <vs-col vs-w="4" class="px-3">
                        <label class="vs-input--label" for="">Nama Tukang</label>
                        <v-select v-model="tukangValue" label="name" :clearable="false" :options="tukangOptions" />
                    </vs-col>
                    <vs-col vs-w="4" class="px-3">
                        <label class="vs-input--label" for="">Uang Makan (Rp)</label>
                        <div class="vs-con-input">
                            <currency-input v-model="form.uangMakan" :currency="{prefix}"
                                :precision="{min,max}" locale="de"
                                class="vs-inputx vs-input--input normal hasValue" />
                        </div>
                    </vs-col>
                    <vs-col vs-w="1" class="px-3 pt-6">
                        <vs-button class="" color="primary" icon="add" type="relief" v-on:click="addDetail"></vs-button>
                    </vs-col>
                </vs-row>
                <vs-row class="mb-3">
                    <vs-col vs-w="12" class="px-3">
                        <table>
                            <tr>
                                <th class="font-semibold text-base text-left px-3 py-2"
                                    v-for="heading in ['ALL','JM','SB','MG','SN','SL','RB','KM',]" :key="heading">
                                    {{ heading }}</th>
                            </tr>
                            <tr>
                                <td class="px-2">
                                    <vs-checkbox v-model="all" @click.stop="selectAll()" />
                                </td>
                                <td width="200px" class="px-2">
                                    <vs-checkbox @click="check('jm')" v-model="absen.jm.value" />
                                </td>
                                <td width="200px" class="px-2">
                                    <vs-checkbox @click="check('sb')" v-model="absen.sb.value" />
                                </td>
                                <td width="200px" class="px-2">
                                    <vs-checkbox @click="check('mg')" v-model="absen.mg.value" />
                                </td>
                                <td width="200px" class="px-2">
                                    <vs-checkbox @click="check('sn')" v-model="absen.sn.value" />
                                </td>
                                <td width="200px" class="px-2">
                                    <vs-checkbox @click="check('sl')" v-model="absen.sl.value" />
                                </td>
                                <td width="200px" class="px-2">
                                    <vs-checkbox @click="check('rb')" v-model="absen.rb.value" />
                                </td>
                                <td width="200px" class="px-2">
                                    <vs-checkbox @click="check('km')" v-model="absen.km.value" />
                                </td>
                            </tr>
                            <tr>
                                <td class="px-3">
                            <tr style="text-align:left">
                                <td class="py-3">
                                    <small>Regular</small>
                                </td>
                            </tr>
                            <tr style="text-align:left">
                                <td class="py-1">
                                    <small> Lembur Shift 1</small>
                                </td>
                            </tr>
                            <tr style="text-align:left">
                                <td class="py-1">
                                    <small>Lembur Shift 2</small>
                                </td>
                            </tr>
                            </td>
                            <td class="table-days">
                                <div v-if="absen.jm.value">
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-input type="number" min="0" max="8" v-model="absen.jm.regular"
                                                class="w-full" />
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-row>
                                                <vs-col vs-w="8">
                                                    <vs-input type="number" :disabled="!absen.jm.lembur_1" min="0"
                                                        max="5" v-model="absen.jm.shift_1" class="w-full" />
                                                </vs-col>
                                                <vs-col vs-w="4" class="pt-2">
                                                    <div class="px-auto">
                                                        <vs-checkbox @click="checkLembur('jm',1)"
                                                            v-model="absen.jm.lembur_1" class="" />
                                                    </div>
                                                </vs-col>

                                            </vs-row>

                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-row>
                                                <vs-col vs-w="8">
                                                    <vs-input type="number" :disabled="!absen.jm.lembur_2" min="0"
                                                        max="3" v-model="absen.jm.shift_2" class="w-full" />
                                                </vs-col>
                                                <vs-col vs-w="4" class="pt-2">
                                                    <div class="px-auto">
                                                        <vs-checkbox @click="checkLembur('jm',2)"
                                                            v-model="absen.jm.lembur_2" />
                                                    </div>
                                                </vs-col>
                                            </vs-row>
                                        </td>
                                    </tr>
                                </div>
                            </td>
                            <td class="table-days">
                                <div v-if="absen.sb.value">
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-input type="number" min="0" max="8" v-model="absen.sb.regular"
                                                class="w-full" />
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-row>
                                                <vs-col vs-w="8">
                                                    <vs-input type="number" min="0" max="5" :disabled="!absen.sb.lembur_1" v-model="absen.sb.shift_1"
                                                        class="w-full" />
                                                </vs-col>
                                                <vs-col vs-w="4" class="pt-2">
                                                    <div class="px-auto">
                                                        <vs-checkbox @click="checkLembur('sb',1)"
                                                            v-model="absen.sb.lembur_1" class="" />
                                                    </div>
                                                </vs-col>
                                            </vs-row>
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-row>
                                                <vs-col vs-w="8">
                                                    <vs-input type="number" min="0" max="3" :disabled="!absen.sb.lembur_2" v-model="absen.sb.shift_2"
                                                        class="w-full" />
                                                </vs-col>
                                                <vs-col vs-w="4" class="pt-2">
                                                    <div class="px-auto">
                                                        <vs-checkbox @click="checkLembur('sb',2)"
                                                            v-model="absen.sb.lembur_2" class="" />
                                                    </div>
                                                </vs-col>
                                            </vs-row>
                                        </td>
                                    </tr>
                                </div>
                            </td>
                            <td class="table-days">
                                <div v-if="absen.mg.value">
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-input type="number" min="0" max="8" v-model="absen.mg.regular"
                                                class="w-full" />
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-row>
                                                <vs-col vs-w="8">
                                                    <vs-input type="number" min="0" max="5" :disabled="!absen.mg.lembur_1" v-model="absen.mg.shift_1"
                                                        class="w-full" />
                                                </vs-col>
                                                <vs-col vs-w="4" class="pt-2">
                                                    <div class="px-auto">
                                                        <vs-checkbox @click="checkLembur('mg',1)"
                                                            v-model="absen.mg.lembur_1" class="" />
                                                    </div>
                                                </vs-col>
                                            </vs-row>
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-row>
                                                <vs-col vs-w="8">
                                                    <vs-input type="number" min="0" max="5" :disabled="!absen.mg.lembur_2" v-model="absen.mg.shift_2"
                                                        class="w-full" />
                                                </vs-col>
                                                <vs-col vs-w="4" class="pt-2">
                                                    <div class="px-auto">
                                                        <vs-checkbox @click="checkLembur('mg',2)"
                                                            v-model="absen.mg.lembur_2" class="" />
                                                    </div>
                                                </vs-col>
                                            </vs-row>
                                        </td>
                                    </tr>
                                </div>
                            </td>
                            <td class="table-days">
                                <div v-if="absen.sn.value">
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-input type="number" min="0" max="8" v-model="absen.sn.regular"
                                                class="w-full" />
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-row>
                                                <vs-col vs-w="8">
                                                    <vs-input type="number" min="0" max="5" :disabled="!absen.sn.lembur_1" v-model="absen.sn.shift_1"
                                                        class="w-full" />
                                                </vs-col>
                                                <vs-col vs-w="4" class="pt-2">
                                                    <div class="px-auto">
                                                        <vs-checkbox @click="checkLembur('sn',1)"
                                                            v-model="absen.sn.lembur_1" class="" />
                                                    </div>
                                                </vs-col>
                                            </vs-row>
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-row>
                                                <vs-col vs-w="8">
                                                    <vs-input type="number" min="0" max="5" :disabled="!absen.sn.lembur_2" v-model="absen.sn.shift_2"
                                                        class="w-full" />
                                                </vs-col>
                                                <vs-col vs-w="4" class="pt-2">
                                                    <div class="px-auto">
                                                        <vs-checkbox @click="checkLembur('sn',2)"
                                                            v-model="absen.sn.lembur_2" class="" />
                                                    </div>
                                                </vs-col>
                                            </vs-row>
                                        </td>
                                    </tr>
                                </div>
                            </td>
                            <td class="table-days">
                                <div v-if="absen.sl.value">
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-input type="number" min="0" max="8" v-model="absen.sl.regular"
                                                class="w-full" />
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-row>
                                                <vs-col vs-w="8">
                                                    <vs-input type="number" min="0" max="5" :disabled="!absen.sl.lembur_1" v-model="absen.sl.shift_1"
                                                        class="w-full" />
                                                </vs-col>
                                                <vs-col vs-w="4" class="pt-2">
                                                    <div class="px-auto">
                                                        <vs-checkbox @click="checkLembur('sl',1)"
                                                            v-model="absen.sl.lembur_1" class="" />
                                                    </div>
                                                </vs-col>
                                            </vs-row>
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-row>
                                                <vs-col vs-w="8">
                                                    <vs-input type="number" min="0" max="5" :disabled="!absen.sl.lembur_2" v-model="absen.sl.shift_2"
                                                        class="w-full" />
                                                </vs-col>
                                                <vs-col vs-w="4" class="pt-2">
                                                    <div class="px-auto">
                                                        <vs-checkbox @click="checkLembur('sl',2)"
                                                            v-model="absen.sl.lembur_2" class="" />
                                                    </div>
                                                </vs-col>
                                            </vs-row>
                                        </td>
                                    </tr>
                                </div>
                            </td>
                            <td class="table-days">
                                <div v-if="absen.rb.value">
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-input type="number" min="0" max="8" v-model="absen.rb.regular"
                                                class="w-full" />
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-row>
                                                <vs-col vs-w="8">
                                                    <vs-input type="number" min="0" max="5" :disabled="!absen.rb.lembur_1" v-model="absen.rb.shift_1"
                                                        class="w-full" />
                                                </vs-col>
                                                <vs-col vs-w="4" class="pt-2">
                                                    <div class="px-auto">
                                                        <vs-checkbox @click="checkLembur('rb',1)"
                                                            v-model="absen.rb.lembur_1" class="" />
                                                    </div>
                                                </vs-col>
                                            </vs-row>
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-row>
                                                <vs-col vs-w="8">
                                                    <vs-input type="number" min="0" max="5" :disabled="!absen.rb.lembur_2" v-model="absen.rb.shift_2"
                                                        class="w-full" />
                                                </vs-col>
                                                <vs-col vs-w="4" class="pt-2">
                                                    <div class="px-auto">
                                                        <vs-checkbox @click="checkLembur('rb',2)"
                                                            v-model="absen.rb.lembur_2" class="" />
                                                    </div>
                                                </vs-col>
                                            </vs-row>
                                        </td>
                                    </tr>
                                </div>
                            </td>
                            <td class="table-days">
                                <div v-if="absen.km.value">
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-input type="number" min="0" max="8" v-model="absen.km.regular"
                                                class="w-full" />
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-row>
                                                <vs-col vs-w="8">
                                                    <vs-input type="number" min="0" max="5" :disabled="!absen.km.lembur_1" v-model="absen.km.shift_1"
                                                        class="w-full" />
                                                </vs-col>
                                                <vs-col vs-w="4" class="pt-2">
                                                    <div class="px-auto">
                                                        <vs-checkbox @click="checkLembur('km',1)"
                                                            v-model="absen.km.lembur_1" class="" />
                                                    </div>
                                                </vs-col>
                                            </vs-row>
                                        </td>
                                    </tr>
                                    <tr style="text-align:center">
                                        <td>
                                            <vs-row>
                                                <vs-col vs-w="8">
                                                    <vs-input type="number" min="0" max="5" :disabled="!absen.km.lembur_2" v-model="absen.km.shift_2"
                                                        class="w-full" />
                                                </vs-col>
                                                <vs-col vs-w="4" class="pt-2">
                                                    <div class="px-auto">
                                                        <vs-checkbox @click="checkLembur('km',2)"
                                                            v-model="absen.km.lembur_2" class="" />
                                                    </div>
                                                </vs-col>
                                            </vs-row>
                                        </td>
                                    </tr>
                                </div>
                            </td>
                            </tr>
                        </table>
                    </vs-col>
                   
                </vs-row>
                <vs-table stripe :data="tukangs">

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="name">Nama</vs-th>
                        <vs-th sort-key="totalkerja">Jam Kerja</vs-th>
                        <vs-th sort-key="upah">Upah Harian (Rp)</vs-th>
                        <vs-th sort-key="totalkerja">Uang Makan (Rp)</vs-th>
                        <vs-th class="float-right" sort-key="totalupah">Total Upah (Rp)</vs-th>
                        <vs-th></vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr + 1">
                                {{indextr + 1}}
                            </vs-td>
                            <vs-td :data="data[indextr].tukang.name">
                                {{data[indextr].tukang.name}}
                            </vs-td>
                           
                            <vs-td :data="data[indextr].total_kerja">
                                Regular - <strong>{{data[indextr].total_kerja.regular}}</strong> Jam <br>
                                Lembur 1 - <strong>{{data[indextr].total_kerja.shift_1}}</strong> Jam <br>
                                Lembur 2 - <strong>{{data[indextr].total_kerja.shift_2}}</strong> Jam
                            </vs-td>
                             <vs-td :data="data[indextr].upah">
                                {{data[indextr].upah | currency}}
                            </vs-td>
                             <vs-td :data="data[indextr].uangmakan_total">
                                Regular - <strong>{{data[indextr].uangmakan_total.regular | currency}}</strong> <br>
                                Lembur 1 - <strong>{{data[indextr].uangmakan_total.shift_1 | currency}}</strong> <br>
                                Lembur 2 - <strong>{{data[indextr].uangmakan_total.shift_2 | currency}}</strong> 
                            </vs-td>
                            <vs-td class="text-right" :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon v-tooltip="'Edit'" icon="EditIcon"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editPostData(tr)" />
                                </vs-col>

                                <vs-col vs-w="6">
                                    <feather-icon v-tooltip="'Delete'" icon="TrashIcon"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                        <vs-tr style="border-top:1px solid black">
                            <vs-td colspan="4">
                            </vs-td>
                            <vs-td class="text-right">
                                <h5>Grand Total</h5>
                            </vs-td>
                            <vs-td class="text-right">
                                <h5>{{ form.total | currency}}</h5>
                            </vs-td>
                            <vs-td>
                                
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <!-- <vs-row class="mt-5">
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ form.total | currency}}</b></h4>
                    </vs-col>
                </vs-row> -->

                <vs-divider />

                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button style="width:100px; background-color: mediumslateblue;" type="relief"
                            @click.stop="back()">
                            Back</vs-button>
                        <vs-button v-if="tipe !== 'approve'" color="success" style="width:100px;" type="relief"
                            @click.stop="submit()">
                            Submit</vs-button>

                        <!-- SHOW APPROVE ONLY -->
                        <vs-button v-if="tipe === 'approve'" color="primary" style="width:100px;" type="relief"
                            @click.stop="approve()">
                            Approve</vs-button>
                    </vs-col>
                </vs-row>

                <!-- POP-UP EDIT -->
                <div>
                    <vs-prompt v-if="editTukang" @cancel="clearValMultiple" @accept="acceptEdit" @close="close"
                        accept-text="Edit" :active.sync="activeEdit" title="Edit">
                        <div class="edit-prompt">

                            <vs-row class="mb-4">
                                <vs-col vs-w="6" class="px-3">
                                    <vs-input label="Product" disabled="true" v-model="editTukang.name"
                                        class="w-full mb-3" />
                                </vs-col>
                                <vs-col vs-w="6" class="px-3">
                                    <label class="vs-input--label" for="">Uang Makan (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input v-model="editTukang.uangmakan_amount" :currency="{prefix}"
                                            :precision="{min,max}" locale="de"
                                            class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </vs-col>
                            </vs-row>

                            <table style="width:100%">
                                <tr>
                                    <td>

                                    </td>
                                    <td class="px-5">
                                        Jumat
                                    </td>
                                    <td class="px-5">
                                        Sabtu
                                    </td>
                                    <td class="px-5">
                                        Minggu
                                    </td>
                                    <td class="px-5">
                                        Senin
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                <tr style="text-align:left">
                                    <td class="py-3">
                                        Regular
                                    </td>
                                </tr>
                                <tr style="text-align:left">
                                    <td class="py-3">
                                        Shift 1
                                    </td>
                                </tr>
                                <tr style="text-align:left">
                                    <td class="py-3">
                                        Shift 2
                                    </td>
                                </tr>
                                </td>
                                <td>
                                    <div class="px-5">
                                        <vs-input type="number" min="0" max="8" v-model="editTukang.absent.fri.regular"
                                            class="w-full" />
                                        <vs-input type="number" min="0" max="8" v-model=" editTukang.absent.fri.shift_1"
                                            class="w-full" />
                                        <vs-input type="number" min="0" max="8" v-model=" editTukang.absent.fri.shift_2"
                                            class="w-full" />
                                    </div>
                                </td>
                                <td>
                                    <div class="px-5">
                                        <vs-input type="number" min="0" max="8" v-model=" editTukang.absent.sat.regular"
                                            class="w-full" />
                                        <vs-input type="number" min="0" max="8" v-model=" editTukang.absent.sat.shift_1"
                                            class="w-full" />
                                        <vs-input type="number" min="0" max="8" v-model=" editTukang.absent.sat.shift_2"
                                            class="w-full" />
                                    </div>
                                </td>
                                <td>
                                    <div class="px-5">
                                        <vs-input type="number" min="0" max="8" v-model=" editTukang.absent.sun.regular"
                                            class="w-full" />
                                        <vs-input type="number" min="0" max="8" v-model=" editTukang.absent.sun.shift_1"
                                            class="w-full" />
                                        <vs-input type="number" min="0" max="8" v-model=" editTukang.absent.sun.shift_2"
                                            class="w-full" />
                                    </div>
                                </td>
                                <td>
                                    <div class="px-5">
                                        <vs-input type="number" min="0" max="8" v-model=" editTukang.absent.mon.regular"
                                            class="w-full" />
                                        <vs-input type="number" min="0" max="8" v-model=" editTukang.absent.mon.shift_1"
                                            class="w-full" />
                                        <vs-input type="number" min="0" max="8" v-model=" editTukang.absent.mon.shift_2"
                                            class="w-full" />
                                    </div>
                                </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td class="pt-5 px-5">
                                        Selasa
                                    </td>
                                    <td class="pt-5 px-5">
                                        Rabu
                                    </td>
                                    <td class="pt-5 px-5">
                                        Kamis
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                <tr style="text-align:left">
                                    <td class="py-3">
                                        Regular
                                    </td>
                                </tr>
                                <tr style="text-align:left">
                                    <td class="py-3">
                                        Shift 1
                                    </td>
                                </tr>
                                <tr style="text-align:left">
                                    <td class="py-3">
                                        Shift 2
                                    </td>
                                </tr>
                                </td>
                                <td>
                                    <div class="px-5">
                                        <vs-input type="number" min="0" max="8"
                                            v-model=" editTukang.absent.tues.regular" class="w-full" />
                                        <vs-input type="number" min="0" max="8"
                                            v-model=" editTukang.absent.tues.shift_1" class="w-full" />
                                        <vs-input type="number" min="0" max="8"
                                            v-model=" editTukang.absent.tues.shift_2" class="w-full" />
                                    </div>
                                </td>
                                <td>
                                    <div class="px-5">
                                        <vs-input type="number" min="0" max="8" v-model=" editTukang.absent.wed.regular"
                                            class="w-full" />
                                        <vs-input type="number" min="0" max="8" v-model=" editTukang.absent.wed.shift_1"
                                            class="w-full" />
                                        <vs-input type="number" min="0" max="8" v-model=" editTukang.absent.wed.shift_2"
                                            class="w-full" />
                                    </div>
                                </td>
                                <td>
                                    <div class="px-5">
                                        <vs-input type="number" min="0" max="8"
                                            v-model=" editTukang.absent.thurs.regular" class="w-full" />
                                        <vs-input type="number" min="0" max="8"
                                            v-model=" editTukang.absent.thurs.shift_1" class="w-full" />
                                        <vs-input type="number" min="0" max="8"
                                            v-model=" editTukang.absent.thurs.shift_2" class="w-full" />
                                    </div>
                                </td>
                                <td></td>
                                </tr>
                            </table>
                        </div>
                    </vs-prompt>
                </div>
            </vx-card>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        vSelect,
        Datepicker
    },
    data() {
        return {
            max: 0,
            min: 0,
            prefix: 'Rp ',
            activeEdit: false,
            selected: [],
            hide: false,
            all: false,
            tipe: null,
            format_ID: "DD/MM/YYYY",
            absen: {
                sn: {
                    value: false,
                    lembur_1:false,
                    lembur_2:false,
                    regular: 0,
                    shift_1: 0,
                    shift_2: 0,
                    uang_makan: {
                        regular: false,
                        shift_1: false,
                        shift_2: false,
                    }
                },
                sl: {
                    value: false,
                    lembur_1:false,
                    lembur_2:false,
                    regular: 0,
                    shift_1: 0,
                    shift_2: 0,
                    uang_makan: {
                        regular: false,
                        shift_1: false,
                        shift_2: false,
                    }
                },
                rb: {
                    value: false,
                    lembur_1:false,
                    lembur_2:false,
                    regular: 0,
                    shift_1: 0,
                    shift_2: 0,
                    uang_makan: {
                        regular: false,
                        shift_1: false,
                        shift_2: false,
                    }
                },
                km: {
                    value: false,
                    lembur_1:false,
                    lembur_2:false,
                    regular: 0,
                    shift_1: 0,
                    shift_2: 0,
                    uang_makan: {
                        regular: false,
                        shift_1: false,
                        shift_2: false,
                    }
                },
                jm: {
                    value: false,
                    lembur_1:false,
                    lembur_2:false,
                    regular: 0,
                    shift_1: 0,
                    shift_2: 0,
                    uang_makan: {
                        regular: false,
                        shift_1: false,
                        shift_2: false,
                    }
                },
                sb: {
                    value: false,
                    lembur_1:false,
                    lembur_2:false,
                    regular: 0,
                    shift_1: 0,
                    shift_2: 0,
                    uang_makan: {
                        regular: false,
                        shift_1: false,
                        shift_2: false,
                    }
                },
                mg: {
                    value: false,
                    lembur_1:false,
                    lembur_2:false,
                    regular: 0,
                    shift_1: 0,
                    shift_2: 0,
                    uang_makan: {
                        regular: false,
                        shift_1: false,
                        shift_2: false,
                    }
                },
            },
            disabledDatesStart: {
                days: [0, 1, 2, 3, 4, 6],
            },
            disabledDatesFinish: {
                days: [0, 1, 2, 3, 5, 6],
            },
            form: {
                id: null,
                absen: null,
                workOrder: null,
                dateFrom: null,
                dateTo: null,
                description: null,
                location: null,
                uangMakan:20000,
                total: 0,
            },
            tukangValue: null,
            editTukang: null,
            // editTukang: {
            //     absent:null,
            //     tukang:null,
            //     uangmakan_amount:0,
            // },
            woOptions: [],
            customerOptions: [],
            keOptions: [],
            paymentOptions: [
                "Cash", "Credit"
            ],
            tukangOptions: [],
            tukangs: [],
        }
    },

    computed: {
        validName() {}
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData();
    },
    methods: {
        async loadData() {
            this.id = this.$route.params.idabsen;
            this.tipe = this.$route.params.tipe;

            if (this.tipe !== 'new') {
                this.loadEdit();
            }
            
            var resWorkOrder = await this.$http.get(this.$baseURL + '/project/orders',{
                params: {
                    filter: 'status|progress;company_id|'+this.$company.company_id
                },
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })
            var resTukang = await this.$http.get(this.$baseURL + '/master/tukang', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.woOptions = resWorkOrder.data.data;
            this.tukangOptions = resTukang.data.data;
            this.$vs.loading.close();
        },

        async loadEdit() {
            var resReadAbsen = await this.$http.get(this.$baseURL + '/project/absentukang/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var result = resReadAbsen.data.data;

            var total = 0;
            for (let index = 0; index < result.upah_tukang_details.length; index++) {
                total = total + result.upah_tukang_details[index].amount;
            }

            this.form.workOrder = result.work_order;
            this.form.total = result.nominal;
            this.form.id = result.upah_tkg_id;

            var periode = result.periode.split(" - ");
            this.form.dateFrom = this.$moment(periode[0], "DD/MM/YYYY").toDate();
            this.form.dateTo = this.$moment(periode[1], "DD/MM/YYYY").toDate();
            
            this.form.description = result.description;
            this.form.location = result.location;
            this.tukangs = result.upah_tukang_details;
            
            this.$vs.loading.close();
        },

        addDetail() {
            if (this.form.workOrder === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Work Order masih kosong',
                })
            } else if (this.form.dateFrom === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Tanggal start masih kosong',
                })
            } else if (this.form.dateTo === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Tanggal selesai masih kosong',
                })
            } else if (this.form.description === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Deskripsi masih kosong',
                })
            } else if (this.form.location === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Lokasi masih kosong',
                })
            } else if (this.tukangValue === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Tukang belum dipilih',
                })

            } else {
                this.$vs.loading({
                    type: 'radius'
                });
                const formData = new FormData();
                formData.append('work_order', this.form.workOrder);

                if (this.form.id) {
                    formData.append('upah_tkg_id', this.form.id);
                }

                if (this.form.dateFrom === null) {
                    formData.append('date_from', this.$moment().format(this.format_ID));
                } else {
                    formData.append('date_from', this.$moment(this.form.dateFrom).format(this.format_ID));
                }

                if (this.form.dateTo === null) {
                    formData.append('date_to', this.$moment().format(this.format_ID));
                } else {
                    formData.append('date_to', this.$moment(this.form.dateTo).format(this.format_ID));
                }

                formData.append('description', this.form.description);
                formData.append('location', this.form.location);
                formData.append('uangmakan_amount', this.form.uangMakan);
                formData.append('tukang_id', this.tukangValue.tukang_id);
                formData.append('absent[sun][regular]', this.absen.mg.regular);
                formData.append('absent[sun][shift_1]', this.absen.mg.shift_1);
                formData.append('absent[sun][shift_2]', this.absen.mg.shift_2);
                formData.append('absent[mon][regular]', this.absen.sn.regular);
                formData.append('absent[mon][shift_1]', this.absen.sn.shift_1);
                formData.append('absent[mon][shift_2]', this.absen.sn.shift_2);
                formData.append('absent[tues][regular]', this.absen.sl.regular);
                formData.append('absent[tues][shift_1]', this.absen.sl.shift_1);
                formData.append('absent[tues][shift_2]', this.absen.sl.shift_2);
                formData.append('absent[wed][regular]', this.absen.rb.regular);
                formData.append('absent[wed][shift_1]', this.absen.rb.shift_1);
                formData.append('absent[wed][shift_2]', this.absen.rb.shift_2);
                formData.append('absent[thurs][regular]', this.absen.km.regular);
                formData.append('absent[thurs][shift_1]', this.absen.km.shift_1);
                formData.append('absent[thurs][shift_2]', this.absen.km.shift_2);
                formData.append('absent[fri][regular]', this.absen.jm.regular);
                formData.append('absent[fri][shift_1]', this.absen.jm.shift_1);
                formData.append('absent[fri][shift_2]', this.absen.jm.shift_2);
                formData.append('absent[sat][regular]', this.absen.sb.regular);
                formData.append('absent[sat][shift_1]', this.absen.sb.shift_1);
                formData.append('absent[sat][shift_2]', this.absen.sb.shift_2);

                this.$http.post(this.$baseURL + '/project/absentukang/details/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.id = res.data.data.upah_tkg_id;
                    this.loadEdit(res.data.data.upah_tkg_id);
                    this.clearValMultiple();
                }).catch(err => {
                    this.$vs.loading.close();
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    })
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                });
            }

        },

        async loadDetail(value) {
            var resAbsen = await this.$http.get(this.$baseURL + '/project/absentukang/' + value + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(false);
            })

            this.tukangs = resAbsen.data.data.upah_tukang_details;
            this.$vs.loading.close();
        },

        editPostData(tr) {
            this.editTukang.tukang = tr.tukang;
            this.editTukang.absent = tr.absent;
            this.editTukang.uangmakan_amount = tr.uangmakan_amount;
            this.activeEdit = true;
        },

        acceptEdit() {
            const formData = new FormData();

            formData.append('work_order', this.form.workOrder);
            if (this.form.dateFrom === null) {
                formData.append('date_from', this.$moment().format(this.format_ID));
            } else {
                formData.append('date_from', this.$moment(this.form.dateFrom).format(this.format_ID));
            }

            if (this.form.dateTo === null) {
                formData.append('date_to', this.$moment().format(this.format_ID));
            } else {
                formData.append('date_to', this.$moment(this.form.dateTo).format(this.format_ID));
            }

            formData.append('description', this.form.description);
            formData.append('location', this.form.location);
            formData.append('tukang_id', this.editTukang.tukang_id);
            formData.append('uangmakan_amount', this.editTukang.uangmakan_amount);
            formData.append('absent[sun][regular]', this.editTukang.absent.sun.regular);
            formData.append('absent[sun][shift_1]', this.editTukang.absent.sun.shift_1);
            formData.append('absent[sun][shift_2]', this.editTukang.absent.sun.shift_2);
            formData.append('absent[mon][regular]', this.editTukang.absent.mon.regular);
            formData.append('absent[mon][shift_1]', this.editTukang.absent.mon.shift_1);
            formData.append('absent[mon][shift_2]', this.editTukang.absent.mon.shift_2);
            formData.append('absent[tues][regular]', this.editTukang.absent.tues.regular);
            formData.append('absent[tues][shift_1]', this.editTukang.absent.tues.shift_1);
            formData.append('absent[tues][shift_2]', this.editTukang.absent.tues.shift_2);
            formData.append('absent[wed][regular]', this.editTukang.absent.wed.regular);
            formData.append('absent[wed][shift_1]', this.editTukang.absent.wed.shift_1);
            formData.append('absent[wed][shift_2]', this.editTukang.absent.wed.shift_2);
            formData.append('absent[thurs][regular]', this.editTukang.absent.thurs.regular);
            formData.append('absent[thurs][shift_1]', this.editTukang.absent.thurs.shift_1);
            formData.append('absent[thurs][shift_2]', this.editTukang.absent.thurs.shift_2);
            formData.append('absent[fri][regular]', this.editTukang.absent.fri.regular);
            formData.append('absent[fri][shift_1]', this.editTukang.absent.fri.shift_1);
            formData.append('absent[fri][shift_2]', this.editTukang.absent.fri.shift_2);
            formData.append('absent[sat][regular]', this.editTukang.absent.sat.regular);
            formData.append('absent[sat][shift_1]', this.editTukang.absent.sat.shift_1);
            formData.append('absent[sat][shift_2]', this.editTukang.absent.sat.shift_2);
            formData.append('_method', 'PUT');

            this.$http.post(this.$baseURL + '/project/absentukang/details/' + this.editTukang.upah_tkg_d_id + '/update', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$vs.notify({
                    color: 'success',
                    title: 'Sukses Diedit',
                });
                this.id = res.data.data.upah_tkg_id;
                this.loadEdit();
            }).catch(err => {
                this.$vs.loading.close();
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            });
        },
        close() {
            this.activeEdit = false;
        },
        deleteData(data) {
            this.editTukang = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin hapus data ini?',
                accept: this.acceptDelete
            })
        },
        acceptDelete() {
            this.$vs.loading({
                type: 'radius'
            });
            this.$http.delete(this.$baseURL + '/project/absentukang/details/' + this.editTukang.upah_tkg_d_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.$vs.notify({
                    color: 'success',
                    title: 'Sukses Dihapus',
                });
                this.loadDetail(this.id);
            }).catch(err => {
                this.$vs.loading.close();
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                console.log(err);
            });
        },

        submit() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Yakin data sudah sesuai?',
                accept: this.acceptSubmit
            })
        },

        acceptSubmit() {
            const formData = new FormData();
            formData.append('upah_tkg_id', this.form.id);
            formData.append('work_order', this.form.workOrder);
            if (this.form.dateFrom === null) {
                formData.append('date_from', this.$moment().format(this.format_ID));
            } else {
                formData.append('date_from', this.$moment(this.form.dateFrom).format(this.format_ID));
            }

            if (this.form.dateTo === null) {
                formData.append('date_to', this.$moment().format(this.format_ID));
            } else {
                formData.append('date_to', this.$moment(this.form.dateTo).format(this.format_ID));
            }

            formData.append('description', this.form.description);
            formData.append('location', this.form.location);

            if (this.tipe === 'new') {
                this.$http.post(this.$baseURL + '/project/absentukang/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/absentukang');
                }).catch(err => {
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    })
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message)
                })
            } else {
                formData.append('_method', 'PUT');
                this.$http.post(this.$baseURL + '/project/absentukang/' + this.id + '/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/absentukang');
                }).catch(err => {
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    })
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message)
                })
            }
        },

        approve() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Yakin akan disetujui?',
                accept: this.acceptApprove
            })
        },

        acceptApprove() {
            const formData = new FormData();
            formData.append('execute', 'approved');
            this.$http.post(this.$baseURL + '/project/absentukang/' + this.id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/absentukang');
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message)
            })

        },

        clearValMultiple() {
            this.tukangValue = null;
            this.editTukang = null;
        },
        selectAll() {
            if (this.tipe === 'new') {
                if (!this.all) {
                    for (const c in this.absen) {
                        this.check(c);
                        this.absen[c].value = true;
                    }
                } else {
                    for (const c in this.absen) {
                        this.check(c);
                        this.absen[c].value = false;
                        this.absen[c].lembur_1 = false;
                        this.absen[c].lembur_2 = false;
                    }
                }
            } else {
                if (!this.all) {
                    for (const c in this.editTukang.absen) {
                        this.editTukang.absent[c] = true;
                    }
                } else {
                    for (const c in this.editTukang.absen) {
                        this.editTukang.absent[c] = false;
                    }
                }
            }
        },

        check_old(day) {
            let hari = 0
            for (var z in this.absen) {
                if (day === z) {
                    if (this.absen.hasOwnProperty(z)) {
                        if (this.absen[z] === 0) {} else {}
                    }
                }
            }
            for (var c in this.absen) {
                if (day === c) {
                    if (this.absen[c] === 0) {
                        this.form.absen = this.form.absen + c + ","
                    }
                } else {
                    if (this.absen[c] === 0) {
                        this.form.absen = this.form.absen + c + ","
                    }
                }
            }
        },
        back() {
            this.$router.go(-1);
        },
        check(day) {
            if (this.absen[day].value) {
                this.absen[day].regular = 0;
                this.absen[day].shift_1 = 0;
                this.absen[day].shift_2 = 0;

                return ;
            }

            this.absen[day].regular = 8;
            this.absen[day].shift_1 = 0;
            this.absen[day].shift_2 = 0;
        },
        checkLembur(day,shift){
            if (shift === 1) {
                if (this.absen[day].lembur_1) {
                    this.absen[day].shift_1 = 0;
    
                    return ;
                }
                    this.absen[day].shift_1 = 5;
                    return ;
                
            }else{
                 if (this.absen[day].lembur_2) {
                    this.absen[day].shift_2 = 0;
    
                    return ;
                }
                    this.absen[day].shift_2 = 3;
                    return ;
            }

            // this.absen[day].shift_1 = 5;
            // this.absen[day].shift_2 = 3;
        },

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}

.con-vs-dialog{
    .vs-dialog{
        max-width:60%;
    }
}


.table-days{
    // border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 5px;
    tr{
        td{
            padding-bottom: 3px;
        }
    }
}
</style>