<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
<div>
   <vx-card  ref="headerGL" title=" " class="user-list-filters mb-8">
          <div class="vx-row">
              <div   style="padding-left:15px;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <h4 v-show="next==false" >Journal Name</h4>
                  <vs-input v-show="next==false" v-model="journalName" class="mt-5 w-full" name="item-journalname" /><br>

                  <h4 v-show="next==true"  style="font-size:16px; color:rgba(0,0,0,0.7); margin-left:5px; margin-top:-10px;">Journal Name</h4> 
                  <br><h5 v-show="next==true"  style="margin-left:15px; margin-top:-10px;" >{{journalName}}</h5>

              </div>
              <div   style="padding-left:25px;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <h4 v-show="next==false">Journal Date</h4><br>
                  <datepicker v-show="next==false" placeholder="Select Date" v-model="journalDate" :format="format" style=" margin-top:-2px; width:300px;" :minimumView="'day'" :maximumView="'month'"></datepicker>
                   <h4 v-show="next==true" style="font-size:16px; color:rgba(0,0,0,0.7); margin-left:5px; margin-top:-10px;">Journal Date</h4> <br>
                   <h5 v-show="next==true" style="margin-left:15px; margin-top:-10px;">{{journalDate | moment("DD MMMM YYYY")}}</h5>
              </div>  
          </div>
          <div class="vx-row">
              <div   style="padding-left:15px;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <h4 v-show="next==false" >Description</h4>
                  <vs-input v-show="next==false" v-model="journalDesc" class="mt-5 w-full" name="item-journaldesc" />
                  <br><h4 v-show="next==true" style="font-size:16px; color:rgba(0,0,0,0.7); margin-left:5px; margin-top:-10px;">Description</h4>
                  <br><h5  v-show="next==true"   style="margin-left:15px; margin-top:-10px;">{{journalDesc}}</h5>

              </div> 
          </div>
          <div style="float:right">
                <vs-button v-show="next==false" color="success"  type="relief" @click.stop="nextStep()">Next</vs-button>
          </div> 
          <br>    
          <br> 
      </vx-card>

      <vx-card  v-show="next==true"  ref="bodyGL" title="Journal Post" class="user-list-filters mb-8">
          <div class="vx-row">
              <div style="padding-left:15px; " class="vx-col md:w-1/4 sm:w-1/4 w-full">
                <h5 style="margin-bottom:5px; font-size:14px;" >Search COA</h5>
                <v-select  v-model="formDetail.coa" :clearable="false" label="name" :options="ListCOA" class="w-full"/> 
              </div>

               <div style="padding-left:5px; margin-top:-16px;" class="vx-col md:w-1/4 sm:w-1/4 w-full">
                  <vs-input label="Remark" v-model="formDetail.remark" class="mt-5 w-full" name="item-coa" /> 
               </div>

               <div style="padding-left:5px; margin-top:2px;" class="vx-col md:w-1/6 sm:w-1/6 w-full"> 
                <h5 style="margin-bottom:5px; font-size:12px;" >Type</h5>
                <v-select  v-model="formDetail.stat" :clearable="false"  label="text" :options="ListStatus" class="w-full"/>  
               </div>
               <div style="padding-left:5px; margin-top:5px;" class="vx-col md:w-1/6 sm:w-1/6 w-full" >
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Amount</span>  
                  <currency-input  class="vs-inputx vs-input--input normal hasValue" label="Amount" v-model.number="formDetail.amount"  name="item-amount" /> 
               </div>
               <div style="padding-left:5px; " class="vx-col md:w-1/6 sm:w-1/6 w-full">
               <br>
                <vs-button v-show="next==true" color="success"  type="relief" @click.stop="addJournalDetail()">Add</vs-button>
               </div>
               
          </div>
          
          <br>    
          <br> 
          <div>
            <vs-table  :data="journalPosts">

                
                <template slot="thead">
                    <vs-th sort-key="id">No</vs-th>
                    <vs-th sort-key="date">Date</vs-th>
                    <vs-th sort-key="coa">COA Code</vs-th>
                    <vs-th sort-key="desc">Remark</vs-th>
                    <vs-th sort-key="debit">Debit</vs-th>
                    <vs-th sort-key="kredit">Kredit</vs-th> 
                    <vs-th sort-key="action">Action</vs-th>
                </template> 
                

                <template slot-scope="{data}">
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr+1">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].entry_at">
                            {{data[indextr].entry_at}}
                        </vs-td>

                        <vs-td :data="data[indextr].coa.name">
                             {{data[indextr].coa.code}}|{{data[indextr].coa.name}}
                        </vs-td>

                        <vs-td :data="data[indextr].description">
                            {{data[indextr].description}}
                        </vs-td>

                        <vs-td :data="data[indextr].debit"  >
                            Rp. {{data[indextr].debit | currency}} 
                        </vs-td>

                        <vs-td :data="data[indextr].credit" >
                            Rp. {{data[indextr].credit | currency}}
                        </vs-td>  
                        <vs-td >
                            <feather-icon v-tooltip="'Edit'" icon="EditIcon"  svgClasses="w-5 h-5 hover:text-primary stroke-current"  class="ml-2" @click="editPostData(tr)"  />
                            <feather-icon v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deletePostData(tr)" /> 
                        </vs-td>
                    </vs-tr>
                    <vs-tr>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td>Debit : Rp.{{journalDebit | currency }}</vs-td>
                        <vs-td>Kredit : Rp.{{journalCredit | currency }}</vs-td>
                        <vs-td>Variance: Rp.{{variance | currency }}</vs-td> 
                    </vs-tr> 
                    <vs-tr>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td> 
                        <vs-td colspan = "2" style="text-align:right;"> 
                          <vs-button   style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                          <vs-button  color="success" style="width:100px;" type="relief" @click.stop="submitData()">Submit</vs-button>
                        </vs-td>
                    </vs-tr>    
                </template> 
            </vs-table>
 
          </div>

          <vs-prompt
            @cancel="clearValMultiple"
            @accept="confirmEdit"
            @close="close"
            accept-text = "Edit"
            :is-valid="validName"
            :active.sync="activePrompt2" 
            title="Edit">
            <div class="con-exemple-prompt">  
 
              <vs-input placeholder="Remark" label="Remark" v-model="editValue.remark" class="w-full" />  
              <vs-input label="Amount" placeholder="Amount"  v-model="editValue.amount" class="w-full"/> 
            </div>
          </vs-prompt>
      </vx-card>



   </div>   
</template>

<script>
import vSelect from 'vue-select'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Datepicker from 'vuejs-datepicker'
import moment from 'vue-moment'

export default { 
  watch: {
    
  },
  data() {
    return { 
      journalId: null,
      journalName: null,
      journalDate: null,
      journalDesc:"",
      journalDebit:null,
      journalCredit:null,
      variance:null,
      format: "d MMMM yyyy",
      next:true,
      model: null,
      mode: 'input',
      loading: false,
      stat: null,
      selected: null,
      remark:null,
      amount:null,
      activePrompt2:false,
      formDetail:{
        coa:null,
        remark:null,
        stat:null,
        amount:null,
      }, 

      editValue:{
        id:null,
        remark:null,
        status:null,
        amount:null
      },
      journalData: {}, 

      dataCOA:null,
      ListCOA:[],

      ListStatus: [
        {text:'Debit',value:'debit'},
        {text:'Kredit',value:'kredit'}, 
      ], 
      journalPosts:[], 
 
    }
  },
  computed: {  
     validName(){
      // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
    }
  }, 
  created(){
    this.$vs.loading({
          type: 'radius'
      });        
      this.loadCOA()
      if(this.$route.name =="editjournal"){
        this.journalId = this.$route.params.idjournal; 
      } 
      this.loadJournalData();  
  },  
  components: {
    Datepicker,
    vSelect,
    VuePerfectScrollbar,
  },
  methods: {
    async loadCOA(){ 
          var com_id = this.$user != null ? this.$user.company.company_id : 1;
            this.$http.get(this.$baseURL + '/accounting/coa?filter=level|3;company_id|'+com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.ListCOA = res.data.data;
                
            }).catch(err => {
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
        }, 

    async loadJournalData(){
      if(this.journalId != null){
        await this.$http.get(this.$baseURL + '/accounting/journal?filter=journal_id|'+this.journalId, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
              this.journalName = res.data.data[0].name
              this.journalDesc = res.data.data[0].description
              this.journalDate = res.data.data[0].entry_at 
              this.journalDebit = res.data.data[0].debit
              this.journalCredit =  res.data.data[0].credit

              this.variance = this.journalDebit - this.journalCredit
              if(this.variance < 0){
                this.variance = this.journalCredit - this.journalDebit
              }
            }).catch(err => {
                console.log(err.data.message);
            });

       await this.$http.get(this.$baseURL + '/accounting/journal/show?filter=journal_id|'+this.journalId, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.journalPosts = res.data.data;
                 this.next=true;
                 this.$vs.loading.close()
            }).catch(err => {
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
      }else{
         this.next=false;
        return null
      }
    },

    submitData() { 
      if(this.variance != 0){
         this.promptAlert("danger","Journal not Balance","Please Balance the Journal!")  
      }else{
        this.$http.post(this.$baseURL + '/accounting/journal/complete',
                this.$qs.stringify({ 
                    journalid: this.journalId,  
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                   window.location.href = '/pages/journal';
            }).catch(err => {
                console.log(err);
                this.promptAlert("danger","Journal Submit Error",err)   
            }); 
      } 
    },

    back(){
       this.$router.push('/pages/journal').catch(() => {})
    },

    nextStep(){
      if(this.journalDate != null && this.journalName != null){
        this.$vs.loading({ type: 'radius' }) 
        this.journalDate = this.$moment(this.journalDate).format("YYYY-MM-DD");

        this.$http.post(this.$baseURL + '/accounting/journal/create',
                this.$qs.stringify({ 
                    name: this.journalName, 
                    description:this.journalDesc,
                    date:this.journalDate
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                  this.journalId = res.data.data.journal_id;
                  this.next = true; 
                  this.$vs.loading.close()
            }).catch(err => {
                console.log(err);
                this.promptAlert("danger","Journal Submit Error",err)   
            }); 
      }else{ 
         this.promptAlert("danger","Validated","Journal Name and Journal Date Can not be empty!")  
      } 
    },  
    addJournalDetail(){
        this.$vs.loading({ type: 'radius' })
        this.journalDate = this.$moment(this.journalDate).format("YYYY-MM-DD");

        this.$http.post(this.$baseURL + '/accounting/journal/add',
                this.$qs.stringify({ 
                    coa_code: this.formDetail.coa.code, 
                    journal_id:this.journalId,
                    description:this.formDetail.remark,
                    status:this.formDetail.stat.value,
                    amount:this.formDetail.amount,
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                  this.formDetail.coa = null
                  this.formDetail.amount = 0
                  this.loadJournalData();
            }).catch(err => {
                console.log(err);
                this.promptAlert("danger","Journal Detail Add Error",err)   
            }); 
    },

    editPostData(tr){  
      if(tr.debit == "0.00"){
         this.editValue.status = "credit"; 
         this.editValue.amount = parseFloat(tr.credit); 
         
      }else{
         this.editValue.status = "debit"; 
         this.editValue.amount =  parseFloat(tr.debit); 
      }
      this.editValue.id = tr.journal_d_id;
      this.editValue.remark = tr.description; 
      this.activePrompt2 = true;

    }, 
    deletePostData(tr) { 
       this.editValue.id = tr.journal_d_id
        this.$vs.dialog({
            type: 'confirm',
            color: 'danger',
            title: `Confirm`,
            text: 'Are you sure want to delete this Post ?',
            accept: this.acceptDelete
        })
    },
    acceptDelete() {
       this.$http.delete(this.$baseURL + '/accounting/journal/'+ this.editValue.id+'/deletedetail',
              {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {  
                   console.log("respon del"+res);  
                  this.promptAlert("danger","Post Deleted","The selected Post was Successfully Deleted") 
                  this.loadJournalData();
            }).catch(err => {
                console.log(err);
                this.promptAlert("danger","Journal Detail Delete Error",err)   
            }); 

      
    },
    confirmEdit(){
      this.$http.put(this.$baseURL + '/accounting/journal/'+ this.editValue.id+'/updatedetail',
              this.$qs.stringify({ 
                    remark: this.editValue.remark, 
                    status:this.editValue.status,
                    amount:this.editValue.amount, 
                }),{
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {  
                   console.log("respon update"+res);  
                  this.promptAlert("success","Post Edited","Your Post Successfully Edited") 
                  this.loadJournalData();
            }).catch(err => {
                console.log(err);
                this.promptAlert("danger","Journal Detail Delete Error",err)   
            }); 
     
    }, 
    promptAlert(status,ttle,txt){
      this.$vs.notify({
        color:status,
        title:ttle,
        text:txt
      })
    }, 

    clearValMultiple(){

    },
    close(){

    }
    
  

  },
  
}
</script>

<style lang="scss" scoped>
@import "@sass/vuexy/extraComponents/autocomplete.scss";
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
