<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
<div>
      <vx-card  ref="headerGL" title="Work Order" class="user-list-filters mb-8">
          <div id="user-edit-tab-info">
          <div class="vx-row">
            <div class="vx-col w-full md:w-1/2">

              <!-- Col Header -->
              <div class="flex items-end">
                <feather-icon icon="UserIcon" class="mr-2" svgClasses="w-5 h-5" />
                <span class="leading-none font-medium">User Information</span>
              </div>

              <!-- Col Content -->
              <div>

                <!-- DOB -->
                <br><br>
                  <span style="margin-top:-20px;"> Username : </span>   <br>
                  <span class="leading-none font-medium"><h3>{{data.username}}</h3></span> 
                <br><br>
                <span style="margin-top:-20px;"> Role : </span>   <br>
                <span class="leading-none font-medium"><h3>{{data.role}}</h3></span> 
                 
 
 
              </div>
            </div>

            <!-- Address Col -->
            <div class="vx-col w-full md:w-1/2">

                <!-- Col Header -->
                <div class="flex items-end md:mt-0 mt-base">
                  <feather-icon icon="MapPinIcon" class="mr-2" svgClasses="w-5 h-5" />
                  <span class="leading-none font-medium">Personal Information</span>
                </div>

                <!-- Col Content -->
                <div><br>
                   <vs-input v-model="data.email" label="Email"  class="w-full" /> 
                   <vs-input v-model="data.address"  label="Address"  class="w-full" /> 
                   <vs-input v-model="data.phone"  label="Phone"  class="w-full" /> 
                   <vs-input v-model="data.birthdate"  label="Birth Date"  class="w-full" /> 
                   <vs-input v-model="data.secondcontact"  label="Secondary Contact"  class="w-full" /> 
                   <vs-input v-model="data.bank"  label="Bank"  class="w-full" /> 
                   <vs-input v-model="data.norek"  label="No Rekening"  class="w-full" /> 
                </div>
            </div>
          </div>

          <!-- Save & Reset Button -->
          <div class="vx-row">
            <div class="vx-col w-full">
              <div class="mt-8 flex flex-wrap items-center justify-end">
                <vs-button class="ml-auto mt-2" @click="save_changes"  >Save Changes</vs-button>
              </div>
            </div>
          </div>
        </div>
      </vx-card>  
   </div>   
</template>

<script>
import axios from 'axios'

export default { 
  watch: {
    
  },
  data() {
    return { 
      
      journalData: {},
        
      loading: false,
        
      editValue:{
        coa:null,
        remark:null,
        stat:null,
        amount:null
      },
      data:{
          username:"agustinus",
          role: "Administrator",
          email: "agus.skylite@gmail.com",
          address: "Jl.Budi Karya no.7a",
          phone: "08125026010",
          birthdate: "20-08-1995",
          secondcontact: "08125026010",
          bank: "Mandiri",
          norek: "110.445637.11247",
      }, 
      ListStatus: [
        {text:'Debit',value:'debit'},
        {text:'Kredit',value:'kredit'}, 
      ],  
      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
    }
  },
  computed: {  
     validName(){
      // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
    }
  },
  methods: {
   
    loadJournalData(){
      if(this.journalId != null){
        axios.get("api/journaldata/"+this.journalId).then(({ data }) => (this.journalData = data))
      }else{
        return null
      }
    },
    submitData() { 
    },
    back(){
       this.$router.push('/pages/invoice').catch(() => {})
    }, 
      
    acceptAlert(){
      this.$vs.notify({
        color:'success',
        title:'Post Edited',
        text:'Your Post Successfully Edited'
      })
    },
    close(){
      
    }, 
    
  

  },
  created(){
     
  },
  components: {
  }
}
</script>

<style lang="scss" scoped>
@import "@sass/vuexy/extraComponents/autocomplete.scss";
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
