<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
<div>
   <vx-card  ref="headerGL"  class="user-list-filters mb-8">
     <div class="vx-col">
       <div class="vx-row">
              <div   style="padding-left:15px;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <vs-input  v-model="codeAset" label="Kode Aktiva" class="mt-5 w-half" name="item-journalname" />  
              </div> 
       </div>
       <div class="vx-row">
            <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-top:5px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> Tanggal Beli</span> 
                  <datepicker   placeholder="Select Date" v-model="dateBuy" :format="format" style=" margin-top:5px; width:300px;" :minimumView="'day'" :maximumView="'month'"></datepicker>     
            </div> 
            <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-top:5px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; margin-bottom:5px;" > Tanggal Pakai : </span>
                  <datepicker  placeholder="Select Date" v-model="dateUse" :format="format" style=" margin-top:5px; width:300px;" :minimumView="'day'" :maximumView="'month'"></datepicker>     
            </div> 
        </div>
      <div class="vx-row">
              <div style="padding-left:15px;" class="vx-col w-full">
                  <vs-input  v-model="name" label="Name" class="mt-5 w-full" name="item-journalname" />  
              </div> 
       </div>  
      <div class="vx-row">
              <div style="padding-left:15px;" class="vx-col w-full">
                  <vs-input  v-model="description" label="Keterangan" class="mt-5 w-full" name="item-journalname" />  
              </div> 
       </div> 
       <div class="vx-row">
            <div style="padding-left:15px; padding-top:10px;" class="vx-col w-full">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Akun Aktiva  </span>
                  <v-select  :clearable="false" v-model="coaCode" label="name" :options="ListCOA" placeHolder="User"   name="Gudang"/> 
            </div> 
       </div>   
       <div class="vx-row">
            <div style="padding-left:15px; padding-top:10px;" class="vx-col w-full">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Akun Akumulasi Penyusutan  </span>
                  <v-select  :clearable="false" v-model="coaPenyusutan" label="name" :options="ListCOA" placeHolder="User"   name="Gudang"/> 
            </div> 
       </div>  
       <div class="vx-row">
            <div style="padding-left:15px; padding-top:10px;" class="vx-col w-full">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Akun Beban Penyusutan  </span>
                  <v-select  :clearable="false" v-model="coaBeban" label="name" :options="ListCOA" placeHolder="User"   name="Gudang"/> 
            </div> 
       </div>
       <div class="vx-row"> 
            <div class="vx-col md:w-1/4 sm:w-1/4 w-full" style="padding-top:5px;">
                 <vs-input  v-model="umurBulan" label="Bulan" class="mt-5 w-full" name="item-journalname" />  
            </div> 
        </div>
        <div class="vx-row">
            <div class="vx-col md:w-1/4 sm:w-1/4 w-full" style="padding-top:15px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> COA Pengeluaran</span> 
                 <v-select  :clearable="false" v-model="coaPengeluaran" label="name" :options="ListCOA" placeHolder="User"  name="Gudang"/> 
            </div> 
            <div class="vx-col md:w-1/4 sm:w-1/4 w-full" > 
                <vs-input  v-model="ketPengeluaran" label="Keterangan" class="mt-5 w-full" name="item-journalname" />  
            </div> 
            <div class="vx-col md:w-1/4 sm:w-1/4 w-full" > 
                <vs-input  v-model="qty" label="Qty" class="mt-5 w-full" name="item-qty" />  
            </div> 
            <div class="vx-col md:w-1/4 sm:w-1/4 w-full" style="margin-top:17px;"> 
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Amount</span>  
                <currency-input  class="vs-inputx vs-input--input normal hasValue" v-model="amount" name="item-amount" />  
            </div> 
        </div>
       <br>
        <div style="float:right">
                <vs-button    style="width:100px; background-color:mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                <vs-button  color="success" style="width:100px;" type="relief" @click.stop="submitData()">Submit</vs-button>
        </div> 
        <br><br>
          
     </div> 
      </vx-card> 

   </div>   
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Datepicker from 'vuejs-datepicker'
 import vSelect from 'vue-select'
import axios from 'axios'
import moment from 'vue-moment'

export default { 
  watch: {
    
  },
  data() {
    return { 
      asetId: null,
      codeAset: null,
      dateBuy: null,
      dateUse: null,
      name: null,
      description: null,
      coaCode: null,
      coaBeban: null,
      coaPenyusutan: null,
      umurBulan: null,
      coaPengeluaran: null,
      ketPengeluaran: null,
      amount: null,
      qty: null,

      format: "d MMMM yyyy",
      loading: false, 
      
      ListCOA: [], 
 
      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
    }
  },
  computed: {  
     validName(){
      // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
    }
  },
  created(){
    if(this.$route.name =="pages-editpenyusutanaset"){
        this.asetId = this.$route.params.idaset; 
      } 
    this.$vs.loading({
          type: 'radius'
      });        
      this.loadCOA()
      
  }, 
  methods: {
   async loadCOA(){ 
        var com_id = this.$company != null ? this.$company.company_id : 1;

            this.$http.get(this.$baseURL + '/accounting/coa?filter=level|3;company_id|'+com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.ListCOA = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

              if(this.$route.name =="pages-editpenyusutanaset"){
                this.$http.get(this.$baseURL + '/accounting/penyusutanaset?filter=aset_id|'+this.asetId, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {

                    this.codeAset= res.data.data[0].code_aset;
                    this.dateBuy= res.data.data[0].date_buy;
                    this.dateUse= res.data.data[0].date_use;
                    this.name= res.data.data[0].name;
                    this.description= res.data.data[0].description;
                    this.coaCode= res.data.data[0].coa_code;
                    this.coaBeban= res.data.data[0].coa_beban;
                    this.coaPenyusutan= res.data.data[0].coa_penyusutan;
                    this.umurBulan= res.data.data[0].umur_bulan;
                    this.coaPengeluaran= res.data.data[0].coa_pengeluaran;
                    this.ketPengeluaran= res.data.data[0].keterangan_pengeluaran;
                    this.amount= res.data.data[0].amount;
                    this.qty= res.data.data[0].qty;
                    
                }).catch(err => {
                  if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                    console.log(err.data.message);
                }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
              } 
        }, 
 
    submitData() {
      if(this.$route.name !="pages-editpenyusutanaset"){
        this.$http.post(this.$baseURL + '/accounting/penyusutanaset/create',
                this.$qs.stringify({ 
                    code_aset: this.codeAset,  
                    date_buy:  this.$moment(this.dateBuy).format('YYYY-MM-DD'),  
                    date_use:  this.$moment(this.dateUse).format("YYYY-MM-DD"),
                    name: this.name,  
                    description: this.description,  
                    coa_code: this.coaCode.code,  
                    coa_penyusutan: this.coaPenyusutan.code,  
                    coa_beban: this.coaBeban.code,  
                    bulan: this.umurBulan,  
                    coa_pengeluaran: this.coaPengeluaran.code,  
                    keterangan_pengeluaran: this.ketPengeluaran,  
                    qty: this.qty,  
                    amount: this.amount,  
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                   window.location.href = '/pages/penyusutanaset';
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err);
                this.promptAlert("danger","Penyusutan Aset Submit Error",err)   
            }); 
      }else{
        this.$http.put(this.$baseURL + '/accounting/penyusutanaset/'+this.asetId+'/update',
                this.$qs.stringify({ 
                    code_aset: this.codeAset,  
                    date_buy:  this.$moment(this.dateBuy).format('YYYY-MM-DD'),  
                    date_use:  this.$moment(this.dateUse).format("YYYY-MM-DD"),
                    name: this.name,  
                    description: this.description,  
                    coa_code: this.coaCode.code,  
                    coa_penyusutan: this.coaPenyusutan.code,  
                    coa_beban: this.coaBeban.code,  
                    bulan: this.umurBulan,  
                    coa_pengeluaran: this.coaPengeluaran.code,  
                    keterangan_pengeluaran: this.ketPengeluaran,  
                    qty: this.qty,  
                    amount: this.amount,  
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                   window.location.href = '/pages/penyusutanaset';
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err);
                this.promptAlert("danger","Penyusutan Aset Submit Error",err)   
            }); 
      }
      
    },
    back(){
       this.$router.push('/pages/penyusutanaset').catch(() => {})
    }, 

      
    acceptAlert1() {
        this.$vs.notify({
            color: 'danger',
            title: 'Post Deleted',
            text: 'The selected Post was Successfully Deleted'
        })
    },
    acceptAlert(){
      this.$vs.notify({
        color:'success',
        title:'Post Edited',
        text:'Your Post Successfully Edited'
      })
    },
    close(){
      
    },
    clearValMultiple() {
      this.editValue.stat = null;
      this.editValue.remark = null;
      this.editValue.amount = null;
      this.editValue.coa = null;
    }
    
  

  }, 
  components: {
    Datepicker,
         vSelect,
    VuePerfectScrollbar,
  }
}
</script>

<style lang="scss" scoped>
@import "@sass/vuexy/extraComponents/autocomplete.scss";
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
