<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
<div>
   <vx-card  ref="headerGL" title="Work Order" class="user-list-filters mb-8">
          <div class="vx-row">   
                        <div class="vx-col flex-1" id="account-info-col-1">
                            <table >
                            <tr>
                                <td class="font-semibold">Date :</td>
                                <td> {{ data.date | moment('DD-MM-YYYY')}}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Work Order :</td>
                                <td> {{data.workOrder }}</td>
                            </tr> 
                            <tr>
                                <td class="font-semibold">Total :</td>
                                <td>Rp.{{data.total | currency}}</td>
                            </tr>
                            </table>
                        </div> 

                        <!-- Information - Col 2 -->
                        <div class="vx-col flex-1" id="account-info-col-2">
                            <table>
                             <tr>
                                <td class="font-semibold">SPK Code :</td>
                                <td>{{ data.spk_code}} - {{ data.termin}}</td>
                            </tr> 
                            <tr>
                                <td class="font-semibold">Alamat :</td>
                                <td>{{data.alamat | capitalize }}</td>
                            </tr>
                              
                            </table>
                        </div>  
                    </div> 
      </vx-card>

      <vx-card  ref="bodyGL" title="Other Services" class="user-list-filters mb-8">
          <div class="vx-row"> 
               <div style="padding-left:5px; margin-top:-16px;" class="vx-col md:w-1/4 sm:w-1/4 w-full">
                  <vs-input label="Description" v-model="form.description" placeholder="Description" class="mt-5 w-full" name="item-coa" /> 
               </div>

               <div style="padding-left:5px; margin-top:-15px;" class="vx-col md:w-1/6 sm:w-1/6 w-full">  
                  <vs-input label="Qty" v-model="form.qty" placeholder="Qty" class="mt-5 w-full" name="item-qty" />  
               </div>
               <div style="padding-left:5px; margin-top:2px;" class="vx-col md:w-1/6 sm:w-1/6 w-full">
                    <span  style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; ">Price</span> <br>

                   <currency-input  class="vs-inputx vs-input--input normal hasValue" placeholder="Price" v-model="form.price"  /> 
               </div>
               <div style="padding-left:5px; " class="vx-col md:w-1/6 sm:w-1/6 w-full">
               <br>
                <vs-button  color="success"  type="relief" @click.stop="addService()">Add</vs-button>
               </div>
               
          </div>
          
          <br>    
          <br> 
          <div>
            <vs-table  :data="termin_detail">

                
                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th> 
                    <vs-th sort-key="desc">Description</vs-th>
                    <vs-th sort-key="debit">Price</vs-th>
                    <vs-th sort-key="kredit">Total</vs-th> 
                    <vs-th sort-key="action">Action</vs-th>
                </template> 
                

                <template slot-scope="{data}">
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td> 

                        <vs-td :data="data[indextr].description">
                            {{data[indextr].description}}
                        </vs-td>

                        <vs-td :data="data[indextr].price">
                            Rp. {{data[indextr].price | currency}} 
                        </vs-td>

                        <vs-td :data="data[indextr].total">
                            Rp. {{data[indextr].total | currency}}
                        </vs-td> 
 

                        <vs-td >
                            <feather-icon v-tooltip="'Edit'" icon="EditIcon"  svgClasses="w-5 h-5 hover:text-primary stroke-current"  class="ml-2" @click="editPostData(tr)"  />
                            <feather-icon v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deletePostData(tr)" /> 
                        </vs-td>
                    </vs-tr>  
                    <vs-tr>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td>Grand Total :</vs-td>
                        <vs-td><b>Rp.{{form.total | currency}}</b></vs-td>
                    </vs-tr> 
                    <vs-tr>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td colspan = "2" style="text-align:right;"> 
                          <vs-button  color="lightblue"  style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                          <vs-button  color="success" style="width:100px;" type="relief" @click.stop="submitData()">Submit</vs-button>
                        </vs-td>
                    </vs-tr>    
                </template> 
            </vs-table>
          </div>

          <vs-prompt
            @cancel="close"
            @accept="updateData"
            @close="close"
            accept-text = "Edit"
            :is-valid="validName"
            :active.sync="activePrompt2" 
            title="Edit">
            <div class="con-exemple-prompt">  

              <vs-input placeholder="Description" label="Description" v-model="formEdit.description" class="w-full" /> 
              <vs-input label="Qty" placeholder="Qty"  v-model="formEdit.qty" class="w-full" />  
              <vs-input label="Price" placeholder="Price"  v-model="formEdit.price" class="w-full" /> 
            </div>
          </vs-prompt>

          
      </vx-card>



   </div>   
</template>

<script>

export default {  
  data() {
    return { 
      spkId: null,
      terminId:null,
      activePrompt2:false, 
      form:{
        idservice:null,
        description:null,
        qty:null,
        price:null,
        total:null,
      },
      formEdit:{
        idservice:null,
        description:null,
        qty:null,
        price:null,
      },
      data:{
          idspk:"1",
          date: "20-20-2020",
          workOrder: "Project Name",
          total: "10000000",
          spk_code: "SPK/2020/I",
          termin: "Termin 1",
          alamat: "JL.Sejahtera",

      },
 
      termin_detail: [],
      
    }
  },
  computed: {  
     validName(){
      // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
    }
  },
  created(){ 
    this.$vs.loading({ type: 'radius' });   
    this.spkId = this.$route.params.idspk; 
    this.terminId = this.$route.params.idterm; 

    this.loadData();
      
     },
  methods: {
    async loadData(){   
           await this.$http.get(this.$baseURL + '/project/orders/'+this.spkId+'/read', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => { 
                this.data.spk_code = res.data.data.code_spk;
                this.data.date = res.data.data.entry_at;
                this.data.workOrder = res.data.data.work_order;
                this.data.alamat = res.data.data.address;
                this.data.status = res.data.data.status;

            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            });

            await this.$http.get(this.$baseURL + '/project/orders/termins/'+this.terminId+'/read', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => { 
                this.termin_detail = res.data.data.order_termin_details; 
                this.data.termin = res.data.data.name;
                this.data.total = res.data.data.amount;
                this.form.total = res.data.data.amount_detail; 

                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            });

    }, 
    addService(){
      if(this.form.description == null || this.form.qty == null || this.form.price == null){
         this.promptAlert("danger","Please Fill All The Form","")  
      }else{
        
      this.$vs.loading({ type: 'radius' });   

            var dt = { 
                    termin_id:this.terminId,
                    order_id:this.spkId,
                    description:this.form.description,
                    qty:this.form.qty,
                    price:this.form.price, 
                }; 
                this.$http.post(this.$baseURL+ '/project/orders/termins/details/create',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                    this.promptAlert("success","Success Add Other Service","")  
                    this.termin_detail = res.data.data;
                    this.form.total = res.data.total;
                    this.$vs.loading.close();

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Error"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                });
      }

    },
    updateData(){
      this.$vs.loading({ type: 'radius' });   

            var dt = {  
                    description:this.formEdit.description,
                    qty:this.formEdit.qty,
                    price:this.formEdit.price, 
                }; 
                this.$http.put(this.$baseURL+ '/project/orders/termins/details/'+this.formEdit.idservice+'/update',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                    this.promptAlert("success","Success Update Other Service","")  
                    this.termin_detail = res.data.data;
                    this.form.total = res.data.total;
                    this.$vs.loading.close();

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Error"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                });
    },
    submitData() { 
       this.$router.push('/pages/invoicedetail/'+ this.spkId).catch(() => {})
    },
    back(){
       this.$router.push('/pages/invoicedetail/'+ this.spkId).catch(() => {})
    }, 
    editPostData(tr){   
      this.formEdit.idservice = tr.order_t_d_id;
      this.formEdit.description = tr.description;
      this.formEdit.qty = tr.qty;
      this.formEdit.price = tr.price;

      this.activePrompt2 = true

    }, 
    deletePostData(tr) {
      this.formEdit.idservice = tr.order_t_d_id;
        this.$vs.dialog({
            type: 'confirm',
            color: 'danger',
            title: `Confirm`,
            text: 'Are you sure want to delete this Post ?',
            accept: this.acceptAlert1
        })
    },
    acceptAlert1() {
      this.$vs.loading({ type: 'radius' });    
           
                this.$http.delete(this.$baseURL+ '/project/orders/termins/details/'+this.formEdit.idservice+'/delete',
                 {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                    this.promptAlert("success","Success Delete Other Service","")  
                    this.termin_detail = res.data.data;
                    this.form.total = res.data.total;
                    this.$vs.loading.close();

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Error"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                });
    }, 
    promptAlert(type,title,text){
            this.$vs.notify({ color: type,  title: title, text: text  })
        }, 
    close(){
      this.formEdit.idservice = null;
      this.formEdit.description = null;
      this.formEdit.qty = null;
      this.formEdit.price = null;
    },  
  },  
}
</script>

<style lang="scss" scoped>
@import "@sass/vuexy/extraComponents/autocomplete.scss";
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
