<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard"   class="user-list-filters mb-8"   > 
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">     
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> SPK: </span> 
                    <span><v-select :disabled="head" v-model="form.order" :clearable="false" label="code_spk" :options="orderOptions" placeHolder="User"   name="User"/>  </span>
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Vendor : </span>
                   <span><v-select  :disabled="head" v-model="form.vendor" :clearable="false" label="name" :options="vendorOptions" placeHolder="User"   name="User"/>  </span> 
                </div> 
            </div>  
             <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Date : </span> 
                  <datepicker  :disabled="head" placeholder="Select Date" v-model="form.date"></datepicker>
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px;">
                    <span><vs-input   :disabled="head" v-model="form.description" placeholder="Description" label="Description" class="w-full"/>   </span>

                </div>  
            </div> 
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                     <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Total Nilai Borongan</span>  
                  <currency-input :disabled="edit" v-model="form.totalnilai" :currency="{prefix}" :precision="{min,max}"
                                            locale="de" class="vs-inputx vs-input--input normal hasValue" />
                </div>
            </div>
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="text-align:right; padding-top:20px;">
                    <vs-button v-if="form.borongan_id != null" color="lightblue"  style="width:100px;" type="relief"  @click.stop="editBorongan()">Edit</vs-button>
                    <vs-button v-if="form.borongan_id != null && form.edit == true" color="success" style="width:100px;" type="relief" @click.stop="saveEditHeader()">Save</vs-button>
                </div>
            </div> 
        </vx-card> 
 

        <div>

            <vx-card  ref="bodyGL" class="user-list-filters mb-8">  
                <div class="vx-row">
                    <div class="vx-col md:w-1/4 sm:w-1/4 w-full"><br>
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">Amount</span>
                    <currency-input v-model="form.amount" class="vs-inputx vs-input--input normal hasValue" placeholder="Amount"   name="Amount" /> 
                    
                    </div>
                    <div class="vx-col md:w-1/4 sm:w-1/4 w-full"><br>
                         <vs-input v-model="form.progress" placeholder="10%" label="Progress"  class="w-full"/>
                    </div>
                    <div class="vx-col md:w-1/4 sm:w-1/4 w-full"><br>
                         <vs-input v-model="form.description2" placeholder="Description" label="Description"  class="w-full"/>
                    </div> 
                    <div class="vx-col md:w-1/4 sm:w-1/4 w-full"><br>
                         <vs-button  :disabled="button" color="primary"  style="width:100px; margin-top:20px;" type="relief" @click.stop="addNewData()"  >Add</vs-button>  
                    </div>
                    
                </div>
                 <div>
                        
                    </div>
            <vs-table  :data="borongan">        
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between" style="margin-bottom:50px;">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container"> 
                    
                </div> 
                </div>
            

                <template slot="thead" >
                    <vs-th sort-key="no" >No</vs-th>
                    <vs-th sort-key="amount">Amount</vs-th>
                    <vs-th sort-key="progress">Progress</vs-th>
                    <vs-th sort-key="description">Description</vs-th> 
                    <vs-th sort-key="action">Action</vs-th> 
                   
                </template> 

                <template slot-scope="{data}" >  
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].amount">
                        Rp.{{data[indextr].amount | currency}}
                        </vs-td> 
                        <vs-td :data="data[indextr].progress">
                            {{data[indextr].progress}}%
                        </vs-td> 
                        <vs-td :data="data[indextr].description">
                            {{data[indextr].description}}
                        </vs-td>  
                         <vs-td :data="data[indextr].total"> 
                            <feather-icon v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editPostData(tr)" />
                            <feather-icon v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(tr)" /> 
                        </vs-td>  
                    </vs-tr> 
                    <vs-tr> 
                        <vs-td></vs-td>
                        <vs-td></vs-td> 
                        <vs-td></vs-td> 
                        <vs-td colspan = "2" style="text-align:right;"> 
                          <vs-button  style="width:100px;  background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                          <vs-button :disabled="button" color="success" style="width:100px;" type="relief" @click.stop="submitBorongan()">Submit</vs-button>
                        </vs-td>
                    </vs-tr>    
                </template> 
            </vs-table>  

             <div>
                 <vs-prompt
                    @cancel="close"
                    @accept="submitEdit"
                    @close="close"
                    accept-text = "Edit"
                    :is-valid="validName"
                    :active.sync="activePrompt2" 
                    title="Edit">
                    <div class="con-exemple-prompt">  

                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">Amount</span>
                    <currency-input v-model="editValue.amount" class="vs-inputx vs-input--input normal hasValue" placeholder="10.000.000"   name="Amount" /> 
                    <vs-input  label="% Progress " type="number" v-model="editValue.progress" class="w-full" /> 
                    <vs-input  label="Description"  v-model="editValue.description" class="w-full" /> 
                    
                    </div>
                </vs-prompt>
             </div>
             

        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 
 import vSelect from 'vue-select'
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         vSelect,
         Datepicker
    },
    data() {
        
        return { 
            max: 0,
            min: 0,
            prefix: "Rp ", 
            activePrompt2:false,
            mode: 'input',
            selected: null,
            head:false,
            button:false,
            absen:{
                sn:false,
                sl:false,
                rb:false,
                km:false,
                jm:false,
                sb:false,
                mg:false,
            },
            form:{
                edit:false,
                borongan_id: null, 
                borongan_d_id: null, 
                order: null, 
                vendor: null, 
                date: null, 
                description:null,
                amount:null,
                totalnilai:null,
                progress:null,
                description2:null,
            },  
            editValue:{
                amount:null,
                progress:null,
                description:null, 
            },
            orderOptions: [], 
            vendorOptions: [],  

            borongan: [],
          
        }
    },
   
    computed: {  
        validName(){
        // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }
    },
    created(){
        this.$vs.loading({ type: 'radius' });      
        if(this.$route.name =="pages-editborongan"){
            this.form.borongan_id = this.$route.params.idborongan; 
            this.head= true;
            this.loadDataEdit();
        }
         this.loadData(); 

    },
    methods:{
        async loadData(){
            this.form.date = new Date();   
            await this.$http.get(this.$baseURL + '/project/orders?filter=company_id|'+this.$company.company_id+',status|progress', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.orderOptions = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
            });

            await this.$http.get(this.$baseURL + '/master/vendors?filter=company_id|'+this.$company.company_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.vendorOptions = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
            });
        },  
        loadDataEdit(){
            this.$http.get(this.$baseURL + '/project/borongan/'+this.form.borongan_id+'/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.form.order= res.data.data.order;
                this.form.vendor= res.data.data.vendor;
                this.borongan= res.data.data.borongan_details;
                this.form.date= res.data.data.entry_at;
                this.form.description= res.data.data.description;
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
            });
        },
        addNewData() {
         this.$vs.loading({ type: 'radius' });       
            if(this.form.borongan_id == null){
                
                var dt = { 
                    order_id: this.form.order.order_id, 
                    vendor_id: this.form.vendor.vendor_id, 
                    date: this.form.date, 
                    totalnilai: this.form.totalnilai, 
                    description:this.form.description,
                    amount:this.form.amount, 
                    progress:this.form.progress, 
                    description2:this.form.description2, 
                };
                this.$http.post(this.$baseURL+ '/project/borongan/create',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                     this.form.borongan_id = res.data.data.borongan_id;
                     this.borongan = res.data.data.borongan_details;
                    this.promptAlert("success","Success Create Borongan","")
                this.$vs.loading.close();
                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again")

                    }
                });
            }else{

                var dt = { 
                    borongan_id: this.form.borongan_id, 
                    amount:this.form.amount, 
                    progress:this.form.progress, 
                    description2:this.form.description2, 
                };
                this.$http.post(this.$baseURL+ '/project/borongan/details/create',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                     this.borongan = res.data.data;
                    this.promptAlert("success","Success Add Borongan Detail","")
                this.$vs.loading.close();
                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again")

                    }
                });

            }
        },
        editBorongan(){
            this.head = false;
            this.button = true;
            this.form.edit=true;
        },
        saveEditHeader(){
         this.$vs.loading({ type: 'radius' });       
            var dt = { 
                    order_id:this.form.order.order_id, 
                    vendor_id:this.form.vendor.vendor_id, 
                    date:this.form.date, 
                    totalnilai:this.form.totalnilai, 
                    description:this.form.description, 
                };
                this.$http.put(this.$baseURL+ '/project/borongan/'+this.form.borongan_id+'/update',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.head = true;
                    this.button = false;
                    this.promptAlert("success","Success Update Borongan","")
                    this.$vs.loading.close();
                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again")

                    }
                });
        },
        resetColFilters(){
        }, 

        editPostData(tr){   
            this.activePrompt2 = true
            this.form.borongan_d_id = tr.borongan_d_id;
            this.editValue.amount = String(tr.amount);
            this.editValue.progress = tr.progress;
            this.editValue.description = tr.description;
        }, 
        acceptAlert(){
            this.$vs.notify({
                color:'success',
                title:'Post Edited',
                text:'Your Post Successfully Edited'
            })
        },
        submitEdit(){
         this.$vs.loading({ type: 'radius' });       
            var dt = { 
                    amount:this.editValue.amount, 
                    progress:this.editValue.progress, 
                    description2:this.editValue.description, 
                };
                this.$http.put(this.$baseURL+ '/project/borongan/details/'+this.form.borongan_d_id+'/update',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.borongan = res.data.data;
                    this.promptAlert("success","Success Update Borongan","")
                this.$vs.loading.close();
                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again")

                    }
                });
        },
        submitBorongan(){
         this.$vs.loading({ type: 'radius' });       
            this.$http.put(this.$baseURL+ '/project/borongan/'+this.form.borongan_id+'/submit',
                {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.$vs.loading.close();
                    this.back();
                    this.promptAlert("success","Success Update Borongan","")

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Submit Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again")

                    }
                });    
        },
        close(){
            this.editValue.amount = null;
            this.editValue.progres = null;
            this.editValue.description = null;
        },
        deleteData(tr) {
        this.form.borongan_d_id = tr.borongan_d_id;
        this.$vs.dialog({
            type: 'confirm',
            color: 'danger',
            title: `Confirm`,
            text: 'Are you sure want to delete this Post ?',
            accept: this.acceptAlert1
            })
        },
        acceptAlert1() {
         this.$vs.loading({ type: 'radius' });       
             this.$http.delete(this.$baseURL + '/project/borongan/details/'+this.form.borongan_d_id+'/delete', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.borongan = res.data.data;
                this.$vs.loading.close();
                this.promptAlert("success","Post Deleted","The selected Post was Successfully Deleted")
            }).catch(err => {
                this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
            });
        },  
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        }, 
        back(){
            this.$router.go(-1);
        },

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>