<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard"   class="user-list-filters mb-8"   > 
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">     
                    <vs-input v-model="form.spkCode" placeholder="SPK/2020/IXX" label="No SPK" class="w-full" :disabled="true"/>
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                 <span><vs-input v-model="form.workorder" placeholder="Work Order" label="Work Order" class="w-full" :disabled="termin"/>   </span>
                </div> 
            </div>  
             <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Date : </span> 
                  <datepicker placeholder="Select Date" v-model="form.date" :disabled="termin"></datepicker>
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px;">
                    <span><vs-input  v-model="form.address" placeholder="Adresss" label="Adresss" class="w-full" :disabled="termin"/>   </span>

                </div>  
            </div> 
             <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">
                   <vs-input v-model="form.durasi" placeholder="40 Hari" type='number' label="Durasi Pengerjaan" class="w-full" :disabled="termin" />
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Penawaran: </span>
                    <v-select v-model="form.penawaran" :clearable="true" required
                        :getOptionLabel="option => option.nomor" :options="penawarans"   @input="loadCust" class="w-full">
                        <template #option="{nomor, name}">
                            <cite>{{ nomor }}</cite> - {{ name }}
                        </template>
                    </v-select>
                </div>  
            </div> 
            
        </vx-card> 

        <vx-card ref="filterCard"  title="Customer Data " class="user-list-filters mb-8"   > 
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">     
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">Name</span>
                    <div class="vx-row" style="margin-left:5px;">
                        <v-select  v-model="form.customer" :clearable="true" label="name" :disabled="termin" :options="customerOptions" style="width:545px;"/>  
                        <feather-icon v-tooltip="'Add New'" icon="PlusIcon" v-if="!termin"  style="padding-left:10px;" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click ="addCust()" /> 
                    </div> 
                    
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <span v-show="form.customer != null" style="font-size:11.9px; color:rgba(0,0,0,0.7);  margin-left:5px;">Contact</span> <br>
                    <span v-show="form.customer != null" style="margin-left:20px; padding-top:15px;">{{form.customer == null ? "" : form.customer.phone}}</span>
                </div> 
            </div>  
             <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">
                    <span v-show="form.customer != null" style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;">Address</span> <br>
                    <span v-show="form.customer != null"  style="margin-left:20px; padding-top:15px;">{{form.customer == null ? "" : form.customer.address}}</span>
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px;">

                </div>  
            </div> 
            <div class="vx-row">
                <div>
                </div>
            </div>
        </vx-card> 

        
        <vx-card ref="filterCard"  title="Workshop" class="user-list-filters mb-8"   > 
            <div class="vx-row" style="margin-left:20px;"> 
                <div>
                    WorkShop Order ?  
                </div>
                <div>
                     <vs-checkbox v-model="form.workshop" :disabled="termin"/>
                </div>
            </div>
        </vx-card> 

        <vx-card ref="filterCard"  title="Nilai Project " class="user-list-filters mb-8"   > 
            <div class="vx-row">
                <div class="vx-col w-full">
                      <currency-input :disabled="termin" class="vs-inputx vs-input--input normal hasValue" placeholder="Total Nilai" label="Nilai Project" v-model="form.totalProject"  name="item-amount" /> 
                </div>
            </div>
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 " style="margin-top:5px;">
                   <!-- <vs-input-number min="0" max="100" v-model="form.persenProfit" @change="calc()" /> -->
                   <vs-input v-model="form.persenProfit" :disabled="termprofit" placeholder="30%" label="Profit" @blur="calc()" class="w-full" />
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px; padding-top:20px;">
                   <currency-input  class="vs-inputx vs-input--input normal hasValue"  placeholder="30.000.000" v-model="form.amountProfit"  disabled="true"  name="item-amount" /> 
                   <!-- <vs-input v-model="form.amountProfit" placeholder="30.000.000" label=" " class="w-full" disabled="true" /> -->
                </div>  
            </div>
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">
                   <vs-input v-model="form.persenCost" disabled="true" placeholder="70%" label="Cost" @blur="calc()" class="w-full" />
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px; padding-top:20px;">
                   <currency-input  class="vs-inputx vs-input--input normal hasValue" placeholder="70.000.000" v-model="form.amountCost"  disabled="true"  name="item-amount" /> 
                   <!-- <vs-input v-model="form.amountCost" placeholder="70.000.000" label=" " class="w-full" disabled="true" /> -->
                </div>  
            </div>
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-top:5px;">
                   <vs-input v-model="form.tax" :disabled="termin" placeholder="10%" label="Pajak" class="w-full"/>
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full"  style="margin-top:5px;">
                </div>  
            </div>

            <div class="vx-row" style="margin-top:10px;">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">

                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="text-align:right;">
                    <vs-button v-if="form.spkId != null" color="lightblue"  style="width:100px;" type="relief"  @click.stop="editspk()">Edit</vs-button>
                    <vs-button v-if="form.spkId != null && form.edit == true" color="success" style="width:100px;" type="relief" @click.stop="saveEdit()">Save</vs-button>
                </div>
            </div>
        </vx-card>

         <vx-card ref="filterCard" v-if="form.spkId != null"  title="Upload RAB " class="user-list-filters mb-8"   > 
            <div class="vx-row" v-for="(tr, indextr) in listfile" :key="indextr" style="padding-left:25px; "> 
                 <table style="width:50%;">
                     <tr>
                         <td style="width:20px; text-align:center;">
                             {{indextr + 1}}.
                         </td>
                         <td> 
                             <a :href="'/storage/'+tr" target="_blank">{{tr}}</a>
                         </td>
                         <td style="width:20px;"> 
                            <feather-icon v-tooltip="'Delete'" icon="TrashIcon"  svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deletedata(tr)" /> 
                        
                         </td>
                     </tr>
                 </table>
             </div>
            <div class="vx-row"> 
                <div>
                     <vs-upload multiple text="Upload File *Max 7MB" :single-upload="true" fileName="filerab" :data="form" :action="urlupload" @on-success="successUpload" />
                </div>
            </div>
        </vx-card>  
 

        <div>

            <vx-card  ref="bodyGL" title="Termin" class="user-list-filters mb-8">  
                <div class="vx-row"> 
                    <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-top:5px;"><br>
                       <currency-input  v-if="form.status != 'progress'" class="vs-inputx vs-input--input normal hasValue" placeholder="Nilai Termin" v-model="form.amountTermin"   name="Amount" /> 
                    </div> 
                    <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-top:5px;" ><br>
                         <vs-button  v-if="form.status != 'progress'"  color="primary"  style="width:100px; " type="relief"  @click="addTermin()" :disabled="terminButton"  >Add</vs-button>  
                    </div>
                    
                </div>
                 <div>
                        
                    </div>
            <vs-table  :data="termins">        
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between" style="margin-bottom:50px;">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container"> 
                    
                </div> 
                </div>
            

                <template slot="thead" >
                    <vs-th sort-key="no" >No</vs-th>
                    <vs-th sort-key="amount">Termin</vs-th>
                    <vs-th sort-key="progress">Amount</vs-th> 
                    <vs-th >Action</vs-th> 
                </template> 

                <template slot-scope="{data}" >  
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].name">
                        {{data[indextr].name}}
                        </vs-td> 
                        <vs-td :data="data[indextr].amount">
                            Rp.{{data[indextr].amount | currency}}
                        </vs-td>  
                         <vs-td :data="data[indextr].total"> 
                            <feather-icon v-if="form.status != 'progress'" v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editPostData(tr)" />
                            <feather-icon v-if="form.status != 'progress'" v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(tr)" /> 
                        </vs-td>  
                    </vs-tr> 
                    <vs-tr> 
                        <vs-td></vs-td>
                        <vs-td style="text-align:right;">Total:</vs-td> 
                        <vs-td>Rp.{{form.totalTermin | currency}}</vs-td> 
                        <vs-td  style="text-align:right;"> 
                          <vs-button   style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                          <vs-button v-if="form.status != 'progress'"  :disabled="!termin" color="success" style="width:100px;" type="relief" @click.stop="submitOrder()">Submit</vs-button>
                        </vs-td>
                    </vs-tr>    
                </template> 
            </vs-table>  

             <div>
                  
             </div>
             
             <!-- FORM -->   
            <vs-prompt class="email-compose"
                @cancel="resetPrompt"
                @accept="submitPrompt"
                @close="resetPrompt"
                accept-text = "Submit"  :is-valid="validName" :active.sync="activePrompt2"  title="Edit">
                    <form @submit.prevent> 
                        <vs-input v-model="editValue.termin" label="Termin"   class="w-full"/> 
                        <span style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">From</span>
                        <currency-input v-model="editValue.amount" class="vs-inputx vs-input--input normal hasValue" placeholder="10.000.000"   name="Amount" /> 
                         
                    </form> 
            </vs-prompt> 
        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 
 import vSelect from 'vue-select'
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         vSelect,
         Datepicker
    },
    data() {
        
        return { 
            activePrompt2:false, 
            termin:false,
            termprofit:false,
            terminButton:false,
            form:{
                spkId:null,
                spkCode:null,
                customer:null,
                penawaran:null,
                workshop:false,
                workorder:null,
                status:null,
                date:null,
                address:null,
                durasi:null,
                totalProject:null,
                persenProfit:null,
                amountProfit:null,
                persenCost:null,
                amountCost:null,
                disc:null,
                tax:null,

                termin:null,
                amountTermin:null,  
                totalTermin:0,

                edit:false,
            },  
            editValue:{
                id_termin:null,
                termin:null,
                amount:null, 
            },

            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            userOptions: [
                "Admin" , "Accounting" ,"Supervisor"
            ], 
            customerOptions: [],  

            termins: [],
            penawarans:[],
            listfile:[],
            urlupload: this.$baseURL+"/project/orders/uploadrab2",
          
        }
    },
   
    computed: {  
        validName(){
        // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }
    },
    created(){ 
    this.loadCustomer();
    if(this.$route.name =="pages-editspk"){
        this.form.spkId = this.$route.params.idspk; 
        this.loadData();
        this.termin= true;
        this.termprofit= true;
        this.terminButton= false;
      } 
      
     },
    methods:{
        async loadData(){
             this.$vs.loading({ type: 'radius' });         
           

           await this.$http.get(this.$baseURL + '/project/orders/'+this.form.spkId+'/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.form.spkCode = res.data.data.code_spk;
                this.form.customer = res.data.data.customer;
                this.form.workshop= res.data.data.to_workshop== 'false'?false:true;
                this.form.workorder = res.data.data.work_order;
                if (res.data.data.penawaran_id != null) {
                    this.form.penawaran = this.penawarans.filter(m => m.offer_id === res.data.data.penawaran_id);
                    this.form.penawaran = this.form.penawaran[0];
                }
                this.form.status = res.data.data.status;
                this.form.date = res.data.data.entry_at;
                this.form.address = res.data.data.address;
                this.form.durasi = res.data.data.time_work;
                this.form.totalProject = res.data.data.total_project;
                this.form.persenProfit = parseFloat(res.data.data.profit);
                this.form.amountProfit = res.data.data.amount_profit;
                this.form.persenCost = parseFloat(res.data.data.cost);
                this.form.amountCost = res.data.data.cost_project;
                this.form.disc = res.data.data.discount;
                this.form.tax = res.data.data.tax;
                this.termins = res.data.data.order_termins;
                this.listfile = res.data.rab;
                this.form.totalTermin= res.data.total_termin;
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
            });
         },    
         async loadCustomer(){  
        this.$vs.loading({ type: 'radius' });         
            this.form.date = new Date();  
             this.$http.get(this.$baseURL + '/project/offer', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.penawarans = res.data.data;            
                    this.$vs.loading.close();
                }).catch(err => {
                    this.$vs.loading.close();
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message) 
                    }else if(err.response.data.message =="Post Failed"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                });  

           await this.$http.get(this.$baseURL + '/master/customers?filter=company_id|'+this.$company.company_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.customerOptions = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
            });
         },
        addCust(){
             this.$router.push('/pages/customer').catch(() => {}) 
        },
        calc(){
         if(this.form.persenProfit == null && this.form.persenProfit == ""){
              this.form.persenProfit =null; 
            this.form.persenCost = null;
             this.form.amountProfit= null; 
             this.form.amountCost= null;
         }else if(isFinite(this.form.persenProfit) == false){
            this.form.persenProfit =null; 
            this.form.persenCost = null;
             this.form.amountProfit= null; 
             this.form.amountCost= null;
            this.$vs.notify({ color: 'danger', title: 'Error', text: 'Data Hanya Boleh Berupa Angka' }) ; 
         }else if(this.form.persenProfit > 100 || this.form.persenProfit < 0 ){ 
            this.form.persenProfit =null; 
            this.form.persenCost = null;
             this.form.amountProfit= null; 
             this.form.amountCost= null;
            this.$vs.notify({ color: 'danger', title: 'Error', text: 'Profit Tidak Boleh Melebihi 100%' }) ;
         }else{
            if(this.form.persenProfit !=null ){
             this.form.persenCost = 100-this.form.persenProfit;   
             this.form.persenProfit = 100-this.form.persenCost;
             this.form.amountProfit= (this.form.persenProfit/100) * this.form.totalProject; 
             this.form.amountCost= (this.form.persenCost/100) * this.form.totalProject; 
            }
         }   
        }, 

        addTermin(){
            this.$vs.loading({ type: 'radius' });  
            if(this.form.spkId == null){ //create order  
             this.termins = null;

             var dt = { 
                    spkCode:this.form.spkCode,
                    customer:this.form.customer.customer_id,
                    workshop:this.form.workshop,
                    workorder:this.form.workorder,
                    penawaran : this.form.penawaran.offer_id,
                    date:this.form.date,
                    address:this.form.address,
                    durasi:this.form.durasi,
                    totalProject:this.form.totalProject,
                    persenProfit:this.form.persenProfit,
                    amountProfit:this.form.amountProfit,
                    persenCost:this.form.persenCost,
                    amountCost:this.form.amountCost,
                    disc:this.form.disc,
                    tax:this.form.tax, 
                    amountTermin:this.form.amountTermin, 
                }; 
                this.$http.post(this.$baseURL+ '/project/orders/create',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.form.spkCode= res.data.data.order.code_spk;
                    this.form.spkId = res.data.data.order.order_id;
                    this.termins = res.data.data.termin;
                    this.form.totalTermin = res.data.data.total_termin;
                    this.promptAlert("success","Success Create SPK","") 
                    this.termin = true;
                    this.$vs.loading.close();

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Error"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors)

                    }
                });
            }else{ //add termin
                var dt = { 
                    order_id: this.form.spkId, 
                    amountTermin:this.form.amountTermin, 
                };
                this.$http.post(this.$baseURL+ '/project/orders/termins/create',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                     this.termins = res.data.data;
                     this.form.totalTermin = res.data.total;
                    this.promptAlert("success","Success Add Termin","")
                this.$vs.loading.close();
                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again")

                    }
                }); 
            }


        },
        loadCust(){
            this.form.customer = this.form.penawaran.customer;
        },
        editspk(){
        
        if(this.form.status == 'progress'){
             this.termprofit = false;
        }else{
             this.termin = false;
             this.termprofit = false;
        } 
            this.terminButton = true;
            this.form.edit=true;
        },
        saveEdit(){
            this.$vs.loading({ type: 'radius' });   

            var dt = { 
                    spkCode:this.form.spkCode,
                    customer:this.form.customer.customer_id,
                    workshop:this.form.workshop,
                    workorder:this.form.workorder,
                    date:this.form.date,
                    address:this.form.address,
                    durasi:this.form.durasi,
                    totalProject:this.form.totalProject,
                    persenProfit:this.form.persenProfit,
                    amountProfit:this.form.amountProfit,
                    persenCost:this.form.persenCost,
                    amountCost:this.form.amountCost,
                    disc:this.form.disc,
                    tax:this.form.tax,  
                }; 
                this.$http.put(this.$baseURL+ '/project/orders/'+this.form.spkId+'/update',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                    this.promptAlert("success","Success Update SPK","") 
                    this.termin = true;
                    this.termprofit = true;
                    this.terminButton = false;
                    this.form.edit=false;
                    this.$vs.loading.close();

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Error"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                });
        },
        successUpload() {
            this.$vs.notify({ color: 'success', title: 'Upload Success', text: 'Lorem ipsum dolor sit amet, consectetur' })
        }, 
        submitPrompt(){
            this.$vs.loading({ type: 'radius' });   

               var dt = { 
                    name:this.editValue.termin,
                    amount:this.editValue.amount, 
                }; 
                this.$http.put(this.$baseURL+ '/project/orders/termins/'+this.editValue.id_termin+'/update',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                    this.promptAlert("success","Success Update Termin","") 
                    this.termins = res.data.data;
                    this.form.totalTermin = res.data.total_termin;
                    this.$vs.loading.close();

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Error"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                });
        },
        resetPrompt() {
          this.editValue.termin = null;
          this.editValue.amount = null;
        },

        editPostData(tr){   
            this.activePrompt2 = true
            this.editValue.id_termin = tr.order_t_id;
            this.editValue.termin = tr.name;
            this.editValue.amount = String(tr.amount); 
        }, 

        submitOrder(){
            if (this.form.totalProject != this.form.totalTermin){
                 this.$vs.notify({ color:'danger', title:'Submit Failed', text:'Total Termin and Total Project Must Same!' })
            }else{
                this.$vs.loading({ type: 'radius' });   
 
                this.$http.post(this.$baseURL+ '/project/orders/'+this.form.spkId+'/submit',
                 {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                    this.promptAlert("success","Order Submited","") 
                    this.$vs.loading.close(); 
                     this.$router.push('/pages/spk').catch(() => {}) 
                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Error"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                });
            }
        },
        successUpload(){
             this.promptAlert('success','success upload');
             this.loadData();
         },
        acceptAlert(){
            this.$vs.notify({ color:'success', title:'Post Edited', text:'Your Post Successfully Edited' })
        }, 
        deleteData(tr) {
        this.editValue.id_termin = tr.order_t_id;
        this.$vs.dialog({
            type: 'confirm',
            color: 'danger',
            title: `Confirm`,
            text: 'Are you sure want to delete this Post ?',
            accept: this.acceptAlert1
            })
        },
        acceptAlert1() {
             this.$vs.loading({ type: 'radius' });   
 
                this.$http.delete(this.$baseURL+ '/project/orders/termins/'+this.editValue.id_termin+'/delete',
                 {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => { 
                    this.promptAlert("danger","Post Deleted","") 
                    this.termins = res.data.data;
                    this.form.totalTermin = res.data.total_termin;
                    this.$vs.loading.close();

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Error"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                    }
                });
        }, 
        deletedata(tr){
             var dt = {
                    pat:tr, 
                };  
             this.$http.post(this.$baseURL + '/project/orders/deletefilerab2',
                this.$qs.stringify(dt),{
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {  
                 this.loadData();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
            });
        },
    
        back(){
            this.$router.go(-1);
        },
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        }, 

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
//dialog widht 
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 30%;
            // height: 70%;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 100%;
                } 
            }
        } 
    } 
</style>