<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" class="user-list-filters mb-8">
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin:5px; "> Name / Reference: </span> <br>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{name}}</h4>
                    </span>
                </div>

                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin:5px; "> Supplier </span> <br>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{supplier.name}}</h4>
                    </span>
                </div>
            </div>

            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> Code: </span>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{code}}</h4>
                    </span>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Date: </span>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{date}}</h4>
                    </span>
                </div>
            </div>
        </vx-card>



        <vx-card ref="bodyGL" class="user-list-filters mb-8">
            <vs-table ref="table" multiple v-model="selected" :data="pembelians">
            

                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="product">Product</vs-th>                
                    <!-- <vs-th sort-key="stok">Qty LG</vs-th>
                    <vs-th sort-key="price">Price / LG (Rp)</vs-th> -->
                    <vs-th sort-key="stok">Qty SM</vs-th>
                    <vs-th sort-key="price">Price / SM (Rp)</vs-th>
                    <vs-th sort-key="tax">Tax (%)</vs-th>
                    <vs-th sort-key="discound">Discount (Rp)</vs-th>
                    <vs-th sort-key="total">Total (Rp)</vs-th>
                    <vs-th sort-key=""></vs-th>

                </template>

                <template slot-scope="{data}">
                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr+1">
                            {{indextr+1}}
                        </vs-td>

                        <vs-td :data="data[indextr].product.name">
                            {{data[indextr].product.name}}
                        </vs-td>
                        
                        <!-- <vs-td :data="data[indextr].qty_lg">
                            {{data[indextr].qty_lg}}
                        </vs-td>

                        <vs-td :data="data[indextr].price_lg">
                            {{data[indextr].price_lg | currency}}
                        </vs-td> -->

                        <vs-td :data="data[indextr].qty_sm">
                            {{data[indextr].qty_sm}}
                        </vs-td>

                        <vs-td :data="data[indextr].price_sm">
                            {{data[indextr].price_sm | currency}}
                        </vs-td>

                        <vs-td :data="data[indextr].tax">
                            {{data[indextr].tax}}
                        </vs-td>

                        <vs-td :data="data[indextr].discount">
                            {{data[indextr].discount | currency}}
                        </vs-td>

                        <vs-td :data="data[indextr].amount">
                            {{data[indextr].amount | currency}}
                        </vs-td>

                        <vs-td>
                            <vs-col vs-w=6>
                                <feather-icon icon="EditIcon" v-tooltip="'Edit'" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="editData(tr)" />
                            </vs-col>
                            <vs-col vs-w=6>
                                <feather-icon icon="TrashIcon" v-tooltip="'Delete'" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" />
                            </vs-col>
                        </vs-td>

                    </vs-tr>
                </template>
            </vs-table>

            <vs-row class="mt-5">
                <vs-col class="text-right pt-5" vs-w="12">
                    <h4>Subtotal: <b>Rp. {{ total | currency}}</b></h4>
                </vs-col>
            </vs-row>
             <vs-row class="mt-5">
                <vs-col class="text-right" vs-w="12">
                    <h4>Discount: <b>Rp. {{ totalDiscount | currency}}</b></h4>
                </vs-col>
            </vs-row>
              <vs-row class="mt-5">
                <vs-col class="text-right" vs-w="12">
                    <h4>Tax: <b>Rp. {{ totalTax | currency}}</b></h4>
                </vs-col>
            </vs-row>
            <vs-row class="mt-5">
                <vs-col class="text-right" vs-w="12">
                    <h4>Ongkir: <b>Rp. {{ ongkir | currency}}</b></h4>
                </vs-col>
            </vs-row>
            <vs-row class="mt-5">
                <vs-col class="text-right mb-5" vs-w="12">
                    <h4>Grandotal: <b>Rp. {{ grandtotal | currency}}</b></h4>
                </vs-col>
            </vs-row>

            <vs-divider />
            <vs-row class="mt-5">
                <vs-col class="text-right">
                    <vs-button  style="width:100px; background-color:mediumslateblue;" type="relief" @click.stop="back()">Back
                    </vs-button>
                    <vs-button color="danger" style="width:100px;" type="relief" @click.stop="deletePO()">Delete
                    </vs-button>
                    <vs-button color="warning" style="width:100px;" type="relief" @click.stop="rejectPO()">Reject
                    </vs-button>
                    <vs-button color="success" style="width:100px;" type="relief" @click.stop="submit()">Approve
                    </vs-button>
                </vs-col>
            </vs-row>
            
        </vx-card>

        <div v-if="productValue!==null">
            <vs-prompt v-if="activePrompt2" @cancel="close" @accept="acceptEdit" @close="close" accept-text="Edit"
                :active.sync="activePrompt2" title="Edit">
                <div class="con-exemple-prompt">

                    <vs-input label="Product" disabled="true" v-model="productValue.product.name" class="w-full" />
                    
                    <!-- <vs-row>
                        <vs-input min="0" type="number" label="Qty LG" v-model="productValue.qty_lg" class="w-1/2" />
                        <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> /
                            {{productValue.unit_lg}}</span>
                    </vs-row> -->

                    <!-- <div class="vs-input w-full px-1">
                        <label class="vs-input--label" for="">Price (Rp)/ LG</label>
                        <div class="vs-con-input">
                            <currency-input v-model="productValue.price_lg" :currency="{prefix}" locale="de"
                                class="vs-inputx vs-input--input normal hasValue" />
                        </div>
                    </div> -->

                    <vs-row>
                        <vs-input  min="0" type="number" label="Qty SM" v-model="productValue.qty_sm" class="w-1/2" />
                        <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> /
                            {{productValue.unit_sm}}</span>
                    </vs-row>

                    <div class="vs-input w-full px-1">
                        <label class="vs-input--label" for="">Price (Rp)/ SM</label>
                        <div class="vs-con-input">
                            <currency-input v-model="productValue.price_sm" :currency="{prefix}" locale="de" class="vs-inputx vs-input--input normal hasValue"/>
                        </div>
                    </div>

                    <vs-row>
                        <div class="vs-input w-1/2 px-1">
                            <label class="vs-input--label" for="">Discount (Rp)</label>
                            <div class="vs-con-input">
                                <currency-input v-model="productValue.discount" :currency="{prefix}" locale="de"
                                    class="vs-inputx vs-input--input normal hasValue" />
                            </div>
                        </div>
                    </vs-row>
                </div>
            </vs-prompt>
        </div>

        
            <vs-prompt v-if="activeReject" @cancel="close" @accept="acceptRejectPO" @close="close" accept-text="Submit"
                :active.sync="activeReject" :title="modalTitle">
                <div class="con-exemple-prompt">
                    
                    <vs-row>
                        <vs-input label="Notes" v-model="notes" class="w-full" />
                    </vs-row>

                

                </div>
            </vs-prompt>
        </div>
</template>



<script>
import vSelect from 'vue-select'
import VueSimpleSuggest from 'vue-simple-suggest';
import Datepicker from 'vuejs-datepicker';


export default {
    components: {
        VueSimpleSuggest,
        vSelect,
        Datepicker
    },
    data() {

        return {
            prefix: 'Rp ',
            activePrompt2: false,
            activeReject:false,
            modalTitle:'Reject',
            mode: 'input',
            selected: [],
            reject:1,
            notes:null,
            id: null,
            Wh_id: null,
            code: null,
            name: null,
            status: null,
            supplier: null,
            date: null,
            total: 0,
            totalDiscount:0,
            totalTax:0,
            grandtotal: 0,
            ongkir:0,
            productValue: null,
            pembelians: [
                // {
                //     "id": 1,
                //     "product": "Papan  ",
                //     "qty": "10",
                //     "totalorder": "5",
                //     "price": "50000",
                //     "saleprice": "50000",
                //     "tax": "10",
                //     "discount":"0",
                //     "total":"500000", 
                // },
            ],

        }
    },

    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }
    },
    mounted() {
        this.loadData()
    },
    methods: {
        async loadData() {
            this.id = this.$route.params.idpopembelian;

            var resPO = await this.$http.get(this.$baseURL + '/pembelian/po/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                // this.$options.filters.auth(false)
            })

            // console.log(resPO.data.data);
            var total = 0;
            for (let index = 0; index < resPO.data.data.po_pembelian_details.length; index++) {

                total = total + resPO.data.data.po_pembelian_details[index].amount;
                // console.log('tes : ' + total);

            }

            // this.total = resPO.data.data.total;
             this.total = (resPO.data.data.total + resPO.data.data.discount) - resPO.data.data.ongkir -resPO.data.data.tax;
            // this.total = parseInt(total);
            this.ongkir = resPO.data.data.ongkir;
            this.wh_id = resPO.data.data.wh_id;
            this.grandtotal = parseInt(resPO.data.data.total);
            this.totalDiscount =  resPO.data.data.discount;
            this.totalTax =  resPO.data.data.tax;
            this.name = resPO.data.data.name;           
            this.supplier = resPO.data.data.supplier;
            this.code = resPO.data.data.code;
            this.date = resPO.data.data.created_at;
            this.pembelians = resPO.data.data.po_pembelian_details;


        },

        async loadPO(value) {
            var resPO = await this.$http.get(this.$baseURL + '/pembelian/po/' + value + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                // console.log(err);
                // this.$options.filters.auth(false)
            })

            // console.log(resPO.data.data);
            var total = 0;
            for (let index = 0; index < resPO.data.data.po_pembelian_details.length; index++) {

                total = total + resPO.data.data.po_pembelian_details[index].amount;
                // console.log('tes : ' + total);

            }

            // console.log(total);

            this.pembelians = resPO.data.data.po_pembelian_details;
            this.total = (resPO.data.data.total + resPO.data.data.discount) - resPO.data.data.ongkir -resPO.data.data.tax;
            this.ongkir = resPO.data.data.ongkir;
            // this.grandtotal = parseInt(this.total) + parseInt(this.ongkir);
            this.grandtotal = parseInt(resPO.data.data.total) ;
            this.totalDiscount =  resPO.data.data.discount;
            this.totalTax =  resPO.data.data.tax;
            // this.total = parseInt(total);
            // this.grandtotal = parseInt(total) + parseInt(this.form.ongkir);
        },
        // addNewData() {
        // this.sidebarData = {}
        // this.toggleDataSidebar(true)
        // },
        resetColFilters() {

        },
        back(){
            this.$router.push('/pages/popembelian');
        },

        editData(data) {
            this.productValue = data;
            this.activePrompt2 = true;
        },
        acceptEdit() {
            const formData = new FormData();
            formData.append('name', this.name);
            formData.append('supplier_id', this.supplier.supplier_id);
            formData.append('supplier_inv', this.code);
            formData.append('wh_id', this.wh_id);
            formData.append('ongkir', this.ongkir);
            formData.append('details[product_id]', this.productValue.product_id);
            formData.append('details[qty_lg]', this.productValue.qty_lg);
            formData.append('details[qty_sm]', this.productValue.qty_sm);            
            formData.append('details[price_lg]', this.productValue.price_lg);
            formData.append('details[price_sm]', this.productValue.price_sm);
            formData.append('details[tax]', this.productValue.tax);
            formData.append('details[discount]', this.productValue.discount);
            formData.append('_method', 'PUT');

            this.$http.post(this.$baseURL + '/pembelian/po/details/' + this.productValue.po_pb_d_id + '/update', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                // console.log(res.data.data);
                this.loadPO(res.data.data.po_pb_id)

                this.$vs.notify({
                    color: 'success',
                    title: 'Product Edited',
                    text: 'Your Product Successfully Edited'
                })
            }).catch(err => {
                console.log(err);
            }).finally(            
                this.activePrompt2 = false
            );
        },
        close() {
            this.activePrompt2 = false;
            this.activeReject = false;
        },
        deleteData(data) {
            this.productValue = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this Post ?',
                accept: this.acceptDelete
            })
        },
        acceptDelete() {
            this.$http.delete(this.$baseURL + '/pembelian/po/details/' + this.productValue.po_pb_d_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.$vs.notify({
                    color: 'success',
                    title: 'Product Deleted',
                    text: 'Your Product Successfully Deleted'
                })
            }).catch(err => {
                console.log(err);
            }).finally(
                this.loadPO(this.productValue.po_pb_id)
            );
        },

        submit() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Are you sure want to Approve this PO ?',
                accept: this.acceptSubmit
            })
        },
        acceptSubmit() {
            if (this.selected.length <= 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Data Empty',
                    text: 'Product Not Selected',
                
                })
            } else {
                const formData = new FormData();
                for (let index = 0; index < this.selected.length; index++) {
                    formData.append('details[' + index + '][id]', this.selected[index].po_pb_d_id);
                }
                formData.append('execute', 'approved');


                this.$http.post(this.$baseURL + '/pembelian/po/' + this.id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/pembelian/')
                }).catch(err => {
                    console.log(err);
                })
            }
        },
        rejectPO() {
            this.activeReject = true;
            this.modalTitle = 'Reject';         
        },
        acceptReject() {

            if (this.modalTitle === 'Reject') {
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: `Confirm`,
                    text: 'Are you sure want to Reject this PO ?',
                    accept: this.acceptRejectPO
                })
            }else{
                this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Are you sure want to Delete this PO ?',
                accept: this.acceptDeletePO
            })
            }

           
            
        },
        acceptRejectPO(){
                const formData = new FormData();
            
                formData.append('execute', 'rejected');
                formData.append('rejected', this.reject);
                formData.append('notes', this.notes);


                this.$http.post(this.$baseURL + '/pembelian/po/' + this.id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/po')
                }).catch(err => {
                    console.log(err);
                })
        },
      
        deletePO() {
            this.activeReject = true;
            this.modalTitle = 'Delete'
            
        },
        acceptDeletePO() {
         
                const formData = new FormData();
                
                formData.append('execute', 'void');
                formData.append('notes', this.notes);


                this.$http.post(this.$baseURL + '/pembelian/po/' + this.id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/po')
                }).catch(err => {
                    console.log(err);
                })
            
        },
        clearValMultiple() {
            // this.editValue.product = null;
            // this.editValue.qty = null;
            // this.editValue.price = null;
            // this.editValue.saleprice = null;
            // this.editValue.satuan = null;
            // this.editValue.tax = null;
            // this.editValue.disc = null;
        },
        back(){
            this.$router.go(-1);
        },


    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>