<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>

        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" class="user-list-filters mb-8">
            <vs-row>
                <vs-col vs-w="6" class="pr-3">
                    <vs-input v-model="form.name" label="Kode RO (Generate Otomatis)" disabled class="w-full" />
                </vs-col>
                <vs-col vs-w="6" class="pl-3">
                    <label class="vs-input--label" for="">Supplier</label>
                    <span>
                        <v-select v-model="form.supplier" :clearable="false" label="name" :disabled="hide"
                            :options="supplierOptions" :reduce="supplierOptions => supplierOptions.supplier_id" name="supplier" /> </span>
                </vs-col>
            </vs-row>
            <div class="vx-row">
                <!-- <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <vs-input v-model="form.work_order" label="Work Order" class="w-full" />
                </div> -->
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> Work Order: </span>
                    <span>
                    <v-select :disabled="hide" v-model="form.spk" :clearable="false" label="code_spk" 
                        :options="woOption"  :reduce="woOption => woOption.code_spk" name="codeSPK" /> </span>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:7px;">
                    <label class="vs-input--label" for="">Warehouse / Gudang</label>
                    <span>
                        <v-select :disabled="hide" v-model="form.warehouse" :clearable="false" label="name"
                            :reduce="whOptions => whOptions.wh_id" :options="whOptions" @input="loadProduct" 
                            name="warehouse" />
                    </span>
                </div>
            </div>
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span v-show="form.payment == 'Credit'"
                        style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Date Expired: </span>
                    <datepicker v-show="form.payment == 'Credit'" placeholder="Select Date Expired"
                        v-model="form.dateexpired"></datepicker>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">

                </div>
            </div>

            <div class="vx-row">
                <div class="vs-input w-1/2 px-4" style="padding-top:7px;">
                    <label class="vs-input--label" for="">Biaya Ongkir (Rp)</label>
                    <div class="vs-con-input">
                        <currency-input v-model.lazy="form.ongkir" :currency="{prefix}" :precision="{min,max}"
                            locale="de" @change="countTotal('ongkir')"
                            class="vs-inputx vs-input--input normal hasValue" />
                    </div>
                </div>
                <div class="vs-input w-1/2 px-4" style="padding-top:7px;">
                    <vs-input v-model="form.ketOngkir" label="Ket. Ongkir" class="w-full" />
                </div>

            </div>
            <div class="vx-row mb-4">
                <div class="vs-input w-1/2 px-4" style="padding-top:7px;">
                    <label class="vs-input--label" for="">Biaya Lain (Rp)</label>
                    <div class="vs-con-input">
                        <currency-input v-model.lazy="form.biayaLain" :currency="{prefix}" :precision="{min,max}"
                            locale="de" @change="countTotal('biaya')"
                            class="vs-inputx vs-input--input normal hasValue" />
                    </div>
                </div>
                <div class="vs-input w-1/2 px-4" style="padding-top:7px;">
                    <vs-input v-model="form.ketBiayaLain" label="Ket. Biaya Lain" class="w-full" />
                </div>

            </div>
        </vx-card>


        <div>

            <vx-card ref="bodyGL" class="user-list-filters mb-8">
                <vs-row>
                    <vs-col vs-w="4">
                        <label class="vs-input--label" for="">Cari Produk :</label>
                        <v-select class="col-12" v-model="productValue" :clearable="false" label="name"
                            :options="productList" name="productList" @input="selectProduct" />
                    </vs-col>
                    <vs-col vs-w="8" class="pl-3">
                        <vs-row>
                            <vs-col vs-w="3" class="px-2">
                                <vs-input v-model="product.qty_sm" type="number" min="0" label="Qty" class="w-full" />
                            </vs-col>
                            <vs-col vs-w="1" class="px-2 my-auto pt-5">
                                <span class="w-full ">/ {{qtyKecil}} </span>
                            </vs-col>
                            
                            <vs-col vs-w="3" class="px-2">
                                <label class="vs-input--label" for="">Harga (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="product.price_sm" :currency="{prefix}" :precision="{min,max}" locale="de" class="vs-inputx vs-input--input normal hasValue"/>
                                </div>
                            </vs-col>
                            <vs-col vs-w="3" class="px-2">                            
                                <label class="vs-input--label" for="">Discount (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="product.disc" :currency="{prefix}" :precision="{min,max}" locale="de" class="vs-inputx vs-input--input normal hasValue"/>
                                </div>
                            </vs-col>
                            <vs-col vs-w="2" class="px-2">
                                <vs-button color="primary" style="width:100px; margin-top:20px;" type="relief"
                                    :disabled="product.id === null" v-on:click="addProduct">Add
                                </vs-button>
                            </vs-col>                           


                        </vs-row>
                    </vs-col>

                </vs-row>

                 <vs-table v-if="tipe === 'approve'" multiple v-model="selected"  stripe :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                    
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>                      
                        <!-- <vs-th sort-key="stok">Qty LG</vs-th>
                        <vs-th sort-key="price">Price / LG (Rp)</vs-th> -->
                        <vs-th sort-key="stok">Qty</vs-th>
                        <vs-th sort-key="price">Price (Rp)</vs-th>
                        <vs-th sort-key="tax">Tax (%)</vs-th>
                        <vs-th sort-key="discound">Discount (Rp)</vs-th>
                        <vs-th sort-key="total">Total (Rp)</vs-th>
                        <vs-th sort-key=""></vs-th>

                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">  
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>

                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>                          
                            <!-- <vs-td :data="data[indextr].qty_lg">
                                {{data[indextr].qty_lg}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_lg">
                                {{data[indextr].price_lg | currency}}
                            </vs-td> -->
                            <vs-td :data="data[indextr].qty_sm">
                                {{data[indextr].qty_sm}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                {{data[indextr].price_sm | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].tax">
                                {{data[indextr].tax}}
                            </vs-td>
                            <vs-td :data="data[indextr].discount">
                                {{data[indextr].discount | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>
                            <vs-td>
                                <!-- <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="editData(tr)" />
                                <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" /> -->
                                <vs-col vs-w=6>
                                    <feather-icon v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w=6>
                                    <feather-icon v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>


                <vs-table v-else stripe :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                    
                    </div>


                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>                      
                        <!-- <vs-th sort-key="stok">Qty LG</vs-th>
                        <vs-th sort-key="price">Price / LG (Rp)</vs-th> -->
                        <vs-th sort-key="stok">Qty</vs-th>
                        <vs-th sort-key="price">Price (Rp)</vs-th>
                        <vs-th sort-key="tax">Tax (%)</vs-th>
                        <vs-th sort-key="discound">Discount (Rp)</vs-th>
                        <vs-th sort-key="total">Total (Rp)</vs-th>
                        <vs-th sort-key=""></vs-th>

                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">  
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>

                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>                          
                            <!-- <vs-td :data="data[indextr].qty_lg">
                                {{data[indextr].qty_lg}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_lg">
                                {{data[indextr].price_lg | currency}}
                            </vs-td> -->
                            <vs-td :data="data[indextr].qty_sm">
                                {{data[indextr].qty_sm}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                {{data[indextr].price_sm | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].tax">
                                {{data[indextr].tax}}
                            </vs-td>
                            <vs-td :data="data[indextr].discount">
                                {{data[indextr].discount | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>
                            <vs-td>
                                <!-- <feather-icon icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="editData(tr)" />
                                <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" /> -->
                                <vs-col vs-w=6>
                                    <feather-icon v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w=6>
                                    <feather-icon  v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <vs-row class="mt-5">
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Subtotal: <b>Rp. {{ form.total | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Diskon: <b>Rp. {{ form.totalDiscount | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Tax: <b>Rp. {{ form.totalTax | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Ongkir: <b>Rp. {{ form.ongkir | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Biaya Lain: <b>Rp. {{ form.biayaLain | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ form.grandtotalTemp | currency}}</b></h4>
                    </vs-col>
                </vs-row>

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button  style="width:100px; background-color:mediumslateblue;" type="relief" @click.stop="back()">
                            Back</vs-button>
                        <vs-button v-if="tipe !== 'approve'" color="success" style="width:100px;" type="relief" @click.stop="submit()">
                            Submit</vs-button>
                        
                        <!-- SHOW APPROVE ONLY -->
                        <vs-button v-if="tipe === 'approve'" color="warning" style="width:100px;" type="relief" @click.stop="reject()">
                        Reject</vs-button>
                        <vs-button v-if="tipe === 'approve'" color="primary" style="width:100px;" type="relief" @click.stop="approve()">
                        Approve</vs-button>   
                    </vs-col>

                </vs-row>


                <div v-if="editValue!==null">
                    <vs-prompt @cancel="clearValMultiple" @accept="acceptAlert" @close="close" accept-text="Edit"
                        :is-valid="validName" :active.sync="activePrompt2" title="Edit">
                        <div class="con-exemple-prompt">

                            <vs-input label="Product" disabled="true"  v-model="editValue.product.name"
                                class="w-full" />                              
                            <!-- <vs-input label="Price SM"  v-model="editValue.price_sm"
                                class="w-full" /> -->
                            <!-- <vs-row>
                                <vs-input type="number" min="0" label="Qty LG" v-model="editValue.qty_lg"
                                    class="w-1/2" />
                                <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> / {{editValue.unit_lg}}</span>
                            </vs-row> -->
                            <!-- <div class="vs-input w-full px-1">
                                <label class="vs-input--label" for="">Price (Rp)/ LG</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="editValue.price_lg" :currency="{prefix}" :precision="{min,max}" locale="de" class="vs-inputx vs-input--input normal hasValue"/>
                                </div>
                            </div>  -->
                            <vs-row>
                                <vs-input type="number" min="0"  label="Qty SM" v-model="editValue.qty_sm"
                                    class="w-1/2" />
                                <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> / {{editValue.unit_sm}}</span>
                            </vs-row>
                            <div class="vs-input w-full px-1">
                                <label class="vs-input--label" for="">Price (Rp)/ SM</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="editValue.price_sm" :currency="{prefix}" :precision="{min,max}" locale="de" class="vs-inputx vs-input--input normal hasValue"/>
                                </div>
                            </div>  
                            <vs-row>
                                <!-- <vs-input  type="number" min="0" label="Tax (%)"  v-model="editValue.tax" class="w-1/2" /> -->
                                <div class="vs-input w-1/2 px-1">
                                    <label class="vs-input--label" for="">Discount (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input v-model="editValue.discount" :currency="{prefix}" :precision="{min,max}" locale="de" class="vs-inputx vs-input--input normal hasValue"/>
                                    </div>
                                </div> 
                                <!-- <vs-input label="Discount" v-model="editValue.discount" class="w-1/2" />  -->
                            </vs-row>
                        </div>
                    </vs-prompt>
                </div>


                <!-- POP-UP REJECT -->
                <vs-prompt v-if="activeReject" @cancel="close" @accept="acceptReject" @close="close" accept-text="Submit"
                    :active.sync="activeReject" :title="Reject">
                    <div class="con-exemple-prompt">
                        <vs-row>
                            <vs-input label="Notes" v-model="notes" class="w-full" />
                        </vs-row>
                    </div>
                </vs-prompt>


            </vx-card>
        </div>

    </div>
</template>



<script>
    import vSelect from 'vue-select'
    import VueSimpleSuggest from 'vue-simple-suggest';
    import Datepicker from 'vuejs-datepicker';


    export default {
        components: {
            VueSimpleSuggest,
            vSelect,
            Datepicker
        },
        data() {
            return {
                id:null,
                tipe:null,
                hide:false,
                max:0,
                min:0,
                prefix:"Rp ",
                delete:null,
                activePrompt2: false,
                // acceptApprove:false,
                activeReject:false,
                mode: 'input',
                notes: null,
                selected: [],
                form: {
                    name: null,
                    supplier: null,
                    work_order: null,
                    warehouse: null,
                    spk:null,
                    ongkir:0,
                    ketOngkir:null,
                    biayaLain:0,
                    biayaLainTemp:0,
                    ketBiayaLain:null,
                    ongkirTemp:0,
                    total:0,
                    totalDiscount:0,
                    totalTax:0,                    
                    grandtotal:0,
                    grandtotalTemp:0,
                },
                qtyBesar: null,
                qtyKecil: null,
                product: {
                    id: null,
                    qty_lg: 0,
                    qty_sm: 1,
                    price_lg: 0,
                    price_sm: 0,
                    tax: 10,
                    disc: 0,
                },
                productList: [],
                productValue: null,
                editValue: null,
                whOptions: [],
                customerOptions: [],
                woOption:[],
                supplierOptions: [],
                penjualans: [
                ],

            }
        },
        mounted() {
            this.$vs.loading({
                type: 'radius'
            });
            this.loadData();
        },
        computed: {
            validName() {
                // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
            }
        },
        methods: {
            async loadData() {
                this.id = this.$route.params.idPenjualan;
                this.tipe = this.$route.params.tipe;
                var com_id = this.$company != null ? this.$company.company_id : "1";

                if (this.id > 0) {
                    this.loadEdit();
                }
                var resCustomer = await this.$http.get(this.$baseURL + '/master/customers', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })

                var resWorkOrder = await this.$http.get(this.$baseURL + '/project/orders', {
                    params: {
                        filter: 'status|progress'
                    },
                }, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })

                var resWh = await this.$http.get(this.$baseURL + '/master/warehouses', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message)
                })

                var resSupplier = await this.$http.get(this.$baseURL + '/master/suppliers', {
                    params: {
                        filter: 'company_id|'+com_id
                    },
                },{
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    // console.log(err);
                    this.$vs.loading.close();
                    this.$options.filters.auth(err.response.data.message)
                })

                this.supplierOptions = resSupplier.data.data;
                this.woOption = resWorkOrder.data.data;
                this.whOptions = resWh.data.data;
                this.$vs.loading.close();
            },

            async loadEdit() {
                this.hide = true;
                this.po = false;
                var resReadPenjualan = await this.$http.get(this.$baseURL + '/project/ro/' + this.id + '/read', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);  
                })

                var result = resReadPenjualan.data.data;

                this.form.name = result.code;
                this.form.supplier = result.supplier_id;
                this.form.spk = result.code_spk;
                this.form.total = (result.total + result.discount) - result.ongkir - result.biaya_lain - result.tax;
                this.form.warehouse = result.wh_id;
                this.form.totalDiscount = result.discount;
                this.form.totalTax = result.tax; 
                this.form.grandtotal = result.total;
                this.form.grandtotalTemp = result.total;
                this.form.ongkir = result.ongkir;
                this.form.ketOngkir = result.ongkir_desc;
                this.form.ongkirTemp = result.ongkir;
                this.form.biayaLain = result.biaya_lain;
                this.form.ketBiayaLain = result.biaya_lain_desc;
                this.form.biayaLainTemp = result.biaya_lain;
                this.penjualans = result.po_project_details;
                this.loadProduct();
            },

            countTotal(value){
                this.form.grandtotalTemp = (parseInt(this.form.total) + parseInt(this.form.totalTax) + parseInt(this.form.ongkir) + parseInt(this.form.biayaLain)) - parseInt(this.form.totalDiscount);
            },

            async loadProduct(){

                var resProduct = await this.$http.get(this.$baseURL + '/master/products', {
                    params: {
                        filter: 'wh_id|'+this.form.warehouse
                    },
                },{
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })

                this.productList = resProduct.data.data; 
            },


            selectProduct(value) {

                this.product.id = value.product_id;
                var price = value['product_details'][0];
                if (price !== undefined) {
                    this.product.price_lg = price.price_lg;
                    this.product.price_sm = price.price_sm;

                } else {
                    this.product.price_lg = 0;
                    this.product.price_sm = 0;
                }
                this.qtyBesar = value.unit_lg;
                this.qtyKecil = value.unit_sm;

            },

            addProduct() {
                
                // if (this.form.name === null ) {
                //     this.$vs.dialog({
                //         color: 'danger',
                //         title: 'Data Empty',
                //         text: 'Filed Name Empty',
                //         // accept: this.accept
                //     })
                // }else if (this.form.name.length < 6 ){
                //     this.$vs.dialog({
                //         color: 'danger',
                //         title: 'Data Empty',
                //         text: 'Filed Name Minimum 6 Character',
                //         // accept: this.accept
                //     })
                // }else if (this.form.invoice === null ) {
                //     this.$vs.dialog({
                //         color: 'danger',
                //         title: 'Data Empty',
                //         text: 'Supplier Invoice Empty',
                //         // accept: this.accept
                //     })
                // }else if (this.product.qty_lg < 0 || this.product.qty_sm < 0){
                //     this.$vs.dialog({
                //         color: 'danger',
                //         title: 'Data Empty',
                //         text: 'Quantity Minus Not Allowed',
                //         // accept: this.accept
                //     })
                // }else{
                    this.hide = true;
                    var product = this.productValue;

                    const formData = new FormData();
                    formData.append('code', this.form.name);
                    formData.append('code_spk', this.form.spk);
                    formData.append('supplier_id', this.form.supplier);                        
                    formData.append('wh_id', this.form.warehouse);
                    formData.append('ongkir', this.form.ongkir);
                    formData.append('ongkir_desc', this.form.ketOngkir);
                    formData.append('biaya_lain', this.form.biayaLain);
                    formData.append('biaya_lain_desc', this.form.ketBiayaLain);
                    formData.append('details[product_id]', this.product.id);
                    formData.append('details[qty_lg]', this.product.qty_lg);
                    formData.append('details[qty_sm]', this.product.qty_sm);
                    formData.append('details[price_lg]', this.product.price_lg);
                    formData.append('details[price_sm]', this.product.price_sm);
                    formData.append('details[tax]', this.product.tax);
                    formData.append('details[discount]', this.product.disc);
                    
                    this.$http.post(this.$baseURL + '/project/ro/details/create', formData, {
                        headers: {
                            Authorization: 'Bearer ' + this.$token,
                        }
                    }).then(res => {
                        // console.log(res.data.data);
                        this.loadPO(res.data.data.po_pro_id);
                    }).catch(err => {
                        console.log(err);
                        this.$options.filters.auth(err.response.data.message);
                        this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        })
                    });
                // }       
            },
            async loadPO(value) {
                var resPO = await this.$http.get(this.$baseURL + '/project/ro/' + value + '/read', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        })
                })

                // console.log(resPO.data.data);
                var total = 0;
                for (let index = 0; index < resPO.data.data.po_project_details.length; index++) {

                    total = total + resPO.data.data.po_project_details[index].amount;
                    console.log('tes : ' + total);

                }

                // console.log(total);

                // this.penjualans = resPO.data.data.po_project_details;
                this.form.total = (resPO.data.data.total + resPO.data.data.discount) - resPO.data.data.ongkir - resPO.data.data.biaya_lain - resPO.data.data.tax;
                this.penjualans = resPO.data.data.po_project_details;
                this.form.totalDiscount = resPO.data.data.discount;
                this.form.name = resPO.data.data.code;
                this.form.supplier = resPO.data.data.supplier_id;
                this.form.totalTax = resPO.data.data.tax;
                this.form.ongkir = resPO.data.data.ongkir;
                this.form.grandtotal = resPO.data.data.total;
                this.form.grandtotalTemp = resPO.data.data.total;
                // this.form.total = total;
                // this.form.grandtotal = parseInt(total) + parseInt(this.form.ongkir);
            },

            editData(data) {                
                this.editValue = data;            
                this.activePrompt2 = true;
            },
            acceptAlert() {
                const formData = new FormData();
                formData.append('code', this.form.name);
                // formData.append('supplier_inv', this.form.invoice);                    
                formData.append('supplier_id', 3);    
                formData.append('wh_id', this.form.warehouse);
                formData.append('code_spk', this.form.spk);
                formData.append('ongkir', this.form.ongkir);
                formData.append('ongkir_desc', this.form.ketOngkir);
                formData.append('biaya_lain', this.form.biayaLain);
                formData.append('biaya_lain_desc', this.form.ketBiayaLain);
                formData.append('details[product_id]', this.editValue.product_id);
                formData.append('details[qty_lg]', this.editValue.qty_lg);
                formData.append('details[qty_sm]', this.editValue.qty_sm);
                formData.append('details[price_lg]', this.editValue.price_lg);
                formData.append('details[price_sm]', this.editValue.price_sm);
                formData.append('details[tax]', this.editValue.tax);
                formData.append('details[discount]', this.editValue.discount);               
                formData.append('_method', 'PUT');

                this.$http.post(this.$baseURL + '/project/ro/details/' + this.editValue.po_pro_d_id + '/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    console.log(res.data.data);
                    this.loadPO(res.data.data.po_pro_id);
                    this.activePrompt2 = false;

                    this.$vs.notify({
                        color: 'success',
                        title: 'Item Edited',
                        text: 'Your Item Successfully Edited'
                    })
                }).catch(err => {
                    console.log(err);
                    this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        });
                    this.$options.filters.auth(err.response.data.message);
                });
            },
            close() {
                this.activeReject = false;
                this.activePrompt2 = false;
            },
            deleteData(data) {
                this.delete = data;
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Are you sure want to delete this Product ?',
                    accept: this.acceptDelete
                })
            },
            acceptDelete() {
                this.$http.delete(this.$baseURL + '/project/ro/details/' + this.delete.po_pro_d_id + '/delete', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.$vs.notify({
                        color: 'success',
                        title: 'Product Deleted',
                        text: 'Selected Product Successfully Deleted'
                    })
                    this.loadPO(this.delete.po_pro_id);
                }).catch(err => {
                    console.log(err);
                    this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        });
                    this.$options.filters.auth(err.response.data.message);
                })
            },
            submit(){
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: `Confirm`,
                    text: 'Are you sure want to Submit this PO ?',
                    accept: this.acceptSubmit
                })
            },

            acceptSubmit() {
                const formData = new FormData();
                formData.append('code', this.form.name);
                formData.append('supplier_inv', this.form.invoice);
                formData.append('supplier_id', 3);    
                formData.append('code_spk', this.form.spk); 
                formData.append('wh_id', this.form.warehouse);
                formData.append('code_spk', this.form.spk);
                formData.append('ongkir', this.form.ongkir);
                formData.append('ongkir_desc', this.form.ketOngkir);
                formData.append('biaya_lain', this.form.biayaLain);
                formData.append('biaya_lain_desc', this.form.ketBiayaLain);

                this.$http.post(this.$baseURL + '/project/ro/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/popenjualan');
                }).catch(err => {
                    console.log(err);
                    this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        });
                    this.$options.filters.auth(err.response.data.message);
                })
            },

            
        approve(){
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Anda yakin akan menyetujui PO ini?',
                accept: this.acceptApprove
            })
        },
        acceptApprove(){

            if (this.selected.length < 1) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Data Empty',
                    text: 'Pilih Produk terlebih dahulu',
                    // accept: this.accept
                })

            }else{
                const formData = new FormData();

                formData.append('execute', 'approved');
                formData.append('approved[ongkir]', this.form.ongkir);
                formData.append('approved[ongkir_desc]', this.form.ketOngkir);
                formData.append('approved[biaya_lain]', this.form.biayaLain);
                formData.append('approved[biaya_lain_desc]', this.form.ketBiayaLain);

                for (let index = 0; index < this.selected.length; index++) {
                    formData.append('details[' + index + '][id]', this.selected[index].po_pro_d_id);
                }

                this.$http.post(this.$baseURL + '/project/ro/' + this.id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/penjualan/');
                }).catch(err => {
                    console.log(err);

                    this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                    this.$options.filters.auth(err.response.data.message)
                })
            }           
        },

        reject(){
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Anda yakin akan menolak penjualan ini?',
                accept: this.rejectActive
            })
        },

        rejectActive() {            
            this.activeReject = true;            
        },
        acceptReject(){
            const formData = new FormData();               
            formData.append('execute', 'rejected');
            formData.append('rejected', 1);
            formData.append('notes', this.notes);

            this.$http.post(this.$baseURL + '/project/ro/'+this.id+'/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/popenjualan/');
            }).catch(err => {
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                this.$options.filters.auth(err.response.data.message);
            })
        
        },








            clearValMultiple() {
                // this.editValue.product = null;
                // this.editValue.qty = null;
                // this.editValue.price = null;
                // this.editValue.saleprice = null;
                // this.editValue.satuan = null;
                // this.editValue.tax = null;
                // this.editValue.disc = null;
            },
            back(){
                this.$router.go(-1);
            }


        }

    }
</script>

<style lang="scss">
    #page-user-list {
        .user-list-filters {
            .vs__actions {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-58%);
            }
        }
    }
</style>