<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" title="Headers" class="user-list-filters mb-8"   >
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Date: </span> 
                  <datepicker  placeholder="Select Date" v-model="form.currentDate" :disabled="disabl" :format="format" style=" margin-top:-2px; " :minimumView="'day'" :maximumView="'month'"></datepicker>

                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <vs-input v-model="form.description" label="Description" :disabled="disabl"  class="w-full" />  
                </div> 
            </div> 
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Gudang: </span>
                    <v-select v-model="form.whData" :clearable="false" label="name" :disabled="disabl" :options="whOptions" @input="loadProducts" placeHolder="User"   name="Gudang"/> 
                </div> 
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    
                </div> 
            </div>  
              
        </vx-card> 
 

        <div>

            <vx-card  ref="bodyGL" class="user-list-filters mb-8">  
                <div class="vx-row">
                    <div class="vx-col md:w-1/4 sm:w-1/4 w-full">
                        <span>Search Product: </span> 
                        <v-select class="col-12" v-model="form.product" :clearable="false" label="name" :options="productList" name="productList" @input="loadProductData"/>
                                        
                    </div>
                    <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <table style="width:500px;">
                            <tr> 
                                <td>
                                   <vs-input type="number"  label="Qty Besar" v-model="form.qtylg" style="width:115px;  "/>  
                                </td>
                                <td>
                                    <h5 style="margin-top:28px; font-size:12px;">/ {{form.unitlg}}</h5> 
                                </td>
                                <td>
                                   <vs-input type="number"  label="Qty Kecil" v-model="form.qtysm" style="width:115px;  "/>  
                                </td>
                                <td>
                                    <h5 style="margin-top:28px; font-size:12px;">/ {{form.unitsm}}</h5> 
                                </td> 
                                <td>
                                   <vs-input v-if="tambah==true" type="number"  label="Price" v-model="form.pricesm" style="width:115px;  "/>  
                                </td>
                                <td>
                                    <vs-button v-if="tambah == false"  color="primary"  style="width:100px; margin-top:20px;" type="relief" @click.stop="cekData()" >Add</vs-button>  
                                    <vs-button v-if="tambah == true"  color="primary"  style="width:100px; margin-top:20px;" type="relief" @click.stop="addData()" >Add</vs-button>  
                                </td>
                            </tr>
                        </table>

                    </div>
                    
                </div>
                 <div  >
                        
                    </div>
            <vs-table  :data="penyesuaianStocks">        
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between" style="margin-bottom:50px;">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                   
 
                </div> 
                </div>
            

                <template slot="thead" >
                    <vs-th >No</vs-th>
                    <vs-th >Product</vs-th>
                    <vs-th >Qty Besar</vs-th>
                    <vs-th >Qty Kecil</vs-th> 
                    <vs-th >Price</vs-th> 
                    <vs-th >Action</vs-th> 
                   
                </template> 

                <template slot-scope="{data}" >  
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td>

                        <vs-td :data="data[indextr].product.name">
                            {{data[indextr].product.name}}
                        </vs-td> 
                        <vs-td :data="data[indextr].qty_lg">
                            {{data[indextr].qty_lg}}
                        </vs-td> 
                        <vs-td :data="data[indextr].qty_sm">
                            {{data[indextr].qty_sm}}
                        </vs-td>  
                        <vs-td :data="data[indextr].price_sm">
                            Rp.{{data[indextr].price_sm | currency}}
                        </vs-td> 
                         <vs-td > 
                            &nbsp;
                            <feather-icon v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editPostData(tr)" />
                            <feather-icon v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(tr)" /> 
                        </vs-td>  
                    </vs-tr>
                    
                    <vs-tr> 
                        <vs-td></vs-td>
                        <vs-td></vs-td>
                        <vs-td></vs-td> 
                        <vs-td colspan = "2" style="text-align:right;"> 
                          <vs-button  color="lightblue"  style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                          <vs-button :disabled="dis" color="success" style="width:100px;" type="relief" @click.stop="submit()">Submit</vs-button>
                        </vs-td>
                    </vs-tr>    
                </template> 
            </vs-table> 
             

             <div>
                 <vs-prompt
                    @cancel="clearValMultiple"
                    @accept="acceptAlert"
                    @close="clearValMultiple"
                    accept-text = "Edit"
                    :is-valid="validName"
                    :active.sync="activePrompt2" 
                    title="Edit">
                    <div class="con-exemple-prompt"> 
 
                    <vs-input label="Qty Besar" v-model="editValue.qtyLg" class="w-full" /> 
                    <vs-input label="Qty Kecil" v-model="editValue.qtySm" class="w-full" />  
                    <vs-input label="Price" v-model="editValue.priceSm" class="w-full" />  
                    </div>
                </vs-prompt>
             </div>
             

        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 
 import vSelect from 'vue-select'
 import VueSimpleSuggest from 'vue-simple-suggest';
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         VueSimpleSuggest,
         vSelect,
         Datepicker
    },
    data() {
        
        return { 
            disabl:false,
            dis:true,
            tambah:false,
            cekmutasi:null,
            activePrompt2:false,
            mode: 'input',
            format: "d MMMM yyyy",
            selected: null,
            
            form:{
                adjustId: null,
                whData: null,
                currentDate: null,
                description:null,  
                product:null,  
                qtylg:0,
                qtysm:0,
                unitlg:"Lusing",
                unitsm:"Pcs", 
                pricesm:0,
            },  
            editValue:{
                adjustDId:null,
                qtyLg:null,
                qtySm:null, 
                priceSm:null, 
            },
            userOptions: [
                "Admin" , "Accounting" ,"Supervisor"
            ], 
            customerOptions: [
                "PT.ABC" , "PT.BCD" ,"PT.DEF"
            ], 
            keOptions: [
                "101 Bank Mandiri" , "102 Kas Induk" ,"Bank SMaybank"
            ], 
            productList: [], 
            whOptions: [],

            penyesuaianStocks: [],
          
        }
    },
   
    computed: {  
        validName(){
        // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }
    },
    created(){ 
    if(this.$route.name =="pages-editadjustment"){
        this.form.adjustId = this.$route.params.idadjustment; 
        this.dis = false;
      } 
    this.$vs.loading({ type: 'radius' });        
      this.loadData()
      
     }, 
    methods:{
         async loadData(){  
            this.form.currentDate = new Date();  

           await this.$http.get(this.$baseURL + '/master/warehouses?filter=company_id|'+this.$company.company_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.whOptions = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 

             if (this.form.adjustId != null) {
               await this.$http.get(this.$baseURL + '/accounting/adjustment?filter=adjust_id|'+this.form.adjustId, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.form.currentDate = res.data.data[0].date_entry;
                    this.form.whData = res.data.data[0].warehouse;
                    this.form.description = res.data.data[0].description;
                    this.penyesuaianStocks = res.data.data[0].adjustment_details;
                    this.loadProducts();
                    this.$vs.loading.close();
                }).catch(err => {
                if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }
                    console.log(err.data.message);
                }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
             }
               
        }, 
        async loadProducts(){  
            this.$vs.loading({ type: 'radius' });         
           await this.$http.get(this.$baseURL + '/master/products?filter=wh_id|'+this.form.whData.wh_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.productList = res.data.data;
                
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
               
        },

        async loadAdjustData(){  
           if (this.form.adjustId != null) {
               await this.$http.get(this.$baseURL + '/accounting/adjustment?filter=adjust_id|'+this.form.adjustId, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.disabl = true;
                    this.tambah = false;
                    this.penyesuaianStocks = res.data.data[0].adjustment_details;
                    this.$vs.loading.close();
                }).catch(err => {
                if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }
                    console.log(err.data.message);
                }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
           }
               
        }, 
        async loadProductData(){
            this.form.unitlg = this.form.product.unit_lg;
            this.form.qtylg = 0;
            this.form.unitsm = this.form.product.unit_sm;
            this.form.qtysm = 0;
        },  
        cekData() {  
           this.dis = false; 
         
         this.$http.get(this.$baseURL+ '/accounting/adjustment/cekmutasi?product_id='+this.form.product.product_id+'&qty_lg='+this.form.qtylg+'&qty_sm='+this.form.qtysm,
                  {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.cekmutasi = res.data;
                    if(res.data == "Mutasi Tambah"){
                        this.tambah=true;
                    }else{
                        this.addData();
                    }
                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Error"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again")

                    }
                    console.log(err.response.data);
                  
                });

        

        },
        addData(){
           this.dis = false; 
        //    this.$vs.loading({ type: 'radius' });  
             var dt = { 
                    adjust_id: this.form.adjustId,
                    wh_id: this.form.whData.wh_id,
                    product_id: this.form.product.product_id,
                    description: this.form.description,
                    entrydate: this.form.currentDate,
                    qtylg: this.form.qtylg,
                    qtysm: this.form.qtysm,
                    pricesm: this.form.pricesm,
                }; 
               this.$http.post(this.$baseURL+ '/accounting/adjustment/create',
                    this.$qs.stringify(dt), {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        }
                    }).then(res => {
                        this.form.adjustId = res.data.data.adjustment_detail.adjust_id;
                         this.editValue.qtyLg = null;
                         this.editValue.qtySm = null;
                         
                        this.loadAdjustData();
                        console.log(res); 
                    }).catch(err => {
                         this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                            this.$options.filters.auth(err.response.data.message)
                        }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                        }else{
                        this.promptAlert("danger","Failed","Please Try Again")

                        }
                        console.log(err.response.data);
                    
                    });
                    
        },
        back(){
            this.$router.push('/pages/penyesuaianstock').catch(() => {})  

        },
        resetColFilters(){
            this.form.dateStart =  null
            this.form.dateFinish= null
            this.form.user= null
            this.form.customer= null
            this.$refs.filterCard.removeRefreshAnimation()
        }, 
        editPostData(tr){  
           this.dis = false;

            this.editValue.adjustDId = tr.adjust_d_id;
            this.editValue.qtyLg = tr.qty_lg;
            this.editValue.qtySm = tr.qty_sm;
            this.editValue.priceSm = tr.price_sm;
            

            this.activePrompt2 = true

        }, 
        acceptAlert(){
           this.$vs.loading({ type: 'radius' });  

             var dt = {  
                    qtylg: this.editValue.qtyLg,
                    qtysm: this.editValue.qtySm,
                    pricesm: this.editValue.priceSm,
                }; 
           

           this.$http.put(this.$baseURL+ '/accounting/adjustment/'+this.editValue.adjustDId+'/updatedetail',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                     this.$vs.loading.close(); 
                    this.loadAdjustData();
                    console.log(res);
                  this.promptAlert("success","Adjustment Data Modified","The Adjustment Data  was successfully Modified")
                }).catch(err => {
                    this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed","Please Try Again") 
                    }
                    console.log(err.response.data); 
                }); 

        }, 
        submit(){
            this.$vs.loading({ type: 'radius' });   
        if(this.form.adjustId == null){
          this.promptAlert("danger","Failed","Data Tidak Boleh Kosong") 
        }else{
            this.$http.put(this.$baseURL+ '/accounting/adjustment/'+this.form.adjustId+'/submitadjustment',  {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    console.log(res);
                    this.$vs.loading.close(); 
                   this.promptAlert("success","Adjustment Data Submited","The Adjustment Data was successfully Submited")
                   this.$router.push('/pages/penyesuaianstock').catch(() => {})  
                }).catch(err => {
                    this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed","Please Try Again") 
                    }
                    console.log(err.response.data); 
                }); 
        }
           
        },
        deleteData(tr) {
            this.editValue.adjustDId = tr.adjust_d_id;

        this.$vs.dialog({
            type: 'confirm',
            color: 'danger',
            title: `Confirm`,
            text: 'Are you sure want to delete this Post ?',
            accept: this.acceptAlert1
            })
        },
        acceptAlert1() { 
            this.$vs.loading({ type: 'radius' });   

           this.$http.delete(this.$baseURL+ '/accounting/adjustment/'+this.editValue.adjustDId+'/deletedetail',{
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                     this.$vs.loading.close(); 
                    this.loadAdjustData();
                  this.promptAlert("success","Adjustment Data Deleted","The Adjustment Data  was successfully Deleted")
                }).catch(err => {
                    this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Post Error"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                        this.promptAlert("danger","Failed","Please Try Again") 
                    }
                    console.log(err.response.data); 
                });  
        },

        
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        clearValMultiple() {
        this.editValue.qtyLg = 0;
        this.editValue.qtySm = 0;
        this.editValue.priceSm = 0;
        this.editValue.adjustDId = null; 
        }
        

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>