<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== --> 
<template>
    <div>
        <vx-card ref="filterCard" title="Headers" class="user-list-filters mb-8">
            <vs-row class="mb-5">
                <vs-col class="px-2" vs-w="4">
                    <label class="vs-input--label" for="">Model Penawaran</label>
                    <v-select :disabled="edit" v-model="form.model" :clearable="false" required
                        :getOptionLabel="option => option.code" :options="listpenawaran" class="w-full">
                        <template #option="{code, model}">
                            <cite>{{ code }}</cite> - {{ model }}
                        </template>
                    </v-select>
                </vs-col>
            </vs-row>    
            <vs-row class="mb-5">
                <vs-col class="px-2" vs-w="4">
                    <vs-input :disabled="true" v-model="form.nomor" label="Nomor" class="w-full" />
                </vs-col>
                <vs-col class="px-2" vs-w="4">
                    <label class="vs-input--label" for="">Tanggal Penawaran:</label>
                    <datepicker :disabled="edit" placeholder="Pilih Tanggal" v-model="form.tgl"></datepicker>
                </vs-col>
                <vs-col class="px-2" vs-w="4">
                    <label class="vs-input--label" for="">Pelanggan</label>
                    <span>
                        <v-select :disabled="edit" v-model="form.pelanggan" :clearable="false" label="name" 
                            :options="pelangganOptions" name="pelanggan" /> </span>
                </vs-col>

            </vs-row>
            <vs-row class="mb-5">
                <vs-col class="px-2" vs-w="6">
                    <vs-input :disabled="edit" v-model="form.nama" label="Nama Pengerjaan" class="w-full" />
                </vs-col>
                <vs-col class="px-2" vs-w="6">
                    <vs-input :disabled="edit" v-model="form.hasil" label="Berdasar Hasil" class="w-full" />
                </vs-col>
            </vs-row>
            <vs-row class="mb-5" v-if="form.model != null && form.model.code == 2">
                <vs-col class="px-2" vs-w="6">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Total Nilai Pengerjaan</span>  
                  <currency-input :disabled="edit" v-model="form.totalnilai" :currency="{prefix}" :precision="{min,max}"
                                            locale="de" class="vs-inputx vs-input--input normal hasValue" />
                </vs-col>
                <vs-col class="px-2" vs-w="6">
                </vs-col>
            </vs-row>
            <vs-row class="mb-5">
                <vs-col class="px-2" vs-w="6">
                   <vs-button v-if="form.offer_id != null" color="lightblue" style="width:100px; " type="relief" @click.stop="editHeader()"> Edit</vs-button>  
                   <vs-button v-if="form.offer_id != null && editbut == true" color="success" style="width:100px;" type="relief" @click.stop="saveHeader()"> Save</vs-button>
                   <vs-button v-if="form.model != null && form.model.code == 2 && editbut == false && form.offer_id == null" color="success" style="width:100px;" type="relief" @click.stop="saveHeader2()"> Next</vs-button>
                </vs-col> 
            </vs-row>
        </vx-card>

        <vx-card v-if="form.model != null && form.model.code == 1" ref="filterCard" title="Detail Pekerjaan" class="user-list-filters mb-5">
            <vs-row>
                    <vs-col vs-w="3" class="px-3">
                        <vs-input v-model="form.item" label="Item Pengerjaan" class="w-full" />
                    </vs-col>
                    <vs-col vs-w="9">
                        <vs-row>
                            <vs-col vs-w="2" class="px-3">                            
                                <vs-input v-model="form.unit" label="Unit" min="0" class="w-full" />
                            </vs-col> 
                            <vs-col vs-w="2" class="px-3">                            
                                <vs-input v-model="form.vol" label="Vol" min="0" type="number" class="w-full" />
                            </vs-col>                           
                            <vs-col vs-w="3" class="px-3">
                                <label class="vs-input--label" for="">Harga (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="form.price" :currency="{prefix}"
                                        :precision="{min,max}" locale="de"
                                        class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </vs-col>                          

                            <vs-col vs-w="2" class="px-3">                            
                                <vs-button :disabled="editbut" color="primary" style="width:100px; margin-top:20px;" class="w-full"
                                    v-on:click="addProduct" type="relief">Add
                                </vs-button>
                            </vs-col>
                        </vs-row>
                    </vs-col>
            </vs-row>
            
            <vs-divider />

            <vs-table stripe :data="penawaran">     
                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="item">Item Pekerjaan</vs-th>
                    <vs-th sort-key="unit">Unit</vs-th>
                    <vs-th sort-key="vol">Vol</vs-th>
                    <vs-th sort-key="harga">Harga Satuan</vs-th> 
                    <vs-th sort-key="total">Total</vs-th> 
                    <vs-th></vs-th>
                </template>

                <template slot-scope="{data}">
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                        <vs-td :data="indextr+1">
                            {{indextr+1}}
                        </vs-td>

                        <vs-td :data="data[indextr].item">
                            {{data[indextr].item}}
                        </vs-td>
                        <vs-td :data="data[indextr].unit">
                            {{data[indextr].unit}}
                        </vs-td>
                        <vs-td :data="data[indextr].vol">
                            {{data[indextr].vol}}
                        </vs-td>
                        <vs-td :data="data[indextr].price">
                            Rp.{{data[indextr].price  | currency}}
                        </vs-td> 
                        <vs-td :data="data[indextr].total">
                            Rp.{{data[indextr].total  | currency}}
                        </vs-td> 
                        <vs-td>
                            <vs-col vs-w=6>
                                <feather-icon v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                    @click.stop="editData(tr)" />
                            </vs-col>
                            <vs-col vs-w=6>
                                <feather-icon v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" />
                            </vs-col>
                        </vs-td>
                    </vs-tr>
                    <!-- <vs-tr>
                        <vs-td class="text-right" colspan="5">Sub Total</vs-td>
                        <vs-td>Rp</vs-td>
                        <vs-td></vs-td>
                    </vs-tr>
                    <vs-tr>
                        <vs-td class="text-right" colspan="5">PPn 10%</vs-td>
                        <vs-td>Rp</vs-td>
                        <vs-td></vs-td>
                    </vs-tr> -->
                    <vs-tr>
                        <vs-td class="text-right" colspan="5">Grand Total</vs-td>
                        <vs-td>Rp {{form.grandtotal | currency}}</vs-td>
                        <vs-td></vs-td>
                    </vs-tr>
                </template>
            </vs-table>
        </vx-card>


        <vx-card ref="filterCard" v-if="form.model != null && form.model.code == 2 && form.offer_id != null"  title="Upload Attachment " class="user-list-filters mb-8"   > 
            <div class="vx-row" v-for="(tr, indextr) in attachment" :key="indextr" style="padding-left:25px; "> 
                 <table style="width:50%;">
                     <tr>
                         <td style="width:20px; text-align:center;">
                             {{indextr + 1}}.
                         </td>
                         <td> 
                             <a :href="'/storage/'+tr" target="_blank">{{tr}}</a>
                         </td>
                         <td style="width:20px;"> 
                            <feather-icon v-tooltip="'Delete'" icon="TrashIcon"  svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deletefile(tr)" /> 
                        
                         </td>
                     </tr>
                 </table>
             </div>
            <div class="vx-row"> 
                <div>
                     <vs-upload multiple text="Upload File *Max 7MB" :single-upload="true" fileName="filemodel2" :data="form" :action="urlupload" @on-success="successUpload" />
                </div>
            </div>
        </vx-card> 


        <vx-card ref="filterCard" title="Note" class="user-list-filters mb-8">
            <vs-row>
                <vs-col vs-w="12">
                    <vs-textarea rows="10" class="p-2" label="Note" v-model="form.note" />
                </vs-col>
            </vs-row>

            <vs-divider />
            <vs-row class="mt-5">
                <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                    <vs-button  style="width:100px; background-color: mediumslateblue;" type="relief" @click.stop="back()">
                        Back</vs-button>
                    <vs-button v-if="form.offer_id != null" :disabled="editbut" color="success" style="width:100px;" type="relief" @click.stop="submit()">
                        Submit</vs-button>
                </vs-col>

            </vs-row>

            <div>
                    <vs-prompt  @cancel="close" @accept="submitEdit"
                        @close="close" accept-text="Edit" :active.sync="activePrompt" title="Edit">
                        <div class="con-exemple-prompt"> 
                            <vs-row>
                                <vs-input label="Item Pekerjaan"   v-model="editValue.item" class="w-1/2" /> 
                            </vs-row>   
                            <vs-row>
                                <vs-input label="Unit" v-model="editValue.unit" class="w-1/2" /> 
                            </vs-row>   
                            <vs-row>
                                <vs-input label="Vol" min="0" type="number" v-model="editValue.vol" class="w-1/2" /> 
                            </vs-row> 
                            <vs-row>
                               <span  style="font-size:11.9px; color:rgba(0,0,0,0.7);  margin-left:5px;">Harga </span> <br>
                                <currency-input v-model="editValue.price" :currency="{prefix}"
                                        :precision="{min,max}" locale="de"
                                        class="vs-inputx vs-input--input normal hasValue" /> 
                            </vs-row>       
                        </div>
                    </vs-prompt>
                </div>
        </vx-card>
    </div>
</template>



<script>
import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        vSelect,
        Datepicker
    },
    data() {

        return {  
            max: 0,
            min: 0,
            prefix: "Rp ", 
            activePrompt:false,
            edit:false,
            editbut:false,
            next2: false,
            form: {
                offer_id:null,
                offer_d_id:null,
                nomor:null,
                totalnilai:null,
                tgl:null,
                model:null,
                pelanggan:null,
                nama:null,
                hasil:null,
                note:null,
                item:null,
                unit:null,
                vol:null,
                price:null,
                subtotal:0,
                totalPajak:0,
                grandtotal:0
            },
            listpenawaran: [{
                    model: "Penawaran 1",
                    code: 1
                },
                {
                    model: "Penawaran 2",
                    code: 2
                }, 
            ],           
            editValue: {
                offer_d_id: null,
                item: null,
                unit: null,
                vol: 0,
                price: 0,
            }, 
            urlupload: this.$baseURL+"/project/offer/uploadatt",
            attachment:[],
            pelangganOptions: [ ],           
            penawaran: [  ],            

        }
    }, 
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        }
    },
    created(){
        this.$vs.loading({ type: 'radius' });
        if(this.$route.name =="pages-editpenawaran"){
        this.form.offer_id = this.$route.params.idpenawaran; 
        this.edit = true;
        this.loadDetail(); 
        } 
        this.form.tgl = new Date();
        this.loadData()
    },
    methods: { 
        successUpload(){
             this.promptAlert('success','success upload');
             this.getfile(this.form.offer_id);
         },
        async getfile(id){
             this.$http.get(this.$baseURL + '/project/offer/' + id + '/getfile', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.attachment = res.data.fileatt;
                if (this.attachment[0] == undefined) {
                    this.attachment = null;
                }
               
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err.data.message);
                this.$options.filters.auth(err.response.data.message);
            }).finally(() => setTimeout(this.$vs.loading.close(), 2000));
        },

        async loadData() {
              this.$http.get(this.$baseURL + '/master/customers?filter=company_id|'+this.$company.company_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.pelangganOptions = res.data.data;            
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                   this.$options.filters.auth(err.response.data.message) 
                }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                }else{
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                }
            });  
        },  

        async loadDetail() {
              this.$http.get(this.$baseURL + '/project/offer/'+this.form.offer_id+'/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.penawaran = res.data.data.offer_details;
                this.form.grandtotal = res.data.data.amount;
                this.form.totalnilai = res.data.data.amount;
                
                this.form.nomor = res.data.data.nomor;   
                this.form.tgl = res.data.data.entry_at;   
                this.form.pelanggan = res.data.data.customer;   
                this.form.nama = res.data.data.name;   
                this.form.hasil = res.data.data.hasil;   
                this.form.note = res.data.data.note;   
                 this.getfile(this.form.offer_id);
                 if (res.data.data.model != null) {
                    this.form.model = this.listpenawaran.filter(m => m.code === res.data.data.model);
                    this.form.model = this.form.model[0];
                }
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                   this.$options.filters.auth(err.response.data.message) 
                }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                }else{
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                }
            });  
        },  
    
        addProduct(){
            this.$vs.loading({type: 'radius'});
            if(this.form.offer_id == null){
                  var dt = {
                    date:this.form.tgl,
                    customer:this.form.pelanggan.customer_id,
                    amount: this.form.totalnilai,
                    name:this.form.nama,
                    hasil:this.form.hasil,
                    item:this.form.item,
                    unit:this.form.unit,
                    vol:this.form.vol,
                    price:this.form.price,
                    note:this.form.note,  
                    model:this.form.model != null ? this.form.model.code : "",
                }; 
                this.$http.post(this.$baseURL+ '/project/offer/store',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.form.offer_id = res.data.data.offer_id;
                    this.penawaran = res.data.data.offer_details;
                    this.form.grandtotal = res.data.data.amount;
                    this.form.nomor = res.data.data.nomor;
                    this.edit = true;
                    this.next2 = true;
                    this.$vs.loading.close();
                    this.promptAlert("success","Success Create Penawaran","") 

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors)

                    }
                });
            }else{
                var dt = {
                    offer_id:this.form.offer_id,
                    item:this.form.item,
                    unit:this.form.unit,
                    vol:this.form.vol,
                    price:this.form.price,
                }; 
                this.$http.post(this.$baseURL+ '/project/offer/details/store',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.penawaran = res.data.data.offer_details;
                    this.form.grandtotal = res.data.data.amount;
                    this.$vs.loading.close();
                    this.promptAlert("success","Success Create Penawaran","") 

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors)

                    }
                });
            }
        },

        submitEdit(){
            this.$vs.loading({type: 'radius'});
             var dt = { 
                    item:this.editValue.item,
                    unit:this.editValue.unit,
                    vol:this.editValue.vol,
                    price:this.editValue.price,
                }; 
                this.$http.put(this.$baseURL+ '/project/offer/details/'+this.editValue.offer_d_id+'/update',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.penawaran = res.data.data.offer_details;
                    this.form.grandtotal = res.data.data.amount;
                    this.$vs.loading.close();
                    this.promptAlert("success","Success Update Detail","") 

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors)

                    }
                });
        },
        editHeader(){
            this.editbut=true;
            this.edit=false;
        },
        saveHeader(){ 
            this.$vs.loading({type: 'radius'});
             var dt = { 
                    date:this.form.tgl,
                    customer:this.form.pelanggan.customer_id,
                    name:this.form.nama,
                    hasil:this.form.hasil, 
                    note:this.form.note, 
                    amount:this.form.totalnilai,
                    model:this.form.model != null ? this.form.model.code : "",
                }; 
                this.$http.put(this.$baseURL+ '/project/offer/'+this.form.offer_id+'/update',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.penawaran = res.data.data.offer_details;
                    this.form.grandtotal = res.data.data.amount;
                    this.editbut=false;
                    this.edit=true;
                    this.$vs.loading.close();
                    this.promptAlert("success","Success Update Header","") 

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors)

                    }
                });


        },

        saveHeader2(){ 
            this.$vs.loading({type: 'radius'});
             var dt = { 
                    
                    date:this.form.tgl,
                    customer:this.form.pelanggan.customer_id,
                    name:this.form.nama,
                    hasil:this.form.hasil, 
                    note:this.form.note, 
                    amount:this.form.totalnilai,
                    model:this.form.model != null ? this.form.model.code : "",
                }; 
                this.$http.post(this.$baseURL+ '/project/offer/create2',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.form.offer_id = res.data.data.offer_id;
                    this.form.nomor = res.data.data.nomor;
                    this.next2 = true;
                    this.editbut=false;
                    this.edit=true;
                    this.$vs.loading.close();
                    this.promptAlert("success","Success Update Header","") 

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors)

                    }
                });


        },
        editData(data) { 
            this.editValue.offer_d_id = data.offer_d_id;
            this.activePrompt = true ;

            this.editValue.item = data.item;
            this.editValue.unit = data.unit;
            this.editValue.vol = data.vol;
            this.editValue.price = data.price;
        },
         deletefile(tr) {
            var dt = {
                pat: tr,
            };
            this.$http.post(this.$baseURL + '/project/offer/deletefile',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                this.promptAlert("success", "Success", "File dihapus");
                this.getfile(this.form.offer_id);
            }).catch(err => {
                this.$vs.loading.close()
                if (err.response.data.message == "Unauthenticated") {
                    this.$options.filters.auth(err.response.data.message)
                }
            });
        },
         
        deleteData(data) {
            this.form.offer_d_id = data.offer_d_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this Data ?',
                accept: this.acceptAlert1
            })
        },
        acceptAlert1() {
            this.$vs.loading({type: 'radius'}); 
            this.$http.delete(this.$baseURL+ '/project/offer/details/'+this.form.offer_d_id+'/delete',
                 {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.penawaran = res.data.data.offer_details;
                    this.form.grandtotal = res.data.data.amount;
                    this.$vs.loading.close();
                    this.promptAlert("success","Success Update Detail","") 

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors)

                    }
                });
           
        },

        submit() { 
            this.$vs.loading({type: 'radius'}); 
             var dt = { 
                    note:this.form.note, 
                }; 
            this.$http.put(this.$baseURL+ '/project/offer/'+this.form.offer_id+'/submit',
                this.$qs.stringify(dt), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.$vs.loading.close();
                    this.$router.push('/pages/penawaran');
                    this.promptAlert("success","Success Submit","") 

                }).catch(err => {
                     this.$vs.loading.close();
                    if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(err.response.data.message)
                    }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed",err.response.data.errors)

                    }
                });

        },
        acceptSubmit() {

         
        }, 
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        close() {
            this.activePrompt2 = false;
            this.editValue.offer_d_id = null;
            this.editValue.item = null;
            this.editValue.unit = null;
            this.editValue.vol = null;
            this.editValue.price = null;
        },
        back() {
            this.$router.go(-1)
        },       

    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>