<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        
        <!-- <table-filter-sorter></table-filter-sorter> -->

        <div id="data-list-list-view" class="data-list-container">

            <vx-card> 
              <vs-row>
                <vs-col vs-w="6">
                  <div style="height:100px;" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="closingBulanan">
                      <feather-icon icon="BookIcon" svgClasses="h-4 w-4" />
                      <span class="ml-2 text-base text-primary" >Closing Bulanan</span>
                  </div>
                </vs-col>
                <vs-col vs-w="6">
                  <div style="height:100px;" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="settingClosing">
                      <feather-icon icon="BookIcon" svgClasses="h-4 w-4" />
                      <span class="ml-2 text-base text-primary" >Setting Closing</span>
                  </div>
                </vs-col>
              </vs-row>
                 
             
 

        </vx-card>
        </div>
         
    </div>
          

</template>



<script>
 
export default{
    components: { 
      
    },
    data() { 
        return {
            asetId: null,
            addNewDataSidebar: false,
            activeConfirm: false,
            createe:null,
            updatee:null,
            deletee:null,
            access:null,
            penyusutanAsets:null,
            penyusutanAsetss: [],
            json_fields: { 
                'Date': 'created_at', 
                'Keterangan': 'description',
                'COA': { 
                    callback: (value) => {
                        return ` ${value.coa_code.code} | ${value.coa_code.name}`;
                    }
                },
                'Biaya': 'amount',
                'Tgl Pakai': 'date_use',
                'Tgl Beli': 'date_buy',
                'Qty': 'qty',
                'Umur Bulan': 'umur_bulan',
                'Sisa Bulan': 'bulan_tersisa',
                'Input By': 'input_by.username',
            },
            json_meta: [
                [
                    {
                        'key': 'charset',
                        'value': 'utf-8'
                    }
                ]
            ],

        }
    },
    created(){
      this.$vs.loading({
            type: 'radius'
        });        
        this.loadData()
        
    },
    methods:{
      async loadData(){ 
           var com_id = this.$company != null ? this.$company.company_id : "1"
          await this.$http.get(this.$baseURL + '/accounting/penyusutanaset?filter=company_id|'+com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.penyusutanAsets = res.data.data;
             
            }).catch(err => {
              this.$vs.loading.close();
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
          this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }
        },

        closingBulanan(){
          var date = new Date();
          var thisdate = this.$moment(date).format('YYYY-MM-DD');
          var cekdate = this.$moment(date).endOf('month');
          cekdate = this.$moment(cekdate).format('YYYY-MM-DD'); 

          var year = date.getFullYear();
          var month = date.getMonth();
          var a;
          if(thisdate == cekdate){
            a = 0;
          }else{
            a = 1;
          }

          var startDate = this.$moment([year,month - a]);
          var endDate = this.$moment(startDate).endOf('month');
          startDate = this.$moment(startDate).format('YYYY-MM-DD');
          var lastMonth = this.$moment(startDate).format('MMMM');
          endDate = this.$moment(endDate).format('YYYY-MM-DD'); 
           

          this.$vs.notify({
                      color: 'warning',
                      title: 'Proses Closing Bulanan Sedang Berjalan',
                      text: ''
                  }) 

          this.$http.get(this.$baseURL + '/accounting/gl/closingbulanan?dateFrom='+startDate+'&dateTo='+endDate+'&status=closing', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                if(res.data == "success"){
                   this.promptAlert("success", "Success", "Closing "+lastMonth+" Success"); 
                }else{
                   this.promptAlert("danger", "Failed", "Closing "+lastMonth+" Failed => "+res.data.errors); 

                }

            }).catch(err => {
              this.$vs.loading.close();
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
        },

        closingTahunan(){
          this.$vs.notify({
                      color: 'warning',
                      title: 'Proses Closing Tahunan Sedang Berjalan',
                      text: ''
                  })
        },
        
        addNewData() {
         this.$router.push('/pages/formpenyusutanaset/').catch(() => {})
        },
        settingClosing(){
         this.$router.push('/pages/settingclosing').catch(() => {})

        },
        viewDetail(tr) {
        this.$router.push('/pages/detailpenyusutanaset/'+tr.aset_id).catch(() => {})
        },
        
        editData(data) {
        this.$router.push('/pages/editpenyusutanaset/'+data.aset_id).catch(() => {}) 
        },

         
        deleteData(data) {
          this.asetId = data.aset_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this Aset ?',
                accept: this.acceptAlert
            })
        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        acceptAlert() {
           this.$http.delete(this.$baseURL + '/accounting/penyusutanaset/'+this.asetId+'/delete',
                  ).then(res => { 
                   window.location.href = '/pages/penyusutanaset';
            }).catch(err => {
              this.$vs.loading.close();
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                this.$vs.notify({
                      color: 'danger',
                      title: 'Aset Deleted',
                      text: 'Aset Yang Sudah di Closing Tidak bisa Dihapus'
                  })
            }); 
            
        },

    }

}
</script>


<style lang="scss">
#data-list-list-view {
  .vs-con-table {

    /*
      Below media-queries is fix for responsiveness of action buttons
      Note: If you change action buttons or layout of this page, Please remove below style
    */
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;

        .vs-table--search-input {
          width: 100%;
        }
      }
    }

    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }

    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;

        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    .product-name {
      max-width: 23rem;
    }

    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }

      .vs-table--search{
        padding-top: 0;

        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;

          &+i {
            left: 1rem;
          }

          &:focus+i {
            left: 1rem;
          }
        }
      }
    }

    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;

      tr{
          box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
          td{
            padding: 20px;
            &:first-child{
              border-top-left-radius: .5rem;
              border-bottom-left-radius: .5rem;
            }
            &:last-child{
              border-top-right-radius: .5rem;
              border-bottom-right-radius: .5rem;
            }
          }
          td.td-check{
            padding: 20px !important;
          }
      }
    }

    .vs-table--thead{
      th {
        padding-top: 0;
        padding-bottom: 0;

        .vs-table-text{
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check{
        padding: 0 15px !important;
      }
      tr{
        background: none;
        box-shadow: none;
      }
    }

    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
