<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        
        <!-- <table-filter-sorter></table-filter-sorter> -->

        <div id="data-list-list-view" class="data-list-container">
            <data-view-sidebar :isSidebarActive="addNewDataSidebar" @closeSidebar="toggleDataSidebar" :data="sidebarData" /> 

            <vx-card>
    
            <vs-table pagination :max-items="10" search :data="coas">

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">

                <!-- ACTION - DROPDOWN -->
                <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">

                    <div class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                    <span class="mr-2">Actions</span>
                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                    </div>

                    <vs-dropdown-menu> 
                    <vs-dropdown-item>
                        <span class="flex items-center">
                        <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                        <span>Export Excel</span>
                        </span>
                    </vs-dropdown-item>
                    <vs-dropdown-item @click="generateGL">
                        <span class="flex items-center">
                        <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                        <span > Generate GL</span>
                        </span>
                    </vs-dropdown-item>
                    <vs-dropdown-item>
                        <span class="flex items-center">
                        <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                        <span>Print</span>
                        </span>
                    </vs-dropdown-item> 
                    </vs-dropdown-menu>
                </vs-dropdown>

                <!-- ADD NEW -->
                <div v-if="createe == true" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
                    <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                    <span class="ml-2 text-base text-primary">Add New</span>
                </div>
                </div>

            
                </div>

                <template slot="thead">
                    <vs-th sort-key="code">COA</vs-th>
                    <vs-th sort-key="name">Name</vs-th>
                    <vs-th sort-key="level">Level</vs-th>
                    <vs-th sort-key="action">Action</vs-th>
                </template> 

                <template slot-scope="{data}">
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="data[indextr].code">
                            {{data[indextr].code}}
                        </vs-td>

                        <vs-td :data="data[indextr].name">
                            {{data[indextr].name}}
                        </vs-td>

                        <vs-td :data="data[indextr].level">
                            {{data[indextr].level}}
                        </vs-td>

                        <vs-td >
                            <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editData(tr)" />
                            <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(tr.coa_id)" /> 
                        </vs-td>
                    </vs-tr>
                </template> 
            </vs-table>  

        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 
// import TableFilterSorter from './TableFilterSorter.vue'  
import DataViewSidebar from '../../form/FormCoa.vue' 
export default{
    components: { 
        // TableFilterSorter
        DataViewSidebar
    },
    
    data() {
        
        return {
             // Data Sidebar
            addNewDataSidebar: false,
            sidebarData: {},
            activeConfirm: false,
            delCode:null,
            createe:null,
            updatee:null,
            deletee:null,
            access:null,
            cekData:null,
            coas:[]
        }
    },
    mounted(){ 
        this.$vs.loading({
            type: 'radius'
        });        
        this.loadData()
        
    },
    methods:{
         async loadData(){
            // var employee_temp = null;
            if(this.addNewDataSidebar == false){
            var com_id = this.$company != null ? this.$company.company_id: "1"
            this.$http.get(this.$baseURL + '/accounting/coa?filter=company_id|'+com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.coas = res.data.data;
             
            }).catch(err => {
                 if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
            }

            this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }
        },
        addNewData() {
        this.sidebarData = {}
        this.toggleDataSidebar(true)
        },
        
        editData(data) {
        this.sidebarData = data
        this.toggleDataSidebar(true)
        },
        toggleDataSidebar(val=false) {
        this.addNewDataSidebar = val
        },
        deleteData(coa) {
            
            this.delCode=coa;
            this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Are you sure want to delete this COA ? All data at General Ledger will be gone!',
                    accept: this.acceptAlert
                }) 
        },
        generateGL(){

            this.$http.post(this.$baseURL + '/accounting/coa/generategl', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
               this.$router.push('/pages/generalledger').catch(() => {})
            }).catch(err => {
                 if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
            
        },
        acceptAlert() {
            this.$http.delete(this.$baseURL + '/accounting/coa/'+this.delCode+'/delete',
                  {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.$vs.notify({
                        color: 'danger',
                        title: 'COA Deleted',
                        text: 'The selected COA was successfully deleted'
                    })
                 this.delCode=null
                 this.loadData()
            }).catch(err => {
                 if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                 this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.errors
                    })
            });
            
        },
    }
}
</script>