<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
          
        <div id="data-list-list-view" class="data-list-container"> 

            <vx-card>
    
            <vs-table pagination :max-items="10" search :data="gl">

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                    <!-- ACTION - DROPDOWN -->
                <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">

                    <div class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                    <span class="mr-2">Actions</span>
                    <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                    </div>

                    <vs-dropdown-menu> 
                    <vs-dropdown-item>
                        <span class="flex items-center">
                        <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                        <span>Export Excel</span>
                        </span>
                    </vs-dropdown-item>

                    <vs-dropdown-item>
                        <span class="flex items-center">
                        <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                        <span>Print</span>
                        </span>
                    </vs-dropdown-item> 
                    </vs-dropdown-menu>
                </vs-dropdown>
                
                </div> 
                </div>

                <template slot="thead">
                    <vs-th sort-key="coa">COA</vs-th>
                    <vs-th sort-key="name">Name</vs-th>
                    <vs-th sort-key="debit">Debit</vs-th>
                    <vs-th sort-key="kredit">Kredit</vs-th>
                    <vs-th sort-key="start_balance">Start Balance</vs-th>
                    <vs-th sort-key="balance">Balance</vs-th>
                    <vs-th sort-key="action">Action</vs-th>
                </template> 

                <template slot-scope="{data}">
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="data[indextr].coa_code">
                            {{data[indextr].coa_code}}
                        </vs-td>

                        <vs-td :data="data[indextr].coa_name">
                            {{data[indextr].coa_name}}
                        </vs-td> 
                       
                        <vs-td :data="data[indextr].debit">
                            Rp.{{data[indextr].debit | currency}}
                        </vs-td>
                        <vs-td :data="data[indextr].credit">
                            Rp.{{data[indextr].credit | currency}}
                        </vs-td>
                        <vs-td :data="data[indextr].start_balance">
                            Rp.{{data[indextr].start_balance | currency}}
                        </vs-td>
                        <vs-td :data="data[indextr].balance">
                            Rp.{{data[indextr].balance | currency}}
                        </vs-td>

                        <vs-td >
                            <feather-icon v-if="updatee==true" v-tooltip="'Set Start Balance'" icon="DollarSignIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="setBalance(data[indextr])" />
                            <feather-icon v-tooltip="'View Detail'" icon="EyeIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="viewDetail(data[indextr].gl_id)" />
                        </vs-td>
                    </vs-tr>
                </template> 
            </vs-table>  

        <!-- FORM -->   
            <vs-prompt class="email-compose"
                @cancel="resetPrompt"
                @accept="submitPrompt"
                @close="resetPrompt"
                accept-text = "Submit"   :active.sync="modalPromptActive"  :title="modalTitle">
                <VuePerfectScrollbar class="scroll-area p-2"  :settings="settings" :key="$vs.rtl">
                    <form @submit.prevent> 
                        <!-- <vs-input  v-model="form.amountt" type="number" class="w-full" label="Amount" placeholder="Amount"   />  -->
                        <label class="vs-input--label" for="">Amount (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input v-model="form.amountt"
                                            :currency="{prefix}" :precision="{min,max}" locale="de"
                                            class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                    </form> 
                </VuePerfectScrollbar> 
            </vs-prompt> 
        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
  
export default{
    components: {  
         VuePerfectScrollbar, 
    },
    data() { 
        return {
            max: 0,
            min: 0,
            prefix: 'Rp ', 
            modalPromptActive:false,
            modalTitle:"Set Start Balance",
            createe:null,
            updatee:null,
            deletee:null,
            access:null,
            form:{
                amountt: 0,
            },
            gl_id:null,
            gl: [ ],
            settings: {
                width: 500,
                maxScrollbarLength: 150,
                wheelSpeed: 0.30,
            },
        }
    },
    mounted(){ 
        this.$vs.loading({
            type: 'radius'
        });        
        this.loadData()
        
    },
     
    methods:{
        async loadData(){  
            var com_id = this.$company != null ? this.$company.company_id : "";
            this.$http.get(this.$baseURL + '/accounting/gl?sorting=coa_code|asc&filter=company_id|'+com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.gl = res.data.data;
             
            }).catch(err => {
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
          
          this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }
        },
        viewDetail(tr) {
        this.$router.push('/pages/generalledgerdetail/'+tr).catch(() => {})
        },
        submitPrompt() {

                this.$http.put(this.$baseURL+ '/accounting/gl/'+this.gl_id+'/updatestartbalance',
                this.$qs.stringify({  
                    amount: this.form.amountt,
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                  this.loadData();
                  this.promptAlert("success","Start Balance Set","The Start Balance was successfully Set");
            }).catch(err => {
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message);
                }else{
                  this.promptAlert("danger","Failed","Please Try Again");

                }
                console.log(err.response.data.errors);
            });
                
            
        },
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        setBalance(data){
            this.gl_id = data.gl_id;
            this.form.amountt = data.start_balance;
            this.modalPromptActive = true;
        },
 
        resetPrompt() { 
          this.form.amount = null;
        } 
         
    }
}
</script>

<style lang="scss">
//dialog widht 
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 20%;
            max-height: auto;
            // height:200px;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                } 
            }
        } 
    } 
</style>