  
<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" actionButtons @refresh="resetColFilters" >
            <div class="vx-row">
                <datepicker placeholder="Select Date Start" v-model="form.dateStart" style="padding-left:10px;"></datepicker>
                <datepicker placeholder="Select Date Finish" v-model="form.dateFinish" style="padding-left:20px; padding-right:20px;"></datepicker>
                <vs-button color="success" type="relief" @click="searchData">Search</vs-button>
            </div>
            <div style="float:right">
                   <vs-button   style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>
                     <vs-button color="success" type="relief" @click="print()">Print</vs-button>
            </div>
            <br><br>
        </vx-card> 
             <vx-card  ref="headerGL" title="Halaman Buku Besar" class="user-list-filters mb-8">
            <div class="vx-row">
                <div style="padding-left:15px;" class="vx-col md:w-1/4 sm:w-1/2 w-full">
                   <h5><b>COA</b>  <br> {{gldata.coa_name}}  </h5>  
                </div>
                <div style="padding-left:25px;" class="vx-col md:w-1/4 sm:w-1/2 w-full">
                   <h5><b>Debit</b>  <br> Rp.{{gldataDebit | currency}}</h5>     
                </div>
                <div style="padding-left:25px;" class="vx-col md:w-1/4 sm:w-1/2 w-full">
                   <h5><b>Kredit</b>  <br> Rp.{{gldataCredit | currency}}</h5> 
                </div>
                <div style="padding-left:25px;" class="vx-col md:w-1/4 sm:w-1/2 w-full">
                    <h5><b>Balance </b> <br> Rp.{{gldataBalance | currency}}</h5>    
                </div>   
            </div>
            <br>
             
        </vx-card>

        <div id="data-list-list-view" class="data-list-container">

            <vx-card title="Detail Post" >
    
            <vs-table  :data="gldetails">

                <div slot="header" style="padding-left:73%;">

                <div >
                    <span style="text-position:right;"> Start Balance : Rp.{{gldataStartBalance | currency }}</span> 
                </div>

            
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="created_at">Date</vs-th>
                    <vs-th sort-key="description">Description</vs-th>
                    <vs-th sort-key="debit">Debit</vs-th>
                    <vs-th sort-key="credit">Kredit</vs-th>
                    <vs-th sort-key="balance">Balance</vs-th> 
                </template> 

                <template slot-scope="{data}"> 
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="data[indextr].id">
                            {{indextr+1}}
                        </vs-td>

                        <vs-td :data="data[indextr].created_at">
                            {{data[indextr].created_at | moment("DD-MM-YYYY")}}
                        </vs-td> 
                       
                        <vs-td :data="data[indextr].description">
                            {{data[indextr].description}} ( {{ data[indextr].reference }})
                        </vs-td>
                        <vs-td :data="data[indextr].debit">
                            Rp.{{data[indextr].debit | currency}}
                        </vs-td>
                         <vs-td :data="data[indextr].credit">
                            Rp.{{data[indextr].credit | currency}}
                        </vs-td> 
                        <vs-td :data="data[indextr].balance">
                            Rp.{{data[indextr].balance | currency}}
                        </vs-td> 
                    </vs-tr> 
                </template> 
            </vs-table>  

        </vx-card>
        </div>
        <div id="report" v-show="hide==false" >
                <h2>General Ledger</h2>
                <span v-if="form.dateStart != null && form.dateFinish != null"> <b>Date:</b> {{form.dateStart | moment("DD-MM-YYYY")}} - {{form.dateFinish | moment("DD-MM-YYYY")}} <br></span>
                <table style="width:100%">
                    <tr>
                        <td><h5>COA</h5></td>
                        <td><h5>Debit</h5></td>
                        <td><h5>Credit</h5></td>
                        <td><h5>Balance</h5></td>
                    </tr>
                    <tr>
                        <td><h5>{{gldata.coa_name}}</h5></td>
                        <td><h5>Rp.{{gldataDebit | currency}}</h5></td>
                        <td><h5>Rp.{{gldataCredit | currency}}</h5></td>
                        <td><h5>Rp.{{gldataBalance | currency}}</h5></td>
                    </tr>
                </table>
                <table border="1" style="width:100%">
                    <tr style="text-align:center;">
                        <th>No</th>
                        <th >Date</th>
                        <th >Description</th>
                        <th >Debit</th>
                        <th >Credit</th>
                        <th >Balance</th> 
                    </tr>
                    <tr>
                        <td colspan="3"></td> 
                        <td colspan="3"  style="text-align:center;"> Start Balance : Rp.{{gldataStartBalance | currency }} </td>
                    </tr>
                    <tr  v-for="(tr, indextr) in gldetails" :key="indextr" >
                        <td style="text-align:left;"> {{indextr + 1}}</td>
                        <td style="text-align:left; width:10%;"> {{tr.created_at | moment("DD-MM-YYYY")}}</td>
                        <td style="text-align:left; width:45%;"> {{tr.description}} ( {{ tr.reference }})}}</td>
                        <td style="text-align:right;"> Rp. {{tr.debit | currency}}</td>
                        <td style="text-align:right;"> Rp. {{tr.credit | currency}}</td>
                        <td style="text-align:right;"> Rp. {{tr.balance | currency}}</td>
                    </tr> 
                </table>
            </div>  
       
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 
 import Datepicker from 'vuejs-datepicker';
export default{
    components: { 
         Datepicker
    },
    data() {
        
        return {
            hide:true,
            balanceakhir:0,
            balanceakhir2:0,
            form:{
                dateStart : null,
                dateFinish :  null,
            },
            dateStart: null,
            dateFinish: null, 
            normal_balance:null,
            gldata :[
                {
                    "coa_name": null,
                }
            ],
            gldataDebit :null,
            gldataCredit :null,
            gldataBalance :null,
            gldataStartBalance :null,
            gldetails:null, 
        }
    },
    created(){
         console.log("dataid coa:"+this.$route.params.gl_id);
         
    }, 
    mounted(){
         this.loadData()
    }, 
    methods:{
       async loadData(){   
             await this.$http.get(this.$baseURL + '/accounting/gl/'+this.$route.params.gl_id+'/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.gldata = res.data.data;
                this.gldataDebit = res.data.data.debit;
                this.gldataCredit = res.data.data.credit;
                this.gldataBalance = res.data.data.balance;
                this.gldataStartBalance = res.data.data.start_balance;
                this.balanceakhir =  res.data.data.start_balance;
                this.balanceakhir2 =  res.data.data.start_balance;
                this.normal_balance = res.data.data.coa.normal_balance;
            }).catch(err => {
                 if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.response.data.errors);
            }) ;
            await this.$http.get(this.$baseURL + '/accounting/gldetail?sorting=gl_d_id|ASC&filter=gl_id|'+this.$route.params.gl_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                 this.gldetails = res.data.data;
             
            }).catch(err => {
                 if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
          
        },
        addNewData() {
        this.sidebarData = {}
        this.toggleDataSidebar(true)
        },
        async searchData() {
            this.gldetails = null;
            this.balanceakhir=0;
            this.balanceakhir=0;
            this.balanceakhir2=0;
            this.gldataDebit = 0;
            this.gldataCredit = 0;
            this.gldataBalance =0;
            this.gldataStartBalance = 0;

            if(this.form.dateStart ==null && this.form.dateFinish == null){
                this.loadData()
            }else{
                this.dateStart = this.$moment(this.form.dateStart).format("DD/MM/YYYY");
                this.dateFinish = this.$moment(this.form.dateFinish).format("DD/MM/YYYY");

            await this.$http.get(this.$baseURL + '/accounting/gldetail/searchdata?id='+this.$route.params.gl_id+'&date_from='+this.dateStart+'&date_to='+this.dateFinish
                        , {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        }
                    }).then(res => {
                        this.gldetails = res.data.data;
                        this.gldataDebit = res.data.total_debit;
                        this.gldataCredit = res.data.total_credit;
                        this.gldataStartBalance = res.data.before_balance;
                        this.gldataBalance = res.data.total_balance;

                        this.balanceakhir =  res.data.before_balance;
                        this.balanceakhir2 =  res.data.before_balance;
                    
                    }).catch(err => {
                        if(err.response.data.message =="Unauthenticated"){
                            this.$options.filters.auth(false)
                        }
                        console.log(err.response.data.errors);
                    }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
            }
        
        },
        resetColFilters(){
            this.form.dateStart=  null
            this.form.dateFinish= null
            this.$refs.filterCard.removeRefreshAnimation()
        },
        back(){
            this.$router.go(-1);
        },
        print(){
            this.$htmlToPaper('report');
        },
        
    }, 
    
}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>
