<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        
         
        <vx-card  ref="headerLabaRugi" title="Halaman HPP" class="user-list-filters mb-8" style="font-size:13px;">    
         <!-- <div class="vx-row" style="font-weight:bold;">
            <div class="vx-col md:w-1/6 sm:w-1/6 w-half" style=" ">
                <div>
                    Tanggal
                </div>
            </div> 
            <div class="vx-col md:w-1/6 sm:w-1/6 w-half" style="  margin-right:-20px;">
                <div>
                    Kode_Tr
                </div>
            </div> 
            <div class="vx-col md:w-1/5 sm:w-1/5 w-full" style=" ">
                <div style="text-align:center;">
                    Masukan
                </div>
            </div> 
            <div class="vx-col md:w-1/5 sm:w-1/5 w-full" style=" ">
                <div style="text-align:center;">
                    Keluaran
                </div>
            </div> 
            <div class="vx-col md:w-1/5 sm:w-1/5 w-full" style=" ">
                <div style="text-align:center;">
                    Persediaan
                </div>
            </div> 
         </div>
         <div class="vx-row" style="font-weight:bold;">
            <div class="vx-col md:w-1/6 sm:w-1/6 w-full"  style=" ">
                <div>
                   
                </div>
            </div> 
            <div class="vx-col md:w-1/6 sm:w-1/6 w-half" style="  margin-right:-30px;">
                <div>
                    
                </div>
            </div> 
            <div class="vx-col md:w-1/5 sm:w-1/5 w-full"  style=" margin-right:30px;">
                <div class="vx-row" style=" ">
                    <div class="vx-col md:w-1/4 sm:w-1/4 w-full" >
                        Unit
                    </div>
                    <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-right:10px;">
                        Harga
                    </div>
                    <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-right:10px;">
                        Total
                    </div>
                </div>
            </div> 
            <div class="vx-col md:w-1/5 sm:w-1/5 w-full" style=" margin-right:30px;">
                <div class="vx-row" style=" ">
                    <div class="vx-col md:w-1/4 sm:w-1/4 w-full" >
                        Unit
                    </div>
                    <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-right:10px;">
                        Harga
                    </div>
                    <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-right:10px;">
                        Total
                    </div>
                </div>
            </div> 
            <div class="vx-col md:w-1/5 sm:w-1/5 w-full" style="  margin-right:30px;">
                <div class="vx-row" >
                    <div class="vx-col md:w-1/4 sm:w-1/4 w-full" >
                        Unit
                    </div>
                    <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-right:10px;">
                        Harga
                    </div>
                    <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-right:10px;">
                        Total
                    </div>
                </div> 
            </div> 
         </div> -->
           
         <!-- <div v-for="(dt) in detailhpp" :key="dt.date" class="vx-row" style="border-top:1px solid;">
            <div class="vx-col md:w-1/6 sm:w-1/6 w-half"  style=" " >
                    <div class="vx-row" style="text-align:center; margin:20px;">
                        {{dt.date}}
                    </div> 
            </div>
            <div class="vx-col md:w-1/6 sm:w-1/6 w-half" style="  margin-right:-20px;">
                <div>
                   {{dt.ref}}
                </div>
            </div> 
            <div class="vx-col md:w-1/5 sm:w-1/5 w-full" style="margin-right:30px;">
                <div style="padding-right:25px;">
                    <div v-for="(masukan) in dt.masukan" :key="masukan.product_d_id" class="vx-row" >
                        <div class="vx-col " style="margin-right: -25px; padding-left: 3px;">
                           {{masukan.cur_qty_lg}} , {{masukan.cur_qty_sm}}
                        </div>
                        <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-right:65px;">
                            Rp.{{masukan.price_sm | currency}}
                        </div>
                        <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-right:10px; margin-right:10px;">
                            Rp.{{masukan.total | currency}}
                        </div> 
                    </div> 
                </div>
            </div>
            <div class="vx-col md:w-1/5 sm:w-1/5 w-full" style="margin-right:25px;"> 
                <div>
                    <div v-for="(keluaran) in dt.keluaran" :key="keluaran.product_d_id" class="vx-row">
                        <div class="vx-col  " style="margin-right: -25px; padding-left: 3px;">
                           {{keluaran.cur_qty_lg}}, {{keluaran.cur_qty_sm}} 
                        </div> 
                        <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-right:65px;">
                            Rp.{{keluaran.price_sm | currency}}
                        </div>
                        <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-right:10px;  margin-right:12px;">
                            Rp.{{keluaran.total | currency}}
                        </div> 
                    </div> 
                </div>
            </div>
            <div class="vx-col md:w-1/5 sm:w-1/5 w-full" style="margin-right:25px;">
                <div>
                    <div v-for="(persediaan) in dt.persediaan" :key="persediaan.product_d_id" class="vx-row" >
                        <div class="vx-col" style="margin-right: -25px; padding-left: 3px;">
                           {{persediaan.cur_qty_lg}}, {{persediaan.cur_qty_sm}} 
                        </div>
                        <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-right:65px;">
                            Rp.{{persediaan.price_sm | currency}}
                        </div>
                        <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-right:10px;  margin-right:12px;">
                            Rp.{{persediaan.total | currency}}
                        </div> 
                    </div> 
                </div>
            </div>
         </div> -->

         <table style="width:100%;"  >
             <tr>
                 <th>Tanggal</th>
                 <th>Kode_Tr</th>
                 <th style="text-align:center;">Masukan</th>
                 <th style="text-align:center;">Keluaran</th>
                 <th style="text-align:center;">Persediaan</th>
             </tr>
             <tr>
                 <th></th>
                 <th></th>
                 <th>
                     <table style="width:100%; text-align:center;">
                         <tr>
                             <th>Unit</th>
                             <th>Harga</th>
                             <th>Total</th>
                         </tr>
                     </table>
                 </th>
                 <th>
                     <table style="width:100%; text-align:center;">
                         <tr>
                             <th>Unit</th>
                             <th>Harga</th>
                             <th>Total</th>
                         </tr>
                     </table>
                </th>
                 <th>
                     <table style="width:100%; text-align:center;" >
                         <tr>
                             <th>Unit</th>
                             <th>Harga</th>
                             <th>Total</th>
                         </tr>
                     </table>
                </th> 
             </tr> 
             <tr v-for="(data,indextr) in detailhpp" :key="indextr">
                 <td style="border-bottom:1px solid; vertical-align: middle;">{{data.date}}</td>
                 <td style="border-bottom:1px solid; vertical-align: middle;">{{data.ref}}</td>
                 <td style="border-bottom:1px solid;">
                     <table style="width:100%; text-align:center;  margin-left:10px; vertical-align: middle;">
                         <tr v-for="(dataa) in data.masukan" :key="dataa.product_d_id">
                             <td style=" text-align:center;">{{dataa.cur_qty_lg}}, {{dataa.cur_qty_sm}}</td>
                             <td style=" text-align:center;">Rp.{{dataa.price_sm | currency}} </td>
                             <td style=" text-align:center;">Rp.{{dataa.total | currency}} </td>
                         </tr>
                     </table> 
                </td>
                 <td style="border-bottom:1px solid;">
                     <table style="width:100%; text-align:center;  margin-left:10px; vertical-align: middle;" >
                         <tr v-for="(datab) in data.keluaran" :key="datab.product_d_id">
                             <td style=" text-align:center;">{{datab.cur_qty_lg}}, {{datab.cur_qty_sm}}</td>
                             <td style=" text-align:center;">Rp.{{datab.price_sm | currency}} </td>
                             <td style=" text-align:center;">Rp.{{datab.total | currency}} </td>
                         </tr>
                     </table> 
                 </td>
                 <td style="border-bottom:1px solid;">
                     <table style="width:100%; text-align:center; margin-left:10px; vertical-align: middle;">
                         <tr v-for="(datax) in data.persediaan" :key="datax.product_d_id">
                             <td style=" text-align:center;">{{datax.cur_qty_lg}}, {{datax.cur_qty_sm}}</td>
                             <td style=" text-align:center;">Rp.{{datax.price_sm | currency}} </td>
                             <td style=" text-align:center;">Rp.{{datax.total | currency}} </td>
                         </tr>
                     </table>
                 </td>
             </tr>
         </table>
        </vx-card>
  
             
    </div>
</template>



<script>
 
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         Datepicker
    },

    data() {
        
        return {
            show : false,
            hide:true,
            dateFrom: null,
            dateTo: null,

            idproduct:null, 
            penjualan: [],
            detailhpp:[],
             
          
        }
    },
    computed:{
         
    }, 
    created(){  
            
        console.log("dataid product:"+this.$route.params.idproduct);
        this.idproduct = this.$route.params.idproduct;
        this.dateFrom = this.$route.params.datefrom;
        this.dateTo = this.$route.params.dateto;
        this.loadData()        
    },
    methods:{
        async loadData() {
             this.$vs.loading({
            type: 'radius'
        }); 
             this.$http.get(this.$baseURL + '/master/products/indexhppitem?idproduct='+this.idproduct+'&dateFrom='+this.dateFrom+'&dateTo='+this.dateTo, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.detailhpp = res.data.data;
               
                this.$vs.loading.close()
            }).catch(err => {
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));
        },
        hppDetail(data){
                this.$router.push('/pages/hppdetail/'+data.product_id).catch(() => {})
        },
        promptAlert(status,ttle,txt){
            this.$vs.notify({
                color:status,
                title:ttle,
                text:txt
            })
        }, 
 
        print(){
            this.$htmlToPaper('report');
        },
        

    }

}
</script>

<style lang="scss">
.poin:hover{
    color:green;
}
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>