<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" actionButtons @refresh="resetColFilters" >
            <div class="vx-row">
                <datepicker placeholder="Select Date Start" v-model="dateStart" style="padding-left:10px;"></datepicker>
                <datepicker placeholder="Select Date Finish" v-model="dateFinish" style="padding-left:20px; padding-right:20px;"></datepicker>
                <vs-button color="success" type="relief" @click="hppperiod()">Search</vs-button>
                <vs-button color="success" type="relief" style="margin-left:20px;" @click="print()"> Print</vs-button>
            </div>
        </vx-card> 
        <vx-card  ref="headerLabaRugi" title="Halaman HPP" class="user-list-filters mb-8" style="font-size:13px;"> 
        <div class="vx-row" v-for="(dt) in totalhpp" :key="dt.product_id">
            <div style="padding-left:15px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h4 @click="hppDetail(dt)" style="cursor:pointer;" class="poin">{{dt != null ? dt.name : ""   }}  </h4>  
            </div>
            <div style="padding-left:25px; padding-top:10px" class="vx-col md:w-1/4 sm:w-1/3 w-full">
                <h5> {{dt.totalunit_lg }} / {{dt.unit_lg }}, {{dt.totalunit_sm }} / {{dt.unit_sm }}</h5>     
            </div> 
            <div style="padding-left:25px; padding-top:10px" class="vx-col md:w-1/4 sm:w-1/3 w-full">
                <h5> Rp.{{dt.total_harga | currency}}</h5>     
            </div> 
        </div>  
        </vx-card>
 
 
    
    <!-- FORM -->
             
    </div>
</template>



<script>
 
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         Datepicker
    },

    data() {
        
        return {
            show : false,
            hide:true,
            dateStart: null,
            dateFinish: null,
            dateFrom: null,
            dateTo:null,
            date:null,
 
            penjualan: [],
            totalhpp:[],  
             
          
        }
    },
    computed:{
         
    },
    created(){  
        this.date= new Date();

        this.dateFrom =  this.$moment(this.date).startOf('month').format('YYYY-MM-DD');
        this.dateTo =  this.$moment(this.date).endOf('month').format('YYYY-MM-DD');
        this.loadData();        
    },
    methods:{
        async loadData() {
             this.$vs.loading({
            type: 'radius'
        }); 
             this.$http.get(this.$baseURL + '/master/products/indexhpp?dateFrom='+this.dateFrom+'&dateTo='+this.dateTo, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.totalhpp = res.data.data.data_period;
               
                this.$vs.loading.close()
            }).catch(err => {
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));
        },
        hppDetail(data){
                this.$router.push('/pages/hppdetail/'+data.product_id+'/'+this.dateFrom+'/'+this.dateTo).catch(() => {})
        },
        promptAlert(status,ttle,txt){
            this.$vs.notify({
                color:status,
                title:ttle,
                text:txt
            })
        }, 

        hppperiod(){
             this.$vs.loading({
                type: 'radius'
            });    
            if(this.dateStart == null && this.dateFinish == null){
               this.date = ''
            }else{
                this.dateFrom = this.$moment(this.dateStart).format("YYYY-MM-DD");
                this.dateTo = this.$moment(this.dateFinish).format("YYYY-MM-DD");
                this.date = 'dateFrom='+this.dateFrom+'&dateTo='+this.dateTo
            }
 
            
         if(this.dateStart == null && this.dateFinish == null){
             this.loadData()
         }else{
             this.$http.get(this.$baseURL + '/master/products/indexhpp?'+this.date, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.totalhpp = res.data.data.data_period;
                
                this.$vs.loading.close();
            }).catch(err => {
                 this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

         }
        },
 
        resetColFilters(){ 
            this.dateStart=  null
            this.dateFinish= null
            this.$refs.filterCard.removeRefreshAnimation()
        },
        print(){
            this.$htmlToPaper('report');
        },
        

    }

}
</script>

<style lang="scss">
.poin:hover{
    color:green;
}
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>