<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        
        <!-- <table-filter-sorter></table-filter-sorter> -->

        <div id="data-list-list-view" class="data-list-container">

            <vx-card>
    
            <vs-table :max-items="10" pagination search :data="journals">

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container"> 

                <!-- ADD NEW -->
                <div v-if="createe == true" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
                    <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                    <span class="ml-2 text-base text-primary" >Add New</span>
                </div>
                </div>
            
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="date">Date</vs-th>
                    <vs-th sort-key="name">Journal Name</vs-th>
                    <vs-th sort-key="debit">Debit</vs-th>
                    <vs-th sort-key="kredit">Kredit</vs-th> 
                    <vs-th sort-key="status">Status</vs-th>
                    <vs-th sort-key="inputby">Input By</vs-th>
                    <vs-th sort-key="action">Action</vs-th>
                </template> 

                <template slot-scope="{data}">
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td >
                            {{indextr+1}}
                        </vs-td>

                        <vs-td :data="data[indextr].entry_at">
                            {{data[indextr].entry_at}}
                        </vs-td>

                        <vs-td :data="data[indextr].name">
                            {{data[indextr].name}}
                        </vs-td>

                        <vs-td :data="data[indextr].debit">
                            Rp.{{data[indextr].debit | currency}}
                        </vs-td>

                        <vs-td :data="data[indextr].credit">
                            Rp.{{data[indextr].credit | currency}}
                        </vs-td>
 

                        <vs-td :data="data[indextr].status">
                            <vs-chip :color="getOrderStatusColor(data[indextr].status)" class="product-order-status">{{ data[indextr].status }}</vs-chip>
                        </vs-td>

                        <vs-td :data="data[indextr].user.username">
                            {{data[indextr].user.username}}
                        </vs-td>

                        <vs-td >
                            <feather-icon v-tooltip="'View Detail'" icon="EyeIcon"  svgClasses="w-5 h-5 hover:text-primary stroke-current"  class="ml-2" @click.stop="viewDetail(tr.journal_id)" />
                            <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon" v-show="data[indextr].status != 'Complete'" svgClasses="w-5 h-5 hover:text-primary stroke-current"  class="ml-2" @click.stop="editData(tr)" />
                            <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon" v-show="data[indextr].status != 'Complete'" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(tr)" /> 
                        </vs-td>
                    </vs-tr>
                </template> 
            </vs-table>  

        </vx-card>
        </div>
         
    </div>
          

</template>



<script>
 
// import DataViewSidebar from './FormCoa.vue' 

export default{
    components: { 
        // DataViewSidebar

    },
    data() { 
        return {
            activeConfirm: false,
            deleteid:null,
            createe:null,
            updatee:null,
            deletee:null,
            access:null,
            journals:[], 
        }
    },
    created(){
      this.$vs.loading({
            type: 'radius'
        });        
        this.loadData()
        
    }, 
    methods:{
      async loadData(){ 
            
            var com_id = this.$company != null ? this.$company.company_id: "1"
          await this.$http.get(this.$baseURL + '/accounting/journal?filter=company_id|'+com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.journals = res.data.data;
             
            }).catch(err => {
              this.$vs.loading.close();
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
           this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }
        },

        addNewData() {
         this.$router.push('/pages/formjournal/').catch(() => {})
        },
        viewDetail(tr) {
        this.$router.push('/pages/journaldetail/'+tr).catch(() => {})
        },
        
        editData(data) {
           this.$router.push('/pages/editjournal/'+data.journal_id).catch(() => {})
        },

        toggleDataSidebar(val=false) {
        this.addNewDataSidebar = val
        },
        getOrderStatusColor(status) {  
            if(status == 'Complete') return "primary" 
            return "warning" 
        },
        deleteData(coa) {
        this.deleteid = coa.journal_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this COA ?',
                accept: this.acceptAlert
            })
        },
       async acceptAlert() { 
              
          await this.$http.delete(this.$baseURL + '/accounting/journal/'+this.deleteid+'/deletejournal', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => { 
                this.$vs.notify({
                  color: 'success',
                  title: 'Journal Deleted',
                  text: 'The selected Journal was successfully deleted'
              })
              this.loadData()
            }).catch(err => {
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
    

            
        },

    }

}
</script>


<style lang="scss">
#data-list-list-view {
  .vs-con-table {

    /*
      Below media-queries is fix for responsiveness of action buttons
      Note: If you change action buttons or layout of this page, Please remove below style
    */
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;

        .vs-table--search-input {
          width: 100%;
        }
      }
    }

    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }

    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;

        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    .product-name {
      max-width: 23rem;
    }

    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }

      .vs-table--search{
        padding-top: 0;

        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;

          &+i {
            left: 1rem;
          }

          &:focus+i {
            left: 1rem;
          }
        }
      }
    }

    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;

      tr{
          box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
          td{
            padding: 20px;
            &:first-child{
              border-top-left-radius: .5rem;
              border-bottom-left-radius: .5rem;
            }
            &:last-child{
              border-top-right-radius: .5rem;
              border-bottom-right-radius: .5rem;
            }
          }
          td.td-check{
            padding: 20px !important;
          }
      }
    }

    .vs-table--thead{
      th {
        padding-top: 0;
        padding-bottom: 0;

        .vs-table-text{
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check{
        padding: 0 15px !important;
      }
      tr{
        background: none;
        box-shadow: none;
      }
    }

    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
