<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        
         

        <vx-card  ref="headerGL" title="Detail Journal" class="user-list-filters mb-8">
            <div class="vx-row">
                <div style="padding-left:15px;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                   <h5><b>Journal Name</b>  <br> {{journal.name}}</h5>  
                </div>
                <div style="padding-left:25px;" class="vx-col md:w-1/6 sm:w-1/6 w-full">
                   <h5><b>Date</b>  <br> {{journal.entry_at}}</h5>     
                </div>  
            </div>
            <div class="vx-row">
                <div style="padding-left:15px; padding-top:10px;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                   <h5><b>Journal Description</b>  <br> {{journal.description}}</h5>  
                </div>   
            </div>
            <div style="float:right">
                     <vs-button style=" background-color: mediumslateblue;" type="relief" @click.stop="back()">Back</vs-button>
            </div> 
            <br>    
            <br> 
        </vx-card>

        <div id="data-list-list-view" class="data-list-container">

            <vx-card title="Detail Post" >
    
            <vs-table  :data="journalDetails">

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                    <span> </span>
                 
                </div>

            
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="date">Date</vs-th>
                    <vs-th sort-key="coa">COA Code</vs-th>
                    <vs-th sort-key="coaname">COA Name</vs-th>
                    <vs-th sort-key="desc">Description</vs-th>
                    <vs-th sort-key="debit">Debit</vs-th>
                    <vs-th sort-key="kredit">Kredit</vs-th>
                </template> 

                <template slot-scope="{data}">    
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td :data="indextr+1">
                            {{indextr+1}}
                        </vs-td>

                        <vs-td :data="data[indextr].entry_at">
                            {{data[indextr].entry_at}}
                        </vs-td> 
                       
                        <vs-td :data="data[indextr].coa.code">
                            {{data[indextr].coa.code}}
                        </vs-td>
                        <vs-td :data="data[indextr].coa.name">
                            {{data[indextr].coa.name}}
                        </vs-td>
                         <vs-td :data="data[indextr].description">
                            {{data[indextr].description}}
                        </vs-td>
                        <vs-td :data="data[indextr].debit">
                            Rp.{{data[indextr].debit | currency}}
                        </vs-td> 
                        <vs-td :data="data[indextr].credit">
                            Rp.{{data[indextr].credit | currency}}
                        </vs-td>  
                    </vs-tr>
                </template> 
            </vs-table>  

        </vx-card>
        </div>
         
    </div>
    
    <!-- FORM -->
             

</template>



<script>
 
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         Datepicker
    },
    data() {
        
        return {
            dateStart: null,
            dateFinish: null,
             // Data Sidebar
            addNewDataSidebar: false,
            sidebarData: {},
            journalDetails: null,
            journal:[
               {
                   "name":"",
                   "date":"",
               }
            ], 
        }
    },
   
    mounted(){
        this.$vs.loading({
            type: 'radius'
        }); 
         this.loadData()
    },
    methods:{
        async loadData(){     
            await this.$http.get(this.$baseURL + '/accounting/journal?filter=journal_id|'+this.$route.params.idjournal, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.journal = res.data.data[0];
             
            }).catch(err => {
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.response.data.errors);
            }); 

            await this.$http.get(this.$baseURL + '/accounting/journal/show?filter=journal_id|'+this.$route.params.idjournal, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.journalDetails = res.data.data;
             
            }).catch(err => {
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));
          
        },

        back() {
        this.$router.push('/pages/journal').catch(() => {})
        }, 
        

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>