<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" actionButtons @refresh="resetColFilters" >
            <div class="vx-row">
                <datepicker placeholder="Select Date Start" v-model="dateStart" style="padding-left:10px;"></datepicker>
                <datepicker placeholder="Select Date Finish" v-model="dateFinish" style="padding-left:20px; padding-right:20px;"></datepicker>
                <vs-button color="success" type="relief" @click="labarugiperiod()">Search</vs-button>
                <vs-button color="success" type="relief" style="margin-left:20px;" @click="print()"> Print</vs-button>
            </div>
        </vx-card> 
        <vx-card  ref="headerLabaRugi" title="Halaman Laba Rugi" class="user-list-filters mb-8" style="font-size:13px; padding-left:20px;"> 
        <div class="vx-row">
            <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>I. &nbsp;</b></h4>  
            </div>
            <div style="padding-left:15px;  " class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <h4><b>Pendapatan</b></h4>  
            </div> 
        </div> 
        
        <div class="vx-row" v-for="(dt) in penjualan" :key="dt.gl_id">
             <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>&nbsp;</b></h4>  
            </div>
            <div style="padding-left:30px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h4>{{dt != null ? dt.coa_name : ""   }}  </h4>  
            </div>
            <div style="padding-left:115px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5> Rp.{{dt.balance | currency}}</h5>     
            </div>   
        </div>
        <div class="vx-row">
            <div style="padding-left:15px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <h4  style="padding-left:105px;">Penjualan Bersih</h4>  
            </div>
            <div style="padding-left:25px; padding-top:10px " class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5> Rp.{{totalPenjualan | currency}}</h5>     
            </div> 
        </div>  
        <br>
        <div class="vx-row">
            <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>II. &nbsp;</b></h4>  
            </div>
            <div style="padding-left:15px;  " class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <h4><b> Harga Pokok Penjualan</b></h4>  
            </div> 
        </div>
        <br>
        <div class="vx-row">
             <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>&nbsp;</b></h4>  
            </div>
            <div style="padding-left:40px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h4>Persediaan Awal  </h4>  
            </div>
            <div style="padding-left:115px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5> Rp.{{pbd != null ? pbd.jumlah : "" | currency}}</h5>     
            </div> 
        </div>   
        <div class="vx-row" v-for="(dt) in pembelian" :key="dt.gl_id">
             <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>&nbsp;</b></h4>  
            </div>
            <div style="padding-left:40px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h4>Pembelian Barang Dagang</h4>  
            </div>
            <div style="padding-left:115px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5> Rp.{{dt.balance | currency}}</h5>     
            </div> 
        </div>
        <div class="vx-row">
            <div style="padding-left:15px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <h4  style="margin-left:105px;">Barang Tersedia Dijual</h4>  
            </div>
            <div style="margin-left:-13px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5> Rp.{{barangTersedia | currency}}</h5>     
            </div> 
        </div>
        <div class="vx-row">
             <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>&nbsp;</b></h4>  
            </div>
            <div style="padding-left:40px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h4>Persediaan Akhir  </h4>  
            </div>
            <div style="padding-left:115px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5> Rp.{{persediaanAkhir | currency}}</h5>     
            </div> 
        </div>
         <div class="vx-row">
            <div style="padding-left:15px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <h4  style="margin-left:105px;">Harga Pokok Penjualan</h4>  
            </div>
            <div style="margin-left:-13px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5> Rp.{{hpp | currency}}</h5>     
            </div> 
        </div> 
        <br>
        <div class="vx-row"  >
            <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>III.  &nbsp;</b></h4>  
            </div>
            <div style="margin-left:2px;  " class="vx-col md:w-1/2 sm:w-1/2 w-full">
            <h4 ><b>Laba Kotor</b></h4>  
            </div>
            <div style="margin-left:-80px;  " class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5>Rp.{{labaBruto | currency}}</h5>
            </div> 
        </div>  
        <br>
        <br>

        <div v-for="(dt) in beban" :key="dt.index">
             <div class="vx-row">
                <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                    <h4><b>IV. &nbsp;</b></h4>  
                </div>
                <div style="padding-left:15px;  " class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <h4><b> {{dt.name}}</b></h4>  
                </div> 
            </div>
             
            <div class="vx-row" v-for="(dta) in dt.data" :key="dta.gl_id">
                <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                    <h4><b>&nbsp;</b></h4>  
                </div>
                <div style="padding-left:30px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                    <h4  style="margin-left:15px;">{{dta != null ? dta.coa_name : ""   }}  </h4>  
                </div>
                <div style="padding-left:115px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                    <h5> Rp.{{dta != null ? dta.balance : "" | currency}}</h5>     
                </div>  
            </div>
            <div class="vx-row">
                <div style="padding-left:15px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <h4  style="margin-left:85px;">Jumlah Biaya Operasional</h4>  
                </div>
                <div style="margin-left:-13px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                    <h5> Rp.{{totalBebanOprasional| currency}}</h5>     
                </div> 
            </div> 
               
        </div> 
        <br>
        <div class="vx-row"  >
            <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>V.  &nbsp;</b></h4>  
            </div>
            <div style="margin-left:11px;  " class="vx-col md:w-1/2 sm:w-1/2 w-full">
            <h4 ><b>Laba Bersih Setelah Biaya Operasi</b></h4>  
            </div>
            <div style="margin-left:-80px;  " class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5>Rp.{{labaBersihOprasioanl| currency}}</h5>
            </div> 
        </div> 
        <br>
        <div class="vx-row">
            <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>VI. &nbsp;</b></h4>  
            </div>
            <div style="padding-left:15px;  " class="vx-col md:w-1/2 sm:w-1/2 w-full">
            <h4><b> Pendapatan & Beban Diluar Usaha</b></h4>  
            </div> 
        </div>
        <div class="vx-row">
            <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>&nbsp;</b></h4>  
            </div>
            <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-left:25px;">
                  <h4 style="margin-left:8px;"><b>Pendapatan Diluar Usaha</b>    </h4>  
            </div>
        </div>
        <div class="vx-row" v-for="(dt) in pendapatanluar" :key="dt.gl_id">
            <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>&nbsp;</b></h4>  
            </div>
            <div style="padding-left:30px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h4  style="margin-left:15px;">{{dt != null ? dt.coa_name : ""   }}  </h4>  
            </div>
            <div style="padding-left:115px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5> Rp.{{dt.balance | currency}}</h5>     
            </div> 
        </div>
        <div class="vx-row">
            <div style="padding-left:15px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <h4  style="margin-left:85px;">Jumlah Pendapatan Diluar Usaha  </h4>  
            </div>
            <div style="margin-left:-10px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5> Rp.{{totalpendapatanluar | currency}}</h5>     
            </div> 
        </div>
        <br>

        <div class="vx-row">
            <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>&nbsp;</b></h4>  
            </div>
            <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="margin-left:25px;">
                  <h4 style="margin-left:5px;"><b>Beban-Beban Diluar Usaha</b>    </h4>  
            </div>
        </div>    
        <div class="vx-row" v-for="(dta) in bebanluar" :key="dta.gl_id">
             <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>&nbsp;</b></h4>  
            </div>
            <div style="padding-left:30px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
            <h4 style="margin-left:15px;">{{dta.coa_name}}</h4>  
            </div>
            <div style="padding-left:115px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5>Rp.{{dta != null ? dta.balance : "" | currency}}</h5>
            </div> 
        </div>
        <div class="vx-row">
            <div style="padding-left:15px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <h4  style="margin-left:85px;">Jumlah Beban-Beban Diluar Usaha</h4>  
            </div>
            <div style="margin-left:-10px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5> Rp.{{totalbebanluar | currency}}</h5>     
            </div> 
        </div> 
        <div class="vx-row">
            <div style="padding-left:15px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <h4  style="margin-left:125px;">Pendapatan(Beban) Diluar Usaha</h4>  
            </div>
            <div style="margin-left:-10px; padding-top:10px" class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5> Rp.{{totalpendapatanbersihluar | currency}}</h5>     
            </div> 
        </div>
        <br>
        <div class="vx-row"   >
            <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>VII.&nbsp;</b></h4>  
            </div>
            <div style="margin-left:5px;  " class="vx-col md:w-1/2 sm:w-1/2 w-full">
            <h4 ><b>Laba Bersih Sebelum Pajak</b></h4>  
            </div>
            <div style="margin-left:-80px;  " class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5>Rp.{{labaBersihSebelumPajak | currency}}</h5>
            </div> 
        </div> 
        <br>
        <div class="vx-row" v-for="(dta) in bebanpajak" :key="dta.gl_id"  >
            <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>VIII.&nbsp;</b></h4>  
            </div>
            <div style="padding-left:11px;  " class="vx-col md:w-1/2 sm:w-1/2 w-full">
            <h4 ><b>Beban Pajak Penghasilan</b></h4>  
            </div>
            <div style="margin-left:-80px;  " class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5>Rp.{{dta != null ? dta.balance : "" | currency}}</h5>
            </div> 
        </div> 
        <br>
        <div class="vx-row"  >
            <div class="vx-col md:w-1/7 sm:w-1/7 w-half" >
                <h4><b>IX.&nbsp;</b></h4>  
            </div>
            <div style="margin-left:11px;  " class="vx-col md:w-1/2 sm:w-1/2 w-full">
            <h4 ><b>Laba Bersih Setelah Pajak</b></h4>  
            </div>
            <div style="margin-left:-80px;  " class="vx-col md:w-1/3 sm:w-1/3 w-full">
                <h5>Rp.{{labaUsaha | currency}}</h5>
            </div> 
        </div> 
 
        
            
        <br>    
        <br> 
        </vx-card>

        <div id="report" v-show="hide==false">
            <h3>Laba Rugi</h3>
            <table border="0" style="width:100%; ">
                <tr style="padding-top:20px;">
                    <td style="width:50px;">
                        <h4><b>I. &nbsp;</b></h4>  
                    </td>
                    <td colspan="3">
                        <h4><b>Pendapatan</b></h4>  
                    </td>
                </tr>
                <tr v-for="(dt) in penjualan" :key="dt.gl_id">
                    <td></td>
                    <td><b>{{dt != null ? dt.coa_name : ""  }}</b></td>
                    <td> Rp.{{dt != null ? dt.balance : "" | currency}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h4  style="margin-left:85px;">Penjualan Bersih</h4>
                    </td>
                    <td>
                        <h5> Rp.{{totalPenjualan | currency}}</h5> 
                    </td>
                </tr>
                 <tr style="padding-top:50px;">
                    <td>
                        <h4><b>II. &nbsp;</b></h4>  
                    </td>
                    <td colspan="3">
                        <h4><b>Harga Pokok Penjualan</b></h4>  
                    </td>
                </tr>
                <tr >
                    <td></td>
                    <td> <b>Persediaan Awal </b> </td>
                    <td> Rp.{{pbd != null ? pbd.jumlah : "" | currency}}</td>
                    <td></td>
                </tr>
                <tr v-for="(dt) in pembelian" :key="dt.gl_id">
                    <td></td>
                    <td><b>Pembelian Barang Dagang</b></td>
                    <td> Rp.{{dt != null ? dt.balance : "" | currency}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h4  style="margin-left:85px;">Barang Tersedia Dijual</h4>
                    </td>
                    <td>
                        <h5> Rp.{{barangTersedia | currency}}</h5> 
                    </td>
                </tr> 
                <tr >
                    <td></td>
                    <td> <b>Persediaan Akhir</b> </td>
                    <td> Rp.{{persediaanAkhir | currency}}</td>
                    <td></td>
                </tr>
                 <tr>
                    <td colspan="3">
                        <h4  style="margin-left:85px;">Harga Pokok Penjualan</h4>
                    </td>
                    <td>
                        <h5> Rp.{{hpp | currency}}</h5> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4><b>III. &nbsp;</b></h4>  
                    </td>
                    <td >
                        <h4><b>Laba Kotor</b></h4>  
                    </td>
                    <td></td>
                    <td>
                        <h5>Rp.{{labaBruto | currency}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4><b>IV. &nbsp;</b></h4>  
                    </td>
                    <td colspan="2">
                        <h4><b>Beban Operasional</b></h4>  
                    </td> 
                </tr>
                <tr v-for="(dt) in beban[0].data" :key="dt.gl_id">
                    <td></td>
                    <td><b>{{dt != null ? dt.coa_name : ""   }}</b></td>
                    <td> Rp.{{dt != null ? dt.balance : "" | currency}}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h4  style="margin-left:85px;">Jumlah Biaya Operasional</h4>
                    </td>
                    <td></td>
                    <td>
                        <h5> Rp.{{totalBebanOprasional | currency}}</h5> 
                    </td>
                </tr>
                 <tr>
                    <td>
                        <h4><b>V. &nbsp;</b></h4>  
                    </td>
                    <td >
                        <h4><b>Laba Bersih Setelah Biaya Operasi</b></h4>  
                    </td>
                    <td></td>
                    <td>
                        <h5>Rp.{{labaBersihOprasioanl | currency}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4><b>VI. &nbsp;</b></h4>  
                    </td>
                    <td colspan="2">
                        <h4><b>Pendapatan & Beban Diluar Usaha</b></h4>  
                    </td> 
                </tr>
                <tr>
                    <td>
                        <h4><b> &nbsp;</b></h4>  
                    </td>
                    <td colspan="2">
                        <h4><b>Pendapatan Diluar Usaha</b></h4>  
                    </td> 
                </tr>
                <tr v-for="(dt) in pendapatanluar" :key="dt.gl_id">
                    <td></td>
                    <td><b>{{dt != null ? dt.coa_name : ""   }}</b></td>
                    <td> Rp.{{dt != null ? dt.balance : "" | currency}}</td>
                </tr>
                <tr>  
                    <td colspan="2">
                        <h4 style="margin-left:85px;">Jumlah Pendapatan Diluar Usaha</h4>  
                    </td> 
                    <td></td>
                    <td>
                        <h5>Rp.{{totalpendapatanluar | currency}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4><b> &nbsp;</b></h4>  
                    </td>
                    <td colspan="2">
                        <h4><b>Beban-Beban Diluar Usaha</b></h4>  
                    </td> 
                </tr>
                <tr v-for="(dt) in bebanluar" :key="dt.gl_id">
                    <td></td>
                    <td><b>{{dt != null ? dt.coa_name : ""   }}</b></td>
                    <td> Rp.{{dt != null ? dt.balance : "" | currency}}</td>
                </tr>
                <tr>  
                    <td colspan="2">
                        <h4 style="margin-left:85px;">Jumlah Beban-Beban Diluar Usaha</h4>  
                    </td> 
                    <td></td>
                    <td>
                        <h5>Rp.{{totalpendapatanluar | currency}}</h5>
                    </td>
                </tr>
                <tr>  
                    <td colspan="2">
                        <h4 style="margin-left:115px;">Pendapatan(Beban) Diluar Usaha</h4>  
                    </td> 
                    <td></td>
                    <td>
                        <h5>Rp.{{totalpendapatanbersihluar | currency}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4><b>VII. &nbsp;</b></h4>  
                    </td>
                    <td >
                        <h4><b>Laba Bersih Sebelum Pajak</b></h4>  
                    </td> 
                    <td></td>
                    <td>
                        <h5>Rp.{{labaBersihSebelumPajak | currency}}</h5>
                    </td>
                </tr>
                <tr v-for="(dta) in bebanpajak" :key="dta.gl_id">
                    <td><h4><b>VIII. &nbsp;</b></h4></td>
                    <td> <h4><b>Beban Pajak Penghasilan</b></h4> </td>
                    <td></td>
                    <td><h5>Rp.{{dta != null ? dta.balance : "" | currency}}</h5> </td>
                </tr>
                <tr>
                    <td>
                        <h4><b>iX. &nbsp;</b></h4>  
                    </td>
                    <td >
                        <h4><b>Laba Bersih Setelah Pajak</b></h4>  
                    </td> 
                    <td></td>
                    <td>
                        <h5>Rp.{{labaUsaha | currency}}</h5>
                    </td>
                </tr>
                 
            </table>
        </div>
        
 
    
    <!-- FORM -->
             
    </div>
</template>



<script>
 
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         Datepicker
    },

    data() {
        
        return {
            show : false,
            hide:true,
            dateStart: null,
            dateFinish: null,
             // Data Sidebar
            addNewDataSidebar: false,
            sidebarData: {},
            penjualan: [],
            totalPenjualan:0,
            pbd:null,
            pembelian:null,
            barangTersedia:0,
            persediaanAkhir:null,
            hpp:null,
            pendapatanluar:null,
            totalpendapatanluar:0, 
            totalpendapatanbersihluar:0,
            totalpembelian:0,
            labaBruto:0,

            beban:[{"balance":0}],
            totalBebanOprasional:0,
            labaBersihOprasioanl:0,
            bebanluar:null,
            totalbebanluar:0,
            labaBersihSebelumPajak:0,
            bebanpajak:null,
            totalbebanpajak:0,
            labaUsaha:0,
             
          
        }
    },
    computed:{
         
    },
    created(){  
            
        this.loadData()        
    },
    methods:{
        async loadData() {
             this.$vs.loading({
            type: 'radius'
        }); 
          var date = new Date();
          var thisdate = this.$moment(date).format('YYYY-MM-DD');
          var cekdate = this.$moment(date).endOf('month');
          cekdate = this.$moment(cekdate).format('YYYY-MM-DD'); 

          var year = date.getFullYear();
          var month = date.getMonth();
          var a = 0;

          var startDate = this.$moment([year,month - a]);
          var endDate = this.$moment(startDate).endOf('month');
          startDate = this.$moment(startDate).format('YYYY-MM-DD');
          var lastMonth = this.$moment(startDate).format('MMMM');
          endDate = this.$moment(endDate).format('YYYY-MM-DD'); 

             this.date = 'dateFrom='+startDate+'&dateTo='+endDate;

             this.$http.get(this.$baseURL + '/accounting/gl/labarugiperiod?'+this.date, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.penjualan = res.data.penjualan;
                this.totalPenjualan = res.data.totalpenjualan;

                this.pendapatanluar = res.data.pendapatanluar;
                this.totalpendapatanluar = res.data.totalpendapatanluar;
 
                this.pembelian = res.data.pembelian;
                if(this.pembelian == null){
                    this.pembelian = [{"balance" : 0 }];
                }
                this.totalpembelian = res.data.totalpembelian;

                this.pbd = res.data.pbd;
                if(this.pbd == null){
                    this.pbd = {"jumlah":0};
                }
                
                this.beban = res.data.beban;
                this.bebanluar = res.data.bebanluar;
                this.totalbebanluar = res.data.totalbebanluar;

                this.bebanpajak = res.data.bebanpajak;
                this.totalbebanpajak = res.data.totalbebanpajak;

                
                this.barangTersedia = this.pbd.jumlah +this.pembelian[0].balance;
                this.persediaanAkhir = this.barangTersedia - this.totalPenjualan;
                this.hpp = this.persediaanAkhir;
                this.labaBruto = this.totalPenjualan - this.barangTersedia ;
                this.totalBebanOprasional = res.data.totalbeban ;
                this.labaBersihOprasioanl = this.labaBruto - this.totalBebanOprasional;
                this.totalpendapatanbersihluar = this.totalpendapatanluar - this.totalbebanluar;
                this.labaBersihSebelumPajak = this.labaBersihOprasioanl + this.totalpendapatanbersihluar;
                this.labaUsaha = this.labaBersihSebelumPajak-this.totalbebanpajak;
                this.$vs.loading.close()
            }).catch(err => {
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));
        },

        labarugiperiod(){
             this.$vs.loading({
                type: 'radius'
            });    
            if(this.dateStart == null && this.dateFinish == null){
               this.date = ''
            }else{
                this.dateFrom = this.$moment(this.dateStart).format("YYYY-MM-DD");
                this.dateTo = this.$moment(this.dateFinish).format("YYYY-MM-DD");
                this.date = 'dateFrom='+this.dateFrom+'&dateTo='+this.dateTo
            }
 
            
         if(this.dateStart == null && this.dateFinish == null){
             this.loadData()
         }else{
             this.$http.get(this.$baseURL + '/accounting/gl/labarugiperiod?'+this.date, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
               this.penjualan = res.data.penjualan;
                this.totalPenjualan = res.data.totalpenjualan;

                this.pendapatanluar = res.data.pendapatanluar;
                this.totalpendapatanluar = res.data.totalpendapatanluar;
 
                this.pembelian = res.data.pembelian;
                this.totalpembelian = res.data.totalpembelian;

                this.pbd = res.data.pbd;
                if(this.pbd == null){
                    this.pbd = {"jumlah":0};
                }
                
                this.beban = res.data.beban;
                this.bebanluar = res.data.bebanluar;
                this.totalbebanluar = res.data.totalbebanluar;

                this.bebanpajak = res.data.bebanpajak;
                this.totalbebanpajak = res.data.totalbebanpajak;

                
                this.barangTersedia = this.pbd.jumlah +this.pembelian[0].balance;
                this.persediaanAkhir = this.barangTersedia - this.totalPenjualan;
                this.hpp = this.persediaanAkhir;
                this.labaBruto = this.totalPenjualan - this.barangTersedia ;
                this.totalBebanOprasional = res.data.totalbeban ;
                this.labaBersihOprasioanl = this.labaBruto - this.totalBebanOprasional;
                this.totalpendapatanbersihluar = this.totalpendapatanluar - this.totalbebanluar;
                this.labaBersihSebelumPajak = this.labaBersihOprasioanl + this.totalpendapatanbersihluar;
                this.labaUsaha = this.labaBersihSebelumPajak-this.totalbebanpajak;
                this.$vs.loading.close();
            }).catch(err => {
                 this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  

         }
        },
 
        resetColFilters(){ 
            this.dateStart=  null
            this.dateFinish= null
            this.$refs.filterCard.removeRefreshAnimation()
        },
        print(){
            this.$htmlToPaper('report');
        },
        

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
} 
</style>