<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="data"> 

        <vx-card  ref="headerNeraca"  class="user-list-filters mb-8" style="font-size:13px;">
        <div style="float:right;">
            <feather-icon icon="PrinterIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"  @click="print()" />       
        </div>
        <div class="vx-row">
            <div style="padding-left:15px; padding-top:10px" class="vx-col md:w-full sm:w-full w-full">
                <center><h1><b>"{{companyName}}"</b>  </h1></center>  <br>
                <center><h2><b>Neraca</b>  </h2></center>  <br>
            </div> 
        </div>
        <div class="vx-row">
            <!-- LEFT -->
            <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <div v-for="(dt) in neracaLeft" :key="dt.name">
                    <div class="vx-row">
                        <div style="padding-left:15px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <h4><b>{{dt.name}}</b>  </h4>  
                        </div> 
                    </div> 
                    <div class="vx-row" v-for="(dt1) in dt.data" :key="dt1.name">
                        <div style="padding-left:50px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <h4>{{dt1.coa_name}}</h4>  
                        </div> 
                        <div style="padding-left:15px; padding-top:10px; text-align:right;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <h4>Rp.{{dt1.balance | currency}}</h4>  
                        </div> 
                    </div> 
                    <div class="vx-row" style="border-top:1px solid;">
                        <div style="padding-left:50px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <h4><b>Total {{dt.name}}</b></h4>  
                        </div> 
                        <div style="padding-left:15px; padding-top:10px; text-align:right;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <h4>Rp.{{dt.total | currency}}</h4>  
                        </div> 
                    </div>
                    <br>
                </div>  
                <div class="vx-row">
                        <div style="padding-left:10px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <h4><b>Total Aktiva</b></h4>  
                        </div> 
                        <div style="padding-left:15px; padding-top:10px; text-align:right;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <h4>Rp.{{totalAktiva | currency}}</h4>  
                        </div> 
                </div>
            </div>
            <!-- RIGHT -->
            <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <div  v-for="(dtr) in neracaRight" :key="dtr.name">
                    <div class="vx-row">
                        <div style="padding-left:15px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <h4><b>{{dtr.name}}</b></h4>  
                        </div> 
                    </div>
                    <div class="vx-row" v-for="(dtr1) in dtr.data" :key="dtr1.name">
                        <div style="padding-left:50px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <h4>{{dtr1.coa_name}}</h4>  
                        </div> 
                        <div style="padding-left:15px; padding-top:10px; text-align:right;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <h4>Rp.{{dtr1.balance | currency}}</h4>  
                        </div> 
                    </div> 
                    <div class="vx-row" style="border-top:1px solid;">
                        <div style="padding-left:30px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <h4><b>Total {{dtr.name}}</b></h4>  
                        </div> 
                        <div style="padding-left:15px; padding-top:10px; text-align:right;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <h4>Rp.{{dtr.total | currency}}</h4>  
                        </div> 
                    </div> 
                    <br>
                </div>
                 <div class="vx-row">
                        <div style="padding-left:10px; padding-top:10px" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <h4><b>Total Kewajiban</b></h4>  
                        </div> 
                        <div style="padding-left:15px; padding-top:10px; text-align:right;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                        <h4>Rp.{{totalKewajiban | currency}}</h4>  
                        </div> 
                </div>   
            </div>
        </div> 
        <br>    
        <br> 

        <div id="neraca" v-show="hide==false">
            <table style="width:100%;">
                <tr>
                    <td colspan="2" style="text-align:center;"><h1><b>"{{companyName}}"</b>  </h1></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;"><h2><b>Neraca</b>  </h2></td>
                </tr>
                <tr>
                    <td style="width:50%">
                        <table style="width:100%;">
                            <tr v-for="(dtx) in neracaLeft" :key="dtx.name">
                                <td>
                                    <table style="width:100%;">
                                        <tr>
                                            <td colspan="3"><b>{{dtx.name}}</b></td>
                                        </tr>
                                        <tr v-for="(dtz1) in dtx.data" :key="dtz1.name">
                                            <td style="width:3%"></td>
                                            <td style="width:70%">{{dtz1.coa_name}}</td>
                                            <td>Rp.{{dtz1.balance | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td style="width:3%"></td>
                                            <td style="width:70%"><b>Total {{dtx.name}}</b></td>
                                            <td>Rp.{{dtx.total | currency}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr> 
                            <tr>
                                <td>
                                    <table style="width:100%;">
                                        <tr>
                                            <td colspan="2"><b>Total Aktiva Lancar</b></td>
                                            <td >Rp.{{totalAktiva | currency}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:50%">
                        <table style="width:100%;">
                            <tr v-for="(dtzr) in neracaRight" :key="dtzr.name">
                                <td>
                                    <table style="width:100%;">
                                        <tr>
                                            <td colspan="3"><b>{{dtzr.name}}</b></td>
                                        </tr>
                                        <tr v-for="(dtzr1) in dtzr.data" :key="dtzr1.name">
                                            <td style="width:3%"></td>
                                            <td style="width:70%">{{dtzr1.coa_name}}</td>
                                            <td>Rp.{{dtzr1.balance | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td style="width:3%"></td>
                                            <td style="width:70%"><b>Total {{dtzr.name}}</b></td>
                                            <td>Rp.{{dtzr.total | currency}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr> 
                             <tr>
                                <td>
                                    <table style="width:100%;">
                                        <tr>
                                            <td colspan="2"><b>Total Kewajiban</b></td>
                                            <td >Rp.{{totalKewajiban | currency}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table> 
                    </td>
                </tr>
            </table>
        </div>
        </vx-card>
 
    
    <!-- FORM -->
             
    </div>
</template>



<script>
 
 import Datepicker from 'vuejs-datepicker';


export default{
    components: { 
         Datepicker
    },
    data() {
        
        return {
            hide:true,
            dateStart: null,
            dateFinish: null,
             // Data Sidebar
            addNewDataSidebar: false,
            sidebarData: {},
            companyName:null,
            
            neracaLeft: [],
            totalAktiva:0,
            neracaRight: [],
            totalKewajiban:0,
          
        }
    },
   
    created(){ 
        this.$vs.loading({
            type: 'radius'
        });  
       this.companyName = this.$company.name;
       this.loadData();
     },
    methods:{
         async loadData(){ 
            this.$http.get(this.$baseURL + '/accounting/gl/neraca', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.neracaLeft = res.data.data1;
                this.totalAktiva = res.data.totaldata1;
                this.neracaRight = res.data.data2;
                this.totalKewajiban = res.data.totaldata2;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
         },
        resetColFilters(){ 
            this.dateStart=  null
            this.dateFinish= null
            this.$refs.filterCard.removeRefreshAnimation()
        },
        print(){
            this.$htmlToPaper('neraca');
        },
        

    }

}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>