<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        
        <!-- <table-filter-sorter></table-filter-sorter> -->

        <div id="data-list-list-view" class="data-list-container">

            <vx-card>
    
            <vs-table pagination :max-items="10" search :data="penyusutanAsets">

                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                <div class="flex flex-wrap-reverse items-center data-list-btn-container"> 
                <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                        <div
                                            class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                            <span class="mr-2">Actions</span>
                                            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                        </div>

                                        <vs-dropdown-menu>
                                            <vs-dropdown-item>
                                                <span class="flex items-center">
                                                  <download-excel :data="penyusutanAsets" :fields="json_fields"  name="Report Aset"> 
                                                      <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                                      <span>Export Excel</span>
                                                  </download-excel>  
                                                </span>
                                            </vs-dropdown-item>  
                                        </vs-dropdown-menu>
                                    </vs-dropdown>  
                <div v-if="createe == true" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
                    <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                    <span class="ml-2 text-base text-primary" >Add New</span>
                </div>
                </div> 
            
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="date">Date</vs-th>
                    <vs-th sort-key="ket">Keterangan</vs-th>
                    <vs-th sort-key="coa">COA</vs-th>
                    <vs-th sort-key="biaya">biaya</vs-th>
                    <vs-th sort-key="tglpakai">Tgl Pakai</vs-th>
                    <vs-th sort-key="tglbeli">Tgl Beli</vs-th>
                    <vs-th sort-key="Qty">Qty</vs-th>
                    <vs-th sort-key="umur">Umur Bulan</vs-th>
                    <vs-th sort-key="umur">Sisa Bulan</vs-th>
                    <vs-th sort-key="inputby">Input By</vs-th>
                    <vs-th sort-key="action">Action</vs-th>
                </template> 

                <template slot-scope="{data}">
                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                        <vs-td >
                            {{indextr+1}}
                        </vs-td>

                        <vs-td :data="data[indextr].created_at">
                            {{data[indextr].created_at}}
                        </vs-td>

                        <vs-td :data="data[indextr].description">
                            {{data[indextr].description}}
                        </vs-td>

                        <vs-td :data="data[indextr].coa_code">
                            {{data[indextr].coa_code.code}} | {{data[indextr].coa_code.name}}
                        </vs-td>

                        <vs-td :data="data[indextr].amount">
                            Rp.{{data[indextr].amount | currency }}
                        </vs-td> 

                        <vs-td :data="data[indextr].date_use">
                            {{data[indextr].date_use}}
                        </vs-td>

                        <vs-td :data="data[indextr].date_buy">
                            {{data[indextr].date_buy}}
                        </vs-td>

                        <vs-td :data="data[indextr].qty">
                            {{data[indextr].qty}}
                        </vs-td>

                        <vs-td :data="data[indextr].umur_bulan">
                            {{data[indextr].umur_bulan}}
                        </vs-td>  
                        <vs-td :data="data[indextr].bulan_tersisa">
                            {{data[indextr].bulan_tersisa}}
                        </vs-td>  

                        <vs-td :data="data[indextr].input_by.username">
                            {{data[indextr].input_by.username}}
                        </vs-td>

                        <vs-td >
                            <feather-icon v-tooltip="'View Detail'" icon="EyeIcon"  svgClasses="w-5 h-5 hover:text-primary stroke-current"  class="ml-2" @click.stop="viewDetail(tr)" />
                            <feather-icon  v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon" v-show="data[indextr].status != 'Complete'" svgClasses="w-5 h-5 hover:text-primary stroke-current"  class="ml-2" @click.stop="editData(tr)" />
                            <feather-icon  v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon" v-show="data[indextr].status != 'Complete'" svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2" @click.stop="deleteData(tr)" /> 
                        </vs-td>
                    </vs-tr>
                </template> 
            </vs-table>  

        </vx-card>
        </div>
         
    </div>
          

</template>



<script>
 
export default{
    components: { 
      
    },
    data() { 
        return {
            asetId: null,
            addNewDataSidebar: false,
            activeConfirm: false,
            createe:null,
            updatee:null,
            deletee:null,
            access:null,
            penyusutanAsets:null,
            penyusutanAsetss: [],
            json_fields: { 
                'Date': 'created_at', 
                'Keterangan': 'description',
                'COA': { 
                    callback: (value) => {
                        return ` ${value.coa_code.code} | ${value.coa_code.name}`;
                    }
                },
                'Biaya': 'amount',
                'Tgl Pakai': 'date_use',
                'Tgl Beli': 'date_buy',
                'Qty': 'qty',
                'Umur Bulan': 'umur_bulan',
                'Sisa Bulan': 'bulan_tersisa',
                'Input By': 'input_by.username',
            },
            json_meta: [
                [
                    {
                        'key': 'charset',
                        'value': 'utf-8'
                    }
                ]
            ],

        }
    },
    created(){
      this.$vs.loading({
            type: 'radius'
        });        
        this.loadData()
        
    },
    methods:{
      async loadData(){ 
           var com_id = this.$company != null ? this.$company.company_id : "1"
          await this.$http.get(this.$baseURL + '/accounting/penyusutanaset?filter=company_id|'+com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.penyusutanAsets = res.data.data;
             
            }).catch(err => {
              this.$vs.loading.close();
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
          this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }
        },
        
        addNewData() {
         this.$router.push('/pages/formpenyusutanaset/').catch(() => {})
        },
        viewDetail(tr) {
        this.$router.push('/pages/detailpenyusutanaset/'+tr.aset_id).catch(() => {})
        },
        
        editData(data) {
        this.$router.push('/pages/editpenyusutanaset/'+data.aset_id).catch(() => {}) 
        },

         
        deleteData(data) {
          this.asetId = data.aset_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this Aset ?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
           this.$http.delete(this.$baseURL + '/accounting/penyusutanaset/'+this.asetId+'/delete',
                  ).then(res => { 
                   window.location.href = '/pages/penyusutanaset';
            }).catch(err => {
              this.$vs.loading.close();
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                this.$vs.notify({
                      color: 'danger',
                      title: 'Aset Deleted',
                      text: 'Aset Yang Sudah di Closing Tidak bisa Dihapus'
                  })
            }); 
            
        },

    }

}
</script>


<style lang="scss">
#data-list-list-view {
  .vs-con-table {

    /*
      Below media-queries is fix for responsiveness of action buttons
      Note: If you change action buttons or layout of this page, Please remove below style
    */
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;

        .vs-table--search-input {
          width: 100%;
        }
      }
    }

    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }

    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;

        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    .product-name {
      max-width: 23rem;
    }

    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }

      .vs-table--search{
        padding-top: 0;

        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;

          &+i {
            left: 1rem;
          }

          &:focus+i {
            left: 1rem;
          }
        }
      }
    }

    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;

      tr{
          box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
          td{
            padding: 20px;
            &:first-child{
              border-top-left-radius: .5rem;
              border-bottom-left-radius: .5rem;
            }
            &:last-child{
              border-top-right-radius: .5rem;
              border-bottom-right-radius: .5rem;
            }
          }
          td.td-check{
            padding: 20px !important;
          }
      }
    }

    .vs-table--thead{
      th {
        padding-top: 0;
        padding-bottom: 0;

        .vs-table-text{
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check{
        padding: 0 15px !important;
      }
      tr{
        background: none;
        box-shadow: none;
      }
    }

    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
