<!-- =========================================================================================
  File Name: AddNewDataSidebar.vue
  Description: Add New Data - Sidebar component
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
<div>
   <vx-card  ref="headerGL"  class="user-list-filters mb-8">
     <div class="vx-col">
       <div class="vx-row">
              <div   style="padding-left:15px;" class="vx-col md:w-1/2 sm:w-1/2 w-full">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> Tanggal Beli : </span>  <br>
                 <h3 style="padding-left:25px;"> {{dataAset.code_aset}}</h3>
              </div> 
       </div>
       <div class="vx-row">
            <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-top:5px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> Tanggal Beli</span> 
                 <h3 style="padding-left:25px;"> {{dataAset.date_buy}}</h3>
            </div> 
            <div class="vx-col md:w-1/3 sm:w-1/3 w-full" style="padding-top:5px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; margin-bottom:5px;" > Tanggal Pakai : </span>
                 <h3 style="padding-left:25px;"> {{dataAset.date_use}}</h3>
            </div> 
        </div>
      <div class="vx-row">
              <div style="padding-left:15px;" class="vx-col w-full">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> Aset Name</span> 
                 <h3 style="padding-left:25px;"> {{dataAset.name}}</h3>
              </div> 
       </div>  
      <div class="vx-row">
              <div style="padding-left:15px;" class="vx-col w-full">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; ">  Aset Description</span> 
                 <h3 style="padding-left:25px;"> {{dataAset.description}}</h3>
              </div> 
       </div> 
       <div class="vx-row">
            <div style="padding-left:15px; padding-top:10px;" class="vx-col w-full">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Akun Aktiva  </span>
                 <h3 style="padding-left:25px;"> {{dataAset.coa_code.code}} | {{dataAset.coa_code.name}}</h3>
            </div> 
       </div>   
       <div class="vx-row">
            <div style="padding-left:15px; padding-top:10px;" class="vx-col w-full">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Akun Akumulasi Penyusutan  </span>
                 <h3 style="padding-left:25px;"> {{dataAset.coa_penyusutan.code}} | {{dataAset.coa_penyusutan.name}}</h3>
            </div> 
       </div>  
       <div class="vx-row">
            <div style="padding-left:15px; padding-top:10px;" class="vx-col w-full">
                  <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;" > Akun Beban Penyusutan  </span>
                 <h3 style="padding-left:25px;"> {{dataAset.coa_beban.code}} | {{dataAset.coa_beban.name}}</h3>
            </div> 
       </div>
       <div class="vx-row"> 
            <div class="vx-col md:w-1/4 sm:w-1/4 w-full" style="padding-top:5px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; ">  Umur Bulan</span> 
                 <h3 style="padding-left:25px;"> {{dataAset.umur_bulan}} </h3>
            </div> 
        </div>
        <div class="vx-row">
            <div class="vx-col md:w-1/4 sm:w-1/4 w-full" style="padding-top:15px;">
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> COA Pengeluaran</span> 
                 <h3 style="padding-left:25px;"> {{dataAset.coa_pengeluaran.code}} | {{dataAset.coa_pengeluaran.name}}</h3>
            </div> 
            <div class="vx-col md:w-1/4 sm:w-1/4 w-full" style="padding-top:15px;"> 
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; ">  Keterangan Pengeluaran</span> 
                 <h3 style="padding-left:25px;"> {{dataAset.keterangan_pengeluaran}} </h3>
            </div> 
            <div class="vx-col md:w-1/4 sm:w-1/4 w-full" style="padding-top:15px;"> 
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> Jumlah</span> 
                 <h3 style="padding-left:25px;"> {{dataAset.qty}} </h3>
            </div> 
            <div class="vx-col md:w-1/4 sm:w-1/4 w-full" style="padding-top:15px;" > 
                <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> Amount</span> 
                 <h3 style="padding-left:25px;"> Rp.{{dataAset.amount | currency}} </h3>
            </div> 
        </div>
       <br>
        <div style="float:right">
                <vs-button  color="lightblue"  style="width:100px;" type="relief"  @click.stop="back()">Back</vs-button>
        </div> 
        <br><br>
          
     </div> 
      </vx-card> 

   </div>   
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import Datepicker from 'vuejs-datepicker'
 import vSelect from 'vue-select'
import axios from 'axios'
import moment from 'vue-moment'

export default { 
  watch: {
    
  },
  data() {
    return { 
      asetId: null, 

      format: "d MMMM yyyy",
      loading: false, 
      dataAset:[],
      ListCOA: [], 
 
      settings: { // perfectscrollbar settings
          maxScrollbarLength: 60,
          wheelSpeed: .60,
      },
    }
  },
  computed: {  
     validName(){
      // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
    }
  },
  created(){
    this.asetId = this.$route.params.idaset;  
    this.$vs.loading({
          type: 'radius'
      });        
      this.loadCOA()
      this.loadData()
  }, 
  methods: {
   async loadCOA(){ 
            this.$http.get(this.$baseURL + '/accounting/coa?filter=level|3', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.ListCOA = res.data.data;
                
            }).catch(err => {
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
        }, 
    async loadData(){ 
            this.$http.get(this.$baseURL + '/accounting/penyusutanaset?filter=aset_id|'+this.asetId, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.dataAset = res.data.data[0];
                
            }).catch(err => {
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.response.data.errors);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
        }, 
    submitData() {
      this.$http.post(this.$baseURL + '/accounting/penyusutanaset/create',
                this.$qs.stringify({ 
                    code_aset: this.codeAset,  
                    date_buy:  this.$moment(this.dateBuy).format('YYYY-MM-DD'),  
                    date_use:  this.$moment(this.dateUse).format("YYYY-MM-DD"),
                    name: this.name,  
                    description: this.description,  
                    coa_code: this.coaCode.code,  
                    coa_penyusutan: this.coaPenyusutan.code,  
                    coa_beban: this.coaBeban.code,  
                    bulan: this.umurBulan,  
                    coa_pengeluaran: this.coaPengeluaran.code,  
                    keterangan_pengeluaran: this.ketPengeluaran,  
                    qty: this.qty,  
                    amount: this.amount,  
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                   window.location.href = '/pages/penyusutanaset';
            }).catch(err => {
               if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.response.data.errors);
                this.promptAlert("danger","Penyusutan Aset Submit Error",err)   
            }); 
    },
    back(){
       this.$router.push('/pages/penyusutanaset').catch(() => {})
    }, 

      
    acceptAlert1() {
        this.$vs.notify({
            color: 'danger',
            title: 'Post Deleted',
            text: 'The selected Post was Successfully Deleted'
        })
    },
    acceptAlert(){
      this.$vs.notify({
        color:'success',
        title:'Post Edited',
        text:'Your Post Successfully Edited'
      })
    },
    close(){
      
    },
    clearValMultiple() {
      this.editValue.stat = null;
      this.editValue.remark = null;
      this.editValue.amount = null;
      this.editValue.coa = null;
    }
    
  

  }, 
  components: {
    Datepicker,
         vSelect,
    VuePerfectScrollbar,
  }
}
</script>

<style lang="scss" scoped>
@import "@sass/vuexy/extraComponents/autocomplete.scss";
.add-new-data-sidebar {
  ::v-deep .vs-sidebar--background {
    z-index: 52010;
  }

  ::v-deep .vs-sidebar {
    z-index: 52010;
    width: 400px;
    max-width: 90vw;

    .img-upload {
      margin-top: 2rem;

      .con-img-upload {
        padding: 0;
      }

      .con-input-upload {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>
