<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10"   :data="closings">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                           
                            <!-- ADD NEW -->
                            <div v-if="createe==true" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                        </div>

                    </div>

                    <template slot="thead">
                        <vs-th sort-key="closing_id">no</vs-th>
                        <vs-th sort-key="journal_code">Journal Code</vs-th>
                        <vs-th sort-key="bulan">Month</vs-th>
                        <vs-th sort-key="tahun">Year</vs-th>
                        <vs-th >Status</vs-th>
                        <vs-th >Action</vs-th>
                    </template>
                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td :data="data[indextr].journal_code">
                                {{data[indextr].journal_code}}
                            </vs-td>
                            <vs-td :data="data[indextr].bulan">
                                {{data[indextr].bulan}}
                            </vs-td>
                            <vs-td :data="data[indextr].tahun">
                                20{{data[indextr].tahun }}
                            </vs-td>
                            <vs-td :data="data[indextr].status">                               
                                <vs-chip v-if="data[indextr].status == true" color="success">
                                    Close
                                </vs-chip>
                                <vs-chip v-else color="danger">
                                    Open
                                </vs-chip>
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="2">
                                    <feather-icon v-if="data[indextr].status == true"  v-tooltip="'Open'" icon="FolderPlusIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                        @click.stop="openData(tr)" />
                                </vs-col>
                                <vs-col vs-w="2">
                                    <feather-icon v-if="data[indextr].status == false" v-tooltip="'Close'" icon="FolderMinusIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        class="ml-2" @click.stop="closeData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>
 
                 
            </vx-card>
        </div>
    </div>
    <!-- FORM --> 
</template>



<script>
import vSelect from 'vue-select'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    components: {
        vSelect,
        VuePerfectScrollbar,

    },
    data() {

        return {
            edit: null,
            delete: null,
            danger: false,
            viewPopUp: false,
            activeConfirm: false,
            modalPromptActive: false,
            modalTitle: null,
            createe:null,
            updatee:null,
            deletee:null,
            access:null,
            userData: {},
            userValue:null,
            form: {
                id: null,
                month: null,
                year: null,
                
            },
            json_fields: {
                'Username': 'username',
                'Type': 'type',
                'Email':'email', 
                'Created At':'created_at', 
            },
            json_meta: [
                [
                    {
                        'key': 'charset',
                        'value': 'utf-8'
                    }
                ]
            ],
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            // selectKaryawan: null,
            karyawan: [],
            roles: [],
            closings: []
        }
    },
    mounted() {
        this.$vs.loading({type: 'radius'});
        this.loadData()

    },
    computed: {
        validName() {
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
        },
    },
    methods: {
        async loadData() {

            await this.$http.get(this.$baseURL + '/accounting/gl/indexclosing', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.closings = res.data.data;
            }).catch(err => {
                this.$options.filters.auth(err.response.data.message);
            });
 
            this.$vs.loading.close();
        }, 
        openData(data) { 
            //proses open closing
            this.form.id = data.journal_code
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to open this Closing ?',
                accept: this.acceptOpen
            })
        },
        acceptOpen() {
            this.$vs.loading({ type: 'radius' });
             var qs =  this.$qs.stringify({
                    journal_code: this.form.id, 
                })
            this.$http.post(this.$baseURL + '/accounting/gl/openclosing', qs, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                    this.promptAlert("success", "Success", "This Data Closing was successfully Open");
                    this.loadData();
                }).catch(err => {
                    this.$vs.loading.close()
                    this.$options.filters.auth(err.response.data.message);
                    this.promptAlert("danger", "Error", err.response.data.errors); 
                });
        },
        closeData(data) {
            this.form.id = data.journal_code;
            this.form.month = data.bulan;
            this.form.year = data.tahun;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to Close this Data ?',
                accept: this.acceptClose
            })
        },
        acceptClose() {
            this.$vs.loading({ type: 'radius' }); 
          var date = new Date();
          var thisdate = this.$moment(date).format('YYYY-MM-DD');
          var cekdate = this.$moment(date).endOf('month');
          cekdate = this.$moment(cekdate).format('YYYY-MM-DD'); 
          

          var year = date.getFullYear();
          var month = date.getMonth();
          var a;
          if(thisdate == cekdate){
            a = 0;
          }else{
            a = 1;
          }

          var startDate = this.$moment([year,month - a]);
          var endDate = this.$moment(startDate).endOf('month');
          startDate = this.$moment(startDate).format('YYYY-MM-DD');
          var lastMonth = this.$moment(startDate).format('MMMM');
          endDate = this.$moment(endDate).format('YYYY-MM-DD'); 

            
            var qs =  this.$qs.stringify({
                    journal_code: this.form.id, 
                })
            this.$http.get(this.$baseURL + '/accounting/gl/closingbulanan?dateFrom='+startDate+'&dateTo='+endDate+'&status=closing',{
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.promptAlert("success", "Success", "This Data was successfully Close");
                this.loadData();
            }).catch(err => {
                this.$vs.loading.close()
                this.$options.filters.auth(err.response.data.message);
                this.promptAlert("danger", "Error", err.response.data.errors); 
         
            });
        },

        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        }, 


    }

}
</script>
<style scoped lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 60%;
            // max-height: 95vh;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75vh;
                }
 
            }
        }
 
    } 
</style>

