<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" class="user-list-filters mb-8">
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin:5px; "> Invoice: </span> <br>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{penjualanAll.code}}</h4>
                    </span>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin:5px; ">Date</span> <br>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{penjualanAll.created_at}}</h4>
                    </span>
                </div>
            </div>
            <div class="vx-row mt-5">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> Customer: </span>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{penjualanAll.customer.name}}</h4>
                    </span>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> status: </span>
                    <br>
                    <span>
                        <vs-chip v-if="penjualanAll.faktur === 'paid'" color="success">
                            <h4>{{penjualanAll.faktur | capitalize}}</h4>
                        </vs-chip>
                        <vs-chip v-else color="warning">
                            <h4>{{penjualanAll.faktur | capitalize}}</h4>
                        </vs-chip>
                    </span>
                </div>
            </div>
        </vx-card>

        <!-- NOTES -->
        <vs-card
            v-if="penjualanAll.faktur !== 'unactived' && penjualanAll.faktur !== 'approved' && penjualanAll.faktur !== 'pending' && penjualanAll.faktur !== 'unverified'"
            class="p-0 mb-8">
            <vs-collapse>
                <vs-collapse-item>
                    <div slot="header">
                        <span>Notes</span>
                    </div>
                    <small>{{penjualanAll.notes}}</small>
                </vs-collapse-item>
            </vs-collapse>
        </vs-card>
        <!-- END NOTES -->

        <div>
            <vx-card ref="bodyGL" class="user-list-filters mb-8">
                <vs-table ref="table" v-model="selected" :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                        </div>
                    </div>
                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <vs-th sort-key="stok">Qty SM</vs-th>
                        <vs-th sort-key="price">Price / SM (Rp)</vs-th>
                        <!-- <vs-th sort-key="stok">Qty LG</vs-th>
                        <vs-th sort-key="price">Price / LG (Rp)</vs-th> -->
                        <vs-th sort-key="tax">Tax (%)</vs-th>
                        <vs-th sort-key="discound">Discount (Rp)</vs-th>
                        <vs-th sort-key="total">Total (Rp)</vs-th>
                        <vs-th sort-key=""></vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>
                            <!-- <vs-td :data="data[indextr].qty_sm">
                                {{data[indextr].qty_sm}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                {{data[indextr].price_sm | currency}}
                            </vs-td> -->
                            <vs-td :data="data[indextr].qty_lg">
                                {{data[indextr].qty_lg}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_lg">
                                {{data[indextr].price_lg | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].tax">
                                {{data[indextr].tax}}
                            </vs-td>
                            <vs-td :data="data[indextr].discount">
                                {{data[indextr].discount | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w=6>
                                    <feather-icon icon="EditIcon" v-tooltip="'Edit'"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w=6>
                                    <feather-icon icon="TrashIcon" v-tooltip="'Delete'"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>
                <vs-row class="mt-5">
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Subtotal: <b>Rp. {{ total | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Diskon: <b>Rp. {{ totalDiscount | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Tax: <b>Rp. {{ totalTax | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Ongkir: <b>Rp. {{ ongkir | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ grandtotal | currency}}</b></h4>
                    </vs-col>
                </vs-row>

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button style="width:100px; background-color:mediumslateblue;" type="relief"
                            @click.stop="back()">Back
                        </vs-button>
                        <!-- <vs-button color="success" style="width:100px;" type="relief" @click.stop="delete()">
                            Delete
                        </vs-button>-->
                        <vs-button color="warning" style="width:100px;" type="relief" @click.stop="reject()">
                            Reject
                        </vs-button>
                        <vs-button color="success" style="width:100px;" type="relief" @click.stop="submit()">
                            Approve
                        </vs-button>
                    </vs-col>
                </vs-row>

                <div v-if="productValue!==null">
                    <vs-prompt v-if="activePrompt2" @cancel="close" @accept="acceptEdit" @close="close"
                        accept-text="Edit" :active.sync="activePrompt2" title="Edit">
                        <div class="con-exemple-prompt">
                            <vs-input label="Product" disabled="true" v-model="productValue.product.name"
                                class="w-full" />
                            <vs-row>
                                <vs-input label="Qty LG" min="0" type="number" v-model="productValue.qty_lg"
                                    class="w-1/2" />
                                <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> /
                                    {{productValue.unit_lg}}</span>
                            </vs-row>
                            <div class="vs-input w-full px-1">
                                <label class="vs-input--label" for="">Price (Rp)/ LG</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="productValue.price_lg" :currency="{prefix}" locale="de"
                                        :precision="{min,max}" class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </div>
                            <vs-row>
                                <vs-input label="Qty SM" min="0" type="number" v-model="productValue.qty_sm"
                                    class="w-1/2" />
                                <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> /
                                    {{productValue.unit_sm}}</span>
                            </vs-row>
                            <div class="vs-input w-full px-1">
                                <label class="vs-input--label" for="">Price (Rp)/ SM</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="productValue.price_sm" :currency="{prefix}" locale="de"
                                        :precision="{min,max}" class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </div>
                            <vs-row>
                                <div class="vs-input w-full px-1">
                                    <label class="vs-input--label" for="">Discount (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input v-model="productValue.discount" :currency="{prefix}" locale="de"
                                            :precision="{min,max}" class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </div>
                            </vs-row>
                        </div>
                    </vs-prompt>
                </div>
            </vx-card>
        </div>

        <!-- POP-UP Reject -->
        <vs-prompt v-if="activeReject" @cancel="close" @accept="acceptReject" @close="close" accept-text="Submit"
            :active.sync="activeReject" :title="modalTitle">
            <div class="con-exemple-prompt">
                <vs-row>
                    <vs-input label="Notes" v-model="notes" class="w-full" />
                </vs-row>
            </div>
        </vs-prompt>
    </div>
</template>

<script>
import vSelect from 'vue-select'

export default {
    components: {
        vSelect,
    },
    data() {
        return {
            activeReject: false,
            max: 0,
            min: 0,
            prefix: 'Rp ',
            activePrompt2: false,
            mode: 'input',
            format_ID: "DD/MM/YYYY",
            selected: [],
            id: null,
            payment: null,
            notes: null,
            ongkir: 0,
            total: 0,
            totalDiscount: 0,
            totalTax: 0,
            grandtotal: 0,
            productValue: null,
            penjualanAll: null,
            penjualans: [],

        }
    },

    mounted() {
        this.$vs.loading({
            type: 'radius'
        });

        this.loadData()
    },

    methods: {
        async loadData() {
            this.id = this.$route.params.idpenjualan;

            var resPenjualan = await this.$http.get(this.$baseURL + '/penjualan/penjualan/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.total = (resPenjualan.data.data.total + resPenjualan.data.data.discount) - resPenjualan.data.data.ongkir - resPenjualan.data.data.tax;
            this.ongkir = resPenjualan.data.data.ongkir;
            this.totalDiscount = resPenjualan.data.data.discount;
            this.totalTax = resPenjualan.data.data.tax;
            this.grandtotal = resPenjualan.data.data.total;
            this.penjualanAll = resPenjualan.data.data;
            this.penjualans = resPenjualan.data.data.penjualan_details;

            this.$vs.loading.close();
            this.activePrompt2 = false;
        },

        async loadPO(value) {
            var resPO = await this.$http.get(this.$baseURL + '/penjualan/penjualan/' + value + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.penjualans = resPO.data.data.po_penjualan_details;
            this.total = (resPO.data.data.total + resPO.data.data.discount) - resPO.data.data.ongkir - resPO.data.data.tax;
            this.ongkir = resPO.data.data.ongkir;
            this.totalDiscount = resPO.data.data.discount;
            this.totalTax = resPO.data.data.tax;
            this.grandtotal = resPenjualan.data.data.total;
        },

        editData(data) {
            this.productValue = data;
            this.activePrompt2 = true
        },

        acceptEdit() {
            const formData = new FormData();
            formData.append('no_faktur', this.penjualanAll.code);
            formData.append('entry_at', this.$moment(this.penjualanAll.created_at, "DD/MM/YYYY").format("DD/MM/YYYY"));
            formData.append('customer_id', this.penjualanAll.customer_id);
            formData.append('sales_id', this.penjualanAll.sales_id);

            if (this.penjualanAll.status === 'paid') {
                formData.append('payment', 'Cash');
            } else if (this.penjualanAll.status === 'unpaid') {
                formData.append('payment', 'Credit');
            }

            formData.append('ongkir', this.penjualanAll.ongkir);
            formData.append('coa_code', this.penjualanAll.penjualan_details[0].penjualan.piutang[0].piutang_details[0].coa_code);
            formData.append('details[product_id]', this.productValue.product_id);
            formData.append('details[qty_lg]', this.productValue.qty_lg);
            formData.append('details[qty_sm]', this.productValue.qty_sm);
            formData.append('details[price_lg]', this.productValue.price_lg);
            formData.append('details[price_sm]', this.productValue.price_sm);
            formData.append('details[tax]', this.productValue.tax);
            formData.append('details[discount]', this.productValue.discount);
            formData.append('_method', 'PUT');

            this.$http.post(this.$baseURL + '/penjualan/penjualan/details/' + this.productValue.penjualan_d_id + '/update', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.loadData();
                this.$vs.notify({
                    color: 'success',
                    title: 'Product Edited',
                    text: 'Product Successfully Edited'
                })
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            });
        },

        close() {

        },

        deleteData(data) {
            this.productValue = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to delete this Product ?',
                accept: this.acceptDelete
            })
        },

        acceptDelete() {
            this.$http.delete(this.$baseURL + '/penjualan/penjualan/details/' + this.productValue.penjualan_d_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Selected Product Successfully Deleted'
                })
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            }).finally(
                this.loadData()
            );
        },

        submit() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Yakin akan menyetujui Revisi ini?',
                accept: this.acceptSubmit
            })
        },
        
        acceptSubmit() {
            if (this.penjualans.length <= 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Produk belum dipilih',
                })
            } else {
                const formData = new FormData();
                formData.append('execute', 'approved');

                this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/penjualan');
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })
            }
        },

        reject() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Yakin menolak Revisi ini?',
                accept: this.rejectActive
            })
        },

        rejectActive() {
            this.activeReject = true;
        },

        acceptReject() {
            const formData = new FormData();
            formData.append('execute', 'rejected');
            formData.append('rejected', 1);
            formData.append('notes', this.notes);

            this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/revisifaktur/');
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })
        },

        back() {
            this.$router.go(-1);
        },
    }
}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>