<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" title="Headers" class="user-list-filters mb-8">
            <vs-row class="mb-4">
                <vs-col vs-w="6" class="pr-3">
                    <vs-input disabled v-model="form.faktur" label="Nomor" class="w-full" />
                </vs-col>
                <vs-col vs-w="6" class="pl-3">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Sales: </span>
                    <span>
                        <v-select :disabled="hide" v-model="form.sales" :clearable="false" :options="salesOptions"
                            :reduce="salesOptions => salesOptions.karyawan_id" label="name" placeHolder="Sales"
                            name="sales" /> </span>
                </vs-col>
            </vs-row>
            <vs-row class="mb-4">
                <vs-col vs-w="6" class="pr-3">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Customer: </span>
                    <span>
                        <v-select :disabled="hide" v-model="form.customer" :clearable="false" :options="customerOptions"
                            :reduce="customerOptions => customerOptions.customer_id" label="name" placeHolder="Customer"
                            name="customer" /> </span>
                </vs-col>
                <vs-col vs-w="6" class="pl-3">
                    <label class="vs-input--label" for="">Warehouse / Gudang</label>
                    <span>
                        <v-select :disabled="hide" v-model="form.warehouse" :clearable="false" label="name"
                            :reduce="whOptions => whOptions.wh_id" :options="whOptions" name="warehouse"
                            @input="loadProduct" />
                    </span>
                </vs-col>

            </vs-row>
            <vs-row class="mb-4">
                <vs-col vs-w="6" class="pr-3">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;">Tipe Pembayaran: </span>
                    <span>
                        <v-select v-model="form.pembayaran" :clearable="false" :options="paymentOptions"
                            placeHolder="User" name="User" /> </span>
                </vs-col>
                <vs-col vs-w="6" v-if="form.pembayaran === 'Credit'" class="pl-3">
                    <vs-input v-model="form.dateExpired" label="Hari Penagihan" type="number" min="0" class="w-full" />
                </vs-col>
                <vs-col vs-w="6" class="pl-3" v-if="form.pembayaran === 'Cash'">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;">Pembayaran Ke: </span>
                    <v-select v-model="form.ke" :clearable="false" :reduce="keOptions => keOptions.code" label="name"
                        :options="keOptions" name="ke">
                        <template #option="{code, name}">
                            <cite>{{ code }}</cite> - {{ name }}
                            <!-- <cite>{{ code }}</cite> -->
                        </template>
                    </v-select>
                </vs-col>
            </vs-row>
            <vs-row class="mb-4">
                <vs-col vs-w="6" class="pr-3">
                    <label class="vs-input--label" for="">Biaya Ongkir (Rp)</label>
                    <div class="vs-con-input">
                        <currency-input v-model.lazy="form.ongkir" :currency="{prefix}" :precision="{min,max}"
                            locale="de" @change="countTotal" class="vs-inputx vs-input--input normal hasValue" />
                    </div>
                </vs-col>
                <vs-col vs-w="6" class="pl-3">
                    <vs-input v-model="form.ketOngkir" label="Ket. Ongkir" class="w-full" />
                </vs-col>

            </vs-row>
            <vs-row class="mb-4">
                <vs-col vs-w="6" class="pr-3">
                    <label class="vs-input--label" for="">Biaya Lain (Rp)</label>
                    <div class="vs-con-input">
                        <currency-input v-model.lazy="form.biayaLain" :currency="{prefix}" :precision="{min,max}"
                            locale="de" @change="countTotal" class="vs-inputx vs-input--input normal hasValue" />
                    </div>
                </vs-col>
                <vs-col vs-w="6" class="pl-3">
                    <vs-input v-model="form.ketBiayaLain" label="Ket. Biaya Lain" class="w-full" />
                </vs-col>

            </vs-row>
        </vx-card>
        <div>
            <vx-card class="user-list-filters mb-8">
                <div class="vx-row">
                    <vs-col vs-w="3" class="px-3">
                        <label class="vs-input--label" for="">Cari Produk:</label>
                        <v-select class="w-full" v-model="productValue" :clearable="false" label="name"
                            :options="productList" name="productList" @input="selectProduct" />
                    </vs-col>
                    <vs-col vs-w="9">
                        <vs-row vs-justify="center" vs-align="center">
                            <vs-col vs-w="2" class="px-3">
                                <vs-input v-model="product.qty_sm" label="Qty" type="number" min="0" class="w-full" />
                            </vs-col>
                            <vs-col vs-w="1" class="px-3 my-auto pt-5">
                                <span class="w-full ">{{qtyKecil}} </span>
                            </vs-col>
                            <vs-col vs-w="3" class="px-3">
                                <label class="vs-input--label" for="">Harga (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="product.price_sm" :currency="{prefix}" locale="de"
                                        :precision="{min,max}" class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </vs-col>
                            <vs-col vs-w="1" class="pr-3">
                                <div class="my-auto pt-5">
                                    <vs-button :disabled="this.product.id === null" radius color="warning" type="border"
                                        v-tooltip="'History Price'" v-on:click="historyPrice" icon="history">
                                    </vs-button>
                                </div>
                            </vs-col>
                            <vs-col vs-w="3" class="px-3">
                                <label class="vs-input--label" for="">Discount (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="product.disc" :currency="{prefix}" locale="de"
                                        :precision="{min,max}" class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </vs-col>
                            <vs-col vs-w="2" class="px-3">
                                <vs-button v-if="createe == true" color="primary" class="w-full mt-6"
                                    :disabled="product.id === null" v-on:click="addProduct" type="relief">
                                    Add
                                </vs-button>
                            </vs-col>

                        </vs-row>
                    </vs-col>
                </div>
                <vs-table stripe :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <!-- <vs-th sort-key="stok">Qty LG</vs-th>
                        <vs-th sort-key="price">Price / LG (Rp)</vs-th> -->
                        <vs-th sort-key="stok">Qty</vs-th>
                        <vs-th sort-key="price">Price (Rp)</vs-th>
                        <vs-th sort-key="tax">Tax (%)</vs-th>
                        <vs-th sort-key="discound">Discount (Rp)</vs-th>
                        <vs-th sort-key="total">Total (Rp)</vs-th>
                        <vs-th sort-key=""></vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                            <vs-td :data="indextr + 1 ">
                                {{indextr + 1}}
                            </vs-td>

                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>
                            <!-- <vs-td :data="data[indextr].qty_lg">
                                {{data[indextr].qty_lg}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_lg">
                                {{data[indextr].price_lg | currency}}
                            </vs-td> -->
                            <vs-td :data="data[indextr].qty_sm">
                                {{data[indextr].qty_sm}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                {{data[indextr].price_sm | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].tax">
                                {{data[indextr].tax}}
                            </vs-td>
                            <vs-td :data="data[indextr].discount">
                                {{data[indextr].discount | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w=6>
                                    <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w=6>
                                    <feather-icon v-if="deletee == true" v-tooltip="'Delete'" icon="TrashIcon"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <vs-row class="mt-5">
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Subtotal: <b>Rp. {{ form.total | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Diskon: <b>Rp. {{ form.totalDiscount | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Tax: <b>Rp. {{ form.totalTax | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Ongkir: <b>Rp. {{ form.ongkir | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Biaya Lain: <b>Rp. {{ form.biayaLain | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ form.grandtotalTemp | currency}}</b></h4>
                    </vs-col>
                </vs-row>

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button style="width:100px; background-color:mediumslateblue;" type="relief"
                            @click.stop="back()">
                            Back</vs-button>
                        <vs-button v-if="tipe !== 'approve' && createe == true" color="success" style="width:100px;"
                            type="relief" @click.stop="submit()">
                            Submit</vs-button>

                        <!-- SHOW APPROVE ONLY -->
                        <vs-button v-if="tipe === 'approve' && confirmm == true" color="warning" style="width:100px;"
                            type="relief" @click.stop="reject()">
                            Reject</vs-button>
                        <vs-button v-if="tipe === 'approve' && confirmm == true" color="primary" style="width:100px;"
                            type="relief" @click.stop="approve()">
                            Approve</vs-button>
                    </vs-col>
                </vs-row>

                <!-- POP-UP EDIT -->
                <div>
                    <vs-prompt @cancel="clearValMultiple" @accept="acceptEdit" @close="close" accept-text="Edit"
                        :active.sync="activePrompt2" title="Edit">
                        <div v-if="edit.product" class="con-exemple-prompt">
                            <vs-input label="Product" disabled="true" v-model="edit.product.name" class="w-full" />
                            <!-- <vs-row>
                                <vs-input label="Qty LG" min="0" type="number" v-model="edit.qty_lg" class="w-1/2" />
                                <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> /
                                    {{edit.unit_lg}}</span>
                            </vs-row>
                            <div class="vs-input w-full px-1">
                                <label class="vs-input--label" for="">Price (Rp)/ LG</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="edit.price_lg" :currency="{prefix}" locale="de"
                                        :precision="{min,max}" class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </div> -->
                            <vs-row>
                                <vs-input label="Qty" min="0" type="number" v-model="edit.qty_sm" class="w-1/2" />
                                <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> /
                                    {{edit.unit_sm}}</span>
                            </vs-row>
                            <div class="vs-input w-full px-1">
                                <label class="vs-input--label" for="">Harga (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="edit.price_sm" :currency="{prefix}" locale="de"
                                        :precision="{min,max}" class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </div>
                            <vs-row>
                                <div class="vs-input w-full px-1">
                                    <label class="vs-input--label" for="">Discount (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input v-model="edit.discount" :currency="{prefix}" locale="de"
                                            :precision="{min,max}" class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </div>
                            </vs-row>
                        </div>
                    </vs-prompt>
                </div>

                <!-- POP-UP REJECT -->
                <vs-prompt v-if="activeReject" @cancel="close" @accept="acceptReject" @close="close"
                    accept-text="Submit" :active.sync="activeReject" :title="modalTitle">
                    <div class="con-exemple-prompt">
                        <vs-row>
                            <vs-input label="Notes" v-model="notes" class="w-full" />
                        </vs-row>
                    </div>
                </vs-prompt>

                <!-- POP-UP HISTORY PRICE -->
                <vs-popup v-if="activeHistory" class="px-3" title="Harga Terakhir" :active.sync="activeHistory">
                    <vs-row>
                        <vs-col vs-w="12">
                            <vs-table stripe :data="prices_history">
                                <template slot="thead">
                                    <vs-th sort-key="code">Invoice</vs-th>
                                    <vs-th sort-key="date">Tanggal</vs-th>
                                    <vs-th sort-key="price_sm">Harga</vs-th>
                                </template>

                                <template slot-scope="{data}">
                                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                                        <vs-td :data="data[indextr].code">
                                            {{data[indextr].code}}
                                        </vs-td>
                                        <vs-td :data="data[indextr].date">
                                            {{data[indextr].date}}
                                        </vs-td>
                                        <vs-td :data="data[indextr].price">
                                            {{data[indextr].price | currency}}
                                        </vs-td>
                                    </vs-tr>
                                </template>
                            </vs-table>
                        </vs-col>
                    </vs-row>
                </vs-popup>

            </vx-card>
        </div>

    </div>
</template>

<script>
import vSelect from 'vue-select'
import VueSimpleSuggest from 'vue-simple-suggest';
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        VueSimpleSuggest,
        vSelect,
        Datepicker
    },
    data() {
        return {
            id: null,
            tipe: null,
            createe: null,
            confirmm: null,
            updatee: null,
            deletee: null,
            access: null,
            po: true,
            disabledDates: {
                customPredictor: function (date) {
                    if (date < new Date()) {
                        return true
                    }
                }
            },
            hide: false,
            max: 0,
            min: 0,
            prefix: 'Rp ',
            edit: [],
            delete: [],
            format_ID: "DD/MM/YYYY",
            mode: 'input',
            activePrompt2: false,
            activeHistory: false,
            activeReject: false,
            form: {
                faktur: null,
                dateStart: null,
                dateExpired: '',
                customer: null,
                ke: '',
                sales: null,
                pembayaran: 'Cash',
                warehouse: null,
                total: 0,
                ongkir: 0,
                ketOngkir: null,
                biayaLain: 0,
                ketBiayaLain: null,
                biayaLainTemp: 0,
                ongkirTemp: 0,
                grandtotal: 0,
                grandtotalTemp: 0,
                totalDiscount: 0,
                totalTax: 0,
            },
            qtyKecil: null,
            qtyBesar: null,
            totalQtyLG: 0,
            totalQtySM: 0,
            product: {
                id: null,
                qty_lg: 0,
                qty_sm: 1,
                price_lg: 0,
                price_sm: 0,
                unit: null,
                tax: 10,
                disc: 0,
            },
            productList: [],
            productValue: null,
            dialogValue: {
                product: null,
                qty: null,
                price: null,
                tax: null,
                disc: null,
                satuan: null
            },
            editValue: {
                product: null,
                qty: null,
                price: null,
                satuan: null
            },
            userOptions: [],
            customerOptions: [],
            keOptions: [],
            paymentOptions: [
                "Cash", "Credit"
            ],
            salesOptions: [],
            whOptions: [],
            penjualans: [],
            uncomplete: [],
            prices_history: null,
        }
    },
    computed:{
        unComplete: function () {
            // return this.penjualans.find(this.penjualans.status === 'uncomplete')
            return this.penjualans.filter(function (i) {
                // console.log(i)
                return i.do_status === 'uncomplete'
            })
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData();
    },
    methods: {
        async loadData() {
            this.id = this.$route.params.idpenjualan;
            this.tipe = this.$route.params.tipe;
            var com_id = this.$company != null ? this.$company.company_id : "1"

            if (this.id > 0) {
                this.loadEdit();
            } else {
                // Init Company ID From Local Storage          
                var resCode = await this.$http.get(this.$baseURL + '/penjualan/penjualan/codefaktur', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    // console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })
                this.form.faktur = resCode.data.data.code;
            }

            var resKe = await this.$http.get(this.$baseURL + '/accounting/coa?filter=level|3;fromcode|1.03|<;company_id|' + com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resCustomer = await this.$http.get(this.$baseURL + '/master/customers?filter=company_id|' + com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resSales = await this.$http.get(this.$baseURL + '/master/karyawan', {
                params: {
                    filter: "position|sales;company_id|" + com_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resWh = await this.$http.get(this.$baseURL + '/master/warehouses', {
                params: {
                    filter: "company_id|" + com_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.customerOptions = resCustomer.data.data
            this.salesOptions = resSales.data.data;
            this.keOptions = resKe.data.data;
            this.whOptions = resWh.data.data;

            this.access = this.$user.role.role_menus.access;
            for (var acc in this.access) {
                if (this.$route.name == this.access[acc].slug) {
                    this.createe = this.access[acc].createe;
                    this.confirmm = this.access[acc].confirmm;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }
        
            this.$vs.loading.close();
        },

        async loadEdit() {
            this.po = false;
            var resReadPenjualan = await this.$http.get(this.$baseURL + '/penjualan/penjualan/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var result = resReadPenjualan.data.data;

            if (result.status === 'paid') {
                this.form.pembayaran = 'Cash';
            } else {
                this.form.pembayaran = 'Credit';
            }

            this.form.total = (result.total + result.discount) - result.ongkir - result.biaya_lain - result.tax;
            this.form.sales = result.sales_id;
            this.form.warehouse = result.wh_id;
            this.form.faktur = result.code;
            this.form.ke = (result.coa_code === null ? '' : result.coa_code);
            // this.form.dateExpired = this.$moment(result.due_date, "DD/MM/YYYY").toDate();
            this.form.dateExpired = (result.due_date_day === null ? '' : result.due_date_day);
            this.form.customer = result.customer_id;
            this.form.totalDiscount = result.discount;
            this.form.totalTax = result.tax;
            this.form.grandtotal = result.total;
            this.form.grandtotalTemp = result.total;
            this.form.ongkir = result.ongkir;
            this.form.ongkirTemp = result.ongkir;
            this.form.biayaLain = result.biaya_lain;
            this.form.ketBiayaLain = result.biaya_lain_desc;
            this.form.biayaLainTemp = result.biaya_lain;
            this.penjualans = result.penjualan_details;
            
            // LIST UNTUK REVISI FAKTUR
            if(this.tipe === 'update'){
                this.penjualans = this.unComplete;
            }

            this.hide = true;

            this.loadProduct();
        },

        countTotal() {
            this.form.grandtotalTemp = (parseInt(this.form.total) + parseInt(this.form.totalTax) + parseInt(this.form.ongkir) + parseInt(this.form.biayaLain)) - parseInt(this.form.totalDiscount);
        },

        async loadProduct() {
            var resProduct = await this.$http.get(this.$baseURL + '/master/products', {
                params: {
                    filter: 'wh_id|' + this.form.warehouse
                },
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })
            this.productList = resProduct.data.data;
        },

        selectProduct(value) {
            console.log(value.price_sm + (value.price_sm * 0.01));
            this.unitOptions = null;
            this.product.id = value.product_id;
            var price = value['product_details'][0];
            this.product.price_sm = value.price_sm + (value.price_sm * 0.01);
            this.qtyBesar = value.unit_lg;
            this.qtyKecil = value.unit_sm;
            this.totalQtyLG = value.total_lg_qty;
            this.totalQtySM = value.total_sm_qty;
        },

        //SHOW POPUP HISTORY PRICE
        async historyPrice() {
            this.$vs.loading({
                type: 'radius'
            });

            this.activeHistory = true;
            var resHistory = await this.$http.get(this.$baseURL + '/master/products/history/sales', {
                params: {
                    wh_id: this.form.warehouse,
                    customer_id: this.form.customer,
                    product_id: this.product.id,
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })

            this.prices_history = resHistory.data.data.history_price_sm;
            this.$vs.loading.close();
        },

        acceptHistory() {
            this.activeHistory = false;
        },

        addProduct() {
            if (this.form.faktur === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Faktur kosong',
                })

            } else if (this.form.customer === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Pelanggan belum dipilih',
                })

            } else if (this.form.sales === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Sales belum dipilih',
                })

            } else if (this.form.pembayaran === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Tipe Pembayaran belum dipilih',
                })

                // } else if (this.product.qty_lg < 0 || this.product.qty_sm < 0) {
                //     this.$vs.dialog({
                //         color: 'danger',
                //         title: 'Error',
                //         text: 'Qty tidak boleh kurang dari 0',
                //         // accept: this.accept
                //     })
                // } else if (this.product.qty_lg > this.totalQtyLG) {
                //     this.$vs.dialog({
                //         color: 'danger',
                //         title: 'Error',
                //         text: 'Stok real Qty Large kurang',
                //         // accept: this.accept
                //     })
                // } else if (this.product.qty_sm > this.totalQtySM) {
                //     this.$vs.dialog({
                //         color: 'danger',
                //         title: 'Error',
                //         text: 'Stok real Qty Small kurang',
                //         // accept: this.accept
                //     })
            } else if (this.penjualans.length > 0) {
                var cek = this.penjualans.find(el => el.product_id === this.product.id);
                if (cek === undefined) {
                    if (this.form.pembayaran === 'Cash') {
                        if (this.form.ke === '') {
                            this.$vs.dialog({
                                color: 'danger',
                                title: 'Error',
                                text: 'Tujuan Pembayaran belum dipilih',
                            })
                        } else {
                            this.runAddProduct();
                        }
                    } else {
                        this.runAddProduct();
                    }
                } else {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Produk sudah ada',
                        // accept: this.accept
                    })
                }
            } else {
                if (this.form.pembayaran === 'Cash') {
                    if (this.form.ke === '') {
                        this.$vs.dialog({
                            color: 'danger',
                            title: 'Error',
                            text: 'Tujuan Pembayaran belum dipilih',
                        })
                    } else {
                        this.runAddProduct();
                    }
                } else {
                    this.runAddProduct();
                }
            }
        },

        runAddProduct() {
            this.$vs.loading({
                type: 'radius'
            });

            this.hide = true;
            var product = this.productValue;

            const formData = new FormData();
            formData.append('no_faktur', this.form.faktur);
            // if (this.form.dateExpired === null) {
            //     formData.append('entry_at', this.$moment().format(this.format_ID));
            // } else {
            //     formData.append('entry_at', this.$moment(this.form.dateExpired).format(this.format_ID));
            // }
            formData.append('customer_id', this.form.customer);
            formData.append('sales_id', this.form.sales);
            formData.append('payment', this.form.pembayaran.toLowerCase());
            formData.append('entry_at', this.form.dateExpired);
            formData.append('coa_code', this.form.ke);
            formData.append('wh_id', this.form.warehouse);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);
            formData.append('details[product_id]', this.product.id);
            formData.append('details[qty_lg]', this.product.qty_lg);
            formData.append('details[qty_sm]', this.product.qty_sm);
            formData.append('details[price_lg]', this.product.price_lg);
            formData.append('details[price_sm]', this.product.price_sm);
            formData.append('details[tax]', this.product.tax);
            formData.append('details[discount]', this.product.disc);

            this.$http.post(this.$baseURL + '/penjualan/penjualan/details/create', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.loadPO(res.data.data.penjualan_id);
                this.clearValMultiple();
            }).catch(err => {
                console.log(err);
                this.$vs.loading.close();
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                this.$options.filters.auth(err.response.data.message);
            });
        },

        async loadPO(value) {
            var resPenjualan = await this.$http.get(this.$baseURL + '/penjualan/penjualan/' + value + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
            })

            this.form.total = (resPenjualan.data.data.total + resPenjualan.data.data.discount) - resPenjualan.data.data.ongkir - resPenjualan.data.data.biaya_lain - resPenjualan.data.data.tax;
            this.penjualans = resPenjualan.data.data.penjualan_details;
            this.form.totalDiscount = resPenjualan.data.data.discount;
            this.form.totalTax = resPenjualan.data.data.tax;
            this.form.ongkir = resPenjualan.data.data.ongkir;
            this.form.grandtotal = resPenjualan.data.data.total;
            this.form.grandtotalTemp = resPenjualan.data.data.total;

            this.$vs.loading.close();
        },

        deleteData(data) {
            this.delete = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Anda yakin akan menghapus ?',
                accept: this.acceptAlert1
            })
        },

        acceptAlert1() {
            this.$vs.loading({
                type: 'radius'
            });
            this.$http.delete(this.$baseURL + '/penjualan/penjualan/details/' + this.delete.penjualan_d_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Data berhasil dihapus'
                });
                this.clearValMultiple();
                this.loadPO(this.delete.penjualan_id);
            }).catch(err => {
                this.$vs.loading.close();
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                console.log(err);
            });
        },

        editData(data) {
            this.edit.product = data.product;
            this.edit.product_id = data.product.product_id;
            this.edit.penjualan_d_id = data.penjualan_d_id;
            this.edit.qty_lg = data.qty_lg;
            this.edit.price_lg = data.price_lg;
            this.edit.qty_sm = data.qty_sm;
            this.edit.price_sm = data.price_sm;
            this.edit.tax = data.tax;
            this.edit.discount = data.discount;
            this.activePrompt2 = true;
        },

        acceptEdit() {
            if (this.edit.qty_sm < 1) {
                this.deleteData(this.edit);
            } else if (this.form.pembayaran === 'Cash') {
                if (this.form.ke === '') {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tujuan Pembayaran belum dipilih',
                    })
                } else {
                    this.runEdit();
                }
            } else {
                this.runEdit();
            }
        },

        runEdit() {
            this.$vs.loading({
                type: 'radius'
            });
            const formData = new FormData();

            formData.append('no_faktur', this.form.faktur);
            // formData.append('entry_at', this.$moment(this.form.dateExpired).format(this.format_ID));
            // if (this.form.dateExpired === null) {
            //     formData.append('entry_at', this.$moment().format(this.format_ID));

            // } else {
            //     formData.append('entry_at', this.$moment(this.form.dateExpired).format(this.format_ID));
            // }
            formData.append('entry_at', this.form.dateExpired);
            formData.append('customer_id', this.form.customer);
            formData.append('sales_id', this.form.sales);
            formData.append('payment', this.form.pembayaran.toLowerCase());
            formData.append('coa_code', this.form.ke);
            formData.append('wh_id', this.form.warehouse);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);
            formData.append('details[product_id]', this.edit.product_id);
            formData.append('details[qty_lg]', this.edit.qty_lg);
            formData.append('details[qty_sm]', this.edit.qty_sm);
            formData.append('details[price_lg]', this.edit.price_lg);
            formData.append('details[price_sm]', this.edit.price_sm);
            formData.append('details[tax]', this.edit.tax);
            formData.append('details[discount]', this.edit.discount);
            formData.append('_method', 'PUT');

            this.$http.post(this.$baseURL + '/penjualan/penjualan/details/' + this.edit.penjualan_d_id + '/update', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.loadPO(res.data.data.penjualan_id);
                this.activePrompt2 = false;

                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Produk berhasil diedit'
                })
            }).catch(err => {
                console.log(err);
                this.$vs.loading.close();
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
                this.$options.filters.auth(err.response.data.message);
            });
        },

        submit() {
            if (this.tipe === 'edit') {
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: `Confirm`,
                    text: 'Anda yakin sudah sesuai?',
                    accept: this.acceptSave
                })
            } else if (this.tipe === 'new') {
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: `Confirm`,
                    text: 'Anda yakin sudah sesuai?',
                    accept: this.acceptSubmit
                })
            }
        },

        acceptSubmit() {
            this.$vs.loading({
                type: 'radius'
            });
            const formData = new FormData();
            formData.append('no_faktur', this.form.faktur);
            // formData.append('entry_at', this.$moment(this.form.dateExpired).format(this.format_ID));
            // if (this.form.dateExpired === null) {
            //     formData.append('entry_at', this.$moment().format(this.format_ID));

            // } else {
            //     formData.append('entry_at', this.$moment(this.form.dateExpired).format(this.format_ID));
            // }
            formData.append('entry_at', this.form.dateExpired);
            formData.append('customer_id', this.form.customer);
            formData.append('sales_id', this.form.sales);
            formData.append('payment', this.form.pembayaran.toLowerCase());
            formData.append('coa_code', this.form.ke);
            formData.append('wh_id', this.form.warehouse);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);

            this.$http.post(this.$baseURL + '/penjualan/penjualan/create', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {

                this.$router.push('/pages/viewpenjualandetail/' + res.data.data.penjualan_id + '/order');
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                this.$options.filters.auth(err.response.data.message);
            })
        },

        acceptSave() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('no_faktur', this.form.faktur);
            // formData.append('entry_at', this.$moment(this.form.dateExpired).format(this.format_ID));
            // if (this.form.dateExpired === null) {
            //     formData.append('entry_at', this.$moment().format(this.format_ID));
            // } else {
            //     formData.append('entry_at', this.$moment(this.form.dateExpired).format(this.format_ID));
            // }
            formData.append('entry_at', this.form.dateExpired);
            formData.append('customer_id', this.form.customer);
            formData.append('sales_id', this.form.sales);
            formData.append('payment', this.form.pembayaran.toLowerCase());
            formData.append('coa_code', this.form.ke);
            formData.append('wh_id', this.form.warehouse);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);
            formData.append('_method', 'PUT');

            this.$http.post(this.$baseURL + '/penjualan/penjualan/' + this.id + '/update', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/viewpenjualandetail/' + res.data.data.penjualan_id + '/order');
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                this.$options.filters.auth(err.response.data.message);
            })
        },

        approve() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Anda yakin akan menyetujui penjualan ini?',
                accept: this.acceptApprove
            })
        },
        acceptApprove() {
            if (this.penjualans.length < 1) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Produk tidak boleh kosong',
                })

            } else {
                this.$vs.loading({
                    type: 'radius'
                });
                const formData = new FormData();

                formData.append('execute', 'approved');
                formData.append('approved[payment]', this.form.pembayaran.toLowerCase());
                // if (this.form.dateExpired === null) {
                //     formData.append('approved[due_date]', this.$moment().format(this.format_ID));
                // } else {
                //     formData.append('approved[due_date]', this.$moment(this.form.dateExpired).format(this.format_ID));
                // }
                formData.append('approved[due_date]', this.form.dateExpired);
                formData.append('approved[coa_code]', this.form.ke);
                formData.append('approved[ongkir]', this.form.ongkir);
                formData.append('approved[ongkir_desc]', this.form.ketOngkir);
                formData.append('approved[biaya_lain]', this.form.biayaLain);
                formData.append('approved[biaya_lain_desc]', this.form.ketBiayaLain);

                this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/penjualan/');
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    })
                    this.$options.filters.auth(err.response.data.message);
                })
            }
        },

        reject() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Anda yakin akan menolak penjualan ini?',
                accept: this.rejectActive
            })
        },

        rejectActive() {
            this.activeReject = true;
        },

        acceptReject() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('execute', 'rejected');
            formData.append('rejected', 1);
            formData.append('notes', this.notes);

            this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/penjualan/');
            }).catch(err => {
                console.log(err);
                this.$vs.loading.close();
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                this.$options.filters.auth(err.response.data.message);
            })

        },

        addNewData() {
            this.sidebarData = {}
            this.toggleDataSidebar(true)
        },

        close() {
            this.activePrompt2 = false;
        },
        clearValMultiple() {
            // this.edit = [];
            this.product.id = null;
            this.product.qty_lg = 0;
            this.product.qty_sm = 1;
            this.product.price_lg = 0;
            this.product.price_sm = 0;
            this.product.disc = 0;
        },
        back() {
            this.$router.go(-1)
        }
    }

}
</script>

<style scoped lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}


.scroll-area--data-list-add-new {
    // height: calc(var(--vh, 1vh) * 100 - 4.3rem);
    height: calc(var(--vh, 1vh) * 100 - 16px - 45px - 82px);
}
</style>