<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->
<template>
    <div id="table-customer">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-tabs alignment="fixed">
                    <vs-tab label="Piutang">
                        <vs-table pagination :max-items="10" search :data="piutangs">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="faktur">Faktur</vs-th>
                                <vs-th sort-key="date">Tanggal</vs-th>
                                <vs-th sort-key="expire">Kadaluarsa</vs-th>
                                <vs-th sort-key="amount">Total (Rp)</vs-th>
                                <vs-th sort-key="customer">Dibayarkan (Rp)</vs-th>
                                <vs-th sort-key="balance">Sisa (Rp)</vs-th>
                                <vs-th sort-key="action">Action</vs-th>
                            </template>
                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">
                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1 }}
                                    </vs-td>
                                    <vs-td :data="data[indextr].penjualan_id">
                                        {{data[indextr].penjualan_id}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        {{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].paid_off">
                                        {{data[indextr].paid_off | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].balance">
                                        {{data[indextr].balance | currency}}
                                    </vs-td>
                                    <vs-td>
                                        <feather-icon v-show="data[indextr].balance !== 0" icon="PocketIcon"
                                            svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                            @click.stop="editData(tr)" />
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                    <vs-tab label="Piutang Completed">
                        <vs-table pagination :max-items="10" search :data="piutangsCompleted">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="faktur">Faktur</vs-th>
                                <vs-th sort-key="date">Tanggal</vs-th>
                                <vs-th sort-key="expire">Kadaluarsa</vs-th>
                                <vs-th sort-key="amount">Total (Rp)</vs-th>
                                <vs-th sort-key="customer">Dibayarkan (Rp)</vs-th>
                                <vs-th sort-key="balance">Sisa (Rp)</vs-th>
                                <vs-th sort-key="balance">Balance (Rp)</vs-th>
                            </template>
                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">
                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1 }}
                                    </vs-td>
                                    <vs-td :data="data[indextr].penjualan_id">
                                        {{data[indextr].penjualan_id}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        {{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].paid_off">
                                        {{data[indextr].paid_off | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].balance">
                                        {{data[indextr].balance | currency}}
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                </vs-tabs>

                <!-- FORM -->
                <vs-prompt class="email-compose" @cancel="resetPrompt" @accept="submitPrompt" @close="resetPrompt"
                    accept-text="Submit" :is-valid="validName" :active.sync="modalPromptActive" :title="modalTitle">
                    <VuePerfectScrollbar class="scroll-area p-2" :settings="settings" :key="$vs.rtl">
                        <form @submit.prevent>
                            <div style="text-align:center; margin-bottom:40px; margin-top:20px;">
                                <span>
                                    <h2>Sisa Piutang : Rp.{{form.piutang | currency}}</h2>
                                </span>
                            </div>
                            <div class="vx-row mb-4">
                                <div class="vx-col  w-full">
                                    <span
                                        style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">Pembayaran
                                        Ke</span>
                                    <v-select v-model="form.coa" :clearable="false" label="name"
                                        :reduce="coaOptions => coaOptions.code" :options="coaOptions" name="coa">
                                        <template #option="{code, name}">
                                            <cite>{{ code }}</cite> - {{ name }}
                                        </template>
                                    </v-select>
                                </div>
                            </div>
                            <div class="vx-row">
                                <div class="vs-input w-full px-4">
                                    <label class="vs-input--label" for="">Total (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input v-model="form.amount" :currency="{prefix}" locale="de"
                                            class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </div>

                            </div>
                        </form>
                    </VuePerfectScrollbar>
                </vs-prompt>

            </vx-card>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker';
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
    components: {
        vSelect,
        Datepicker,
        VuePerfectScrollbar,
    },
    data() {
        return {
            prefix: "Rp ",
            hide: false,
            edit: null,
            addNewDataSidebar: false,
            activeConfirm: false,
            modalPromptActive: false,
            modalTitle: null,
            form: {
                id: null,
                piutang: null,
                date: null,
                faktur: null,
                amount: 0,
                coa: null,

            },
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            piutangValue: null,
            coaOptions: [

            ],
            piutangs: [],
            piutangsCompleted: [],
        }
    },

    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData();
    },

    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "";
            var resPiutang = await this.$http.get(this.$baseURL + '/penjualan/piutang?filter=company_id|' + com_id, {
                params: {
                    filter: 'balance|0|>'
                },
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resPiutangComp = await this.$http.get(this.$baseURL + '/penjualan/piutang?filter=company_id|' + com_id, {
                params: {
                    filter: 'balance|0|='
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resCoa = await this.$http.get(this.$baseURL + '/accounting/coa?filter=company_id|' + com_id, {
                params: {
                    filter: 'level|3;fromcode|1.03|<'
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })


            this.coaOptions = resCoa.data.data;
            this.piutangs = resPiutang.data.data;
            this.piutangsCompleted = resPiutangComp.data.data;
            this.$vs.loading.close();
        },

        editData(data) {
            this.piutangValue = data;
            this.hide = true;
            this.modalTitle = "Pembayaran";
            this.form.id = data.piutang_id;
            this.form.faktur = data.penjualan_id;
            this.form.piutang = data.balance;
            this.form.coa = data.piutang_details[0].coa_code;
            this.modalPromptActive = true
        },

        deleteData(data) {
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to Delete this Cash Data ?',
                accept: this.acceptAlert
            })
        },

        acceptAlert() {
            this.promptAlert("success", "Success", "The selected Cash was successfully deleted")
        },

        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },

        submitPrompt() {
            if (this.form.coa === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Tujuan Pembayaran belum dipilih',
                })
            } else if (this.form.amount <= 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Jumlah tidak boleh kosong',
                })
            } else if (this.form.amount > this.form.piutang) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Pembayaran lebih dari Piutang',
                })
            } else {
                const formData = new FormData();
                formData.append('coa_code', this.form.coa);
                formData.append('amount', parseInt(this.form.amount));
                formData.append('execute', 'pay');

                this.$http.post(this.$baseURL + '/penjualan/piutang/' + this.form.id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.loadData();

                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })
            }
        },

        resetPrompt() {
            this.form.piutang = null;
            this.form.date = null;
            this.form.faktur = null;
            this.form.coa = null;
            this.form.amount = null;

            this.modalPromptActive = false
        }
    }
}
</script>

<style lang="scss">
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 40%;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 85vh;
                    height: 300px;
   
                }
 
            }
        }
 
    } 
</style>

