<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-tabs alignment="fixed">
                    <vs-tab label="Revisi Faktur">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="fakturs">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                    <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                        <div
                                            class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                            <span class="mr-2">Actions</span>
                                            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                        </div>

                                        <vs-dropdown-menu>
                                            <vs-dropdown-item v-if="createe==true">
                                                <span @click="revisiFaktur" class="flex items-center">
                                                    <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4"
                                                        class="mr-2" />
                                                    <span>Revisi Faktur</span>
                                                </span>
                                            </vs-dropdown-item>
                                        </vs-dropdown-menu>
                                    </vs-dropdown>
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="nofaktur">Faktur</vs-th>
                                <vs-th sort-key="date">Date</vs-th>
                                <vs-th sort-key="customer">Customer</vs-th>
                                <vs-th sort-key="jumlah">Total (Rp)</vs-th>
                                <vs-th sort-key="customer">Notes</vs-th>
                                <vs-th sort-key="action">Action</vs-th>
                            </template>

                            <template slot-scope="{data}" style="font-size:12px;">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code">
                                        {{data[indextr].code}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].due_date">
                                        {{data[indextr].due_date}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].customer.name">
                                        {{data[indextr].customer.name}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        {{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].notes">
                                        {{data[indextr].notes}}
                                    </vs-td>
                                    <vs-td>
                                        <!-- <vs-col vs-w="4" class="px-1" >
                                            <feather-icon icon="CheckCircleIcon"
                                                v-if="confirmm == true"
                                                v-tooltip="'Review'"
                                                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                                @click.stop="approveData(tr)" />
                                        </vs-col> -->
                                        <vs-col vs-w="4" class="px-1">
                                            <feather-icon icon="EditIcon" v-if="updatee == true" v-tooltip="'Edit'"
                                                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                                @click.stop="editData(tr)" />
                                        </vs-col>
                                        <!-- <vs-col vs-w=4>
                                            <feather-icon icon="XIcon"
                                                svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                                @click.stop="rejectData(tr)" />
                                        </vs-col> -->
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>

                    <vs-tab label="Revisi Faktur Rejected">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="faktursReject">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="nofaktur">Faktur</vs-th>
                                <vs-th sort-key="date">Date</vs-th>
                                <vs-th sort-key="customer">Customer</vs-th>
                                <vs-th sort-key="jumlah">Total (Rp)</vs-th>
                                <vs-th sort-key="customer">Notes</vs-th>
                                <vs-th sort-key="action">Action</vs-th>
                            </template>

                            <template slot-scope="{data}" style="font-size:12px;">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code">
                                        {{data[indextr].code}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].due_date">
                                        {{data[indextr].due_date}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].customer.name">
                                        {{data[indextr].customer.name}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        {{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].notes">
                                        {{data[indextr].notes}}
                                    </vs-td>
                                    <vs-td>
                                        <vs-col vs-w=4>
                                            <feather-icon icon="CornerUpLeftIcon" v-tooltip="'UnReject'"
                                                v-if="updatee==true"
                                                svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                                @click.stop="unRejectData(tr)" />
                                        </vs-col>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                </vs-tabs>
            </vx-card>
        </div>

        <!-- POP UP REJECT -->
        <vs-prompt v-if="activeReject" @cancel="close" @accept="acceptReject" @close="close" accept-text="Submit"
            :active.sync="activeReject" title="Reject">
            <div class="con-exemple-prompt">
                <vs-row>
                    <vs-input label="Notes" v-model="notes" class="w-full" />
                </vs-row>
            </div>
        </vs-prompt>

        <div>
            <vs-prompt v-if="activeRevisi" @cancel="closerev" @accept="acceptRevisi" @close="closerev"
                accept-text="Submit" :active.sync="activeRevisi" title="Revisi Faktur">
                <div class="con-exemple-prompt">
                    <vs-row class="mb-5">
                        <label class="vs-input--label" for="">Nomor</label>
                        <v-select v-model="revisi.id" class="w-full" :clearable="false" :options="penjualanOptions"
                            :reduce="penjualanOptions => penjualanOptions.penjualan_id" label="code"
                            placeHolder="Penjualan" name="penjualan" />
                    </vs-row>
                    <vs-row>
                        <vs-textarea label="Alasan" v-model="revisi.alasan" />
                    </vs-row>
                </div>
            </vs-prompt>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        vSelect,
        Datepicker
    },
    data() {
        return {
            activeRevisi: false,
            activeReject: false,
            delete: [],
            form: {
                dateStart: null,
                dateFinish: null,
                user: null,
                customer: null,
            },
            revisi: {
                id: null,
                alasan: null,
            },
            notes: null,
            createe: null,
            confirmm: null,
            updatee: null,
            deletee: null,
            access: null,
            fakturs: [],
            faktursReject: [],
            penjualanOptions: [],
        }
    },

    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData();
    },

    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"
            var resFaktur = await this.$http.get(this.$baseURL + '/penjualan/revisifaktur', {
                params: {
                    filter: 'faktur|actived:unactived;company_id|' + com_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resFakturReject = await this.$http.get(this.$baseURL + '/penjualan/revisifaktur', {
                params: {
                    filter: 'faktur|reject;company_id|' + com_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resPJOptions = await this.$http.get(this.$baseURL + '/penjualan/penjualan', {
                params: {
                    filter: 'faktur|pending;company_id|' + com_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.fakturs = resFaktur.data.data;
            this.faktursReject = resFakturReject.data.data;
            this.penjualanOptions = resPJOptions.data.data;
            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.path == this.access[acc].url) {
                    this.createe = this.access[acc].createe;
                    this.confirmm = this.access[acc].confirmm;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }

            this.$vs.loading.close();
        },

        viewData(tr) {
            this.$router.push('/pages/viewpenjualandetail/' + tr.penjualan_id + '/order')
        },

        addNewData() {
            this.sidebarData = {}
            this.toggleDataSidebar(true)
        },

        resetColFilters() {
            this.form.dateStart = null
            this.form.dateFinish = null
            this.form.user = null
            this.form.customer = null
            this.$refs.filterCard.removeRefreshAnimation()
        },

        editData(data) {
            this.$router.push('/pages/formpenjualan/' + data.penjualan_id + '/update');
        },

        approveData(data) {
            this.$router.push('/pages/formreviewpenjualan/' + data.penjualan_id);
        },

        rejectData(data) {
            this.delete = data;
            this.activeReject = true;
        },

        acceptReject() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin menolak Revisi ini?',
                accept: this.acceptRejectNya
            })

        },

        acceptRejectNya() {
            const formData = new FormData();

            formData.append('execute', 'rejected');
            formData.append('rejected', 1);
            formData.append('notes', this.notes);

            this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.delete.penjualan_id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {

                this.$vs.notify({
                    color: 'success',
                    title: 'Faktur Rejected',
                    text: 'Faktur Successfully Rejected'
                })
                this.loadData();

            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })
        },

        close() {
            this.activeReject = false;
        },

        revisiFaktur() {
            this.activeRevisi = true;
        },

        acceptRevisi() {
            if (this.revisi.id.penjualan_id === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Faktur belum dipilih',
                })
            } else if (this.revisi.alasan === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Alasan masih kosong',
                })
            } else {
                const formData = new FormData();
                formData.append('execute', 'revisi');
                formData.append('notes', this.revisi.alasan);

                this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.revisi.id.penjualan_id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.$router.push('/pages/revisifaktur');
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message)
                })
            }
        },

        closerev() {
            this.activeRevisi = false;
        },

        unRejectData(data) {
            this.delete = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin membatalkan revisi ini?',
                accept: this.acceptUnreject
            })
        },

        acceptUnreject() {
            const formData = new FormData();

            formData.append('execute', 'rejected');
            formData.append('rejected', 0);
            formData.append('notes', 'unreject');

            this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.delete.penjualan_id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {

                this.$vs.notify({
                    color: 'success',
                    title: 'Faktur Unrejected',
                    text: 'Faktur Successfully Unrejected'
                })

                this.$router.push('/pages/penjualan');

            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })
        },
    },
}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>