<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <vx-card ref="filterCard" title="Detail Penjualan" class="user-list-filters mb-8">
            <vs-row class="mb-4">
                <vs-col vs-w="6" v-if="tipe === 'po'">
                    <span> Kode: </span><br>
                    <h4>{{name}}</h4>
                </vs-col>
                <vs-col vs-w="6" v-else >
                    <span> Kode: </span><br>
                    <h4>{{name}}</h4>
                </vs-col>
                <vs-col vs-w="6">
                    <span> Date: </span><br>
                    <h4>{{date}}</h4>
                </vs-col>
            </vs-row>
            <vs-row>
                <vs-col vs-w="6" v-if="tipe === 'po'" >
                    <span> SPK: </span>
                    <h4>{{customer}}</h4>
                </vs-col>
                <vs-col vs-w="6" v-else>
                    <span> Customer: </span>
                    <h4>{{customer}}</h4>
                </vs-col>
            </vs-row>
        </vx-card>

        <div>
            <vx-card>
                <vs-table stripe :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:20px;">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                            <h4>Detail Produk</h4>
                        </div>
                    </div>

                    <template  slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>                       
                        <!-- <vs-th sort-key="stok">Qty LG</vs-th>
                        <vs-th sort-key="price">Price / LG (Rp)</vs-th> -->
                         <vs-th sort-key="stok">Qty</vs-th>
                        <vs-th sort-key="price">Price (Rp)</vs-th>
                        <vs-th sort-key="tax">Tax (%)</vs-th>
                        <vs-th sort-key="discound">Discount (Rp)</vs-th>
                        <vs-th sort-key="total">Total (Rp)</vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>                           
                            <!-- <vs-td :data="data[indextr].qty_lg">
                                {{data[indextr].qty_lg}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_lg">
                                {{data[indextr].price_lg | currency}}
                            </vs-td> -->
                            <vs-td :data="data[indextr].qty_sm">
                                {{data[indextr].qty_sm}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                {{data[indextr].price_sm | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].tax">
                                {{data[indextr].tax}}
                            </vs-td>
                            <vs-td :data="data[indextr].discount">
                                {{data[indextr].discount | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <vs-row class="mt-5">
                      <vs-col class="text-right pt-5 mb-3" vs-w="12">
                        <h4>Subtotal: <b>Rp. {{ total | currency}}</b></h4>
                    </vs-col>
                      <vs-col class="text-right  mb-3" vs-w="12">
                        <h4>Discount: <b>Rp. {{ totalDiscount | currency}}</b></h4>
                    </vs-col>
                      <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Tax: <b>Rp. {{ totalTax | currency}}</b></h4>
                    </vs-col>
                      <vs-col class="text-right  mb-3" vs-w="12">
                        <h4>Ongkir: <b>Rp. {{ ongkir | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right  mb-3" vs-w="12">
                        <h4>Biaya Lain: <b>Rp. {{ biayaLain | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ grandtotal | currency}}</b></h4>
                    </vs-col>
                </vs-row>

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                    <vs-button  style="width:100px; background-color:mediumslateblue;" type="relief" @click.stop="back()">
                                Back</vs-button>
                    </vs-col>
                </vs-row>
            </vx-card>
        </div>
    </div>
    
</template>



<script>
import vSelect from 'vue-select'
import VueSimpleSuggest from 'vue-simple-suggest';
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        VueSimpleSuggest,
        vSelect,
        Datepicker
    },
    data() {
        return {
            id: null,
            tipe: null,
            name: null,
            noOrder: null,
            date: null,
            customer: null,
            total: 0,
            totalDiscount: 0,
            totalTax: 0,
            ongkir: 0,
            biayaLain: 0,
            grandtotal: 0,
            mode: 'input',
            penjualans: [],
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData()
    },

    methods: {
        async loadData() {
            this.tipe = this.$route.params.tipe;
            this.id = this.$route.params.idpenjualan;

            if (this.tipe === 'po') {
                // KETIKA DATA PO
                var resPO = await this.$http.get(this.$baseURL + '/pembelian/pro/' + this.id + '/read', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })

                var result = resPO.data.data;
                
                this.total = (resPO.data.data.total + resPO.data.data.discount) - resPO.data.data.ongkir - resPO.data.data.biaya_lain - resPO.data.data.tax;
                this.totalDiscount = resPO.data.data.discount;
                this.totalTax = resPO.data.data.tax;
                this.ongkir = resPO.data.data.ongkir;
                this.biayaLain = resPO.data.data.biaya_lain;
                this.grandtotal = resPO.data.data.total;
                this.name = resPO.data.data.work_order;
                this.noOrder = resPO.data.data.code;
                this.date = resPO.data.data.created_at;
                this.customer = resPO.data.data.code_spk;
                this.penjualans = resPO.data.data.po_project_details;
            } else {
                // KETIKA BUKAN PO
                var resPenjualan = await this.$http.get(this.$baseURL + '/penjualan/penjualan/' + this.id + '/read', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })

                this.name = resPenjualan.data.data.code;
                this.total = (resPenjualan.data.data.total + resPenjualan.data.data.discount) - resPenjualan.data.data.ongkir - resPenjualan.data.data.biaya_lain - resPenjualan.data.data.tax;
                this.totalDiscount = resPenjualan.data.data.discount;
                this.totalTax = resPenjualan.data.data.tax;
                this.ongkir = resPenjualan.data.data.ongkir;
                this.biayaLain = resPenjualan.data.data.biaya_lain;
                this.grandtotal = resPenjualan.data.data.total;
                this.noOrder = resPenjualan.data.data.penjualan_id;
                this.date = resPenjualan.data.data.due_date;
                this.customer = resPenjualan.data.data.customer.name;
                this.penjualans = resPenjualan.data.data.penjualan_details;
            }
            this.$vs.loading.close();
        },
        back() {
            var tipe = this.$route.params.tipe;
            // this.$router.go(-1);
            if (tipe === 'po') {
                this.$router.push('/pages/popenjualan').catch(() => {});
            } else {
                this.$router.push('/pages/penjualan').catch(() => {});
            }
        },
    }
}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>