<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>

        <!-- <table-filter-sorter></table-filter-sorter> -->
        <vx-card ref="filterCard" class="user-list-filters mb-8">
            <vs-row class="mb-3">
                <vs-col vs-w="6" class="pr-3">
                    <vs-input v-model="form.name" label="Kode RO (Generate Otomatis)" disabled class="w-full" />
                </vs-col>
               
            </vs-row>
            <div class="vx-row mb-3">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> Work Order: </span>
                    <span>
                    <v-select :disabled="hide" v-model="form.spk" :clearable="false" label="code_spk" 
                        :options="woOption"  :reduce="woOption => woOption.code_spk" name="codeSPK" /> </span>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <label class="vs-input--label" for="">Warehouse / Gudang</label>
                    <span>
                        <v-select :disabled="hide" v-model="form.warehouse" :clearable="false" label="name"
                            :reduce="whOptions => whOptions.wh_id" :options="whOptions" 
                            name="warehouse" />
                    </span>
                </div>
            </div>
             <vs-row class="mb-3">
                <vs-col vs-w="6" class="pr-3">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;">Tipe Pembayaran: </span>
                    <span>
                        <v-select v-model="form.pembayaran" :clearable="false" :options="paymentOptions"
                            placeHolder="User" name="User" /> </span>
                </vs-col>
                <vs-col vs-w="6" v-if="form.pembayaran === 'Credit'" class="pl-3">
                    <vs-input v-model="form.dateExpired" label="Jumlah Hari Penagihan" type="number" min="0" class="w-full" />
                </vs-col>
                <vs-col vs-w="6" class="pl-3" v-if="form.pembayaran === 'Cash'">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;">Pembayaran Ke: </span>
                    <v-select v-model="form.ke" :clearable="false" :reduce="keOptions => keOptions.code" label="name"
                        :options="keOptions" name="ke">
                        <template #option="{code, name}">
                            <cite>{{ code }}</cite> - {{ name }}
                            <!-- <cite>{{ code }}</cite> -->
                        </template>
                    </v-select>
                </vs-col>
            </vs-row>

            <div class="vx-row mb-3" >
                <div class="vs-input w-1/2 px-4" >
                    <label class="vs-input--label" for="">Biaya Ongkir (Rp)</label>
                    <div class="vs-con-input">
                        <currency-input v-model.lazy="form.ongkir" :currency="{prefix}" :precision="{min,max}"
                            locale="de" @change="countTotal('ongkir')"
                            class="vs-inputx vs-input--input normal hasValue" />
                    </div>
                </div>
                <div class="vs-input w-1/2 px-4" s>
                    <vs-input v-model="form.ketOngkir" label="Ket. Ongkir" class="w-full" />
                </div>

            </div>
            <div class="vx-row mb-3">
                <div class="vs-input w-1/2 px-4">
                    <label class="vs-input--label" for="">Biaya Lain (Rp)</label>
                    <div class="vs-con-input">
                        <currency-input v-model.lazy="form.biayaLain" :currency="{prefix}" :precision="{min,max}"
                            locale="de" @change="countTotal('biaya')"
                            class="vs-inputx vs-input--input normal hasValue" />
                    </div>
                </div>
                <div class="vs-input w-1/2 px-4" >
                    <vs-input v-model="form.ketBiayaLain" label="Ket. Biaya Lain" class="w-full" />
                </div>

            </div>
        </vx-card>

        <div>
            <vx-card ref="bodyGL" class="user-list-filters mb-8">
                
                <vs-table stripe :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                    </div>
                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>                      
                        <!-- <vs-th sort-key="stok">Qty LG</vs-th>
                        <vs-th sort-key="price">Price / LG (Rp)</vs-th> -->
                        <vs-th sort-key="stok">Qty</vs-th>
                        <vs-th sort-key="price">Price (Rp)</vs-th>
                        <vs-th sort-key="tax">Tax (%)</vs-th>
                        <vs-th sort-key="discount">Discount (Rp)</vs-th>
                        <vs-th sort-key="total">Total (Rp)</vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">  
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>                          
                            <vs-td :data="data[indextr].qty_sm">
                                {{data[indextr].qty_sm}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                {{data[indextr].price_sm | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].tax">
                                {{data[indextr].tax}}
                            </vs-td>
                            <vs-td :data="data[indextr].discount">
                                {{data[indextr].discount | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <vs-row class="mt-5">
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Subtotal: <b>Rp. {{ form.total | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Diskon: <b>Rp. {{ form.totalDiscount | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Tax: <b>Rp. {{ form.totalTax | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Ongkir: <b>Rp. {{ form.ongkir | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Biaya Lain: <b>Rp. {{ form.biayaLain | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ form.grandtotalTemp | currency}}</b></h4>
                    </vs-col>
                </vs-row>

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button  style="width:100px; background-color:mediumslateblue;" type="relief" @click.stop="back()">
                            Back</vs-button>
                        <!-- SHOW APPROVE ONLY -->
                        <vs-button v-if="tipe === 'approve'" color="warning" style="width:100px;" type="relief" @click.stop="reject()">
                        Reject</vs-button>
                        <vs-button v-if="tipe === 'approve'" color="primary" style="width:100px;" type="relief" @click.stop="approve()">
                        Approve</vs-button>   
                    </vs-col>
                </vs-row>

                <!-- POP-UP REJECT -->
                <vs-prompt v-if="activeReject" @cancel="close" @accept="acceptReject" @close="close" accept-text="Submit"
                    :active.sync="activeReject" :title="Reject">
                    <div class="con-exemple-prompt">
                        <vs-row>
                            <vs-input label="Notes" v-model="notes" class="w-full" />
                        </vs-row>
                    </div>
                </vs-prompt>
            </vx-card>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
import VueSimpleSuggest from 'vue-simple-suggest';
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        VueSimpleSuggest,
        vSelect,
        Datepicker
    },
    data() {
        return {
            id: null,
            tipe: null,
            transaksi:null,
            hide: false,
            max: 0,
            min: 0,
            prefix: "Rp ",
            delete: null,
            activePrompt2: false,
            activeReject: false,
            mode: 'input',
            notes: null,
            selected: [],
            form: {
                name: null,
                supplier: null,
                work_order: null,
                warehouse: null,
                spk: null,
                pembayaran:'Cash',
                ke:'',
                dateExpired:1,
                ongkir: 0,
                ketOngkir: null,
                biayaLain: 0,
                biayaLainTemp: 0,
                ketBiayaLain: null,
                ongkirTemp: 0,
                total: 0,
                totalDiscount: 0,
                totalTax: 0,
                grandtotal: 0,
                grandtotalTemp: 0,
            },
            qtyBesar: null,
            qtyKecil: null,
            product: {
                id: null,
                qty_lg: 0,
                qty_sm: 1,
                price_lg: 0,
                price_sm: 0,
                tax: 10,
                disc: 0,
            },
            productList: [],
            productValue: null,
            editValue: {
                produk:null,
                price_sm:0,
                unit_sm:null,
                qty_sm:0,
                discount:0,
            },
            keOptions: [],
            paymentOptions: [
                "Cash", "Credit"
            ],
            whOptions: [],
            customerOptions: [],
            woOption: [],
            supplierOptions: [],
            penjualans: [],

        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData();
    },
    methods: {
        async loadData() {
            this.id = this.$route.params.id;
            this.transaksi = this.$route.params.transaksi;
            this.tipe = this.$route.params.tipe;
            var com_id = this.$company != null ? this.$company.company_id : "1";

            var resCustomer = await this.$http.get(this.$baseURL + '/master/customers', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resWorkOrder = await this.$http.get(this.$baseURL + '/project/orders', {
                params: {
                    filter: 'status|progress'
                },
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resKe = await this.$http.get(this.$baseURL + '/accounting/coa?filter=fromcode|11;company_id|' + com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resWh = await this.$http.get(this.$baseURL + '/master/warehouses',{
                params: {
                    // filter: 'company_id|' + com_id
                },
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message)
            })

            var resSupplier = await this.$http.get(this.$baseURL + '/master/suppliers', {
                params: {
                    filter: 'company_id|' + com_id
                },
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close();
                this.$options.filters.auth(err.response.data.message)
            })

            this.supplierOptions = resSupplier.data.data;
            this.woOption = resWorkOrder.data.data;
            this.whOptions = resWh.data.data;
            this.keOptions = resKe.data.data;

            if (this.id > 0) {
                this.loadEdit();
            }

            this.$vs.loading.close();
        },

        async loadEdit() {
            this.hide = true;
            this.po = false;
            
            if (this.transaksi === 'penjualan') {
                var url = this.$baseURL + '/penjualan/pro/jual/' + this.id + '/read'
            }else{
                var url = this.$baseURL + '/pembelian/pro/po/' + this.id + '/read'
            }

            var resReadPenjualan = await this.$http.get(url, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var result = resReadPenjualan.data.data;

           console.log(result);

            if (this.transaksi === 'penjualan') {
                if (result.status === 'paid') {
                    this.form.pembayaran = 'Cash';
                }else if(result.status === 'unpaid' && result.coa_code !== null){
                    this.form.pembayaran = 'Cash';
                } else {
                    this.form.pembayaran = 'Credit';
                }
                this.form.name = result.code;
                this.penjualans = result.penjualan_details;
            }else{
                if (result.payment === 'paid') {
                    this.form.pembayaran = 'Cash';
                }else if(result.payment === 'unpaid' && result.coa_code !== null){
                    this.form.pembayaran = 'Cash';
                } else {
                    this.form.pembayaran = 'Credit';
                }
                this.form.name = result.name;
                this.penjualans = result.po_pembelian_details;
            }


            this.form.supplier = result.supplier_id;
            this.form.spk = result.code_spk;
            this.form.total = (result.total + result.discount) - result.ongkir - result.biaya_lain - result.tax;
            this.form.warehouse = result.wh_id;
            this.form.totalDiscount = result.discount;
            this.form.totalTax = result.tax;
            this.form.grandtotal = result.total;
            this.form.grandtotalTemp = result.total;
            this.form.ongkir = result.ongkir;
            this.form.ketOngkir = result.ongkir_desc;
            this.form.ongkirTemp = result.ongkir;
            this.form.biayaLain = result.biaya_lain;
            this.form.ketBiayaLain = result.biaya_lain_desc;
            this.form.biayaLainTemp = result.biaya_lain;
           
        },

        countTotal(value) {
            this.form.grandtotalTemp = (parseInt(this.form.total) + parseInt(this.form.totalTax) + parseInt(this.form.ongkir) + parseInt(this.form.biayaLain)) - parseInt(this.form.totalDiscount);
        },

        async loadPO(value) {
            var resPO = await this.$http.get(this.$baseURL + '/penjualan/pro/jual/' + value + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close();
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
            })

            this.form.total = (resPO.data.data.total + resPO.data.data.discount) - resPO.data.data.ongkir - resPO.data.data.biaya_lain - resPO.data.data.tax;
            this.penjualans = resPO.data.data.po_project_details;
            this.form.totalDiscount = resPO.data.data.discount;
            this.form.name = resPO.data.data.code;
            this.form.supplier = resPO.data.data.supplier_id;
            this.form.totalTax = resPO.data.data.tax;
            this.form.ongkir = resPO.data.data.ongkir;
            this.form.grandtotal = resPO.data.data.total;
            this.form.grandtotalTemp = resPO.data.data.total;
        },

        close() {
            this.activeReject = false;
            this.activePrompt2 = false;
        },
       
        approve() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Anda yakin akan menyetujui PO ini?',
                accept: this.acceptApprove
            })
        },

        acceptApprove() {
            if (this.form.pembayaran === 'Cash') {
                if (this.form.ke === '') {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tujuan Pembayaran belum dipilih',
                    })
                } else {
                    this.runApprove();
                }
            } else {
                if (this.form.dateExpired === null) {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Jumlah Hari Penagihan masih kosong',
                    })
                } else {
                    this.runApprove();
                }
            }              
        },

        runApprove(){
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();

            formData.append('payment', this.form.pembayaran.toLowerCase());
            formData.append('coa_code', this.form.ke);
            formData.append('due_date', this.form.biayaLain);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);

            for (let index = 0; index < this.selected.length; index++) {
                formData.append('details[' + index + '][id]', this.selected[index].po_pro_d_id);
            }
            

            if (this.transaksi === 'penjualan') {
                formData.append('execute', 'approved');
                var url = this.$baseURL + '/penjualan/pro/jual/' + this.id + '/approve'
            }else{
                formData.append('auto_inv', 'yes');
                formData.append('invoice', '');

                var url = this.$baseURL + '/pembelian/pro/po/' + this.id + '/approve'
            }

            this.$http.post(url, formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/ro/'+this.transaksi);
            }).catch(err => {
                console.log(err);
                this.$vs.loading.close();
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                this.$options.filters.auth(err.response.data.message)
            })            
        },

        reject() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Yakin akan menolak penjualan ini?',
                accept: this.rejectActive
            })
        },

        rejectActive() {
            this.activeReject = true;
        },

        acceptReject() {
            const formData = new FormData();
            formData.append('execute', 'rejected');
            formData.append('rejected', 1);
            formData.append('notes', this.notes);

            this.$http.post(this.$baseURL + '/project/ro/' + this.id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/ro');
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                this.$options.filters.auth(err.response.data.message);
            })
        },

        clearValMultiple() {
            this.editValue.product = null;
            this.editValue.qty = 0;
            this.editValue.price = 0;
            this.editValue.discount = 0;
        },
        
        back() {
            this.$router.go(-1);
        }


    }

}
</script>

<style lang="scss">
    #page-user-list {
        .user-list-filters {
            .vs__actions {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-58%);
            }
        }
    }
</style>