<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-tabs alignment="fixed">
                    <vs-tab label="RO Project">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="pembelian">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="tanggal">Tanggal</vs-th>
                                <vs-th sort-key="name">Nomor PO</vs-th>
                                <vs-th sort-key="code_spk">Kode SPK</vs-th>
                                <vs-th sort-key="total">Total (Rp)</vs-th>
                                <vs-th sort-key="payment">Pembayaran (Rp)</vs-th>
                                <vs-th sort-key="status">Status</vs-th>
                                <vs-th>Action</vs-th>
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">
                                    <vs-td :data="indextr+1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].name">
                                        {{data[indextr].name}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code_spk">
                                        {{data[indextr].code_spk}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        <span class="my-auto ">{{data[indextr].total | currency}}</span>
                                    </vs-td>
                                    <vs-td :data="data[indextr].payment">
                                        <vs-chip v-if="data[indextr].payment === 'paid'" color="success">
                                            {{data[indextr].payment | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].payment | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">
                                        <vs-chip v-if="data[indextr].status === 'approve'" color="success">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                     <vs-td>
                                         <vs-col v-if="data[indextr].status === 'pending' && confirmm == true" class="px-3" vs-w="4">
                                            <feather-icon icon="CheckCircleIcon" v-tooltip="'Approve'"
                                                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                                @click.stop="approveData(tr)" />
                                        </vs-col>
                                        <vs-col v-if="data[indextr].status !== 'close' && data[indextr].status !== 'void' && deletee == true"  vs-w="4" class="px-3">
                                            <vs-tooltip text="Delete">
                                                <feather-icon icon="TrashIcon"
                                                     v-tooltip="'Delete'"
                                                    svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                                    @click.stop="deleteData(tr)" />
                                            </vs-tooltip>
                                        </vs-col>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                    <vs-tab label="Pembelian Project">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="pembelianOptions">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                    
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="tanggal">Tanggal</vs-th>
                                <vs-th sort-key="name">Nomor Invoice</vs-th>
                                <vs-th sort-key="code_spk">Kode SPK</vs-th>
                                <vs-th sort-key="total">Total (Rp)</vs-th>
                                <vs-th sort-key="payment">Pembayaran (Rp)</vs-th>
                                <vs-th sort-key="status">Status</vs-th>
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">
                                    <vs-td :data="indextr+1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code">
                                        {{data[indextr].code}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code_spk">
                                        {{data[indextr].code_spk}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        <span class="my-auto ">{{data[indextr].total | currency}}</span>
                                    </vs-td>
                                    <vs-td :data="data[indextr].payment">
                                        <vs-chip v-if="data[indextr].payment === 'paid'" color="success">
                                            {{data[indextr].payment | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].payment | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">
                                        <vs-chip v-if="data[indextr].status === 'approve'" color="success">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                </vs-tabs>

            </vx-card>
        </div>

        <!-- POP UP REVISI FAKTUR -->
        <div>
            <vs-prompt v-if="activeRevisi" @cancel="close" @accept="acceptRevisi" @close="close" accept-text="Submit"
                :active.sync="activeRevisi" title="Revisi Faktur">
                <div class="con-exemple-prompt">
                    <vs-row class="mb-5">
                        <label class="vs-input--label" for="">Nomor</label>
                        <!-- <vs-input label="Id Penjualan" v-model="revisi.id" class="w-full" /> -->
                        <v-select v-model="revisi.id" class="w-full" :clearable="false" :options="pembelianOptions"
                            :reduce="pembelianOptions => pembelianOptions.code" label="code" placeHolder="Penjualan"
                            name="penjualan" />
                    </vs-row>
                    <vs-row>
                        <vs-textarea label="Alasan" v-model="revisi.alasan" />
                    </vs-row>
                </div>
            </vs-prompt>
        </div>
    </div>
</template>



<script>
import vSelect from 'vue-select';

export default {
    components: {
        vSelect,
    },
    data() {
        return {
            activeRevisi: null,
            createe: null,
            confirmm: null,
            updatee: null,
            deletee: null,
            access: null,
            delete:null,
            pembelianValue: null,
            revisi: {
                id: null,
                alasan: null,
            },
            pembelian: [],
            pembelianOptions: [],
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData()
    },


    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"
            var resPembelian = await this.$http.get(this.$baseURL + '/pembelian/pro/po', {
                params: {
                    filter: 'status|pending'
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message)
            })

            var resPBOptions = await this.$http.get(this.$baseURL + '/pembelian/pro/beli', {
                params: {
                    filter: 'status|approve'
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.path == this.access[acc].url) {
                    this.createe = this.access[acc].createe;
                    this.confirmm = this.access[acc].confirmm;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }

            this.pembelianOptions = resPBOptions.data.data;
            this.pembelian = resPembelian.data.data;
            this.$vs.loading.close();
        },

        revisiFaktur() {
            this.activeRevisi = true;
        },

        acceptRevisi() {

            if (this.revisi.id === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Nomor Transaksi kosong',
                    // accept: this.accept
                })
            } else if (this.revisi.alasan === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Note belum diisi',
                    // accept: this.accept
                })

            } else {

                const formData = new FormData();
                formData.append('no_faktur', this.revisi.id);
                formData.append('notes', this.revisi.alasan);

                this.$http.post(this.$baseURL + '/pembelian/pembelian/revisi/status', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    // this.$router.push('/pages/pembelian/revisifaktur');
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })
            }

        },

        close() {
            this.activeRevisi = false;
        },

        viewData(tr) {
            if (tr.pembelian_id) {
                this.$router.push('/pages/ro/pembelian/' + tr.pembelian_id + '/detail').catch(() => {})
            }else{
                this.$router.push('/pages/ro/popembelian/' + tr.po_pb_id + '/detail').catch(() => {})
            }
        },
        addNewData() {
            this.sidebarData = {}
            this.toggleDataSidebar(true)
        },

        deleteData(data) {
            this.delete = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin hapus data ini?',
                accept: this.acceptDelete
            })
        },

        acceptDelete() {
            this.$vs.loading({
                type: 'radius'
            });
            this.$http.post(this.$baseURL + '/pembelian/pro/po/' + this.delete.po_pb_id + '/void', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.loadData();
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Data berhasil dihapus'
                })
            }).catch(err => {
                this.$vs.loading.close();
                this.$options.filters.auth(err.response.data.message)
                console.log(err);
            });
        },

        approveData(data) {
            // console.log(data);
            this.$router.push('/pages/formro/pembelian/' + data.po_pb_id + '/approve');
        },

        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },

        resetColFilters() {
            this.form.dateStart = null
            this.form.dateFinish = null
            this.form.user = null
            this.form.customer = null
            this.$refs.filterCard.removeRefreshAnimation()
        },
    }
}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>