<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">

        <!-- <table-filter-sorter></table-filter-sorter> -->
        <!-- <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" actionButtons
            @refresh="resetColFilters">
            <div class="vx-row">
                <span style="margin-left:15px; margin-top:10px;"> Date: </span>
                <datepicker placeholder="Select Date Start" v-model="form.dateStart" style="padding-left:45px;">
                </datepicker>
                <datepicker placeholder="Select Date Finish" v-model="form.dateFinish"
                    style="padding-left:20px; padding-right:20px;"></datepicker>
            </div><br>
            <div class="vx-row">
                <span style="margin-left:15px; margin-top:10px;"> User: </span>
                <span>
                    <v-select v-model="form.user" :clearable="false" label="username" :options="userOptions"
                        placeHolder="User" style="  width:470px; margin:5px 0px 15px 45px;" name="User" /> </span>
            </div>
            <div class="vx-row">
                <span style="margin-left:15px; margin-top:10px;"> Sales: </span>
                <span>
                    <v-select v-model="form.customer" :clearable="false" label="name" :options="salesOptions"
                        style=" width:470px; margin:5px 20px 0px 40px;" name="Category" /> </span>
                <vs-button color="success" type="relief">Search</vs-button>
            </div>
        </vx-card> -->

        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-tabs alignment="fixed">
                    <vs-tab label="RO Penjualan">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="penjualans">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <!-- <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                    <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                        <div
                                            class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                            <span class="mr-2">Actions</span>
                                            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                        </div>

                                        <vs-dropdown-menu>
                                            <vs-dropdown-item>
                                                <span @click="revisiFaktur" class="flex items-center">
                                                    <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4"
                                                        class="mr-2" />
                                                    <span>Revisi Faktur</span>
                                                </span>
                                            </vs-dropdown-item>
                                        </vs-dropdown-menu>
                                    </vs-dropdown>
                                </div> -->
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="tanggal">Tanggal</vs-th>
                                <vs-th sort-key="name">Nomor PO</vs-th>
                                <vs-th sort-key="code_spk">Kode SPK</vs-th>
                                <vs-th sort-key="total">Total (Rp)</vs-th>
                                <vs-th sort-key="status">Pembayaran (Rp)</vs-th>
                                <vs-th sort-key="faktur">Status</vs-th>
                                <vs-th>Action</vs-th>
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">
                                    <vs-td :data="indextr+1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code">
                                        {{data[indextr].code}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code_spk">
                                        {{data[indextr].code_spk}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        <span class="my-auto ">{{data[indextr].total | currency}}</span>
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">
                                        <vs-chip v-if="data[indextr].status === 'paid'" color="success">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td :data="data[indextr].faktur">
                                        <vs-chip v-if="data[indextr].faktur === 'approved'" color="success">
                                            {{data[indextr].faktur | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].faktur | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td>
                                        <vs-col v-if="data[indextr].faktur === 'pending' && confirmm == true" class="px-3" vs-w="6">
                                            <feather-icon icon="CheckCircleIcon" v-tooltip="'Approve'"
                                                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                                @click.stop="approveData(tr)" />
                                        </vs-col>
                                        <vs-col vs-w="6" class="px-3" v-if="data[indextr].faktur === 'approved'">
                                            <feather-icon icon="PrinterIcon"
                                                v-tooltip="'Print Penjualan'"
                                                svgClasses="w-5 h-5 hover:text-success stroke-current"
                                                @click.stop="printPenjualan(tr)" />
                                        </vs-col>
                                        <vs-col vs-w="6" class="px-3" v-if="data[indextr].faktur === 'approved' && data[indextr].do_status !== 'completed'">
                                            <feather-icon icon="BriefcaseIcon" v-tooltip="'Surat Jalan'"
                                                svgClasses="w-5 h-5 hover:text-warning stroke-current"
                                                @click.stop="reviewSuratJalan(tr)" />&nbsp;
                                        </vs-col>
                                         <vs-col v-if="data[indextr].faktur !== 'approved' && data[indextr].faktur !== 'void'  && deletee == true" vs-w="6" class="px-3">
                                            <vs-tooltip text="Delete">
                                                <feather-icon icon="TrashIcon"
                                                     v-tooltip="'Delete'"
                                                    svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                                    @click.stop="deleteData(tr)" />
                                            </vs-tooltip>
                                        </vs-col>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>

                    <!-- PENJUALAN REJECT -->
                    <vs-tab label="RO Penjualan (Reject & Void)">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="penjualansReject">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="tanggal">Tanggal</vs-th>
                                <vs-th sort-key="name">Nomor PO</vs-th>
                                <vs-th sort-key="code_spk">Kode SPK</vs-th>
                                <vs-th sort-key="total">Total (Rp)</vs-th>
                                <vs-th sort-key="status">Pembayaran (Rp)</vs-th>
                                <vs-th sort-key="faktur">Status</vs-th>
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">
                                    <vs-td :data="indextr+1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code">
                                        {{data[indextr].code}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code_spk">
                                        {{data[indextr].code_spk}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        <span class="my-auto ">{{data[indextr].total | currency}}</span>
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">
                                        <vs-chip v-if="data[indextr].status === 'paid'" color="success">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td :data="data[indextr].faktur">
                                        <vs-chip v-if="data[indextr].faktur === 'void'" color="danger">
                                            {{data[indextr].faktur | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].faktur | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                    
                    <!-- SURAT JALAN -->
                     <vs-tab label="RO Surat Jalan">
                        <vs-table pagination :max-items="10" @selected="viewDataDO" search :data="suratJalans">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">

                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="date">Date</vs-th>
                                <vs-th sort-key="nosurat">No. Surat Jalan</vs-th>
                                <vs-th sort-key="nofaktur">Kode Faktur</vs-th>
                                <vs-th></vs-th>
                            </template>

                            <template slot-scope="{data}" style="font-size:12px;">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code">
                                        DO-{{data[indextr].code}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].penjualan.code">
                                        {{data[indextr].penjualan.code}}
                                    </vs-td>
                                     <vs-td>
                                        <vs-col vs-w="4" class="px-2">
                                            <feather-icon icon="PrinterIcon" v-tooltip="'Print Surat Jalan'"
                                                svgClasses="w-5 h-5 hover:text-success stroke-current"
                                                @click.stop="printSuratJalan(tr)" />
                                        </vs-col>
                                        <!-- <vs-col vs-w="4" class="px-2">
                                            <feather-icon icon="FileTextIcon" v-tooltip="'Print Tanda Terima'"
                                                svgClasses="w-5 h-5 hover:text-success stroke-current"
                                                @click.stop="printTandaTerima(tr)" />
                                        </vs-col> -->
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>


                </vs-tabs>
            </vx-card>
        </div>

        <!-- POP UP REVISI FAKTUR -->
        <div>
            <vs-prompt v-if="activeRevisi" @cancel="close" @accept="acceptRevisi" @close="close" accept-text="Submit"
                :active.sync="activeRevisi" title="Revisi Faktur">
                <div class="con-exemple-prompt">
                    <vs-row class="mb-5">
                        <label class="vs-input--label" for="">Nomor</label>
                        <!-- <vs-input label="Id Penjualan" v-model="revisi.id" class="w-full" /> -->
                        <v-select v-model="revisi.id" class="w-full" :clearable="false" :options="penjualanOptions"
                            :reduce="penjualanOptions => penjualanOptions.code" label="code" placeHolder="Penjualan"
                            name="penjualan" />
                    </vs-row>
                    <vs-row>
                        <vs-textarea label="Alasan" v-model="revisi.alasan" />
                    </vs-row>
                </div>
            </vs-prompt>
        </div>

    </div>
</template>



<script>
import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        vSelect,
        Datepicker
    },
    data() {
        return {
            activeRevisi: false,
            delete: null,
            createe: null,
            confirmm: null,
            updatee: null,
            deletee: null,
            access: null,
            form: {
                dateStart: null,
                dateFinish: null,
                user: null,
                customer: null,
            },
            revisi: {
                id: null,
                alasan: null,
            },
            unreject: null,
            penjualanOptions: [],
            penjualans: [],
            penjualansReject: [],
            suratJalans: [],
            suratJalansCom: [],
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData()
    },
    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"
            var resPenjualan = await this.$http.get(this.$baseURL + '/penjualan/pro/jual', {
                params: {
                    filter: 'faktur|pending:approved'
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close()
                console.log(err);
                this.$options.filters.auth(err.response.data.message);

            })

            var resPenjualanReject = await this.$http.get(this.$baseURL + '/penjualan/pro/jual', {
                params: {
                    filter: 'faktur|reject:void'
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close()
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            // var resPJOptions = await this.$http.get(this.$baseURL + '/penjualan/penjualan?do_status=uncomplete', {
            //     params: {
            //         // filter: 'faktur|approved;company_id|' + this.$company.company_id
            //     }
            // }, {
            //     headers: {
            //         Authorization: 'Bearer ' + this.$token,
            //         'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
            //     },
            // }).catch(err => {
            //     this.$vs.loading.close()
            //     console.log(err);
            //     this.$options.filters.auth(err.response.data.message);
            // })

            var resSurat = await this.$http.get(this.$baseURL + '/penjualan/do?filter=company_id|' + this.$company.company_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close()
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.penjualans = resPenjualan.data.data;
            // this.penjualanOptions = resPJOptions.data.data;
            // this.revisi.id = resPJOptions.data.data[0].code;
            this.penjualansReject = resPenjualanReject.data.data;
            this.suratJalans = resSurat.data.data;

            this.access = this.$user.role.role_menus.access;

            for (var acc in this.access) {
                if (this.$route.path == this.access[acc].url) {
                    this.createe = this.access[acc].createe;
                    this.confirmm = this.access[acc].confirmm;
                    this.updatee = this.access[acc].updatee;
                    this.deletee = this.access[acc].deletee;
                }
            }
            setTimeout(this.$vs.loading.close(), 2000);
        },

        reviewSuratJalan(tr) {
            this.$router.push('/pages/ro/reviewsuratjalan/' + tr.penjualan_id).catch(() => {})
        },

        viewData(tr) {
            this.$router.push('/pages/ro/penjualan/' + tr.penjualan_id + '/detail').catch(() => {})
        },

        viewDataDO(tr) {
            this.$router.push('/pages/viewsuratjalandetail/' + tr.do_id);
        },

        addNewData() {
            this.sidebarData = {}
            this.toggleDataSidebar(true)
        },

        resetColFilters() {
            this.form.dateStart = null
            this.form.dateFinish = null
            this.form.user = null
            this.form.customer = null
            this.$refs.filterCard.removeRefreshAnimation()
        },

        deleteData(data) {
            this.delete = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin hapus data ini?',
                accept: this.acceptDelete
            })
        },

        acceptDelete() {
            this.$vs.loading({
                type: 'radius'
            });
            this.$http.post(this.$baseURL + '/penjualan/pro/jual/' + this.delete.penjualan_id + '/void', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.loadData();
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Data berhasil dihapus'
                })
            }).catch(err => {
                this.$vs.loading.close();
                this.$options.filters.auth(err.response.data.message)
                console.log(err);
            });
        },

        editData(data) {
            this.$router.push('/pages/formpenjualan/' + data.penjualan_id + '/edit');
        },

        revisiFaktur() {
            this.activeRevisi = true;
        },

        acceptRevisi() {

            if (this.revisi.id === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Faktur belum dipilih',
                })
            } else if (this.revisi.alasan === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Alasan kosong',
                })
            } else {
                this.$vs.loading({
                    type: 'radius'
                });
                const formData = new FormData();
                formData.append('no_faktur', this.revisi.id);
                formData.append('notes', this.revisi.alasan);

                this.$http.post(this.$baseURL + '/penjualan/revisifaktur/revisi', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.$router.push('/pages/revisifaktur');
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    })
                    this.$options.filters.auth(err.response.data.message)
                })

                this.$vs.loading.close();
            }
        },

        printPenjualan(data) {
            this.$router.push('/pages/penjualan/faktur/print/' + data.penjualan_id);
        },

        printSuratJalan(data) {
            this.$router.push('/pages/suratjalan/print/' + data.do_id);
        },

        close() {
            this.activeRevisi = false;
        },

        approveData(data) {
            // console.log(data);
            this.$router.push('/pages/formro/penjualan/' + data.penjualan_id + '/approve');
        },

        unReject(data) {
            this.unreject = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan membatalkan penolakan?',
                accept: this.acceptUnreject
            })
        },

        acceptUnreject() {
            const formData = new FormData();
            formData.append('execute', 'rejected');
            formData.append('rejected', 0);
            formData.append('notes', 'unreject');

            this.$http.post(this.$baseURL + '/penjualan/revisifaktur/' + this.unreject.penjualan_id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.loadData();
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message)
            })
        },
    }
}
</script>

<style lang="scss">
    #page-user-list {
        .user-list-filters {
            .vs__actions {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-58%);
            }
        }
    }
</style>