<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-tabs alignment="fixed">
                    <vs-tab label="List RO">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="penjualan">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div v-if="createe == true"
                                    class="flex flex-wrap-reverse items-center data-list-btn-container">
                                    <div class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                        @click="addNewData">
                                        <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                        <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                                    </div>
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="nama">Kode SPK</vs-th>
                                <vs-th sort-key="tanggal">Tanggal</vs-th>
                                <vs-th sort-key="description">Kode</vs-th>
                                <vs-th sort-key="total">Total</vs-th>
                                <vs-th sort-key="status">Status</vs-th>
                                <vs-th sort-key="user">User</vs-th>
                                <vs-th sort-key="action">Action</vs-th>
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">
                                    <vs-td :data="indextr+1">
                                        {{indextr+1}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].code_spk">
                                        {{data[indextr].code_spk}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].code">
                                        {{data[indextr].code}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        Rp.{{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">
                                        <vs-chip
                                            v-if="data[indextr].status === 'close' && data[indextr].approved !== undefined"
                                            color="success">
                                            Approved
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td :data="data[indextr].user.username">
                                        {{data[indextr].user.username}}
                                    </vs-td>
                                    <vs-td>
                                        <vs-col
                                             v-if="updatee == true && data[indextr].status == 'open'"
                                            class="px-3" vs-w="4">
                                            <feather-icon icon="EditIcon" v-tooltip="'Edit'"                                               
                                                svgClasses="w-5 h-5 hover:text-warning stroke-current"
                                                @click.stop="editData(tr)" />
                                        </vs-col>
                                        <vs-col v-if="data[indextr].status === 'pending' && confirmm == true" class="px-3" vs-w="4">
                                            <feather-icon icon="CheckCircleIcon" v-tooltip="'Approve'"
                                                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                                @click.stop="approveData(tr)" />
                                        </vs-col>
                                        <vs-col v-if="data[indextr].status !== 'close' && data[indextr].status !== 'void' && deletee == true"  vs-w="4" class="px-3">
                                            <vs-tooltip text="Delete">
                                                <feather-icon icon="TrashIcon"
                                                   
                                                     v-tooltip="'Delete'"
                                                    svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                                    @click.stop="deleteData(tr)" />
                                            </vs-tooltip>
                                        </vs-col>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                    <vs-tab label="RO (Reject & Void)">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="penjualanReject">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                               
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="nama">Kode SPK</vs-th>
                                <vs-th sort-key="tanggal">Tanggal</vs-th>
                                <vs-th sort-key="description">Kode</vs-th>
                                <vs-th sort-key="total">Total</vs-th>
                                <vs-th sort-key="status">Status</vs-th>
                                <vs-th sort-key="user">User</vs-th>
                                <vs-th sort-key="action">Action</vs-th>
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">
                                    <vs-td :data="indextr+1">
                                        {{indextr+1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code_spk">
                                        {{data[indextr].code_spk}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code">
                                        {{data[indextr].code}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        Rp.{{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">
                                        <vs-chip
                                            v-if="data[indextr].status === 'close' && data[indextr].approved !== undefined"
                                            color="success">
                                            Approved
                                        </vs-chip>
                                        <vs-chip v-else color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td :data="data[indextr].user.username">
                                        {{data[indextr].user.username}}
                                    </vs-td>
                                    <vs-td>
                                        <vs-col v-if="data[indextr].status === 'reject'" vs-w="4">
                                            <feather-icon icon="CornerUpLeftIcon"
                                                svgClasses="w-5 h-5 hover:text-warning stroke-current"
                                                @click.stop="unReject(tr)" />
                                        </vs-col>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                </vs-tabs>
            </vx-card>

            <!-- POP-UP Approve -->
            <vs-prompt v-if="activeApprove" @cancel="close" @accept="acceptApprove" @close="close" accept-text="Submit"
                :active.sync="activeApprove" title="Approve Project">
                <div class="con-exemple-prompt">
                    <vs-row>
                        <vs-col vs-w="12" class="py-5">
                            <p>Kode PO Project</p>
                            <h4>{{approve.code}}</h4>
                        </vs-col>
                        <vs-col vs-w="12" class="py-5">
                            <p>Kode SPK</p>
                            <h4>{{approve.code_spk}}</h4>
                        </vs-col>
                        <vs-col vs-w="12" class="py-5">
                            <p>Total</p>
                            <h4>Rp.{{ approve.total | currency}}</h4>
                        </vs-col>
                    </vs-row>
                    <div class="vx-row">
                        <div class="vs-input w-1/2 px-4" style="padding-top:7px;">
                            <label class="vs-input--label" for="">Biaya Ongkir (Rp)</label>
                            <div class="vs-con-input">
                                <currency-input v-model.lazy="approve.ongkir" :currency="{prefix}"
                                    :precision="{min,max}" locale="de"
                                    class="vs-inputx vs-input--input normal hasValue" />
                            </div>
                        </div>
                        <div class="vs-input w-1/2 px-4" style="padding-top:7px;">
                            <vs-input v-model="approve.ongkir_desc" label="Ket. Ongkir" class="w-full" />
                        </div>

                    </div>
                    <div class="vx-row mb-4">
                        <div class="vs-input w-1/2 px-4" style="padding-top:7px;">
                            <label class="vs-input--label" for="">Biaya Lain (Rp)</label>
                            <div class="vs-con-input">
                                <currency-input v-model.lazy="approve.biaya_lain" :currency="{prefix}"
                                    :precision="{min,max}" locale="de"
                                    class="vs-inputx vs-input--input normal hasValue" />
                            </div>
                        </div>
                        <div class="vs-input w-1/2 px-4" style="padding-top:7px;">
                            <vs-input v-model="approve.biaya_lain_desc" label="Ket. Biaya Lain" class="w-full" />
                        </div>

                    </div>
                </div>
            </vs-prompt>
        </div>
    </div>
</template>

<script>
export default{
    components: {  
    },
    data() { 
        return {
            max: 0,
            min: 0,
            delete:null,
            createe:false,
            confirmm:false,
            updatee:false,
            deletee:false,
            access:null,
            prefix: "Rp ",
            activeApprove:false,
            approve:null, 
            unreject:null,
            penjualan: [],
            penjualanReject: [],
          
        }
    },
    mounted(){
        this.$vs.loading({
            type: 'radius'
        });     
        this.loadData();    
    },
    
    methods:{
        async loadData(){
            var com_id = this.$company != null ? this.$company.company_id : "1"
            var resPO = await this.$http.get(this.$baseURL + '/project/ro',{
                params: {
                    filter: 'status|approved:pending:open;company_id|'+com_id
                }
            }, {
                    headers: {
                        Authorization: 'Bearer '+this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    this.$options.filters.auth(err.response.data.message);
                })
            
             var resPOReject = await this.$http.get(this.$baseURL + '/project/ro',{
                params: {
                    filter: 'status|close:reject:void;company_id|'+com_id
                }
            }, {
                    headers: {
                        Authorization: 'Bearer '+this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    this.$options.filters.auth(err.response.data.message);
                })

            this.penjualan= resPO.data.data;
            this.penjualanReject= resPOReject.data.data;
            this.access = this.$user.role.role_menus.access;

            for(var acc in this.access){
                    if(this.$route.path == this.access[acc].url){
                        this.createe = this.access[acc].createe;
                        this.confirmm = this.access[acc].confirmm;
                        this.updatee = this.access[acc].updatee;
                        this.deletee = this.access[acc].deletee;
                    }
            }
            this.$vs.loading.close();
        },
        viewData(tr) { 
            this.$router.push('/pages/viewpenjualandetail/'+tr.po_pro_id+'/po').catch(() => {}); 
        },
        editData(tr) { 
            this.$router.push('/pages/formpopenjualan/'+tr.po_pro_id+'/edit').catch(() => {}); 
        },
        addNewData() {
            this.$router.push('/pages/formpopenjualan/0/new').catch(() => {});  
        },

        approveData(tr){
            this.$router.push('/pages/formpopenjualan/'+tr.po_pro_id+'/approve').catch(() => {}); 
        },

        approveData2(data){
            this.approve = data;
            this.activeApprove = true;
        },

        acceptApprove(){
                const formData = new FormData();

                formData.append('execute', 'received');
                formData.append('approved[ongkir]', this.approve.ongkir);
                formData.append('approved[ongkir_desc]', this.approve.ongkir_desc);
                formData.append('approved[biaya_lain]', this.approve.biaya_lain);
                formData.append('approved[biaya_lain_desc]', this.approve.biaya_lain_desc);

                this.$http.post(this.$baseURL + '/project/ro/' + this.approve.po_pro_id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/popenjualan/');
                }).catch(err => {
                    console.log(err);

                    this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                    this.$options.filters.auth(err.response.data.message)
                })
        },

        deleteData(data) {
            this.delete = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin hapus data ini?',
                accept: this.acceptDelete
            })
        },

        acceptDelete() {
            this.$vs.loading({
                type: 'radius'
            });
            this.$http.delete(this.$baseURL + '/project/ro/' + this.delete.po_pro_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.loadData();
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Data berhasil dihapus'
                })
            }).catch(err => {
                this.$vs.loading.close();
                this.$options.filters.auth(err.response.data.message)
                console.log(err);
            });
        },

        unReject(data) {
            this.unreject = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan membatalkan penolakan?',
                accept: this.acceptUnreject
            })
        },

        acceptUnreject() {
            this.$vs.loading({
                type: 'radius'
            }); 
            const formData = new FormData();
            formData.append('execute', 'rejected');
            formData.append('rejected', 0);
            formData.append('notes', 'unreject');

            this.$http.post(this.$baseURL + '/project/ro/' + this.unreject.po_pro_id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Data berhasil diKembalikan'
                })
                this.loadData();
            }).catch(err => {
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                })
                console.log(err);
                this.$options.filters.auth(err.response.data.message)
            })
        },



        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        close(){
            this.activeApprove = false;
        },
    }
}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>