<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <vx-card ref="filterCard" title="Detail Penjualan" class="user-list-filters mb-8">
            <div class="vx-row">
                <vs-col vs-w="4" class="px-2">
                    <span> No Faktur: </span><br>
                    <h4>{{name}}</h4>
                </vs-col>
                <vs-col vs-w="4" class="px-2">
                    <span> Date: </span><br>
                    <h4>{{date}}</h4>
                </vs-col>
                <vs-col vs-w="4" class="px-2">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> Penempatan <span
                            style="color:red;">*</span>
                    </span>
                    <v-select v-model="penempatan" :clearable="false" :getOptionLabel="option => option.location"
                        :options="option_region" class="w-full">
                        <template #option="{id, location}">
                            <cite>{{ id }}</cite> - {{ location }}
                        </template>
                    </v-select>
                </vs-col>
            </div>
            <div class="vx-row">
                <!-- <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Customer: </span>
                    <h4>{{customer}}</h4>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Sales: </span>
                    <h4>{{sales}}</h4>
                </div> -->
            </div>
        </vx-card>

        <div>
            <vx-card>
                <vs-table multiple v-model="selected" :data="complete">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <vs-th sort-key="stok">Qty LG</vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td v-if="data[indextr].product" :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>
                            <vs-td :data="data[indextr].qty_sm">
                                <vs-input-number v-model="data[indextr].qty_sm" :max="listQtySM[indextr]" min="0" />
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <vs-row class="mt-5">
                    <vs-col class="text-right" vs-w="12">
                        <vs-button color="lightblue" style="width:100px;" type="relief" @click.stop="back()">
                            Back</vs-button>
                        <vs-button color="primary" style="width:100px;" type="relief" @click.stop="submit()">
                            Submit</vs-button>
                    </vs-col>
                </vs-row>
            </vx-card>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
import Region from '@/mixins/region';

export default {
    components: {
        vSelect,
    },
    mixins:[Region],
    data() {
        return {
            mode: 'input',
            selected: [],
            name: null,
            noOrder: null,
            total: 0,
            penempatan:null,
            date: null,
            code: null,
            note: null,
            status: null,
            customer: null,
            sales: null,
            listQtySM: [],
            listQtyLG: [],
            penjualans: [],
        }
    },
    computed: {
        complete: function () {
            // return this.penjualans.find(this.penjualans.status === 'uncomplete')
            return this.penjualans.filter(function (i) {
                // console.log(i)
                return i.status === 'uncomplete'
            })
        }
    },

    mounted() {
        this.$vs.loading({
                type: 'radius'
            });
        this.loadData();
    },

    methods: {
        async loadData() {
            var id = this.$route.params.idpenjualan;

            var resPenjualan = await this.$http.get(this.$baseURL + '/penjualan/pro/jual/' + id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.total = resPenjualan.data.data.total;
            this.name = resPenjualan.data.data.code;
            this.code = resPenjualan.data.data.code;
            this.noOrder = resPenjualan.data.data.penjualan_id;
            this.date = resPenjualan.data.data.due_date;
            // this.sales = resPenjualan.data.data.karyawan.name;
            this.status = resPenjualan.data.data.status;
            // this.customer = resPenjualan.data.data.customer.name;
            this.penjualans = resPenjualan.data.data.os_do;

            // var filters = this.penjualans.filter(status => this.penjualans.do_status === 'uncomplete');

            for (let index = 0; index < this.penjualans.length; index++) {
                this.listQtySM[index] = resPenjualan.data.data.os_do[index].qty_sm;
                this.listQtyLG[index] = resPenjualan.data.data.os_do[index].qty_lg;
            }

            this.$vs.loading.close();

        },

        back() {
            this.$router.push('/pages/penjualan').catch(() => {})
        },

        addNewData() {
            this.sidebarData = {}
            this.toggleDataSidebar(true)
        },

        submit() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Yakin sudah sesuai?',
                accept: this.acceptSubmit
            })

        },

        acceptSubmit() {
            if (this.penempatan === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Penempatan belum dipilih',
                })
            }else if (this.selected.length <= 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Produk belum dipilih',
                })
            } else {
                this.$vs.loading({
                    type: 'radius'
                });

                var id = this.$route.params.idpenjualan;
                
                const formData = new FormData();
                formData.append('penjualan_id', id);
                formData.append('code', '');
                formData.append('penempatan', this.penempatan.id);
                // formData.append('note', this.note);
                for (let index = 0; index < this.selected.length; index++) {
                    formData.append('products[' + index + '][id]', this.selected[index].product_id);
                    formData.append('products[' + index + '][qty_lg]', this.selected[index].qty_lg);
                    formData.append('products[' + index + '][qty_sm]', this.selected[index].qty_sm);

                }
                formData.append('confirmed', 'no');

                this.$http.post(this.$baseURL + '/penjualan/do/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/ro/penjualan');
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })
            }
        },
    }
}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-58%);
        }
    }
}
</style>