<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <vx-card ref="filterCard" :title="name" class="user-list-filters mb-8">
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> No Faktur: </span><br>
                    <h4>{{noOrder}}</h4>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> No. Surat Jalan: </span><br>
                    <h4>{{noDO}}</h4>
                </div>
            </div>
            <div class="vx-row mt-3">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span> Date: </span>
                    <h4>{{dateDO}}</h4>
                </div>
            </div>
        </vx-card>

        <div class="mb-10">
            <vx-card>
                <vs-table stripe :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between mb-8">
                        <h5>Sudah dikirim</h5>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <vs-th sort-key="stok">Delivery Qty</vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>
                            <vs-td :data="data[indextr].delv_qty_sm">
                                {{data[indextr].delv_qty_sm}}
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>
            </vx-card>
        </div>

        <div class="mb-10">
            <vx-card>
                <vs-table stripe :data="unComplete">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between mb-8">
                        <h5>Belum dikirim</h5>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <vs-th sort-key="stok">Undelivery Qty</vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>
                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>
                            <vs-td :data="data[indextr].qty_sm">
                                {{data[indextr].qty_sm}}
                            </vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button color="lightblue" style="width:100px;" type="relief" @click.stop="back()">
                            Back</vs-button>
                    </vs-col>
                </vs-row>
            </vx-card>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            id: null,
            name: null,
            noOrder: null,
            noDO: null,
            dateDO: null,
            customer: null,
            total: 0,
            mode: 'input',
            penjualans: null,
            uncomplete: null,
        }
    },
    mounted() {
        this.loadData()
    },
    computed: {
        unComplete: function () {
            // return this.penjualans.find(this.penjualans.status === 'uncomplete')
            return this.uncomplete.filter(function (i) {
                console.log(i)
                return i.status === 'uncomplete'
            })
        }
    },

    methods: {
        async loadData() {
            this.id = this.$route.params.iddo;

            var resPO = await this.$http.get(this.$baseURL + '/penjualan/do/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.penjualans = resPO.data.data.delivery_order_details;
            this.uncomplete = resPO.data.data.penjualan.os_do;
            this.noOrder = resPO.data.data.penjualan.code;
            this.noDO = resPO.data.data.code;
            this.dateDO = resPO.data.data.created_at;
        },

        back() {
            this.$router.go(-1)
        },
    }
}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>