<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="">
        <vs-card>
            <vs-row>
                <div class="pr-3">
                    <vs-button color="lightblue" style="width:100px; background-color:mediumslateblue;" type="relief"
                        icon="arrow_back" @click.stop="back()">
                        Back</vs-button>
                </div>
                <div class="pr-3">
                    <vs-button color="primary" type="border" icon="print" v-on:click="print">Print</vs-button>
                </div>
            </vs-row>
            <vs-divider/>
            <div id="printMe">               
                <div class="container">
                    <vs-row>
                        <vs-col class="" vs-w="8">
                            <h1>{{$company.name}}</h1>
                        </vs-col>
                        <vs-col vs-w="4">
                            <p>{{$company.address}}</p>
                            <p>{{$company.phone}}</p>
                        </vs-col>
                    </vs-row>
                    <vs-divider/>
                    <vs-row class="mb-3">
                        <vs-col vs-w="12">
                            <h4><strong>SURAT PENAWARAN</strong></h4>
                        </vs-col>
                        
                    </vs-row>
                    <vs-row class="mb-5">
                        <vs-col vs-w="5" >
                            <table class="mb-5">
                                <tr>
                                    <td width="100px">Nomor</td>
                                    <td>: {{nomor}} </td>
                                </tr>
                                <tr>
                                    <td width="100px">Lamp.</td>
                                    <td>: 2 </td>
                                </tr>
                                <tr>
                                    <td width="100px">Hal</td>
                                    <td>: 2 </td>
                                </tr>
                            </table>

                            <p>Kepada Yth.</p>
                            <p>{{pelanggan}}</p>
                            <p>-Di Tempat</p>
                        </vs-col>
                    </vs-row> 

                    <!-- ISI SURAT -->
                    <vs-row style="margin-bottom:30px;">
                        <vs-col vs-w="12">
                            <p>Berdasarkan hasil [{{hasil}}] pada Tanggal [{{date | moment('DD-MM-YYYY')}}], berikut kami sampaikan rincian penawaran Pekerjaan [{{nama}}]</p>
                             <vs-table stripe :data="offerDetail">
                                <template slot="thead">
                                    <vs-th sort-key="no">No</vs-th>
                                    <vs-th sort-key="product">Item Pekerjaan</vs-th>
                                    <vs-th sort-key="stok">Unit</vs-th>
                                    <vs-th sort-key="price">Vol</vs-th>
                                    <vs-th sort-key="stok">Harga Satuan</vs-th>
                                    <vs-th sort-key="price">Total Harga</vs-th>
                                </template>

                                <template slot-scope="{data}">
                                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                                        <vs-td :data="indextr + 1 ">
                                            {{indextr + 1}}
                                        </vs-td>

                                        <vs-td width="300px" :data="data[indextr].item">
                                            <strong>{{data[indextr].item}}</strong>
                                        </vs-td>
                                        <vs-td :data="data[indextr].unit">
                                            <strong>{{data[indextr].unit}}</strong>
                                        </vs-td>
                                        <vs-td :data="data[indextr].vol">
                                            <strong>{{data[indextr].vol}}</strong>
                                        </vs-td>
                                        <vs-td :data="data[indextr].price">
                                            <strong>{{data[indextr].price | currency}}</strong>
                                        </vs-td>
                                        <vs-td class="text-right" :data="data[indextr].total">
                                            <strong>{{data[indextr].total | currency}}</strong>
                                        </vs-td>
                                    </vs-tr>
                                    <vs-tr>
                                        <vs-td colspan="5" class="text-right">SUB TOTAL</vs-td>
                                        <vs-td class="text-right">
                                             <strong>{{amount | currency}}</strong>
                                        </vs-td>
                                    </vs-tr>
                                    <vs-tr>
                                        <vs-td colspan="5" class="text-right">PPn 10%</vs-td>
                                        <vs-td class="text-right">
                                             <strong>{{amount * 0.1 | currency}}</strong></vs-td>
                                    </vs-tr>
                                    <vs-tr>
                                        <vs-td colspan="5" class="text-right">GRAND TOTAL</vs-td>
                                        <vs-td class="text-right">
                                            <strong>{{amount + (amount * 0.1) | currency}}</strong></vs-td>
                                    </vs-tr>
                                </template>
                            </vs-table>
                            <p>Note : </p>
                            <p>{{note}}</p>
                            <p>Demikian surat penawaran ini kami buat untuk kepentingan bisnis antara pihak [Bapak/Ibu] dengan pihak kami, atas perhatian dan kerjasama [Bapak/Ibu] dengan pihak kami, atas perhatian dan kerja sama [{{pelanggan}}] kami sampaikan terima kasih.</p>

                        </vs-col>
                    </vs-row>

                    <vs-row class="mb-10">                     
                        <vs-col vs-offset="8" vs-w="4" class="text-center">
                            <p class="pb-0 mb-0">Hormat kami,</p>                            
                            <br>
                            <br>
                            <br>
                            <br>
                            <p class="pb-0 mb-0"></p>
                            <p>{{$company.name}}</p>
                        </vs-col>
                    </vs-row>
                </div>                
            </div>
        </vs-card>
    </div>    
</template>



<script>

export default {
    
    data() {

        return {
            id:null,
            offer_id:null,
            nomor:null,
            pelanggan:null,
            hasil:null,
            date:null,
            nama:null,
            note:null,
            amount:0,
            details:null,
            offerDetail:[]
        }
    },
    mounted() {
        // this.$vs.loading({
        //     type: 'radius'
        // });
        this.offer_id = this.$route.params.idPenawaran;
        this.loadDetail();
    },

    methods: {
        async loadDetail() {  
              this.$http.get(this.$baseURL + '/project/offer/'+this.offer_id+'/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.details = res.data.data.offer_details;
                this.nomor = res.data.data.nomor;   
                this.date = res.data.data.entry_at;   
                this.pelanggan = res.data.data.customer.name;   
                this.nama = res.data.data.name;   
                this.hasil = res.data.data.hasil;   
                this.note = res.data.data.note;  
                this.amount = res.data.data.amount;  
                this.offerDetail = res.data.data.offer_details; 
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                   this.$options.filters.auth(err.response.data.message) 
                }else if(err.response.data.message =="Post Failed"){
                    this.promptAlert("danger","Post Failed",err.response.data.errors) 
                }else{
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                }
            });  
        },  
        print() {
            // Pass the element id here
            this.$htmlToPaper('printMe');
        },
        back(){
            this.$router.go(-1);
        },
    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>