<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        <vs-card>
            <vs-row>
                <div class="pr-3">
                    <vs-button color="lightblue" style="width:100px; background-color:mediumslateblue;" type="relief"
                        @click.stop="back()">
                        Back</vs-button>
                </div>
                <div>
                    <vs-button color="primary" type="border" icon="print" v-on:click="print">Print</vs-button>
                </div>
            </vs-row>
            <vs-divider />
            <div id="printMe">
                <div class="container">
                    <vs-row vs-align="center">
                         <vs-col vs-w="4">
                            <img src="@assets/images/pages/LogoLogin.png" alt="login" style="width:100px; height:auto;">
                        </vs-col>
                        <vs-col class="text-right" vs-w="8">
                            <h3>INVOICE</h3>
                        </vs-col>
                    </vs-row>
                    <vs-divider />

                    <vs-row class="mb-5">
                        <vs-col vs-w="6">
                            <table>
                                <tr>
                                    <td width="70px">No. PO</td>
                                    <td><i># {{ (valuePenjualan ? valuePenjualan.code : '')}}</i></td>
                                </tr>
                                <tr>
                                    <td width="70px">No. SPK</td>
                                    <td><i># {{ (valuePenjualan ? valuePenjualan.code_spk : '')}}</i></td>
                                </tr>
                            </table>
                        </vs-col>
                        <vs-col vs-w="6">
                            <table >
                                <tr>
                                    <td width="70px">Nilai SPK</td>
                                    <td><i># Rp. {{ (valuePenjualan ? (valuePenjualan.pro_order ? valuePenjualan.pro_order.total_project: '' ) : '')  | currency }}</i></td>
                                </tr>
                                <!-- <tr>
                                    <td width="170px">Nilai Realisasi</td>
                                </tr> -->
                            </table>
                        </vs-col>
                    </vs-row>

                     <vs-row class="mb-10">
                        <vs-col vs-w="5">
                           <table>
                            <tr>
                                <td width="100px" class="text-right px-3">MAILING</td>
                                <td>{{$company.name}}</td>
                            </tr>
                            <tr>
                                <td class="text-right px-3"><small>INFO</small></td>
                                <td><small>{{$company.address}}</small></td>
                            </tr>
                           </table>
                        </vs-col>
                        <vs-col vs-w="5" vs-offset="2">
                            <table>
                                <tr>
                                    <td class="text-right px-3" width="100px">BILL</td>
                                    <td>{{(valuePenjualan ? (valuePenjualan.customer ? valuePenjualan.customer.name : '') : '')}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right px-3"><small>TO</small></td>
                                    <td><small>{{(valuePenjualan ? (valuePenjualan.customer ? valuePenjualan.customer.address : '') : '')}}</small></td>
                                </tr>
                           </table>
                        </vs-col>
                    </vs-row>

                    <!-- TABLE PENJUALAN -->
                    <vs-row class="my-5">
                        <vs-col vs-w="12">
                            <vs-table class="table-bordered" stripe :data="penjualans">
                                <template slot="thead">
                                    <vs-th sort-key="no">No</vs-th>
                                    <vs-th sort-key="product">Services</vs-th>
                                    <vs-th sort-key="stok">Qty</vs-th>
                                    <vs-th sort-key="price">Unit</vs-th>
                                    <vs-th class="text-rigth" sort-key="stok">Unit Price (Rp)</vs-th>
                                    <vs-th  sort-key="total">Amount (Rp)</vs-th>
                                </template>

                                <template slot-scope="{data}">
                                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                                        <vs-td :data="indextr + 1 ">
                                            {{indextr + 1}}
                                        </vs-td>

                                        <vs-td width="300px" :data="data[indextr].product.name">
                                            <strong>{{data[indextr].product.name}}</strong>
                                        </vs-td>
                                        <vs-td :data="data[indextr].qty_sm">
                                            <strong>{{data[indextr].qty_sm}}</strong>
                                        </vs-td> 
                                        <vs-td :data="data[indextr].unit_sm">
                                            <strong>{{data[indextr].unit_sm}}</strong>
                                        </vs-td>
                                        <vs-td :data="data[indextr].price_sm">
                                            <strong>{{data[indextr].price_sm | currency}}</strong>
                                        </vs-td>
                                        <vs-td :data="data[indextr].dpp" class="text-right">
                                            <strong>{{data[indextr].dpp | currency}}</strong>
                                        </vs-td>
                                    </vs-tr>
                                    <vs-tr>
                                        <vs-td colspan="5" class="text-right">Total Order</vs-td>
                                        <vs-td class="text-right">
                                            <strong>{{ total | currency}}</strong>
                                        </vs-td>
                                    </vs-tr>
                                    <vs-tr>
                                        <vs-td colspan="5" class="text-right">Total Tax</vs-td>
                                        <vs-td class="text-right"><strong>{{ valuePenjualan.tax | currency }}</strong></vs-td>
                                    </vs-tr>
                                    <vs-tr>
                                        <vs-td colspan="5" class="text-right">Biaya Lain</vs-td>
                                        <vs-td class="text-right"><strong>{{ valuePenjualan.biaya_lain | currency}}</strong></vs-td>

                                    </vs-tr>
                                    <vs-tr>
                                        <vs-td colspan="5" class="text-right">Ongkos Kirim</vs-td>
                                        <vs-td class="text-right"><strong>{{ valuePenjualan.ongkir | currency }}</strong></vs-td>

                                    </vs-tr>
                                    <vs-tr>
                                        <vs-td colspan="5" class="text-right">Grand Total</vs-td>
                                        <vs-td class="text-right"><strong>{{ valuePenjualan.total | currency}}</strong></vs-td>

                                    </vs-tr>
                                </template>
                            </vs-table>
                        </vs-col>
                    </vs-row>

                    <vs-row class="mb-10 my-5">
                        <vs-col vs-offset="6" vs-w="6" class="text-center">
                            <vs-divider class="mt-3 mb-3" />
                                <span >#<i style="text-transform:capitalize;">{{terbilang | capitalize}} Rupiah</i></span> 
                            <vs-divider class="mt-3 mb-5" />
                            
                            <vs-row>
                                <vs-col vs-w="6">
                                    <p class="pb-0 mb-0">KubuRaya, {{ (valuePenjualan ? valuePenjualan.created_at : '')}}</p>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <p>DYAH LISTYO PURWANINGSIH</p>
                                </vs-col>
                                <vs-col vs-w="6">
                                    <p class="pb-0 mb-0">Jatuh Tempo Pembayaran</p>
                                    <br>
                                    <br>
                                    <h3 style="color:red"><strong>{{ (valuePenjualan ? valuePenjualan.due_date : '')}}</strong></h3>
                                    <br>
                                    <br>
                                    <p>Make All Checks Payable To:</p>
                                    <p>BCA/{{$company.name}}</p>
                                </vs-col>
                            </vs-row>
                        </vs-col>
                    </vs-row>
                </div>
            </div>
        </vs-card>
    </div>
</template>

<script>
import angkaTerbilang from '@develoka/angka-terbilang-js';

export default {
    data() {
        return {
            id: null,
            tipe: null,
            valuePenjualan: {},
            terbilang:null,
            total:0,
            penjualans: [],
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData();
    },

    methods: {
        async loadData() {
            this.id = this.$route.params.idPenjualan;
            this.tipe = this.$route.params.tipe;
            var resReadPenjualan = await this.$http.get(this.$baseURL + '/penjualan/penjualan/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var result = resReadPenjualan.data.data;

            this.valuePenjualan = result;
            this.total = (this.valuePenjualan.total + this.valuePenjualan.discount) - this.valuePenjualan.ongkir - this.valuePenjualan.tax - this.valuePenjualan.biaya_lain;
            this.terbilang = angkaTerbilang(this.valuePenjualan.total.toString());

            this.penjualans = result.penjualan_details;
            this.$vs.loading.close();
        },
        print() {
            // Pass the element id here
            this.$htmlToPaper('printMe');
        },
        
        back() {
            this.$router.go(-1);
        },
    }

}
</script>

<style>
    .table-content{
        font-size: 10px;
    }
</style>