<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        <vs-card>
            <vs-row>
                <div class="pr-3">
                    <vs-button color="lightblue" style="width:100px; background-color:mediumslateblue;" type="relief"
                        @click.stop="back()">
                        Back</vs-button>
                </div>
                <div>
                    <vs-button color="primary" type="border" icon="print" v-on:click="print">Print</vs-button>
                </div>
            </vs-row>
            <vs-divider />
            <div id="printMe">
                <div class="container">
                    <vs-row>
                        <vs-col vs-w="1">
                            <!-- <img height="100" src="https://images.pexels.com/photos/3162828/pexels-photo-3162828.jpeg?cs=srgb&dl=person-s-hand-3162828.jpg&fm=jpg" alt=""> -->
                        </vs-col>
                        <vs-col class="text-center" vs-w="11">
                            <h1>CV. Agro Sentosa Jaya</h1>
                            <h6>Jl. Perdana Komplek Bali Agung II No. C1 Pontianak 78121 - Kalimantan Barat - Indonesia
                            </h6>
                            <h6>Telp. +62 561 - 740699, Fax +62 561 - 764205 email : agrosentosajaya@yahoo.com</h6>
                        </vs-col>
                    </vs-row>
                    <!-- <div class="dropdown-divider mb-4"></div> -->
                    <vs-divider />

                    <vs-row class="mb-3">
                        <vs-col class="text-right" vs-w="12">
                            <h5>ORDER PEMBELIAN</h5>
                        </vs-col>

                    </vs-row>
                    <vs-row class="mb-5">
                        <vs-col vs-w="5">
                            <span>Kepada :</span>
                            <p>{{(valuePembelian ? valuePembelian.supplier.name : '')}}</p>
                            <p>{{(valuePembelian ? valuePembelian.supplier.address : '')}}</p>
                        </vs-col>
                        <vs-col vs-w="5" vs-offset="2">
                            <table>
                                <tr>
                                    <td width="70px">PO No. </td>
                                    <td>{{(valuePembelian ? valuePembelian.po_pb_id : '')}}</td>
                                </tr>
                                <tr>
                                    <td>PO Date </td>
                                    <td>{{(valuePembelian ? valuePembelian.created_at : '')}}</td>
                                </tr>
                            </table>

                        </vs-col>
                    </vs-row>

                    <p>Sesuai pembicaraan kita per telepon pada hari ini, maka dengan ini kami sampaikan pesanan sbb:
                    </p>

                    <!-- TABLE PENJUALAN -->
                    <vs-row style="margin-bottom:30px;">
                        <vs-col vs-w="12">
                            <vs-table stripe :data="pembelian">
                                <template slot="thead">
                                    <vs-th sort-key="no">No</vs-th>
                                    <vs-th sort-key="product">Nama Barang</vs-th>
                                    <vs-th sort-key="stok">Spesifikasi Barang</vs-th>
                                    <vs-th sort-key="price">Vol. Order</vs-th>
                                    <vs-th sort-key="stok">Harga Satuan</vs-th>
                                    <vs-th sort-key="price">Total</vs-th>
                                </template>

                                <template slot-scope="{data}">
                                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                                        <vs-td :data="indextr + 1 ">
                                            {{indextr + 1}}
                                        </vs-td>

                                        <vs-td :data="data[indextr].product.name">
                                            <strong>{{data[indextr].product.name}}</strong>
                                        </vs-td>
                                        <vs-td :data="data[indextr].product.pack">
                                            <strong>{{data[indextr].product.pack_qty}}</strong> /
                                            {{data[indextr].product.pack}}
                                        </vs-td>
                                        <vs-td :data="data[indextr].total_sm_qty">
                                            <div
                                                v-if="data[indextr].volume.order.qty >= 1000 && data[indextr].volume.order.unit === 'ml' || data[indextr].volume.order.unit === 'g'">
                                                <strong>{{data[indextr].volume.order.qty / 1000}}</strong> / <span
                                                    v-if="data[indextr].volume.order.unit === 'ml'">lt</span> <span
                                                    v-if="data[indextr].volume.order.unit === 'g'">Kg</span>
                                            </div>

                                            <div v-else><strong>{{data[indextr].volume.order.qty}}</strong> /
                                                {{data[indextr].volume.order.unit}}</div>
                                        </vs-td>
                                        <vs-td :data="data[indextr].price_sm">
                                            <strong>{{data[indextr].price_sm | currency}}</strong>
                                        </vs-td>
                                        <vs-td :data="data[indextr].dpp" class="text-right">
                                            <strong>{{data[indextr].dpp | currency}}</strong>
                                        </vs-td>
                                    </vs-tr>
                                    <vs-tr>
                                        <vs-td colspan="5" class="text-right">Jumlah</vs-td>
                                        <vs-td class="text-right">
                                            {{(valuePembelian ? valuePembelian.total : '') | currency}}</vs-td>
                                    </vs-tr>

                                    <vs-tr>
                                        <vs-td colspan="5" class="text-right">Total</vs-td>
                                        <vs-td class="text-right">
                                            {{(valuePembelian ? valuePembelian.total : '') | currency}}</vs-td>
                                    </vs-tr>
                                </template>
                            </vs-table>
                        </vs-col>
                    </vs-row>

                    <vs-row class="mb-10">
                        <vs-col vs-w="6" class="border">
                            <p><strong>Syarat & Kondisi Pembelian :</strong></p>

                            <!-- <p>{{(valuePembelian ? valuePembelian.notes : '')}}</p> -->
                            <p><small>- Pembayaran :
                                    {{(valuePembelian.toc ? valuePembelian.toc.payment_terms : '')}}</small>
                            </p>

                            <p><small>- Penyerahan Barang :
                                    {{(valuePembelian.toc ? valuePembelian.toc.stb_desc : '')}}</small>
                            </p>

                            <p><small>- Jadwal Pengambilan Barang :
                                    {{(valuePembelian.toc ? valuePembelian.toc.retv_schedule : '')}}</small>
                            </p>
                        </vs-col>
                        <vs-col vs-offset="2" vs-w="4" class="text-center">
                            <p class="pb-0 mb-0">Pontianak, {{(valuePembelian ? valuePembelian.created_at : '')}}</p>
                            <p class="pb-0 mb-0">CV. AGRO SENTOSA JAYA</p>
                            <br>
                            <br>
                            <br>
                            <br>
                            <p>Ian .S</p>
                        </vs-col>
                    </vs-row>
                </div>
            </div>
        </vs-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            id: null,
            valuePembelian: null,
            pembelian: [],
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData();
    },

    methods: {
        async loadData() {
            this.id = this.$route.params.idPembelian;
            var resReadPembelian = await this.$http.get(this.$baseURL + '/pembelian/po/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var result = resReadPembelian.data.data;
            // console.log(result);
            this.valuePembelian = result;
            this.pembelian = result.po_pembelian_details;
            this.$vs.loading.close();
        },
        print() {
            // Pass the element id here
            this.$htmlToPaper('printMe');
        },
        back() {
            this.$router.go(-1);
        },
    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>