<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        <vs-card>
            <vs-row>
                <div class="pr-3">
                    <vs-button color="lightblue" style="width:100px; background-color:mediumslateblue;" type="relief"
                        @click.stop="back()">
                        Back</vs-button>
                </div>
                <div>
                    <vs-button color="primary" type="border" icon="print" v-on:click="print">Print</vs-button>
                </div>
            </vs-row>
            <vs-divider />
            <div id="printMe">
                <div class="container">
                    <vs-row>
                        <!-- <vs-col vs-w="1">
                            <img height="100" src="https://images.pexels.com/photos/3162828/pexels-photo-3162828.jpeg?cs=srgb&dl=person-s-hand-3162828.jpg&fm=jpg" alt="">
                        </vs-col> -->
                        <vs-col class="text-right" vs-w="12">
                            <h3>SURAT JALAN</h3>
                            <!-- <h6>Jl. Perdana Komplek Bali Agung II No. C1 Pontianak 78121 - Kalimantan Barat - Indonesia
                            </h6>
                            <h6>Telp. +62 561 - 740699, Fax +62 561 - 764205 email : agrosentosajaya@yahoo.com</h6> -->
                        </vs-col>
                    </vs-row>
                    <!-- <div class="dropdown-divider mb-4"></div> -->
                    <vs-divider />

                    <vs-row class="mb-3">
                        <vs-col class="text-center" vs-w="12">
                            <!-- <h5><u>SURAT JALAN</u></h5> -->
                            <!-- <p>{{code}}</p> -->
                        </vs-col>

                    </vs-row>
                    <vs-row class="mb-5">
                        <vs-col vs-w="4">
                            <span>{{$company.name}}</span>
                            <tr>
                                <td width="100px">NO. SJ </td>
                                <td># {{code}}</td>
                            </tr>
                            <tr>
                                <td>NO. SPK </td>
                                <td># </td>
                            </tr>
                            <tr>
                                <td>NO. POLISI </td>
                                <td># </td>
                            </tr>
                            <tr>
                                <td>NAMA SUPIR</td>
                                <td># </td>
                            </tr>
                            <!-- <p>{{(valuePembelian ? valuePembelian.customer.name : '')}}</p>
                            <p>{{(valuePembelian ? valuePembelian.customer.address : '')}}</p> -->
                        </vs-col>
                        <vs-col vs-w="4">
                            <tr>
                                <td width="70px">MAILING</td>
                                <td>{{$company.name}}</td>
                            </tr>
                            <tr>
                                <td>INFO</td>
                                <td>{{(valuePembelian ? valuePembelian.customer.address : '')}}</td>
                            </tr>
                        </vs-col>
                        <vs-col vs-w="4">
                             <tr>
                                <td width="70px">DELIVER</td>
                                <td>
                                    <p>{{(valuePembelian ? valuePembelian.customer.name : '')}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>INFO</td>
                                <td>
                                    <p>{{(valuePembelian ? valuePembelian.customer.address : '')}}</p>
                                </td>
                            </tr>
                        </vs-col>
                    </vs-row>

                    <!-- TABLE PENJUALAN -->
                    <vs-row style="margin-bottom:30px;">
                        <vs-col vs-w="12">
                            <vs-table stripe :data="pembelian">
                                <template slot="thead">
                                    <vs-th sort-key="no">No</vs-th>
                                    <vs-th sort-key="product">Kode Barang</vs-th>
                                    <vs-th sort-key="product">Nama Barang</vs-th>
                                    <vs-th sort-key="stok">Qty</vs-th>
                                    <vs-th sort-key="price">Unit</vs-th>
                                </template>

                                <template slot-scope="{data}">
                                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                                        <vs-td :data="indextr + 1 ">
                                            {{indextr + 1}}
                                        </vs-td>
                                        <vs-td :data="data[indextr].product.code">
                                            <strong>{{data[indextr].product.code}}</strong>
                                        </vs-td>
                                        <vs-td :data="data[indextr].product.name">
                                            <strong>{{data[indextr].product.name}}</strong>
                                        </vs-td>
                                        <vs-td :data="data[indextr].recv_qty_sm">
                                            <strong>{{data[indextr].recv_qty_sm}}</strong>
                                        </vs-td>
                                        <vs-td :data="data[indextr].unit_sm">
                                            {{data[indextr].unit_sm}}
                                        </vs-td>
                                    </vs-tr>
                                </template>
                            </vs-table>
                        </vs-col>
                    </vs-row>

                    <vs-row class="mb-10">
                        <vs-col vs-w="8" class="text-center">
                            <p class="pb-0 mb-0">{{$company.name}}</p>
                            <vs-row>
                                <vs-col vs-w="6">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <p class="pb-0 mb-0">Pengemudi</p>
                                    <p>___________________________</p>
                                </vs-col>
                                <vs-col vs-w="6">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <p class="pb-0 mb-0">Admin Project</p>
                                    <p>xxx</p>
                                </vs-col>
                            </vs-row>
                            <vs-row>
                                <vs-col vs-w="6">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <p class="pb-0 mb-0">Disetujui</p>
                                    <p>xxx</p>
                                </vs-col>
                                <vs-col vs-w="6">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <p class="pb-0 mb-0">Mengetahui</p>
                                    <p>xxx</p>
                                </vs-col>
                            </vs-row>
                        </vs-col>
                        <vs-col vs-w="4" class="text-center">
                            <p class="pb-0 mb-0">Penerima</p>
                            <br>
                            <br>
                            <br>
                            <br>
                            <p>xxx</p>
                        </vs-col>
                    </vs-row>
                </div>
            </div>
        </vs-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            id: null,
            code: null,
            valuePembelian: null,
            pembelian: [],
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData();
    },

    methods: {
        async loadData() {
            this.id = this.$route.params.idSuratjalan;
            var resReadSuratJalan = await this.$http.get(this.$baseURL + '/penjualan/do/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            });

            var result = resReadSuratJalan.data.data;

            var resReadPenjualan = await this.$http.get(this.$baseURL + '/penjualan/penjualan/' + result.penjualan_id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })

            var resultPenjualan = resReadPenjualan.data.data;


            // console.log(result);
            this.code = result.code;
            this.valuePembelian = resultPenjualan;
            this.pembelian = result.delivery_order_details;
            this.$vs.loading.close();
        },
        print() {
            // Pass the element id here
            this.$htmlToPaper('printMe');
        },

        back() {
            this.$router.go(-1);
        },
    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>