<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        <vs-card>
            <vs-row>
                <div class="pr-3">
                    <vs-button color="lightblue" style="width:100px; background-color:mediumslateblue;" type="relief"
                        @click.stop="back()">
                        Back</vs-button>
                </div>
                <div>
                    <vs-button color="primary" type="border" icon="print" v-on:click="print">Print</vs-button>
                </div>
            </vs-row>
            <vs-divider />
            <div id="printMe">
                <div class="container">
                    <vs-row  vs-align="center">
                        <vs-col vs-w="4">
                            <img src="@assets/images/pages/LogoLogin.png" alt="login" style=" width:100px; height:100px;">
                        </vs-col>
                        <vs-col class="text-right" vs-w="8">
                            <h3>PURCHASE ORDER</h3>
                        </vs-col>
                    </vs-row>

                    <vs-divider />
                    <vs-row class="mb-5">
                        <vs-col vs-w="6">
                            <table>
                                <tr>
                                    <td width="70px">No. PO</td>
                                    <td><i># {{ (valuePembelian ? valuePembelian.name : '')}}</i></td>
                                </tr>
                                <tr>
                                    <td width="70px">No. SPK</td>
                                    <td><i># {{ (valuePembelian ? valuePembelian.code_spk : '')}}</i></td>
                                </tr>
                            </table>
                        </vs-col>
                        <vs-col vs-w="6" >
                             <table width="100%" class="text-right">
                                <tr>
                                    <td><i>{{ (valuePembelian ? (valuePembelian.hutang_status === 'unpaid' ? 'Tempo':'Cash') : '')}}</i></td>
                                </tr>
                                <tr>
                                    <td><i>{{ (valuePembelian ? valuePembelian.created_at : '')}}</i></td>
                                </tr>
                            </table>
                        </vs-col>
                    </vs-row>
                    <vs-row class="mb-10">
                        <vs-col vs-w="5">
                           <table>
                            <tr>
                                <td width="100px">MAILING</td>
                                <td>{{$company.name}}</td>
                            </tr>
                            <tr>
                                <td>INFO</td>
                                <td>{{$company.address}}</td>
                            </tr>
                           </table>
                            <!-- <p>
                                TO: <br>
                                {{(valuePembelian ? (valuePembelian.supplier ? valuePembelian.supplier.name : '') : '')}}<br>
                                {{(valuePembelian ? (valuePembelian.supplier ? valuePembelian.supplier.address : '') : '')}}<br>

                            </p> -->
                        </vs-col>
                        <vs-col vs-w="5" vs-offset="2">
                            <!-- <table>
                                <tr>
                                    <td width="70px">PO No. </td>
                                    <td>{{ (valuePembelian ? valuePembelian.po_pb_id : '')}}</td>
                                </tr>
                                <tr>
                                    <td>PO Date </td>
                                    <td>{{(valuePembelian ? valuePembelian.created_at : '')}}</td>
                                </tr>
                                <tr>
                                    <td>TOP </td>
                                    <td>{{(valuePembelian ? (valuePembelian.toc ? valuePembelian.toc.payment_terms : '') : '')}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{(valuePembelian ? (valuePembelian.toc ? valuePembelian.toc.stb : '') : '') | capitalize}} </td>
                                    <td>{{(valuePembelian ? (valuePembelian.toc ? valuePembelian.toc.stb_desc : '') : '')}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ship To</td>
                                    <td>{{(warehouse ? warehouse.address : '')}}
                                    </td>
                                </tr>
                            </table> -->
                            <table>
                                <tr>
                                    <td width="100px">ORDER</td>
                                    <td>{{(valuePembelian ? (valuePembelian.supplier ? valuePembelian.supplier.name : '') : '')}}</td>
                                </tr>
                                <tr>
                                    <td>TO</td>
                                    <td>{{(valuePembelian ? (valuePembelian.supplier ? valuePembelian.supplier.address : '') : '')}}</td>
                                </tr>
                           </table>
                        </vs-col>
                    </vs-row>

                    <!-- TABLE PENJUALAN -->
                    <vs-row class="my-5" style="margin-bottom:30px;">
                        <vs-col vs-w="12">
                            <vs-table stripe class="table-bordered" :data="pembelian">
                                <template slot="thead">
                                    <vs-th sort-key="no">No</vs-th>
                                    <vs-th sort-key="product">Item</vs-th>
                                    <vs-th sort-key="stok">Qty</vs-th>
                                    <vs-th sort-key="price">Unit</vs-th>
                                    <vs-th sort-key="stok">Unit Price (Rp)</vs-th>
                                    <vs-th sort-key="total">Amount (Rp)</vs-th>
                                </template>

                                <template slot-scope="{data}">
                                    <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                                        <vs-td :data="indextr + 1 ">
                                            {{indextr + 1}}
                                        </vs-td>

                                        <vs-td width="300px" :data="data[indextr].product.name">
                                            <strong>{{data[indextr].product.name}}</strong>
                                        </vs-td>
                                        <vs-td :data="data[indextr].qty_sm">
                                            <strong>{{data[indextr].qty_sm}}</strong>
                                        </vs-td>
                                        <vs-td :data="data[indextr].unit_sm">
                                            <strong>{{data[indextr].unit_sm}}</strong>
                                        </vs-td>                                       
                                        <vs-td :data="data[indextr].price_sm">
                                            <strong>{{data[indextr].price_sm | currency}}</strong>
                                        </vs-td>
                                        <vs-td :data="data[indextr].dpp" class="text-right">
                                            <strong>{{data[indextr].dpp | currency}}</strong>
                                        </vs-td>
                                    </vs-tr>
                                    <vs-tr>
                                        <vs-td colspan="5" class="text-right">Total Order</vs-td>
                                        <vs-td class="text-right">
                                             <strong>{{ ((valuePembelian ? valuePembelian.total : 0 ) + (valuePembelian ? valuePembelian.discount : 0 )) - (valuePembelian ? valuePembelian.ongkir : 0 ) - (valuePembelian ? valuePembelian.tax : 0 ) - (valuePembelian ? valuePembelian.biaya_lain : 0 ) | currency}}</strong>
                                        </vs-td>
                                    </vs-tr>
                                    <vs-tr>
                                        <vs-td colspan="5" class="text-right">Total Tax</vs-td>
                                        <vs-td class="text-right">
                                             <strong>{{(valuePembelian ? valuePembelian.tax : 0 ) | currency}}</strong></vs-td>
                                    </vs-tr>
                                     <vs-tr>
                                        <vs-td colspan="5" class="text-right">Biaya Lain</vs-td>
                                        <vs-td class="text-right">
                                             <strong>{{(valuePembelian ? valuePembelian.biaya_lain : 0 ) | currency}}</strong></vs-td>
                                    </vs-tr>
                                     <vs-tr>
                                        <vs-td colspan="5" class="text-right">Ogkos Kirim</vs-td>
                                        <vs-td class="text-right">
                                            <strong> {{(valuePembelian ? valuePembelian.ongkir : 0 ) | currency}}</strong></vs-td>
                                    </vs-tr>
                                    <vs-tr>
                                        <vs-td colspan="5" class="text-right">Grand Total</vs-td>
                                        <vs-td class="text-right">
                                            <strong> {{(valuePembelian ? valuePembelian.total : 0 ) | currency}}</strong></vs-td>
                                    </vs-tr>
                                </template>
                            </vs-table>
                        </vs-col>
                    </vs-row>

                    <vs-row class="mb-10">
                        <vs-col vs-w="8" class="text-center">
                            <p class="pb-0 mb-0">{{$company.name}}</p>
                            <vs-row>
                                <vs-col vs-w="6">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <p class="pb-0 mb-0"></p>
                                    <p></p>
                                </vs-col>
                                <vs-col vs-w="6">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <p class="pb-0 mb-0"></p>
                                    <p></p>
                                </vs-col>
                            </vs-row>
                            <vs-row>
                                <vs-col vs-w="6">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <p class="pb-0 mb-0"></p>
                                    <p></p>
                                </vs-col>
                                <vs-col vs-w="6">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <p class="pb-0 mb-0"></p>
                                    <p></p>
                                </vs-col>
                            </vs-row>
                        </vs-col>
                        <vs-col vs-w="4" class="text-center">
                            <vs-row>
                                <vs-col>
                                    <p class="pb-0 mb-0">{{(valuePembelian ? (valuePembelian.supplier ? valuePembelian.supplier.name : '') : '')}}</p>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <p>Ttd + Cap Supplier</p>
                                </vs-col>
                            </vs-row>
                            <vs-row>
                                <vs-col>
                                    <!-- <p class="pb-0 mb-0">{{(valuePembelian ? (valuePembelian.supplier ? valuePembelian.supplier.name : '') : '')}}</p> -->
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <table>
                                        <tr>
                                            <td class="text-right"> </td>
                                            <td class="px-3"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"></td>
                                            <td class="px-3"></td>
                                        </tr>
                                    </table>
                                </vs-col>
                            </vs-row>
                        </vs-col>
                    </vs-row>
                </div>
            </div>
        </vs-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            id: null,
            warehouse:null,
            valuePembelian: null,
            pembelian: [],
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData();
    },

    methods: {
        async loadData() {
            this.id = this.$route.params.idPembelian;
            var resReadPembelian = await this.$http.get(this.$baseURL + '/pembelian/pembelian/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message)
            })

            var resWarehouse = await this.$http.get(this.$baseURL + '/master/warehouses/' + resReadPembelian.data.data.wh_id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message)
            })

            var result = resReadPembelian.data.data;
            this.warehouse = resWarehouse.data.data;
            this.valuePembelian = result;
            this.pembelian = result.pembelian_details;
            this.$vs.loading.close();
        },
        print() {
            // Pass the element id here
            this.$htmlToPaper('printMe');
        },
        back() {
            this.$router.go(-1);
        },
    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>