<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="">
        <vs-card>
            <vs-row>
                <vs-col vs-w="6">
                    <vs-row>
                        <div class="pr-3">
                            <vs-button color="lightblue" style="width:100px; background-color:mediumslateblue;"
                                type="relief" icon="arrow_back" @click.stop="back()">
                                Back</vs-button>
                        </div>
                        <div class="pr-3">
                            <vs-button color="primary" type="border" icon="print" v-on:click="print">Print</vs-button>
                        </div>
                    </vs-row>
                </vs-col>
                <vs-col vs-w="6">
                    <vs-button class="float-right" color="warning" type="border" icon="arrow_right_alt" v-on:click="next">Lampiran</vs-button>
                </vs-col>
            </vs-row>
            <vs-divider/>
            <div id="printMe">               
                <div class="container">
                    <vs-row>
                        <vs-col class="" vs-w="8">
                            <h1>{{$company.name}}</h1>
                        </vs-col>
                        <vs-col vs-w="4">
                            <p>{{$company.address}}</p>
                            <p>{{$company.phone}}</p>
                        </vs-col>
                    </vs-row>
                    <vs-divider/>
                    <vs-row class="mb-3">
                        <vs-col vs-w="12">
                            <h4><strong>SURAT PENAWARAN</strong></h4>
                        </vs-col>
                        
                    </vs-row>
                    <vs-row class="mb-5">
                        <vs-col vs-w="5" >
                            <table class="mb-5">
                                <tr>
                                    <td width="100px">Nomor</td>
                                    <td>: {{nomor}} </td>
                                </tr>
                                <tr>
                                    <td width="100px">Lamp.</td>
                                    <td>: 1 </td>
                                </tr>
                                <tr>
                                    <td width="100px">Hal</td>
                                    <td>: 1 </td>
                                </tr>
                            </table>

                            <p>Kepada Yth.</p>
                            <p>{{pelanggan}}</p>
                            <p>-Di Tempat</p>
                        </vs-col>
                    </vs-row> 

                    <!-- ISI SURAT -->
                    <vs-row style="margin-bottom:30px;">
                        <vs-col vs-w="12">
                            <p>Dengan hormat,</p>
                            <br>
                            <p>Sebelumnya kami mengucapkan terimakasih atas berkenannya [Bapak/Ibu] memberi kesempatan kepada kami untuk memperkenalkan [{{$company.name}}]. Kami adalah perusahaan yang bergerak dibidang konstruksi. Mulai dari jasa design hingga produksi furniture.</p>
                            <br>
                            <p>Bidang usaha kami mencakup pekerjaan pembangunan perkantoran, cafe, rumah tinggal, apartment, hotel, bangunan publik, bangunan komersil, serta memberikan layanan konsultasi dibidang konstruksi interior, sipil, elektrikal dan plumbing kepada pelanggan kami. Tujuan kami adalah memberikan layanan dan solusi konstruksi terbaik sehingga dapat memberikan kepuasan kepada pelanggan kami.</p>
                            <br>
                            <p>Berdasarkan hasil [{{hasil}}] pada Tanggal [{{date | moment('DD-MM-YYYY')}}], berikut kami sampaikan rincian penawaran Pekerjaan [{{nama}}][Terlampir</p>
                            <br>
                            <p>Demikian surat penawaran ini kami buat untuk kepentingan bisnis antara pihak [Bapak/Ibu] dengan pihak kami, atas perhatian dan kerja sama [Bapak/Ibu] kami sampaikan terima kasih.</p>

                        </vs-col>
                    </vs-row>

                    <vs-row class="mb-10">                     
                        <vs-col vs-offset="8" vs-w="4" class="text-center">
                            <p class="pb-0 mb-0">Hormat kami,</p>                            
                            <br>
                            <br>
                            <br>
                            <br>
                            <p class="pb-0 mb-0"></p>
                            <p>{{$company.name}}</p>
                        </vs-col>
                    </vs-row>
                </div>                
            </div>
        </vs-card>
    </div>    
</template>



<script>

export default {
    
    data() {

        return {
            id:null,
            offer_id:null,
            nomor:null,
            pelanggan:null,
            hasil:null,
            date:null,
            nama:null,
            note:null,
            details:null,
        }
    },
    mounted() {
        // this.$vs.loading({
        //     type: 'radius'
        // });
        this.offer_id = this.$route.params.idPenawaran;
        this.loadDetail();
    },

    methods: {
        async loadDetail() {
            this.$http.get(this.$baseURL + '/project/offer/' + this.offer_id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.details = res.data.data.offer_details;
                this.nomor = res.data.data.nomor;
                this.date = res.data.data.entry_at;
                this.pelanggan = res.data.data.customer.name;
                this.nama = res.data.data.name;
                this.hasil = res.data.data.hasil;
                this.note = res.data.data.note;
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
                if (err.response.data.message == "Unauthenticated") {
                    this.$options.filters.auth(err.response.data.message)
                } else if (err.response.data.message == "Post Failed") {
                    this.promptAlert("danger", "Post Failed", err.response.data.errors)
                } else {
                    this.promptAlert("danger", "Failed", err.response.data.errors)
                }
            });
        },
        print() {
            // Pass the element id here
            this.$htmlToPaper('printMe');
        }, 
        next(){
            this.$router.push('/pages/penawaran/print/lampiran/' + this.offer_id);
        },
        back(){
            this.$router.push('/pages/penawaran');
        },
    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>