<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        <vs-card>
            <vs-row>
                <vs-col>
                    <vs-button color="primary" type="border" icon="print" v-on:click="print">Print</vs-button>
                </vs-col>
            </vs-row>
            <vs-divider />
            <div id="printMe">
                <div class="container">
                    <vs-row>
                        <vs-col class="border p-3">
                            <h3 class="text-center"><u>TANDA TERIMA DOKUMEN TAGIHAN</u></h3>
                            <h3 class="text-right">ASLI</h3>
                            <br>
                            <br>
                            <vs-row class="mb-5">
                                <vs-col vs-w="2">
                                    Telah Terima Dari
                                </vs-col>
                                <vs-col vs-w="10">
                                    <p>: <span class="p-2">CV AGRO SENTOSA JAYA</span></p>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-5">
                                <vs-col vs-w="2">
                                    Dokumen Berupa
                                </vs-col>
                                <vs-col vs-w="10">
                                    <div>
                                        <p>: <span class="p-2" v-html="tandaTerima.dokumen"> </span></p>
                                    </div>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-5">
                                <vs-col vs-w="2">
                                    Catatan Penting
                                </vs-col>
                                <vs-col vs-w="10">
                                    <p>: <span class="p-2">{{tandaTerima.catatan}}</span></p>
                                </vs-col>
                            </vs-row>
                            <vs-row class="mb-10">
                                <vs-col vs-offset="8" vs-w="4" class="text-center">
                                    <p class="pb-0 mb-0">Pontianak, 03 April 2020</p>
                                    <p class="pb-0 mb-0">Diterima Oleh,</p>
                                    <p class="pb-0 mb-0">{{tandaTerima.nama}}</p>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <p><small>(Ttd, nama jelas, cap perusahaan)</small></p>
                                </vs-col>
                            </vs-row>
                            <vs-row>
                                <p class="bg-warning">Mohon tanda terima dokumen ini di fax kembali ke (0561) 764205</p>
                            </vs-row>
                        </vs-col>
                    </vs-row>
                </div>
            </div>
        </vs-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            id: null,
            tandaTerima: {
                nama: null,
                dokumen: null,
                catatan: null,
            },
        }
    },
    mounted() {
        // this.$vs.loading({
        //     type: 'radius'
        // });
        this.loadData();
    },

    methods: {
        loadData() {
            var tandaTerima_temp = JSON.parse(localStorage.tanda);
            this.tandaTerima.dokumen = tandaTerima_temp.dokumen.replace(/-/g, '<br>');
            this.tandaTerima.catatan = tandaTerima_temp.catatan;
            this.tandaTerima.nama = tandaTerima_temp.nama;
        },

        print() {
            // Pass the element id here
            this.$htmlToPaper('printMe');
        }
    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>