<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-customer">  
        <div id="data-list-list-view" class="data-list-container"> 
            <vx-card> 
            <vs-table pagination   :max-items="10" search  :data="cashs"   > 
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"> 
                    <div class="flex flex-wrap-reverse items-center data-list-btn-container"> 
                         
                        <!-- ADD NEW -->
                            <div v-if="createe == true" class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
                                <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                            </div>
                    </div> 
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="date">Date</vs-th>
                    <vs-th sort-key="status">Status</vs-th>
                    <vs-th sort-key="description">Description</vs-th>
                    <vs-th sort-key="fromcoa">From COA</vs-th>
                    <vs-th sort-key="tocoa">To COA</vs-th>
                    <vs-th sort-key="amount">Amount</vs-th>
                    <vs-th sort-key="npwp">By</vs-th>
                    <vs-th sort-key="action">Action</vs-th>
                </template> 
                <template slot-scope="{data}" > 
                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;"> 
                        <vs-td :data="indextr" >
                            {{indextr + 1}} 
                        </vs-td> 
                        <vs-td :data="data[indextr].entry_at">
                            {{data[indextr].entry_at | moment("DD-MM-YYYY")}}
                        </vs-td> 
                        <vs-td :data="data[indextr].type">
                            {{data[indextr].type}}
                        </vs-td>
                        <vs-td :data="data[indextr].description">
                            {{data[indextr].description}}
                        </vs-td>
                        <vs-td :data="data[indextr].from_coa.code">
                            {{data[indextr].from_coa.code}} | {{data[indextr].from_coa.name}} 
                        </vs-td> 
                        <vs-td :data="data[indextr].to_coa.code">
                            {{data[indextr].to_coa.code}} | {{data[indextr].to_coa.name}} 
                        </vs-td> 
                        <vs-td :data="data[indextr].nominal">
                            Rp.{{data[indextr].nominal | currency}}
                        </vs-td> 
                        <vs-td :data="data[indextr].user.username">
                            {{data[indextr].user.username}}
                        </vs-td> 
                        <vs-td >
                            <feather-icon v-if="updatee == true" v-tooltip="'Edit'" icon="EditIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="editData(tr)" /> 
                        </vs-td>
                    </vs-tr> 
                </template> 
            </vs-table>  

            <!-- FORM -->   
            <vs-prompt class="email-compose"
                @cancel="resetPrompt"
                @accept="submitPrompt"
                @close="resetPrompt"
                accept-text = "Submit"  :is-valid="validName" :active.sync="modalPromptActive"  :title="modalTitle">
                <VuePerfectScrollbar class="scroll-area p-2"  :settings="settings" :key="$vs.rtl">
                    <form @submit.prevent v-show="modalTitle == 'Add' || modalTitle=='Edit'"> 
                        <span style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">Date</span> 
                        <datepicker placeholder="Select Date" v-model="form.date"></datepicker> 
                        <vs-input v-model="form.description" label="Description"  class="w-full"/> 
                        
                        <span style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">From</span>
                        <v-select :clearable="true" v-model="form.fromcoa" :getOptionLabel="option => option.name" :options="coaCashOptions"  name="From COA">
                        <template #option="{code, name}">
                                        <cite>{{ code }}</cite> - {{ name }} 
                        </template>
                        </v-select>
                        <span style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">Status</span>
                        <v-select v-model="form.cashstatus" :clearable="true" :options="cashstatusOptions" name="Cash Status"/>
                        <span style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">To</span>
                        <v-select :clearable="true" v-model="form.tocoa" :getOptionLabel="option => option.name" :options="coaOptions"  name="To COA">
                        <template #option="{code, name}">
                                        <cite>{{ code }}</cite> - {{ name }} 
                        </template>
                        </v-select>
                        <vs-input v-model="form.amount" label="Amount"   class="w-full"/> 
                    </form> 
                </VuePerfectScrollbar> 
            </vs-prompt> 

        </vx-card>
        </div> 
    </div> 
</template>



<script>

import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker'; 
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
        
export default{
    components: { 
         vSelect,
         Datepicker,
         VuePerfectScrollbar, 
    },
    data() { 
        return {
            addNewDataSidebar: false,
            activeConfirm: false,
            modalPromptActive:false,
            modalTitle:null,
            createe:null,
            updatee:null,
            deletee:null,
            access:null,
            form:{
                cashId:null,
                date:null,
                cashstatus:null,
                description:null,
                fromcoa:null,
                tocoa:null,
                amount:null,
            }, 
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            },
            cashstatusOptions: [
                "Cash In" , "Cash Out"  
            ],
            coaOptions: [
                "1111 Kas Besar" , "1113 Kas Kecil"  
            ],
            coaCashOptions: [
                "1111 Kas Besar" , "1113 Kas Kecil"  
            ],

            cashs: []
        }
    },
    computed:{
         validName(){
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
            }, 
    },
    created(){ 
    this.$vs.loading({
          type: 'radius'
      });        
      this.loadCOA()
      this.loadData()
      
     }, 
    methods:{  
        async loadCOA(){  
            var com_id = this.$company != null ? this.$company.company_id : "";

           await this.$http.get(this.$baseURL + '/accounting/coa?order=parent&sort=ASC&filter=level|3;fromcode|1.03|<;company_id|'+com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.coaCashOptions = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            });

           await this.$http.get(this.$baseURL + '/accounting/coa?order=parent&sort=ASC&filter=level|3;company_id|'+com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.coaOptions = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            });   

            this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if(this.$route.path == this.access[acc].url){
                         this.createe = this.access[acc].createe;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                } 
               
        }, 

        async loadData(){  
            var com_id = this.$company != null ? this.$company.company_id : "";
           await this.$http.get(this.$baseURL + '/finance/kas?filter=company_id|'+com_id, {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.cashs = res.data.data;
                
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000)); 
               
        }, 

        addNewData() {
         this.resetPrompt();
         this.modalTitle = "Add";
         this.modalPromptActive = true
        }, 
        editData(data)  {
          this.modalTitle = "Edit";
          this.form.cashId = data.kas_id;
          this.form.date = data.entry_at;
          this.form.cashstatus = data.type;
          this.form.description = data.description;
          this.form.fromcoa = data.from_coa;
          this.form.tocoa = data.to_coa;
          this.form.amount = data.nominal;
          this.modalPromptActive = true
        },

        getSuplierData(id){
            //take API suplier data

        },  
        deleteData(coa) {
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to Delete this Cash Data ?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.promptAlert("danger","Cash Deleted","The selected Cash was successfully deleted")
        },
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            if(this.modalTitle == "Add"){

                this.$http.post(this.$baseURL+ '/finance/kas/create',
                this.$qs.stringify({ 
                    date: this.form.date,
                    description: this.form.description,
                    status: this.form.cashstatus,
                    from_coa: this.form.fromcoa.code,
                    to_coa: this.form.tocoa.code,
                    amount: this.form.amount,
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                  this.promptAlert("success","Cash Added","The Cash was successfully Added")
                  this.loadData();
                }).catch(err => {
                if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Posting Failed"){
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again")

                    }
                    console.log(err.response.data.errors);
                });
                
            }else{
                this.$http.put(this.$baseURL+ '/finance/kas/'+this.form.cashId+'/update',
                this.$qs.stringify({ 
                    date: this.form.date,
                    description: this.form.description,
                    status: this.form.cashstatus,
                    from_coa: this.form.fromcoa.code,
                    to_coa: this.form.tocoa.code,
                    amount: this.form.amount,
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                }).then(res => {
                  this.promptAlert("success","Cash Edited","The Cash was successfully Edited") 
                  this.loadData();
                }).catch(err => {
                if(err.response.data.message =="Unauthenticated"){
                        this.$options.filters.auth(false)
                    }else if(err.response.data.message =="Posting Failed"){
                    this.promptAlert("danger","Failed",err.response.data.errors) 
                    }else{
                    this.promptAlert("danger","Failed","Please Try Again")

                    }
                    console.log(err.response.data.errors);
                });
            } 
        },
 
        resetPrompt() {
          this.form.date = null;
          this.form.cashstatus = null;
          this.form.description = null;
          this.form.fromcoa = null;
          this.form.tocoa = null;
          this.form.amount = null;
        } 

    }

}
</script>
<style lang="scss">
//dialog widht 
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: auto;
            max-height: auto;
            // height: 70%;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 75hv;
                } 
            }
        } 
    } 
</style>
