<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">  
        <div id="data-list-list-view" class="data-list-container"> 
            <vx-card> 
            <vs-table pagination :max-items="10" search  :data="tukangs"  >  
                <template slot="thead">
                    <vs-th sort-key="no">no</vs-th>
                    <vs-th sort-key="periode">Periode</vs-th>
                    <vs-th sort-key="workorder">Work Order</vs-th>
                    <vs-th sort-key="description">Description</vs-th>
                    <vs-th sort-key="nominal">Nominal</vs-th>
                    <vs-th sort-key="status">status</vs-th>
                    <vs-th sort-key="action">Action</vs-th>
                </template> 
                <template slot-scope="{data}" > 
                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data"> 
                        <vs-td :data="indextr">
                            {{indextr + 1}}
                        </vs-td> 
                        <vs-td :data="data[indextr].periode">
                            {{data[indextr].periode}}
                        </vs-td>
                        <vs-td :data="data[indextr].work_order">
                            {{data[indextr].work_order}}
                        </vs-td> 
                        <vs-td :data="data[indextr].description">
                            {{data[indextr].description}}
                        </vs-td>
                        <vs-td :data="data[indextr].nominal">
                            Rp.{{data[indextr].nominal | currency}}
                        </vs-td> 
                        <vs-td :data="data[indextr].status">
                            <vs-chip v-if="data[indextr].status === 'paid'" color="success">
                                {{data[indextr].status | capitalize}} 
                            </vs-chip>
                            <vs-chip v-else color="warning">
                                {{data[indextr].status | capitalize}} 
                            </vs-chip>
                        </vs-td> 
                        <vs-td >
                            <feather-icon v-if="data[indextr].status != 'paid'" v-tooltip="'Pay'" icon="PocketIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click="pay(tr)" /> 
                        </vs-td>
                    </vs-tr> 
                </template> 
            </vs-table>    
        </vx-card>
        </div> 
    </div>  
</template> 

<script>
 

export default{ 
    data() { 
        return {  
            tukangs: [] 
        }
    }, 
    created(){
        this.$vs.loading({ type: 'radius' }); 
        this.loadData();
    },
    methods:{
         async loadData() {
            await this.$http.get(this.$baseURL + '/project/absentukang/indexapprove', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).then(res => {
                this.tukangs = res.data.data;     
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close(); 
                console.log(err);
                this.$options.filters.auth(err.response.data.message)  
            })

        }, 
        pay(data) {
           this.$router.push('/pages/reviewgajitukang/'+data.upah_tkg_id)
        },
           
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        submitPrompt() {
            if(this.modalTitle == "Add"){
                console.log("data add");

                this.promptAlert("success","User Added","The User was successfully Added")
            }else{
                console.log("data edited");

                this.promptAlert("success","User Edited","The User was successfully Edited") 
            } 
        },
  

    }

}
</script> 