<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-customer">  
        <div id="data-list-list-view" class="data-list-container"> 
            <vx-card> 
            <vs-table pagination   :max-items="10" search  :data="invoices"   > 
                <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"> 
                    <div class="flex flex-wrap-reverse items-center data-list-btn-container"> 
                         
                         
                    </div> 
                </div>

                <template slot="thead">
                    <vs-th sort-key="no">No</vs-th>
                    <vs-th sort-key="date">Date</vs-th>
                    <vs-th sort-key="code_spk">SPK Code</vs-th>
                    <vs-th sort-key="projectname">Work Order</vs-th>
                    <vs-th sort-key="address">Address</vs-th>
                    <vs-th sort-key="total">Total</vs-th>
                    <vs-th sort-key="paid">Paid</vs-th>
                    <vs-th sort-key="action">Action</vs-th>
                </template> 
                <template slot-scope="{data}" > 
                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;"> 
                        <vs-td :data="indextr" >
                            {{indextr+ 1}} 
                        </vs-td> 
                        <vs-td :data="data[indextr].entry_at">
                            {{data[indextr].entry_at | moment('DD-MM-YYYY')}}
                        </vs-td> 
                        <vs-td :data="data[indextr].code_spk">
                            {{data[indextr].code_spk}}
                        </vs-td>
                        <vs-td :data="data[indextr].work_order">
                            {{data[indextr].work_order}}
                        </vs-td>
                        <vs-td :data="data[indextr].address">
                            {{data[indextr].address}}
                        </vs-td>
                        <vs-td :data="data[indextr].total_project">
                           Rp.{{data[indextr].total_project | currency}}
                        </vs-td> 
                        <vs-td :data="data[indextr].paid">
                            Rp.{{data[indextr].paid | currency}}
                        </vs-td>   
                        <vs-td >
                            <feather-icon v-tooltip="'Paid'" icon="PocketIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" @click.stop="viewData(tr)" /> 
                        </vs-td>
                    </vs-tr> 
                </template> 
            </vs-table>  

            

        </vx-card>
 
        </div> 
    </div> 
</template>



<script>


export default{
    components: { 
    },
    data() { 
        return { 
            activeConfirm: false,
            viewPopUp:false,  
            modalTitle:null,
            form:{
                date:null,
                cashstatus:null,
                description:null,
                fromcoa:null,
                tocoa:null,
                amount:null,
            },
            data:{}, 
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            }, 
            dat: [], 

            invoices: [ ]
        }
    },
    computed:{
         validName(){
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
            }, 
    },
     created(){ 
    this.$vs.loading({ type: 'radius' });         
    this.loadData();
      
     },
    methods:{  
        async loadData(){   
           await this.$http.get(this.$baseURL + '/project/orders?filter=company_id|'+this.$company.company_id+',status|progress', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.invoices = res.data.data;
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)
                }
                console.log(err.data.message);
            });
        },
        addNewData() {
         this.resetPrompt();
         this.modalTitle = "Add";
         this.modalPromptActive = true
        }, 
        editData(data)  {
          this.modalTitle = "Edit";
           
          this.modalPromptActive = true
        },
        viewData(data) {
        this.data.order_id = data.order_id;
        this.data.date = data.entry_at; 
        this.data.spkcode = data.code_spk;
        this.data.projectname = data.work_order;
        this.data.total = data.total_project;    
        this.data.alamat = data.address;    
        this.data.status = data.status;    
        this.data.name = data.customer.name;    
        this.data.phone = data.customer.phone;    
        this.dat = data.order_termins;
        this.$router.push('/pages/invoicedetail/'+data.order_id).catch(() => {}) 
        },
        closePopup(){
            this.viewPopUp = false;
        },
        async tambah(term,idspk)  {
            await this.closePopup();  
            this.$router.push('/pages/term/'+term+'/idspk/'+idspk).catch(() => {}) 
        }, 

        getSuplierData(id){
            //take API suplier data

        },   
        acceptAlert() {
            this.promptAlert("danger","Cash Deleted","The selected Cash was successfully deleted")
        },
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },

         
        submitPrompt() {
            if(this.modalTitle == "Add"){
                console.log("data add");

                this.promptAlert("success","Cash Added","The Cash was successfully Added")
            }else{
                console.log("data edited");

                this.promptAlert("success","Cash Edited","The Cash was successfully Edited") 
            } 
        },
        close(){

        },
        payment(term,idspk){
            this.paid = true;
        }
  

    }

}
</script>
<style lang="scss">
    .con-vs-popup {
        .vs-popup{
            width: 1000px;
        }
    }
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 90%;

            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 95vh;

                }
 
            }
        }
 
    }  

</style>

