<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-customer">  
        <div id="data-list-list-view" class="data-list-container"> 
            <vx-card title="Project Detail" class="mb-base" > 
                    <!-- Avatar -->
                    <div class="vx-row">   
                        <div class="vx-col flex-1" id="account-info-col-1">
                            <table >
                            <tr>
                                <td class="font-semibold">Date :</td>
                                <td> {{ data.date | moment('DD-MM-YYYY')}}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Work Order :</td>
                                <td> {{data.projectname }}</td>
                            </tr> 
                            <tr>
                                <td class="font-semibold">Total :</td>
                                <td>Rp.{{data.total | currency}}</td>
                            </tr>
                            </table>
                        </div> 

                        <!-- Information - Col 2 -->
                        <div class="vx-col flex-1" id="account-info-col-2">
                            <table> 
                            
                            <tr>
                                <td class="font-semibold">Customer :</td>
                                <td>{{ data.name}} {{ data.phone}}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Alamat :</td>
                                <td>{{data.alamat | capitalize }}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">Status :</td>
                                <td>{{data.status}}</td>
                            </tr>  
                            </table>
                        </div>  
                    </div> 
            </vx-card>

            <div class="vx-col w-full"> 
                <vx-card title="Termin" class="mb-base">
                    <table class="w-full"  >
                    <tr v-for="(item, term) in dat" :key="term">
                        <td width="500" class="font-semibold">{{item.name | capitalize}} {{ item.inv_issued != null ? "(" + tglissued(item.inv_issued).format('DD-MM-YYYY')  + ")" : "" }} - {{ item.inv_code != null ?  item.inv_code : "" }}</td>
                        <td width="250" >Rp.{{item.amount | currency}} 
                            <span v-if="item.amount_detail != 0">
                            + other (Rp.{{item.amount_detail | currency}})
                            </span>
                            </td> 
                        <td width="100">
                            <vs-chip v-if="item.paid != 0" color="success">
                                <feather-icon  icon="CheckIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" />
                                Paid
                            </vs-chip>
                        </td>   
                        <td><feather-icon v-if="item.paid == 0 && createe == true && item.inv_issued == null" v-tooltip="'Add Other Services'" icon="PlusIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"  @click.stop="tambah(item.order_t_id,data.order_id)" /></td> 
                        <td><feather-icon v-tooltip="'Print Invoice'" icon="FileTextIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"   @click.stop="createinvoice(item.order_t_id,item)" /></td>
                        <td><feather-icon v-if="item.paid == 0 && updatee == true" v-tooltip="'Paid'" icon="PocketIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"   @click.stop="payment(item.order_t_id,item)" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"> 
                            
                        </td>
                        <td colspan="3" style="text-align:right;height:50px;"> 
                          <vs-button  color="lightblue"  style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>

                        </td>
                    </tr>  
                    </table> 
                </vx-card>
            </div>

               <!-- FORM -->   
            <vs-prompt class="email-compose"
                @cancel="resetPrompt"
                @accept="submitPrompt"
                @close="resetPrompt"
                accept-text = "Submit"  :is-valid="validName" :active.sync="paid" title="Paid">
                    <form @submit.prevent >
                      <div style="padding:25px;">
                      <div style="text-align:center; margin-bottom:40px; margin-top:20px;">
                            <span><h2>Total : Rp. {{this.form.total | currency }}</h2></span>
                        </div> 
                        <div class="vx-row">
                            <div class="vx-col  w-full"> 
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">To</span>
                            <v-select v-model="form.coa" :clearable="false" label="name" :options="coaOptions" name="To COA"/>
                            </div> 
                        </div> 
                      </div>  
                        
                    </form> 
            </vs-prompt> 
        </div> 
    </div> 
</template>



<script>

import vSelect from 'vue-select'

export default{
    components: { 
    vSelect,
    },
    data() { 
        return { 
            msg:"tooltip",
            activeConfirm: false,
            viewPopUp:false,  
            modalTitle:null,
            createe:null,
            updatee:null,
            deletee:null,
            access:null,
            paid:false,
            tglissued: this.$moment,
            form:{
                order_id:null,
                order_t_id:null,
                total:null,
                coa:null,
                date:null,
            },
            data:{}, 
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            }, 
            dat: [], 
            coaOptions:[],

            invoices: [ ]
        }
    },
    computed:{
         validName(){
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
            }, 
    },
     created(){ 
    this.$vs.loading({ type: 'radius' });        
    this.form.order_id = this.$route.params.idorder; 
    this.loadData();
    this.loadCOA();
    this.form.date = new Date();
      
     },
    methods:{  
        async loadCOA(){ 
            this.$http.get(this.$baseURL + '/accounting/coa?filter=level|3;fromcode|1.03|<', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.coaOptions = res.data.data;
                
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
        }, 
         async loadData(){   
           await this.$http.get(this.$baseURL + '/project/orders/'+this.form.order_id+'/read', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.data.order_id = res.data.data.order_id;
                this.data.date = res.data.data.entry_at; 
                this.data.spkcode = res.data.data.code_spk;
                this.data.projectname = res.data.data.work_order;
                this.data.total = res.data.data.total_project;    
                this.data.alamat = res.data.data.address;    
                this.data.status = res.data.data.status;    
                this.data.name = res.data.data.customer.name;    
                this.data.phone = res.data.data.customer.phone;    
                this.dat = res.data.data.order_termins;
                this.$vs.loading.close();
            }).catch(err => {
                this.$vs.loading.close();
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }
                console.log(err.data.message);
            });

            this.access = this.$user.role.role_menus.access;

                for(var acc in this.access){
                     if('pages-invoice' == this.access[acc].slug){
                         this.createe = this.access[acc].createe;
                         this.updatee = this.access[acc].updatee;
                         this.deletee = this.access[acc].deletee;
                     }
                }
         },
        addNewData() {
         this.resetPrompt();
         this.modalTitle = "Add";
         this.modalPromptActive = true
        }, 
        editData(data)  {
          this.modalTitle = "Edit";
           
          this.modalPromptActive = true
        },
        viewData(data) {
        this.data.order_id = data.order_id;
        this.data.date = data.entry_at; 
        this.data.spkcode = data.code_spk;
        this.data.projectname = data.work_order;
        this.data.total = data.total_project;    
        this.data.alamat = data.address;    
        this.data.status = data.status;    
        this.data.name = data.customer.name;    
        this.data.phone = data.customer.phone;    
        this.dat = data.order_termins;
        this.viewPopUp = true
        },
        closePopup(){
            this.viewPopUp = false;
        },
        async tambah(term,idspk)  {
            await this.closePopup();  
            this.$router.push('/pages/term/'+term+'/idspk/'+idspk).catch(() => {}) 
        }, 
  
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        resetPrompt(){

        },
        submitPrompt() { 
         this.$vs.loading({ type: 'radius' });         
        
         var dt = { 
                coa_code:this.form.coa.code, 
                date:this.form.date, 
            }; 
            this.$http.put(this.$baseURL+ '/project/orders/termins/'+this.form.order_t_id+'/pay',
            this.$qs.stringify(dt), {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => { 
                this.promptAlert("success","Payment Recieve","");
                this.loadData();
                this.$vs.loading.close(); 
            }).catch(err => {
                this.$vs.loading.close();
                if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(err.response.data.message)
                }else if(err.response.data.message =="Post Failed"){
                this.promptAlert("danger","Post Failed",err.response.data.errors) 
                }else{
                this.promptAlert("danger","Failed",err.response.data.errors)

                }
            });    
             
        },
        back(){
            this.$router.push('/pages/invoice').catch(() => {})  
        },
        
        close(){

        },
        payment(term,data){
            this.paid = true;
            this.form.order_t_id = data.order_t_id;
            this.form.total = data.amount + data.amount_detail;

        },
        createinvoice(term,data) {
            this.form.order_t_id = data.order_t_id;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan mengeluarkan invoice termin ini?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$http.get(this.$baseURL + '/project/orders/termins/updatecodeinv?order_t_id='+ this.form.order_t_id , {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                 window.open(this.$baseURL2+'/pages/invoiceorder/'+this.form.order_t_id, "_blank"); 
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.promptAlert("danger","Error",err.response.data.message)
            })
        }, 
  
    }

}
</script>
<style lang="scss"> 
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 30%;
            
            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 95vh;

                }
 
            }
        }
 
    }  

</style>

