<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-customer">  
        <div id="data-list-list-view" class="data-list-container"> 
            <vx-card title="Project Detail" class="mb-base" > 
                    <!-- Avatar -->
                    <div class="vx-row">   
                        <div class="vx-col flex-1" id="account-info-col-1">
                            <table >
                            <tr>
                                <td class="font-semibold">Date :</td>
                                <td> {{ data.date | moment('DD-MM-YYYY')}}</td>
                            </tr>
                            <tr>
                                <td class="font-semibold">SPK Code :</td>
                                <td> {{data.spkcode }}</td>
                            </tr> 
                            <tr>
                                <td class="font-semibold">Address :</td>
                                <td> {{data.address }}</td>
                            </tr> 
                            <tr>
                                <td class="font-semibold">Total :</td>
                                <td>Rp.{{data.total | currency}}</td>
                            </tr>
                            </table>
                        </div> 

                        <!-- Information - Col 2 -->
                        <div class="vx-col flex-1" id="account-info-col-2">
                            <table> 
                            
                            <tr>
                                <td class="font-semibold">Vendor :</td>
                                <td>{{ data.vendor}}</td>
                            </tr> 
                            <tr>
                                <td class="font-semibold">Status :</td>
                                <td>{{data.status}}</td>
                            </tr>  
                            </table>
                        </div>  
                    </div> 
            </vx-card>

            <div class="vx-col w-full"> 
                <vx-card title="Details" class="mb-base">
                    <table class="w-full">
                    <tr v-for="(item, term) in dat" :key="term">
                        <td class="font-semibold">{{item.description | capitalize}}</td>
                        <td>{{item.progress}}%   </td> 
                        <td>
                            <span>
                            Rp.{{item.amount | currency}}  

                            </span>
                            &nbsp;
                            
                        </td> 
                        <td>
                            <vs-chip v-if="item.user_pay != null" color="success">
                                <feather-icon  icon="CheckIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current" />
                                Paid
                            </vs-chip>
                        </td>

                        <td><feather-icon v-if="item.user_pay == null" v-tooltip="'Pay'" icon="PocketIcon" svgClasses="w-5 h-5 hover:text-primary stroke-current"   @click.stop="payment(item.order_t_id,item)" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"> 
                            &nbsp;
                        </td>
                        <td colspan="3" style="text-align:right;height:50px;"> 
                          <vs-button  color="lightblue"  style="width:100px; background-color: mediumslateblue;" type="relief"  @click.stop="back()">Back</vs-button>

                        </td>
                    </tr>  
                    </table> 
                </vx-card>
            </div>

               <!-- FORM -->   
            <vs-prompt class="email-compose"
                @cancel="resetPrompt"
                @accept="submitPrompt"
                @close="resetPrompt"
                accept-text = "Pay"  :is-valid="validName" :active.sync="paid" title="Payment">
                    <form @submit.prevent >
                      <div style="padding:25px;">
                      <div style="text-align:center; margin-bottom:40px; margin-top:20px;">
                            <span><h2>Total : Rp. {{this.form.total | currency }}</h2></span>
                        </div> 
                        <div class="vx-row">
                            <div class="vx-col  w-full"> 
                            <span style="font-size:11.9px; color:rgba(0,0,0,0.7); padding-bottom:-5px; margin-left:5px;">From</span>
                            <v-select v-model="form.coa" :clearable="false" label="name" :options="coaOptions" name="To COA"/>
                            </div> 
                        </div> 
                      </div>  
                        
                    </form> 
            </vs-prompt> 
        </div> 
    </div> 
</template>



<script>

import vSelect from 'vue-select'

export default{
    components: { 
    vSelect,
    },
    data() { 
        return { 
            msg:"tooltip",
            activeConfirm: false,
            viewPopUp:false,  
            modalTitle:null,
            paid:false,
            form:{
                borongan_id:null,
                borongan_d_id:null,
                total:null,
                coa:null,
                date:null,
                amount:null, 
            },
            data:{}, 
            settings: {
                maxScrollbarLength: 60,
                wheelSpeed: 0.30,
            }, 
            dat: [], 
            coaOptions:[],

            invoices: [ ]
        }
    },
    computed:{
         validName(){
            // return (this.editValue.remark.length > 0 && this.editValue.amount.length > 0)
            }, 
    },
     created(){ 
    this.$vs.loading({ type: 'radius' });        
    this.form.borongan_id = this.$route.params.idborongan; 
    this.loadData();
    this.loadCOA();  
    this.form.date = new Date(); 
     },
    methods:{  
        async loadCOA(){ 
            this.$http.get(this.$baseURL + '/accounting/coa?filter=level|3;fromcode|1.03|<', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.coaOptions = res.data.data;
                
            }).catch(err => {
                console.log(err.data.message);
            }).finally(() => setTimeout( this.$vs.loading.close(), 2000));  
        }, 
         async loadData(){   
           await this.$http.get(this.$baseURL + '/project/borongan/'+this.form.borongan_id+'/read', {
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).then(res => {
                this.data.date = res.data.data.entry_at; 
                this.data.spkcode = res.data.data.order.code_spk;
                this.data.total = res.data.data.nominal;
                this.data.status = res.data.data.status;    
                this.data.address = res.data.data.order.address;    
                this.data.vendor = res.data.data.vendor.name;    
                this.dat = res.data.data.borongan_details;
                this.$vs.loading.close();
            }).catch(err => {
              if(err.response.data.message =="Unauthenticated"){
                    this.$options.filters.auth(false)``
                }
                console.log(err.data.message);
            });
         },  
 
        acceptAlert() {
            this.promptAlert("danger","Cash Deleted","The selected Cash was successfully deleted")
        },
        promptAlert(type,title,text){
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        resetPrompt(){

        },
        submitPrompt() {
             this.$vs.loading({ type: 'radius' });         
        
                var dt = { 
                        coa_code:this.form.coa.code, 
                        date:this.form.date, 
                    }; 
                    this.$http.put(this.$baseURL+ '/project/borongan/details/'+this.form.borongan_d_id+'/pay',
                    this.$qs.stringify(dt), {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                        }
                    }).then(res => { 
                        this.promptAlert("success","Pay Vendor","");
                        this.loadData();
                        this.$vs.loading.close(); 
                    }).catch(err => {
                        this.$vs.loading.close();
                        if(err.response.data.message =="Unauthenticated"){
                            this.$options.filters.auth(false)
                        }else if(err.response.data.message =="Post Failed"){
                        this.promptAlert("danger","Post Failed",err.response.data.errors) 
                        }else{
                        this.promptAlert("danger","Failed",err.response.data.errors)

                        }
                    });     
        },
        back(){
            this.$router.go(-1)
        },
        close(){

        },
        payment(term,data){
            console.log(data);
            this.paid = true;
            this.form.borongan_d_id = data.borongan_d_id;
            this.form.total = data.amount;

        }
  

    }

}
</script>
<style lang="scss"> 
    .con-vs-dialog.email-compose {
        .vs-dialog {
            max-width: 30%;
            height:300px;
            .vs-dialog-text {
                padding: 0;

                .scroll-area {
                    max-height: 95vh;

                }
 
            }
        }
 
    }  

</style>

