<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        <vx-card ref="filterCard" title="Headers" class="user-list-filters mb-8">
            <vs-row class="mb-4">
                <vs-col vs-w="6" class="pr-3">
                    <vs-input v-model="form.name" ref="name" label="Nama / Reference" disabled class="w-full" />
                </vs-col>
                <vs-col vs-w="6" class="pl-3">
                    <vs-input :disabled="tipe === 'revisi'" v-model="form.invoice" label="Supplier Invoice"
                        class="w-full" />
                </vs-col>
            </vs-row>
            <vs-row class="mb-4">
                <vs-col vs-w="6" class="pr-3">
                    <label class="vs-input--label" for="">Supplier</label>
                    <span>
                        <v-select v-model="form.supplier" :clearable="false" label="name" :disabled="hide"
                            :options="supplierOptions" name="supplier" /> </span>
                </vs-col>
                <vs-col vs-w="6" class="pl-3">
                    <label class="vs-input--label" for="">Warehouse / Gudang</label>
                    <span>
                        <v-select v-model="form.warehouse" :clearable="false" label="name"
                            :reduce="whOptions => whOptions.wh_id" :disabled="hide" :options="whOptions"
                            name="warehouse" @input="loadProduct" />
                    </span>
                </vs-col>

            </vs-row>
            <vs-row class="mb-4">
                <vs-col vs-w="6" class="pr-3">
                    <label class="vs-input--label" for="">Pembayaran</label>
                    <span>
                        <v-select :disabled="tipe === 'revisi'" v-model="form.paymentType" :clearable="false"
                            :options="paymentOptions" name="User" />
                    </span>
                </vs-col>
                <vs-col vs-w="6" class="pl-3" v-if="form.paymentType === 'Credit'">
                    <vs-input :disabled="tipe === 'revisi'" v-model="form.dateexpired" label="Jumlah Hari" type="number"
                        min="0" class="w-full" />
                </vs-col>
                <vs-col vs-w="6" class="pl-3" v-if="form.paymentType === 'Cash'">
                    <label class="vs-input--label" for="">Pembayaran Ke</label>
                    <span>
                        <v-select v-model="form.ke" label="name" :clearable="false"
                            :reduce="keOptions => keOptions.code" :options="keOptions" name="ke">
                            <template #option="{code, name}">
                                <cite>{{ code }}</cite> - {{ name }}
                            </template>
                        </v-select>
                    </span>
                </vs-col>
            </vs-row>
            <vs-row class="mb-4">
                <vs-col vs-w="6" class="pr-3">
                    <label class="vs-input--label" for="">Ongkir (Rp)</label>
                    <div class="vs-con-input">
                        <currency-input :disabled="tipe === 'revisi'" v-model.lazy="form.ongkir" @change="countTotal"
                            :currency="{prefix}" :precision="{min,max}" locale="de"
                            class="vs-inputx vs-input--input normal hasValue" />
                    </div>
                </vs-col>
                <vs-col vs-w="6" class="pl-3">
                    <vs-input :disabled="tipe === 'revisi'" v-model="form.ketOngkir" label="Ket. Ongkir"
                        class="w-full" />
                </vs-col>
            </vs-row>
            <vs-row class="mb-4">
                <vs-col vs-w="6" class="pr-3">
                    <label class="vs-input--label" for="">Biaya Lain (Rp)</label>
                    <div class="vs-con-input">
                        <currency-input :disabled="tipe === 'revisi'" v-model.lazy="form.biayaLain" :currency="{prefix}"
                            :precision="{min,max}" locale="de" @change="countTotal"
                            class="vs-inputx vs-input--input normal hasValue" />
                    </div>
                </vs-col>
                <vs-col vs-w="6" class="pl-3">
                    <vs-input :disabled="tipe === 'revisi'" v-model="form.ketBiayaLain" label="Ket. Biaya Lain"
                        class="w-full" />
                </vs-col>

            </vs-row>
        </vx-card>


        <div>
            <vx-card ref="bodyGL" class="user-list-filters mb-8">
                <div class="vx-row">
                    <vs-col vs-w="3" class="px-3">
                        <span class="vs-input--label">Cari Produk: </span>
                        <v-select class="w-full" v-model="productValue" :clearable="false" label="name"
                            :options="productList" name="productList" @input="selectProduct" />
                    </vs-col>
                    <vs-col vs-w="9">
                        <vs-row>
                            <!-- <vs-input v-model="product.qty_lg" label="Qty LG" min="0" type="number" class="w-1/5" />
                            <span class="w-1/5 my-auto pt-5"> /{{qtyBesar}} </span> -->
                            <vs-col vs-w="2" class="px-3">
                                <vs-input v-model="product.qty_sm" label="Qty" min="0" type="number" class="w-full" />
                            </vs-col>
                            <vs-col vs-w="1" class="px-3 my-auto pt-5">
                                <span class="w-full my-auto pt-5"> {{qtyKecil}} </span>
                            </vs-col>

                            <!-- <div class="vs-input w-1/2 px-1">
                                <label class="vs-input--label" for="">Price (Rp)/ LG</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="product.price_lg" :currency="{prefix}"
                                        :precision="{min,max}" locale="de"
                                        class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </div> -->

                            <vs-col vs-w="3" class="px-3">
                                <label class="vs-input--label" for="">Harga (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="product.price_sm" :currency="{prefix}"
                                        :precision="{min,max}" locale="de"
                                        class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </vs-col>

                            <vs-col vs-w="1" class="pr-3">
                                <div class="my-auto pt-5">
                                    <vs-button :disabled="this.product.id === null" radius color="warning" type="border"
                                        v-tooltip="'History Price'" v-on:click="historyPrice" icon="history">
                                    </vs-button>
                                </div>
                            </vs-col>

                            <vs-col vs-w="3" class="px-3">
                                <label class="vs-input--label" for="">Discount (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="product.disc" :currency="{prefix}" :precision="{min,max}"
                                        locale="de" class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </vs-col>
                            <vs-col vs-w="2" class="px-3">
                                <vs-button color="primary" style="width:100px; margin-top:20px;" class="w-full"
                                    :disabled="product.id === null || tipe === 'revisi'" v-on:click="addProduct"
                                    type="relief">Add
                                </vs-button>
                            </vs-col>
                        </vs-row>
                    </vs-col>

                </div>

                <vs-table v-if="tipe==='approve'" multiple v-model="selected" stripe :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <!-- <vs-th sort-key="stok">Qty LG</vs-th>
                        <vs-th sort-key="price">Price / LG (Rp)</vs-th> -->
                        <vs-th sort-key="stok">Qty</vs-th>
                        <vs-th sort-key="price">Price (Rp)</vs-th>
                        <vs-th sort-key="tax">Tax (%)</vs-th>
                        <vs-th sort-key="discound">Discount (Rp)</vs-th>
                        <vs-th sort-key="total">Total (Rp)</vs-th>
                        <vs-th sort-key=""></vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>

                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>
                            <!-- <vs-td :data="data[indextr].qty_lg">
                                {{data[indextr].qty_lg}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_lg">
                                {{data[indextr].price_lg | currency}}
                            </vs-td> -->
                            <vs-td :data="data[indextr].qty_sm">
                                {{data[indextr].qty_sm}}
                                {{data[indextr].unit_sm}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                {{data[indextr].price_sm | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].tax">
                                {{data[indextr].tax}}
                            </vs-td>
                            <vs-td :data="data[indextr].discount">
                                {{data[indextr].discount | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon icon="EditIcon" v-tooltip="'Edit'"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editPostData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon icon="TrashIcon" v-tooltip="'Delete'"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>

                        </vs-tr>

                    </template>
                </vs-table>


                <!-- SHOW NORMAL EXCEPT APPROVE -->
                <vs-table v-else stripe :data="penjualans">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <!-- <vs-th sort-key="stok">Qty LG</vs-th>
                        <vs-th sort-key="price">Price / LG (Rp)</vs-th> -->
                        <vs-th sort-key="stok">Qty</vs-th>
                        <vs-th sort-key="price">Price (Rp)</vs-th>
                        <vs-th sort-key="tax">Tax (%)</vs-th>
                        <vs-th sort-key="discound">Discount (Rp)</vs-th>
                        <vs-th sort-key="total">Total (Rp)</vs-th>
                        <vs-th sort-key=""></vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>

                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>
                            <!-- <vs-td :data="data[indextr].qty_lg">
                                {{data[indextr].qty_lg}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_lg">
                                {{data[indextr].price_lg | currency}}
                            </vs-td> -->
                            <vs-td :data="data[indextr].qty_sm">
                                {{data[indextr].qty_sm}}
                                {{data[indextr].unit_sm}}

                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                {{data[indextr].price_sm | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].tax">
                                {{data[indextr].tax}}
                            </vs-td>
                            <vs-td :data="data[indextr].discount">
                                {{data[indextr].discount | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>
                            <vs-td>
                                <vs-col vs-w="6">
                                    <feather-icon icon="EditIcon" v-tooltip="'Edit'"
                                        svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editPostData(tr)" />
                                </vs-col>
                                <vs-col vs-w="6">
                                    <feather-icon icon="TrashIcon" v-tooltip="'Delete'"
                                        svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                        @click.stop="deleteData(tr)" />
                                </vs-col>
                            </vs-td>

                        </vs-tr>

                    </template>
                </vs-table>
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3" vs-w="12">
                        <h4>Subtotal: <b>Rp. {{ form.total | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Diskon: <b>Rp. {{ form.totalDiscount | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Tax: <b>Rp. {{ form.totalTax | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Ongkir: <b>Rp. {{ form.ongkir | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Biaya Lain: <b>Rp. {{ form.biayaLain | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ form.grandtotalTemp | currency}}</b></h4>
                    </vs-col>
                </vs-row>

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button style="width:100px; background-color:mediumslateblue;" type="relief"
                            @click.stop="back()">
                            Back</vs-button>
                        <vs-button v-if="tipe !== 'approve'" color="success" style="width:100px;" type="relief"
                            @click.stop="submit()">
                            Submit</vs-button>

                        <!-- SHOW APPROVE ONLY -->
                        <vs-button v-if="tipe === 'approve'" color="warning" style="width:100px;" type="relief"
                            @click.stop="rejectPO()">
                            Reject</vs-button>
                        <vs-button v-if="tipe === 'approve'" color="primary" style="width:100px;" type="relief"
                            @click.stop="approve()">
                            Approve</vs-button>
                    </vs-col>

                </vs-row>


                <div v-if="productValue.name!==null">
                    <vs-prompt v-if="activePrompt2" @cancel="close" @accept="acceptAlert" @close="close"
                        accept-text="Edit" :active.sync="activePrompt2" title="Edit">
                        <div class="con-exemple-prompt">

                            <vs-input label="Product" disabled="true" v-model="productValue.name" class="w-full" />
                            <!-- <vs-row>
                                <vs-input min="0" type="number" label="Qty LG" v-model="productValue.qty_lg"
                                    class="w-1/2" />
                                <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> /
                                    {{productValue.unit_lg}}</span>
                            </vs-row> -->

                            <!-- <div class="vs-input w-full px-1">
                                <label class="vs-input--label" for="">Price (Rp)/ LG</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="productValue.price_lg" :currency="{prefix}" locale="de"
                                        class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </div> -->
                            <vs-row>
                                <vs-input min="0" type="number" label="Qty" v-model="productValue.qty_sm"
                                    class="w-1/2" />
                                <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;">
                                    {{productValue.unit_sm}}</span>
                            </vs-row>

                            <div class="vs-input w-full px-1">
                                <label class="vs-input--label" for="">Harga (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input :disabled="tipe === 'revisi'" v-model="productValue.price_sm"
                                        :currency="{prefix}" :precision="{min,max}" locale="de"
                                        class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </div>
                            <vs-row>
                                <div class="vs-input w-1/2 px-1">
                                    <label class="vs-input--label" for="">Discount (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input :disabled="tipe === 'revisi'" v-model="productValue.discount"
                                            :currency="{prefix}" :precision="{min,max}" locale="de" 
                                            class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </div>
                            </vs-row>
                        </div>
                    </vs-prompt>
                </div>

                <!-- POP-UP REJECT -->
                <vs-prompt v-if="activeReject" @cancel="close" @accept="acceptReject" @close="close"
                    accept-text="Submit" :active.sync="activeReject" :title="modalTitle">
                    <div class="con-exemple-prompt">
                        <vs-row>
                            <vs-input label="Notes" v-model="notes" class="w-full" />
                        </vs-row>
                    </div>
                </vs-prompt>

                <!-- POP-UP HISTORY PRICE -->
                <vs-popup v-if="activeHistory" class="px-3" title="Harga Terakhir" :active.sync="activeHistory">
                    <vs-row>
                        <vs-col vs-w="12">
                            <vs-table stripe :data="prices_history">
                                <template slot="thead">
                                    <vs-th sort-key="code">Invoice</vs-th>
                                    <vs-th sort-key="date">Tanggal</vs-th>
                                    <vs-th sort-key="price_sm">Harga</vs-th>
                                </template>

                                <template slot-scope="{data}">
                                    <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
                                        <vs-td :data="data[indextr].code">
                                            {{data[indextr].code}}
                                        </vs-td>
                                        <vs-td :data="data[indextr].date">
                                            {{data[indextr].date}}
                                        </vs-td>
                                        <vs-td :data="data[indextr].price">
                                            {{data[indextr].price | currency}}
                                        </vs-td>
                                    </vs-tr>
                                </template>
                            </vs-table>
                        </vs-col>
                    </vs-row>
                </vs-popup>

            </vx-card>
        </div>

    </div>
</template>

<script>
import vSelect from 'vue-select'
import VueSimpleSuggest from 'vue-simple-suggest';
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        VueSimpleSuggest,
        vSelect,
        Datepicker
    },
    data() {

        return {
            format_ID: "DD/MM/YYYY",
            disabledDates: {
                customPredictor: function (date) {
                    if (date < new Date()) {
                        return true
                    }
                }
            },
            po: true,
            max: 0,
            min: 0,
            prefix: 'Rp ',
            id: null,
            tipe: null,
            hide: false,
            delete: null,
            edit: [],
            activePrompt2: false,
            activeReject: false,
            activeHistory: false,
            mode: 'input',
            selected: [],
            qtyKecil: null,
            qtyBesar: null,
            notes: null,
            form: {
                dateexpired: null,
                user: null,
                name: null,
                invoice: null,
                supplier: null,
                customer: null,
                warehouse: null,
                paymentType: 'Cash',
                ke: '',
                total: 0,
                totalDiscount: 0,
                totalTax: 0,
                ongkir: 0,
                ketOngkir: '',
                biayaLain: 0,
                biayaLainTemp: 0,
                ketBiayaLain: '',
                ongkirTemp: 0,
                grandtotal: 0,
                grandtotalTemp: 0,
            },
            productValue: {
                name: null,
                product_id: null,
                po_pb_d_id: null,
                qty_lg: 0,
                unit_lg: 0,
                price_lg: 0,
                qty_sm: 0,
                unit_sm: 0,
                price_sm: 0,
                discount: 0,
                tax: 0,
            },
            wh_id: null,
            product: {
                id: null,
                qty_lg: 0,
                qty_sm: 1,
                price_lg: 0,
                price_sm: 0,
                unit: null,
                tax: 10,
                disc: 0,
                // sale:0
            },
            productList: [],
            editValue: {
                product: null,
                qty: 1,
                price: 0,
                // saleprice:0,
                tax: 10,
                disc: 0,
                satuan: null
            },
            unitOptions: [],
            userOptions: [
                "Admin", "Accounting", "Supervisor"
            ],
            whOptions: [],
            supplierOptions: [],
            keOptions: [],
            paymentOptions: [
                "Cash", "Credit"
            ],
            salesOptions: [
                "Kevin", "Andi", "Ricky"
            ],

            penjualans: [],
            pembelian_not: [],
            prices_history: null,
        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
        this.loadData()
    },
    methods: {
        //LOAD AWAL
        async loadData() {
            this.id = this.$route.params.idPembelian;
            this.tipe = this.$route.params.tipe;
            var com_id = this.$company != null ? this.$company.company_id : "1";

            if (this.id > 0) {
                this.loadEdit();
            } else {
                // Init Company ID From Local Storage          
                var resCode = await this.$http.get(this.$baseURL + '/pembelian/po/0/codepo', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    // console.log(err);
                    this.$vs.loading.close();
                    this.$options.filters.auth(err.response.data.message);
                })
                this.form.name = resCode.data.data.code;
            }

            var resSupplier = await this.$http.get(this.$baseURL + '/master/suppliers?filter=company_id|' + com_id, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                // console.log(err);
                this.$vs.loading.close();
                this.$options.filters.auth(err.response.data.message)
            })

            var resKe = await this.$http.get(this.$baseURL + '/accounting/coa', {
                params: {
                    filter: 'level|3;fromcode|1.03|<;company_id|' + com_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                // console.log(err);
                this.$vs.loading.close();
                this.$options.filters.auth(err.response.data.message);
            })

            // Init Company ID From Local Storage          
            var resWarehouse = await this.$http.get(this.$baseURL + '/master/warehouses', {
                params: {
                    filter: 'company_id|' + com_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                // console.log(err);
                this.$vs.loading.close();
                this.$options.filters.auth(err.response.data.message);
            })

            this.whOptions = resWarehouse.data.data;
            this.supplierOptions = resSupplier.data.data;
            this.keOptions = resKe.data.data;

            this.$vs.loading.close();
        },

        //LOAD PRODUCT BERDASAR WAREHOUSE
        async loadProduct(data) {
            var wh_id = data;
            var resProduct = await this.$http.get(this.$baseURL + '/master/products', {
                params: {
                    filter: 'wh_id|' + wh_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close();
                this.$options.filters.auth(err.response.data.message);
            })

            this.productList = resProduct.data.data;
        },

        //LOAD DATA KETIKA FORM UNTUK EDIT
        async loadEdit() {
            this.po = false;
            if (this.tipe !== 'revisi') {
                var resReadPO = await this.$http.get(this.$baseURL + '/pembelian/po/' + this.id + '/read', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message)
                })

                this.penjualans = resReadPO.data.data.po_pembelian_details;
            } else {
                var resReadPO = await this.$http.get(this.$baseURL + '/pembelian/pembelian/' + this.id + '/read', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    this.$vs.loading.close();
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message)
                })

                this.penjualans = resReadPO.data.data.pembelian_details;
            }

            var result = resReadPO.data.data;

            if (result.payment === 'paid') {
                this.form.paymentType = 'Cash';
            }else if(result.payment === 'unpaid' && result.coa_code !== null){
                this.form.paymentType = 'Cash';
            } else {
                this.form.paymentType = 'Credit';
            }

            this.loadProduct(result.wh_id);

            this.form.total = (result.total + result.discount) - result.ongkir - result.biaya_lain - result.tax;
            this.form.warehouse = result.wh_id;
            this.form.name = result.name;
            this.form.ke = (result.coa_code !== null ? result.coa_code: '');
            this.form.dateexpired = result.due_date_day;
            this.form.invoice = result.code;
            this.form.supplier = result.supplier;
            this.form.ongkir = result.ongkir;
            this.form.ongkirTemp = result.ongkir;
            this.form.biayaLain = result.biaya_lain;
            this.form.biayaLainTemp = result.biaya_lain;
            this.form.totalDiscount = result.discount;
            this.form.totalTax = result.tax;
            this.form.user = result.user.user_id;
            this.form.grandtotal = parseInt(result.total);
            this.form.grandtotalTemp = parseInt(result.total);
            // this.penjualans = result.po_pembelian_details;
            this.hide = true;

            this.$vs.loading.close();
        },

        countTotal() {
            this.form.grandtotalTemp = (parseInt(this.form.total) + parseInt(this.form.totalTax) + parseInt(this.form.ongkir) + parseInt(this.form.biayaLain)) - parseInt(this.form.totalDiscount);
        },

        // FUNCTION KETIKA PRODUK DIPILIH
        selectProduct(value) {
            this.unitOptions = null;
            this.product.id = value.product_id;
            var price = value['product_details'][0];
            if (price !== undefined) {
                this.product.price_lg = value.product_details[0].price_lg;
                this.product.price_sm = value.product_details[0].price_sm;

            } else {
                this.product.price_lg = 0;
                this.product.price_sm = 0;
            }

            this.qtyBesar = value.unit_lg;
            this.qtyKecil = value.unit_sm;
        },

        //SHOW POPUP HISTORY PRICE
        async historyPrice() {
            this.$vs.loading({
                type: 'radius'
            });

            this.activeHistory = true;
            var resHistory = await this.$http.get(this.$baseURL + '/master/products/history/purchases', {
                params: {
                    supplier_id: this.form.supplier.supplier_id,
                    product_id: this.product.id,
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })

            this.prices_history = resHistory.data.data.history_price_sm;
            this.$vs.loading.close();
        },

        acceptHistory() {
            this.activeHistory = false;
        },

        // ADD PRODUCT
        addProduct() {

            if (this.form.name === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Nama kosong',
                })
            } else if (this.form.name.length < 6) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Nama minimal 6 karakter',
                })
            } else if (this.form.supplier === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Supplier belum dipilih',                  
                })
            } else if (this.product.price_sm < 1) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Harga tidak boleh kosong',                    
                })
            } else if (this.product.qty_lg < 0 || this.product.qty_sm < 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Quantity tidak diijinkan',                    
                })
            } else if (this.product.qty_lg === 0 && this.product.qty_sm === 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Quantity tidak boleh kosong',
                })
            } else if (this.product.qty_lg === 0 && this.product.qty_sm === 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Quantity tidak boleh kosong',
                })
            } else if (this.penjualans.length > 0) {
                var cek = this.penjualans.find(el => el.product_id === this.product.id);                
                if (cek === undefined) {                    
                    if (this.form.paymentType === 'Cash') {
                        if (this.form.ke === '') {
                            this.$vs.dialog({
                                color: 'danger',
                                title: 'Error',
                                text: 'Tujuan Pembayaran belum dipilih',
                            })
                        } else {
                            this.runAddProduct();
                        }
                    } else {                        
                        if (this.form.dateexpired === null) {
                            this.$vs.dialog({
                                color: 'danger',
                                title: 'Error',
                                text: 'Jumlah Hari Penagihan Masih Kosong',
                            })
                        } else {
                            this.runAddProduct();
                        }
                    }
                } else {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Barang sudah ada',
                    })
                }
            } else {
                if (this.form.paymentType === 'Cash') {
                    if (this.form.ke === '') {
                        this.$vs.dialog({
                            color: 'danger',
                            title: 'Error',
                            text: 'Tujuan Pembayaran belum dipilih',
                        })
                    } else {
                        this.runAddProduct();
                    }
                } else {
                    if (this.form.dateexpired === null) {
                        this.$vs.dialog({
                            color: 'danger',
                            title: 'Error',
                            text: 'Jumlah Hari Penagihan masih kosong',
                        })
                    } else {
                        this.runAddProduct();
                    }
                }
            }
        },

        runAddProduct() {
            // Loading
            this.$vs.loading({
                type: 'radius'
            });

            this.hide = true;
            var product = this.productValue;

            const formData = new FormData();
            formData.append('name', this.form.name);
            formData.append('wh_id', this.form.warehouse);
            formData.append('supplier_id', this.form.supplier.supplier_id);
            formData.append('supplier_inv', this.form.invoice);
            formData.append('payment', this.form.paymentType.toLowerCase());

            // if (this.form.dateexpired === null) {
            //     formData.append('due_date', this.$moment().format(this.format_ID));
            // } else {
            //     formData.append('due_date', this.$moment(this.form.dateexpired).format(this.format_ID));
            // }
            formData.append('due_date', this.form.dateexpired);
            formData.append('coa_code', this.form.ke);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);
            formData.append('details[product_id]', this.product.id);
            formData.append('details[qty_lg]', this.product.qty_lg);
            formData.append('details[qty_sm]', this.product.qty_sm);
            formData.append('details[price_lg]', this.product.price_lg);
            formData.append('details[price_sm]', this.product.price_sm);
            formData.append('details[tax]', this.product.tax);
            formData.append('details[discount]', this.product.disc);

            this.$http.post(this.$baseURL + '/pembelian/po/details/create', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.loadPO(res.data.data.po_pb_id);
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Berhasil ditambahkan'
                })
            }).catch(err => {
                this.$vs.loading.close();
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            });
        },

        //LOAD DATA PEMBELIAN SETELAH CRUD PRODUCT
        async loadPO(value) {
            var resPO = await this.$http.get(this.$baseURL + '/pembelian/po/' + value + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.penjualans = resPO.data.data.po_pembelian_details;
            this.form.total = (resPO.data.data.total + resPO.data.data.discount) - resPO.data.data.ongkir - resPO.data.data.biaya_lain - resPO.data.data.tax;
            this.form.totalDiscount = resPO.data.data.discount;
            this.form.totalTax = resPO.data.data.tax;
            this.form.grandtotal = parseInt(resPO.data.data.total);
            this.form.grandtotalTemp = parseInt(resPO.data.data.total);
            this.form.ongkir = parseInt(resPO.data.data.ongkir);
            this.form.ongkirTemp = parseInt(resPO.data.data.ongkir);
            this.$vs.loading.close();
        },

        addNewData() {
            this.sidebarData = {}
            this.toggleDataSidebar(true)
        },

        editPostData(data) {
            this.productValue.name = data.product.name;
            this.productValue.product_id = data.product.product_id;
            this.productValue.po_pb_d_id = (this.tipe !== 'revisi' ? data.po_pb_d_id : data.pembelian_d_id );
            this.productValue.qty_lg = data.qty_lg;
            this.productValue.unit_lg = data.unit_lg;
            this.productValue.price_lg = data.price_lg;
            this.productValue.qty_sm = data.qty_sm;
            this.productValue.unit_sm = data.unit_sm;
            this.productValue.price_sm = data.price_sm;
            this.productValue.discount = data.discount;
            this.productValue.tax = data.tax;
            this.activePrompt2 = true
        },

        acceptAlert() {
            if (this.form.paymentType === 'Cash') {
                if (this.form.ke === '') {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tujuan Pembayaran belum dipilih',
                    })
                } else {
                    this.runEdit();
                }
            } else {
                if (this.form.dateexpired === null) {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Jumlah Hari Penagihan masih kosong',
                    })
                } else {
                    this.runEdit();
                }
            }
        },

        runEdit() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('name', this.form.name);
            formData.append('wh_id', this.form.warehouse);
            formData.append('supplier_id', this.form.supplier.supplier_id);
            formData.append('supplier_inv', this.form.invoice);
            formData.append('payment', this.form.paymentType.toLowerCase());
            formData.append('due_date', this.form.dateexpired);
            formData.append('coa_code', this.form.ke);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);
            formData.append('details[product_id]', this.productValue.product_id);
            formData.append('details[qty_lg]', this.productValue.qty_lg);
            formData.append('details[qty_sm]', this.productValue.qty_sm);
            formData.append('details[price_lg]', this.productValue.price_lg);
            formData.append('details[price_sm]', this.productValue.price_sm);
            formData.append('details[tax]', this.productValue.tax);
            formData.append('details[discount]', this.productValue.discount);
            formData.append('_method', 'PUT');

            if(this.tipe !== 'revisi'){
                this.$http.post(this.$baseURL + '/pembelian/po/details/' + this.productValue.po_pb_d_id + '/update', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {

                    this.loadPO(res.data.data.po_pb_id)

                    this.$vs.notify({
                        color: 'success',
                        title: 'Success',
                        text: 'Berhasil Diubah'
                    })
                }).catch(err => {
                    this.$vs.loading.close();
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.activePrompt2 = false;
                })
            }else{
                const formData_rev = new FormData();
                formData_rev.append('execute', 'general');
                formData_rev.append('qty_lg', this.productValue.qty_lg);
                formData_rev.append('qty_sm', this.productValue.qty_sm);

                this.$http.post(this.$baseURL + '/pembelian/pembelian/revisi/detail/' + this.productValue.po_pb_d_id + '/update', formData_rev, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {

                    this.loadEdit();

                    this.$vs.notify({
                        color: 'success',
                        title: 'Success',
                        text: 'Berhasil Diubah'
                    })
                }).catch(err => {
                    this.$vs.loading.close();
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.activePrompt2 = false;
                })
            }
        },

        close() {
            this.activePrompt2 = false;
        },

        deleteData(data) {
            this.delete = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan dihapus?',
                accept: this.acceptAlert1
            })
        },

        acceptAlert1() {
            this.$vs.loading({
                type: 'radius'
            });
            this.$http.delete(this.$baseURL + '/pembelian/po/details/' + this.delete.po_pb_d_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.loadEdit();
                this.id = this.delete.po_pb_id;
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Berhasil dihapus'
                })

                // if (this.po) {
                //     this.loadPO(this.delete.po_pb_id);
                // } else {
                    // this.loadEdit();
                // }
            }).catch(err => {
                this.$vs.loading.close();
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
                console.log(err);
                this.$options.filters.auth(err.response.data.message)
            })
        },

        submit() {
            if (this.penjualans.length <= 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Barang Kosong',
                })
            } else if (this.form.paymentType === 'Cash') {

                if (this.form.ke === '') {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tujuan Pembayaran belum dipilih',
                    })
                } else {
                    this.$vs.dialog({
                        type: 'confirm',
                        color: 'warning',
                        title: `Confirm`,
                        text: 'Anda yakin sudah sesuai?',
                        accept: this.acceptSubmit
                    })
                }
            } else if (this.form.paymentType === 'Credit') {
                if (this.form.dateexpired === null) {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Jumlah Hari Penagihan masih kosong',
                    })
                } else {
                    this.acceptSubmit();
                }
            } else {
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: `Confirm`,
                    text: 'Anda yakin sudah sesuai?',
                    accept: this.acceptSubmit
                })
            }

        },

        acceptSubmit() {
            const formData = new FormData();
            formData.append('name', this.form.name);
            formData.append('wh_id', this.form.warehouse);
            formData.append('supplier_id', this.form.supplier.supplier_id);
            formData.append('supplier_inv', this.form.invoice);
            formData.append('payment', this.form.paymentType.toLowerCase());
            // if (this.form.dateexpired === null) {
            //     formData.append('due_date', this.$moment().format(this.format_ID));
            // } else {
            //     formData.append('due_date', this.$moment(this.form.dateexpired).format(this.format_ID));
            // }
            formData.append('due_date', this.form.dateexpired);
            formData.append('coa_code', this.form.ke);
            formData.append('ongkir', this.form.ongkir);
            formData.append('ongkir_desc', this.form.ketOngkir);
            formData.append('biaya_lain', this.form.biayaLain);
            formData.append('biaya_lain_desc', this.form.ketBiayaLain);

            this.$vs.loading({
                type: 'radius'
            });

            if (this.id > 0) {
                if(this.tipe !== 'revisi'){
                    formData.append('_method', 'PUT');
                    this.$http.post(this.$baseURL + '/pembelian/po/' + this.id + '/update', formData, {
                        headers: {
                            Authorization: 'Bearer ' + this.$token,
                        }
                    }).then(res => {
                        this.$router.push('/pages/viewpembeliandetail/' + res.data.data.po_pb_id + '/po');
                    }).catch(err => {
                        this.$vs.loading.close();
                        this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        });
                        console.log(err);
                        this.$options.filters.auth(err.response.data.message);
                    })
                }else{
                    this.$http.post(this.$baseURL + '/pembelian/pembelian/revisi/' + this.id + '/submit', {
                        headers: {
                            Authorization: 'Bearer ' + this.$token,
                        }
                    }).then(res => {
                        this.$router.push('/pages/viewpembeliandetail/' + res.data.data.pembelian_id + '/order');
                    }).catch(err => {
                        this.$vs.loading.close();
                        this.$vs.notify({
                            color: 'danger',
                            title: 'Error',
                            text: err.response.data.message
                        });
                        console.log(err);
                        this.$options.filters.auth(err.response.data.message);
                    })
                }
            } else {
                this.$http.post(this.$baseURL + '/pembelian/po/create', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/viewpembeliandetail/' + res.data.data.po_pb_id + '/po');
                }).catch(err => {
                    this.$vs.loading.close();
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })
            }
        },

        approve() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Yakin untuk dikonfirmasi?',
                accept: this.acceptApprove
            })
        },

        acceptApprove() {
            if (this.selected.length <= 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Barang belum dipilih',

                })
            } else if (this.form.paymentType === 'Cash') {

                if (this.form.ke === '') {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Tujuan Pembayaran belum dipilih',
                    })
                } else {
                    this.runApprove();
                }
            } else {
                if (this.form.dateexpired === null) {
                    this.$vs.dialog({
                        color: 'danger',
                        title: 'Error',
                        text: 'Jumlah Hari Penagihan masih kosong',
                    })
                } else {
                    this.runApprove();
                }
            }
        },

        runApprove() {
            this.$vs.loading({
                type: 'radius'
            });
            const formData = new FormData();
            for (let index = 0; index < this.selected.length; index++) {
                formData.append('details[' + index + '][id]', this.selected[index].po_pb_d_id);
            }
            formData.append('execute', 'approved');
            formData.append('approved[payment]', this.form.paymentType.toLowerCase());
            // if (this.form.dateexpired === null) {
            //     formData.append('approved[due_date]', this.$moment().format(this.format_ID));
            // } else {
            //     formData.append('approved[due_date]', this.$moment(this.form.dateexpired).format(this.format_ID));
            // }
            formData.append('approved[due_date]', this.form.dateexpired);
            formData.append('approved[coa_code]', this.form.ke);
            formData.append('approved[ongkir]', this.form.ongkir);
            formData.append('approved[ongkir_desc]', this.form.ketOngkir);
            formData.append('approved[biaya_lain]', this.form.biayaLain);
            formData.append('approved[biaya_lain_desc]', this.form.ketBiayaLain);
            formData.append('approved[supplier_inv]', this.form.invoice);

            this.$http.post(this.$baseURL + '/pembelian/po/' + this.id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/pembelian/');
            }).catch(err => {
                this.$vs.loading.close();
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })
        },

        rejectPO() {
            this.activeReject = true;
            this.modalTitle = 'Reject';
        },

        acceptReject() {
            if (this.modalTitle === 'Reject') {
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: `Confirm`,
                    text: 'Yakin akan menolak ini?',
                    accept: this.acceptRejectPO
                })
            } else {
                this.$vs.dialog({
                    type: 'confirm',
                    color: 'warning',
                    title: `Confirm`,
                    text: 'Yakin akan menghapus ini',
                    accept: this.acceptDeletePO
                })
            }
        },

        acceptRejectPO() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            formData.append('execute', 'rejected');
            formData.append('rejected', 1);
            formData.append('notes', this.notes);

            this.$http.post(this.$baseURL + '/pembelian/po/' + this.id + '/do_action', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/po');
            }).catch(err => {
                this.$vs.loading.close();
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })
        },

        clearData() {
            this.product.id = null;
            this.product.qty_lg = 0;
            this.product.qty_sm = 1;
            this.product.price_lg = 0;
            this.product.price_sm = 0;
            this.product.disc = 0;
        },

        clearValMultiple() {
            // this.editValue.product = null;
            // this.editValue.qty = null;
            // this.editValue.price = null;
            // this.editValue.satuan = null;
            // this.editValue.tax = null;
            // this.editValue.disc = null;
        },

        back() {
            this.$router.go(-1);
        },

        savePO() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Yakin sudah sesuai?',
                accept: this.acceptSubmit
            })
        },
    }
}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>