<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div>
        <vx-card ref="filterCard" class="user-list-filters mb-8">
            <div class="vx-row">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin:5px; "> Invoice: </span> <br>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{(pembelianAll ? pembelianAll.code : '')}}</h4>
                    </span>
                </div>
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin:5px; ">Date</span> <br>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">{{(pembelianAll ? pembelianAll.created_at : '')}}
                        </h4>
                    </span>
                </div>
            </div>
            <div class="vx-row mt-5">
                <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px; "> Supplier: </span>
                    <span>
                        <h4 style="margin-top:10px; margin-left:10px;">
                            {{(pembelianAll ? (pembelianAll.supplier ? pembelianAll.supplier.name : '') : '')}}</h4>
                    </span>
                </div>
                <!-- <div class="vx-col md:w-1/2 sm:w-1/2 w-full" style="padding-top:5px;">
                    <span style="font-size:11.9px; color:rgba(0,0,0,0.7); margin-left:5px;"> status: </span>
                    <br>
                    <span>
                        <vs-chip v-if="pembelianAll.faktur === 'paid'" color="success">
                            <h4>{{pembelianAll.faktur | capitalize}}</h4>
                        </vs-chip>
                        <vs-chip v-else color="warning">
                            <h4>{{pembelianAll.faktur | capitalize}}</h4>
                        </vs-chip>
                        
                    </span>
                </div> -->
            </div>
        </vx-card>


        <!-- NOTES -->
        <!-- <vs-card
            v-if="pembelianAll.faktur !== 'unactived' && pembelianAll.faktur !== 'approved' && pembelianAll.faktur !== 'pending' && pembelianAll.faktur !== 'unverified'"
            class="p-0 mb-8">
            <vs-collapse>
                <vs-collapse-item>
                    <div slot="header">
                        <span>Notes</span>
                    </div>
                    <h5>{{pembelianAll.notes}}</h5>
                </vs-collapse-item>
            </vs-collapse>
        </vs-card> -->
        <!-- END NOTES -->

        <div>
            <vx-card ref="bodyGL" class="user-list-filters mb-8">
                <div>
                </div>
                <vs-table stripe ref="table" :data="pembelians">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between"
                        style="margin-bottom:50px;">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                        </div>
                    </div>
                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="product">Product</vs-th>
                        <vs-th sort-key="stok">Qty</vs-th>
                        <vs-th sort-key="price">Price (Rp)</vs-th>
                        <!-- <vs-th sort-key="stok">Qty LG</vs-th>
                        <vs-th sort-key="price">Price / LG (Rp)</vs-th> -->
                        <vs-th sort-key="tax">Tax (%)</vs-th>
                        <vs-th sort-key="discound">Discount (Rp)</vs-th>
                        <vs-th sort-key="total">Total (Rp)</vs-th>
                        <!-- <vs-th sort-key=""></vs-th> -->

                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                            <vs-td :data="indextr+1">
                                {{indextr+1}}
                            </vs-td>

                            <vs-td :data="data[indextr].product.name">
                                {{data[indextr].product.name}}
                            </vs-td>
                            <vs-td :data="data[indextr].qty_sm">
                                {{data[indextr].qty_sm}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_sm">
                                {{data[indextr].price_sm | currency}}
                            </vs-td>
                            <!-- <vs-td :data="data[indextr].qty_lg">
                                {{data[indextr].qty_lg}}
                            </vs-td>
                            <vs-td :data="data[indextr].price_lg">
                                {{data[indextr].price_lg | currency}}
                            </vs-td> -->
                            <vs-td :data="data[indextr].tax">
                                {{data[indextr].tax}}
                            </vs-td>
                            <vs-td :data="data[indextr].discount">
                                {{data[indextr].discount | currency}}
                            </vs-td>
                            <vs-td :data="data[indextr].amount">
                                {{data[indextr].amount | currency}}
                            </vs-td>
                            <!-- <vs-td>
                                <vs-col vs-w=6>
                                    <feather-icon icon="EditIcon" v-tooltip="'Edit'" svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                        @click.stop="editData(tr)" />
                                </vs-col>
                                <vs-col vs-w=6>
                                    <feather-icon icon="TrashIcon" v-tooltip="'Delete'" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                        class="ml-2" @click.stop="deleteData(tr)" />
                                </vs-col>
                                <feather-icon icon="TrashIcon" svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                    class="ml-2" @click.stop="deleteData(tr)" />
                            </vs-td> -->
                        </vs-tr>

                    </template>
                </vs-table>
                <vs-row class="mt-5">
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Subtotal: <b>Rp. {{ total | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Diskon: <b>Rp. {{ totalDiscount | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Tax: <b>Rp. {{ totalTax | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Ongkir: <b>Rp. {{ ongkir | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Biaya Lain: <b>Rp. {{ biaya_lain | currency}}</b></h4>
                    </vs-col>
                    <vs-col class="text-right mb-3" vs-w="12">
                        <h4>Grandtotal: <b>Rp. {{ grandtotal | currency}}</b></h4>
                    </vs-col>
                </vs-row>

                <vs-divider />
                <vs-row class="mt-5">
                    <vs-col class="text-right pt-5 mb-3 float-right" vs-w="12">
                        <vs-button color="lightblue" style="width:100px;" type="relief" @click.stop="back()">Back
                        </vs-button>
                        <!-- <vs-button color="success" style="width:100px;" type="relief" @click.stop="delete()">
                            Delete
                        </vs-button>-->
                        <vs-button color="warning" style="width:100px;" type="relief" @click.stop="reject()">
                            Reject
                        </vs-button>
                        <vs-button color="success" style="width:100px;" type="relief" @click.stop="submit()">
                            Approve
                        </vs-button>
                    </vs-col>

                </vs-row>

                <div v-if="productValue!==null">
                    <vs-prompt v-if="activePrompt2" @cancel="close" @accept="acceptEdit" @close="close"
                        accept-text="Edit" :active.sync="activePrompt2" title="Edit">
                        <div class="con-exemple-prompt">

                            <vs-input label="Product" disabled="true" v-model="productValue.product.name"
                                class="w-full px-1  " />
                            <vs-row class="px-1 mb-2">
                                <vs-input label="Qty SM" min="0" type="number" v-model="productValue.qty_sm"
                                    class="w-1/2" />
                                <span class="w-1/2 my-auto" style="padding-top:15px;padding-left:20px;"> /
                                    {{productValue.unit_sm}}</span>
                            </vs-row>
                            <div class="vs-input w-full px-1 mb-2">
                                <label class="vs-input--label" for="">Harga (Rp)</label>
                                <div class="vs-con-input">
                                    <currency-input v-model="productValue.price_sm" :currency="{prefix}" locale="de"
                                        :precision="{min,max}" class="vs-inputx vs-input--input normal hasValue" />
                                </div>
                            </div>


                            <vs-row>
                                <div class="vs-input w-full px-1 mb-2">
                                    <label class="vs-input--label" for="">Diskon (Rp)</label>
                                    <div class="vs-con-input">
                                        <currency-input v-model="productValue.discount" :currency="{prefix}" locale="de"
                                            :precision="{min,max}" class="vs-inputx vs-input--input normal hasValue" />
                                    </div>
                                </div>

                            </vs-row>
                        </div>
                    </vs-prompt>
                </div>


            </vx-card>
        </div>

        <!-- POP-UP Reject -->
        <vs-prompt v-if="activeReject" @cancel="close" @accept="acceptReject" @close="close" accept-text="Submit"
            :active.sync="activeReject" :title="modalTitle">
            <div class="con-exemple-prompt">
                <vs-row>
                    <vs-input label="Notes" v-model="notes" class="w-full" />
                </vs-row>
            </div>
        </vs-prompt>

    </div>
</template>



<script>
export default {
    data() {

        return {
            format_ID: "DD/MM/YYYY",
            activeReject: false,
            modalTitle: 'Reject',
            max: 0,
            min: 0,
            prefix: 'Rp ',
            activePrompt2: false,
            mode: 'input',
            selected: [],
            code: null,
            id: null,
            payment: null,
            notes: 'notes',
            ongkir: 0,
            biaya_lain: 0,
            total: 0,
            totalDiscount: 0,
            totalTax: 0,
            grandtotal: 0,
            productValue: null,
            pembelianAll: null,
            pembelians: [],

        }
    },
    mounted() {
        this.$vs.loading({
            type: 'radius'
        });

        this.loadData();
    },
    methods: {
        async loadData() {

            this.id = this.$route.params.idPembelian;

            var resPembelian = await this.$http.get(this.$baseURL + '/pembelian/pembelian/' + this.id + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.total = (resPembelian.data.data.total + resPembelian.data.data.discount) - resPembelian.data.data.ongkir - resPembelian.data.data.biaya_lain - resPembelian.data.data.tax;
            this.ongkir = resPembelian.data.data.ongkir;
            this.biaya_lain = resPembelian.data.data.biaya_lain;
            this.totalDiscount = resPembelian.data.data.discount;
            this.totalTax = resPembelian.data.data.tax;
            this.grandtotal = resPembelian.data.data.total;
            this.pembelianAll = resPembelian.data.data;
            this.pembelians = resPembelian.data.data.pembelian_details;

            this.$vs.loading.close();
        },

        async loadPO(value) {
            var resPO = await this.$http.get(this.$baseURL + '/pembelian/pembelian/' + value + '/read', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })            

            this.pembelians = resPO.data.data.po_pembelian_details;
            this.total = (resPO.data.data.total + resPO.data.data.discount) - resPO.data.data.ongkir - resPO.data.data.biaya_lain - resPO.data.data.tax;
            this.ongkir = resPO.data.data.ongkir;
            this.biaya_lain = resPO.data.data.biaya_lain;
            this.totalDiscount = resPO.data.data.discount;
            this.totalTax = resPO.data.data.tax;
            this.grandtotal = respembelian.data.data.total;

            this.$vs.loading.close();
        },

        close() {
            this.$router.go(-1);
        },

        submit() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Yakin akan menyetujui Revisi ini?',
                accept: this.acceptSubmit
            })
        },

        acceptSubmit() {
            if (this.pembelians.length <= 0) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Produk belum dipilih',
                })
            } else {
                this.$vs.loading({
                    type: 'radius'
                });

                this.$http.post(this.$baseURL + '/pembelian/pembelian/revisi/' + this.id + '/approve', {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.push('/pages/pembelian');
                }).catch(err => {
                    console.log(err);
                    this.$vs.loading.close();
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                    this.$options.filters.auth(err.response.data.message);
                })
            }
        },

        reject() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'warning',
                title: `Confirm`,
                text: 'Yakin akan menolak Revisi ini?',
                accept: this.acceptReject
            })
        },

        acceptReject() {
            this.$vs.loading({
                type: 'radius'
            });

            const formData = new FormData();
            // formData.append('no_faktur', this.pembelianAll.code);
            formData.append('rejected', 1);
            formData.append('notes', this.notes);

            this.$http.post(this.$baseURL + '/pembelian/pembelian/revisi/'+this.id+'/reject', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                }
            }).then(res => {
                this.$router.push('/pages/pembelian/revisifaktur')
            }).catch(err => {
                console.log(err);
                this.$vs.loading.close();
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
                this.$options.filters.auth(err.response.data.message);
            })

        },

        back() {
            this.$router.go(-1);
        },


    }

}
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>