<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-table pagination :max-items="10" search @selected="viewData" :data="pembelian">
                    <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                        <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                             <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">
                                 <div
                                     class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
                                     <span class="mr-2">Actions</span>
                                     <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
                                 </div>

                                 <vs-dropdown-menu>
                                     <vs-dropdown-item>
                                         <span @click="revisiFaktur" class="flex items-center">
                                             <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                                             <span>Revisi Faktur</span>
                                         </span>
                                     </vs-dropdown-item>
                                 </vs-dropdown-menu>
                             </vs-dropdown>
                        </div>
                    </div>

                    <template slot="thead">
                        <vs-th sort-key="no">No</vs-th>
                        <vs-th sort-key="tanggal">Tanggal</vs-th>
                        <vs-th sort-key="nama">Invoice</vs-th>
                        <vs-th sort-key="suplier">Supplier</vs-th>
                        <vs-th sort-key="total">Total (Rp)</vs-th>
                        <vs-th sort-key="total">Pembayaran (Rp)</vs-th>
                        <vs-th sort-key="status">Status</vs-th>
                        <vs-th>Action</vs-th>
                    </template>

                    <template slot-scope="{data}">
                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                            <vs-td :data="indextr+1">
                                {{indextr + 1}}
                            </vs-td>
                            <vs-td :data="data[indextr].created_at">
                                {{data[indextr].created_at}}
                            </vs-td>
                            <vs-td :data="data[indextr].code">
                                {{data[indextr].code}}
                            </vs-td> 
                            <vs-td :data="data[indextr].supplier.name">
                                {{data[indextr].supplier.name}}
                            </vs-td>
                            <vs-td :data="data[indextr].total">                               
                                    <span class="my-auto ">{{data[indextr].total | currency}}</span>      
                            </vs-td>
                            <vs-td :data="data[indextr].payment">                                   
                                <vs-chip v-if="data[indextr].payment === 'paid'" color="success">
                                    {{data[indextr].payment | capitalize}}
                                    
                                </vs-chip>
                                <vs-chip v-else color="warning">
                                    {{data[indextr].payment | capitalize}}
                                    
                                </vs-chip>
                            </vs-td>
                            <vs-td :data="data[indextr].status">
                                
                                <vs-chip v-if="data[indextr].status === 'approve'" color="success">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                                <vs-chip v-else color="warning">
                                    {{data[indextr].status | capitalize}}
                                </vs-chip>
                            </vs-td> 
                            <vs-td>
                                <vs-col v-if="data[indextr].status == 'approve'" vs-w=6>
                                    <vs-tooltip left>
                                        <feather-icon icon="PrinterIcon"
                                            v-tooltip="'Print Faktur'"
                                            svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2"
                                            @click.stop="printPO(tr)" />
                                    </vs-tooltip>
                                </vs-col>
                            </vs-td>                          

                        </vs-tr>
                    </template>
                </vs-table>

            </vx-card>
        </div>

        <!-- POP UP REVISI FAKTUR -->
        <div>
            <vs-prompt v-if="activeRevisi" @cancel="close" @accept="acceptRevisi" @close="close" accept-text="Submit"
                :active.sync="activeRevisi" title="Revisi Faktur">
                <div class="con-exemple-prompt">
                    <vs-row class="mb-5">
                        <label class="vs-input--label" for="">Nomor</label>
                        <!-- <vs-input label="Id Penjualan" v-model="revisi.id" class="w-full" /> -->
                        <v-select v-model="revisi.id" class="w-full" :clearable="false" :options="pembelianOptions"
                            :reduce="pembelianOptions => pembelianOptions.code" label="code" placeHolder="Penjualan"
                            name="penjualan" />
                    </vs-row>
                    <vs-row>
                        <vs-textarea label="Alasan" v-model="revisi.alasan" />
                    </vs-row>
                </div>
            </vs-prompt>
        </div>
    </div>
</template>



<script>
import vSelect from 'vue-select';

export default {
    components: {
        vSelect,
    },
    data() {
        return {
            activeRevisi:null,
            pembelianValue: null,
            revisi: {
                id: null,
                alasan: null,
            },
            pembelian: [],
            pembelianOptions: [],
        }
    },
    mounted() {
        this.$vs.loading({
                type: 'radius'
            }); 
        this.loadData()
    },


    methods: {
        async loadData() {
            var com_id = this.$company != null ? this.$company.company_id : "1"
            var resPembelian = await this.$http.get(this.$baseURL + '/pembelian/pembelian', {
                params: {
                    filter: 'status|approve;company_id|'+com_id
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message)  
            })

            var resPBOptions = await this.$http.get(this.$baseURL + '/pembelian/pembelian', {
                params: {
                    filter: 'status|approve'
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                this.$vs.loading.close();
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.pembelianOptions = resPBOptions.data.data;
            this.pembelian = resPembelian.data.data;     
            this.$vs.loading.close(); 
        },

        revisiFaktur() {
            this.activeRevisi = true;
        },

        acceptRevisi() {

            if (this.revisi.id === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Nomor Transaksi kosong',
                    // accept: this.accept
                })
            } else if (this.revisi.alasan === null) {
                this.$vs.dialog({
                    color: 'danger',
                    title: 'Error',
                    text: 'Note belum diisi',
                    // accept: this.accept
                })

            } else {

                const formData = new FormData();
                formData.append('no_faktur', this.revisi.id);
                formData.append('notes', this.revisi.alasan);

                this.$http.post(this.$baseURL + '/pembelian/pembelian/revisi/status', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                }).then(res => {
                    this.$router.push('/pages/pembelian/revisifaktur');
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                    this.$vs.notify({
                        color: 'danger',
                        title: 'Error',
                        text: err.response.data.message
                    });
                })
            }

        },
        
        close() {
            this.activeRevisi = false;
        },

        viewData(tr) {
            // console.log(tr);
            this.$router.push('/pages/viewpembeliandetail/' + tr.pembelian_id + '/pembelian').catch(() => {})
        },
        addNewData() {
            this.sidebarData = {}
            this.toggleDataSidebar(true)
        },
        deleteData(data) {
            this.pembelianValue = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Are you sure want to Cancel this Data ?',
                accept: this.acceptAlert
            })
        },
        acceptAlert() {
            this.$http.delete(this.$baseURL + '/pembelian/pembelian/' + this.pembelianValue.pembelian_id + '/delete', {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {
                this.$vs.notify({
                    color: 'success',
                    title: 'Product Deleted',
                    text: 'Selected Product Successfully Deleted'
                })
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message)  
            }).finally(
                this.loadData()
            );
        },
        promptAlert(type, title, text) {
            this.$vs.notify({
                color: type,
                title: title,
                text: text
            })
        },
        printPO(data){
            // console.log(data);
            this.$router.push('/pages/pembelian/faktur/print/' + data.pembelian_id);
        },
        resetColFilters() {
            this.form.dateStart = null
            this.form.dateFinish = null
            this.form.user = null
            this.form.customer = null
            this.$refs.filterCard.removeRefreshAnimation()
        },
    }
}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>