<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
    <div id="table-coa">
        <div id="data-list-list-view" class="data-list-container">
            <vx-card>
                <vs-tabs alignment="fixed">
                    <vs-tab label="List PO">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="pembelian">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div v-if="createe == true" class="flex flex-wrap-reverse items-center data-list-btn-container">
                                    <div class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary"
                                        @click="addNewData">
                                        <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
                                        <span class="ml-2 text-base text-primary" @click="addNewData()">Add New</span>
                                    </div>
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="indextr">No</vs-th>
                                <vs-th sort-key="created_at">Tanggal</vs-th>
                                <vs-th sort-key="name">Nama</vs-th>
                                <vs-th sort-key="code">No Faktur</vs-th>
                                <vs-th sort-key="supplier">Supplier</vs-th>
                                <vs-th sort-key="total">Total (Rp)</vs-th>
                                <vs-th sort-key="status">Status</vs-th>
                                <vs-th sort-key="action">Action</vs-th>
                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                                    <vs-td :data="indextr + 1">
                                        {{indextr+1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>


                                    <vs-td :data="data[indextr].name">
                                        {{data[indextr].name}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].code">
                                        {{data[indextr].code}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].supplier.name">
                                        {{data[indextr].supplier.name}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        {{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">                                       
                                        <vs-chip v-if="data[indextr].status === 'open'" color="success">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else-if="data[indextr].status === 'pending'" color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="danger">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td>
                                        <vs-col v-if="data[indextr].status === 'pending'" vs-w=6>
                                            <vs-tooltip left>
                                                <feather-icon icon="CheckCircleIcon"
                                                    v-if="confirmm==true"
                                                    v-tooltip="'Approve'"
                                                    svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2"
                                                    @click.stop="approvePO(tr)" />
                                            </vs-tooltip>
                                        </vs-col>                                        
                                        <vs-col v-if="data[indextr].status === 'open'" vs-w=6>
                                            <vs-tooltip text="Approve">
                                                <feather-icon icon="EditIcon"
                                                    v-if="updatee==true"
                                                    v-tooltip="'Edit'"
                                                    svgClasses="w-5 h-5 hover:text-warning stroke-current" class="ml-2"
                                                    @click.stop="editPO(tr)" />
                                            </vs-tooltip>
                                        </vs-col>
                                        <vs-col v-if="data[indextr].status == 'complete'" vs-w=6>
                                            <vs-tooltip left>
                                                <feather-icon icon="PrinterIcon"
                                                    v-tooltip="'Print PO'"
                                                    svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2"
                                                    @click.stop="printPO(tr)" />
                                            </vs-tooltip>
                                        </vs-col>
                                        <vs-col v-if="data[indextr].status === 'open'" vs-w=4>
                                            <vs-tooltip text="Approve">
                                                <feather-icon icon="TrashIcon"
                                                    v-if="deletee==true"
                                                     v-tooltip="'Delete'"
                                                    svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                                    @click.stop="deletePO(tr)" />
                                            </vs-tooltip>
                                        </vs-col>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>

                    <vs-tab label="List PO Not Confirmed">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="pembelianNot">
                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">
                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">
                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="tanggal">Tanggal</vs-th>                                
                                <vs-th sort-key="invoice">No Invoice</vs-th>
                                <vs-th sort-key="suplier">Suplier</vs-th>
                                <vs-th sort-key="status">Status</vs-th>
                                <vs-th sort-key="notes">Notes</vs-th>
                                <vs-th sort-key="total">Total</vs-th>                                
                                <vs-th sort-key="action">Action</vs-th>

                            </template>

                            <template slot-scope="{data}">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" style="font-size:12px;">

                                    <vs-td :data="indextr + 1">
                                        {{indextr+1}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].created_at">
                                        {{data[indextr].created_at}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].code">
                                        {{data[indextr].code}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].supplier.name">
                                        {{data[indextr].supplier.name}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].status">
                                        <!-- {{data[indextr].status}} -->
                                        <vs-chip v-if="data[indextr].status === 'reject'" color="warning">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                        <vs-chip v-else color="danger">
                                            {{data[indextr].status | capitalize}}
                                        </vs-chip>
                                    </vs-td>
                                    <vs-td :data="data[indextr].notes">
                                        {{data[indextr].notes}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].total">
                                        Rp.{{data[indextr].total | currency}}
                                    </vs-td>                                  
                                    <vs-td>
                                        <vs-col v-if="data[indextr].status === 'reject'" vs-w=6>
                                            <vs-tooltip left>
                                                <feather-icon icon="CornerUpLeftIcon"
                                                    v-if="updatee==true"
                                                    svgClasses="w-5 h-5 hover:text-primary stroke-current" class="ml-2"
                                                    @click.stop="unrejectPO(tr)" />
                                            </vs-tooltip>
                                        </vs-col>
                                    </vs-td>

                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                </vs-tabs>
            </vx-card>
        </div>
    </div>
</template>

<script>
    export default {
        components: {

        },
        data() {
            return {
                createe:null,
                confirmm:null,
                updatee:null,
                deletee:null,
                access:null,
                delete: [],
                pembelian: [],
                pembelianNot: []
            }
        },
        mounted() {
            this.$vs.loading({
                type: 'radius'
            }); 
            this.loadData()
        },


        methods: {
            async loadData() {
                var com_id = this.$company != null ? this.$company.company_id : "1"
                var resPO = await this.$http.get(this.$baseURL + '/pembelian/po', {
                    params: {
                        filter: 'status|pending:open'
                    },
                }, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })

                var resPONot = await this.$http.get(this.$baseURL + '/pembelian/po', {
                    params: {
                        filter: 'status|close:reject:void;payment|unpaid'
                    },
                }, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })
                this.pembelian = resPO.data.data;
                this.pembelianNot = resPONot.data.data;

                this.access = this.$user.role.role_menus.access;

                for (var acc in this.access) {
                    if (this.$route.path == this.access[acc].url) {
                        this.createe = this.access[acc].createe;
                        this.updatee = this.access[acc].updatee;
                        this.deletee = this.access[acc].deletee;
                        this.confirmm = this.access[acc].confirmm;
                    }
                }
                
                this.$vs.loading.close();
            },
            viewData(tr) {
                this.$router.push('/pages/viewpembeliandetail/' + tr.po_pb_id + '/po').catch(() => {})
            },           
            addNewData() {
                this.$router.push('/pages/formpo/0/new').catch(() => {})
            },
            approvePO(value) {
                const formData = new FormData();
                this.$router.push('/pages/formpo/' + value.po_pb_id+'/approve');
            },
            deletePO(value) {
                this.delete = value;

                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Are you sure want to Delete this Data ?',
                    accept: this.acceptAlert
                })
            },
            acceptAlert() {
                const formData = new FormData();

                formData.append('execute', 'void');               
                formData.append('notes', 'Delete');

                this.$http.post(this.$baseURL + '/pembelian/po/' + this.delete.po_pb_id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                    },
                }).then(res => {
                    // console.log(res);
                    this.loadData();
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })

                this.loadData;

            },
            editPO(value) {
                this.$router.push('/pages/formpo/' + value.po_pb_id+'/edit');
            },
            promptAlert(type, title, text) {
                this.$vs.notify({
                    color: type,
                    title: title,
                    text: text
                })
            },
            unrejectPO(value) {
                this.delete = value;

                this.$vs.dialog({
                    type: 'confirm',
                    color: 'danger',
                    title: `Confirm`,
                    text: 'Are you sure want to Unreject This PO ?',
                    accept: this.acceptUnreject
                })
            },
            acceptUnreject() {               
                const formData = new FormData();

                formData.append('execute', 'rejected');
                formData.append('rejected', 0);
                formData.append('notes', this.notes);


                this.$http.post(this.$baseURL + '/pembelian/po/' + this.delete.po_pb_id + '/do_action', formData, {
                    headers: {
                        Authorization: 'Bearer ' + this.$token,
                    }
                }).then(res => {
                    this.$router.go()
                }).catch(err => {
                    console.log(err);
                    this.$options.filters.auth(err.response.data.message);
                })
            },
            printPO(){
                
            },
        }

    }
</script>

<style lang="scss">
#page-user-list {
    .user-list-filters {
        .vs__actions {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-58%);
        }
    }
}
</style>