<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-coa">
        <div id="data-list-list-view" class="data-list-container">

            <vx-card>
                <vs-tabs alignment="fixed">
                    <vs-tab label="Revisi">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="fakturs">

                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">


                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="nofaktur">Nomor</vs-th>
                                <vs-th sort-key="date">Tanggal</vs-th>
                                <!-- <vs-th sort-key="customer">Pelanggan</vs-th> -->
                                <vs-th sort-key="jumlah">Total (Rp)</vs-th>
                                <vs-th sort-key="notes">Notes</vs-th>
                                <vs-th sort-key="action">Action</vs-th>
                            </template>

                            <template slot-scope="{data}" style="font-size:12px;">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].code">
                                        {{data[indextr].code}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].due_date">
                                        {{data[indextr].due_date}}
                                    </vs-td>
                                    <!-- <vs-td :data="data[indextr].customer.name">
                                        {{data[indextr].customer.name}}
                                    </vs-td> -->
                                    <vs-td :data="data[indextr].total">
                                        {{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].notes">
                                        {{data[indextr].notes}}
                                    </vs-td>
                                    <vs-td>
                                        <vs-col vs-w="4" class="px-1">
                                            <feather-icon icon="CheckCircleIcon" v-tooltip="'Approve'"
                                                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                                @click.stop="approveData(tr)" />
                                        </vs-col>
                                        <vs-col v-if="data[indextr].status!=='submit'" vs-w="4" class="px-1">
                                            <feather-icon icon="EditIcon" v-tooltip="'Edit'"
                                                svgClasses="w-5 h-5 hover:text-primary stroke-current"
                                                @click.stop="editData(tr)" />
                                        </vs-col>
                                        <!-- <vs-col vs-w=4>
                                            <feather-icon icon="XIcon"
                                                svgClasses="w-5 h-5 hover:text-danger stroke-current"
                                                @click.stop="rejectData(tr)" />
                                        </vs-col> -->
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>

                    <vs-tab label="Revisi Rejected">
                        <vs-table pagination :max-items="10" search @selected="viewData" :data="faktursReject">

                            <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

                                <div class="flex flex-wrap-reverse items-center data-list-btn-container">


                                </div>
                            </div>

                            <template slot="thead">
                                <vs-th sort-key="no">No</vs-th>
                                <vs-th sort-key="nofaktur">Faktur</vs-th>
                                <vs-th sort-key="date">Date</vs-th>
                                <!-- <vs-th sort-key="customer">Customer</vs-th> -->
                                <vs-th sort-key="jumlah">Total (Rp)</vs-th>
                                <vs-th sort-key="customer">Notes</vs-th>
                                <vs-th sort-key="action">Action</vs-th>
                            </template>

                            <template slot-scope="{data}" style="font-size:12px;">
                                <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">

                                    <vs-td :data="indextr + 1">
                                        {{indextr + 1}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].code">
                                        {{data[indextr].code}}
                                    </vs-td>

                                    <vs-td :data="data[indextr].due_date">
                                        {{data[indextr].due_date}}
                                    </vs-td>
                                    <!-- <vs-td :data="data[indextr].customer.name">
                                        {{data[indextr].customer.name}}
                                    </vs-td> -->
                                    <vs-td :data="data[indextr].total">
                                        {{data[indextr].total | currency}}
                                    </vs-td>
                                    <vs-td :data="data[indextr].notes">
                                        {{data[indextr].notes}}
                                    </vs-td>
                                    <vs-td>
                                        <vs-col vs-w=4>
                                            <feather-icon icon="CornerUpLeftIcon" v-tooltip="'Open'"
                                                svgClasses="w-5 h-5 hover:text-danger stroke-current" class="ml-2"
                                                @click.stop="unRejectData(tr)" />
                                        </vs-col>
                                    </vs-td>
                                </vs-tr>
                            </template>
                        </vs-table>
                    </vs-tab>
                </vs-tabs>

            </vx-card>
        </div>
        <!-- POP UP REJECT -->
        <vs-prompt v-if="activeReject" @cancel="close" @accept="acceptReject" @close="close" accept-text="Submit"
            :active.sync="activeReject" title="Reject">
            <div class="con-exemple-prompt">

                <!-- <vs-input label="Product" disabled="true" v-model="productValue.product.name" class="w-full" /> -->

                <vs-row>
                    <vs-input label="Notes" v-model="notes" class="w-full" />
                </vs-row>



            </div>
        </vs-prompt>

    </div>
</template>

<script>
import vSelect from 'vue-select'
import Datepicker from 'vuejs-datepicker';

export default {
    components: {
        vSelect,
        Datepicker
    },
    data() {

        return {
            activeReject: false,
            delete: [],
            tipe: null,
            form: {
                dateStart: null,
                dateFinish: null,
                user: null,
                customer: null,
            },
            notes: null,
            fakturs: [],
            faktursReject: [],

        }
    },

    mounted() {
        this.$vs.loading({
            type: 'radius'
        });
               
        this.loadData();
    },
    methods: {
        async loadData() {
            var resFaktur = await this.$http.get(this.$baseURL + '/pembelian/pembelian', {
                params: {
                    filter: 'status|revisi:submit'
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            var resFakturReject = await this.$http.get(this.$baseURL + '/pembelian/pembelian', {
                params: {
                    filter: 'status|reject'
                }
            }, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                },
            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
            })

            this.fakturs = resFaktur.data.data;
            this.faktursReject = resFakturReject.data.data;
            this.$vs.loading.close();
        },

        viewData(tr) {
            // console.log(tr);
            this.$router.push('/pages/viewpembeliandetail/' + tr.pembelian_id + '/revisi')
        },
        addNewData() {
            this.sidebarData = {}
            this.toggleDataSidebar(true)
        },
        resetColFilters() {
            this.form.dateStart = null
            this.form.dateFinish = null
            this.form.user = null
            this.form.customer = null
            this.$refs.filterCard.removeRefreshAnimation()
        },

        editData(data) {
            this.$router.push('/pages/formpo/' + data.pembelian_id + '/revisi');
        },

        approveData(data) {
            this.$router.push('/pages/formreviewpembelian/' + data.pembelian_id);
        },

        rejectData(data) {
            this.delete = data;
            this.activeReject = true;

        },
        acceptReject() {
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan menolak transaksi ini?',
                accept: this.acceptRejectNya
            })

        },
        acceptRejectNya() {
            const formData = new FormData();

            // formData.append('execute', 'rejected');
            formData.append('rejected', 1);
            formData.append('notes', this.notes);

            this.$http.post(this.$baseURL + '/pembelian/pembelian/revisi/' + this.delete.pembelian_id + '/reject', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {

                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Berhasil ditolak'
                })
                this.loadData();

            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })
        },
        close() {
            this.activeReject = false;
        },
        unRejectData(data) {
            this.delete = data;
            this.$vs.dialog({
                type: 'confirm',
                color: 'danger',
                title: `Confirm`,
                text: 'Yakin akan membatalkan penolakan transaksi ini?',
                accept: this.acceptUnreject
            })
        },

        acceptUnreject() {

            const formData = new FormData();

            // formData.append('execute', 'rejected');
            formData.append('rejected', 0);
            formData.append('notes', 'unreject');

            this.$http.post(this.$baseURL + '/pembelian/pembelian/revisi/' + this.delete.pembelian_id + '/reject', formData, {
                headers: {
                    Authorization: 'Bearer ' + this.$token,
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(res => {

                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Transaksi batal ditolak'
                })

                this.loadData();

            }).catch(err => {
                console.log(err);
                this.$options.filters.auth(err.response.data.message);
                this.$vs.notify({
                    color: 'danger',
                    title: 'Error',
                    text: err.response.data.message
                });
            })
        },

    },


}
</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>